[2018-05-10 19:36] 0crat commented on #844
The job [#844](https://github.com/yegor256/cactoos/issues/844) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C63314D6Z/1301946369); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-05-10 19:37] krzyk commented on #814
@Vatavuk changes in #845 were merged to master, please close this issue

[2018-05-10 19:52] #814 closed

[2018-05-10 19:57] 0crat commented on #824
The job [#824](https://github.com/yegor256/cactoos/issues/824) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C63314D6Z/1301968102); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-05-10 20:07] 0crat commented on #814
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-10 20:07] 0crat commented on #814
The job [#814](https://github.com/yegor256/cactoos/issues/814) is now out of scope

[2018-05-10 20:10] 0crat commented on #849
The job [#849](https://github.com/yegor256/cactoos/issues/849) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1302021514); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-05-10 20:27] elenavolokhova commented on #756
@0crat quality good

[2018-05-10 20:29] 0crat commented on #756
Order was finished, quality is "good": +35 point(s) just awarded to @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-05-10 20:29] 0crat commented on #756
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-10 20:52] elenavolokhova commented on #692
@0crat quality good

[2018-05-10 20:53] elenavolokhova commented on #811
@0crat quality good

[2018-05-10 20:54] 0crat commented on #692
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-05-10 20:54] 0crat commented on #692
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-10 20:54] elenavolokhova commented on #788
@0crat quality good

[2018-05-10 20:55] 0crat commented on #811
Order was finished, quality is "good": +35 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-05-10 20:55] 0crat commented on #811
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-10 20:57] elenavolokhova commented on #764
@0crat quality good

[2018-05-10 20:57] 0crat commented on #788
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-05-10 20:57] 0crat commented on #788
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-10 20:59] 0crat commented on #764
Order was finished, quality is "good": +35 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-05-10 20:59] 0crat commented on #764
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-10 21:01] 0crat commented on #857
The job [#857](https://github.com/yegor256/cactoos/issues/857) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C63314D6Z/1302114472); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-05-10 21:03] 0crat commented on #812
The job [#812](https://github.com/yegor256/cactoos/issues/812) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C63314D6Z/1302117576); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-05-10 21:08] 0crat commented on #850
The job [#850](https://github.com/yegor256/cactoos/issues/850) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C63314D6Z/1302120688); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-05-10 21:15] elenavolokhova commented on #814
@0crat quality good

[2018-05-10 21:16] elenavolokhova commented on #794
@0crat quality good

[2018-05-10 21:18] 0crat commented on #814
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-10 21:18] 0crat commented on #814
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-11 06:10] Vatavuk commented on #826
@llorllale I meant something like this:
[code]
If I need such implementation of `ScalarWithFallback` in multiple places in my code I simply use `CustomFallback`. And to simplify `CustomFallback` and other custom scalar creations I suggest to implement `ScalarEnvelope` as well as `FuncEnvelope`

[2018-05-11 06:53] Vatavuk commented on #825
@llorllale I don't see how can we do this with `And`.
My reasoning is following:
I am looking at cactoos as a layer above java that provide us pure OOP approach. No `if,else,for,while,try/catch...` statements, nothing but objects. I'm currently working on a cactoos powered project with nothing but objects (few thousand lines so far) and this really started to look like a different language. Very c

[2018-05-11 07:45] krzyk opened #859 "Introduce Flatten"
Create `Flatten` that would take a `Iterable` of `Iterable` and produce an `Iterable` with all the data.
**When I write `Iterable` I mean also `Iterator`, `Collection` and `List`.**

Example usage:
[code]

[2018-05-11 07:45] 0crat commented on #859
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-11 07:58] #776 closed

[2018-05-11 08:14] 0crat commented on #776
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-11 08:14] 0crat commented on #776
The job [#776](https://github.com/yegor256/cactoos/issues/776) is now out of scope

[2018-05-11 10:33] krzyk commented on #818
@llorllale No, it will be incorrect also if we publish it, like it is here: https://static.javadoc.io/org.cactoos/cactoos/0.31/org/cactoos/scalar/Constant.html - incorrect entity used in the example section.

And in case they use browser that is not so lenient and would parse HTML more strictly.

[2018-05-11 15:23] elenavolokhova commented on #776
@ashtonhogan According to our Policy:

[This comment](https://github.com/yegor256/cactoos/issues/776#issuecomment-387983679) was not addressed.

Please, confirm that you will address all your comments in future.

[2018-05-11 16:06] 0pdd opened #861 "FuncOf.java:38-41: Remove ctor FuncOf(Proc) by replacing..."
The puzzle `551-685b57ce` from #551 has to be resolved:

https://github.com/yegor256/cactoos/blob/5121ddd69f0b1bc3b2a418e7d0ed7db96f3beb44/src/main/java/org/cactoos/func/FuncOf.java#L38-L41

The puzzle was created by rultor on 11-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the t

[2018-05-11 16:06] 0pdd commented on #551
@neonailol the puzzle [#861](https://github.com/yegor256/cactoos/issues/861) is still not solved.

[2018-05-11 16:06] 0crat commented on #861
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-11 16:06] 0crat commented on #861
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-11 16:06] 0crat commented on #861
Job [#861](https://github.com/yegor256/cactoos/issues/861) is now in scope, role is `DEV`

[2018-05-11 16:35] llorllale commented on #859
@krzyk why not `Joined`?

[2018-05-11 17:15] llorllale commented on #825
@Vatavuk one of the ctors you proposed was `(Scalar<Boolean> condition, Scalar<T> scalar)`. How does that fit with what you're trying to achieve?

[2018-05-11 17:18] krzyk commented on #859
@llorllale Oh, I wasn't able to guess the name :)

[2018-05-11 17:18] #859 closed

[2018-05-11 17:34] 0crat commented on #859
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1311742920, Type: 'Close job', Author: krzyk

[2018-05-11 17:37] krzyk commented on #793
@Vatavuk Fixes in #840 were merged to master, please close this issue.

[2018-05-11 17:40] #793 closed

[2018-05-11 17:56] 0crat commented on #793
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-11 17:56] 0crat commented on #793
The job [#793](https://github.com/yegor256/cactoos/issues/793) is now out of scope

[2018-05-11 18:06] elenavolokhova commented on #793
@0crat quality good

[2018-05-11 18:06] 0pdd opened #862 "CollectionEnvelopeTest.java:35-37: IterableEnvelope..."
The puzzle `813-8130ed5b` from #813 has to be resolved:

https://github.com/yegor256/cactoos/blob/c19e8a9b0d528fa2408453ef4dcf3605c791ea15/src/test/java/org/cactoos/collection/CollectionEnvelopeTest.java#L35-L37

The puzzle was created by Krzysztof Krason on 09-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" whe

[2018-05-11 18:06] 0pdd commented on #813
@Vatavuk the puzzle [#862](https://github.com/yegor256/cactoos/issues/862) is still not solved.

[2018-05-11 18:06] 0crat commented on #862
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-11 18:07] 0crat commented on #862
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-11 18:11] 0crat commented on #862
Job [#862](https://github.com/yegor256/cactoos/issues/862) is now in scope, role is `DEV`

[2018-05-11 18:15] 0crat commented on #793
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-11 18:15] 0crat commented on #793
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-11 18:27] Vatavuk commented on #827
First two ctors won't work since there will be a collision with `followup` function arguments.

The third ctor is implemented so I'm closing this issue

[2018-05-11 18:27] #827 closed

[2018-05-11 18:31] Vatavuk commented on #799
@0crat wait for puzzle to be removed

[2018-05-11 18:31] 0crat commented on #799
@Vatavuk The impediment for [#799](https://github.com/yegor256/cactoos/issues/799) was registered successfully by @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-05-11 18:34] Vatavuk commented on #825
@llorllale just to provide more usage options, the result of `Scalar<T> scalar` will  be ignored

[2018-05-11 18:42] 0crat commented on #827
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1311854204, Type: 'Close job', Author: vatavuk

[2018-05-11 19:08] 0crat commented on #813
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-11 19:08] 0crat commented on #813
The job [#813](https://github.com/yegor256/cactoos/issues/813) is now out of scope

[2018-05-12 01:00] SharplEr commented on #454
@0crat waiting
Waiting for author reaction.

[2018-05-12 01:01] SharplEr commented on #454
@rafamizes ping

[2018-05-12 01:02] 0crat commented on #454
@SharplEr The impediment for [#454](https://github.com/yegor256/cactoos/issues/454) was registered successfully by @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-05-12 01:03] SharplEr commented on #551
@neonailol PR was merged, please close the issue.

[2018-05-12 12:12] llorllale commented on #518
@martin-robo ping

[2018-05-12 16:02] llorllale commented on #751
@neonailol fixed in 6a2e21005ec29ba3d271f9b9b8b67f8352f8e23e

[2018-05-12 16:02] #751 closed

[2018-05-12 16:02] llorllale commented on #751
@rultor release, tag is `0.33`

[2018-05-12 16:04] llorllale commented on #751
@yegor256 @neonailol the new project is `llorllale/cactoos-matchers`.

[2018-05-12 16:04] llorllale commented on #751
@yegor256 please checkout the license on the new project and feel free to open an issue in that project if applicable

[2018-05-12 16:05] rultor commented on #751
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14513-388564877)

[2018-05-12 16:16] rultor commented on #751
@llorllale Done! FYI, the full log is [here](http://www.rultor.com/t/14513-388564877) (took me 10min)

[2018-05-12 19:00] krzyk commented on #849
@0pdd PR created - #860

[2018-05-12 19:10] llorllale commented on #837
@victornoel matchers were moved to `llorllale/cactoos-matchers` as per #751. Please open this issue [here](https://github.com/llorllale/cactoos-matchers/issues)

[2018-05-12 19:10] #837 closed

[2018-05-12 19:10] llorllale commented on #836
@victornoel matchers were moved to `llorllale/cactoos-matchers` as per #751. Please open this issue [here](https://github.com/llorllale/cactoos-matchers/issues)

[2018-05-12 19:10] #836 closed

[2018-05-12 19:10] llorllale commented on #816
@proshin-roman matchers were moved to `llorllale/cactoos-matchers` as per #751. Please open this issue [here](https://github.com/llorllale/cactoos-matchers/issues)

[2018-05-12 19:10] #816 closed

[2018-05-12 19:26] 0crat commented on #837
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1321938255, Type: 'Close job', Author: llorllale

[2018-05-12 19:26] 0crat commented on #836
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1321938256, Type: 'Close job', Author: llorllale

[2018-05-12 19:27] 0crat commented on #816
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1321938267, Type: 'Close job', Author: llorllale

[2018-05-12 19:42] llorllale commented on #301
@filfreire @php-coder ping

I don't want the token to show up in the build logs.

[2018-05-12 19:43] llorllale commented on #476
@filfreire ping

[2018-05-12 19:44] llorllale commented on #523
@Timmeey ping

[2018-05-12 19:48] llorllale commented on #588
@neonailol btw, since `0.33` all matchers for cactoos were moved to new project `llorllale/cactoos-matchers`.

[2018-05-12 19:48] llorllale commented on #588
@neonailol so let's start by forbidding those APIs and refactoring as necessary

[2018-05-12 19:48] llorllale commented on #588
@0crat in

[2018-05-12 19:49] llorllale commented on #594
@fabriciofx ping

[2018-05-12 19:49] llorllale commented on #704
@neonailol ping

[2018-05-12 19:49] 0crat commented on #588
@llorllale Job [#588](https://github.com/yegor256/cactoos/issues/588) is now in scope, role is `DEV`

[2018-05-12 19:52] 0crat commented on #588
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-05-12 19:52] 0crat commented on #588
The score of @neonailol[/z](https://www.0crat.com/u/neonailol) -271 is too low and will be reset: +271 point(s) just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-05-12 20:15] llorllale commented on #825
@Vatavuk I don't see a reason to provide that ctor with scalar that will be ignored..

Everything else you've said sounds great though.

[2018-05-12 20:25] llorllale commented on #826
@Vatavuk what would be the use, then, of `ScalarWithFallback`? If I understand correctly, you want to re-implement `ScalarWithFallback` in a new `ScalarEnvelope`

[2018-05-12 20:28] elenavolokhova commented on #813
@0crat quality good

[2018-05-12 20:36] llorllale commented on #852
@fabriciofx I'm on the fence on this one.

Perhaps rename the outer classes to `NoNulls`, and extract the inner classes to outer.

Maybe, I don't know. WDYT?

[2018-05-12 20:37] llorllale commented on #852
@fabriciofx also, off topic: you're unresponsive in other issues/PRs. What's up?

[2018-05-12 20:37] 0crat commented on #813
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-12 20:37] 0crat commented on #813
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-12 21:35] #821 closed

[2018-05-12 21:35] 0pdd commented on #821
The puzzle `759-294de7ab` has disappeared from the source code, that's why I closed this issue.

[2018-05-12 21:35] 0pdd commented on #759
@Vatavuk the only puzzle [#821](https://github.com/yegor256/cactoos/issues/821) is solved here.

[2018-05-12 21:53] Vatavuk commented on #825
@llorllale you are right, we can drop that ctor. I thought I have an example of such a usage but nothing rational comes in to my mind.

[2018-05-12 21:55] 0crat commented on #821
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-12 21:56] 0crat commented on #821
The job [#821](https://github.com/yegor256/cactoos/issues/821) is now out of scope

[2018-05-12 22:08] Vatavuk commented on #826
@llorllale I want to create specific instance of `ScalarWithFallback` so I can reuse it without creating/specifying `ScalarWithFallback` all over again.
Lets say that we are communicating with some third party pieces of software that throw their own types of checked exceptions and our system understands only its type of exception.
We can create new class for exception handling `CustomFallback` thr

[2018-05-12 22:10] Vatavuk commented on #826
@llorllale without envelope I would have to implement `Scalar` which is ok but could be simplified

[2018-05-13 06:25] SharplEr commented on #551
@0crat waiting
Waiting for author reaction.

[2018-05-13 06:25] SharplEr commented on #551
@neonailol ping

[2018-05-13 06:26] 0crat commented on #551
@SharplEr The impediment for [#551](https://github.com/yegor256/cactoos/issues/551) was registered successfully by @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-05-13 09:53] elenavolokhova commented on #821
@0crat quality good

[2018-05-13 09:54] 0crat commented on #821
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-05-13 09:54] 0crat commented on #821
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-13 12:52] proshin-roman opened #864 "Implement a new scalar: MultiplicationOf"
As we already have [SumOf](https://github.com/yegor256/cactoos/blob/635ff72b524f88a76f7d14100d9b977fc60aeec1/src/main/java/org/cactoos/scalar/SumOf.java) class, why shouldn't we have all math operations implemented as scalars? Substraction can be done via sum, so we just need two new classes:

**TODO:**
- implement a new scalar MultiplicationOf that does multiplication of input parameters
- implem

[2018-05-13 12:52] 0crat commented on #864
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-14 05:47] martin-robo commented on #518
Thank you all!

[2018-05-14 05:47] #518 closed

[2018-05-14 06:05] 0crat commented on #518
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @pbenety[/z](https://www.0crat.com/u/pbenety), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-14 06:05] 0crat commented on #518
The job [#518](https://github.com/yegor256/cactoos/issues/518) is now out of scope

[2018-05-14 09:45] ashtonhogan commented on #776
wtf

[2018-05-14 09:46] #551 closed

[2018-05-14 09:48] neonailol commented on #704
@llorllale i have no idea what happened with this pr

[2018-05-14 09:55] victornoel commented on #776
@ashtonhogan this is part of QA job to ensure the process is followed correctly. Please confirm so that the job can be closed by 0crat and I can be paid :)

[2018-05-14 10:02] 0crat commented on #551
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @sharpler[/z](https://www.0crat.com/u/sharpler), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-14 10:02] 0crat commented on #551
The job [#551](https://github.com/yegor256/cactoos/issues/551) is now out of scope

[2018-05-14 10:49] victornoel commented on #776
@ashtonhogan lol, don't tell me, I was just explaining the process, tell @elenavolokhova ;)

[2018-05-14 10:59] yegor256 commented on #751
@llorllale looks good to me

[2018-05-14 13:52] llorllale commented on #454
@rafamizes ping

@SharplEr let's wait a little more please

[2018-05-14 14:00] g4s8 opened #870 "TextHasString describeMismatch is not implemented"
If assertion of custom `Text` implementation failed, `TextHasString` shows object address instead of `asString()`:
[code]

Expected: Text with "abc"
     but: was <org.cactoos.text.ReversedText@5479e3f>

to fix it `describeMismatch` method can be implemented in `TextHasString`.

[2018-05-14 14:00] 0crat commented on #870
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-14 14:00] 0crat commented on #870
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-14 14:06] #799 closed

[2018-05-14 14:06] 0pdd commented on #799
The puzzle `736-a59d45fd` has disappeared from the source code, that's why I closed this issue.

[2018-05-14 14:06] 0pdd commented on #736
@Vatavuk the only puzzle [#799](https://github.com/yegor256/cactoos/issues/799) is solved here.

[2018-05-14 14:09] llorllale commented on #704
@neonailol are you still interested in completing this task?

[2018-05-14 14:10] llorllale commented on #870
@g4s8 please open an issue about this in `llorllale/cactoos-matchers`, thanks

[2018-05-14 14:10] #870 closed

[2018-05-14 14:17] g4s8 commented on #870
@llorllale it's working fine in llorllale/cactoos-matchers will use this dependency.

[2018-05-14 14:26] 0crat commented on #799
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-14 14:27] 0crat commented on #799
The job [#799](https://github.com/yegor256/cactoos/issues/799) is now out of scope

[2018-05-14 15:55] elenavolokhova commented on #799
@0crat quality good

[2018-05-14 15:57] 0crat commented on #799
@elenavolokhova There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1341557885, Type: 'Complete QA review', Author: elenavolokhova

[2018-05-14 16:01] elenavolokhova commented on #799
@0crat quality good

[2018-05-14 16:04] 0crat commented on #799
@elenavolokhova Thanks, but quality review is not required in this job

[2018-05-14 16:08] elenavolokhova commented on #776
@yegor256 I need your help here. Our Policy doesn't explain how to handle situation when someone directly rejects following our Policy rules. In this case violation is not critical and @victornoel should definitely be paid, but I can't tell that @ashtonhogan will respect our other process rules in future. Could you please advise?

[2018-05-14 16:14] elenavolokhova commented on #799
@0crat status

[2018-05-14 16:18] elenavolokhova commented on #551
@SharplEr According to our Policy:

There is no direct message with the link to corresponding PR.
Please, confirm that you will follow this rule in future.

[2018-05-14 16:19] 0crat commented on #799
@elenavolokhova This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#799](https://github.com/yegor256/cactoos/issues/799) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos%23799%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2018-05-14 16:20] elenavolokhova commented on #518
@0crat quality good

[2018-05-14 16:58] sleroy commented on #776
So funny.

[2018-05-14 17:46] llorllale commented on #747
@0crat pay

[2018-05-14 17:47] 0crat commented on #747
@llorllale Option `<minutes>` is missing in `pay <minutes> <login>`:
  \* `<login>`: GitHub name of the user
  \* `<minutes>`: how many minutes to pay

[2018-05-14 17:48] llorllale commented on #747
@0crat pay 30 @paulodamaso

[2018-05-14 17:48] 0crat commented on #747
@llorllale Argument "30" doesn't match regex `\d+min`

[2018-05-14 17:49] llorllale commented on #747
@0crat pay 30min @paulodamaso

[2018-05-14 17:50] 0crat commented on #747
@llorllale There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1341756467, Type: 'Pay extra', Author: llorllale

[2018-05-14 17:52] llorllale commented on #747
@paulodamaso that 0crat error is being reported in zerocracy/farm#1018. I'll try again after that is fixed.

[2018-05-14 20:16] neonailol opened #871 "Confusing docs about unchecked exceptions decorators"
In the documentation of some classes, there this copied and pasted paragraph

[code]

Which tells that to get rid of checked exception I can use `IoCheckedScalar` class,
but `IoCheckedScalar` throws a checked `IOException`, so maybe this text should be rephrased

Some examples:
https://github.com/yegor256/cactoos/blob/80ed872cec2c9e9a5e3e1738b97d71fa97ed6e11/src/main/java/org/cactoos/scalar/Highes

[2018-05-14 20:16] 0crat commented on #871
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-14 20:16] 0crat commented on #871
@neonailol[/z](https://www.0crat.com/u/neonailol) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-14 22:37] neonailol opened #872 "Iso class should be Scalar or Constant"
https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/time/Iso.java

This class inconsistent with library code, and probably should implement `Scalar`

[2018-05-14 22:37] 0crat commented on #872
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-14 22:37] 0crat commented on #872
@neonailol[/z](https://www.0crat.com/u/neonailol) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-15 03:50] yegor256 commented on #776
@elenavolokhova let's say the quality is "acceptable" and call it a day

[2018-05-15 10:54] Vatavuk opened #873 "Cactoos version 0.33 contains 0.32 source code"
It looks like newly released version 0.33 contains 0.32 source code. I've downloaded code from maven and as zip file, there are no 0.33 changes there...

[2018-05-15 10:54] 0crat commented on #873
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-15 15:18] llorllale commented on #873
@Vatavuk that's because `0.33` was about *removing* code (matchers are now in project llorllale/cactoos-matchers), not about adding anything new.

cactoos-matchers is now just a test dependency for cactoos

[2018-05-15 16:02] Vatavuk commented on #873
@llorllale I'm total idiot, I was looking at commits since master.

[2018-05-15 16:02] #873 closed

[2018-05-15 16:56] 0pdd commented on #748
@SharplEr the puzzle [#839](https://github.com/yegor256/cactoos/issues/839) is still not solved; solved: [#802](https://github.com/yegor256/cactoos/issues/802), [#803](https://github.com/yegor256/cactoos/issues/803), [#838](https://github.com/yegor256/cactoos/issues/838).

[2018-05-15 16:56] 0pdd commented on #802
@0pdd the only puzzle [#838](https://github.com/yegor256/cactoos/issues/838) is solved here.

[2018-05-15 17:14] 0crat commented on #838
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-15 18:28] elenavolokhova commented on #776
@0crat quality acceptable

[2018-05-15 18:37] 0crat commented on #776
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-15 19:27] VsSekorin commented on #806
@Vatavuk #853 was merged.

[2018-05-15 19:30] VsSekorin commented on #523
@llorllale Can you close this PR?

[2018-05-15 19:52] llorllale commented on #523
@VsSekorin ok, thanks.

[2018-05-15 19:52] #523 closed

[2018-05-15 20:03] #806 closed

[2018-05-15 20:08] 0crat commented on #523
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @vssekorin[/z](https://www.0crat.com/u/vssekorin), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-15 20:08] 0crat commented on #523
The job [#523](https://github.com/yegor256/cactoos/issues/523) is now out of scope

[2018-05-15 20:19] 0crat commented on #806
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @vssekorin[/z](https://www.0crat.com/u/vssekorin), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-15 20:20] 0crat commented on #806
The job [#806](https://github.com/yegor256/cactoos/issues/806) is now out of scope

[2018-05-16 00:57] pbenety commented on #829
@0crat waiting for review #874

[2018-05-16 00:58] 0crat commented on #829
@pbenety The impediment for [#829](https://github.com/yegor256/cactoos/issues/829) was registered successfully by @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-05-16 11:01] llorllale commented on #747
@0crat pay 30min @paulodamaso

[2018-05-16 11:03] 0crat commented on #747
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: yegor256/cactoos#747, Comment: 389479709

[2018-05-16 11:03] 0crat commented on #747
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: yegor256/cactoos#747, Action: `created`

[2018-05-16 13:03] 0crat commented on #861
The job [#861](https://github.com/yegor256/cactoos/issues/861) assigned to @isammoc[/z](https://www.0crat.com/u/isammoc), here is [why](https://www.0crat.com/footprint/C63314D6Z/1361309141); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-16 13:06] 0crat commented on #818
The job [#818](https://github.com/yegor256/cactoos/issues/818) assigned to @isammoc[/z](https://www.0crat.com/u/isammoc), here is [why](https://www.0crat.com/footprint/C63314D6Z/1361312188); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-16 13:11] 0crat commented on #862
The job [#862](https://github.com/yegor256/cactoos/issues/862) assigned to @isammoc[/z](https://www.0crat.com/u/isammoc), here is [why](https://www.0crat.com/footprint/C63314D6Z/1361315231); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-16 13:25] 0crat commented on #588
The job [#588](https://github.com/yegor256/cactoos/issues/588) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/1361331353); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-05-16 13:36] 0crat commented on #839
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-16 13:36] 0crat commented on #844
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-16 15:59] llorllale commented on #747
@0crat pay 30min @paulodamaso

[2018-05-16 16:00] 0crat commented on #747
Direct payment from @llorllale[/z](https://www.0crat.com/u/llorllale): +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-05-16 16:01] 0crat commented on #747
Direct payment to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) in #747, which is discouraged, see [§49](http://www.zerocracy.com/policy.html#49): -20 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-16 16:02] elenavolokhova commented on #518
@0crat quality good

[2018-05-16 16:03] 0crat commented on #518
@elenavolokhova Thanks, but quality review is not required in this job

[2018-05-16 16:04] elenavolokhova commented on #838
@0crat quality good

[2018-05-16 16:11] 0crat commented on #838
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-05-16 16:11] 0crat commented on #838
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-16 16:17] elenavolokhova commented on #523
@0crat quality good

[2018-05-16 16:17] elenavolokhova commented on #806
@0crat quality good

[2018-05-16 16:19] paulodamaso commented on #747
@llorllale Looks like it worked, thanks!

[2018-05-16 16:34] 0crat commented on #523
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-16 16:38] 0crat commented on #806
Order was finished, quality is "good": +35 point(s) just awarded to @vssekorin[/z](https://www.0crat.com/u/vssekorin)

[2018-05-16 16:38] 0crat commented on #806
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-16 16:44] pbenety commented on #754
@Vatavuk please close this issue. The PR #851 was merged.

[2018-05-16 17:11] #754 closed

[2018-05-16 17:26] 0crat commented on #754
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @pbenety[/z](https://www.0crat.com/u/pbenety), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-16 17:26] 0crat commented on #754
The job [#754](https://github.com/yegor256/cactoos/issues/754) is now out of scope

[2018-05-16 17:29] SharplEr commented on #551
@elenavolokhova confirm
PR was #843

[2018-05-16 17:37] 0crat commented on #824
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-16 17:37] 0crat commented on #849
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-16 17:37] 0crat commented on #857
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-16 18:25] rafamizes commented on #454
Sorry to have kept you waiting.
Issue closed.

[2018-05-16 18:25] #454 closed

[2018-05-16 18:42] 0crat commented on #454
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @sharpler[/z](https://www.0crat.com/u/sharpler), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-16 19:01] pbenety commented on #518
@llorllale in this issue, @0crat is in a inconsistent state.

[2018-05-16 19:26] llorllale commented on #518
@pbenety see zerocracy/farm#1018

[2018-05-16 19:50] elenavolokhova commented on #551
@0crat quality acceptable

[2018-05-16 19:56] 0crat commented on #551
Order was finished, quality is "acceptable": +30 point(s) just awarded to @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-05-16 19:56] 0crat commented on #551
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-16 20:12] elenavolokhova commented on #454
@SharplEr According to our Policy:

There is no direct message with the link to corresponding PR.
Please, confirm that you will follow this rule in future.

[2018-05-16 20:14] elenavolokhova commented on #454
@rafamizes According to our [Policy](http://www.zerocracy.com/policy.html#42):

Please, address all your messages in future tickets. Thanks!

[2018-05-16 20:15] elenavolokhova commented on #754
@0crat quality good

[2018-05-16 20:20] 0crat commented on #754
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-17 00:36] 0crat commented on #812
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-17 00:36] 0crat commented on #850
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-17 01:43] rafamizes commented on #454
@elenavolokhova
I got it. Thanks.

[2018-05-17 12:00] VsSekorin commented on #812
As I understand, PR for this task was merged. I close this issue.

[2018-05-17 12:00] #812 closed

[2018-05-17 12:16] 0crat commented on #812
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-17 12:17] 0crat commented on #812
The job [#812](https://github.com/yegor256/cactoos/issues/812) is now out of scope

[2018-05-17 12:45] Vatavuk commented on #825
@llorllale I remembered now, we need scalar in ctor if we want to throw exceptions.
For instance:
[code]

[2018-05-17 14:22] 0pdd opened #878 "JoinedText.java:38-40: Continue refactoring all classes..."
The puzzle `849-f712c12a` from #849 has to be resolved:

https://github.com/yegor256/cactoos/blob/5cd1e3e960c1a98f0c57dd68c2b88bb7c6725650/src/main/java/org/cactoos/text/JoinedText.java#L38-L40

The puzzle was created by rultor on 17-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and t

[2018-05-17 14:26] 0crat commented on #878
The job [#878](https://github.com/yegor256/cactoos/issues/878) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1371441295); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-17 14:32] elenavolokhova commented on #454
@0crat status

[2018-05-17 14:36] 0crat commented on #454
@elenavolokhova This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#454](https://github.com/yegor256/cactoos/issues/454) is not in scope
  * The job is waiting quality review verdict by @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) for 20hr
  * @sharpler[/z](https://www.0crat.com/u/sharpler) will receive 30 minutes after quality re

[2018-05-17 14:41] elenavolokhova commented on #812
@proshin-roman According to our Policy:

Please, confirm that you'll include such links in future tickets. Thanks!

[2018-05-17 20:18] 0pdd commented on #849
The puzzle `788-d4bcd092` has disappeared from the source code, that's why I closed this issue.

[2018-05-17 20:18] #849 closed

[2018-05-17 20:18] 0pdd commented on #788
@krzyk the puzzle [#878](https://github.com/yegor256/cactoos/issues/878) is still not solved; solved: [#849](https://github.com/yegor256/cactoos/issues/849).

[2018-05-17 20:39] 0crat commented on #849
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-17 20:40] 0crat commented on #849
The job [#849](https://github.com/yegor256/cactoos/issues/849) is now out of scope

[2018-05-17 22:59] VsSekorin commented on #812
@elenavolokhova confirm. Thanks

[2018-05-18 15:32] 0pdd commented on #839
The puzzle `803-f276f37b` has disappeared from the source code, that's why I closed this issue.

[2018-05-18 15:32] 0pdd commented on #748
@SharplEr all 4 puzzles are solved here: [#802](https://github.com/yegor256/cactoos/issues/802), [#803](https://github.com/yegor256/cactoos/issues/803), [#838](https://github.com/yegor256/cactoos/issues/838), [#839](https://github.com/yegor256/cactoos/issues/839).

[2018-05-18 15:32] 0pdd commented on #803
@0pdd the only puzzle [#839](https://github.com/yegor256/cactoos/issues/839) is solved here.

[2018-05-18 15:46] 0pdd opened #881 "CollectionEnvelope.java:39-42: Implement methods equals..."
The puzzle `844-c2e67e6a` from #844 has to be resolved:

https://github.com/yegor256/cactoos/blob/7775a67e7a6ce47f8a6a54309a21221147cb0328/src/main/java/org/cactoos/collection/CollectionEnvelope.java#L39-L42

The puzzle was created by Roman Proshin on 13-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the p

[2018-05-18 15:46] 0pdd commented on #844
@krzyk the puzzle [#881](https://github.com/yegor256/cactoos/issues/881) is still not solved.

[2018-05-18 15:46] 0crat commented on #881
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-18 15:46] 0crat commented on #881
Job [#881](https://github.com/yegor256/cactoos/issues/881) is now in scope, role is `DEV`

[2018-05-18 15:48] 0crat commented on #839
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-18 15:48] 0crat commented on #839
The job [#839](https://github.com/yegor256/cactoos/issues/839) is now out of scope

[2018-05-18 15:50] 0crat commented on #881
The job [#881](https://github.com/yegor256/cactoos/issues/881) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1381569500); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-18 15:59] elenavolokhova commented on #849
@0crat quality good

[2018-05-18 16:01] 0crat commented on #849
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-18 19:32] proshin-roman commented on #850
@jimkast the issue has been fixed in #869 - please, close the ticket.

[2018-05-18 19:37] proshin-roman commented on #844
@krzyk One part of the issue has been fixed in #865 and a new puzzle has been created for another part. Please, close the ticket.

[2018-05-18 19:50] proshin-roman commented on #839
@elenavolokhova confirm

[2018-05-18 20:35] krzyk commented on #844
@proshin-roman thanks

[2018-05-18 20:35] #844 closed

[2018-05-18 20:43] elenavolokhova commented on #839
@0crat quality acceptable

[2018-05-18 20:45] 0crat commented on #839
Order was finished, quality is "acceptable": +30 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-05-18 20:45] 0crat commented on #839
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-18 20:51] 0crat commented on #844
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-18 20:51] 0crat commented on #844
The job [#844](https://github.com/yegor256/cactoos/issues/844) is now out of scope

[2018-05-18 20:56] llorllale commented on #594
@fabriciofx closing

[2018-05-18 20:56] #594 closed

[2018-05-18 21:11] jimkast commented on #850
Sure, Skipped has been restored, thank you very much.
By the way Skipped is very useful when you use yegor's [takes](https://github.com/yegor256/takes). When you need to decorate request/response headers, you need to skip head() the first line, and the easiest and best way is using Skipped iterable.

[2018-05-18 21:11] #850 closed

[2018-05-18 21:12] 0crat commented on #594
The job is not in WBS, won't close the order

[2018-05-18 21:21] elenavolokhova commented on #844
@0crat quality good

[2018-05-18 21:27] 0crat commented on #850
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-18 21:27] 0crat commented on #850
The job [#850](https://github.com/yegor256/cactoos/issues/850) is now out of scope

[2018-05-18 21:44] elenavolokhova commented on #850
@jimkast According to our [Policy](http://www.zerocracy.com/policy.html#42):

Please, confirm that you will address all your messages in future tickets. Thanks!

[2018-05-19 10:47] victornoel commented on #588
@llorllale shouldn't the maven configuration go into `jcabi-parent` instead? or shouldn't we have a parent for cactoos projects maybe?

[2018-05-19 12:03] llorllale commented on #850
@rultor release, tag is `0.34`

[2018-05-19 12:05] rultor commented on #850
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14583-390400389)

[2018-05-19 13:57] llorllale commented on #588
@victornoel we'll use this project as our guinea pig. If the idea holds, maybe it'll spread to other projects as well

[2018-05-19 14:34] 0pdd commented on #861
The puzzle `551-685b57ce` has disappeared from the source code, that's why I closed this issue.

[2018-05-19 14:34] #861 closed

[2018-05-19 14:35] 0pdd opened #883 "IoCheckedProc.java:37-39: Avoid usage of null value in..."
The puzzle `861-c93d9bb1` from #861 has to be resolved:

https://github.com/yegor256/cactoos/blob/9662238bbce32606caddb298b39cb3de7771c03e/src/main/java/org/cactoos/func/IoCheckedProc.java#L37-L39

The puzzle was created by Isammoc OFF on 16-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2018-05-19 14:35] 0crat commented on #883
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-19 14:35] 0pdd opened #884 "AsyncFunc.java:48-52: Avoid usage of null value in..."
The puzzle `861-7a51e9e5` from #861 has to be resolved:

https://github.com/yegor256/cactoos/blob/9662238bbce32606caddb298b39cb3de7771c03e/src/main/java/org/cactoos/func/AsyncFunc.java#L48-L52

The puzzle was created by Isammoc OFF on 16-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed a

[2018-05-19 14:35] 0crat commented on #883
Job [#883](https://github.com/yegor256/cactoos/issues/883) is now in scope, role is `DEV`

[2018-05-19 14:35] 0crat commented on #884
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-19 14:35] victornoel commented on #588
@0crat waiting for #882

[2018-05-19 14:35] 0crat commented on #884
Job [#884](https://github.com/yegor256/cactoos/issues/884) is now in scope, role is `DEV`

[2018-05-19 14:35] 0pdd opened #885 "UncheckedProc.java:35-37: Avoid usage of null value in..."
The puzzle `861-c5656f1b` from #861 has to be resolved:

https://github.com/yegor256/cactoos/blob/9662238bbce32606caddb298b39cb3de7771c03e/src/main/java/org/cactoos/func/UncheckedProc.java#L35-L37

The puzzle was created by Isammoc OFF on 16-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2018-05-19 14:35] 0crat commented on #885
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-19 14:35] 0crat commented on #588
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: yegor256/cactoos#588, Comment: 390409117

[2018-05-19 14:35] 0crat commented on #884
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: yegor256/cactoos#884, Action: `created`

[2018-05-19 14:35] 0pdd opened #886 "RetryFunc.java:37-41: Avoid usage of null value in..."
The puzzle `861-3f3a5fe1` from #861 has to be resolved:

https://github.com/yegor256/cactoos/blob/9662238bbce32606caddb298b39cb3de7771c03e/src/main/java/org/cactoos/func/RetryFunc.java#L37-L41

The puzzle was created by Isammoc OFF on 16-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed a

[2018-05-19 14:35] 0crat commented on #886
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-19 14:35] 0pdd opened #887 "TimedFunc.java:38-41: Avoid usage of null value in..."
The puzzle `861-703fedf3` from #861 has to be resolved:

https://github.com/yegor256/cactoos/blob/9662238bbce32606caddb298b39cb3de7771c03e/src/main/java/org/cactoos/func/TimedFunc.java#L38-L41

The puzzle was created by Isammoc OFF on 16-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed a

[2018-05-19 14:36] 0crat commented on #887
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-19 14:36] 0pdd opened #888 "RepeatedFunc.java:36-39: Avoid usage of null value in..."
The puzzle `861-8d8bda55` from #861 has to be resolved:

https://github.com/yegor256/cactoos/blob/9662238bbce32606caddb298b39cb3de7771c03e/src/main/java/org/cactoos/func/RepeatedFunc.java#L36-L39

The puzzle was created by Isammoc OFF on 16-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixe

[2018-05-19 14:36] 0pdd commented on #551
@neonailol 6 puzzles [#883](https://github.com/yegor256/cactoos/issues/883), [#884](https://github.com/yegor256/cactoos/issues/884), [#885](https://github.com/yegor256/cactoos/issues/885), [#886](https://github.com/yegor256/cactoos/issues/886), [#887](https://github.com/yegor256/cactoos/issues/887), [#888](https://github.com/yegor256/cactoos/issues/888) are still not solved; solved: [#861](https:/

[2018-05-19 14:36] 0pdd commented on #861
@0pdd 6 puzzles [#883](https://github.com/yegor256/cactoos/issues/883), [#884](https://github.com/yegor256/cactoos/issues/884), [#885](https://github.com/yegor256/cactoos/issues/885), [#886](https://github.com/yegor256/cactoos/issues/886), [#887](https://github.com/yegor256/cactoos/issues/887), [#888](https://github.com/yegor256/cactoos/issues/888) are still not solved.

[2018-05-19 14:36] 0crat commented on #888
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-19 14:36] 0crat commented on #588
@victornoel The impediment for [#588](https://github.com/yegor256/cactoos/issues/588) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-05-19 14:36] 0crat commented on #588
@victornoel Job [#588](https://github.com/yegor256/cactoos/issues/588) is already on hold

[2018-05-19 14:36] 0crat commented on #885
Job [#885](https://github.com/yegor256/cactoos/issues/885) is now in scope, role is `DEV`

[2018-05-19 14:36] 0crat commented on #886
Job [#886](https://github.com/yegor256/cactoos/issues/886) is now in scope, role is `DEV`

[2018-05-19 14:36] 0crat commented on #887
Job [#887](https://github.com/yegor256/cactoos/issues/887) is now in scope, role is `DEV`

[2018-05-19 14:36] 0crat commented on #888
Job [#888](https://github.com/yegor256/cactoos/issues/888) is now in scope, role is `DEV`

[2018-05-19 14:43] victornoel opened #889 "SyncIteratorTest takes way too long to execute"
On travis, the test takes 2 minutes 30 seconds:
[code]

On my computer, it takes 20 seconds more or less.

This is way too much time lost waiting for tests to be executed.

[2018-05-19 14:43] 0crat commented on #889
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-19 14:51] 0crat commented on #861
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @isammoc[/z](https://www.0crat.com/u/isammoc), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-19 14:51] 0crat commented on #861
The job [#861](https://github.com/yegor256/cactoos/issues/861) is now out of scope

[2018-05-19 15:33] victornoel commented on #588
@0crat status

[2018-05-19 15:34] 0crat commented on #588
@victornoel This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#588](https://github.com/yegor256/cactoos/issues/588) is [in scope](http://www.zerocracy.com/policy.html#14) for 7days
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [3days](http://www.zerocracy.com/policy.html#8)
  * There is

[2018-05-19 16:45] SharplEr commented on #454
@elenavolokhova  confirm
PR was #820

[2018-05-19 16:46] Isammoc commented on #818
@krzyk @llorllale Please, close this issue as #877 was merged. Thanks ^^

[2018-05-19 16:49] krzyk commented on #818
@Isammoc thanks

[2018-05-19 16:49] #818 closed

[2018-05-19 17:04] 0crat commented on #818
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @isammoc[/z](https://www.0crat.com/u/isammoc), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-19 17:05] 0crat commented on #818
The job [#818](https://github.com/yegor256/cactoos/issues/818) is now out of scope

[2018-05-19 17:13] victornoel opened #891 "findbugs should be enabled in qulice"
Findbugs is disabled in qulice. When enable it shows a number of potential bugs that should better be fixed.

We should reenable it and fix all the problems instead of ignoring them.

[2018-05-19 17:13] 0crat commented on #891
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-19 17:58] llorllale commented on #891
@0crat in

[2018-05-19 17:58] 0crat commented on #891
@llorllale Job [#891](https://github.com/yegor256/cactoos/issues/891) is now in scope, role is `DEV`

[2018-05-19 17:59] 0crat commented on #891
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-05-19 18:55] proshin-roman commented on #824
@0crat wait for #866

[2018-05-19 18:55] 0crat commented on #824
@proshin-roman The impediment for [#824](https://github.com/yegor256/cactoos/issues/824) was registered successfully by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-05-19 18:56] proshin-roman commented on #857
@0crat wait for #868

[2018-05-19 18:56] 0crat commented on #857
@proshin-roman The impediment for [#857](https://github.com/yegor256/cactoos/issues/857) was registered successfully by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-05-19 21:36] elenavolokhova commented on #454
@0crat quality acceptable

[2018-05-19 21:38] 0crat commented on #454
Order was finished, quality is "acceptable": +30 point(s) just awarded to @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-05-19 21:38] 0crat commented on #454
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-19 21:39] elenavolokhova commented on #861
@Isammoc According to our Policy:

There is no direct message with the link to corresponding PR.
Please, confirm that you will follow this rule in future.

[2018-05-19 21:40] elenavolokhova commented on #818
@0crat quality good

[2018-05-19 21:41] 0crat commented on #818
Order was finished, quality is "good": +35 point(s) just awarded to @isammoc[/z](https://www.0crat.com/u/isammoc)

[2018-05-19 21:41] 0crat commented on #818
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-20 08:15] Isammoc commented on #861
@elenavolokhova Actually, the Policy [42](http://www.zerocracy.com/policy.html#42) contains:

This ticket has references to the pull requests.

[2018-05-20 17:40] Vatavuk opened #892 "Multiple return statements in MapEnvelope"
`Equals` method of `MapEnvelope` class has 5 return statements, there should be only one.

https://www.yegor256.com/2015/08/18/multiple-return-statements-in-oop.html

[2018-05-20 17:40] 0crat commented on #892
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-20 18:05] Vatavuk opened #893 "MapEnvelope does not compare derived classes"
MapEnvelope `equals` method does not support comparing classes derived from `MapEnvelope`.
The following test does not work
[code]
Problem is in the following line:
https://github.com/yegor256/cactoos/blob/62e1fa40c653767850816f3383d27558cdb6e17e/src/main/java/org/cactoos/map/MapEnvelope.java#L151
The following condition could be added:
[code]

[2018-05-20 18:05] 0crat commented on #893
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-20 18:09] elenavolokhova commented on #861
@Isammoc I'm confused with this Policy change, it used to have statement from my comment. I understand your point. We had an issue regarding this rule and one of comments there described why it is very important to include something simple like 'fixed in #xxx' to any issue. You can find it [here](https://github.com/zerocracy/datum/issues/295#issuecomment-369163072). I hope it will clarify this rul

[2018-05-20 20:53] Isammoc commented on #861
@elenavolokhova As I understand, the policy change is that we don't need anymore to write a direct message with PRs but instead reference issue in commits (what I did'nt do as you already mention).
More, when do you think I have to write this message? This kind of ticket (puzzle) is automatically closed  by 0pdd when the matching puzzle is removed from codebase. And QA is automatically assigned by

[2018-05-21 09:22] Vatavuk opened #895 "Simplify usage of ScalarWithFallback"
Currently, in order to use `ScalarWithFallback` user needs to provide follow up function as well as an iterable for fallback options.

I propose to add following ctors (just like those we have in `FuncWithFallback`) to simplify usage:
[code]

[2018-05-21 09:48] Vatavuk opened #896 "Simplify usage of fallback functionality"
Let's imagine a case when we want to handle specific types of exceptions and map them to our custom exception object.
This could be done using `CheckedScalar` and `ScalarWithFallback`:
[code]
We have to declare wrapping of exceptions 3 times. One for each fallback option and one in `CheckedScalar` in order to be able to compile the method with throws clause.

I propose to add new ctor to `Fallback

[2018-05-21 09:48] 0crat commented on #896
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-21 14:33] 0crat commented on #892
@llorllale Job [#892](https://github.com/yegor256/cactoos/issues/892) is now in scope, role is `DEV`

[2018-05-21 14:33] 0crat commented on #892
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-05-21 14:33] llorllale commented on #893
@0crat in

[2018-05-21 14:34] 0crat commented on #893
@llorllale Job [#893](https://github.com/yegor256/cactoos/issues/893) is now in scope, role is `DEV`

[2018-05-21 14:34] 0crat commented on #893
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-05-21 14:50] #878 closed

[2018-05-21 14:50] 0pdd commented on #878
The puzzle `849-f712c12a` has disappeared from the source code, that's why I closed this issue.

[2018-05-21 14:50] 0pdd opened #897 "JoinedText.java:38-40: Continue refactoring all classes..."
The puzzle `878-f712c12a` from #878 has to be resolved:

https://github.com/yegor256/cactoos/blob/474092772536c29d8748a4e9512ba4d44d35ecea/src/main/java/org/cactoos/text/JoinedText.java#L38-L40

The puzzle was created by rultor on 21-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and t

[2018-05-21 14:50] 0pdd commented on #788
@krzyk the puzzle [#897](https://github.com/yegor256/cactoos/issues/897) is still not solved; solved: [#849](https://github.com/yegor256/cactoos/issues/849), [#878](https://github.com/yegor256/cactoos/issues/878).

[2018-05-21 14:50] 0pdd commented on #849
@0pdd the puzzle [#897](https://github.com/yegor256/cactoos/issues/897) is still not solved; solved: [#878](https://github.com/yegor256/cactoos/issues/878).

[2018-05-21 14:50] 0pdd commented on #878
@0pdd the puzzle [#897](https://github.com/yegor256/cactoos/issues/897) is still not solved.

[2018-05-21 14:50] 0crat commented on #897
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-21 14:51] 0crat commented on #897
Job [#897](https://github.com/yegor256/cactoos/issues/897) is now in scope, role is `DEV`

[2018-05-21 15:06] 0crat commented on #878
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-21 15:06] 0crat commented on #878
The job [#878](https://github.com/yegor256/cactoos/issues/878) is now out of scope

[2018-05-21 15:09] llorllale commented on #895
@Vatavuk let's modify your first one:

[code]

[2018-05-21 15:09] llorllale commented on #895
@0crat in

[2018-05-21 15:09] 0crat commented on #895
@llorllale Job [#895](https://github.com/yegor256/cactoos/issues/895) is now in scope, role is `DEV`

[2018-05-21 15:09] 0crat commented on #895
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-05-21 15:10] #857 closed

[2018-05-21 15:10] 0pdd commented on #857
The puzzle `814-43ada032` has disappeared from the source code, that's why I closed this issue.

[2018-05-21 15:10] 0pdd commented on #814
@Vatavuk the only puzzle [#857](https://github.com/yegor256/cactoos/issues/857) is solved here.

[2018-05-21 15:15] Vatavuk commented on #895
@llorllale unfortunately we cannot add varargs due to collision with followup function. Code won't compile. See https://github.com/yegor256/cactoos/pull/856#pullrequestreview-119371145

[2018-05-21 15:25] llorllale commented on #896
@Vatavuk sounds like you don't want to "fallback" at all - you want side effects (do something on error condition) and then rethrow the (wrapped) exception.

Based on that I think some other than `*Fallback` is what you need (I'm reminded of #825).

[2018-05-21 15:26] yegor256 commented on #790
@0crat status

[2018-05-21 15:26] 0crat commented on #857
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-21 15:27] 0crat commented on #857
The job [#857](https://github.com/yegor256/cactoos/issues/857) is now out of scope

[2018-05-21 15:27] 0crat commented on #790
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#790](https://github.com/yegor256/cactoos/issues/790) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos%23790%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2018-05-21 15:39] llorllale commented on #895
@Vatavuk I see, OK

[2018-05-21 17:22] elenavolokhova commented on #861
@Isammoc I got explanation about this Policy change, so now you are right. I'm closing review. Thanks!

[2018-05-21 17:32] elenavolokhova commented on #857
@0crat quality good

[2018-05-21 17:33] elenavolokhova commented on #878
@0crat quality good

[2018-05-21 17:34] 0crat commented on #857
Order was finished, quality is "good": +35 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-05-21 17:34] 0crat commented on #857
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-21 17:34] 0crat commented on #878
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-05-21 17:34] 0crat commented on #878
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-21 21:20] Isammoc commented on #862
@0crat wait for #890

[2018-05-21 21:21] 0crat commented on #862
@Isammoc The impediment for [#862](https://github.com/yegor256/cactoos/issues/862) was registered successfully by @isammoc[/z](https://www.0crat.com/u/isammoc)

[2018-05-22 11:16] Vatavuk commented on #881
@0crat wait for reviewer

[2018-05-22 11:16] 0crat commented on #881
@Vatavuk The impediment for [#881](https://github.com/yegor256/cactoos/issues/881) was registered successfully by @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-05-22 14:32] llorllale commented on #476
@filfreire can we close this?

[2018-05-22 14:33] llorllale commented on #704
@neonailol please move forward with this task

[2018-05-22 14:42] 0pdd opened #898 "AndInThreadsTest.java:49-51: Remove the use of the static..."
The puzzle `829-59f865f8` from #829 has to be resolved:

https://github.com/yegor256/cactoos/blob/995eb06e36912fe63f3ab22d1f992284084ee698/src/test/java/org/cactoos/scalar/AndInThreadsTest.java#L49-L51

The puzzle was created by Paulo Benety on 22-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem

[2018-05-22 14:42] 0pdd commented on #829
@Vatavuk the puzzle [#898](https://github.com/yegor256/cactoos/issues/898) is still not solved.

[2018-05-22 14:43] 0crat commented on #898
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-22 14:43] 0crat commented on #898
Job [#898](https://github.com/yegor256/cactoos/issues/898) is now in scope, role is `DEV`

[2018-05-22 14:47] llorllale commented on #826
@Vatavuk ok.

Both `Scalar` and `Func` are simple interfaces with just one abstract method. But, let's do this to promote this elegant pattern among our users and also to align these two interfaces with the other envelopes we have

[2018-05-22 14:48] llorllale commented on #826
@0crat in

[2018-05-22 14:53] llorllale commented on #852
@fabriciofx nevermind, I agree

[2018-05-22 14:53] llorllale commented on #852
@0crat in

[2018-05-22 14:53] 0crat commented on #852
@llorllale Job [#852](https://github.com/yegor256/cactoos/issues/852) is now in scope, role is `DEV`

[2018-05-22 14:55] 0crat commented on #852
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2018-05-22 14:55] llorllale commented on #864
@0crat in

[2018-05-22 14:57] 0crat commented on #864
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-05-22 15:17] llorllale commented on #872
@neonailol let's make it a `Scalar<DateTimeFormatter` and also fix its class-level javadoc

[2018-05-22 15:39] llorllale commented on #889
@victornoel on mine it only takes about ~6.5 seconds.

Still though, your problem is most likely in `correctValuesForConcurrentNextNext` and `correctValuesForConcurrentNextHasNext`. I don't know how they determined that `5000` was an acceptable number of iterations for these tests.

[2018-05-22 15:49] neonailol commented on #704
@llorllale submitted #899

[2018-05-22 15:52] #871 closed

[2018-05-22 20:26] victornoel commented on #889
@llorllale I have a typical recent 4 core (or hyperthread...) computer

If it's not the case for others than it's ok, maybe you could just reduce a bit the number of loops? I don't think it makes a concurrent test more reliable to do more loops in general :)

[2018-05-22 23:12] pbenety commented on #829
@Vatavuk please close this issue. PR #874 was merged.

[2018-05-23 05:48] #829 closed

[2018-05-23 06:04] 0crat commented on #829
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @pbenety[/z](https://www.0crat.com/u/pbenety), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-23 06:04] 0crat commented on #829
The job [#829](https://github.com/yegor256/cactoos/issues/829) is now out of scope

[2018-05-23 14:55] proshin-roman commented on #824
@alex-semenyuk the issue has been fixed in #866. Please, close the ticket.

[2018-05-23 15:32] 0crat commented on #824
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-23 15:32] 0crat commented on #824
The job [#824](https://github.com/yegor256/cactoos/issues/824) is now out of scope

[2018-05-23 16:12] neonailol opened #900 "Misleading javadoc for MaxOf and MinOf"
Javadocs of `MaxOf` and `MinOf` saying that they are used for summarizing numbers, which is not true

https://github.com/yegor256/cactoos/blob/f82ec740a3e6c2d5d302f8d26f8b63d2c1ea7c11/src/main/java/org/cactoos/scalar/MinOf.java#L32-L38
https://github.com/yegor256/cactoos/blob/f82ec740a3e6c2d5d302f8d26f8b63d2c1ea7c11/src/main/java/org/cactoos/scalar/MaxOf.java#L32-L38

[2018-05-23 17:41] elenavolokhova commented on #850
@0crat quality acceptable

[2018-05-23 18:12] 0crat commented on #850
Order was finished, quality is "acceptable": +30 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-05-23 18:12] 0crat commented on #850
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-23 18:53] paulodamaso opened #901 "ListIterator instances returned must be null-free"
In `ListNotNulls`, there are two methods that returns `ListIterators` of the list decorated; these methods return simple `ListIterator`s (which accepts `null` values) when they should be returning a `ListIterator` type or `Iterator` implementor which does not accept `null` values. This could be achieved by:
- Add `ListIteratorNotNulls` class, which implements `IteratorNotNulls`, and use this type

[2018-05-23 18:53] 0crat commented on #901
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-23 19:31] llorllale commented on #901
@paulodamaso it is up to the users to wrap iterables/iterators in `*NoNulls`.

What I believe we should definitely be doing though is wrapping those iterators with `org.cactoos.list.ListIterator` in order to make the immutable.

[2018-05-23 19:59] paulodamaso commented on #901
@llorllale But shouldn't a `ListIterator` returned by a `ListNotNulls` be prohibited to return `null` values? Remember, it is representing a null-free list, so we must guarantee that this ListIterator won't have any nulls, and we could do this by returning an `InteratornotNull` implementation.
About wrapping them in `org.cactoos.list.ListIterator` and make them immutable, I totally agree with you.

[2018-05-24 10:17] neonailol commented on #900
Same problem within AvgOf docs

https://github.com/yegor256/cactoos/blob/f82ec740a3e6c2d5d302f8d26f8b63d2c1ea7c11/src/main/java/org/cactoos/scalar/AvgOf.java#L38-L42

[2018-05-24 12:48] llorllale commented on #901
@paulodamaso gotcha regarding your point about not nulls. Let's do that as well.

[2018-05-24 12:49] llorllale commented on #901
@paulodamaso so to be clear, there are two parts to this:

* `ListNoNulls` should ensure that the iterators it returns also do not allow nulls
* `ListNoNulls` should also return immutable iterators

[2018-05-24 12:49] llorllale commented on #901
@0crat in

[2018-05-24 12:49] 0crat commented on #901
@llorllale Job [#901](https://github.com/yegor256/cactoos/issues/901) is now in scope, role is `DEV`

[2018-05-24 12:50] 0crat commented on #901
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-05-24 13:58] neonailol commented on #900
@llorllale variable named `sum` in example instead of `average`

[2018-05-24 14:32] llorllale commented on #900
@neonailol see e4e088bd3c6845abf15b2c4ef70e4e9904bf3681. Better now?

[2018-05-24 15:54] 0crat commented on #900
The job is not in WBS, won't close the order

[2018-05-25 15:48] elenavolokhova commented on #829
@0crat quality good

[2018-05-25 15:50] 0crat commented on #829
Order was finished, quality is "good": +35 point(s) just awarded to @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-05-25 15:50] 0crat commented on #829
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-25 15:51] elenavolokhova commented on #824
@0crat quality good

[2018-05-25 15:55] 0crat commented on #824
Order was finished, quality is "good": +35 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-05-25 15:55] 0crat commented on #824
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-28 14:18] 0pdd opened #902 "CollectionOfTest.java:36-40: The test..."
The puzzle `588-33083ad6` from #588 has to be resolved:

https://github.com/yegor256/cactoos/blob/a1e27f30945f217146ee23af795db7ae9da4850a/src/test/java/org/cactoos/collection/CollectionOfTest.java#L36-L40

The puzzle was created by rultor on 28-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-05-28 14:18] 0pdd opened #903 "pom.xml:151-155: In the continuation of #588, all the..."
The puzzle `588-3a40a452` from #588 has to be resolved:

https://github.com/yegor256/cactoos/blob/a1e27f30945f217146ee23af795db7ae9da4850a/pom.xml#L151-L155

The puzzle was created by rultor on 28-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _removed_ fr

[2018-05-28 14:18] 0pdd commented on #588
@neonailol 2 puzzles [#902](https://github.com/yegor256/cactoos/issues/902), [#903](https://github.com/yegor256/cactoos/issues/903) are still not solved.

[2018-05-28 14:18] 0crat commented on #902
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-28 14:18] 0crat commented on #902
Job [#902](https://github.com/yegor256/cactoos/issues/902) is now in scope, role is `DEV`

[2018-05-28 14:19] 0crat commented on #903
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-28 14:19] 0crat commented on #903
Job [#903](https://github.com/yegor256/cactoos/issues/903) is now in scope, role is `DEV`

[2018-05-28 14:41] victornoel commented on #588
@neonailol #882 has been merged, this issue can now be closed

[2018-05-28 14:50] #588 closed

[2018-05-28 15:06] 0crat commented on #588
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-28 15:06] 0crat commented on #588
The job [#588](https://github.com/yegor256/cactoos/issues/588) is now out of scope

[2018-05-28 19:26] 0crat commented on #588
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-29 18:58] #862 closed

[2018-05-29 18:58] 0pdd commented on #862
The puzzle `813-8130ed5b` has disappeared from the source code, that's why I closed this issue.

[2018-05-29 18:58] 0pdd commented on #813
@Vatavuk the only puzzle [#862](https://github.com/yegor256/cactoos/issues/862) is solved here.

[2018-05-30 05:43] 0crat commented on #862
The job [#862](https://github.com/yegor256/cactoos/issues/862) is now out of scope

[2018-06-04 11:39] #881 closed

[2018-06-04 11:39] 0pdd commented on #881
The puzzle `844-c2e67e6a` has disappeared from the source code, that's why I closed this issue.

[2018-06-04 11:39] 0pdd opened #904 "CollectionEnvelope.java:42-48: CollectionEnvelope equals..."
The puzzle `881-d152950a` from #881 has to be resolved:

https://github.com/yegor256/cactoos/blob/c6ca6d183ee5d0ca7dd76701231333af611a6439/src/main/java/org/cactoos/collection/CollectionEnvelope.java#L42-L48

The puzzle was created by rultor on 04-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem

[2018-06-04 11:39] 0pdd commented on #844
@krzyk the puzzle [#904](https://github.com/yegor256/cactoos/issues/904) is still not solved; solved: [#881](https://github.com/yegor256/cactoos/issues/881).

[2018-06-04 11:39] 0pdd commented on #881
@0pdd the puzzle [#904](https://github.com/yegor256/cactoos/issues/904) is still not solved.

[2018-06-04 11:40] 0crat commented on #904
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-06-04 11:41] 0crat commented on #904
Job [#904](https://github.com/yegor256/cactoos/issues/904) is now in scope, role is `DEV`

[2018-06-04 11:56] 0crat commented on #881
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-04 11:56] 0crat commented on #881
The job [#881](https://github.com/yegor256/cactoos/issues/881) is now out of scope

[2018-06-04 12:08] elenavolokhova commented on #881
@0crat quality good

[2018-06-04 12:14] 0crat commented on #881
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-06-04 12:14] 0crat commented on #881
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-06-06 12:57] victornoel commented on #588
@llorllale 0crat didn't award me my +35 points :)

[2018-06-06 14:46] llorllale commented on #588
@0crat pay 35min @victornoel

[2018-06-06 14:46] 0crat commented on #588
@llorllale The project is under-funded, you can't do it now, see [§49](http://www.zerocracy.com/policy.html#49)

[2018-06-06 16:19] neonailol opened #905 "Cycled iterable constructed from iterator cycles only once"
I have a problem with iterable/Cycled that is constructed from iterator,
https://github.com/yegor256/cactoos/blob/c6ca6d183ee5d0ca7dd76701231333af611a6439/src/main/java/org/cactoos/iterable/Cycled.java#L54
it does not cycle when constructed using this constructor
I tested it with the following code:

[code]

Am i missing something?

[2018-06-06 16:19] 0crat commented on #905
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-06-06 16:19] 0crat commented on #905
@neonailol[/z](https://www.0crat.com/u/neonailol) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-06 20:28] llorllale commented on #905
@0crat in

[2018-06-06 20:29] 0crat commented on #905
@llorllale Job [#905](https://github.com/yegor256/cactoos/issues/905) is now in scope, role is `DEV`

[2018-06-06 20:32] 0crat commented on #905
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-06-07 16:20] neonailol opened #906 "RangeOf iterator"
It would be nice to have RangeOf implementation as Iterator
Following code probably can be refactored into this new implementation

https://github.com/yegor256/cactoos/blob/c6ca6d183ee5d0ca7dd76701231333af611a6439/src/main/java/org/cactoos/iterable/RangeOf.java#L50-L73

[2018-06-07 16:21] 0crat commented on #906
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-06-07 16:21] 0crat commented on #906
@neonailol[/z](https://www.0crat.com/u/neonailol) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-07 18:16] svendiedrichsen commented on #906
@neonailol What is wrong with calling the `iterator()` method of the `RangeOf` instance?

[2018-06-08 18:54] llorllale opened #907 "Ctor for UpperText and LowerText"
Let's add a ctor to `UpperText` and to `LowerText` that accepts a String.

[2018-06-08 19:10] llorllale commented on #907
Fixed in d13c9cc8108c5aee1845eb6c23a5d2a5c916f5d9

[2018-06-08 19:10] #907 closed

[2018-06-08 19:26] llorllale opened #908 "Roadmap"
@yegor256 the `README` has a date listed for the release of `1.0`. Where is the roadmap that leads to this release?

[2018-06-08 19:27] rultor commented on #907
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14837-395864067)

[2018-06-08 19:27] 0crat commented on #907
Job `gh:yegor256/cactoos#907` is not assigned, can't get performer

[2018-06-08 19:27] 0crat commented on #907
The job is not in WBS, won't close the order

[2018-06-08 19:39] rultor commented on #907
@llorllale Done! FYI, the full log is [here](http://www.rultor.com/t/14837-395864067) (took me 11min)

[2018-06-09 10:36] neonailol commented on #906
@svendiedrichsen well, it supposed to be the other way around, all iterable classes are built on top of iterators classes. Also if I recall correctly, anonymous inner classes tend to pollute memory, but I am not sure.

[2018-06-10 15:10] svendiedrichsen commented on #906
@neonailol Iterators are stateful and kind of a one-shot thing. Using and working with iterators is an errorprone style. You may run into situations where will have to switch back and forth between iterable and iterator. Please see #677 which should have removed the explicit usage of iterators especially as parameters to ctors. IMHO a framework should rather use iterables to avoid those kind of si

[2018-06-11 09:43] neonailol commented on #906
@svendiedrichsen

I don't see how that issue correlates with this one.
Are you saying that all classes from `org.cactoos.iterator` should be removed?
From what I see: all iterables are built on top of iterators, why this class should be different?

[2018-06-11 10:34] svendiedrichsen commented on #906
@neonailol: IMHO at least they should not be visible.
Thesis 1: Stateful instances in functional/ lazy evaluating code is evil/ hard to get right.
Thesis 2: Public classes will be used.
Conclusion: Don't create public stateful classes in functional frameworks or encourage their usage.

Iterators are a nessessity for looping in Java but IMHO should not be used for anything else. So don't encourage

[2018-06-11 12:49] neonailol commented on #906
@svendiedrichsen You have good points, I'll just leave it to an architect to decide, whether it should or should not be done.

Scalars effectively used as lambdas thought the code, and lambdas work differently from anonymous classes, basically, lambdas become static methods in the end. Whereas anonymous inner classes require an object instantiation, small runtime cost at first use, and their own s

[2018-06-11 13:27] svendiedrichsen commented on #906
@neonailol Ok, I didn't know that. Good point then.

[2018-06-13 15:01] neonailol opened #909 "RetryFunc with timeout between attempts"
As the title says, it would be nice if RetryFunc had an option to sleep for a certain amount of time, between attempts, using, for example, [TimeUnit](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/TimeUnit.html) from JDK. Or maybe provide another abstraction to do this.

[2018-06-13 15:01] 0crat commented on #909
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-06-13 15:01] 0crat commented on #909
@neonailol[/z](https://www.0crat.com/u/neonailol) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-14 12:50] llorllale commented on #906
@svendiedrichsen we already have public Iterators. Have you found any issue with them?

[2018-06-14 13:22] llorllale commented on #909
@neonailol let's have it accept [`Duration`](https://docs.oracle.com/javase/8/docs/api/java/time/Duration.html), WDYT?

[2018-06-14 14:09] neonailol commented on #909
@llorllale Duration is also a good option, just keep in mind that it can have a negative value.

[2018-06-14 15:18] svendiedrichsen commented on #906
@llorllale Yes, conceptionally.

[2018-06-14 17:02] neonailol commented on #906
The problem not in iterators, the problem are in constructors that take iterator as a parameter, so probably all constructor like this #905 should be removed, or maybe wrap this iterator to some sticky iterable decorator, that caches values returned from the iterator (this does not sound like a good idea tho)

[2018-06-14 18:06] svendiedrichsen commented on #906
@neonailol You are almost there. Iterators aren't conceptually bad but they don't fit in a stateless framework. You can work around each problematic situation specifically or get rid of their explicit usage at all. I think the latter. Thats why I think they shouldn't be usaed anywhere in Cactoos interfaces.

[2018-06-14 19:31] neonailol opened #910 "Consolidate LengthOf classes"
As the title says, why there are multiple LengthOf classes when one of the points of elegant objects is to provide rich constructors for the object? Each current implementation of LengthOf can be merged into a single class, and I don't see why it should not be that way.

[2018-06-14 19:32] 0crat commented on #910
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-06-14 19:32] 0crat commented on #910
@neonailol[/z](https://www.0crat.com/u/neonailol) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-14 20:39] llorllale commented on #909
@neonailol right

[2018-06-14 20:39] llorllale commented on #909
@0crat in

[2018-06-14 20:39] 0crat commented on #909
@llorllale Job [#909](https://github.com/yegor256/cactoos/issues/909) is now in scope, role is `DEV`

[2018-06-14 20:39] 0crat commented on #909
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-06-14 20:49] llorllale commented on #906
@svendiedrichsen

No offense was taken. You raise good points.

I am torn between the issues you raise and that ugly code that @neonailol pointed out. It would be *much* better if you could provide that iterator in a declarative manner.

Plus there's the fact that we have *tons* of implementations of `Iterator` as part of our public API. That's why I asked if there was some specific issue you foun

[2018-06-14 20:53] llorllale commented on #910
@neonailol where would we put this `LengthOf`?

[2018-06-14 21:13] neonailol commented on #910
@llorllale all of the implementations are `NumberEnvelope` so probably it belongs to `scalar`, but I think numbers should be in their own package

[2018-06-14 21:15] svendiedrichsen commented on #906
@llorllale There is no _techincal_ issue with the iterators in the API. There is only IMHO a _conceptual_ problem which for example manifests in bugs like #659 or #905.

A solution may be to replace the Iterator usages in the public API with the usage of Iterables  and have all Iterators package private.

[2018-06-15 14:50] llorllale commented on #910
@neonailol agreed

[2018-06-15 14:50] llorllale commented on #910
@0crat in

[2018-06-15 15:22] llorllale commented on #906
@svendiedrichsen replacing use of `Iterator` with `Iterable` won't solve the problem when you can still do things like

[code]

This problem can perhaps be solved by:

* Process: we failed to add tests to the relevant ctors of both `Cycled`
* Technical: both `Cycled` should only accept scalars and be clearly documented that these scalars need to supply *fresh* instances of the iterator.

WDYT?

[2018-06-15 15:23] 0crat commented on #910
@llorllale Job [#910](https://github.com/yegor256/cactoos/issues/910) is now in scope, role is `DEV`

[2018-06-15 15:23] 0crat commented on #910
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-06-18 13:06] svendiedrichsen commented on #906
@llorllale

If you followed my suggestions you can't do `new IterableOf<>(new IteratorOf<>())`. The ctor accepting an iterator won't be allowed and the `IteratorOf` won't be publicly available.

Just to repeat myself: Just remove any explicit usages of all Iterator as parameter and hide any Iterator implemenation and you will be better off.

[2018-06-19 15:25] llorllale commented on #906
@svendiedrichsen

That is something I definitely don't want to do. Those iterators are useful.

I'm trying to find a middle ground here. My suggestion is to leave ctors that accept `Scalar<Iterator<T>>` and document that *new* instances of `Iterator` should be created on every call to `Scalar.value()`. If users don't pay attention to this doc then this would suffer from the same problem:

[code]

[2018-06-19 15:26] llorllale commented on #908
@yegor256 ping

[2018-06-19 19:19] llorllale commented on #896
@Vatavuk ping

[2018-06-19 19:20] svendiedrichsen commented on #906
@llorllale

True. But they must be wrapped by an Iterable to assure that each call to iterator creates a new instance of Iterator.

Where is the difference between {{Scalar<Iterator<T>>}} and {{Iterable<T>}}? IMHO the suggestion is valid to avoid the usage of Iterator. Although the javadoc of Iterable does not state directly to create new Iterator instances upon each call to the iterator() method

[2018-06-19 19:22] 0crat commented on #908
The job [#908](https://github.com/yegor256/cactoos/issues/908) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C63314D6Z/1701931307); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-06-19 19:23] 0crat commented on #908
Job `gh:yegor256/cactoos#908` already assigned to @yegor256, can't assign to @yegor256

[2018-06-20 13:34] llorllale commented on #906
@svendiedrichsen

There is none. I hadn't realized they're the same thing in this context - even when I wrote my previous comment.

So here are my decisions:

* We will keep `org.cactoos.iterator` as part of our public API
* I am accepting this new requirement from @neonailol
* We will create a new ticket to continue where #677 left off. Can you please create it, @svendiedrichsen ?

[2018-06-20 13:34] llorllale commented on #906
@0crat in

[2018-06-20 13:36] 0crat commented on #906
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.10](https://github.com/zerocracy/farm): Issue: yegor256/cactoos#906, Comment: 398750128

[2018-06-20 13:36] 0crat commented on #906
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.10](https://github.com/zerocracy/farm): Issue: yegor256/cactoos#906, Action: `created`

[2018-06-20 14:30] llorllale commented on #906
@0crat in

[2018-06-20 14:31] 0crat commented on #906
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.11](https://github.com/zerocracy/farm): Issue: yegor256/cactoos#906, Comment: 398770441

[2018-06-20 14:31] 0crat commented on #906
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.11](https://github.com/zerocracy/farm): Issue: yegor256/cactoos#906, Action: `created`

[2018-06-20 18:29] svendiedrichsen commented on #906
@llorllale Wouldn't it be better to create tickets for each replacement? Thus you don't have such big PRs to review.

[2018-06-20 18:32] llorllale commented on #906
@svendiedrichsen PDD is expected to be used

[2018-06-20 18:35] svendiedrichsen commented on #906
@llorllale Do you expect a ticket to create puzzles throughout the codebase?

[2018-06-20 18:48] llorllale commented on #906
@svendiedrichsen I expect a ticket that will ask to "substitute all use of `Iterator` with `Iterable` in all ctors" and point to this discussion for context.

[2018-06-20 19:08] svendiedrichsen opened #911 "Substitute all usages of Iterator with usage of Iterable in ctors"
The discussion from #906 lead to the conclusion to avoid the usage of Iterators and replace all of their occurrences in ctors with Iterables where applicable. This aspect has also been discussed in #677 .

[2018-06-20 19:08] 0crat commented on #911
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-06-20 19:10] 0crat commented on #911
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.16](https://github.com/zerocracy/farm): Issue: yegor256/cactoos#911, Action: `opened`

[2018-06-21 08:14] Vatavuk commented on #896
@llorllale I agree, this functionality does not belong to `*Fallback` classes.
I will close this issue and reopen a new if I come up with a better approach to this.

[2018-06-21 08:14] #896 closed

[2018-06-21 12:11] llorllale commented on #911
@0crat in

[2018-06-21 12:11] 0crat commented on #896
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.23](https://github.com/zerocracy/farm): CID: [1720815002](https://www.0crat.com/C63314D6Z/1720815002), Type: "Close job", Author: "vatavuk"

[2018-06-21 12:11] 0crat commented on #896
Job `gh:yegor256/cactoos#896` is not assigned, can't get performer

[2018-06-21 12:12] 0crat commented on #911
@llorllale Job [#911](https://github.com/yegor256/cactoos/issues/911) is now in scope, role is `DEV`

[2018-06-21 12:14] 0crat commented on #911
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @svendiedrichsen[/z](https://www.0crat.com/u/svendiedrichsen)

[2018-06-21 12:48] llorllale commented on #906
@0crat in

[2018-06-21 12:50] 0crat commented on #906
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.25](https://github.com/zerocracy/farm): Issue: yegor256/cactoos#906, Comment: 399091581

[2018-06-21 12:50] 0crat commented on #906
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.25](https://github.com/zerocracy/farm): Issue: yegor256/cactoos#906, Action: `created`

[2018-06-22 17:53] llorllale commented on #906
@0crat in

[2018-06-22 17:57] 0crat commented on #906
@llorllale Job [#906](https://github.com/yegor256/cactoos/issues/906) is now in scope, role is `DEV`

[2018-06-22 17:57] 0crat commented on #906
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-06-24 07:48] yegor256 commented on #908
@llorllale we don't have such a roadmap. Feel free to create one.

[2018-06-25 19:37] olenagerasimova opened #912 "Typos in the CollectionEnvelope"
I believe there are typos in the description of each `UnsupportedOperationException` in the `CollectionEnvelope` class: exceptions messages say
"the collection is ready only"
instead of
"the collection is read only".

[2018-06-25 19:38] 0crat commented on #912
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-06-25 19:38] 0crat commented on #912
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-25 20:10] llorllale commented on #912
@olenagerasimova fixed in 92b77ed9e2d34ddec1722393c36d3659c7bd1780, thanks!

[2018-06-25 20:10] #912 closed

[2018-06-25 20:29] 0crat commented on #908
@llorllale[/z](https://www.0crat.com/u/llorllale) not enough funds available in the project, can't set budget of job [#908](https://github.com/yegor256/cactoos/issues/908), see [§21](http://www.zerocracy.com/policy.html#21); @llorllale[/z](https://www.0crat.com/u/llorllale) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-06-25 20:29] 0crat commented on #908
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-25 20:29] 0crat commented on #908
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-27 13:34] neonailol opened #913 "Classes naming convention"
Why classes from different packages have same names?
e.g. there are `Filtered` class in `collection`, `list`, `iterator` and `iterable`
and when you try to use different `Filtered` classes in one file you end up with this clutter:

[code]

Maybe these names should be questioned?
For example name them based on the interface they implement `FilteredList`, `FilteredCollection`, `FilteredIterable`, `F

[2018-06-27 13:34] 0crat commented on #913
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-06-27 13:34] 0crat commented on #913
@neonailol[/z](https://www.0crat.com/u/neonailol) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-27 13:52] llorllale commented on #913
@neonailol I think avoiding suffixes is ideal. The class' package provides sufficient context. (I have been pondering removing the `Text` suffix from `org.cactoos.text` for some time now)

Can you show an example of the "clutter" this convention is causing you? (let's keep in mind that [we should ideally have just one statement - a 'return' - per method](https://www.yegor256.com/2015/08/18/multipl

[2018-06-27 13:55] neonailol commented on #913
@llorllale Then you have inconsistency in naming: there are `SolidCollection`, `SolidList`, `SolidMap` and few others.
And we do not live in an ideal world, and as the old saying goes: 'In theory, there is no difference between theory and practice. But, in practice, there is.'

[2018-06-27 14:03] llorllale commented on #913
@neonailol yes, we do have naming inconsistencies.

This ideal is worth pushing for, as it will hopefully drive the design of user classes to a more [elegant] object-oriented style.

[2018-06-27 14:14] neonailol commented on #913
@llorllale so if we go to a short convention and have `Solid` class in `map` package, and `Solid` class in `list` package, when I try to have to write code that uses both of them, I have to use the long name with a full package in it for one of these, this seems not very practical to me. And I can't think that can be solved in an elegant way.

[2018-06-27 15:07] 0crat commented on #913
@llorllale[/z](https://www.0crat.com/u/llorllale) not enough funds available in the project, can't set budget of job [#913](https://github.com/yegor256/cactoos/issues/913), see [§21](http://www.zerocracy.com/policy.html#21); @llorllale[/z](https://www.0crat.com/u/llorllale) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-06-27 15:07] 0crat commented on #913
Job `gh:yegor256/cactoos#913` already assigned to @llorllale, can't assign to @llorllale

[2018-06-27 15:07] 0crat commented on #913
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-06-27 15:07] 0crat commented on #913
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-27 15:35] llorllale commented on #913
@neonailol yes, a choice has to be made: either we use suffixes everywhere or we remove them all where possible[1]

a) Use suffixes everywhere
**Pros**
1. Flatter learning curve for new users of `cactoos` and the general philosophy behind our designs
2. Avoids name clashes in [what I believe are] less common use cases such as yours

**Cons**
1. Have to type long suffixes, probably multiple times i

[2018-06-27 16:22] SilasReinagel commented on #913
From my experience with name collisions, I vote on adding Suffixes. This also has the added benefit of making all objects nouns again. `Filtered` is an adjective. `FilteredText` is a noun.

However, using generics instead of having special filters for each might eliminate the need for various `Filtered` implementations (and other functional adjective operations) completely.

[2018-06-27 16:33] Vatavuk commented on #913
@llorllale I'm highly against suffixes. I'm heavily user of cactoos (In all my projects) using
`filtered`, `mapped` etc. all the time.  I've never run in a situation that I need, for instance,  filtered collection and filtered iterable in the same class. But this again depends on the situation, of course. Using such primitive objects is already verbose and adding suffixes would make composition of

[2018-06-27 16:54] Vatavuk commented on #913
@llorllale Just look at this:
[code]
This Collection suffix just adds noise. You have to focus more to remove
the noise in your head and to see what the code does.

And now look at this:
[code]
Pure and simple, and way faster to digest, in my opinion.

[2018-06-27 18:38] neonailol commented on #913
Also, another source of confusion is what is mutable and what is immutable, should it be seen when you look at the code or not?

[2018-06-27 18:41] Vatavuk commented on #913
@neonailol do we have mutable things in cactoos?

[2018-06-27 18:49] neonailol commented on #913
@Vatavuk `CollectionNoNulls` and some other `*NoNulls`  does not explicitly immutable, it delegates everything to an encapsulated collection, which can be of any type, and I may be just nitpicking here.

[2018-06-27 19:18] neonailol commented on #913
@llorllale I think this example is extrapolated too much

[code]

Because looking through the code, there is `FuncOf` instead of `FunctionOf` for example and many other different shorthands. So `FilteredCollection` can be shrunk to `FilteredColl` or smth better. When this pattern is used with lists, it does not look so bad

[code]

[2018-06-27 19:30] llorllale commented on #913
@SilasReinagel

Using [nominal adjectives](https://en.wikipedia.org/wiki/Nominalized_adjective) brings us almost back to nouns again. The wikipedia article has a nice example based on which I ask you: do you commonly speak the phrase as "the rich people and the poor people" or as "the rich and the poor"? I bet you use the latter. A very similar thing is going on here.

Consider that objects don't

[2018-06-27 19:32] llorllale commented on #913
@neonailol

It's because the interface is named [`Func`](https://github.com/yegor256/cactoos/blob/92b77ed9e2d34ddec1722393c36d3659c7bd1780/src/main/java/org/cactoos/Func.java#L49)

[2018-06-27 20:13] neonailol commented on #913
@llorllale And an interface named `Func` instead of `Function`

[2018-06-27 20:30] SilasReinagel commented on #913
@llorllale In my personal experience, brevity is good, but namespace collisions are more harmful than brevity is helpful. Codebases with namespace collisions are very hard to work in. IDEs work against you when there are enough collisions.

Nominalized adjectives are fine, although they are harder to understand in a codebase when viewed separate from their usage sites.

[2018-06-27 21:06] Vatavuk commented on #913
@SilasReinagel @neonailol @llorllale I dont think that naming collision is a real world scenario.
Im talking only about iterable, collection and list family (filtered, mapped and so on).

Is there a point of using filtered (collection) and filtered (iterable) in the same class?

We can import `Filtered` (collection) and use it like this:
[code]
If I am using` Filtered`(Iterable) somewhere in my co

[2018-06-27 21:14] Vatavuk commented on #913
@neonailol @llorllale @SilasReinagel
One more example, using suffixes:
[code]
Do I really need to care which underlying interfaces are used
to construct the result? I only care about the result, please do not show me this noise, because than I need to process why are we using list or collection or whatever. We should
protect ourselves from this additional complexity

[2018-06-28 08:52] vizotov commented on #913
@neonailol @llorllale @SilasReinagel @Vatavuk

Why do you need classes with the same name in different packages? To get the right interface on the
output?
Maybe it would be better to use a decorator instead?

Then this code:

[code]

will look like this:
[code]

or if we need Iterable:

[code]

IMO:
1. There should be no classes with the same names in different packages.
2. Instead of suffixes, de

[2018-06-28 11:09] Vatavuk commented on #913
@vizotov What interface does `Filtered` and `Joined` implements in your example? I don't understand how you solved the issue? We are using multiple `Filtered` objects just to give users more flexibility. But in the end, only one of those objects will be used per a class. I don't see a scenario when we need them both.

[2018-06-28 13:00] vizotov commented on #913
@Vatavuk
These classes can to implement `Iterable`, as is more generic in comparison with `Collection`. Or we will have to create an even more general interface. All relationships between these objects must be implemented using constructors. The use of only one of those objects per a class is an artificial restriction. If we can do without this restriction, why not?

When using decorators flexibil

[2018-06-28 13:54] Vatavuk commented on #913
@vizotov
Ok I think I understand now. This means that we will expand current `Filtered` (that implements `Iterable`)
with additional ctors that takes `Collection` and `List` and remove other `Filtered` objects. than we use decorators for different outputs.
I totaly agree. @llorllale This seems to me as the best approach.

[2018-06-28 13:57] vizotov commented on #913
@Vatavuk
Yeah, that's what I meant.

[2018-06-28 15:28] llorllale commented on #913
@Vatavuk @vizotov of all the classes with the same names, the ones from which package do we keep?

[2018-06-29 06:36] 0crat commented on #883
The job [#883](https://github.com/yegor256/cactoos/issues/883) assigned to @jsoroka[/z](https://www.0crat.com/u/jsoroka), here is [why](https://www.0crat.com/footprint/C63314D6Z/1800647723); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-06-29 06:41] 0crat commented on #884
The job [#884](https://github.com/yegor256/cactoos/issues/884) assigned to @jsoroka[/z](https://www.0crat.com/u/jsoroka), here is [why](https://www.0crat.com/footprint/C63314D6Z/1800652784); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-06-29 06:42] victornoel commented on #588
@llorllale I think we can try again?

[2018-06-29 06:46] 0crat commented on #885
The job [#885](https://github.com/yegor256/cactoos/issues/885) assigned to @vssekorin[/z](https://www.0crat.com/u/vssekorin), here is [why](https://www.0crat.com/footprint/C63314D6Z/1800657855); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-06-29 06:51] 0crat commented on #886
The job [#886](https://github.com/yegor256/cactoos/issues/886) assigned to @vssekorin[/z](https://www.0crat.com/u/vssekorin), here is [why](https://www.0crat.com/footprint/C63314D6Z/1800662906); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-06-29 06:56] 0crat commented on #887
The job [#887](https://github.com/yegor256/cactoos/issues/887) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/1800667963); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-29 13:30] victornoel commented on #588
@llorllale thanks

[2018-06-29 19:28] Vatavuk commented on #913
@llorllale I would leave those from `iterable` and `iterator` packages and would add suffixes `*Iterator` for `iterator` family.

[2018-06-29 19:30] Vatavuk commented on #913
@llorllale The option of leaving only `iterator` package is also fine with me.

[2018-06-29 20:09] llorllale commented on #913
@Vatavuk @vizotov allow me a little time to think it over

[2018-06-30 01:42] 0crat commented on #888
The job [#888](https://github.com/yegor256/cactoos/issues/888) assigned to @jonathanihm[/z](https://www.0crat.com/u/jonathanihm), here is [why](https://www.0crat.com/footprint/C63314D6Z/1810146583); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-06-30 01:47] 0crat commented on #891
The job [#891](https://github.com/yegor256/cactoos/issues/891) assigned to @jonathanihm[/z](https://www.0crat.com/u/jonathanihm), here is [why](https://www.0crat.com/footprint/C63314D6Z/1810151633); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-06-30 20:37] 0crat commented on #908
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-02 00:15] 0crat commented on #892
The job [#892](https://github.com/yegor256/cactoos/issues/892) assigned to @butenkos[/z](https://www.0crat.com/u/butenkos), here is [why](https://www.0crat.com/footprint/C63314D6Z/1830018194); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-07-02 00:36] 0crat commented on #897
The job [#897](https://github.com/yegor256/cactoos/issues/897) assigned to @butenkos[/z](https://www.0crat.com/u/butenkos), here is [why](https://www.0crat.com/footprint/C63314D6Z/1830038406); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-07-02 14:33] llorllale commented on #910
@neonailol FYI, when I agreed [here](https://github.com/yegor256/cactoos/issues/910#issuecomment-397646288) I meant it probably should belong to `org.cactoos.scalar`, not to create a new package for numbers.

[2018-07-02 14:38] llorllale commented on #826
@0crat in

[2018-07-02 14:38] 0crat commented on #826
@llorllale Job [#826](https://github.com/yegor256/cactoos/issues/826) is now in scope, role is `DEV`

[2018-07-02 14:38] 0crat commented on #826
@llorllale Job [#826](https://github.com/yegor256/cactoos/issues/826) is already in scope

[2018-07-02 14:40] 0crat commented on #826
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-07-02 14:57] llorllale commented on #908
@yegor256 I created milestone [`1.0'](https://github.com/yegor256/cactoos/milestone/1) for our initial release. `1.0` will be released once those issues - and all puzzles derived from them - are complete.

I have updated the `README` with a link pointing to the milestone.

[2018-07-02 14:57] #908 closed

[2018-07-02 15:18] llorllale commented on #913
@vizotov @Vatavuk so we are now discussing two issues here:

1. Naming convention
2. Remove "unnecessary" classes

@vizotov can you please open an issue for the second point?

With that said, I think you both agree on removing unnecessary suffixes like "Collection", "List", "Text", etc?

[2018-07-02 15:21] Vatavuk commented on #913
@llorllale Yes I vote for removing suffixes

[2018-07-02 15:37] 0crat commented on #913
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-02 16:54] vizotov opened #915 "Remove "unnecessary" classes"
Based on the discussion in issue #913, we need to remove duplicate classes with the same name in different packages and leave only one class for each name.

In other classes, constructors that accept instances of removed classes as parameters must use instances of the remaining classes with the same name.

To replace the use of removed class constructors, it is necessary to implement or verify the

[2018-07-02 16:54] 0crat commented on #915
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-02 16:54] 0crat commented on #915
@vizotov[/z](https://www.0crat.com/u/vizotov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-02 16:57] vizotov commented on #913
@llorllale
Issue #915 is created.

Create an issue for removing suffixes?

[2018-07-02 18:23] floreasorin commented on #902
This issues happens because an iterator can be iterated over only once.
Before, there was only once check, now there are multiple checks in https://github.com/yegor256/cactoos/blob/a1e27f30945f217146ee23af795db7ae9da4850a/src/test/java/org/cactoos/collection/BehavesAsCollection.java#L67
and this gets called multiple times
https://github.com/yegor256/cactoos/blob/635ff72b524f88a76f7d14100d9b977fc60

[2018-07-02 19:57] neonailol commented on #910
@llorllale I am ok with that

[2018-07-02 20:21] neonailol commented on #852
@llorllale one of the core principles of EO is `no nulls`, so why `no nulls` is not the default behaviour, and this classes is not used internally to decorate everything?

[2018-07-02 20:29] llorllale commented on #852
@neonailol the `*NoNulls` classes also check *internal* if there are `null` positions *inside* the container

[2018-07-02 20:39] llorllale commented on #902
@floreasorin see #911

The `CollectionOf(Iterator<E> iter)` ctor needs to be removed.

[2018-07-02 20:42] llorllale commented on #913
@vizotov we'll handle suffixes in this issue ("class naming convention")

[2018-07-02 23:57] butenkos opened #917 "method equals() in CollectionEnvelope should be extended"
method `public boolean equals(Object obj)` of `CollectionEnvelope` should be extended - it should return `true` when `this == obj`, otherwise it's performing a redundant comparison of all the elements of two collections even though both collections are the same object

[2018-07-02 23:57] 0crat commented on #917
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-03 07:50] Zefick commented on #913
FYI one more possible solution of the problem is factory classes:

[code]
I understand that the chances of accepting this approach are too low because of library's principle but it's the best you could do.

[2018-07-03 08:22] yegor256 commented on #908
@llorllale cool!

[2018-07-03 16:06] llorllale commented on #917
@0crat in

[2018-07-03 16:07] 0crat commented on #917
Job [#917](https://github.com/yegor256/cactoos/issues/917) is now in scope, role is `DEV`

[2018-07-03 16:07] 0crat commented on #917
@llorllale Job [#917](https://github.com/yegor256/cactoos/issues/917) is already in scope

[2018-07-03 16:08] 0crat commented on #917
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @butenkos[/z](https://www.0crat.com/u/butenkos)

[2018-07-03 20:02] llorllale opened #919 "Joined Input"
`cactoos-http` works mostly at the byte-stream level and needs an `Input` analogous to Java's [SequenceInputStream](https://docs.oracle.com/javase/8/docs/api/java/io/SequenceInputStream.html) in order to implement decorators, such as in yegor256/cactoos-http#21.

I believe we should create a new `Joined` input.

Note: Providing an overloaded ctor for `InputStreamOf` would not reveal intention as c

[2018-07-03 20:05] llorllale commented on #919
Done in 63ac287f80901636bb04610850f700a2b900e9f6

[2018-07-03 20:05] #919 closed

[2018-07-03 20:05] llorllale commented on #919
@rultor release, tag is `0.36`

[2018-07-03 20:08] rultor commented on #919
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15210-402277009)

[2018-07-03 20:22] rultor commented on #919
@llorllale Done! FYI, the full log is [here](http://www.rultor.com/t/15210-402277009) (took me 13min)

[2018-07-03 20:22] 0crat commented on #919
Job `gh:yegor256/cactoos#919` is not assigned, can't get performer

[2018-07-03 20:22] 0crat commented on #919
The job is not in WBS, won't close the order

[2018-07-03 23:41] 0crat commented on #915
The job [#915](https://github.com/yegor256/cactoos/issues/915) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C63314D6Z/1842346241); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-07-03 23:42] 0crat commented on #915
Job `gh:yegor256/cactoos#915` already assigned to @llorllale, can't assign to @llorllale

[2018-07-03 23:42] 0crat commented on #915
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vizotov[/z](https://www.0crat.com/u/vizotov)

[2018-07-03 23:42] 0crat commented on #915
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-07-04 00:59] llorllale commented on #913
@yegor256 @Zefick @Vatavuk @SilasReinagel @vizotov @neonailol

Let's codify this part of our naming convention. Here is what I've got:

These are the changes I think should happen:

Before|After
----|----
org.cactoos.bytes.HexBytes|org.cactoos.bytes.HexOf
org.cactoos.collection.SolidCollection|org.cactoos.collection.Solid
org.cactoos.collection.StickyCollection|org.cactoos.collection.Sticky
org.ca

[2018-07-04 01:00] llorllale commented on #913
@0crat waiting

[2018-07-04 01:00] llorllale commented on #915
@0crat waiting on outcome of #913

[2018-07-04 01:01] 0crat commented on #913
@llorllale The impediment for [#913](https://github.com/yegor256/cactoos/issues/913) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-07-04 01:01] 0crat commented on #915
@llorllale The impediment for [#915](https://github.com/yegor256/cactoos/issues/915) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-07-04 01:01] 0crat commented on #913
@llorllale Job [#913](https://github.com/yegor256/cactoos/issues/913) is not in the agenda of @llorllale[/z](https://www.0crat.com/u/llorllale), can't set impediment

[2018-07-04 07:21] krzyk opened #920 "All concrete classes implementing Scalar/Func/BiFunc should override equals and hashCode"
To make classes like `IoCheckedScalar` more useful we should implement equals and hashCode methods in them.
Currently one has to use `value()` to get the underlying object and call equals/hashCode there, it shouldn't be required.

[2018-07-04 07:21] 0crat commented on #920
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-04 08:38] 0crat commented on #883
@jsoroka[/z](https://www.0crat.com/u/jsoroka) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-04 09:40] 0crat commented on #884
@jsoroka[/z](https://www.0crat.com/u/jsoroka) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-04 09:40] 0crat commented on #885
@vssekorin[/z](https://www.0crat.com/u/vssekorin) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-04 09:41] 0crat commented on #886
@vssekorin[/z](https://www.0crat.com/u/vssekorin) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-04 11:37] 0crat commented on #887
@victornoel[/z](https://www.0crat.com/u/victornoel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-04 11:51] victornoel commented on #887
@0crat wait I'm working on this, see #918 for discussions on the matter.

[2018-07-04 11:53] 0crat commented on #887
@victornoel The impediment for [#887](https://github.com/yegor256/cactoos/issues/887) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-07-04 12:03] 0crat commented on #898
The job [#898](https://github.com/yegor256/cactoos/issues/898) assigned to @vssekorin[/z](https://www.0crat.com/u/vssekorin), here is [why](https://www.0crat.com/footprint/C63314D6Z/1851206082); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-07-04 18:33] 0crat commented on #901
The job [#901](https://github.com/yegor256/cactoos/issues/901) assigned to @danielpalafox[/z](https://www.0crat.com/u/danielpalafox), here is [why](https://www.0crat.com/footprint/C63314D6Z/1851840263); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-07-04 18:58] 0crat commented on #902
The job [#902](https://github.com/yegor256/cactoos/issues/902) assigned to @danielpalafox[/z](https://www.0crat.com/u/danielpalafox), here is [why](https://www.0crat.com/footprint/C63314D6Z/1851864858); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-07-04 21:58] 0crat commented on #903
The job [#903](https://github.com/yegor256/cactoos/issues/903) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/1852166697); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-07-05 02:38] 0crat commented on #888
@jonathanihm[/z](https://www.0crat.com/u/jonathanihm) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-05 02:38] 0crat commented on #891
@jonathanihm[/z](https://www.0crat.com/u/jonathanihm) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-05 06:31] neonailol commented on #913
This comes from the idea that we must have one class per file, but i don't see why it should be that way, i tend to put close related classes in one file, and this is where name clashes can happen, in java we have restriction, that file can have only one public class, i.e. this is legal code:
[code]
But I mainly write in Koltin where are no such restrictions, and one can put any number of classes

[2018-07-05 13:32] 0crat commented on #905
@llorllale[/z](https://www.0crat.com/u/llorllale) not enough funds available in the project, can't set budget of job [#905](https://github.com/yegor256/cactoos/issues/905), see [§21](http://www.zerocracy.com/policy.html#21); @baybatu[/z](https://www.0crat.com/u/baybatu) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-07-05 14:01] llorllale commented on #913
@neonailol it comes from the idea that cohesive methods tend to do just one task, and thus tend to have the least amount of statements.

[2018-07-05 14:04] butenkos opened #922 "equals() and hashCode() of MapEnvelope should be tolerant to nulls"
Methods `equals()` and `hashCode()` of abstract class `MapEnvelope` fail with `NullPointerException` when enveloped `Map` contains `null` values.
There are unit-tests covering this behaviour: test case `MapEnvelopeTest`, methods `hashCodeFailsOnNull()` and `equalFailsOnNull()`.
Is it really a desired behaviour? A lot of `Map` implementations (including standard implementations from jdk)  support `

[2018-07-05 14:04] 0crat commented on #922
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-05 20:27] neonailol opened #923 "Sets package"
Currently, there are no decorators over sets in a library. Are they planned for the future?

[2018-07-05 23:31] llorllale commented on #922
@butenkos thanks, you're right.

We have `MapNoNulls` decorator that users can use if `null` is not tolerated.

[2018-07-05 23:31] llorllale commented on #922
@0crat in

[2018-07-05 23:31] 0crat commented on #922
@llorllale Job [#922](https://github.com/yegor256/cactoos/issues/922) is now in scope, role is `DEV`

[2018-07-05 23:32] 0crat commented on #922
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @butenkos[/z](https://www.0crat.com/u/butenkos)

[2018-07-05 23:35] llorllale commented on #923
@neonailol no plans. I feel we'll likely end up removing `List` decorators in #915.

[2018-07-07 12:14] llorllale commented on #923
@neonailol I agree with having `SetEnvelope` and `SetOf`

[2018-07-07 13:51] victornoel commented on #887
@0pdd this is fixed in #926.

[2018-07-07 14:20] victornoel opened #927 "What is the expected behaviour of BehavesAsMap?"
The behaviour of `BehavesAsMap` is ambiguous.

If I write `new BehavesAsMap("a", "b")`, I am not expecting `b` to be anything else than the value of the key `a`.

But many tests makes this assumption:
[code]

It should mean that `b` is indeed the value of `a` and the tests should be modified to comply with this.

[2018-07-07 14:20] 0crat commented on #927
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-07 15:01] llorllale commented on #927
@victornoel which tests don't assume that `b` is the value of `a`?

[2018-07-07 15:04] victornoel commented on #927
@llorllale
[code]

Also note that I edited the description, I won't take care of this in #903, I already worked too much on it :)

[2018-07-07 15:10] victornoel commented on #903
@0crat waiting for #928

[2018-07-07 15:12] 0crat commented on #903
@victornoel The impediment for [#903](https://github.com/yegor256/cactoos/issues/903) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-07-07 15:47] llorllale commented on #927
@victornoel you're right, the problem is in `BehavesAsMap.matchesSafely`

[2018-07-07 15:48] llorllale commented on #927
@victornoel can you rephrase this ticket as a bug ?

[2018-07-07 15:48] 0crat commented on #927
Job [#927](https://github.com/yegor256/cactoos/issues/927) is now in scope, role is `DEV`

[2018-07-07 15:57] 0crat commented on #927
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-07-07 16:15] victornoel commented on #927
@llorllale I rewrote the description

[2018-07-08 09:39] 0crat commented on #908
@llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#908](https://github.com/yegor256/cactoos/issues/908), since the job is not in scope anymore

[2018-07-08 09:39] 0crat commented on #908
The job [#908](https://github.com/yegor256/cactoos/issues/908) is now out of scope

[2018-07-09 12:24] #897 closed

[2018-07-09 12:24] 0pdd commented on #897
The puzzle `878-f712c12a` has disappeared from the source code, that's why I closed this issue.

[2018-07-09 12:24] 0pdd opened #929 "Base64Text.java:34-36: Continue refactoring all classes..."
The puzzle `897-9c9a3952` from #897 has to be resolved:

https://github.com/yegor256/cactoos/blob/504649dc80f245fc656ddac3f381c7f5028a4483/src/main/java/org/cactoos/text/Base64Text.java#L34-L36

The puzzle was created by rultor on 09-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and t

[2018-07-09 12:24] 0pdd commented on #788
@krzyk the puzzle [#929](https://github.com/yegor256/cactoos/issues/929) is still not solved; solved: [#849](https://github.com/yegor256/cactoos/issues/849), [#878](https://github.com/yegor256/cactoos/issues/878), [#897](https://github.com/yegor256/cactoos/issues/897).

[2018-07-09 12:24] 0pdd commented on #849
@0pdd the puzzle [#929](https://github.com/yegor256/cactoos/issues/929) is still not solved; solved: [#878](https://github.com/yegor256/cactoos/issues/878), [#897](https://github.com/yegor256/cactoos/issues/897).

[2018-07-09 12:24] 0pdd commented on #878
@0pdd the puzzle [#929](https://github.com/yegor256/cactoos/issues/929) is still not solved; solved: [#897](https://github.com/yegor256/cactoos/issues/897).

[2018-07-09 12:24] 0pdd commented on #897
@0pdd the puzzle [#929](https://github.com/yegor256/cactoos/issues/929) is still not solved.

[2018-07-09 12:45] 0crat commented on #897
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @butenkos[/z](https://www.0crat.com/u/butenkos), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-09 12:45] 0crat commented on #897
The job [#897](https://github.com/yegor256/cactoos/issues/897) is now out of scope

[2018-07-09 13:35] neonailol opened #930 "Skipped constructors API inconsistency"
Skipped decorators constructors have inconsistency it parameters order, I expect that every constructor takes the first parameter to be a number elements to skip, like in `HeadOf` and `TailOf`, but in constructors, they are in wrong order, this is true for collection, iterable and iterator decorators.

https://github.com/yegor256/cactoos/blob/504649dc80f245fc656ddac3f381c7f5028a4483/src/main/java/

[2018-07-09 13:35] 0crat commented on #930
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-09 13:35] 0crat commented on #930
@neonailol[/z](https://www.0crat.com/u/neonailol) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-09 13:49] 0crat commented on #897
Order was finished, quality is "good": +38 point(s) just awarded to @butenkos[/z](https://www.0crat.com/u/butenkos)

[2018-07-09 13:50] 0crat commented on #897
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-07-09 13:52] llorllale commented on #930
@0crat in

[2018-07-09 13:53] llorllale commented on #930
@neonailol let's have the `int` arg first. WDYT?

[2018-07-09 14:12] 0crat commented on #930
Job [#930](https://github.com/yegor256/cactoos/issues/930) is now in scope, role is `DEV`

[2018-07-09 14:12] 0crat commented on #930
@llorllale Job [#930](https://github.com/yegor256/cactoos/issues/930) is already in scope

[2018-07-09 14:14] 0crat commented on #930
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-07-09 14:17] neonailol commented on #930
@llorllale as long as it consistent across the project, I am good with that.

[2018-07-09 18:12] llorllale commented on #913
@neonailol @Vatavuk @vizotov @Zefick are there any objections to [this](https://github.com/yegor256/cactoos/issues/913#issuecomment-402332247) proposal?

I want this issue closed by friday. Thanks in advance!

[2018-07-09 23:59] butenkos commented on #892
@Vatavuk the pull request was merged, kindly close the ticket. Thank you

[2018-07-10 01:21] DanielPalafox commented on #872
@0crat wait for reviewer

[2018-07-10 01:21] 0crat commented on #872
@llorllale Job [#872](https://github.com/yegor256/cactoos/issues/872) is already in scope

[2018-07-10 01:21] 0crat commented on #872
@DanielPalafox The impediment for [#872](https://github.com/yegor256/cactoos/issues/872) was registered successfully by @danielpalafox[/z](https://www.0crat.com/u/danielpalafox)

[2018-07-11 11:39] neonailol opened #932 "Questionable API design with var args"
Example:

[code]

When I look at this code, I have no idea what to expect.
Is it joins string using default delimiter?
Is it uses the first argument as a delimiter? or last?

This happens to me a lot with constructors that take the first argument and treat it special.
And all other arguments are of the same type, it is very hard to read and process.

And I wonder, is these constructors are really

[2018-07-11 11:39] 0crat commented on #932
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-11 11:39] 0crat commented on #932
@neonailol[/z](https://www.0crat.com/u/neonailol) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-11 13:47] #892 closed

[2018-07-11 13:50] Vatavuk commented on #913
@llorllale this is fine with me

[2018-07-11 14:03] 0crat commented on #892
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @butenkos[/z](https://www.0crat.com/u/butenkos), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-11 14:03] 0crat commented on #892
The job [#892](https://github.com/yegor256/cactoos/issues/892) is now out of scope

[2018-07-11 14:35] vizotov commented on #913
@llorllale no objections.

[2018-07-11 21:51] elenavolokhova commented on #892
@0crat quality good

[2018-07-11 21:53] 0crat commented on #892
Order was finished, quality is "good": +38 point(s) just awarded to @butenkos[/z](https://www.0crat.com/u/butenkos)

[2018-07-11 21:53] 0crat commented on #892
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-07-11 22:31] butenkos commented on #893
@0crat wait for review #893

[2018-07-11 22:32] 0crat commented on #893
@butenkos The impediment for [#893](https://github.com/yegor256/cactoos/issues/893) was registered successfully by @butenkos[/z](https://www.0crat.com/u/butenkos)

[2018-07-11 23:17] llorllale commented on #932
@neonailol

`JoinedText` in particular is used extensively just like this in `cactoos-http`.

[2018-07-12 21:01] llorllale opened #933 "Let's make CheckedScalar wrap runtime exceptions as well"
It's the behavior I expected and I don't see a reason not to.

**CC** @Vatavuk

[2018-07-13 07:42] DanielPalafox commented on #901
@0crat wait for reviewer

[2018-07-13 07:42] 0crat commented on #901
@DanielPalafox The impediment for [#901](https://github.com/yegor256/cactoos/issues/901) was registered successfully by @danielpalafox[/z](https://www.0crat.com/u/danielpalafox)

[2018-07-14 12:49] fabriciofx opened #935 "Let's move FakeLogger and FakeHandler to public scope or to cactoos-matchers"
It's usual test a library that logs. So, to achieve this, we could use `FakeLogger` and `FakeHandler`. But they aren't in a public scope to allow it. So, let's move them to a public scope in Cactoos or move them to [cactoos-matchers](https://github.com/llorllale/cactoos-matchers). IMHO, I think the second option better...

[2018-07-14 12:49] 0crat commented on #935
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-15 10:07] dfrau32 commented on #904
@0crat resign

[2018-07-15 10:16] 0crat commented on #904
@dfrau32 The user @dfrau32[/z](https://www.0crat.com/u/dfrau32) resigned from [#904](https://github.com/yegor256/cactoos/issues/904), please stop working. Reason for job resignation: Order was cancelled

[2018-07-15 10:20] 0crat commented on #904
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @dfrau32[/z](https://www.0crat.com/u/dfrau32)

[2018-07-16 08:21] Vatavuk commented on #933
@llorllale Although it is uncommon to wrap `NullPointerException, IllegalStateException`  etc, I don't see any negative side to this. The plus side is that it will make user easier to transform all sorts of runtime exceptions provided by various libraries to checked ones.

[2018-07-16 14:41] llorllale commented on #933
@Vatavuk I'm going to backtrack from this for now.

My original requirement was to wrap a specific runtime exception into a specific checked exception, not to wrap *all* exceptions. I realize I can hack a "solution" using `ScalarWithFallback` but it isn't ideal.

I guess more thought needs to be put before changing `CheckedScalar`.

[2018-07-16 14:41] #933 closed

[2018-07-16 14:57] 0crat commented on #933
Job `gh:yegor256/cactoos#933` is not assigned, can't get performer

[2018-07-16 14:57] 0crat commented on #933
The job is not in WBS, won't close the order

[2018-07-18 13:04] vizotov opened #936 "It is needed to add the `ForEach` class to use for iteration instead of `And` class."
Using `And` class to iterate through a collection is hard to understand.

[code]

Here, the class name does not match the purpose with which it is used. For such use, even added constructors that take parameters of type `Proc`, although it is clear that `Proc` can't have a result of type `Boolean`.

In order to correct this situation, I propose:
1. For the purpose of iteration is to create a `ForE

[2018-07-18 13:04] 0crat commented on #936
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-18 13:04] 0crat commented on #936
@vizotov[/z](https://www.0crat.com/u/vizotov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-18 13:32] vizotov opened #937 "Copy/paste footprints in Javadoc"
1. JavaDoc for class `org.cactoos.collection.Shuffled` contains description from class `Sorted`:

[code]

2. Interface `Output` contains wrong return type and description in the method Javadoc:
[code]

[2018-07-18 13:32] 0crat commented on #937
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-18 13:32] 0crat commented on #937
@vizotov[/z](https://www.0crat.com/u/vizotov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-19 04:18] DanielPalafox commented on #902
@0crat wait for reviewer

[2018-07-19 11:19] wladyan commented on #936
I think implementation should be like this:

[code]

[2018-07-19 16:34] vizotov commented on #936
@wladyan, an idea about implementing interface `Proc` is good. But it must be `Proc<X>` instead of `Proc<Proc<X>>`.

Then a usage of `ForEach` will be:
[code]

PS In your implementation it is needed to remove parameter of `exec` method and put it into constructor.

[2018-07-19 17:03] vizotov commented on #936
@wladyan, this implementation will prevent lazy evaluations.

[2018-07-19 17:30] 0crat commented on #936
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-21 19:54] llorllale commented on #937
@vizotov see a2a51f4df592e7543b729e5a7d57f3ef050dd14b. Is that better?

[2018-07-21 20:13] vizotov commented on #937
@llorllale, yes.

[2018-07-21 20:14] #937 closed

[2018-07-21 20:29] 0crat commented on #937
Job `gh:yegor256/cactoos#937` is not assigned, can't get performer

[2018-07-21 20:29] 0crat commented on #937
The job is not in WBS, won't close the order

[2018-07-22 15:34] victornoel opened #939 "Add an AppendOutputTo or equivalent"
`OutputTo` represents an `Output` that outputs somewhere else, in particular `File`s.

There should be something to append to a file, not only write over it. Without this, one is forced to use `FileOutputStream` or `FileWriter` itself instead of an `Output`.

I propose to introduce a separated class, ~~`AppendOutputTo`~~ `AppendTo` to represent this concept. This will prevent having a bunch of boo

[2018-07-22 15:34] 0crat commented on #939
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-22 15:39] victornoel opened #940 "We need the Cactoos' way to write to an Output."
After doing my research on the available classes in Cactoos, I couldn't find a way to nicely write to a file or any other `Output`.

Or more precisely to write from an `Input` to an `Output`.

I am expecting to be able to write something like:
[code]

I used an implementation of `Proc` in this example because this is a clearly a procedural problem.

I named it `InOutProc` but I'm not very happy wi

[2018-07-22 15:39] 0crat commented on #940
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-22 19:40] vizotov commented on #939
@victornoel,
According to issue #913, the class name must be different. I propose a class `Appendable` that implements the `Output` interface and accepts the types `File`, `Path`, etc as parameters, but not the type `Output`. Therefore, the `Appendable` class can be used as the lowest level wrapper and will be transparent for external wrappers to decide whether we append to a file or overwrite it.

[2018-07-23 06:53] victornoel commented on #940
@vizotov you are right, thank you :)

[2018-07-23 06:53] #940 closed

[2018-07-23 07:09] 0crat commented on #940
Job `gh:yegor256/cactoos#940` is not assigned, can't get performer

[2018-07-23 07:09] 0crat commented on #940
The job is not in WBS, won't close the order

[2018-07-26 07:48] victornoel opened #941 "Add a new Text implementation named Strict that validates a regex of a Text."
In zold-io/java-api we have a lot of text matching to do (see zold-io/java-api#44, zold-io/java-api#45, zold-io/java-api#47), and the same pattern is present again and again:

[code]

I think Cactoos should provide `Strict` class implementing `Text`, similar to `Text.NoNulls` but in its own class file, validating a wrapped Text, for this behaviour:
[code]

[2018-07-26 07:49] 0crat commented on #941
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-26 17:45] 0crat commented on #885
The user @vssekorin[/z](https://www.0crat.com/u/vssekorin) resigned from [#885](https://github.com/yegor256/cactoos/issues/885), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-26 17:45] 0crat commented on #885
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @vssekorin[/z](https://www.0crat.com/u/vssekorin)

[2018-07-26 17:45] 0crat commented on #886
The user @vssekorin[/z](https://www.0crat.com/u/vssekorin) resigned from [#886](https://github.com/yegor256/cactoos/issues/886), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-26 17:45] 0crat commented on #888
The user @jonathanihm[/z](https://www.0crat.com/u/jonathanihm) resigned from [#888](https://github.com/yegor256/cactoos/issues/888), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-26 17:46] 0crat commented on #891
The user @jonathanihm[/z](https://www.0crat.com/u/jonathanihm) resigned from [#891](https://github.com/yegor256/cactoos/issues/891), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-26 17:47] 0crat commented on #898
The user @vssekorin[/z](https://www.0crat.com/u/vssekorin) resigned from [#898](https://github.com/yegor256/cactoos/issues/898), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-26 17:47] 0crat commented on #898
Job `gh:yegor256/cactoos#898` is not assigned, can't get performer

[2018-07-26 17:47] 0crat commented on #898
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @vssekorin[/z](https://www.0crat.com/u/vssekorin)

[2018-07-26 17:49] 0crat commented on #905
The user @baybatu[/z](https://www.0crat.com/u/baybatu) resigned from [#905](https://github.com/yegor256/cactoos/issues/905), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-26 17:49] 0crat commented on #905
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @baybatu[/z](https://www.0crat.com/u/baybatu)

[2018-07-26 17:56] g4s8 commented on #905
@0crat status

[2018-07-26 17:57] 0crat commented on #905
@g4s8 This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#905](https://github.com/yegor256/cactoos/issues/905) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is no

[2018-07-27 03:36] carlosmiranda opened #942 "TextEnvelope.equals() is broken"
This little gem of a test fails:

[code]

Result:
[code]

This works:
[code]
In both cases, this is wrong, because it violates [two important properties](https://docs.oracle.com/javase/7/docs/api/java/lang/Object.html#equals(java.lang.Object)) of `equals()`:

* Violated in the first case

* Violated in the second case, because `new TextOf("a").equals("a")` returns `true`, but `"a".equals(new TextO

[2018-07-27 03:36] 0crat commented on #942
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-27 03:36] 0crat commented on #942
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-27 16:04] fabriciofx commented on #935
@llorllale The problem is very often we need validate some log messages. Thus, a `FakeLogger` is necessary. Should I reimplement a new `FakeLogger` for each application/library? Cactoos already has one...

[2018-07-28 13:58] llorllale commented on #939
@victornoel I agree with @vizotov but I would name this class `AppendTo`.

[2018-07-28 13:59] victornoel commented on #939
@vizotov @llorllale seems good to me, I will update the description.

[2018-07-28 16:13] vizotov commented on #939
@llorllale, I agree.

[2018-07-28 17:30] llorllale commented on #941
@victornoel sounds like something that would belong to llorllale/cactoos-matchers...

[2018-07-28 17:39] victornoel commented on #941
@llorllale not a matcher as in hamcrest matcher, I mean something that encapsulates a `Pattern`, see my example. It's not for tests, it's for building behaviour of objects.

[2018-07-28 17:42] llorllale commented on #942
@0crat in

[2018-07-28 17:46] 0crat commented on #942
Job [#942](https://github.com/yegor256/cactoos/issues/942) is now in scope, role is `DEV`

[2018-07-28 17:46] 0crat commented on #942
@llorllale Job [#942](https://github.com/yegor256/cactoos/issues/942) is already in scope

[2018-07-28 17:46] 0crat commented on #942
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-07-29 13:38] llorllale commented on #935
@fabriciofx neither cactoos nor cactoos-matchers are focused on providing "fake" objects.

[2018-07-29 13:51] llorllale commented on #939
@0crat in

[2018-07-29 13:51] 0crat commented on #939
@llorllale Job [#939](https://github.com/yegor256/cactoos/issues/939) is now in scope, role is `DEV`

[2018-07-29 13:52] 0crat commented on #939
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-07-29 13:55] llorllale commented on #941
@victornoel I understand. The problem is I'm having trouble picturing this functionality in cactoos because it would be unique in the sense that it's "testing something", rather than enhancing an existing functionality...

[2018-07-29 14:03] victornoel commented on #941
@llorllale it is a bit similar to the various `NonNull` implementations of some of the cactoos interfaces: they are testing something but do not enhance an existing functionality.

[2018-07-29 14:31] victornoel commented on #941
@llorllale yep, that seems better, I agree `Matched` is not very clear actually. I will update the description

[2018-07-29 19:29] victornoel commented on #941
@llorllale ok, description updated!

[2018-07-29 19:30] llorllale commented on #941
@0crat in

[2018-07-29 19:30] 0crat commented on #941
@llorllale Job [#941](https://github.com/yegor256/cactoos/issues/941) is now in scope, role is `DEV`

[2018-07-29 19:31] 0crat commented on #941
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-07-29 19:31] llorllale commented on #941
@victornoel btw, `Strict` should be in its own class file

[2018-07-29 19:33] victornoel commented on #941
@llorllale right, I updated the description to avoid ambiguity.

[2018-07-31 18:02] victornoel commented on #941
@llorllale by the way this could take also a `Predicate` and other ways to test for something and not only a regex. The new naming made me think of that.

[2018-07-31 21:06] paulodamaso opened #943 "Finish MkHook implementation"
`MkHook` does not implement all `Hook` interface methods; it throws an `UnsupportedOperationException` when this method is called. Please implement this method acordingly and cover `MkHook` with tests.

[2018-07-31 21:06] 0crat commented on #943
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-07-31 21:06] 0crat commented on #943
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-31 21:07] #943 closed

[2018-07-31 21:43] llorllale commented on #941
@victornoel sure, but we use `Func<?, Boolean>` here in cactoos

[2018-08-01 15:56] victornoel opened #944 "Should we stop using checked exceptions?"
I noticed the pain it can be to use all the interfaces like `Text` or `Scalar` that throws `Exception`.
You have to wrap them most of the time in `IoCheckedXXX` or `UncheckedText`.

In the end it feels like all this gymnastic is defeating the whole purpose of having cached exceptions. And the only places where we catches exceptions in cactoos are… where we catch the superclass `Exception`!

I just

[2018-08-01 15:56] 0crat commented on #944
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-08-01 19:38] llorllale commented on #944
@victornoel

*sigh* it's a relevant discussion but I'm parking this one for the moment being...

Let's first get #913 and #915 - and their aftermaths! - out of the way.

[2018-08-02 14:40] victornoel commented on #944
@llorllale :+1: seems good to me!

This is a big one, we can already start discussing it with interested parties maybe (@amihaiemil? @skapral? :)

[2018-08-03 08:54] skapral commented on #944
@victornoel the main purpose I wrote this post is to prove that there is nothing good in checked exceptions for "Elegant Objects" approach. And Cactoos IMO is very representative example of that. These `UncheckedScalar` stuff and similar classes which wrap checked exceptions to unchecked is just a burden, and a cheat for overriding the principles.

So, I'd go further and just:
- Remove all `throws

[2018-08-06 20:52] fabriciofx commented on #935
@llorllale Just out of curiosity: why not?

[2018-08-07 12:59] llorllale commented on #935
@fabriciofx I think the answer is in the README

[2018-08-13 04:14] peter-kehl opened #945 "Code snippets in README.md to be compilable"
Make code snippets in README.md compilable (for example, if included in a function body). They currently miss
 * package names. Instead of imports, change class names to full ones. E.g. `Filtered` => `org.cactoos.collection.Filtered`. See 'next level' below.
 * fill in any missing pieces, e.g. `String names[]={...}`.

The next level: Write a shell script (or platform-independent: a Java program),

[2018-08-13 04:14] 0crat commented on #945
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-08-13 15:02] krzyk opened #946 "Upgrade qulice to 0.18"
There have been few changes in it (so it might be easier to do upgrade in steps -> 0.17.5, 0.17.6, 0.18):
- removal of AvoidInstantiatingObjectsInLoops (so each suppression of that should be removed)
- add of EmptyLinesCheck (each class member should have a single line between itself and another class member) - https://github.com/teamed/qulice/issues/576
- threaded checkstyle and PMD execution (sh

[2018-08-13 15:02] 0crat commented on #946
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-08-13 15:02] 0crat commented on #946
@krzyk[/z](https://www.0crat.com/u/krzyk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-16 15:11] llorllale commented on #945
@peter-kehl why would we want the code snippets to be compilable?

[2018-08-20 06:16] peter-kehl commented on #945
Currently those snippets imply "You'll have to figure out yourself," which is against (and a quote from) https://www.yegor256.com/2018/05/08/open-source-attributes.html.

[2018-08-25 05:49] wladyan opened #947 "The design of envelope classes"
I think the design of `IterableEnvelope`, `CollectionEnvelope`, `ListEnvelope` is wrong. I gess, it would be better to delegate all method calls to encapsulated object, instead to define of method implementation. Envelopes must don't care about mutability protection, for this goal we have decorators. For example, `ListOf` class use `Collections.unmodifiableList` decorator. May be I'm wrong. Help m

[2018-08-25 05:50] 0crat commented on #947
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-08-25 05:50] 0crat commented on #947
@wladyan[/z](https://www.0crat.com/u/wladyan) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-13 15:35] mborra opened #949 "DateOf"
Hi,

I have a problem with the conversion using the DateOf () class. I have this snippet:

`new DateOf("2018-01-01", "yyyy-MM-dd").value().`

And the code raise the exception:

`java.time.DateTimeException: Unable to obtain LocalTime from TemporalAccessor: {},ISO resolved to 2018-01-01 of type java.time.format.Parsed`

I have see the code:

`LocalDateTime.from(
                    formatter.parse(

[2018-09-13 15:35] 0crat commented on #949
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-09-13 15:35] 0crat commented on #949
@mborra[/z](https://www.0crat.com/u/mborra) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-19 09:07] piotrkot opened #950 "SumOf does not work on Iterable<Integer>"
SumOf does not use bounded type parameters. For that it doesn't work when called
[code]
If SumOf was implemented like:
[code]
instead of
[code]
that would compile.
Please, fix it.

[2018-09-19 09:08] 0crat commented on #950
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-09-19 09:08] 0crat commented on #950
@piotrkot[/z](https://www.0crat.com/u/piotrkot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-20 20:45] llorllale commented on #949
@mborra you want to contribute? Feel free to submit a PR for this.

In this case, I think the solution would be to just use the old fashioned `SimpleDateFormat`. After all, the purpose of `DateOf` is to provide an instance of the old fashioned `Date`.

[2018-09-20 20:59] llorllale commented on #903
@0crat boost 4x

[2018-09-20 21:01] 0pdd commented on #887
The puzzle `861-703fedf3` has disappeared from the source code, that's why I closed this issue.

[2018-09-20 21:01] #887 closed

[2018-09-20 21:01] 0pdd commented on #551
@neonailol 5 puzzles [#883](https://github.com/yegor256/cactoos/issues/883), [#884](https://github.com/yegor256/cactoos/issues/884), [#885](https://github.com/yegor256/cactoos/issues/885), [#886](https://github.com/yegor256/cactoos/issues/886), [#888](https://github.com/yegor256/cactoos/issues/888) are still not solved; solved: [#861](https://github.com/yegor256/cactoos/issues/861), [#887](https:/

[2018-09-20 21:01] 0pdd commented on #861
@0pdd 5 puzzles [#883](https://github.com/yegor256/cactoos/issues/883), [#884](https://github.com/yegor256/cactoos/issues/884), [#885](https://github.com/yegor256/cactoos/issues/885), [#886](https://github.com/yegor256/cactoos/issues/886), [#888](https://github.com/yegor256/cactoos/issues/888) are still not solved; solved: [#887](https://github.com/yegor256/cactoos/issues/887).

[2018-09-20 21:17] #903 closed

[2018-09-20 21:17] 0pdd commented on #903
The puzzle `588-3a40a452` has disappeared from the source code, that's why I closed this issue.

[2018-09-20 21:17] 0pdd opened #951 "pom.xml:154-160: In the continuation of #588, all the..."
The puzzle `903-fd48e847` from #903 has to be resolved:

https://github.com/yegor256/cactoos/blob/c49e9a258162d27754368400a2fc2a8075fea2cf/pom.xml#L154-L160

The puzzle was created by Victor Noël on 07-Jul-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _remove

[2018-09-20 21:17] 0pdd commented on #588
@neonailol 2 puzzles [#902](https://github.com/yegor256/cactoos/issues/902), [#951](https://github.com/yegor256/cactoos/issues/951) are still not solved; solved: [#903](https://github.com/yegor256/cactoos/issues/903).

[2018-09-20 21:17] 0pdd commented on #903
@0pdd the puzzle [#951](https://github.com/yegor256/cactoos/issues/951) is still not solved.

[2018-09-20 21:18] 0crat commented on #951
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-09-20 21:27] llorllale commented on #950
@piotrkot fixed in 32c96d908d850eac9380200c16c6ee71a2e7514c. Can we close this issue?

[2018-09-20 21:30] llorllale commented on #951
@0crat in

[2018-09-20 21:51] 0crat commented on #903
@llorllale @llorllale[/z](https://www.0crat.com/u/llorllale) not enough funds available in the project, can't set budget of job [#903](https://github.com/yegor256/cactoos/issues/903), see [§21](http://www.zerocracy.com/policy.html#21); @victornoel[/z](https://www.0crat.com/u/victornoel) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-09-20 21:51] llorllale commented on #947
@wladyan I think you're reporting two separate issues?

1) *Envelopes should delegate all calls to the enveloped object*
You may have a point. Envelopes' purpose is to provide the interface implementations. These are doing that *and* providing immutability. Immutability is part of our principles, but then again, immutability could be provided by a decorator. Will have to think about it a little bi

[2018-09-20 21:51] 0crat commented on #951
Job [#951](https://github.com/yegor256/cactoos/issues/951) is now in scope, role is `DEV`

[2018-09-20 21:52] llorllale commented on #946
@krzyk I'm going to delay doing this until some future point past the 1.0 release

[2018-09-20 21:52] #946 closed

[2018-09-20 21:58] 0crat commented on #951
@llorllale Job [#951](https://github.com/yegor256/cactoos/issues/951) is already in scope

[2018-09-20 21:58] 0crat commented on #950
Job [#950](https://github.com/yegor256/cactoos/issues/950) is now in scope, role is `DEV`

[2018-09-20 21:58] 0crat commented on #949
Job [#949](https://github.com/yegor256/cactoos/issues/949) is now in scope, role is `DEV`

[2018-09-20 22:00] 0crat commented on #903
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-09-20 22:32] 0crat commented on #887
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-09-20 22:32] 0crat commented on #950
Thanks for your contribution, @piotrkot[/z](https://www.0crat.com/u/piotrkot)! If you would be a member of [the project](https://www.0crat.com/p/C63314D6Z), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-09-20 22:32] 0crat commented on #949
Thanks for your contribution, @mborra[/z](https://www.0crat.com/u/mborra)! If you would be a member of [the project](https://www.0crat.com/p/C63314D6Z), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-09-20 22:32] 0crat commented on #903
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-09-20 22:32] 0crat commented on #887
The job [#887](https://github.com/yegor256/cactoos/issues/887) is now out of scope

[2018-09-20 22:32] 0crat commented on #903
The job [#903](https://github.com/yegor256/cactoos/issues/903) is now out of scope

[2018-09-20 22:32] 0crat commented on #946
Job `gh:yegor256/cactoos#946` is not assigned, can't get performer

[2018-09-20 22:59] 0crat commented on #946
This job is not in scope

[2018-09-21 08:05] piotrkot commented on #950
@llorllale Thanks for the fix.
@0crat Thanks for the invitation to join but I prefer to work for you for free.

[2018-09-21 08:05] #950 closed

[2018-09-21 08:05] 0crat commented on #950
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos/issues/950#issuecomment-423450138); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2018-09-21 09:01] 0crat commented on #950
Job `gh:yegor256/cactoos#950` is not assigned, can't get performer

[2018-09-21 09:29] 0crat commented on #950
The job [#950](https://github.com/yegor256/cactoos/issues/950) is now out of scope

[2018-09-21 19:10] llorllale commented on #950
@piotrkot let me know if you need this released

[2018-09-21 19:50] llorllale commented on #945
@peter-kehl do you want to submit a PR for this?

[2018-09-21 19:53] llorllale commented on #932
@neonailol can we close this ?

[2018-09-21 19:53] llorllale commented on #935
@fabriciofx can we close this?

[2018-09-21 20:02] llorllale commented on #936
@vizotov the problems I'm having with your proposal are:

* the name `ForEach` does not reflect a "living thing" (you'd understand this term if you've read Yegor's books/blogs).
* "ForEach" is made of two words, which is already a code smell

For the "iterate collection and do side-effects" use-case I'd suggest a `Proc` implementation named `Loop` that would accept as arguments a collection and an

[2018-09-21 20:07] llorllale commented on #920
@krzyk if we do that, then we may trigger any side effects or use up resources excessively. There may be a scenario where a resource is available only once, after which successive invocations may fail or produce a different output.

Make sense?

[2018-09-22 04:54] krzyk commented on #920
@llorllale But that will be up to the user if he will use those methods, without those one can't use e.g. Scalars as map keys or using any `find` method.
So maybe create another class that will implement Scalar/Function/BiFunction that will override equals/hashcode.

[2018-09-22 11:33] wladyan commented on #947
@llorllale I talking only about envelope classes. Implemetation of `ListOf` class is absolutely correct for me.

Immutability is one of the main principles in this library, but another principle is "avoid nulls". Why envelopes don't protect me against nulls? For this purporse we have `NoNulls` decorators and envelopes don't care about nulls.

Envelopes should delegate all calls to the enveloped ob

[2018-09-22 14:55] piotrkot commented on #950
@llorllale Definitely. Please, release it. But now I wonder if you make a fix to the _Latest release_ version (0.11) or to the latest _Pre-release_ version (0.36). And by the way, can you explain the difference between the two?

[2018-09-24 10:08] neonailol commented on #932
@llorllale Well, this is still counter-intuitive, for JoinedText is suggest, it should be like
[code]

[2018-09-24 20:40] llorllale commented on #920
@krzyk I can't think of a name for this new class

[2018-09-24 20:43] llorllale commented on #947
@wladyan yes, I agree. We will resume this after [1.0](https://github.com/yegor256/cactoos/milestone/1) is released

[2018-09-24 20:46] llorllale commented on #950
@piotrkot this will be a pre release (pre 1.0)

[2018-09-24 20:46] llorllale commented on #950
@rultor release, tag is `0.37`

[2018-09-24 20:48] rultor commented on #950
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15992-424119150)

[2018-09-24 21:02] rultor commented on #950
@llorllale Done! FYI, the full log is [here](http://www.rultor.com/t/15992-424119150) (took me 13min)

[2018-09-26 06:11] victornoel commented on #903
@elenavolokhova any way to get QA for this? thanks :)

[2018-09-26 06:11] victornoel commented on #887
@elenavolokhova any way to get QA for this? thanks :)

[2018-09-26 10:05] filfreire opened #953 "Add how to add Cactoos as a gradle dependency to README"
I've recently had to add Cactoos to a few Gradle-based projects.
@yegor256 let's add the info on how to include it to the README.

[2018-09-26 10:05] 0crat commented on #953
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-09-26 10:05] 0crat commented on #953
@filfreire[/z](https://www.0crat.com/u/filfreire) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-26 11:02] krzyk commented on #920
@llorllale maybe `Keyable` (because it can be used as a key in map), or `Hashable`?

[2018-09-26 14:21] llorllale commented on #936
@vizotov `And` == logical `And` and therefore we consider it a "thing".

I don't agree with `Vectorized`. Like I said, cactoos provides the building blocks (even the interface `Proc`) to do what you want.

Regarding the examples in the README, perhaps they could be improved somehow. We'll see.

Closing this.

[2018-09-26 14:21] #936 closed

[2018-09-26 15:04] llorllale commented on #920
@krzyk I strongly believe that `equals()` is independent of `hashcode()`, although not the other way around, and I think they should be separate interfaces.

Looking through what we currently have:
* Scalar `Equals` looks ok, I'm just thinking the "s" should be dropped from the name.
* Scalar `Equality` makes no sense to me. I think it should be scrapped.

I think we would need a new `Equals` clas

[2018-09-26 15:10] 0crat commented on #932
Job `gh:yegor256/cactoos#932` is not assigned, can't get performer

[2018-09-26 19:51] 0pdd opened #955 "TextEnvelope.java:76-79: Refactor TextEnvelope.equals()...."
The puzzle `942-9caf1821` from #942 has to be resolved:

https://github.com/yegor256/cactoos/blob/dd6967d772e6e581c58189119207056305fd716f/src/main/java/org/cactoos/text/TextEnvelope.java#L76-L79

The puzzle was created by Paulo Lobo on 24-Sep-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-09-26 19:51] 0pdd commented on #942
@carlosmiranda the puzzle [#955](https://github.com/yegor256/cactoos/issues/955) is still not solved.

[2018-09-26 19:52] 0crat commented on #955
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-09-26 20:53] 0crat commented on #955
Job [#955](https://github.com/yegor256/cactoos/issues/955) is now in scope, role is `DEV`

[2018-09-27 21:10] elenavolokhova commented on #887
@0crat quality good

[2018-09-27 21:10] elenavolokhova commented on #887
@victornoel sorry for delay...

[2018-09-27 21:11] elenavolokhova commented on #903
@0crat quality good

[2018-09-27 22:09] 0crat commented on #887
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-09-27 22:10] 0crat commented on #887
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-09-27 22:10] 0crat commented on #903
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-09-27 22:20] 0crat commented on #903
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-10-03 18:36] paulodamaso opened #957 "Release of 0.38"
@llorllale Will we have to wait too much for a new release of cactoos? I need some fixes that have been commited in https://github.com/yegor256/cactoos/pull/952.

[2018-10-03 18:36] 0crat commented on #957
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-10-03 18:36] 0crat commented on #957
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-03 19:52] 0crat commented on #957
Job `gh:yegor256/cactoos#957` is not assigned, can't get performer

[2018-10-03 19:56] 0crat commented on #957
This job is not in scope

[2018-10-03 23:57] 0crat commented on #942
Job `gh:yegor256/cactoos#942` is not assigned, can't get performer

[2018-10-04 01:42] paulodamaso commented on #957
@llorllale Thank you very much!

[2018-10-08 22:02] pinaf commented on #913
@llorllale Hi. Is this issue on hold?

[2018-10-21 18:53] 0pdd opened #958 "package-info.java:38-40: There is a new class naming..."
The puzzle `913-d63f0d4a` from #913 has to be resolved:

https://github.com/yegor256/cactoos/blob/1dfd0766c34fe3c3255b1a8cbba318cf383d08c8/src/main/java/org/cactoos/package-info.java#L38-L40

The puzzle was created by George Aristy on 21-Oct-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the pu

[2018-10-21 18:53] 0pdd commented on #913
@neonailol the puzzle [#958](https://github.com/yegor256/cactoos/issues/958) is still not solved.

[2018-10-21 18:53] 0crat commented on #958
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-10-21 18:58] 0crat commented on #958
Job [#958](https://github.com/yegor256/cactoos/issues/958) is now in scope, role is `DEV`

[2018-10-21 19:00] llorllale commented on #913
@pinaf let's make it happen. I've already started in 1dfd0766c34fe3c3255b1a8cbba318cf383d08c8; there's open puzzle #958 to continue

[2018-10-21 19:00] #913 closed

[2018-10-21 20:01] 0crat commented on #913
Job [#913](https://github.com/yegor256/cactoos/issues/913) is not in the agenda of @llorllale[/z](https://www.0crat.com/u/llorllale), can't retrieve data and time of add

[2018-10-21 20:51] 0crat commented on #913
The job [#913](https://github.com/yegor256/cactoos/issues/913) is now out of scope

[2018-10-21 21:06] 0crat commented on #913
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-10-22 20:29] strokyl commented on #955
Here is my PR: https://github.com/yegor256/cactoos/pull/959

[2018-10-23 20:52] #955 closed

[2018-10-23 20:52] 0pdd commented on #955
The puzzle `942-9caf1821` has disappeared from the source code, that's why I closed this issue.

[2018-10-23 20:52] 0pdd commented on #942
@carlosmiranda the only puzzle [#955](https://github.com/yegor256/cactoos/issues/955) is solved here.

[2018-10-23 21:09] 0crat commented on #955
Job `gh:yegor256/cactoos#955` is not assigned, can't get performer

[2018-10-23 21:09] 0crat commented on #955
The job [#955](https://github.com/yegor256/cactoos/issues/955) is now out of scope

[2018-10-24 13:37] #883 closed

[2018-10-24 13:37] 0pdd commented on #883
The puzzle `861-c93d9bb1` has disappeared from the source code, that's why I closed this issue.

[2018-10-24 13:37] 0pdd commented on #551
@neonailol 4 puzzles [#884](https://github.com/yegor256/cactoos/issues/884), [#885](https://github.com/yegor256/cactoos/issues/885), [#886](https://github.com/yegor256/cactoos/issues/886), [#888](https://github.com/yegor256/cactoos/issues/888) are still not solved; solved: [#861](https://github.com/yegor256/cactoos/issues/861), [#883](https://github.com/yegor256/cactoos/issues/883), [#887](https:/

[2018-10-24 13:37] 0pdd commented on #861
@0pdd 4 puzzles [#884](https://github.com/yegor256/cactoos/issues/884), [#885](https://github.com/yegor256/cactoos/issues/885), [#886](https://github.com/yegor256/cactoos/issues/886), [#888](https://github.com/yegor256/cactoos/issues/888) are still not solved; solved: [#883](https://github.com/yegor256/cactoos/issues/883), [#887](https://github.com/yegor256/cactoos/issues/887).

[2018-10-24 13:54] 0crat commented on #883
Job `gh:yegor256/cactoos#883` is not assigned, can't get performer

[2018-10-24 13:54] 0crat commented on #883
The job [#883](https://github.com/yegor256/cactoos/issues/883) is now out of scope

[2018-10-25 20:47] strokyl commented on #949
@llorllale I tried to `SimpleDateFormat` but it would break the contract because pattern language does not seems the same than `DateTimeFormatter`.
So here is my proposal: https://github.com/yegor256/cactoos/pull/960.
I think maybe I should rename parsed in DateOf, if we keep my solution this parsed won't be accurate anymore (because of conversion directly from TemporalAccessor)

[2018-11-04 16:52] 0pdd commented on #902
The puzzle `588-33083ad6` has disappeared from the source code, that's why I closed this issue.

[2018-11-04 16:52] #902 closed

[2018-11-04 16:52] 0pdd commented on #588
@neonailol the puzzle [#951](https://github.com/yegor256/cactoos/issues/951) is still not solved; solved: [#902](https://github.com/yegor256/cactoos/issues/902), [#903](https://github.com/yegor256/cactoos/issues/903).

[2018-11-04 17:11] 0crat commented on #902
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @danielpalafox[/z](https://www.0crat.com/u/danielpalafox), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-11-04 17:11] 0crat commented on #902
The job [#902](https://github.com/yegor256/cactoos/issues/902) is now out of scope

[2018-11-05 09:46] elenavolokhova commented on #902
@0crat quality good

[2018-11-05 10:21] 0crat commented on #902
Order was finished, quality is "good": +35 point(s) just awarded to @danielpalafox[/z](https://www.0crat.com/u/danielpalafox)

[2018-11-07 10:37] filfreire commented on #953
@llorllale closing this one since it's merged and released.

[2018-11-07 10:37] #953 closed

[2018-11-07 10:54] 0crat commented on #953
Job `gh:yegor256/cactoos#953` is not assigned, can't get performer

[2018-11-07 10:54] 0crat commented on #953
This job is not in scope

[2018-11-17 14:55] dgroup opened #962 "org.cactoos.concurrent.* EO primitives are required"
I couldn't find any EO primitives/objects related to `java.util.concurrent` like:
 - Timeout (with unit/value)
 - Fake implementations/envelopes at least for ThreadFactory, ExecutorService/Executor.

This feature shouldn't affect the classes like `org.cactoos.scalar.SyncScalar` and they should be kept at the same packages as they exist now.

Let's consider the possibility of the implementation of

[2018-11-17 14:55] 0crat commented on #962
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-11-17 18:48] fabriciofx commented on #935
@llorllale I agree. I'll close it.

[2018-11-17 18:48] #935 closed

[2018-11-17 19:05] 0crat commented on #935
Job `gh:yegor256/cactoos#935` is not assigned, can't get performer

[2018-11-17 19:05] 0crat commented on #935
This job is not in scope

[2018-11-18 16:01] llorllale commented on #962
@dgroup

Have you looked at `TimedFunc`?

`cactoos` doesn't do fakes. What do you propose for `ThreadFactory, ExecutorService/Executor`?

[2018-11-18 20:13] llorllale commented on #958
@0crat assign me

[2018-11-18 20:16] 0crat commented on #958
@llorllale @llorllale[/z](https://www.0crat.com/u/llorllale) not enough funds available in the project, can't set budget of job [#958](https://github.com/yegor256/cactoos/issues/958), see [§21](http://www.zerocracy.com/policy.html#21); @llorllale[/z](https://www.0crat.com/u/llorllale) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-11-18 20:17] 0crat commented on #958
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-11-18 20:31] 0pdd commented on #958
The puzzle `913-d63f0d4a` has disappeared from the source code, that's why I closed this issue.

[2018-11-18 20:31] #958 closed

[2018-11-18 20:31] 0pdd opened #964 "package-info.java:38-40: Continue applying the new class..."
The puzzle `958-5fdfc15a` from #958 has to be resolved:

https://github.com/yegor256/cactoos/blob/6d67e67be437df720866b21cba7916041468f3cc/src/main/java/org/cactoos/package-info.java#L38-L40

The puzzle was created by rultor on 18-Nov-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2018-11-18 20:31] 0pdd commented on #913
@neonailol the puzzle [#964](https://github.com/yegor256/cactoos/issues/964) is still not solved; solved: [#958](https://github.com/yegor256/cactoos/issues/958).

[2018-11-18 20:31] 0pdd commented on #958
@0pdd the puzzle [#964](https://github.com/yegor256/cactoos/issues/964) is still not solved.

[2018-11-18 20:31] 0crat commented on #964
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-11-18 20:46] 0crat commented on #964
Job [#964](https://github.com/yegor256/cactoos/issues/964) is now in scope, role is `DEV`

[2018-11-18 20:53] 0crat commented on #958
Job [#958](https://github.com/yegor256/cactoos/issues/958) is not in the agenda of @llorllale[/z](https://www.0crat.com/u/llorllale), can't retrieve data and time of add

[2018-11-18 20:53] 0crat commented on #958
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-18 20:58] 0crat commented on #958
The job [#958](https://github.com/yegor256/cactoos/issues/958) is now out of scope

[2018-11-18 21:00] 0crat commented on #958
Order was finished: +35 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-11-20 15:14] dgroup commented on #962
@llorllale ,

Yes, i did. The timed function has only one unit - milliseconds. I'm proposing something like
[code]
with different units.

Not just fakes, also envelopes like `org.cactoos.list.ListEnvelope` for ThreadFactory, ExecutorService.

[2018-11-21 00:52] llorllale commented on #962
@dgroup have you considered [Duration](https://docs.oracle.com/javase/8/docs/api/java/time/Duration.html) instead of your `Timeout` proposal?

Do we really need to? Can't we just re-imagine things and design our own pooling. Maybe a class/interface called `Threads` or something like that.

[2018-11-22 12:59] dgroup commented on #962
@llorllale, thanks, the Duration is good alternative, i wasn't aware of it.
I like your idea with `Threads`. For example smth  like
[code]
The constructors may consume the Scalar and Callable/Runnable (for compatibility).

[2018-11-22 15:50] paulodamaso opened #965 "FuncWithFallback javadoc is outdated / incomplete"
I am trying to use `FuncWithFallback` but documentation in this class is not enough to explain how to use it with `FallBackFrom`. Please improve this documentation explaining how these classes is supposed to work and what we should expect when using them.

[2018-11-22 15:50] 0crat commented on #965
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-11-22 15:50] 0crat commented on #965
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-25 15:37] llorllale commented on #965
@paulodamaso the javadoc needs to be improved, yes. I also think that `follow-up` arg needs to be removed. WDYT?

[2018-11-25 16:00] llorllale commented on #962
@dgroup I think we should create a new package `experimental` and add this one there. I'm not sure I want to commit this to the fully supported API.

[2018-11-26 15:00] dgroup commented on #962
@llorllale, agree.

[2018-11-27 11:05] paulodamaso commented on #965
@llorllale I did not get what's this `follow-up` is about, so it's hard to say if we should remove it or not. I've found it's rather strange to have this follow-up as a `Func<Y,Y>` instead of `Func<X,Y>`, but hopefully I think that once the documentation of this class (and related ones) is fixed `follow-up` arg role will be much more clearer. So I think that just fixing the docs would be enough fo

[2018-11-28 14:19] llorllale commented on #962
@0crat assign @dgroup

[2018-11-28 14:20] llorllale commented on #962
@dgroup let's place it inside the new `experimental` package then

[2018-11-28 14:21] 0crat commented on #962
@llorllale The job [#962](https://github.com/yegor256/cactoos/issues/962) assigned to @dgroup[/z](https://www.0crat.com/u/dgroup), here is [why](https://www.0crat.com/footprint/C63314D6Z/d11ed8d3-f961-4ad1-ada5-83b8f7cd026c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2018-11-30 22:25] dgroup opened #966 "Object to detect the root cause exception within the exception hierarchy"
https://github.com/llorllale/cactoos-matchers/issues/40

[2018-12-02 21:19] llorllale commented on #966
@dgroup why `cactoos` and not `cactoos-matchers`?

[2018-12-02 22:02] llorllale commented on #965
@paulodamaso `followup` is exactly what you think it is: it transforms the "final" value of the fallback before handing it off to you.

I share your concern regarding `Func<X, X>` vs `Func<X, Y>`, and also the fact that you can easily apply any further transformation by wrapping the entire `FuncWithFallback` in a `Func<X, Y>`, `Func<X, X>`, or whatever you want.

[2018-12-04 00:35] llorllale commented on #966
@dgroup I don't understand why this class would be required for `Threads`.

I'm closing this issue because I don't think implementing this provides much value.

[2018-12-04 00:35] #966 closed

[2018-12-04 00:47] llorllale commented on #893
@0crat resign

[2018-12-04 00:52] 0crat commented on #893
@llorllale The user @butenkos[/z](https://www.0crat.com/u/butenkos) resigned from [#893](https://github.com/yegor256/cactoos/issues/893), please stop working. Reason for job resignation: Order was cancelled

[2018-12-04 00:56] 0crat commented on #966
Job `gh:yegor256/cactoos#966` is not assigned, can't get performer

[2018-12-04 00:58] 0crat commented on #966
This job is not in scope

[2018-12-04 01:13] llorllale commented on #965
@paulodamaso let's fix the javadoc and remove `followup`

[2018-12-04 01:13] llorllale commented on #965
@0crat in

[2018-12-04 01:14] 0crat commented on #965
@llorllale Job [#965](https://github.com/yegor256/cactoos/issues/965) is now in scope, role is `DEV`

[2018-12-04 01:21] 0crat commented on #965
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-05 12:18] Vatavuk opened #969 "ListOf doesn't work with iterator"
`ListOf` doesn't work with `iterator` argument. The size of encapsualted `List` is always zero. Like in this example:
[code]

[2018-12-05 12:18] 0crat commented on #969
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-05 12:18] 0crat commented on #969
@vatavuk[/z](https://www.0crat.com/u/vatavuk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-06 01:53] llorllale commented on #969
@Vatavuk I haven't looked at the code, but I think the problem is that you've exhausted the iterator while populating `first`, so that by the time you want to populate `second`, `hasNext()` is `false`.

[2018-12-06 01:54] llorllale commented on #969
@Vatavuk we're moving away from `Iterator` in most/all cases - see #911

[2018-12-07 14:16] g4s8 opened #971 "Iterable for pagination"
Cactoos doesn't have an `Iterable` implementation to wrap paged results with lazy page loading.
Many HTTP APIs provides pagination support, so it would be good to have generic `Iterable` implementation to use pagination.

It can be used like this:
[code]

[2018-12-07 14:16] 0crat commented on #971
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-07 14:16] 0crat commented on #971
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!