[2017-12-07 05:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 05:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 09:30] ashtonhogan opened #490 "MapEntry support for functions"
Currently it is not possible to create `MapOf` and add `MapEntry` objects that contain `Enum` and `Function` respectively. For example, the following:

[code]

Will issue this error:

[2017-12-07 09:30] 0crat commented on #490
@yegor256 please, pay attention to this issue

[2017-12-07 09:35] yegor256 commented on #490
@ashtonhogan works for me, see e57d946

[2017-12-07 09:47] ashtonhogan commented on #490
@yegor256 I read the conversation, it contains many good points. I see that you have reached a conclusion historically already. My reason for doing this is that I think it tightly couples NoNull to other classes and makes it difficult to remember and even more difficult for a new user to understand.

Should classes ever be nested? Assuming no static...

1. public/protected nested class: Either mig

[2017-12-07 09:53] yegor256 commented on #490
@ashtonhogan it seems that this comment is made to the wrong ticket...

[2017-12-07 09:55] ashtonhogan commented on #490
@yegor256 not sure if it's possible or not but another point worth mentioning here is that it would be beneficial to have the ability to pass exceptions thrown from functions added to a `MapEntry`

[2017-12-07 12:37] yegor256 commented on #490
@ashtonhogan I don't understand the problem. Please, submit a new ticket, if the original one is fixed. Please, keep one ticket per problem. Thanks.

[2017-12-07 12:48] ashtonhogan commented on #490
@yegor256 This is part of the same feature, in the above example, this part won't work:

[code]

If the `printName()` method throws an Exception you will have to change the above to:

[code]

[2017-12-08 11:48] 0crat commented on #376
@kkamkou resigned from `gh:yegor256/cactoos#376`, please stop working.

[2017-12-08 11:49] 0crat commented on #461
@kkamkou resigned from `gh:yegor256/cactoos#461`, please stop working.

[2017-12-08 11:58] 0crat commented on #262
@kkamkou resigned from `gh:yegor256/cactoos#262`, please stop working.

[2017-12-08 13:29] 0crat commented on #461
Job `gh:yegor256/cactoos#461` assigned to @kkamkou, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-12-08 13:38] 0crat commented on #262
Job `gh:yegor256/cactoos#262` assigned to @kkamkou, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-12-08 13:38] 0crat commented on #376
Job `gh:yegor256/cactoos#376` assigned to @kkamkou, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-12-08 19:38] ashtonhogan opened #491 "-"

[2017-12-09 18:52] ashtonhogan opened #492 "-"

[2017-12-10 01:07] svendiedrichsen commented on #444
@yegor256 How about using the Java8 time classes LocalDate or ZonedDate instead of Date?

[2017-12-10 18:37] svendiedrichsen commented on #444
@yegor256 I would like to contribute on this.

[2017-12-12 08:44] ashtonhogan opened #494 "Remove all @SafeVarargs usages"
We could remove all `@SafeVarargs` since the fewer annotations we need the better.

For example, https://github.com/yegor256/cactoos/blob/e57d9462adac0a9131135877e4e202a5082d0294/src/main/java/org/cactoos/map/MapOf.java#L60

If you remove this, you get the warning:

An alternative could be to change the constructor to something like:

[code]

The usage of `MapOf` for instantiation with values will

[2017-12-12 14:35] yegor256 commented on #444
@svendiedrichsen please, go ahead, but slowly. Don't make big pull requests, since they may get stuck in reviews.

[2017-12-12 18:34] svendiedrichsen commented on #444
@yegor256 Sorry for this. But I didn't think of 2 classes and 2 tests being such a big PR.

[2017-12-15 12:36] yegor256 opened #495 "NumberEnvelope"

[2017-12-15 12:36] yegor256 commented on #495
@rultor release, tag is `0.26`

[2017-12-15 12:37] rultor commented on #495
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13574-351995649)

[2017-12-15 12:50] rultor commented on #495
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13574-351995649) (took me 13min)

[2017-12-15 12:54] #495 closed

[2017-12-15 19:13] 0crat commented on #495
Oops! There is no order for job `gh:yegor256/cactoos#495`.

[2017-12-15 19:13] 0crat commented on #495
Oops! Job `gh:yegor256/cactoos#495` is not in scope.

[2017-12-15 19:41] yegor256 commented on #490
@ashtonhogan works for me, see 70eda3c

[2017-12-15 19:57] yegor256 commented on #486
@ashtonhogan I'm sorry for this spam above :( Please, show the real code that doesn't compile/work for you.

[2017-12-18 13:28] 0crat commented on #262
@kkamkou resigned from `gh:yegor256/cactoos#262`, please stop working.

[2017-12-18 13:28] 0crat commented on #376
@kkamkou resigned from `gh:yegor256/cactoos#376`, please stop working.

[2017-12-18 13:38] 0crat commented on #461
@kkamkou resigned from `gh:yegor256/cactoos#461`, please stop working.

[2017-12-18 19:18] 0crat commented on #461
Job `gh:yegor256/cactoos#461` assigned to @kkamkou. The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-21 14:46] yegor256 opened #498 "NoNulls for Iterable, Iterator, List, Collection, Map"
Let's create a set of decorators that prevent NULL from appearing in `Iterable`, `Iterator`, `List`, `Collection`, and `Map`.

[2017-12-21 18:25] svendiedrichsen commented on #444
@yegor256 Can this be closed now?

[2017-12-21 20:20] yegor256 commented on #498
@rultor release, tag is `0.27`

[2017-12-21 20:20] rultor commented on #498
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13609-353448365)

[2017-12-21 20:20] yegor256 commented on #444
@svendiedrichsen yes, many thanks!

[2017-12-21 20:20] #444 closed

[2017-12-21 20:30] rultor commented on #498
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13609-353448365) (took me 10min)

[2017-12-21 20:41] #498 closed

[2017-12-21 21:42] 0crat commented on #498
Oops! There is no order for job `gh:yegor256/cactoos#498`.

[2017-12-21 21:43] 0crat commented on #498
Oops! Job `gh:yegor256/cactoos#498` is not in scope.

[2017-12-21 22:49] 0crat commented on #498
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+6390](http://www.0crat.com/u/yegor256).

[2017-12-21 22:49] 0crat commented on #461
Job `gh:yegor256/cactoos#461` assigned to @kkamkou  ([profile](http://www.0crat.com/u/kkamkou})). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-25 10:01] Zefick opened #499 "`FuncWithFallback` has too many constructors."
It's hard to use `FuncWithFallback` class with lambdas because plenty of constructors cause ambiguities.
There is a total of 20 constructors which is too many. And only three of them have individual tests.

Instead of using the direct constructor
`FuncWithFallback(Proc<X> proc, Proc<Throwable> fbk)`
someone can just write
`new FuncWithFallback(new FuncOf<>(proc), new FuncOf<>(fbk))`.

Please consi

[2017-12-25 15:04] fabriciofx opened #500 "Eclipse cannot infer type arguments in FilteredTest"
Apparently, Eclipse IDE can not infer type arguments for `FilteredTest`, imply an error in the project.
I'll handle it.

[2017-12-25 15:04] 0crat commented on #500
@yegor256 please, pay attention to this issue

[2017-12-25 15:13] fabriciofx commented on #494
@ashtonhogan If we do that we'll add execution code into constructors just what we want avoid. Is it `Map.of` a kind of static factory? If yes, it's another thing we want avoid. To more details why, please read [here](http://www.yegor256.com/2015/05/07/ctors-must-be-code-free.html) and [here](http://www.yegor256.com/2017/11/14/static-factory-methods.html).

[2017-12-25 16:09] 0crat commented on #499
@yegor256 please, pay attention to this issue

[2017-12-25 16:12] 0crat commented on #498
Order was successfully finished: +30 points just awarded to @yegor256, total is [+6420](http://www.0crat.com/u/yegor256).

[2017-12-25 16:28] fabriciofx opened #502 "GzipInput and GzipOutput"
Let's implement a way to encode and decode `Bytes` using `Gzip` compress algorithm. I'll handle it.

[2017-12-25 16:28] 0crat commented on #502
@yegor256 please, pay attention to this issue

[2017-12-25 18:49] yegor256 opened #504 "DateAsText default to now"

[2017-12-25 19:22] yegor256 commented on #504
@rultor release, tag is `0.27.1`

[2017-12-25 19:22] 0pdd opened #505 "ZonedDateTimeOfTest.java:46-48: This test fails for some..."
The puzzle `504-de6e0b21` from #504 has to be resolved:

https://github.com/yegor256/cactoos/blob/d5d59d26d4fe408616c65653325fa92ab6af5378/src/test/java/org/cactoos/time/ZonedDateTimeOfTest.java#L46-L48

The puzzle was created by Yegor Bugayenko on 25-Dec-17.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" wh

[2017-12-25 19:23] rultor commented on #504
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13625-353886608)

[2017-12-25 19:23] 0crat commented on #505
@yegor256 please, pay attention to this issue

[2017-12-25 19:27] fabriciofx opened #506 "ZipInput and ZipOutput"
Let's implement a way to encode and decode `Bytes` using Zip compression algorithm. I'll handle it.

[2017-12-25 19:27] 0crat commented on #506
@yegor256 please, pay attention to this issue

[2017-12-25 19:33] rultor commented on #504
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13625-353886608) (took me 10min)

[2017-12-25 19:48] #504 closed

[2017-12-25 19:49] 0crat commented on #504
Oops! There is no order for job `gh:yegor256/cactoos#504`.

[2017-12-25 19:49] 0crat commented on #504
Oops! Job `gh:yegor256/cactoos#504` is not in scope.

[2017-12-26 13:07] yegor256 commented on #499
@Zefick feel free to remove those who you think are not a good fit for this class.

[2017-12-26 19:20] fabriciofx commented on #500
Closed by #501 .

[2017-12-26 19:20] #500 closed

[2017-12-26 19:21] 0crat commented on #500
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

Cc @yegor256

[2017-12-26 19:21] 0crat commented on #500
Oops! Job `gh:yegor256/cactoos#500` was not in scope

[2017-12-29 11:25] 0pdd commented on #505
The puzzle `504-de6e0b21` has disappeared from the source code, that's why I closed this issue.

[2017-12-29 11:25] #505 closed

[2017-12-29 11:25] 0crat commented on #505
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

Cc @yegor256

[2017-12-29 11:25] 0crat commented on #505
Oops! Job `gh:yegor256/cactoos#505` was not in scope

[2017-12-31 02:16] fabriciofx commented on #335
@yegor256 I did a mistake: I push forced the new commit so I lost the link between this issue and the PR. So, I will close this issue and re-opened as HexOf, ok?

[2017-12-31 02:16] #335 closed

[2017-12-31 02:17] fabriciofx opened #510 "HexOf"
Let's implement a way to represent Bytes as a hexadecimal string. I'll handle it.

[2017-12-31 02:17] 0crat commented on #335
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-31 02:18] 0crat commented on #510
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-31 02:22] fabriciofx commented on #338
@yegor256 What do you think I close this issue, update the code and resubmit as individual (MD5, SHA-1 and SHA-256) issues?

[2017-12-31 03:09] fabriciofx commented on #416
@yegor256 Could you be more specific? What kind of help do you need? The code submitted was not good enough? Why?

[2017-12-31 03:13] fabriciofx commented on #262
@yegor256 Could you reassigned this job to me? I've almost done it.

[2017-12-31 03:19] 0crat commented on #335
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-31 03:19] 0crat commented on #510
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-31 04:20] 0crat commented on #335
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-31 04:21] 0crat commented on #510
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-31 05:21] 0crat commented on #335
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-31 05:22] 0crat commented on #510
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-31 06:23] 0crat commented on #510
@yegor256 please, pay attention to this issue

[2017-12-31 06:23] 0crat commented on #335
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-31 08:27] 0crat commented on #335
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-31 09:28] 0crat commented on #335
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-31 11:35] 0crat commented on #335
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-31 12:38] 0crat commented on #335
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-31 14:46] 0crat commented on #335
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-31 15:51] 0crat commented on #335
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-31 16:40] yegor256 commented on #262
@0crat assign @fabriciofx

[2017-12-31 16:40] 0crat commented on #262
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-31 16:40] 0crat commented on #262
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-31 16:41] yegor256 commented on #338
@fabriciofx sure, please go ahead

[2017-12-31 16:41] yegor256 commented on #510
@fabriciofx good idea, please go ahead

[2017-12-31 16:43] yegor256 commented on #416
@fabriciofx we don't have `org.cactoos.collection.Skipped` at all. What "code submitted" are you talking about?)

[2018-01-01 02:27] Zhiyuan-Amos commented on #499
This issue should be closed following #508

[2018-01-01 21:27] fabriciofx opened #512 "Let's update Copyright notice to 2018"
Let's update Copyright notice to 2018. I'll handle it.

[2018-01-01 21:27] 0crat commented on #512
@yegor256 please, pay attention to this issue

[2018-01-01 21:32] fabriciofx commented on #416
@yegor256 I'm taking about [this code](https://github.com/cheparinV/cactoos/commit/44ae77a7e9ac36155ac905cd7e0ed4b4b51e426b).

[2018-01-01 21:48] yegor256 commented on #416
@fabriciofx but it's not in our repo. Feel free to submit a pull request.

[2018-01-01 23:09] fabriciofx commented on #416
@yegor256 But this code is not mine. @cheparinV Could you submit a PR of [this code](https://github.com/cheparinV/cactoos/commit/44ae77a7e9ac36155ac905cd7e0ed4b4b51e426b)?

[2018-01-02 21:47] svendiedrichsen commented on #491
Is this list really immutable? If you call `add` it will change its content. If you call `remove()` on the iterator returned by `iterator()` it will change.

[2018-01-02 21:50] svendiedrichsen commented on #492
This is not immutable. You can `put` to it.

[2018-01-02 23:39] svendiedrichsen opened #514 "Async event functionality"
@yegor256 What do you think about some async event handling? Something like Guava `EventBus` but perhaps more like usual listeners and not using reflection.
There is the ticket #414 that handles non-blocking IO which in some way or another also needs to tackle async event handling.

[2018-01-02 23:39] 0crat commented on #514
@yegor256 please, pay attention to this issue

[2018-01-03 02:07] fabriciofx commented on #338
This issue was closed in favor to MD5, SHA-1 and SHA-256 issues.

[2018-01-03 02:07] #338 closed

[2018-01-03 02:08] 0crat commented on #338
Oops! Job `gh:yegor256/cactoos#338` is not assigned, can't get start time

[2018-01-03 02:08] 0crat commented on #338
Oops! Job `gh:yegor256/cactoos#338` was not in scope

[2018-01-03 04:15] fabriciofx opened #515 "DigestOf (MD5, SHA-1 and SHA-256)"
Implements the MD5, SHA-1 and SHA-256 message digest checksums. I'll handle it.

[2018-01-03 04:15] 0crat commented on #515
@yegor256 please, pay attention to this issue

[2018-01-03 08:11] yegor256 commented on #514
@svendiedrichsen how much of "good OOP" we can add there? It seems Guava is doing fine as is. Or not?

[2018-01-03 08:59] svendiedrichsen commented on #514
sure.

[2018-01-03 08:59] #514 closed

[2018-01-03 09:00] 0crat commented on #514
Oops! Job `gh:yegor256/cactoos#514` is not assigned, can't get start time

[2018-01-03 09:00] 0crat commented on #514
Oops! Job `gh:yegor256/cactoos#514` was not in scope

[2018-01-03 12:30] fabriciofx commented on #510
Closed by #511 .

[2018-01-03 12:30] #510 closed

[2018-01-03 12:31] 0crat commented on #510
Oops! Job `gh:yegor256/cactoos#510` is not assigned, can't get start time

[2018-01-03 12:31] 0crat commented on #510
Oops! Job `gh:yegor256/cactoos#510` was not in scope

[2018-01-03 16:21] martin-robo opened #518 "Same exception type for basic classes"
`Scalar` throws `Exception` on access, `Text` throws `IOException`. This enforces exception handling on simple conversion of numbers to text. I think it would be handy to have all basic classes throw the same type of exception.

[2018-01-03 16:21] 0crat commented on #518
@yegor256 please, pay attention to this issue

[2018-01-03 16:39] fabriciofx commented on #454
@rafamizes Did you submit the PR? Do you need any help?

[2018-01-04 07:06] yegor256 commented on #518
@martin-robo I agree, let's use `Exception` everywhere. Please, submit a pull request, if you can.

[2018-01-04 10:43] #499 closed

[2018-01-04 10:44] 0crat commented on #499
Oops! Job `gh:yegor256/cactoos#499` is not assigned, can't get start time

[2018-01-04 10:44] 0crat commented on #499
Oops! Job `gh:yegor256/cactoos#499` was not in scope

[2018-01-04 11:19] yegor256 opened #519 "LengthOf must be a Number"
Let's make it extend `Number`

[2018-01-04 11:20] 0crat commented on #519
Job `gh:yegor256/cactoos#519` assigned to @yegor256  ([profile](http://www.0crat.com/u/yegor256})). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2018-01-04 11:21] 0crat commented on #519
Bug was reported: +15 points just awarded to @yegor256, total is [+6560](http://www.0crat.com/u/yegor256).

[2018-01-04 11:21] 0crat commented on #519
Manual assignment of issues is discouraged, see [par.19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256, total is [+6560](http://www.0crat.com/u/yegor256).

[2018-01-04 12:07] yegor256 commented on #519
@rultor release, tag is `0.28`

[2018-01-04 12:08] rultor commented on #519
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13659-355266584)

[2018-01-04 12:20] rultor commented on #519
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13659-355266584) (took me 11min)

[2018-01-04 12:48] #519 closed

[2018-01-04 12:50] 0crat commented on #519
Job `gh:yegor256/cactoos#519` is now out of scope.

[2018-01-04 12:51] 0crat commented on #519
Order was successfully finished: +30 points just awarded to @yegor256, total is [+6590](http://www.0crat.com/u/yegor256).

[2018-01-04 13:43] yegor256 opened #520 "LengthOf must also implement Scalar"
In order to throw `IOException`

[2018-01-04 13:49] yegor256 commented on #520
@rultor release, tag is `0.28.1`

[2018-01-04 13:50] rultor commented on #520
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13661-355286387)

[2018-01-04 13:55] rultor commented on #520
@yegor256 OK, I'll try to stop current task.

[2018-01-04 13:56] rultor commented on #520
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13661-355287729) (spent 6min)

[code]

[2018-01-04 14:10] yegor256 commented on #520
@rultor release, tag is `0.28.1`

[2018-01-04 14:10] rultor commented on #520
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13661-355291182)

[2018-01-04 14:21] rultor commented on #520
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13661-355291182) (took me 10min)

[2018-01-04 14:25] #520 closed

[2018-01-04 14:26] 0crat commented on #520
Oops! Job `gh:yegor256/cactoos#520` is not assigned, can't get start time

[2018-01-04 14:26] 0crat commented on #520
Oops! Job `gh:yegor256/cactoos#520` was not in scope

[2018-01-04 14:38] yegor256 opened #521 "fix for StickyInput"

[2018-01-04 14:38] yegor256 commented on #521
@rultor release, tag is `0.28.2`

[2018-01-04 14:39] rultor commented on #521
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13662-355298158)

[2018-01-04 14:53] rultor commented on #521
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13662-355298158) (took me 14min)

[2018-01-04 15:18] #521 closed

[2018-01-04 15:19] 0crat commented on #521
Oops! Job `gh:yegor256/cactoos#521` is not assigned, can't get start time

[2018-01-04 15:19] 0crat commented on #521
Oops! Job `gh:yegor256/cactoos#521` was not in scope

[2018-01-04 16:10] ashtonhogan opened #522 "IPAddressText"
Is it worth creating `IPAddressText`?

Criteria would be:
Construct from not null, not blank string
4 groups of ints max 255

Otherwise, there's the option of `IPv4Text` and `IPv6Text` which will work slightly differently

[2018-01-04 16:10] 0crat commented on #522
@yegor256 please, pay attention to this issue

[2018-01-04 17:38] Timmeey commented on #447
@yegor256 I think this can be closed as the referenced PR was merged.

[2018-01-04 18:08] Timmeey opened #523 "Question: next() in Endless iterator seems overly complicated"
[code]

in [Iterator/endless.java](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/iterator/Endless.java)

Seems overly complicated and "slow".

Why do we need to wrap the contained value in a new Iterable and iterator EVERY time we call next? This doesn't help against a mutable value (since it does not create a copy of the contained value (neither should it))

Why can't

[2018-01-04 18:08] 0crat commented on #523
@yegor256 please, pay attention to this issue

[2018-01-04 19:50] rafamizes commented on #454
Not Yet. i'll do it as soon as possible.

2018-01-03 14:39 GMT-02:00 Fabricio Cabral <notifications@github.com>:

[2018-01-05 06:39] #447 closed

[2018-01-05 06:39] yegor256 commented on #447
@Timmeey right, thanks

[2018-01-05 06:39] 0crat commented on #447
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-05 06:39] 0crat commented on #447
Oops! Job `gh:yegor256/cactoos#447` is not assigned, can't get start time

[2018-01-05 06:40] yegor256 commented on #523
@Timmeey I agree, please submit a pull request

[2018-01-05 07:40] 0crat commented on #447
Oops! Job `gh:yegor256/cactoos#447` was not in scope

[2018-01-05 07:51] fabriciofx opened #524 "Question: Should we remove or not "No implementation inheritance" principle?"
@yegor256 One of Cactoos' principles is *No implementation inheritance* but we're using it (like in Decorating Envelopes). So, I think we should review this principle and, if makes sense, remove it from principles list. WDYT?

[2018-01-05 07:51] 0crat commented on #524
@yegor256 please, pay attention to this issue

[2018-01-05 08:49] fabriciofx opened #525 "Question: All *Envelope classes should not be abstract?"
@yegor256 I think all *Envelope classes should be abstract to avoid instantiation, because not make sense these classes make instances. WDYT?

[2018-01-05 08:49] 0crat commented on #525
@yegor256 please, pay attention to this issue

[2018-01-05 09:24] alex-semenyuk commented on #524
I think envelop decorating it's a different thing then implementation inheritance, looks here http://www.yegor256.com/2017/01/31/decorating-envelopes.html compare with http://www.yegor256.com/2016/09/13/inheritance-is-procedural.html. Yeah, it will be nice to have the keyword decorates.

[2018-01-05 11:09] fabriciofx commented on #524
@alex-semenyuk I agree with you, but the principle is clear: "No implementation inheritance". So, if "envelop decorating" is fine, I think we should change this principle to something like "Inheritance only for envelop decorating". WDYT?

[2018-01-05 22:45] yegor256 commented on #524
@fabriciofx yes, I agree, let's modify it and explicitly mention that we are OK with decorating envelopes and nothing else. Please, submit a PR.

[2018-01-05 22:45] yegor256 commented on #525
@fabriciofx yes, I agree, let's do it. Please, submit a PR.

[2018-01-05 23:42] allanws opened #526 "Document PR workflow"
As a
   PROJECT MEMBER
I want to
   HAVE DOCUMENTATION ABOUT THE PR WORKFLOW
so
   I CAN PERFORM MY TASKS PROPERLY

[2018-01-05 23:42] 0crat commented on #526
@yegor256 please, pay attention to this issue

[2018-01-06 14:12] fabriciofx commented on #526
@allanws I used the same workflow in another project. If you've interested, you can borrow the steps from [here](https://github.com/ifpe-cti/saudegaranhuns) and adapt to english (the original document is in pt_BR).

[2018-01-06 15:21] fabriciofx commented on #512
Closed by #513 .

[2018-01-06 15:21] #512 closed

[2018-01-06 15:21] 0crat commented on #512
Oops! Job `gh:yegor256/cactoos#512` is not assigned, can't get start time

[2018-01-06 15:21] 0crat commented on #512
Oops! Job `gh:yegor256/cactoos#512` was not in scope

[2018-01-07 05:09] allanws commented on #526
@fabriciofx, the documentation from the link above just covers the forking/PR submission. I'd like to have covered also the rest of the revision process (approval/comments/re-assignment of tasks/etc).
I'm happy to do it if that's the case. @yegor256, do you need to approve that?

[2018-01-07 05:30] allanws commented on #526
@0crat waiting

[2018-01-07 05:30] 0crat commented on #526
@allanws Can't understand "waiting", try one of these:
  - `assign` Assign a performer to this issue
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Remove this issue from scope (WBS)
  - `resign` Resign from this issue
  - `version` Print current version of the bot

[2018-01-08 01:02] allanws opened #529 "Should issues be 'formally' assigned?"
I don't see any of the issues assigned to people... shouldn't they be assigned?

[2018-01-08 01:02] 0crat commented on #529
@yegor256 please, pay attention to this issue

[2018-01-08 01:22] allanwsilva opened #530 "Is there any sort of prioritization?"
Or just pick anything randomly?

[2018-01-08 01:22] 0crat commented on #530
@yegor256 please, pay attention to this issue

[2018-01-08 01:24] allanws commented on #443
@yegor256 , as per the link above, I don't see any bugs on the list. This can be closed.

[2018-01-08 11:53] yegor256 commented on #526
@allanws check the policy: http://datum.zerocracy.com/pages/policy.html It's not enough? See the new section for "Reviewers"

[2018-01-08 15:25] yegor256 commented on #530
@allanws what are you talking about?

[2018-01-08 15:45] yegor256 commented on #443
@allanws thanks

[2018-01-08 15:45] #443 closed

[2018-01-08 15:45] 0crat commented on #443
Oops! Job `gh:yegor256/cactoos#443` is not assigned, can't get start time

[2018-01-08 15:45] 0crat commented on #443
Oops! Job `gh:yegor256/cactoos#443` was not in scope

[2018-01-08 15:47] yegor256 commented on #522
@ashtonhogan I don't understand how will it work. Can you please show the code?

[2018-01-08 16:15] yegor256 commented on #529
@allanws please, report process questions to Zerocracy repository. This is not a bug in Cactoos, right?

[2018-01-08 16:15] #529 closed

[2018-01-08 18:15] svendiedrichsen opened #531 "Partitioned Iterable and Iterator"
@yegor256 How about a partitioned Iterable and Iterator? See http://google.github.io/guava/releases/snapshot/api/docs/com/google/common/collect/Iterables.html#partition-java.lang.Iterable-int-

[2018-01-08 18:15] 0crat commented on #531
@yegor256 please, pay attention to this issue

[2018-01-08 19:10] yegor256 commented on #531
@svendiedrichsen I don't know what it's for, but have nothing against it. Please, contribute with a pull request.

[2018-01-08 19:43] vmotsak opened #532 "AvgOf produces overflow for large values"
[code]
returns an `Infinity` but should be `Double.MAX_VALUE`

[2018-01-08 19:43] 0crat commented on #532
@yegor256 please, pay attention to this issue

[2018-01-08 21:20] 0crat commented on #262
Job `gh:yegor256/cactoos#262` assigned to [@t-izbassar](http://www.0crat.com/u/t-izbassar}). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read [§4](http://datum.zerocracy.com/pages/policy.html#4), [§8](http://datum.zerocracy.com/pages/policy.html#8), and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this

[2018-01-08 21:35] fabriciofx commented on #262
@yegor256 What's the 0crat deadline? 10 days, right? Because has passed only 8 days... In time: I've found some bugs in my PR, and I was solving them and I'm ready to push the PR.

[2018-01-08 21:36] yegor256 opened #533 "TextOf additional ctors for InputStream"
Would be convenient to have an ability to do `new TextOf(inputStream)`.

[2018-01-08 21:36] 0crat commented on #533
Job `gh:yegor256/cactoos#533` is now in scope, role is `DEV`.

[2018-01-08 21:37] 0crat commented on #533
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256, total is [+6680](http://www.0crat.com/u/yegor256).

[2018-01-08 22:16] svendiedrichsen commented on #531
Guava Javadoc

[2018-01-09 00:25] fabriciofx commented on #506
@0crat assign to me

[2018-01-09 00:25] 0crat commented on #506
You need to ask somebody to invite you: https://github.com/zerocracy/datum#invite-only

[2018-01-09 00:32] allanws commented on #530
Sorry, I'll add a bit more of verbosity to my comments. I mean is there any sort of priority to the opened issues? Who decides what is a priority or not?

[2018-01-09 01:27] allanws commented on #526
@yegor256 now it's fine by me. Short and sharp.

[2018-01-09 01:28] #526 closed

[2018-01-09 01:28] 0crat commented on #526
Oops! Job `gh:yegor256/cactoos#526` is not assigned, can't get start time

[2018-01-09 01:28] 0crat commented on #526
Oops! Job `gh:yegor256/cactoos#526` was not in scope

[2018-01-09 10:14] martin-robo commented on #518
@yegor256 Though, I'd like to, I am afraid I won't find the time to do this. It would be my first productive work on Github and I have never worked with Git before. So I think I'd need some time to get it all working. Could you please assign the task to another developer? Thank you and keep up the good work.

[2018-01-09 10:22] yegor256 commented on #532
@vmotsak definitely a bug, thanks for reporting (although, I have no idea how this can be fixed)

[2018-01-09 10:22] 0crat commented on #532
Job `gh:yegor256/cactoos#532` is now in scope, role is `DEV`.

[2018-01-09 10:40] yegor256 commented on #518
@martin-robo sure, no worries. Thanks!

[2018-01-09 10:53] yegor256 opened #534 "ReplacedText empower with regex replacements"
Let's make it possible to do this:

[code]

It should produce:

[code]

Internally it should something like [this](https://stackoverflow.com/a/9606141/187141).

[2018-01-09 10:55] 0crat commented on #534
Job `gh:yegor256/cactoos#534` is now in scope, role is `DEV`.

[2018-01-09 10:55] 0crat commented on #534
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256, total is [+6725](http://www.0crat.com/u/yegor256).

[2018-01-09 12:01] 0crat commented on #534
Job `gh:yegor256/cactoos#534` assigned to [@llorllale](http://www.0crat.com/u/llorllale}) (`DEV`). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read [§4](http://datum.zerocracy.com/pages/policy.html#4), [§8](http://datum.zerocracy.com/pages/policy.html#8), and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read

[2018-01-09 12:21] 0crat commented on #461
Job `gh:yegor256/cactoos#461` assigned to [@amihaiemil](http://www.0crat.com/u/amihaiemil}) (`DEV`). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read [§4](http://datum.zerocracy.com/pages/policy.html#4), [§8](http://datum.zerocracy.com/pages/policy.html#8), and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, re

[2018-01-09 12:41] 0crat commented on #532
Job `gh:yegor256/cactoos#532` assigned to [@allanws](http://www.0crat.com/u/allanws}) (`DEV`). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read [§4](http://datum.zerocracy.com/pages/policy.html#4), [§8](http://datum.zerocracy.com/pages/policy.html#8), and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [th

[2018-01-09 13:45] fabriciofx commented on #525
@0crat apply

[2018-01-09 13:45] 0crat commented on #525
@fabriciofx Can't understand "apply", try one of these:
  - `assign` Assign a performer to this issue
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Remove this issue from scope (WBS)
  - `resign` Resign from this issue
  - `version` Print current version of the bot
  - `waiting` Register an impediment for a job

[2018-01-09 13:46] fabriciofx commented on #525
@0crat assign to me

[2018-01-09 13:46] 0crat commented on #525
@fabriciofx Argument "to" doesn't match regex "me|@[a-zA-Z0-9\-]+"

[2018-01-09 13:47] fabriciofx commented on #525
@0crat assign @fabriciofx

[2018-01-09 13:47] 0crat commented on #525
@fabriciofx You need to have one of these roles in order to do what you're trying to do: ARC, PO. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "fabriciofx").

[2018-01-09 15:08] llorllale opened #537 "InputWithFallbackTest.readsAlternativeInputUri has an environmental dependency"
This test depends on the environment on which it is being run. Where I am running this, we have a proxy that filters out certain sites and returns an HTTP OK response with a text that this test is not expecting, hence it fails.

To make it more consistent and predictable, and since the requirement (#255) is to capture any `IOException`, we could perhaps refactor like this:

[code]

[2018-01-09 15:08] 0crat commented on #537
@yegor256 please, pay attention to this issue

[2018-01-09 16:05] ashtonhogan commented on #491
@svendiedrichsen `add` will only work the first time no? `remove` will never do anything?

[2018-01-09 16:06] ashtonhogan commented on #491
After using `Scalar` for a while, it seems that this class would not be a good replacement for it but perhaps it could still be a good replacement for `ArrayList`?

[2018-01-09 16:06] ashtonhogan commented on #492
@svendiedrichsen Yeah so it's a lazy immutable map?

[2018-01-09 16:07] ashtonhogan commented on #492
After using `Scalar` for a while, it seems that this class would not be a good replacement for it but perhaps it could still be a good replacement for `HashMap`?

[2018-01-09 16:16] ashtonhogan commented on #522
@yegor256  Something like this perhaps

[code]

[2018-01-09 16:30] ashtonhogan commented on #494
@fabriciofx I guess `Scalar<Map<K, V>> map` looks a bit ugly?

[2018-01-09 16:40] ashtonhogan commented on #486
That... was... awesome 8o

Honestly, I had this problem about 23 refactors ago so I have no way of getting the real code now unless I do a lot of searching and perhaps even then it may be uncommitted stuff...

I tried to reproduce the issue again and I don't get any errors, just the warning saying `Map can be replaced with java.util.EnumMap`

[code]

[2018-01-09 16:42] nick318 opened #539 "Problem with travis ci building"
I have a problem with building cactoos in travis ci with problems which are not related to changes in pull request. Can someone solve that problem? [pull request here](https://github.com/yegor256/cactoos/pull/536)

[2018-01-09 16:42] 0crat commented on #539
@yegor256 please, pay attention to this issue

[2018-01-09 16:54] ashtonhogan commented on #490
@yegor256 I played around with it. It took me a while to wrap my head around `Scalar` but now that I have this no longer makes sense.

PS: https://twitter.com/TheAshtonHogan/status/950726849331679233

[2018-01-09 16:54] #490 closed

[2018-01-09 16:58] 0crat commented on #490
Job `gh:yegor256/cactoos#490` is not assigned, can't get start time

[2018-01-09 16:58] 0crat commented on #490
Job `gh:yegor256/cactoos#490` was not in scope

[2018-01-09 16:59] ashtonhogan opened #540 "Thread-safety guarantee"
Why do most, if not all of the classes not provide this guarantee?

I'm assuming it's a good thing to be thread-safe so what are the blockers?

Performance? Technical knowledge? Contributions?

[2018-01-09 16:59] 0crat commented on #540
@yegor256 please, pay attention to this issue

[2018-01-09 18:06] yegor256 commented on #539
@iCok it's all clean: https://travis-ci.org/yegor256/cactoos What is the problem?

[2018-01-09 18:07] yegor256 commented on #522
@ashtonhogan can you show the code that will use this class please?

[2018-01-09 18:07] yegor256 commented on #262
@0crat assign @fabriciofx

[2018-01-09 18:08] 0crat commented on #262
@yegor256 The job [#262](https://github.com/yegor256/cactoos/issues/262) assigned to fabriciofx. The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-not-a-school.htm

[2018-01-09 18:09] 0crat commented on #262
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256, total is [+6720](http://www.0crat.com/u/yegor256).

[2018-01-09 18:11] svendiedrichsen commented on #532
@yegor256 i suppose you will have to use BigInteger BigDecimal for your computations. Having the usual performance impact surely.

[2018-01-09 18:15] iCok commented on #539
https://travis-ci.org/yegor256/cactoos/builds/326830368 here there is a problem with antrun-plugin. It is passed locally without problems

[2018-01-09 18:15] svendiedrichsen commented on #491
IMHO this List implementation needs a different name. Something like WriteOnceList. But this strange name shows that the scenario in which it is usable is very limited. I can't think of any.

[2018-01-09 18:20] yegor256 commented on #540
@ashtonhogan here is the philosophy: http://www.yegor256.com/2017/01/17/synchronized-decorators.html

[2018-01-09 18:20] #540 closed

[2018-01-09 18:25] 0crat commented on #540
Job `gh:yegor256/cactoos#540` is not assigned, can't get start time

[2018-01-09 18:25] 0crat commented on #540
Job `gh:yegor256/cactoos#540` was not in scope

[2018-01-09 18:48] vmotsak commented on #532
This can be fixed by calculating the mean value, something like
[code]

[2018-01-09 19:18] svendiedrichsen commented on #532
You might run into strange double precision problems though. Probably not with your example but to have AvgOf work consistently correct you may.
See for i.e. http://bloodredsun.com/2011/06/22/doubles-financial-calculations/ about this.

[2018-01-09 19:45] ashtonhogan opened #541 "Converting arrays in a ctor"
I wasn't sure where the best place to ask this question would be.

What I need is to accept an `Object[]` as input in a secondary ctor and then save every object in its `Iterator` to a `List` of some sort.

The code looks somewhat like this:

[code]

I wanted to know what's the best cactoos way to go about this? (If there is one)

Otherwise, perhaps I can take this opportunity to request some feed

[2018-01-09 19:45] 0crat commented on #541
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-09 20:45] 0crat commented on #541
@yegor256 please, pay attention to this issue

[2018-01-09 21:13] ashtonhogan commented on #522
@yegor256 Usage could come from many places. I see it as a good fit for `org/cactoos/text`; in the same way you have `Base64Text` you can have a `IPv4AddressText` or `EmailAddressText`, etc. They're all text-based values with different specifications basically...

There's probably a million use cases, here are a few I whipped up now:

[code]

[2018-01-09 21:27] ashtonhogan commented on #540
@yegor256 Is there anything on deadlocks and all those other thread-related painful issues?

[2018-01-10 04:40] allanws opened #544 "How can I get checkstyle config file?"
So I can have my IDE doing the crap job of formatting code... (@yegor256)

[2018-01-10 04:40] 0crat commented on #544
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-10 05:24] fabriciofx commented on #502
@0crat in

[2018-01-10 05:24] 0crat commented on #502
@fabriciofx You can't do that, unless you have one of these roles: ARC, PO. Your current roles are: REV.

[2018-01-10 05:25] fabriciofx commented on #502
@yegor256 Could you assing this issue to me? I've already submited a PR. Thanks in advance!

[2018-01-10 05:44] fabriciofx commented on #525
@yegor256 Could you assign this issue to me? Thanks!

[2018-01-10 05:45] fabriciofx commented on #524
@yegor256 Could you assing this issue to me? Thanks in advance.

[2018-01-10 05:45] fabriciofx commented on #515
@yegor256 Could you assing this issue to me? Thanks in advance.

[2018-01-10 05:45] fabriciofx commented on #506
@yegor256 Could you assing this issue to me? Thanks in advance.

[2018-01-10 05:46] fabriciofx commented on #353
@yegor256 Could you assing this issue to me? Thanks in advance.

[2018-01-10 05:47] fabriciofx commented on #313
@yegor256 I'll close this issue because it's out of scope at the moment. Maybe in a near future? 😄

[2018-01-10 05:47] #313 closed

[2018-01-10 05:48] 0crat commented on #313
Job `gh:yegor256/cactoos#313` is not assigned, can't get start time

[2018-01-10 05:48] 0crat commented on #313
Job `gh:yegor256/cactoos#313` was not in scope

[2018-01-10 05:49] fabriciofx commented on #225
@memoyil @yegor256 WDYT close this issue? And who will earn the points?

[2018-01-10 05:52] fabriciofx commented on #308
@svendiedrichsen I don't think `Equality` should use a `NonNull` implementation. I think it must be simpler possible. @yegor256 WDYT? Should I continue with this issue? Should I close it?

[2018-01-10 05:52] fabriciofx commented on #198
@yegor256 Could you assing this issue to me? Thanks!

[2018-01-10 05:54] fabriciofx commented on #221
@yegor256 Could you assign this issue to me and review my PR? Thanks in advance!

[2018-01-10 05:55] fabriciofx commented on #63
@yegor256 WDYT about this issue? Should I close it or continue? If I should continue, could you assign it to me?

[2018-01-10 07:30] allanwsilva opened #545 ""Random" Exception when running unit tests - org.cactoos.iterable.SolidIterableTest"
I was running the default maven goals and every now and then the `test` goal was spitting out the following exception:

[code]

Environment:
Win10
JDK 8 (1.8.0_131)
Apache Maven 3.5.2

[2018-01-10 07:30] 0crat commented on #545
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-10 07:34] fabriciofx commented on #545
@allanws I've received these exceptions too (I've a similar environment). My guess it's something related to Windows 10...

[2018-01-10 11:17] ashtonhogan opened #546 "Introduce ScalarMapOf"
In order to achieve a `ScalarMapOf` at the moment you have to declare, i.e.:

[code]

This would look a lot cleaner if it were declared like this instead, i.e.:

[code]

Is this possible? Does something better already exist?

I'm guessing it might be a matter of introducing a secondary constructor, i.e.:

[code]

If there is demand for this, I can open a new issue for `ScalarListOf`

[2018-01-10 11:17] 0crat commented on #546
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-10 12:23] Zefick commented on #545
The problem is that `SolidIterable` actually is not thread-safe. Let's look at `IterableEnvelope.iterator` method:

    public final Iterator<X> iterator() {
        return this.iterable.value().iterator();
    }

The `value()` call actually synchronized for `SyncIterable`, but `iterable()` is not! So two different `StickyIterable`s can invoke this `iterable` method simultaneously. In case of `Sol

[2018-01-10 12:24] yegor256 commented on #502
@0crat assign @fabriciofx

[2018-01-10 12:26] 0crat commented on #502
@yegor256 The job [#502](https://github.com/yegor256/cactoos/issues/502) assigned to fabriciofx. The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-not-a-school.htm

[2018-01-10 12:26] 0crat commented on #502
Bug was reported, see [[§29](http://datum.zerocracy.com/pages/policy.html#29)](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@fabriciofx](http://www.0crat.com/u/fabriciofx), total is [+120](http://www.0crat.com/u/fabriciofx)

[2018-01-10 12:26] 0crat commented on #502
Manual assignment of issues is discouraged, see [[§19](http://datum.zerocracy.com/pages/policy.html#19)](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+6715](http://www.0crat.com/u/yegor256)

[2018-01-10 12:28] fabriciofx commented on #545
@yegor256 Could you check it? Maybe it could be one of the reasons of threads leak in 0crat...

[2018-01-10 13:03] yegor256 commented on #541
@ashtonhogan you need `Mapped`:

[code]

[2018-01-10 13:03] #541 closed

[2018-01-10 13:04] 0crat commented on #541
Job `gh:yegor256/cactoos#541` is not assigned, can't get start time

[2018-01-10 13:04] 0crat commented on #541
Job [#541](https://github.com/yegor256/cactoos/issues/541) was not in scope

[2018-01-10 13:05] yegor256 commented on #541
@ashtonhogan StackOverflow is a better platform for questions, see 8586d83

[2018-01-10 13:06] yegor256 commented on #544
@allanws there is no such thing, you have to do it manually, for educational purposes mainly.

[2018-01-10 13:06] #544 closed

[2018-01-10 13:07] 0crat commented on #544
Job `gh:yegor256/cactoos#544` is not assigned, can't get start time

[2018-01-10 13:07] 0crat commented on #544
Job [#544](https://github.com/yegor256/cactoos/issues/544) was not in scope

[2018-01-10 13:08] yegor256 commented on #198
@0crat assign @fabriciofx

[2018-01-10 13:09] 0crat commented on #198
@yegor256 The job [#198](https://github.com/yegor256/cactoos/issues/198) assigned to fabriciofx. The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-not-a-school.htm

[2018-01-10 13:10] 0crat commented on #198
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@fabriciofx](http://www.0crat.com/u/fabriciofx), total is [+135](http://www.0crat.com/u/fabriciofx)

[2018-01-10 13:10] 0crat commented on #198
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+6710](http://www.0crat.com/u/yegor256)

[2018-01-10 13:16] yegor256 commented on #525
@fabriciofx it's against our principles, we should not assign jobs to their reporters.

[2018-01-10 13:42] 0crat commented on #545
Job [#545](https://github.com/yegor256/cactoos/issues/545) is now in scope, role is `DEV`

[2018-01-10 13:42] 0crat commented on #545
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@allanws](http://www.0crat.com/u/allanws), total is [+105](http://www.0crat.com/u/allanws)

[2018-01-10 13:42] 0crat commented on #545
Job [#545](https://github.com/yegor256/cactoos/issues/545) is already in scope

[2018-01-10 13:43] 0crat commented on #353
Job [#353](https://github.com/yegor256/cactoos/issues/353) is now in scope, role is `DEV`

[2018-01-10 13:43] 0crat commented on #353
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@fabriciofx](http://www.0crat.com/u/fabriciofx), total is [+150](http://www.0crat.com/u/fabriciofx)

[2018-01-10 13:44] yegor256 commented on #63
@fabriciofx let's keep it open, we'll find someone to solve it

[2018-01-10 13:44] 0crat commented on #63
Job [#63](https://github.com/yegor256/cactoos/issues/63) is now in scope, role is `DEV`

[2018-01-10 13:45] 0crat commented on #537
Job [#537](https://github.com/yegor256/cactoos/issues/537) is now in scope, role is `DEV`

[2018-01-10 13:46] 0crat commented on #537
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@llorllale](http://www.0crat.com/u/llorllale), total is [+15](http://www.0crat.com/u/llorllale)

[2018-01-10 13:56] fabriciofx commented on #525
@yegor256 Good question: why not? I think interesting to have a kind of *priority* who reporter a issue, solve it. I think it will motivate the reporter to find and fix the bugs. What do you think? If you are against, I'd like to know, just for information.

[2018-01-10 14:00] yegor256 commented on #525
@fabriciofx Here is the reason: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#1-keep-it-one-on-one

[2018-01-10 14:59] ashtonhogan commented on #541
@yegor256 I was looking for an article on www.yegor256.com that would be relevant but none of them really fit the bill

[2018-01-10 18:18] svendiedrichsen commented on #532
Please see the average of `new Double[]{100.0, 100.266}` using the above mentioned `mean` method. Should be `100.133` of course. But it isn't.

[2018-01-11 00:29] fabriciofx commented on #262
@0crat status

[2018-01-11 00:29] 0crat commented on #262
@fabriciofx This is what I know about this job, as in §32:

  * The job [#262](https://github.com/yegor256/cactoos/issues/262) is in scope
  * The job is assigned to [@fabriciofx](http://www.0crat.com/u/fabriciofx)
  * These users are banned: [@t-izbassar](http://www.0crat.com/u/t-izbassar): User was resigned from the ticket

[2018-01-11 01:05] fabriciofx commented on #198
@0crat status

[2018-01-11 01:05] 0crat commented on #198
@fabriciofx This is what I know about this job, as in §32:

  * The job [#198](https://github.com/yegor256/cactoos/issues/198) is in scope
  * The job is assigned to [@fabriciofx](http://www.0crat.com/u/fabriciofx)
  * These users are banned: [@fabriciofx](http://www.0crat.com/u/fabriciofx): This user reported the ticket

[2018-01-11 02:10] fabriciofx opened #547 "LengthOf test"
Let's implement a test for `LengthOf` class. Note the declared code in the constructor it has not been tested.

[2018-01-11 02:10] 0crat commented on #547
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-11 02:13] fabriciofx opened #548 "Base64Bytes and BytesBase64 as Base64Input and Base64Output"
Let's change `Base64Bytes` and `BytesBase64` to `Base64Input` and `Base64Output`.

[2018-01-11 02:13] 0crat commented on #548
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-11 02:19] fabriciofx opened #549 "Move *Bytes classes to org.cactoos.bytes package"
Let's move the `BytesOf`, `EmptyBytes`, `InputAsBytes`, `ReaderAsBytes` and `UncheckedBytes` to package `org.cactoos.bytes`.

[2018-01-11 02:19] 0crat commented on #549
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-11 02:22] fabriciofx opened #550 "Move DateAsText to org.cactoos.text package"
Let's move the `DateAsText` class to `org.cactoos.text` package.

[2018-01-11 02:22] 0crat commented on #550
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-11 03:13] allanws commented on #544
@yegor256 I disagree.

If a computer is better than a human doing something, I let it do it for me. Code formatting is one of them... we as humans have to write code that other humans can read.

[2018-01-11 07:07] allanws commented on #544
@yegor256 if you still disagree, it would be interesting to add that to the policy (or wherever it makes sense to you).

[2018-01-11 09:31] 0crat commented on #353
The job [#353](https://github.com/yegor256/cactoos/issues/353) assigned to icok. The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-not-a-school.html) and [this](ht

[2018-01-11 11:45] svendiedrichsen commented on #532
I have refactored the AvgOf code to fix number overflow, fix precision problem and cut code repetition. Please have a look here: https://github.com/svendiedrichsen/cactoos/commit/358b7f19469669df00eeea4c2ec3c5fbffd5ac8e

[2018-01-11 18:04] neonailol opened #551 "FuncOf returning null on apply"
According to readme this library advertised and null-free

https://github.com/yegor256/cactoos/blob/8586d83a7bb4a5cd813b0b9d22f0ee6419a94d85/README.md#L35

But in `FuncOf` there is 2 constructors, that returns null on calling `apply` of retuned `Func`
Is this really nececary? Maybe they do not belong in there and should be moved to smth like `FuncNlsOf` or changed to better abstractions or simple

[2018-01-11 18:04] 0crat commented on #551
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-12 01:57] fabriciofx commented on #531
@svendiedrichsen What's the difference between your `Partitioned`  and the `Limited` class? Is not enough add more constructors in `Limited` instead of make a new `Partitioned` class?

[2018-01-12 08:31] svendiedrichsen commented on #531
@fabriciofx `Limited` limits the number of elements returned by the underlying iterator. `Partitioned` returns _all_ of the elements of the underlying iterator partitioned into lists.

[2018-01-12 09:47] 0crat commented on #506
@fabriciofx This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#506](https://github.com/yegor256/cactoos/issues/506) is not in scope

[2018-01-12 10:00] fabriciofx commented on #515
@0crat status

[2018-01-12 10:01] 0crat commented on #515
@fabriciofx This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#515](https://github.com/yegor256/cactoos/issues/515) is not in scope

[2018-01-12 16:21] 0crat commented on #63
The job [#63](https://github.com/yegor256/cactoos/issues/63) assigned to llorllale. The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-not-a-school.html) and [this]

[2018-01-12 16:21] 0crat commented on #63
Job `gh:yegor256/cactoos#63` already assigned to @llorllale, can't assign to @llorllale

[2018-01-12 17:21] llorllale commented on #63
@yegor256 0crat assigned this job to me despite there already being a PR for this (#345)

[2018-01-12 17:24] llorllale commented on #63
@0crat waiting

[2018-01-12 17:46] 0crat commented on #63
@llorllale The impediment was registered successfully

[2018-01-12 18:17] ashtonhogan opened #552 "Twitter support"
It would be really nice to have some objects that make twitter api tasks easier. Not sure if this is possible or the appropriate repo but ideally if convenient, elegant objects could be used to interact with twitter api instead of direct over http

[2018-01-12 18:17] 0crat commented on #552
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-14 12:11] 0crat commented on #534
[@llorllale](http://www.0crat.com/u/llorllale) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-14 12:50] 0crat commented on #532
[@allanws](http://www.0crat.com/u/allanws) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-14 17:41] 0crat commented on #533
The job [#533](https://github.com/yegor256/cactoos/issues/533) assigned to icok. The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-not-a-school.html) and [this](ht

[2018-01-15 11:41] yegor256 commented on #63
@llorllale something it happens. You can just copy the PR or implement it your own way.

[2018-01-15 12:33] 0crat commented on #502
[@fabriciofx](http://www.0crat.com/u/fabriciofx) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-15 13:12] 0crat commented on #198
[@fabriciofx](http://www.0crat.com/u/fabriciofx) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-15 15:32] llorllale commented on #534
@0crat waiting

[2018-01-15 15:32] 0crat commented on #534
@llorllale The impediment was registered successfully

[2018-01-16 00:37] fabriciofx commented on #506
@0crat status

[2018-01-16 00:37] 0crat commented on #506
Are you speaking to me or about me? You must always start your message with my name if you want to address it to me, see [§1](http://datum.zerocracy.com/pages/policy.html#1).

[2018-01-16 00:38] fabriciofx commented on #506
@0crat status

[2018-01-16 00:38] 0crat commented on #506
@fabriciofx This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#506](https://github.com/yegor256/cactoos/issues/506) is not in scope

[2018-01-16 10:19] 0crat commented on #353
@icok[/z](http://www.0crat.com/u/icok) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-16 12:15] ashtonhogan opened #554 "Mapped iterator.next() not incrementing"
This code never completes because `iterator.next()` does not iterate

[code]

[2018-01-16 12:15] 0crat commented on #554
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-16 13:11] Zefick commented on #554
You call `posts.iterator()` every time instead of using the same iterator. So there is not a `cactoos`' bug.

[2018-01-16 14:01] yegor256 commented on #554
@ashtonhogan indeed, the bug is here:

[code]

Should be like this:

[code]

[2018-01-16 14:01] #554 closed

[2018-01-16 14:02] 0crat commented on #554
Job [#554](https://github.com/yegor256/cactoos/issues/554) was not in scope

[2018-01-16 14:02] 0crat commented on #554
Job `gh:yegor256/cactoos#554` is not assigned, can't get start time

[2018-01-16 16:09] iCok commented on #533
@yegor256 the issue is implemented by my pr #553, so let's close it

[2018-01-16 16:11] neonailol opened #555 "Can't configure encoder/decoder for Base64Bytes and BytesBase64"
`Base64Bytes` does not have parameter for using another type of `Base64.Decoder`
`BytesBase64` does not have parameter for using another type of `Base64.Encoder`

[2018-01-16 16:11] 0crat commented on #555
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-16 16:47] amihaiemil commented on #552
@ashtonhogan I guess you should start a project, then. ``twitter-java-eo``, which would implement such an elegant Java SDK. :)

[2018-01-16 17:32] yegor256 commented on #533
@iCok thanks!

[2018-01-16 17:32] #533 closed

[2018-01-16 17:33] yegor256 commented on #555
@neonailol it's important to always formulate tickets as bugs, saying what is broken. In this case, you can say "I can't configure decoder/encoder, etc.."

[2018-01-16 17:35] iCok commented on #533
@yegor256 How to make the job done for 0crat? On my boar agenta I still see this issue.

[2018-01-16 17:35] 0crat commented on #533
@icok[/z](http://www.0crat.com/u/icok) resigned from [#533](https://github.com/yegor256/cactoos/issues/533), since the job is not in scope anymore

[2018-01-16 17:36] 0crat commented on #533
The job [#533](https://github.com/yegor256/cactoos/issues/533) is now out of scope

[2018-01-16 17:36] 0crat commented on #533
Job `gh:yegor256/cactoos#533` is not assigned, can't get start time

[2018-01-16 17:36] 0crat commented on #555
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @neonailol[/z](http://www.0crat.com/u/neonailol), total is [+75](http://www.0crat.com/u/neonailol)

[2018-01-16 17:43] 0crat commented on #537
The job [#537](https://github.com/yegor256/cactoos/issues/537) assigned to @icok[/z](http://www.0crat.com/u/icok). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-i

[2018-01-16 19:10] llorllale opened #557 "Should we stop enforcing "Abstract Class Name" rules on this project?"
(This ticket could perhaps belong in [teamed/qulice](https://github.com/teamed/qulice).)

Let's consider whether we should remove the `PMD.TooManyMethods`  and `AbstractClassName` checks from this project, and if so, *how* to remove.

As per the changes being brought in with #528 following the [webinar](https://www.youtube.com/watch?v=Wcy53ZSF78o) on [Decorating Envelopes](http://www.yegor256.com/

[2018-01-16 19:10] 0crat commented on #557
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-16 19:25] fabriciofx commented on #557
@llorllale @yegor256 +1 to remove too.

[2018-01-16 19:34] iCok commented on #533
@0crat status

[2018-01-16 19:34] 0crat commented on #533
@iCok This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#533](https://github.com/yegor256/cactoos/issues/533) is not in scope

[2018-01-16 19:45] aliceice opened #558 "Can't create ResourceOf by supplying Texts"
Currently we can only create `ResourceOf` by supplying CharSequences as the resource name and fallback (and subsequently the Func<CharSequence, Input> fallback function).

I think it would be better to also accept `Text` as a parameters, too.

Currently we need to explicityl call `Text.asString()` when we want to use them as parameters like this:

[code]

Instead I think it'd be better to do it li

[2018-01-16 19:45] 0crat commented on #558
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-16 20:17] yegor256 commented on #557
@llorllale I agree, but this ticket belongs to Qulice project

[2018-01-16 20:17] #557 closed

[2018-01-16 20:52] 0crat commented on #558
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-16 21:27] fabriciofx commented on #502
@0crat status

[2018-01-16 21:28] 0crat commented on #502
@fabriciofx This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#502](https://github.com/yegor256/cactoos/issues/502) is in scope
  * The job is assigned to @fabriciofx[/z](http://www.0crat.com/u/fabriciofx)
  * These users are banned: @fabriciofx[/z](http://www.0crat.com/u/fabriciofx)[/z](http://www.0crat.com/u/fabriciofx): This user rep

[2018-01-16 21:53] 0crat commented on #558
Job [#558](https://github.com/yegor256/cactoos/issues/558) is now in scope, role is `DEV`

[2018-01-16 23:03] fabriciofx commented on #352
@yegor256 Will you assign a DEV for this PR? If yes, could you assign it to me? Thanks!

[2018-01-17 09:42] ashtonhogan commented on #552
@amihaiemil maybe you're right

[2018-01-17 09:45] ashtonhogan opened #559 "TransactionalFile"
It would be great to be able to write to a file in a fail-safe way so that if a write operation is interrupted, the data is not lost

Process would be:

1. If original file and temp file exist then delete the temp file, recreate it and write to it. Once done, delete the original, rename the temp.
2. If just the original file exists then create a temp file, write to the temp file. Once done, delete

[2018-01-17 09:45] 0crat commented on #559
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-17 09:57] fabriciofx opened #560 "DateAsText doesn't support LocalDateTime or LocalDate"
I can't convert `LocalDateTime` or `LocalDate` to string using `DateAsText`. For example, the above doesn't work:
[code]
Exception:
[code]
And a similar thing happens to `new DateAsText(LocalDate.now()).asString()`.

[2018-01-17 09:57] 0crat commented on #560
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-17 12:08] ashtonhogan commented on #554
Sorry, I didn't realise `iterator()` reset it

[2018-01-17 12:11] 0crat commented on #534
@llorllale[/z](http://www.0crat.com/u/llorllale) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-17 12:51] 0crat commented on #532
@allanws[/z](http://www.0crat.com/u/allanws) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-17 13:13] 0crat commented on #560
Job [#560](https://github.com/yegor256/cactoos/issues/560) is now in scope, role is `DEV`

[2018-01-17 13:13] 0crat commented on #560
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @fabriciofx[/z](http://www.0crat.com/u/fabriciofx), total is [+225](http://www.0crat.com/u/fabriciofx)

[2018-01-17 13:27] yegor256 commented on #559
@ashtonhogan can you give code example of how you would use this "thing"?

[2018-01-17 13:32] 0crat commented on #352
Job [#352](https://github.com/yegor256/cactoos/issues/352) is now in scope, role is `DEV`

[2018-01-17 14:27] #534 closed

[2018-01-17 14:31] 0crat commented on #534
Order was successfully finished: +30 points just awarded to @llorllale[/z](http://www.0crat.com/u/llorllale), total is [+105](http://www.0crat.com/u/llorllale)

[2018-01-17 14:38] 0crat commented on #534
The job [#534](https://github.com/yegor256/cactoos/issues/534) is now out of scope

[2018-01-17 15:23] ashtonhogan commented on #559
@yegor256 exactly the same as a regular `File` - this just makes sure that writes are done in an "all or nothing" way

[2018-01-17 15:43] 0crat commented on #352
The job [#352](https://github.com/yegor256/cactoos/issues/352) assigned to @allanws[/z](http://www.0crat.com/u/allanws). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/1

[2018-01-17 15:45] svendiedrichsen commented on #531
PR is merged. Closing this ticket now.

[2018-01-17 15:45] #531 closed

[2018-01-17 15:45] 0crat commented on #531
Job `gh:yegor256/cactoos#531` is not assigned, can't get start time

[2018-01-17 15:55] 0crat commented on #531
Job [#531](https://github.com/yegor256/cactoos/issues/531) was not in scope

[2018-01-17 16:33] 0crat commented on #63
@llorllale[/z](http://www.0crat.com/u/llorllale) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-17 19:52] llorllale opened #561 "WriterAsOutputStream does not close the enclosed Writer"
`WriterAsOutputStream` does not override `close()`, hence leaving the enclosed writer open.

Example writing contents to a file and then deleting the file:
[code]

[2018-01-17 19:53] 0crat commented on #561
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-17 21:36] svendiedrichsen commented on #560
@yegor256 , @fabriciofx  I would like to contribute by splitting into LocalDateTimeAsText, LocalDateAsText, OffsetDateTimeAsText etc.

[2018-01-17 21:37] 0crat commented on #561
Job [#561](https://github.com/yegor256/cactoos/issues/561) is now in scope, role is `DEV`

[2018-01-17 21:39] 0crat commented on #561
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @llorllale[/z](http://www.0crat.com/u/llorllale), total is [+120](http://www.0crat.com/u/llorllale)

[2018-01-17 21:46] yegor256 commented on #560
@0crat assign @svendiedrichsen

[2018-01-17 21:46] 0crat commented on #560
@yegor256 The job [#560](https://github.com/yegor256/cactoos/issues/560) assigned to @svendiedrichsen[/z](http://www.0crat.com/u/svendiedrichsen). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://

[2018-01-17 21:47] 0crat commented on #560
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](http://www.0crat.com/u/yegor256), total is [+7590](http://www.0crat.com/u/yegor256)

[2018-01-17 22:35] svendiedrichsen commented on #550
@yegor256 @fabriciofx This could be fixed together with #560. Should I do this?

[2018-01-18 01:07] llorllale opened #563 "ReaderAsBytes not closing the enclosed Reader"
`ReaderAsBytes.asBytes()` consumes the enclosed reader but does not close it. This does not make any sense because there is nothing more to read from the Reader, and also will result in some unexpected behavior in some environments.

For example, in Windows, attempt to read the bytes of a text file and then delete:
[code]

[2018-01-18 01:07] 0crat commented on #563
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-18 01:18] fabriciofx commented on #550
@svendiedrichsen To me it's ok... but it depends on @yegor256, if he will agree with this move.

[2018-01-18 09:35] ashtonhogan commented on #559
@yegor256 actually, I think this would be best placed as a decorator. I see that cactoos already has a number of classes available for writing to `File`. So either add secondary constructors or make `TransactionalFile` a type of `File` I guess...

[2018-01-18 10:27] yegor256 commented on #550
@fabriciofx I don't think it's a good idea. It's better to keep all date-related classes together, in the `org.cactoos.date` package.

[2018-01-18 10:36] 0crat commented on #563
Job [#563](https://github.com/yegor256/cactoos/issues/563) is now in scope, role is `DEV`

[2018-01-18 10:37] 0crat commented on #563
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @llorllale[/z](http://www.0crat.com/u/llorllale), total is [+135](http://www.0crat.com/u/llorllale)

[2018-01-18 12:31] 0crat commented on #502
@fabriciofx[/z](http://www.0crat.com/u/fabriciofx) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-18 12:45] ashtonhogan commented on #559
@yegor256 I did a prototype, it has all kinds of issues but it shows the concept at least

[2018-01-18 13:11] 0crat commented on #198
@fabriciofx[/z](http://www.0crat.com/u/fabriciofx) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-18 13:43] svendiedrichsen commented on #550
@yegor256 `org.cactoos.time`?

[2018-01-18 13:56] fabriciofx commented on #550
@yegor256 WDYT `org.cactoos.scalar.time`?

[2018-01-18 14:25] ashtonhogan opened #565 "AtomicSSHFile"
Exactly the same as https://github.com/yegor256/cactoos/issues/559 except this will write to a file on a remote server instead of locally

One caveat is that it will require an SSH client dependency. Below is an example using https://github.com/is/jsch

[code]

[2018-01-18 14:39] ashtonhogan commented on #552
@amihaiemil so the README says:

"Motivation. We are not happy with JDK, Guava, and Apache Commons because they are procedural and not object-oriented. They do their job, but mostly through static methods. Cactoos is suggesting to do almost exactly the same, but through objects."

So unless we change the scope of cactoos, it sounds like social integrations won't fit in here because afaik there's n

[2018-01-18 14:41] ashtonhogan commented on #565
@0crat why aren't you notifying @yegor256 ?

[2018-01-18 14:49] amihaiemil commented on #552
@ashtonhogan I would definetely go with a new repository. It would look ideantical to ``jcabi-github`` if you ask me. That linear architecture, with 100% encapsulation, seems best to me :) And it could also provide a mock implementation of Twitter, for unit testing.

I think you should create a repo since it's your idea. I would use ``jcabi-http`` -- it is perfectfor such an OOP api client acrhite

[2018-01-18 14:52] amihaiemil commented on #552
@ashtonhogan cactoos is just for primitive stuff, I believe. Social media integrations is not something primitive at all. I don't think anyone wants to make a swiss knife out of cactoos haha

[2018-01-18 14:53] ashtonhogan commented on #552
@amihaiemil but then again, imagine how clean your `pom.xml` will be with just one dependency :smile:

[2018-01-18 14:53] amihaiemil commented on #565
Talking to a bot and laughing at your own words. Brings Barny to mind, when he self fives himself :))

[2018-01-18 14:54] ashtonhogan commented on #565
Hahaha

[2018-01-18 14:55] amihaiemil commented on #552
@ashtonhogan I don't know what you have in mind, but such an API client will be bigger than the original cactoos itself :)) look at jcabi-github, it's a big project, no more a Java Cabinet Component :D

[2018-01-18 14:58] ashtonhogan commented on #552
@amihaiemil it's a good point. I think when things get too big it deters people away. Somehow cactoos has managed to remain quite loosely coupled so far as well, so you can use one thing without needing a million other things...

[2018-01-18 16:19] ashtonhogan opened #566 "RandomText"
Usage:

[code]

[2018-01-18 19:02] yegor256 commented on #550
@fabriciofx @svendiedrichsen let's leave it where it is now

[2018-01-18 19:04] svendiedrichsen commented on #550
Ok, I did in my PR. This can be closed then.

[2018-01-18 22:59] allanws opened #568 "Build failure - PMD violations in /master? (18JAN2018)"
Just got a fresh copy from /master and ran the build and got the log errors below:

log4j:WARN No appenders could be found for logger (com.puppycrawl.tools.checkstyle.ConfigurationLoader).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN See http://logging.apache.org/log4j/1.2/faq.html#noconfig for more info.
[INFO] Starting PMD validator
[INFO] No PMD violations found in 380 fil

[2018-01-18 23:16] allanws commented on #568
@yegor256 , please disregard the issue. I was running quilice plugin directly (mvn qulice:check). When running (mvn clean install -Pqulice) it works fine...

[2018-01-18 23:25] allanws commented on #568
@yegor256 not sure if would that be part of the project scope, but running the qulice plugin goal should work well, right? I was doing that a few days ago but in the last couple of days I was getting this error...

Anyway, up to you to do further investigation or just close the ticket.

[2018-01-18 23:32] yegor256 commented on #552
@ashtonhogan I like the idea, but it's outside of Cactoos scope :)

[2018-01-18 23:32] #552 closed

[2018-01-18 23:33] yegor256 commented on #568
@allanws `mvn clean install -Pqulice` is how you should run it

[2018-01-18 23:33] #568 closed

[2018-01-18 23:38] fabriciofx commented on #552
@yegor256 @ashtonhogan WDYT create a cactoos-twitter framework?

[2018-01-18 23:48] yegor256 commented on #552
@fabriciofx go for it, why not.

[2018-01-18 23:55] fabriciofx commented on #552
@yegor256 I'm sorry, but I'm busy closing my issues... :) @ashtonhogan WDYT? Would you like create a cactoos-twitter?

[2018-01-19 08:44] ashtonhogan commented on #552
@fabriciofx I would love to but I would need to figure out how to set up a repo like this one with all the build scripts and stuff and then I'd need to go learn the twitter API itself.

Given the way competitors are doing business, I'm highly motivated to put out a social version of cactoos as well to win over that market but I'm still trying to decide if it's the best use of my time...

[2018-01-19 08:52] amihaiemil commented on #552
@ashtonhogan If you apply PDD, even if you work alone on that repo, you will manage just fine. PDD gives you the ability to solve tasks in those 20min between meetings (or while waiting for an email reply) at your fulltime job. That's how I develop all my projects.

And setting up a repo + rultor is very easy. What will take you half an hour more is setup the release scripts, with the encrypted ke

[2018-01-19 09:00] ashtonhogan commented on #552
@amihaiemil I think it would be a good strategic move for cactoos to have this but I don't think it's the best use of my time right now, I wouldn't mind contributing to a crowdfund for it though...

[2018-01-19 12:15] #565 closed

[2018-01-19 12:15] #559 closed

[2018-01-19 12:16] #522 closed

[2018-01-19 12:16] #546 closed

[2018-01-19 12:17] #566 closed

[2018-01-19 16:55] fabriciofx commented on #262
@0crat waiting

[2018-01-20 11:53] 0crat commented on #565
You need to ask somebody to invite you: https://github.com/zerocracy/datum#invite-only

[2018-01-20 11:54] 0crat commented on #262
@fabriciofx The impediment was registered successfully

[2018-01-20 23:06] allanws commented on #532
@yegor256 please have a look at my [latest comment](https://github.com/yegor256/cactoos/pull/543#issuecomment-358869573) on this issue.

[2018-01-20 23:06] allanws commented on #532
@0crat waiting

[2018-01-20 23:06] 0crat commented on #532
@allanws The impediment was registered successfully

[2018-01-22 08:23] amihaiemil commented on #461
@0crat I refuse this one, not enough knowledge about the library in order to write Javadocs

[2018-01-22 08:23] 0crat commented on #461
@amihaiemil Can't understand "I", try one of these:
  - `assign` Assign a performer to this issue
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Remove this issue from scope (WBS)
  - `resign` Resign from this issue
  - `status` Check the status of the job
  - `version` Print current version of the bot
  - `waiting` Register an impediment for a job

[2018-01-22 08:24] amihaiemil commented on #461
@0crat resign

[2018-01-22 08:25] 0crat commented on #461
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#461](https://github.com/yegor256/cactoos/issues/461), please stop working

[2018-01-22 08:25] 0crat commented on #461
Tasks refusal is discouraged, see [§6](http://datum.zerocracy.com/pages/policy.html#6): -15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), total is [+30](https://www.0crat.com/u/amihaiemil)

[2018-01-22 19:48] 0crat commented on #353
@icok[/z](https://www.0crat.com/u/icok) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-22 19:48] 0crat commented on #63
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-22 19:49] 0crat commented on #537
@icok[/z](https://www.0crat.com/u/icok) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-22 19:49] 0crat commented on #502
The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#502](https://github.com/yegor256/cactoos/issues/502), please stop working

[2018-01-22 19:49] 0crat commented on #198
The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#198](https://github.com/yegor256/cactoos/issues/198), please stop working

[2018-01-22 19:49] 0crat commented on #353
The user @icok[/z](https://www.0crat.com/u/icok) resigned from [#353](https://github.com/yegor256/cactoos/issues/353), please stop working

[2018-01-22 20:21] yegor256 commented on #532
@0crat waiting

[2018-01-22 20:21] 0crat commented on #532
@yegor256 Job [#532](https://github.com/yegor256/cactoos/issues/532) is not assigned, can't put it on hold

[2018-01-22 20:23] yegor256 commented on #532
@0crat status

[2018-01-22 20:23] 0crat commented on #532
Are you speaking to me or about me? You must always start your message with my name if you want to address it to me, see [§1](http://datum.zerocracy.com/pages/policy.html#1).

[2018-01-22 20:25] yegor256 commented on #532
@0crat status

[2018-01-22 20:25] 0crat commented on #532
@yegor256 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#532](https://github.com/yegor256/cactoos/issues/532) is in scope
  * The job is not assigned to anyone
  * These users are banned: @vmotsak[/z](https://www.0crat.com/u/vmotsak): This user reported the ticket; @allanws[/z](https://www.0crat.com/u/allanws): User was resigned fro

[2018-01-22 20:32] yegor256 commented on #532
@0crat assign @allanws

[2018-01-22 20:32] 0crat commented on #532
@yegor256 The job [#532](https://github.com/yegor256/cactoos/issues/532) assigned to @allanws[/z](https://www.0crat.com/u/allanws). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.co

[2018-01-22 20:33] 0crat commented on #532
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7780](https://www.0crat.com/u/yegor256)

[2018-01-22 20:53] yegor256 commented on #532
@0crat waiting

[2018-01-22 20:53] 0crat commented on #532
@yegor256 The impediment for [#532](https://github.com/yegor256/cactoos/issues/532) was registered successfully by @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-01-22 21:29] svendiedrichsen opened #570 "Maven pom.xml problems shown by the versions plugin"
The maven versions plugin shows some problems with the projects pom
[code]

[2018-01-22 21:39] 0crat commented on #570
Job [#570](https://github.com/yegor256/cactoos/issues/570) is now in scope, role is `DEV`

[2018-01-22 21:54] 0crat commented on #560
@svendiedrichsen[/z](https://www.0crat.com/u/svendiedrichsen) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-22 22:15] fabriciofx commented on #262
@yegor256 This PR was merged. Could I close this issue?

[2018-01-23 03:05] 0crat commented on #461
The job [#461](https://github.com/yegor256/cactoos/issues/461) assigned to @neonailol[/z](https://www.0crat.com/u/neonailol). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015

[2018-01-23 06:48] yegor256 commented on #262
@fabriciofx which PR?

[2018-01-23 08:20] amihaiemil commented on #198
@yegor256 Can you assign Fabricio back here? I just reviewed the PR, I think it's ok :)

[2018-01-23 13:17] yegor256 commented on #198
@0crat assign @fabriciofx

[2018-01-23 13:50] 0crat commented on #198
@yegor256 The job [#198](https://github.com/yegor256/cactoos/issues/198) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor

[2018-01-23 13:51] 0crat commented on #198
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7870](https://www.0crat.com/u/yegor256)

[2018-01-23 13:51] 0crat commented on #198
It is strongly discouraged to assign jobs to their creators, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7870](https://www.0crat.com/u/yegor256)

[2018-01-23 18:17] llorllale commented on #63
@fabriciofx can we close this?

[2018-01-23 18:46] fabriciofx commented on #63
@llorllale I think so. @yegor256 I'll close this issue because I accept the code and it was already merged.

[2018-01-23 18:46] #63 closed

[2018-01-23 18:47] 0crat commented on #63
Order was successfully finished: +30 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+225](https://www.0crat.com/u/llorllale)

[2018-01-23 18:56] 0crat commented on #63
The job [#63](https://github.com/yegor256/cactoos/issues/63) is now out of scope

[2018-01-23 20:16] VsSekorin opened #571 "Partial application"
Let's add `PartApplyFunc`.

[2018-01-23 20:16] 0crat commented on #571
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-23 21:58] t-izbassar commented on #376
@0crat status

[2018-01-23 21:59] 0crat commented on #376
@t-izbassar This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#376](https://github.com/yegor256/cactoos/issues/376) is in scope
  * The role is `DEV`
  * The job is assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)
  * These users are banned: @kkamkou[/z](https://www.0crat.com/u/kkamkou): User was resigned from the ticket

[2018-01-23 22:01] t-izbassar commented on #376
@HDouss you should close this issue as #381 is merged.
@yegor256 I think that issue should be assigned back to @ixmanuel as he finished implemantation
@0crat waiting

[2018-01-23 22:01] 0crat commented on #376
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos/issues/376#issuecomment-359946162) You must always start your message with my name if you want to address it to me, see [§1](http://datum.zerocracy.com/pages/policy.html#1).

[2018-01-23 22:02] t-izbassar commented on #376
@0crat waiting

[2018-01-23 22:02] 0crat commented on #376
@t-izbassar The impediment for [#376](https://github.com/yegor256/cactoos/issues/376) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-01-24 04:54] ixmanuel commented on #376
@t-izbassar Is this error rising in the Ocract app? I can't see the full log and the lines that I can review are related with FuncWithFallback and IoCheckedFunc. These are not related with RepeatedFunc. The tests for RepatedFunc are running ok. So, does Ocrat needs a different kind of exception? because now, it is IllegalArgumentException.

[2018-01-24 10:43] VsSekorin opened #573 "IsBlank - stream api"
IsBlank#value contains inefficient use of Stream API, there is a simpler and more readable version.

[2018-01-24 10:43] 0crat commented on #573
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-24 15:25] ixmanuel commented on #376
@HDouss could yo close this issue?

[2018-01-24 15:45] HDouss commented on #376
@ixmanuel Thanks!

[2018-01-24 15:45] #376 closed

[2018-01-24 15:46] 0crat commented on #376
Order was successfully finished: +30 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), total is [+0](https://www.0crat.com/u/t-izbassar)

[2018-01-24 15:55] 0crat commented on #376
The job [#376](https://github.com/yegor256/cactoos/issues/376) is now out of scope

[2018-01-24 17:44] 0crat commented on #537
@icok[/z](https://www.0crat.com/u/icok) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-24 21:20] svendiedrichsen commented on #560
@yegor256 How am I supposed to react to this last comment? The PR is waiting for review.

[2018-01-24 21:58] svendiedrichsen commented on #570
It gets down to these two problems:
1) There are two plugins without their `<version>` specified explicitly.
[code]
2) The project does not define the minimum version of maven to run.
[code]

[2018-01-25 00:40] fabriciofx commented on #532
@0crat status

[2018-01-25 00:40] 0crat commented on #532
@fabriciofx This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#532](https://github.com/yegor256/cactoos/issues/532) is in scope for 16days
  * The role is `DEV`
  * The job is not assigned to anyone
  * These users are banned: @vmotsak[/z](https://www.0crat.com/u/vmotsak): This user reported the ticket; @allanws[/z](https://www.0crat.co

[2018-01-25 08:16] Zefick opened #578 "Create a package for matchers."
There are four matchers at the moment in the main package. Is it better to move them to separate package `org.cactoos.matcher`?

[2018-01-25 08:16] 0crat commented on #578
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-25 11:03] Zefick commented on #578
I also noticed that these matchers used only in tests. Technically speaking, they are not part of the library. There is the matcher `RunInThreads` and it lies in `test` folder. I see an inconsistency here.

[2018-01-25 12:45] ashtonhogan opened #579 "Remove usage of new keyword in method"
https://github.com/yegor256/cactoos/blob/a36445346bec4abc74cfd18a2057694ceb5ccf14/src/main/java/org/cactoos/text/ReversedText.java#L54

[2018-01-25 12:46] 0crat commented on #579
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-25 14:44] 0crat commented on #532
The job [#532](https://github.com/yegor256/cactoos/issues/532) assigned to @rexim[/z](https://www.0crat.com/u/rexim). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/i

[2018-01-25 15:29] yegor256 commented on #578
@Zefick that's exactly why we decided not to create a special package -- because these matchers are for tests only, we don't ship them with the library. That's why we don't want to make a package. See?

[2018-01-25 19:06] yegor256 commented on #579
@ashtonhogan I don't think it's possible or necessary to remove it. We are trying to use `new` as little as possible in methods, but thanks to Java, we have to it sometimes.

[2018-01-25 19:06] #579 closed

[2018-01-25 19:06] 0crat commented on #579
Job `gh:yegor256/cactoos#579` is not assigned, can't get start time

[2018-01-25 19:10] svendiedrichsen commented on #560
@yegor256 The PR has been merged. This ticket can be closed then or can't it?

[2018-01-25 19:16] 0crat commented on #579
Job [#579](https://github.com/yegor256/cactoos/issues/579) was not in scope

[2018-01-25 19:23] yegor256 commented on #560
@svendiedrichsen ask ticket reporter, it's his ticket/problem

[2018-01-25 19:49] svendiedrichsen commented on #560
@fabriciofx ?

[2018-01-25 19:53] svendiedrichsen commented on #578
@yegor256 Shouldn't those matchers reside under `src/test` then? They test supporting code.

[2018-01-25 22:14] 0crat commented on #560
@svendiedrichsen[/z](https://www.0crat.com/u/svendiedrichsen) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-25 22:25] 0crat commented on #502
The job [#502](https://github.com/yegor256/cactoos/issues/502) assigned to @rexim[/z](https://www.0crat.com/u/rexim). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/i

[2018-01-26 02:18] fabriciofx commented on #560
@svendiedrichsen @yegor256 The PR has been merged, so I'll close this issue. Thanks!

[2018-01-26 02:18] #560 closed

[2018-01-26 02:18] 0crat commented on #560
Order was successfully finished: +30 points just awarded to @svendiedrichsen[/z](https://www.0crat.com/u/svendiedrichsen), total is [+30](https://www.0crat.com/u/svendiedrichsen)

[2018-01-26 02:28] 0crat commented on #560
The job [#560](https://github.com/yegor256/cactoos/issues/560) is now out of scope

[2018-01-26 05:38] fabriciofx commented on #515
@yegor256 As the PR #516 was merged, I'll close this issue.

[2018-01-26 05:38] #515 closed

[2018-01-26 05:39] 0crat commented on #515
Job `gh:yegor256/cactoos#515` is not assigned, can't get start time

[2018-01-26 05:39] #550 closed

[2018-01-26 05:39] 0crat commented on #550
Job `gh:yegor256/cactoos#550` is not assigned, can't get start time

[2018-01-26 05:40] fabriciofx commented on #549
@yegor256 ping!

[2018-01-26 05:40] fabriciofx commented on #548
@yegor256 ping!

[2018-01-26 05:40] fabriciofx commented on #547
@yegor256 ping!

[2018-01-26 05:41] fabriciofx commented on #525
@yegor256 As the PR #528 was merged, I'll close this issue.

[2018-01-26 05:41] #525 closed

[2018-01-26 05:41] 0crat commented on #525
Job `gh:yegor256/cactoos#525` is not assigned, can't get start time

[2018-01-26 05:42] fabriciofx commented on #524
@yegor256 As the PR #527 was merged, I'll close this issue.

[2018-01-26 05:42] #524 closed

[2018-01-26 05:42] 0crat commented on #524
Job `gh:yegor256/cactoos#524` is not assigned, can't get start time

[2018-01-26 05:46] fabriciofx commented on #243
@yegor256 As the commit [81d0ead4](https://github.com/fabriciofx/cactoos/commit/81d0ead4) solve this issue, I'll close this issue.

[2018-01-26 05:46] #243 closed

[2018-01-26 05:46] 0crat commented on #243
Job `gh:yegor256/cactoos#243` is not assigned, can't get start time

[2018-01-26 05:48] fabriciofx commented on #228
@yegor256 This issue is a question doesn't import any more. I'll close it.

[2018-01-26 05:48] #228 closed

[2018-01-26 05:48] 0crat commented on #228
Job `gh:yegor256/cactoos#228` is not assigned, can't get start time

[2018-01-26 05:49] 0crat commented on #515
Job [#515](https://github.com/yegor256/cactoos/issues/515) was not in scope

[2018-01-26 05:49] 0crat commented on #550
Job [#550](https://github.com/yegor256/cactoos/issues/550) was not in scope

[2018-01-26 05:51] fabriciofx commented on #353
@yegor256 As this issue was solved by commit [a5efd00f](https://github.com/yegor256/cactoos/commit/a5efd00f), I'll close this issue.

[2018-01-26 05:51] #353 closed

[2018-01-26 05:51] 0crat commented on #525
Job [#525](https://github.com/yegor256/cactoos/issues/525) was not in scope

[2018-01-26 05:52] 0crat commented on #353
Job `gh:yegor256/cactoos#353` is not assigned, can't get start time

[2018-01-26 05:52] 0crat commented on #524
Job [#524](https://github.com/yegor256/cactoos/issues/524) was not in scope

[2018-01-26 05:54] fabriciofx commented on #221
@yegor256 ping!

[2018-01-26 05:55] 0crat commented on #545
The job [#545](https://github.com/yegor256/cactoos/issues/545) assigned to @rexim[/z](https://www.0crat.com/u/rexim). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/i

[2018-01-26 05:55] 0crat commented on #353
The job [#353](https://github.com/yegor256/cactoos/issues/353) is now out of scope

[2018-01-26 05:56] 0crat commented on #243
Job [#243](https://github.com/yegor256/cactoos/issues/243) was not in scope

[2018-01-26 05:56] fabriciofx commented on #308
@yegor256 ping!

[2018-01-26 05:58] 0crat commented on #228
Job [#228](https://github.com/yegor256/cactoos/issues/228) was not in scope

[2018-01-26 06:02] 0crat commented on #353
Job [#353](https://github.com/yegor256/cactoos/issues/353) was not in scope

[2018-01-26 09:54] ashtonhogan commented on #579
@yegor256 What about this

[code]

[2018-01-26 10:24] ashtonhogan commented on #579
@0crat reopen

[2018-01-26 10:25] 0crat commented on #579
You need to ask somebody to invite you: https://github.com/zerocracy/datum#invite-only

[2018-01-26 12:46] yegor256 commented on #548
@fabriciofx see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#5-report-when-it-is-broken

[2018-01-26 12:48] 0crat commented on #547
Job [#547](https://github.com/yegor256/cactoos/issues/547) is now in scope, role is `DEV`

[2018-01-26 12:49] 0crat commented on #547
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), total is [+360](https://www.0crat.com/u/fabriciofx)

[2018-01-26 13:35] yegor256 commented on #549
@fabriciofx see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#5-report-when-it-is-broken

[2018-01-26 15:35] #573 closed

[2018-01-26 15:35] 0crat commented on #573
Job `gh:yegor256/cactoos#573` is not assigned, can't get start time

[2018-01-26 15:44] llorllale opened #580 "*DigestOfTests that work on files are failing on Windows"
The build is broken on Windows on the following tests:

* Md5DigestOfTest.checksumFromFile
* Sha1DigestOfTest.checksumFromFile
* Sha256DigestOfTest.checksumFromFile

The file checksums simply don't match the expected value.

[2018-01-26 15:44] 0crat commented on #580
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 15:45] 0crat commented on #573
Job [#573](https://github.com/yegor256/cactoos/issues/573) was not in scope

[2018-01-26 17:04] rexim commented on #545
@yegor256 should be fixed by #577. Please close this issue.

[2018-01-26 17:22] rexim commented on #545
@0crat waiting

[2018-01-26 17:23] 0crat commented on #545
@rexim The impediment for [#545](https://github.com/yegor256/cactoos/issues/545) was registered successfully by @rexim[/z](https://www.0crat.com/u/rexim)

[2018-01-26 17:44] 0crat commented on #537
The user @icok[/z](https://www.0crat.com/u/icok) resigned from [#537](https://github.com/yegor256/cactoos/issues/537), please stop working

[2018-01-27 06:59] amihaiemil commented on #561
@yegor256 can I have this task?

[2018-01-27 14:58] ashtonhogan commented on #579
@fabriciofx it looks like @yegor256 doesn't get notified after closing issues, could you possibly comment on my above solution?

[2018-01-27 22:24] 0crat commented on #537
The job [#537](https://github.com/yegor256/cactoos/issues/537) assigned to @driver733[/z](https://www.0crat.com/u/driver733). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015

[2018-01-27 23:59] fabriciofx commented on #579
@ashtonhogan I'm sorry, but I didn't see any real gain in your solution, because:
1. You're using two attributes (`origin` and `output`) when just one is enough;
2. `new` keywork is still used *inside* the constructor. The *perfect* scenario is use it *outside* constructors and methods, because you can change the composition easier.

[2018-01-28 08:33] svendiedrichsen opened #582 "Support for semantic versioning"
@yegor256 How about creating some classes for supporting [semantic versioning](https://semver.org/)? Something like:
* Parsing and constructing version strings
* Comparing version objects
* Version arithmetic like increasing to next major/minor/bugfix version

[2018-01-28 08:33] 0crat commented on #582
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-28 22:33] svendiedrichsen commented on #545
@allanwsilva Please close this issue.

[2018-01-29 00:09] allanwsilva commented on #545
Closing as this was fixed in #577

[2018-01-29 00:09] #545 closed

[2018-01-29 00:10] 0crat commented on #545
Order was successfully finished: +30 points just awarded to @rexim[/z](https://www.0crat.com/u/rexim), total is [+15](https://www.0crat.com/u/rexim)

[2018-01-29 00:16] 0crat commented on #545
The job [#545](https://github.com/yegor256/cactoos/issues/545) is now out of scope

[2018-01-29 00:19] 0crat commented on #545
Job [#545](https://github.com/yegor256/cactoos/issues/545) was not in scope

[2018-01-29 09:21] ashtonhogan commented on #579
@fabriciofx thanks for replying

[2018-01-29 09:56] 0crat commented on #555
The job [#555](https://github.com/yegor256/cactoos/issues/555) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/0

[2018-01-29 11:14] ashtonhogan commented on #579
@fabriciofx I like the idea of printers only referencing existing data because it helps steer clear of factory design pattern.

1. Otherwise, what is the rule behind printers? ctors for input, printers for output?
2. I thought the idea was to have printers call things as and when they're needed. Some objects are already instantiated in ctors, some are lazy loaded with scalars in ctors, some are in

[2018-01-29 12:59] 0pdd opened #585 "SyncIteratorTest.java:33-35: add multi-threaded tests..."
The puzzle `482-5994e3af` from #482 has to be resolved:

https://github.com/yegor256/cactoos/blob/bfccf2f79d2d6c5f40b6ade6ff2124d5895a05bf/src/test/java/org/cactoos/iterator/SyncIteratorTest.java#L33-L35

The puzzle was created by Sven Diedrichsen on 25-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done"

[2018-01-29 12:59] 0crat commented on #585
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-29 13:13] #532 closed

[2018-01-29 13:17] 0crat commented on #532
Order was successfully finished: +30 points just awarded to @rexim[/z](https://www.0crat.com/u/rexim), total is [+45](https://www.0crat.com/u/rexim)

[2018-01-29 13:24] 0crat commented on #532
The job [#532](https://github.com/yegor256/cactoos/issues/532) is now out of scope

[2018-01-29 13:58] 0crat commented on #585
Job [#585](https://github.com/yegor256/cactoos/issues/585) is now in scope, role is `DEV`

[2018-01-29 14:11] yegor256 commented on #221
@fabriciofx I don't see a big value of replacing `Math.abs()` with a class. It's a very very primitive procedure, no need to re-write it.

[2018-01-29 14:11] #221 closed

[2018-01-29 14:11] 0crat commented on #221
Job `gh:yegor256/cactoos#221` is not assigned, can't get start time

[2018-01-29 14:21] 0crat commented on #221
Job [#221](https://github.com/yegor256/cactoos/issues/221) was not in scope

[2018-01-29 14:53] yegor256 commented on #578
@svendiedrichsen that's right, it's a bug. Let's move them to `src/test`.

[2018-01-29 14:54] 0crat commented on #578
Job [#578](https://github.com/yegor256/cactoos/issues/578) is now in scope, role is `DEV`

[2018-01-29 15:05] yegor256 commented on #582
@svendiedrichsen but there is a library for that: https://github.com/zafarkhaja/jsemver

[2018-01-29 15:09] svendiedrichsen commented on #582
Oh, I had a failure in search somehow. Sorry.

[2018-01-29 15:09] #582 closed

[2018-01-29 15:09] 0crat commented on #582
Job `gh:yegor256/cactoos#582` is not assigned, can't get start time

[2018-01-29 15:19] 0crat commented on #582
Job [#582](https://github.com/yegor256/cactoos/issues/582) was not in scope

[2018-01-29 15:42] driver733 commented on #537
@0crat status

[2018-01-29 15:42] 0crat commented on #537
@driver733 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#537](https://github.com/yegor256/cactoos/issues/537) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 19days
  * The role is `DEV`
  * The job is assigned to @driver733[/z](https://www.0crat.com/u/driver733) for [2days](http://datum.zerocracy.com/pages/polic

[2018-01-29 15:55] driver733 commented on #537
@llorllale
@yegor256
This issue should be closed since the PR has been merged.

[2018-01-29 15:56] driver733 commented on #537
@0crat waiting

[2018-01-29 15:56] 0crat commented on #537
@driver733 The impediment for [#537](https://github.com/yegor256/cactoos/issues/537) was registered successfully by @driver733[/z](https://www.0crat.com/u/driver733)

[2018-01-29 15:58] llorllale commented on #537
@driver733 indeed, thank you

[2018-01-29 15:58] #537 closed

[2018-01-29 15:59] 0crat commented on #537
Order was successfully finished: +30 points just awarded to @driver733[/z](https://www.0crat.com/u/driver733), total is [+60](https://www.0crat.com/u/driver733)

[2018-01-29 16:08] 0crat commented on #537
The job [#537](https://github.com/yegor256/cactoos/issues/537) is now out of scope

[2018-01-29 17:28] yegor256 commented on #308
@fabriciofx I don't see a link between NonNull and Equality. Anyway, it's necessary to see the code.

[2018-01-29 17:34] 0crat commented on #580
Job [#580](https://github.com/yegor256/cactoos/issues/580) is now in scope, role is `DEV`

[2018-01-29 17:35] 0crat commented on #580
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+330](https://www.0crat.com/u/llorllale)

[2018-01-29 18:51] neonailol opened #587 "Can't read properies file"
Cactoos is lacking some abstraction around java.properties
i want to have ability to run code like this

[code]

[2018-01-29 18:51] 0crat commented on #587
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-29 19:35] neonailol opened #588 "Tests of cacctoos is not oop"
Right now tests use alot of static function from matchers,
Maybe they should be more oop style, like let's take this example

[code]

in oop style this would be

[code]

or this is overkill?

[2018-01-29 19:35] 0crat commented on #588
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-29 19:38] svendiedrichsen commented on #587
`PropertiesOf` is located in package `iterable` but shouldn't it be in package `scalar`?

[2018-01-29 20:03] neonailol commented on #461
@0crat waiting

[2018-01-29 20:03] 0crat commented on #461
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos/issues/461#issuecomment-361368846). You must always start your message with my name if you want to address it to me, see [§1](http://datum.zerocracy.com/pages/policy.html#1).

[2018-01-29 20:24] neonailol commented on #587
was on the phone, did not notice it already exists :c

[2018-01-29 20:24] #587 closed

[2018-01-29 20:24] 0crat commented on #587
Job `gh:yegor256/cactoos#587` is not assigned, can't get start time

[2018-01-29 20:25] yegor256 commented on #588
@neonailol where will we get all those matchers?

[2018-01-29 20:29] neonailol commented on #588
@yegor256 they already exists in `org.hamcrest.core`, all of them are public, and since this library has package for tests, if some matchers is missing, its implementations it should go there

[2018-01-29 20:32] neonailol commented on #461
@0crat waiting

[2018-01-29 20:32] 0crat commented on #461
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos/issues/461#issuecomment-361376877). You must always start your message with my name if you want to address it to me, see [§1](http://datum.zerocracy.com/pages/policy.html#1).

[2018-01-29 20:34] 0crat commented on #587
Job [#587](https://github.com/yegor256/cactoos/issues/587) was not in scope

[2018-01-29 20:35] yegor256 commented on #588
@neonailol sounds like a good idea, but we can't just replace all static calls with classes. Very soon somebody will add them back again. We have to create some validator, that will crash the build if `Matchers.*` is used. Any ideas?

[2018-01-29 20:41] svendiedrichsen opened #590 "PropertiesOf in wrong package iterable"
Class `PropertiesOf` implements interface `Scalar` and is located in package `iterable`. This seems to be the wrong package for this class.

[2018-01-29 20:41] 0crat commented on #590
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-29 20:45] svendiedrichsen commented on #578
@Zefick This can be closed then.

[2018-01-29 21:01] neonailol commented on #588
@yegor256 there is plugin for maven [forbidden-apis](https://github.com/policeman-tools/forbidden-apis)

Sample configuration: add this profile to pom.xml

[code]

create file `./src/test/resources/org/cactoos/forbidden.txt` with content
[code]

run maven goal `forbiddenapis:testCheck`, and you wold have something similar to this

[code]

plugin also includes some bundled signatures for jdk unsafe

[2018-01-29 21:33] yegor256 opened #592 "TextOf(StackTraceElement[])"
Let's make it possible to convert an array of `StackTraceElement` into `Text`. Now it's not possible.

[2018-01-29 21:40] yegor256 commented on #592
@rultor release, tag is `0.29`

[2018-01-29 21:41] rultor commented on #592
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13786-361396051)

[2018-01-29 21:54] rultor commented on #592
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13786-361396051) (took me 13min)

[2018-01-29 21:56] #592 closed

[2018-01-29 21:57] 0crat commented on #592
Job `gh:yegor256/cactoos#592` is not assigned, can't get start time

[2018-01-29 21:57] 0crat commented on #590
Job [#590](https://github.com/yegor256/cactoos/issues/590) is now in scope, role is `DEV`

[2018-01-29 22:07] 0crat commented on #592
Job [#592](https://github.com/yegor256/cactoos/issues/592) was not in scope

[2018-01-30 09:44] #578 closed

[2018-01-30 09:44] 0crat commented on #578
Job `gh:yegor256/cactoos#578` is not assigned, can't get start time

[2018-01-30 09:54] 0crat commented on #578
The job [#578](https://github.com/yegor256/cactoos/issues/578) is now out of scope

[2018-01-30 09:54] 0crat commented on #578
Job [#578](https://github.com/yegor256/cactoos/issues/578) was not in scope

[2018-01-30 17:22] neonailol commented on #461
@0crat waiting

[2018-01-30 17:22] 0crat commented on #461
@neonailol The impediment for [#461](https://github.com/yegor256/cactoos/issues/461) was registered successfully by @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-01-30 18:58] svendiedrichsen commented on #555
This can be closed. The PR has been merged.

[2018-01-30 19:21] neonailol commented on #555
@yegor256 task is done

[2018-01-30 20:24] 0crat commented on #558
The job [#558](https://github.com/yegor256/cactoos/issues/558) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/0

[2018-01-30 23:55] 0crat commented on #352
The job [#352](https://github.com/yegor256/cactoos/issues/352) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/0

[2018-01-31 04:35] 0crat commented on #561
The job [#561](https://github.com/yegor256/cactoos/issues/561) assigned to @rexim[/z](https://www.0crat.com/u/rexim). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/i

[2018-01-31 07:34] amihaiemil commented on #461
@0crat status

[2018-01-31 07:35] 0crat commented on #461
@amihaiemil This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#461](https://github.com/yegor256/cactoos/issues/461) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @neonailol[/z](https://www.0crat.com/u/neonailol) for [8days](http://datum.zerocracy.com/pages/policy

[2018-01-31 09:05] 0crat commented on #563
The job [#563](https://github.com/yegor256/cactoos/issues/563) assigned to @rexim[/z](https://www.0crat.com/u/rexim). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/i

[2018-01-31 10:08] rexim commented on #502
@0crat waiting

[2018-01-31 10:09] 0crat commented on #502
@rexim The impediment for [#502](https://github.com/yegor256/cactoos/issues/502) was registered successfully by @rexim[/z](https://www.0crat.com/u/rexim)

[2018-01-31 11:39] fabriciofx opened #594 "Merge Cactoos and jcabi-immutable"
Let's merge Cactoos framework with [jcabi-immutable](https://github.com/jcabi/jcabi-immutable). jcabi-immutable has useful immutable classes that IMHO makes sense belongs to Cactoos. Besides, we will decrease the number of dependencies which projects use Cactoos *and* jcabi-immutable. @yegor256 WDYT?

[2018-01-31 11:39] 0crat commented on #594
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-31 12:52] #590 closed

[2018-01-31 12:52] 0crat commented on #590
Job `gh:yegor256/cactoos#590` is not assigned, can't get start time

[2018-01-31 13:02] 0crat commented on #590
The job [#590](https://github.com/yegor256/cactoos/issues/590) is now out of scope

[2018-01-31 13:27] neonailol commented on #461
@yegor256 PR #589 has been merged, task is done

[2018-01-31 14:13] yegor256 commented on #461
@neonailol thanks

[2018-01-31 14:13] #461 closed

[2018-01-31 14:14] 0crat commented on #461
Order was successfully finished: +30 points just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol), total is [+270](https://www.0crat.com/u/neonailol)

[2018-01-31 14:14] yegor256 commented on #594
@fabriciofx sounds like a good idea. All we need to do is to add `.with(*)` methods to `ListOf`, `MapOf`, `IterableOf`, etc. Am I right?

[2018-01-31 14:18] yegor256 commented on #555
@neonailol thanks

[2018-01-31 14:18] #555 closed

[2018-01-31 14:19] 0crat commented on #555
Order was successfully finished: +30 points just awarded to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), total is [+30](https://www.0crat.com/u/flslkxtc)

[2018-01-31 14:23] 0crat commented on #461
The job [#461](https://github.com/yegor256/cactoos/issues/461) is now out of scope

[2018-01-31 14:28] 0crat commented on #555
The job [#555](https://github.com/yegor256/cactoos/issues/555) is now out of scope

[2018-01-31 18:43] rexim commented on #561
@llorllale cannot reproduce on my Linux system. Is it reproducible on Windows? You reported a similar problem reproducible in Windows environment #563

[2018-01-31 19:01] llorllale commented on #561
@rexim yes, it is consistently reproducible on Windows.

[2018-01-31 20:05] 0crat commented on #570
The job [#570](https://github.com/yegor256/cactoos/issues/570) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/0

[2018-02-01 02:14] 0crat commented on #547
The job [#547](https://github.com/yegor256/cactoos/issues/547) assigned to @icok[/z](https://www.0crat.com/u/icok). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-

[2018-02-01 08:23] 0crat commented on #585
The job [#585](https://github.com/yegor256/cactoos/issues/585) assigned to @icok[/z](https://www.0crat.com/u/icok). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-

[2018-02-01 10:07] alex-semenyuk commented on #563
@0crat assign to me

[2018-02-01 10:07] 0crat commented on #563
You need to ask somebody to invite you: https://github.com/zerocracy/datum#invite-only

[2018-02-01 14:14] 0crat commented on #580
The job [#580](https://github.com/yegor256/cactoos/issues/580) assigned to @icok[/z](https://www.0crat.com/u/icok). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-

[2018-02-01 16:31] aliceice opened #595 "Grouping iterables"
Hi,

I think it would be convenient to have something like `Grouped` as a `Map<K, Iterable<V>>` which can be constructed from an Iterable<T> with two Functions for Keys and Values.

I'm imagining something like this:

[code]

This  should construct a `Map<Text, Iterable<Text>>`.

[2018-02-01 16:32] 0crat commented on #595
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-01 19:25] flslkxtc commented on #558
@yegor256 Pull request https://github.com/yegor256/cactoos/pull/562 is merged, this task is complete.

[2018-02-02 14:04] 0crat commented on #198
The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#198](https://github.com/yegor256/cactoos/issues/198), please stop working

[2018-02-02 14:37] yegor256 commented on #595
@aliceice do you know something similar in Guava or Apache Commons?

[2018-02-02 16:03] yegor256 commented on #558
@flslkxtc  thanks

[2018-02-02 16:03] #558 closed

[2018-02-02 16:04] 0crat commented on #558
Order was successfully finished: +30 points just awarded to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), total is [+60](https://www.0crat.com/u/flslkxtc)

[2018-02-02 16:13] 0crat commented on #558
The job [#558](https://github.com/yegor256/cactoos/issues/558) is now out of scope

[2018-02-02 17:54] 0crat commented on #198
The job [#198](https://github.com/yegor256/cactoos/issues/198) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/0

[2018-02-02 21:37] flslkxtc commented on #198
@yegor256 This issue has been resolved in merged pull request https://github.com/yegor256/cactoos/pull/200

[2018-02-02 22:22] flslkxtc commented on #352
@yegor256 This issue has been resolved in merged pull request https://github.com/yegor256/cactoos/pull/402

[2018-02-03 10:58] alex-semenyuk commented on #563
@0crat assign to me

[2018-02-03 10:58] 0crat commented on #563
@alex-semenyuk Argument "to" doesn't match regex `me|@[a-zA-Z0-9\-]+`

[2018-02-03 11:03] alex-semenyuk commented on #563
@0crat assign @alex-semenyuk

[2018-02-03 11:04] 0crat commented on #563
@alex-semenyuk You need to have one of these roles in order to do what you're trying to do: `ARC`, `PO`. I'm sorry to say this, but at the moment you've got no roles in this project (your GitHub login is "alex-semenyuk").

[2018-02-03 14:00] aliceice commented on #595
@yegor256 There is something similar in the Java 8 Stream-API.

`list.stream()
     .collect(Collectors.groupingBy(item->item.get("companyName"),
                Collectors.mapping(item->item.get("firstName"), Collectors.toList())));`

[2018-02-03 20:44] alex-semenyuk opened #599 "Wrong count files in Directory"
org.cactoos.io.DirectoryTest:

[code]

Actually in this test only one file is created, not 4. `Files.walk` from org.cactoos.io.Directory#iterator includes sub directories in this count.

[2018-02-03 20:45] 0crat commented on #599
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-04 10:38] 0crat commented on #352
Job [#352](https://github.com/yegor256/cactoos/issues/352) is already in scope

[2018-02-04 10:38] 0crat commented on #413
Job [#413](https://github.com/yegor256/cactoos/issues/413) is now in scope, role is `DEV`

[2018-02-04 10:38] 0crat commented on #377
Job [#377](https://github.com/yegor256/cactoos/issues/377) is now in scope, role is `DEV`

[2018-02-04 10:38] 0crat commented on #416
Job [#416](https://github.com/yegor256/cactoos/issues/416) is now in scope, role is `DEV`

[2018-02-04 10:38] 0crat commented on #417
Job [#417](https://github.com/yegor256/cactoos/issues/417) is now in scope, role is `DEV`

[2018-02-04 10:39] 0crat commented on #418
Job [#418](https://github.com/yegor256/cactoos/issues/418) is now in scope, role is `DEV`

[2018-02-04 10:39] 0crat commented on #420
Job [#420](https://github.com/yegor256/cactoos/issues/420) is now in scope, role is `DEV`

[2018-02-04 10:40] 0crat commented on #416
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9260](https://www.0crat.com/u/yegor256)

[2018-02-04 10:40] 0crat commented on #417
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9260](https://www.0crat.com/u/yegor256)

[2018-02-04 10:40] 0crat commented on #502
Job [#502](https://github.com/yegor256/cactoos/issues/502) is already in scope

[2018-02-04 10:40] 0crat commented on #418
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9260](https://www.0crat.com/u/yegor256)

[2018-02-04 10:41] 0crat commented on #420
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9260](https://www.0crat.com/u/yegor256)

[2018-02-04 14:33] SharplEr opened #600 "SumOf doesn't protect from overflow"
If we run such code:

[code]

We will get

[code]

All methods, except one, return the exact or approximate (in float case) values. But the result of intValue() can be a source of hidden bugs in code.

Java trying to approximate exact values (by using MAX_VALUE) in simple case by itself, for example:

[code]

I think it will be nice to apply such approach on SumOf because cyclic addition too rare

[2018-02-04 14:33] 0crat commented on #600
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-04 14:53] 0crat commented on #413
The job [#413](https://github.com/yegor256/cactoos/issues/413) assigned to @sharpler[/z](https://www.0crat.com/u/sharpler). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/0

[2018-02-04 23:17] SharplEr commented on #600
I've been thinking a bit about the problem. The right solution is not so obvious, as it looks at first view. For example `System.out.println(new SumOf((Integer.MAX_VALUE+1L)*2L, 10L, -(Integer.MAX_VALUE+1L)*2L).intValue())` should return `10`, not a `Integer.MAX_VALUE`. The same overflow can happen with other types, so using `long` for summing ints is not scale solution. I think we can use two var

[2018-02-05 00:04] 0crat commented on #352
@flslkxtc[/z](https://www.0crat.com/u/flslkxtc) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-05 00:11] svendiedrichsen commented on #600
@SharplEr I have added a test to show that you don't run into overflow during summation of values. I have picked up your example from above.

[2018-02-05 04:53] 0crat commented on #561
@rexim[/z](https://www.0crat.com/u/rexim) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-05 06:05] 0crat commented on #377
The job [#377](https://github.com/yegor256/cactoos/issues/377) assigned to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/

[2018-02-05 09:14] 0crat commented on #563
@rexim[/z](https://www.0crat.com/u/rexim) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-05 12:14] 0crat commented on #416
The job [#416](https://github.com/yegor256/cactoos/issues/416) assigned to @sharpler[/z](https://www.0crat.com/u/sharpler). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/0

[2018-02-05 12:49] 0crat commented on #595
Job [#595](https://github.com/yegor256/cactoos/issues/595) is now in scope, role is `DEV`

[2018-02-05 12:51] yegor256 commented on #198
@0crat refuse

[2018-02-05 12:51] 0crat commented on #198
@yegor256 The user @flslkxtc[/z](https://www.0crat.com/u/flslkxtc) resigned from [#198](https://github.com/yegor256/cactoos/issues/198), please stop working

[2018-02-05 12:51] #198 closed

[2018-02-05 12:52] 0crat commented on #198
Job `gh:yegor256/cactoos#198` is not assigned, can't get start time

[2018-02-05 13:02] 0crat commented on #198
The job [#198](https://github.com/yegor256/cactoos/issues/198) is now out of scope

[2018-02-05 14:18] yegor256 commented on #599
@alex-semenyuk this is by design, I believe. The `Directory` class is multi-purpose and must work in situations where users are interested in files _and_ directories. Or I'm wrong?

[2018-02-05 14:22] #563 closed

[2018-02-05 14:24] alex-semenyuk commented on #599
@yegor256 then a test name `listsFilesInDirectory` and javadoc to class `Files in a directory` are confused

[2018-02-05 14:25] 0crat commented on #563
Order was successfully finished: +30 points just awarded to @rexim[/z](https://www.0crat.com/u/rexim), total is [+75](https://www.0crat.com/u/rexim)

[2018-02-05 14:26] yegor256 commented on #599
@alex-semenyuk I agree, we need better explanation in the documentation.

[2018-02-05 14:26] 0crat commented on #599
Job [#599](https://github.com/yegor256/cactoos/issues/599) is now in scope, role is `DEV`

[2018-02-05 14:28] yegor256 commented on #600
@0crat assign @svendiedrichsen

[2018-02-05 14:30] 0crat commented on #600
@yegor256 The job [#600](https://github.com/yegor256/cactoos/issues/600) assigned to @svendiedrichsen[/z](https://www.0crat.com/u/svendiedrichsen). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http:/

[2018-02-05 14:31] 0crat commented on #600
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @sharpler[/z](https://www.0crat.com/u/sharpler), total is [+15](https://www.0crat.com/u/sharpler)

[2018-02-05 14:31] 0crat commented on #600
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9290](https://www.0crat.com/u/yegor256)

[2018-02-05 14:32] 0crat commented on #563
The job [#563](https://github.com/yegor256/cactoos/issues/563) is now out of scope

[2018-02-05 18:39] svendiedrichsen commented on #600
@0crat Status

[2018-02-05 18:40] 0crat commented on #600
You need to ask somebody to invite you: https://github.com/zerocracy/datum#invite-only

[2018-02-05 18:42] #482 closed

[2018-02-05 18:42] 0crat commented on #482
Job `gh:yegor256/cactoos#482` is not assigned, can't get start time

[2018-02-05 18:44] SharplEr commented on #413
@0crat status

[2018-02-05 18:45] 0crat commented on #413
@SharplEr This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#413](https://github.com/yegor256/cactoos/issues/413) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 1days
  * The role is `DEV`
  * The job is assigned to @sharpler[/z](https://www.0crat.com/u/sharpler) for [1days](http://datum.zerocracy.com/pages/policy.ht

[2018-02-05 18:52] 0crat commented on #482
Job [#482](https://github.com/yegor256/cactoos/issues/482) was not in scope

[2018-02-05 19:13] nick318 opened #607 "Is sync iterator hasNext synchronization necessary?"
According with issue #482 we have `SyncIterator`. It has a `readLock` for `hasNext` method. I think it is not necessary because change method `next` has its own lock, it means the state will be actual. The question actually coming from the purpose of testing. I have an issue #585 and I have written test for checking `next` method and I think there is no situation when `hasNext ` can return differe

[2018-02-05 19:13] 0crat commented on #607
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-05 20:12] flslkxtc commented on #570
@svendiedrichsen I've specified and updated plugins versions in pull request, but second issue about undefined maven version and missing prerequisites is a bug in versions-maven-plugin and its already has been reported multiple times, here's some more information on this issue: https://github.com/mojohaus/versions-maven-plugin/issues/48, https://github.com/mojohaus/versions-maven-plugin/issues/173

[2018-02-05 20:23] 0crat commented on #570
@flslkxtc[/z](https://www.0crat.com/u/flslkxtc) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-05 20:25] svendiedrichsen commented on #570
@flslkxtc You can achieve the same as the `prerequisites` by using the maven enforcer plugin. I think it would be nice to have a proper error message if someone tried to build the project with the wrong maven version.

[2018-02-05 20:30] svendiedrichsen commented on #607
@nick318 Sure the `next`method uses a write-lock but it will only lock if the read uses the same lock for reading and it will run into an exhausted iterator more often. I see that it won't prevent from calling `next` on an exhausted iterator at all but it will be less frequent.

[2018-02-05 21:21] svendiedrichsen commented on #607
@nick318 I have just done some quick test with a loop of 1000 runs.
* Without synchronizing the `hasNext` method around 20% of the calls ran into an exception.
* With synchronizing the `hasNext`call around 3% of the calls ran into an exception.

The chances of getting an exception were about 7 times higher without sync.

[2018-02-05 21:33] flslkxtc commented on #570
@svendiedrichsen it's already taken care of: cactoos pom.xml contains parent pom from jcabi, where maven-enforcer-plugin specifies maven version as ``<version>[3.2.5,)</version>``

[2018-02-05 21:46] svendiedrichsen commented on #570
@flslkxtc Then IMO its fine.

[2018-02-06 02:27] 0crat commented on #547
@icok[/z](https://www.0crat.com/u/icok) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-06 03:14] 0crat commented on #417
The job [#417](https://github.com/yegor256/cactoos/issues/417) assigned to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/

[2018-02-06 05:11] nikialeksey opened #608 "Remove code duplication in Reversed"
There is duplication in `collection\Reversed` and `iterable\Reversed`.

[2018-02-06 05:11] 0crat commented on #608
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-06 05:24] nikialeksey commented on #417
@yegor256 What I must do? `collection\Reversed` already merged. I see one quote:

So, this is my job? It is not obvious because title of issue about creation `collection/Reversed`

[2018-02-06 08:48] nikialeksey opened #609 "Scalar for constants"
Now if I want to create scalar from variable I write:
[code]
Instead, we need something like:
[code]
without any lambds.

[2018-02-06 08:49] 0crat commented on #609
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-06 08:53] 0crat commented on #585
@icok[/z](https://www.0crat.com/u/icok) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-06 09:12] alex-semenyuk opened #610 "Remove static methods from TeeOutputStreamTest and TeeInputStreamTest"
Remove `org.cactoos.io.TeeOutputStreamTest#asString` and `org.cactoos.io.TeeInputStreamTest#asString` which are static

[2018-02-06 09:12] 0crat commented on #610
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-06 14:24] 0crat commented on #580
@icok[/z](https://www.0crat.com/u/icok) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-06 14:34] yegor256 commented on #607
@nick318 we need a test to prove your claims above.

[2018-02-06 14:36] yegor256 commented on #417
@0crat refuse

[2018-02-06 14:37] 0crat commented on #417
@yegor256 The user @nikialeksey[/z](https://www.0crat.com/u/nikialeksey) resigned from [#417](https://github.com/yegor256/cactoos/issues/417), please stop working

[2018-02-06 14:38] #417 closed

[2018-02-06 14:38] 0crat commented on #417
Job `gh:yegor256/cactoos#417` is not assigned, can't get start time

[2018-02-06 14:45] 0crat commented on #610
Job [#610](https://github.com/yegor256/cactoos/issues/610) is now in scope, role is `DEV`

[2018-02-06 14:45] 0crat commented on #610
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @alex-semenyuk[/z](https://www.0crat.com/u/alex-semenyuk), total is [+45](https://www.0crat.com/u/alex-semenyuk)

[2018-02-06 14:48] 0crat commented on #417
The job [#417](https://github.com/yegor256/cactoos/issues/417) is now out of scope

[2018-02-06 14:49] 0crat commented on #609
Job [#609](https://github.com/yegor256/cactoos/issues/609) is now in scope, role is `DEV`

[2018-02-06 14:50] 0crat commented on #609
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey), total is [+15](https://www.0crat.com/u/nikialeksey)

[2018-02-06 16:37] 0crat commented on #608
Job [#608](https://github.com/yegor256/cactoos/issues/608) is now in scope, role is `DEV`

[2018-02-06 16:38] 0crat commented on #608
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey), total is [+30](https://www.0crat.com/u/nikialeksey)

[2018-02-06 17:23] nick318 commented on #607
@svendiedrichsen I wrote a test to follow your case. Is it correct usage of SyncIterator? Do you want to iterate through one iterator in multiple threads?

`int exceptionCount = 0;
        for (int i = 0; i <5000; i++) {
            Iterator<Integer> syncIterator = new SyncIterator<Integer>(
                Stream.iterate(0, j -> j + 1).limit(200)
                    .collect(toList())

[2018-02-06 17:45] svendiedrichsen commented on #607
@nick318 Well, thats the purpose of synchronization. To allow for usage in a multithreaded environment. If we could guarantee single threaded access we would never need to sync.

Your test will will create exceptions. There are less than without locking the read call but there will be some.

[2018-02-06 17:50] nick318 commented on #607
@svendiedrichsen What about make a copy of iterator and use it independently? Is it a bad idea?

[2018-02-06 18:16] nikialeksey opened #611 "Lets create org.cactoos.proc package"
Lets create `proc` package and move into him:
[code]

[2018-02-06 18:16] 0crat commented on #611
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-06 18:26] svendiedrichsen commented on #607
@nick318 In order to make a copy of it you'd have to iterate over it and you are back where you started unless you are blocking all access during copying. And thats a bottleneck is in multi-threaded environments.

[2018-02-06 18:29] nikialeksey opened #612 "Remove untruth doc"
`org.cactoos.scalar.True` contains this untruth int class doc:
[code]
But no, there is thread-safety guarantee.

[2018-02-06 18:29] 0crat commented on #612
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-06 18:35] nikialeksey opened #613 "Redunant method reference"
In `UncheckedScalar`:
[code]
can be replaced with:
[code]

[2018-02-06 18:35] 0crat commented on #613
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-06 18:57] nikialeksey opened #614 "Redunant assert statement org.cactoos.time.Iso"
There is always true condition in method `org.cactoos.time.Iso#get`:
[code]
Need to be removed

[2018-02-06 18:57] 0crat commented on #614
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-06 19:01] nikialeksey opened #615 "Field must be final"
Field `org.cactoos.scalar.PropertiesOf` must be `final`

[2018-02-06 19:01] 0crat commented on #615
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-06 19:42] nick318 opened #616 "Double call asBytes throw an Exception of Stream is closed"
If you call `asBytes` twice on any nested classes of `DigestInvelope `you will get `java.io.IOException: Stream closed`

The reason of throwing an exception is using:
`try (final InputStream stream = this.source.stream()) {`  inside `DigestInvelope.class`. Once you call `asBytes` it closes the stream and breaks all next calls. I think there is something wrong here.

Here is a simple test, which re

[2018-02-06 19:42] 0crat commented on #616
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-06 20:29] rexim commented on #561
@0crat waiting

[2018-02-06 20:29] 0crat commented on #561
@rexim The impediment for [#561](https://github.com/yegor256/cactoos/issues/561) was registered successfully by @rexim[/z](https://www.0crat.com/u/rexim)

[2018-02-07 04:23] 0crat commented on #418
The job [#418](https://github.com/yegor256/cactoos/issues/418) assigned to @alex-semenyuk[/z](https://www.0crat.com/u/alex-semenyuk). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.

[2018-02-07 06:20] alex-semenyuk commented on #418
@yegor256 Can be closed since  #426 was merged.

[2018-02-07 08:03] alex-semenyuk opened #618 "Some examples are outdated"
Instead `intValue()` should be `value()` here:

[code]
and here:

[code]

[2018-02-07 08:04] 0crat commented on #618
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-07 09:29] yegor256 commented on #418
@0crat refuse

[2018-02-07 09:29] 0crat commented on #418
@yegor256 The user @alex-semenyuk[/z](https://www.0crat.com/u/alex-semenyuk) resigned from [#418](https://github.com/yegor256/cactoos/issues/418), please stop working

[2018-02-07 09:30] #418 closed

[2018-02-07 09:30] 0crat commented on #418
Job `gh:yegor256/cactoos#418` is not assigned, can't get start time

[2018-02-07 09:40] 0crat commented on #418
The job [#418](https://github.com/yegor256/cactoos/issues/418) is now out of scope

[2018-02-07 13:30] #539 closed

[2018-02-07 13:31] 0crat commented on #539
Job `gh:yegor256/cactoos#539` is not assigned, can't get start time

[2018-02-07 13:41] 0crat commented on #539
Job [#539](https://github.com/yegor256/cactoos/issues/539) was not in scope

[2018-02-07 14:07] yegor256 commented on #616
@nick318 it's a predictable behavior, since `Input` is not a constant. It doesn't guarantee that `stream()` will re-open the stream. So, in order to fix that, decorate `InputOf` with `StickyInput`.

[2018-02-07 14:07] #616 closed

[2018-02-07 14:07] 0crat commented on #616
Job `gh:yegor256/cactoos#616` is not assigned, can't get start time

[2018-02-07 14:10] yegor256 commented on #614
@nikialeksey this is done in order to fool static analysis. Explained in 539c684

[2018-02-07 14:10] #614 closed

[2018-02-07 14:11] 0crat commented on #614
Job `gh:yegor256/cactoos#614` is not assigned, can't get start time

[2018-02-07 14:13] yegor256 commented on #615
@nikialeksey thanks, fixed in 5d3e45b

[2018-02-07 14:13] #615 closed

[2018-02-07 14:13] 0crat commented on #615
Job `gh:yegor256/cactoos#615` is not assigned, can't get start time

[2018-02-07 14:17] nikialeksey commented on #615
Thanks!

[2018-02-07 14:17] 0crat commented on #616
Job [#616](https://github.com/yegor256/cactoos/issues/616) was not in scope

[2018-02-07 14:18] nikialeksey commented on #614
Great! Thanks

[2018-02-07 14:21] 0crat commented on #614
Job [#614](https://github.com/yegor256/cactoos/issues/614) was not in scope

[2018-02-07 14:23] 0crat commented on #615
Job [#615](https://github.com/yegor256/cactoos/issues/615) was not in scope

[2018-02-07 17:29] nikialeksey opened #619 "SumOf for scalars"
In my project, who use cactoos, I wrote similar constructor:
[code]

It would be convenient way:
[code]

[2018-02-07 17:29] 0crat commented on #619
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-07 20:08] 0crat commented on #420
The job [#420](https://github.com/yegor256/cactoos/issues/420) assigned to @alex-semenyuk[/z](https://www.0crat.com/u/alex-semenyuk). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.

[2018-02-07 20:10] alex-semenyuk commented on #420
@yegor256 can be closed.

[2018-02-07 22:45] SharplEr opened #620 "Misprint in iterator.Partitioned `sze`"
`org.cactoos.iterator.Partitioned` only one class in all project where use word `sze`, in all other classes used `size`. Looks like a simple misprint.

P.S.
I know it's not a serious problem, but still.

[2018-02-07 22:45] 0crat commented on #620
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-07 23:36] SharplEr opened #621 "There are no simple way for split collection on values and exceptions"
Imagine you have something like that:

[code]
But you want to get two collections:
[code]
Now we have to write something like that (in case if we want to call every scalar only once):

[code]
Or we can do the same with two `Filtered` calls. But then we will call to each `IoCheckedScalar` two times.

But I think we can introduce two new classes to do it better:

[code]
Where `SplitResult<T> extends

[2018-02-07 23:36] 0crat commented on #621
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-08 00:10] 0crat commented on #352
@flslkxtc[/z](https://www.0crat.com/u/flslkxtc) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-08 03:56] 0crat commented on #595
The job [#595](https://github.com/yegor256/cactoos/issues/595) assigned to @alex-semenyuk[/z](https://www.0crat.com/u/alex-semenyuk). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.

[2018-02-08 10:06] yegor256 commented on #621
@SharplEr interesting idea... have you seen something similar in Guava or Apache Commons? Also, have you seen this: #595

[2018-02-08 10:07] yegor256 commented on #420
@alex-semenyuk thanks!

[2018-02-08 10:07] #420 closed

[2018-02-08 10:08] 0crat commented on #420
Order was successfully finished: +30 points just awarded to @alex-semenyuk[/z](https://www.0crat.com/u/alex-semenyuk), total is [+75](https://www.0crat.com/u/alex-semenyuk)

[2018-02-08 10:17] 0crat commented on #420
The job [#420](https://github.com/yegor256/cactoos/issues/420) is now out of scope

[2018-02-08 10:21] yegor256 commented on #612
@nikialeksey fixed in 27221f0 thanks!

[2018-02-08 10:21] #612 closed

[2018-02-08 10:21] 0crat commented on #612
Job `gh:yegor256/cactoos#612` is not assigned, can't get start time

[2018-02-08 10:31] 0crat commented on #612
Job [#612](https://github.com/yegor256/cactoos/issues/612) was not in scope

[2018-02-08 10:39] yegor256 commented on #619
@nikialeksey please, report bugs, not tasks: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#5-report-when-it-is-broken

[2018-02-08 10:47] yegor256 commented on #620
@SharplEr it looks OK to me, we don't want to use similar names as ctor arguments and class attributes

[2018-02-08 10:47] #620 closed

[2018-02-08 10:47] 0crat commented on #620
Job `gh:yegor256/cactoos#620` is not assigned, can't get start time

[2018-02-08 10:48] yegor256 commented on #618
@alex-semenyuk but `intValue()` works too... or I'm wrong?

[2018-02-08 10:57] 0crat commented on #620
Job [#620](https://github.com/yegor256/cactoos/issues/620) was not in scope

[2018-02-08 11:42] yegor256 commented on #613
@nikialeksey fixed in af8e9e8 thanks!

[2018-02-08 11:42] #613 closed

[2018-02-08 11:43] 0crat commented on #613
Job `gh:yegor256/cactoos#613` is not assigned, can't get start time

[2018-02-08 11:53] 0crat commented on #613
Job [#613](https://github.com/yegor256/cactoos/issues/613) was not in scope

[2018-02-08 12:15] nick318 commented on #580
@yegor256 the issue can be closed since #617 is merged

[2018-02-08 13:15] llorllale commented on #580
@nick318 thanks! Tests work now on windows

[2018-02-08 13:15] #580 closed

[2018-02-08 13:16] 0crat commented on #580
Order was successfully finished: +30 points just awarded to @icok[/z](https://www.0crat.com/u/icok), total is [+45](https://www.0crat.com/u/icok)

[2018-02-08 13:25] 0crat commented on #580
The job [#580](https://github.com/yegor256/cactoos/issues/580) is now out of scope

[2018-02-08 15:22] nikialeksey commented on #619
@yegor256 Thanks! I updated description

[2018-02-08 16:01] aliceice commented on #609
Hi @yegor256 @nikialeksey,

I think this could be handled by adding a secondary constructor to `StickyScalar`.
If that's okay for you, could I do this issue?

[2018-02-08 17:12] nikialeksey commented on #609
@aliceice `StickyScalar` is not about const values, it is about cashed. ConstScalar must not have any execution I mean

[2018-02-08 17:24] nick318 commented on #585
@svendiedrichsen To follow the discussion we had in #607, how my test for `hasNext` should look like, if such tests it is all about percentage of failure. As you said from 40% to 4.8%. How can we assert such percents?

So far I wrote one test for `next` method: https://gist.github.com/nick318/543bf5e2aea11c7050a3286d6f4f24ee

And another one for `hasNext`:
https://gist.github.com/nick318/fd41d239d

[2018-02-08 17:25] nick318 commented on #607
@svendiedrichsen I've got your points thank you. And take a look please at #585

[2018-02-08 17:25] #607 closed

[2018-02-08 17:27] 0crat commented on #607
Job `gh:yegor256/cactoos#607` is not assigned, can't get start time

[2018-02-08 17:35] svendiedrichsen commented on #585
@nick318 Sorry, but the discussion on #607 was about the necessaty of synchronizing the `hasNext` call. My suggestion to you was about how you can proof that it is useful.

The tests we need are totally different. We need to proof that
1) calls to the `next` method block calls to the `hasNext` and `next` from another thread.
2) call to the `hasNext` method block only calls from the `next` and not

[2018-02-08 17:36] aliceice commented on #609
@nikialeksey When you're creating it like this `new StickyScalar<>(() -> object);` there is no execution as it will return a pre-computed value `object` every time  it's called.

Isn't a `Constant` effectively the same as a value which is cached forever?

Well, nontheless. I'd be fine with implementing a `Constant` scalar, too :)

@yegor256  What do you think?

[2018-02-08 17:38] 0crat commented on #607
Job [#607](https://github.com/yegor256/cactoos/issues/607) was not in scope

[2018-02-08 17:39] nick318 commented on #585
@svendiedrichsen Thanks for the fast response. Do I go in a right direction with first method?

[2018-02-08 17:47] svendiedrichsen commented on #585
@nick318 Not quiet. You can't really tell from the result of your test if it worked by accident.
Maybe you pass in a Lock into the iterator, call writeLock, spawn one extra thread to call `next`, call next in the test and than release the lock. That way you could see that the test gets the first value and the extra thread gets the second.
I couldn't do in proper OOP style myself. Thats why I left

[2018-02-08 18:21] nick318 commented on #585
@svendiedrichsen But inside, iterator will unlock my lock which I made in the test. Since there is code:
`this.lock.writeLock().unlock();`

[2018-02-08 18:26] svendiedrichsen commented on #585
@nick318 It won't. Because you should have called `writelock().lock()` outside the iterator first which will the call `writelock().lock()` inside the iterator to block until you have unlocked outside.

[2018-02-08 18:37] nikialeksey commented on #609
Yes, there is no execution while object creating, but there is execution for the first time getting the value. Sure, constant and cached forever are similar things :)

[2018-02-08 20:05] 0crat commented on #570
@flslkxtc[/z](https://www.0crat.com/u/flslkxtc) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-08 20:08] flslkxtc commented on #570
@yegor256 pull request https://github.com/yegor256/cactoos/pull/596 is ready to merge

[2018-02-08 21:17] 0crat commented on #599
The job [#599](https://github.com/yegor256/cactoos/issues/599) assigned to @sharpler[/z](https://www.0crat.com/u/sharpler). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/0

[2018-02-08 22:21] SharplEr commented on #621
@yegor256  I'm not a frequent user of Guava or Apache Commons. Fast googling doesn't give me information about something similar in there.
But the problem is real. In another open source project in which I participate, such putting in `Object` and extract with `instanceof` or some other mechanism occur frequently. Just look at this nightmare in `get` methods: [tuple approach](https://github.com/ap

[2018-02-09 02:27] 0crat commented on #547
@icok[/z](https://www.0crat.com/u/icok) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-09 05:23] 0crat commented on #610
The job [#610](https://github.com/yegor256/cactoos/issues/610) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/0

[2018-02-09 08:53] 0crat commented on #585
@icok[/z](https://www.0crat.com/u/icok) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-09 10:49] yegor256 commented on #621
@SharplEr can you give me a practical example of where this design is required? I think that it's wrong in the first place. Creating some tools to support bad design is a wrong idea for Cactoos, I believe.

[2018-02-09 10:56] 0crat commented on #619
Job [#619](https://github.com/yegor256/cactoos/issues/619) is now in scope, role is `DEV`

[2018-02-09 10:58] yegor256 commented on #609
@0crat assign @aliceice

[2018-02-09 10:59] nikialeksey commented on #377
@Meerownymous pull request was merged

[2018-02-09 10:59] 0crat commented on #619
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey), total is [+45](https://www.0crat.com/u/nikialeksey)

[2018-02-09 11:00] 0crat commented on #609
@yegor256 The job [#609](https://github.com/yegor256/cactoos/issues/609) assigned to @aliceice[/z](https://www.0crat.com/u/aliceice). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.

[2018-02-09 11:00] 0crat commented on #609
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9425](https://www.0crat.com/u/yegor256)

[2018-02-09 11:07] nick318 commented on #547
@fabriciofx close the issue please, since PR #597 is merged

[2018-02-09 11:09] nick318 commented on #585
@0crat refuse

[2018-02-09 11:09] 0crat commented on #585
You need to ask somebody to invite you: https://github.com/zerocracy/datum#invite-only

[2018-02-09 11:19] #416 closed

[2018-02-09 11:22] 0crat commented on #416
Order was successfully finished: +30 points just awarded to @sharpler[/z](https://www.0crat.com/u/sharpler), total is [+45](https://www.0crat.com/u/sharpler)