[2019-09-24 12:51] victornoel commented on #1152
@paulodamaso you need to pay directly, see https://github.com/zerocracy/farm/issues/2155#issuecomment-534537197

[2019-09-25 12:12] 0pdd opened #1191 "Partitioned.java:37-39: Change the implementation of this..."
The puzzle `1188-96768eb2` from #1188 has to be resolved:

https://github.com/yegor256/cactoos/blob/903dd2f6b3e23ca8b362e8092ff59f2c8c9a84c3/src/main/java/org/cactoos/iterator/Partitioned.java#L37-L39

The puzzle was created by @rultor on 25-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2019-09-25 12:12] 0crat commented on #1191
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-25 12:12] 0pdd opened #1192 "Skipped.java:36-38: Change the implementation of this..."
The puzzle `1188-555ede32` from #1188 has to be resolved:

https://github.com/yegor256/cactoos/blob/903dd2f6b3e23ca8b362e8092ff59f2c8c9a84c3/src/main/java/org/cactoos/iterator/Skipped.java#L36-L38

The puzzle was created by @rultor on 25-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2019-09-25 12:12] 0pdd opened #1193 "Sliced.java:40-42: This class to be refactored by..."
The puzzle `1188-ace6cee0` from #1188 has to be resolved:

https://github.com/yegor256/cactoos/blob/903dd2f6b3e23ca8b362e8092ff59f2c8c9a84c3/src/main/java/org/cactoos/iterator/Sliced.java#L40-L42

The puzzle was created by @rultor on 25-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2019-09-25 12:12] 0pdd opened #1194 "HeadOf.java:36-38: Change the implementation of this..."
The puzzle `1188-895eb6a4` from #1188 has to be resolved:

https://github.com/yegor256/cactoos/blob/903dd2f6b3e23ca8b362e8092ff59f2c8c9a84c3/src/main/java/org/cactoos/iterator/HeadOf.java#L36-L38

The puzzle was created by @rultor on 25-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2019-09-25 12:13] 0pdd commented on #1188
@fanifieiev 4 puzzles [#1191](https://github.com/yegor256/cactoos/issues/1191), [#1192](https://github.com/yegor256/cactoos/issues/1192), [#1193](https://github.com/yegor256/cactoos/issues/1193), [#1194](https://github.com/yegor256/cactoos/issues/1194) are still not solved.

[2019-09-25 12:13] 0crat commented on #1194
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-25 12:13] 0crat commented on #1193
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-25 12:14] 0crat commented on #1192
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-25 12:20] 0crat commented on #1193
Job [#1193](https://github.com/yegor256/cactoos/issues/1193) is now in scope, role is `DEV`

[2019-09-25 12:20] 0crat commented on #1194
Job [#1194](https://github.com/yegor256/cactoos/issues/1194) is now in scope, role is `DEV`

[2019-09-25 12:20] 0crat commented on #1191
Job [#1191](https://github.com/yegor256/cactoos/issues/1191) is now in scope, role is `DEV`

[2019-09-25 12:20] 0crat commented on #1192
Job [#1192](https://github.com/yegor256/cactoos/issues/1192) is now in scope, role is `DEV`

[2019-09-25 12:32] 0crat commented on #1194
The job [#1194](https://github.com/yegor256/cactoos/issues/1194) assigned to @umbrah[/z](https://www.0crat.com/u/umbrah), here is [why](https://www.0crat.com/footprint/C63314D6Z/4f31c1ad-7032-41ba-b20f-03c9f7cb65a1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-09-25 12:53] 0crat commented on #1193
The job [#1193](https://github.com/yegor256/cactoos/issues/1193) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/90aca4e0-0ec7-4312-88c3-a7713ef46317); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-09-25 13:16] tess1o opened #1195 "Add a new constructor public TextOf(final Iterable<?> iterable, String delimiter)"
Current TextOf has the following public constructor:

[code]

I propose to add one more constructor that accepts a delimiter:

[code]

I do understand that this has to be submitted as a pull request, but... :)

[2019-09-25 13:16] 0crat commented on #1195
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-25 13:16] 0crat commented on #1195
@tess1o[/z](https://www.0crat.com/u/tess1o) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-25 13:29] fanifieiev commented on #1190
Not relevant

[2019-09-25 13:29] #1190 closed

[2019-09-25 13:52] 0crat commented on #1190
Job `gh:yegor256/cactoos#1190` is not assigned, can't get performer

[2019-09-25 13:52] 0crat commented on #1190
This job is not in scope

[2019-09-25 14:50] tess1o commented on #1167
In that case only a ThreadFactory is passed into the method. The ExecutorService is created by Async class (Executors.newSingleThreadExecutor(fct)), so it's the class responsibility to close it.

[2019-09-25 19:52] iakunin commented on #898
@yegor256 sorry for being so impatient, could you give your opinion about question mentioned above?

[2019-09-26 13:01] 0crat commented on #1192
The job [#1192](https://github.com/yegor256/cactoos/issues/1192) assigned to @iakunin[/z](https://www.0crat.com/u/iakunin), here is [why](https://www.0crat.com/footprint/C63314D6Z/bcd6a6fd-da7f-4ffe-b5f9-e1ad18c0162d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-09-26 13:02] 0crat commented on #1191
The job [#1191](https://github.com/yegor256/cactoos/issues/1191) assigned to @iakunin[/z](https://www.0crat.com/u/iakunin), here is [why](https://www.0crat.com/footprint/C63314D6Z/b95d2eeb-c8f1-4c2d-8290-a5d5b1ad6936); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-09-27 00:10] fanifieiev commented on #1194
@0crat status

[2019-09-27 00:10] 0crat commented on #1194
@fanifieiev This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1194](https://github.com/yegor256/cactoos/issues/1194) is [in scope](http://www.zerocracy.com/policy.html#14) for 1days
  * The role is `DEV`
  * The job is assigned to @umbrah[/z](https://www.0crat.com/u/umbrah) for [1days](http://w

[2019-09-28 15:32] victornoel commented on #1186
@0crat wait for #1196 to be merged

@iakunin don't hesitate to chip in the PR if things are not to your liking

[2019-09-28 15:40] 0crat commented on #1186
@victornoel The impediment for [#1186](https://github.com/yegor256/cactoos/issues/1186) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-09-28 16:23] victornoel commented on #1166
@0crat wait for #1197 to be merged

[2019-09-28 16:24] 0crat commented on #1166
@victornoel The impediment for [#1166](https://github.com/yegor256/cactoos/issues/1166) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-09-28 17:11] victornoel commented on #1193
@paulodamaso it's not possible to extend `IteratorEnvelope` here: I think the original point was to implement `Sliced`-based classes by extending `IteratorEnvelope`.
I propose to introduce `IteratorEnvelope` here so that it can be used for #1191 #1192 #1194. WDYT?

[2019-09-28 17:12] victornoel commented on #1193
@0crat wait for ARC to answer

[2019-09-28 17:14] 0crat commented on #1193
@victornoel The impediment for [#1193](https://github.com/yegor256/cactoos/issues/1193) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-10-01 19:46] fabriciofx commented on #1177
Closed by #1176 .

[2019-10-01 19:46] #1177 closed

[2019-10-01 20:05] 0crat commented on #1177
Job `gh:yegor256/cactoos#1177` is not assigned, can't get performer

[2019-10-01 20:05] 0crat commented on #1177
This job is not in scope

[2019-10-02 23:48] #1106 closed

[2019-10-02 23:48] 0pdd commented on #1106
The puzzle `1039-dc7f8b11` has disappeared from the source code, that's why I closed this issue.

[2019-10-02 23:48] 0pdd commented on #1023
@fabriciofx all 2 puzzles are solved here: [#1039](https://github.com/yegor256/cactoos/issues/1039), [#1106](https://github.com/yegor256/cactoos/issues/1106).

[2019-10-02 23:48] 0pdd commented on #1039
@0pdd the only puzzle [#1106](https://github.com/yegor256/cactoos/issues/1106) is solved here.

[2019-10-03 00:14] 0crat commented on #1106
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @iakunin[/z](https://www.0crat.com/u/iakunin), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-10-03 00:16] 0crat commented on #1106
The job [#1106](https://github.com/yegor256/cactoos/issues/1106) is now out of scope

[2019-10-03 02:35] paulodamaso commented on #1151
@0crat assign @fabriciofx

[2019-10-03 02:39] 0crat commented on #1151
@paulodamaso The job [#1151](https://github.com/yegor256/cactoos/issues/1151) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C63314D6Z/585ecbd3-a9d9-4bb7-9267-4cc66bbfecc8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-10-03 02:39] 0crat commented on #1151
@paulodamaso There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.49.14](https://github.com/zerocracy/farm): CID: [d0e1539e-394d-4129-876c-bd97622de0c5](https://www.0crat.com/footprint/C63314D6Z/d0e1539e-394d-4129-876c-bd97622de0c5), Type: "Order was canceled"

[2019-10-03 02:43] 0crat commented on #1151
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-10-03 02:58] fabriciofx commented on #1151
@0crat status

[2019-10-03 02:58] 0crat commented on #1151
@fabriciofx This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1151](https://github.com/yegor256/cactoos/issues/1151) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) for [23min](h

[2019-10-03 04:08] WhimsySoftware commented on #1106
@0crat quality good

[2019-10-03 04:08] 0crat commented on #1106
You must be invited in order to do that, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-10-03 04:10] sereshqua commented on #1106
@0crat quality good

[2019-10-03 04:18] 0crat commented on #1106
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-10-03 04:18] 0crat commented on #1106
Order was finished, quality is "good": +35 point(s) just awarded to @iakunin[/z](https://www.0crat.com/u/iakunin)

[2019-10-04 06:40] fabriciofx opened #1199 "Let's move classes that implements Bytes in io package to bytes package"
There're a lot of classes in `org.cactoos.io` package that implements `Bytes`. IMHO, there're in the wrong package and should moved to `org.cactoos.bytes` package. @paulodamaso make sense to you?

[2019-10-04 06:40] 0crat commented on #1199
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-10-04 06:50] fabriciofx opened #1200 "Need to improve documentation about how uses TeeInput/TeeOutput classes"
Let's improve the documentation about `TeeInput`  and `TeeOuput` classes. For example:
1. How can I copy an `Input` to `Output`?
2. How can I copy an `Output` to `Output`?
3. How can I copy an `Output` to `Input`?
4. How can I convert an `Output` to `Text`?

[2019-10-04 06:50] 0crat commented on #1200
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-10-04 20:44] iakunin commented on #1191
@0crat wait for https://github.com/yegor256/cactoos/pull/1201 to be merged

[2019-10-04 20:47] 0crat commented on #1191
@iakunin The impediment for [#1191](https://github.com/yegor256/cactoos/issues/1191) was registered successfully by @iakunin[/z](https://www.0crat.com/u/iakunin)

[2019-10-04 21:03] iakunin commented on #1192
@0crat wait for https://github.com/yegor256/cactoos/pull/1202 to be merged

[2019-10-04 21:04] 0crat commented on #1192
@iakunin The impediment for [#1192](https://github.com/yegor256/cactoos/issues/1192) was registered successfully by @iakunin[/z](https://www.0crat.com/u/iakunin)

[2019-10-05 12:28] victornoel commented on #1193
@paulodamaso ping

[2019-10-06 00:30] paulodamaso commented on #1193
@victornoel That's perfect, please go on

[2019-10-06 13:43] victornoel commented on #1193
@0crat wait for #1204 to be merged

[2019-10-06 13:49] 0crat commented on #1193
@victornoel Job [#1193](https://github.com/yegor256/cactoos/issues/1193) is already on hold

[2019-10-08 13:59] 0pdd opened #1205 "pom.xml:166-168: After updated qulice-maven-plugin..."
The puzzle `1151-07534af5` from #1151 has to be resolved:

https://github.com/yegor256/cactoos/blob/671b55d9672c752971742781d258c37d06ed38a0/pom.xml#L166-L168

The puzzle was created by Fabricio Cabral on 08-Oct-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of t

[2019-10-08 14:04] 0crat commented on #1205
Job [#1205](https://github.com/yegor256/cactoos/issues/1205) is now in scope, role is `DEV`

[2019-10-09 02:44] fabriciofx commented on #1151
@aivinog1 can you close this issue?

[2019-10-09 06:12] aivinog1 commented on #1151
@fabriciofx sure, closing it.

[2019-10-09 06:12] #1151 closed

[2019-10-09 06:29] 0crat commented on #1151
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-10-09 06:30] 0crat commented on #1151
The job [#1151](https://github.com/yegor256/cactoos/issues/1151) is now out of scope

[2019-10-09 07:37] sereshqua commented on #1151
@0crat quality good

[2019-10-09 07:44] 0crat commented on #1151
Order was finished, quality is "good": +35 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-10-09 07:44] 0crat commented on #1151
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-10-09 15:53] mapogolions opened #1206 "The same check is done twice"
https://github.com/yegor256/cactoos/blob/671b55d9672c752971742781d258c37d06ed38a0/src/main/java/org/cactoos/iterator/Sliced.java#L104
At the moment the `end` predicate has form `any -> !iterator.hasNext()`
In my opinion the predicate should look like `any -> false`

[2019-10-09 15:53] 0crat commented on #1206
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-10-09 15:53] 0crat commented on #1206
@mapogolions[/z](https://www.0crat.com/u/mapogolions) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-10 10:25] yegor256 commented on #898
@paulodamaso I vote for decorators. Keep in mind that 100% immutability is not only impossible, but is against OOP spirit. Please, read this: https://www.yegor256.com/2016/09/07/gradients-of-immutability.html

[2019-10-10 15:32] fanifieiev commented on #1205
@paulodamaso, @fabriciofx
I have almost fixed everything related to this ticket, but there are some uncertain leftovers, specifically raised by FindBugs.
Examples:

1. http://findbugs.sourceforge.net/bugDescriptions.html#EQ_UNUSUAL
`[INFO] >> M D Eq: org.cactoos.map.MapEnvelope.equals(Object) is unusual  At MapEnvelope.java:[line 151]
[INFO] >> M D Eq: org.cactoos.iterable.IterableOf.equals(Object

[2019-10-10 16:34] fanifieiev commented on #1205
I have almost fixed everything related to this ticket, but there are some uncertain leftovers, specifically raised by FindBugs.
Examples:

http://findbugs.sourceforge.net/bugDescriptions.html#EQ_UNUSUAL
`[INFO] >> M D Eq: org.cactoos.map.MapEnvelope.equals(Object) is unusual At MapEnvelope.java:[line 151] [INFO] >> M D Eq: org.cactoos.iterable.IterableOf.equals(Object) is unusual At IterableOf.jav

[2019-10-10 21:12] paulodamaso commented on #1205
@fanifieiev Have you tried https://dzone.com/articles/suppressing-findbugs-warnings ?

[2019-10-10 21:19] #1192 closed

[2019-10-10 21:19] 0pdd commented on #1192
The puzzle `1188-555ede32` has disappeared from the source code, that's why I closed this issue.

[2019-10-10 21:19] 0pdd commented on #1188
@fanifieiev 3 puzzles [#1191](https://github.com/yegor256/cactoos/issues/1191), [#1193](https://github.com/yegor256/cactoos/issues/1193), [#1194](https://github.com/yegor256/cactoos/issues/1194) are still not solved; solved: [#1192](https://github.com/yegor256/cactoos/issues/1192).

[2019-10-10 22:03] 0crat commented on #1192
The job [#1192](https://github.com/yegor256/cactoos/issues/1192) is now out of scope

[2019-10-10 22:03] 0crat commented on #1192
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @iakunin[/z](https://www.0crat.com/u/iakunin), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-10-10 22:22] fanifieiev commented on #1205
Yes, I did,
It requires adding new library  `com.google.code.findbugs:annotations` into the project
and use annotation `@edu.umd.cs.findbugs.annotations.SuppressWarnings`,
which I would not like to.

[2019-10-11 04:51] sereshqua commented on #1192
@0crat quality good

[2019-10-11 05:17] 0crat commented on #1192
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-10-11 05:17] 0crat commented on #1192
Order was finished, quality is "good": +35 point(s) just awarded to @iakunin[/z](https://www.0crat.com/u/iakunin)

[2019-10-11 12:19] victornoel commented on #1188
@fanifieiev this should be closed now, the tickets created by 0pdd will take over now for the rest of the work.

[2019-10-11 13:09] fanifieiev commented on #1188
Great

[2019-10-11 15:30] victornoel commented on #1188
@fanifieiev yes, that's what I meant :)

[2019-10-11 17:45] fanifieiev commented on #1188
@0crat status

[2019-10-11 18:02] 0crat commented on #1188
@fanifieiev This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1188](https://github.com/yegor256/cactoos/issues/1188) is [in scope](http://www.zerocracy.com/policy.html#14) for 23days
  * The role is `DEV`
  * The job is assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev) for [23days

[2019-10-11 18:56] #1188 closed

[2019-10-11 18:57] fanifieiev commented on #1188
Work is done!!!

[2019-10-11 19:30] 0crat commented on #1188
Job [#1188](https://github.com/yegor256/cactoos/issues/1188) is not in the agenda of @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), can't retrieve data and time of add

[2019-10-11 19:31] 0crat commented on #1188
Job [#1188](https://github.com/yegor256/cactoos/issues/1188) is not in the agenda of @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), can't inspect

[2019-10-11 19:31] 0crat commented on #1188
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-10-11 19:33] 0crat commented on #1188
The job [#1188](https://github.com/yegor256/cactoos/issues/1188) is now out of scope

[2019-10-12 15:57] victornoel commented on #1184
@0crat status

[2019-10-12 16:01] 0crat commented on #1184
@victornoel This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1184](https://github.com/yegor256/cactoos/issues/1184) is [in scope](http://www.zerocracy.com/policy.html#14) for 27days
  * The role is `DEV`
  * The job is assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) for [

[2019-10-12 16:02] victornoel commented on #1184
@paulodamaso it seems @marceloamadeu is not reacting, any way to let it back in the open job pool so that it can be fixed? it's blocking another issue

[2019-10-12 16:05] victornoel commented on #1182
@0crat wait for #1209 to be merged

[2019-10-12 16:26] 0crat commented on #1182
@victornoel Job [#1182](https://github.com/yegor256/cactoos/issues/1182) is already on hold

[2019-10-12 17:34] fanifieiev commented on #1205
@fabriciofx, @paulodamaso
I added finbugs com.google.code.findbugs:annotations dependency to use @edu.umd.cs.findbugs.annotations.SuppressFBWarnings as that is the only option to suppress EQ_UNUSUAL findbug violation.

[2019-10-13 06:01] sereshqua commented on #1188
@fanifieiev

1) we need to make sure that problem reporter and problem solver are two different persons;
2) you start all the comments from the name of the person you are referring to, [see](https://github.com/yegor256/cactoos/issues/1188#issuecomment-541184305)

[2019-10-15 07:28] sereshqua commented on #1188
@fanifieiev ping

[2019-10-15 13:52] fanifieiev commented on #1188
@sereshqua
1. I was the problem reporter and problem solver at the same time, but I was not part of this project at that time. When I created the problem, I was assigned by @paulodamaso to solve it. I did not know the rules then.

2. How should the problem be closed ?
    I was asked by reviewer @victornoel to close it manually, [see](https://github.com/yegor256/cactoos/issues/1188#issuecomment-54

[2019-10-15 13:56] sereshqua commented on #1188
@fanifieiev

1) it is a policy rule and 0crat shows that the job has been completed by you, [see](https://github.com/yegor256/cactoos/issues/1188#issuecomment-541195284)

2) you need to start EVERY single comment in both issues & PRs with the name of the person your referring to.

[2019-10-15 13:56] sereshqua commented on #1188
@0crat quality acceptable

[2019-10-15 14:09] 0crat commented on #1188
Order was finished, quality is "acceptable": +30 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2019-10-15 14:10] 0crat commented on #1188
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-10-15 14:12] fanifieiev commented on #1188
@sereshqua Got it, will do next time.

[2019-10-16 10:05] victornoel commented on #1184
@paulodamaso ping

[2019-10-18 16:18] StuporHero opened #1211 ""Contains" Predicate"
In addition to the Predicates added in #144, it would be nice to have a Predicate that can perform like [`Collection#contains(Object o)`](https://docs.oracle.com/javase/8/docs/api/java/util/Collection.html#contains-java.lang.Object-). Right now in my project (@paulodamaso, you know because you wrote it), we have a bit of code being introduced that looks like this:

[code]
It would be nice if it co

[2019-10-18 16:18] 0crat commented on #1211
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-10-18 16:18] 0crat commented on #1211
@stuporhero[/z](https://www.0crat.com/u/stuporhero) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-18 16:23] paulodamaso commented on #1205
@fanifieiev Sorry for the delay. Which is the PR?

[2019-10-18 16:25] paulodamaso commented on #1184
@victornoel wanna fix it?

[2019-10-18 16:51] victornoel commented on #1186
@iakunin can you close this? The PR has been merged

[2019-10-18 16:52] victornoel commented on #1184
@paulodamaso yep, can do :)

[2019-10-18 18:25] fanifieiev commented on #1205
https://github.com/yegor256/cactoos/pull/1208

[2019-10-18 21:06] iakunin commented on #1186
@victornoel great work! Thank you so much =)

[2019-10-18 21:06] #1186 closed

[2019-10-18 22:24] 0crat commented on #1186
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-10-18 22:52] 0crat commented on #1186
The job [#1186](https://github.com/yegor256/cactoos/issues/1186) is now out of scope

[2019-10-19 06:48] sereshqua commented on #1186
@0crat quality good

[2019-10-19 09:01] 0crat commented on #1186
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-10-19 09:02] 0crat commented on #1186
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-10-21 15:49] paulodamaso commented on #1184
@0crat assign @victornoel

[2019-10-21 16:59] 0crat commented on #1184
@paulodamaso The job [#1184](https://github.com/yegor256/cactoos/issues/1184) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/e5c87e5b-7d7e-4cf9-a8ba-e30a881c8fb6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-10-21 17:01] victornoel commented on #1184
@0crat wait for #1210 to be merged first as it contains code changes to `CollectionEnvelope`

[2019-10-21 17:04] 0crat commented on #1184
@paulodamaso There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.50.30](https://github.com/zerocracy/farm): CID: [cb6e9096-431e-4890-9437-7ef44060997b](https://www.0crat.com/footprint/C63314D6Z/cb6e9096-431e-4890-9437-7ef44060997b), Type: "Order was canceled"

[2019-10-21 21:25] 0crat commented on #1184
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-10-21 21:54] 0crat commented on #1184
@victornoel The impediment for [#1184](https://github.com/yegor256/cactoos/issues/1184) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-10-30 07:38] golszewski86 opened #1212 "SetOf discards non-duplicate elements"
This code:
[code]
Produces the following output:
[code]

As you can see, element "dd" is discarded upon creation of SetOf instance.

**EDIT:** The issue can be also replicated with much simpler code:
[code]
This set will contain **only** "a"...

[2019-10-30 07:39] 0crat commented on #1212
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-10-30 07:39] 0crat commented on #1212
@golszewski86[/z](https://www.0crat.com/u/golszewski86) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-30 09:21] victornoel commented on #1166
@paulodamaso I'm not sure why, 0pdd didn't react to the change to the todo, could you close this issue manually? thanks

[2019-10-30 18:52] iakunin commented on #1191
@paulodamaso is it ok that PR already has been merged, todo has disappeared from the code, but this task is still open?

[2019-10-30 18:52] iakunin commented on #898
@paulodamaso is it ok that PR already has been merged, todo has disappeared from the code, but this task is still open?

[2019-10-31 21:01] fanifieiev commented on #1205
@paulodamaso The PR  [1208](https://github.com/yegor256/cactoos/pull/1208) has been merged but this issues is still open.
Who is supposed to close the issue?

[2019-10-31 22:28] paulodamaso commented on #1212
@golszewski86 Thanks for the but report!

[2019-10-31 22:28] paulodamaso commented on #1212
@0crat in

[2019-10-31 22:35] paulodamaso commented on #1166
@victornoel Looks like the puzzle hasn't been changed at all, would you please make another PR with the fix?

[2019-10-31 22:35] 0crat commented on #1212
@paulodamaso Job [#1212](https://github.com/yegor256/cactoos/issues/1212) is now in scope, role is `DEV`

[2019-10-31 22:42] 0crat commented on #1212
@paulodamaso Thanks for your contribution, @golszewski86[/z](https://www.0crat.com/u/golszewski86)! If you would be a member of [the project](https://www.0crat.com/p/C63314D6Z), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-10-31 22:56] 0crat commented on #1212
The job [#1212](https://github.com/yegor256/cactoos/issues/1212) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C63314D6Z/438bae49-eb00-45b9-947f-27df77cccbfd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-11-01 13:34] fanifieiev commented on #1205
@0crat status

[2019-11-01 13:38] paulodamaso commented on #1205
@fanifieiev 0pdd is supposed to close it, let's wait for the next merge operation to see if it'll clean the code of the stall puzzles

[2019-11-01 13:51] 0crat commented on #1205
@fanifieiev This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1205](https://github.com/yegor256/cactoos/issues/1205) is [in scope](http://www.zerocracy.com/policy.html#14) for 24days
  * The role is `DEV`
  * The job is assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev) for [24days

[2019-11-01 15:02] fanifieiev commented on #1205
ok, thx

[2019-11-02 18:26] victornoel commented on #1184
@0crat wait for #1216 to be merged

[2019-11-02 18:27] 0crat commented on #1184
@victornoel Job [#1184](https://github.com/yegor256/cactoos/issues/1184) is already on hold

[2019-11-03 11:24] #898 closed

[2019-11-03 11:24] 0pdd commented on #898
The puzzle `829-59f865f8` has disappeared from the source code, that's why I closed this issue.

[2019-11-03 11:24] #1166 closed

[2019-11-03 11:24] 0pdd commented on #1166
The puzzle `1119-fd48e847` has disappeared from the source code, that's why I closed this issue.

[2019-11-03 11:24] #1191 closed

[2019-11-03 11:24] 0pdd commented on #1191
The puzzle `1188-96768eb2` has disappeared from the source code, that's why I closed this issue.

[2019-11-03 11:24] #1193 closed

[2019-11-03 11:24] 0pdd commented on #1193
The puzzle `1188-ace6cee0` has disappeared from the source code, that's why I closed this issue.

[2019-11-03 11:24] #1205 closed

[2019-11-03 11:24] 0pdd commented on #1205
The puzzle `1151-07534af5` has disappeared from the source code, that's why I closed this issue.

[2019-11-03 11:25] 0pdd opened #1217 "ListEnvelopeTest.java:43-45: Get rid of the Immutable in..."
The puzzle `898-0bea8a51` from #898 has to be resolved:

https://github.com/yegor256/cactoos/blob/5e0da3093e75d4e583f88a137140e14cb505d652/src/test/java/org/cactoos/list/ListEnvelopeTest.java#L43-L45

The puzzle was created by @fanifieiev on 28-Oct-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2019-11-03 11:25] 0pdd opened #1218 "JoinedTest.java:43-45: Replace Collections.emptyList()..."
The puzzle `898-4936d4fd` from #898 has to be resolved:

https://github.com/yegor256/cactoos/blob/5e0da3093e75d4e583f88a137140e14cb505d652/src/test/java/org/cactoos/collection/JoinedTest.java#L43-L45

The puzzle was created by @fanifieiev on 28-Oct-19.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2019-11-03 11:25] 0crat commented on #1217
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-03 11:25] 0pdd opened #1219 "Immutable.java:38-40: Introduce an Immutable wrapper for..."
The puzzle `898-fb66ac0b` from #898 has to be resolved:

https://github.com/yegor256/cactoos/blob/5e0da3093e75d4e583f88a137140e14cb505d652/src/main/java/org/cactoos/list/Immutable.java#L38-L40

The puzzle was created by @fanifieiev on 28-Oct-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2019-11-03 11:25] 0pdd opened #1220 "Immutable.java:41-43: Replace all the..."
The puzzle `898-457dcf37` from #898 has to be resolved:

https://github.com/yegor256/cactoos/blob/5e0da3093e75d4e583f88a137140e14cb505d652/src/main/java/org/cactoos/list/Immutable.java#L41-L43

The puzzle was created by @fanifieiev on 28-Oct-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2019-11-03 11:26] 0pdd opened #1221 "Immutable.java:37-39: Replace all the..."
The puzzle `898-b15777f7` from #898 has to be resolved:

https://github.com/yegor256/cactoos/blob/5e0da3093e75d4e583f88a137140e14cb505d652/src/main/java/org/cactoos/collection/Immutable.java#L37-L39

The puzzle was created by Fevzi Anifieiev on 28-Oct-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2019-11-03 11:26] 0pdd opened #1222 "IteratorOfTest.java:95-98: According to this Yegor's post..."
The puzzle `1166-50dc8796` from #1166 has to be resolved:

https://github.com/yegor256/cactoos/blob/5e0da3093e75d4e583f88a137140e14cb505d652/src/test/java/org/cactoos/iterator/IteratorOfTest.java#L95-L98

The puzzle was created by @fanifieiev on 28-Oct-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2019-11-03 11:26] 0pdd opened #1223 "pom.xml:193-199: In the continuation of #588, all the..."
The puzzle `1166-fd48e847` from #1166 has to be resolved:

https://github.com/yegor256/cactoos/blob/5e0da3093e75d4e583f88a137140e14cb505d652/pom.xml#L193-L199

The puzzle was created by Fevzi Anifieiev on 28-Oct-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of t

[2019-11-03 11:26] 0crat commented on #1221
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-03 11:26] 0pdd commented on #829
@Vatavuk 5 puzzles [#1217](https://github.com/yegor256/cactoos/issues/1217), [#1218](https://github.com/yegor256/cactoos/issues/1218), [#1219](https://github.com/yegor256/cactoos/issues/1219), [#1220](https://github.com/yegor256/cactoos/issues/1220), [#1221](https://github.com/yegor256/cactoos/issues/1221) are still not solved; solved: [#898](https://github.com/yegor256/cactoos/issues/898).

[2019-11-03 11:26] 0pdd commented on #898
@0pdd 5 puzzles [#1217](https://github.com/yegor256/cactoos/issues/1217), [#1218](https://github.com/yegor256/cactoos/issues/1218), [#1219](https://github.com/yegor256/cactoos/issues/1219), [#1220](https://github.com/yegor256/cactoos/issues/1220), [#1221](https://github.com/yegor256/cactoos/issues/1221) are still not solved.

[2019-11-03 11:26] 0pdd commented on #588
@neonailol 2 puzzles [#1222](https://github.com/yegor256/cactoos/issues/1222), [#1223](https://github.com/yegor256/cactoos/issues/1223) are still not solved; solved: [#1082](https://github.com/yegor256/cactoos/issues/1082), [#1119](https://github.com/yegor256/cactoos/issues/1119), [#1166](https://github.com/yegor256/cactoos/issues/1166), [#902](https://github.com/yegor256/cactoos/issues/902), [#90

[2019-11-03 11:26] 0pdd commented on #903
@0pdd 2 puzzles [#1222](https://github.com/yegor256/cactoos/issues/1222), [#1223](https://github.com/yegor256/cactoos/issues/1223) are still not solved; solved: [#1082](https://github.com/yegor256/cactoos/issues/1082), [#1119](https://github.com/yegor256/cactoos/issues/1119), [#1166](https://github.com/yegor256/cactoos/issues/1166), [#951](https://github.com/yegor256/cactoos/issues/951).

[2019-11-03 11:26] 0pdd commented on #951
@0pdd 2 puzzles [#1222](https://github.com/yegor256/cactoos/issues/1222), [#1223](https://github.com/yegor256/cactoos/issues/1223) are still not solved; solved: [#1082](https://github.com/yegor256/cactoos/issues/1082), [#1119](https://github.com/yegor256/cactoos/issues/1119), [#1166](https://github.com/yegor256/cactoos/issues/1166).

[2019-11-03 11:26] 0pdd commented on #1082
@0pdd 2 puzzles [#1222](https://github.com/yegor256/cactoos/issues/1222), [#1223](https://github.com/yegor256/cactoos/issues/1223) are still not solved; solved: [#1119](https://github.com/yegor256/cactoos/issues/1119), [#1166](https://github.com/yegor256/cactoos/issues/1166).

[2019-11-03 11:27] 0pdd commented on #1119
@0pdd 2 puzzles [#1222](https://github.com/yegor256/cactoos/issues/1222), [#1223](https://github.com/yegor256/cactoos/issues/1223) are still not solved; solved: [#1166](https://github.com/yegor256/cactoos/issues/1166).

[2019-11-03 11:27] 0pdd commented on #1166
@0pdd 2 puzzles [#1222](https://github.com/yegor256/cactoos/issues/1222), [#1223](https://github.com/yegor256/cactoos/issues/1223) are still not solved.

[2019-11-03 11:27] 0pdd commented on #1188
@fanifieiev the puzzle [#1194](https://github.com/yegor256/cactoos/issues/1194) is still not solved; solved: [#1191](https://github.com/yegor256/cactoos/issues/1191), [#1192](https://github.com/yegor256/cactoos/issues/1192), [#1193](https://github.com/yegor256/cactoos/issues/1193).

[2019-11-03 11:27] 0pdd commented on #1151
@aivinog1 the only puzzle [#1205](https://github.com/yegor256/cactoos/issues/1205) is solved here.

[2019-11-03 11:27] 0crat commented on #1220
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-03 11:27] 0crat commented on #1219
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-03 11:28] 0crat commented on #1218
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-03 11:30] 0crat commented on #1223
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-03 11:30] 0crat commented on #1222
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-03 11:42] 0crat commented on #1217
Job [#1217](https://github.com/yegor256/cactoos/issues/1217) is now in scope, role is `DEV`

[2019-11-03 11:50] 0crat commented on #1219
Job [#1219](https://github.com/yegor256/cactoos/issues/1219) is now in scope, role is `DEV`

[2019-11-03 12:01] 0crat commented on #1222
Job [#1222](https://github.com/yegor256/cactoos/issues/1222) is now in scope, role is `DEV`

[2019-11-03 12:01] 0crat commented on #1223
Job [#1223](https://github.com/yegor256/cactoos/issues/1223) is now in scope, role is `DEV`

[2019-11-03 12:14] 0crat commented on #1220
Job [#1220](https://github.com/yegor256/cactoos/issues/1220) is now in scope, role is `DEV`

[2019-11-03 12:25] 0crat commented on #1166
The job [#1166](https://github.com/yegor256/cactoos/issues/1166) is now out of scope

[2019-11-03 12:25] 0crat commented on #1191
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @iakunin[/z](https://www.0crat.com/u/iakunin), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-03 12:30] 0crat commented on #1221
Job [#1221](https://github.com/yegor256/cactoos/issues/1221) is now in scope, role is `DEV`

[2019-11-03 12:35] 0crat commented on #1218
Job [#1218](https://github.com/yegor256/cactoos/issues/1218) is now in scope, role is `DEV`

[2019-11-03 12:51] 0crat commented on #1205
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-03 12:52] 0crat commented on #898
The job [#898](https://github.com/yegor256/cactoos/issues/898) is now out of scope

[2019-11-03 12:54] 0crat commented on #1205
The job [#1205](https://github.com/yegor256/cactoos/issues/1205) is now out of scope

[2019-11-03 12:54] 0crat commented on #898
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @iakunin[/z](https://www.0crat.com/u/iakunin), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-03 13:05] 0crat commented on #1193
The job [#1193](https://github.com/yegor256/cactoos/issues/1193) is now out of scope

[2019-11-03 13:05] 0crat commented on #1166
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-03 13:05] 0crat commented on #1191
The job [#1191](https://github.com/yegor256/cactoos/issues/1191) is now out of scope

[2019-11-03 13:05] 0crat commented on #1193
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-03 13:19] 0crat commented on #1217
The job [#1217](https://github.com/yegor256/cactoos/issues/1217) assigned to @lavinj87[/z](https://www.0crat.com/u/lavinj87), here is [why](https://www.0crat.com/footprint/C63314D6Z/fd827a7e-4ee2-441b-8352-a16248cac461); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-11-03 13:49] 0crat commented on #1222
The job [#1222](https://github.com/yegor256/cactoos/issues/1222) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C63314D6Z/4e35039d-bad0-4b44-afa3-29d837397e44); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-11-03 14:04] 0crat commented on #1219
The job [#1219](https://github.com/yegor256/cactoos/issues/1219) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C63314D6Z/0d4d2622-aa87-4a8c-963e-ed3b32c741f4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-11-03 14:26] 0crat commented on #1220
The job [#1220](https://github.com/yegor256/cactoos/issues/1220) assigned to @lavinj87[/z](https://www.0crat.com/u/lavinj87), here is [why](https://www.0crat.com/footprint/C63314D6Z/a875eb15-def3-41ef-8f9c-f9e1bb5e3498); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-11-03 14:41] 0crat commented on #1223
The job [#1223](https://github.com/yegor256/cactoos/issues/1223) assigned to @lavinj87[/z](https://www.0crat.com/u/lavinj87), here is [why](https://www.0crat.com/footprint/C63314D6Z/4ae8a9a4-fcb2-43b4-a615-dac3bca713b6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-11-03 14:59] 0crat commented on #1221
The job [#1221](https://github.com/yegor256/cactoos/issues/1221) assigned to @lavinj87[/z](https://www.0crat.com/u/lavinj87), here is [why](https://www.0crat.com/footprint/C63314D6Z/9a253fbb-ad71-44ff-af25-70bd2c74873d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-11-03 15:13] 0crat commented on #1218
The job [#1218](https://github.com/yegor256/cactoos/issues/1218) assigned to @lavinj87[/z](https://www.0crat.com/u/lavinj87), here is [why](https://www.0crat.com/footprint/C63314D6Z/bae9139e-ad8b-4ea4-a43c-a588ee659e42); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-11-03 15:43] quantumlexa opened #1224 "Immutable list is not really immutable"
Please see the test:

[code]

[2019-11-03 15:43] 0crat commented on #1224
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-03 15:43] 0crat commented on #1224
@quantumlexa[/z](https://www.0crat.com/u/quantumlexa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-11-03 18:41] sereshqua commented on #1166
@0crat quality good

[2019-11-03 18:41] sereshqua commented on #1191
@0crat quality good

[2019-11-03 18:43] sereshqua commented on #1205
@fanifieiev please make sure you start all the comments with the name of the user you are referring to, see: [1](https://github.com/yegor256/cactoos/issues/1205#issuecomment-543874062), [2](https://github.com/yegor256/cactoos/issues/1205#issuecomment-548821213)

[2019-11-03 18:44] sereshqua commented on #898
@0crat quality good

[2019-11-03 18:45] sereshqua commented on #1193
@0crat quality good

[2019-11-03 19:24] 0crat commented on #1193
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-11-03 19:25] 0crat commented on #1193
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-11-03 19:25] 0crat commented on #898
Order was finished, quality is "good": +35 point(s) just awarded to @iakunin[/z](https://www.0crat.com/u/iakunin)

[2019-11-03 19:33] 0crat commented on #1166
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-11-03 19:33] 0crat commented on #1191
Order was finished, quality is "good": +35 point(s) just awarded to @iakunin[/z](https://www.0crat.com/u/iakunin)

[2019-11-03 19:34] 0crat commented on #1166
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-11-03 19:51] 0crat commented on #898
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-11-03 20:02] 0crat commented on #1191
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-11-04 01:34] fanifieiev commented on #1205
@sereshqua sure, will do that.
BTW: I updated the mentioned  [1](https://github.com/yegor256/cactoos/issues/1205#issuecomment-543874062), [2](https://github.com/yegor256/cactoos/issues/1205#issuecomment-548821213)
sections.

[2019-11-04 06:11] sereshqua commented on #1205
@0crat quality acceptable

[2019-11-04 06:13] 0crat commented on #1205
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-11-04 06:13] 0crat commented on #1205
Order was finished, quality is "acceptable": +30 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2019-11-04 08:15] victornoel opened #1226 "Delete And(Proc, ...) and introduce ForEach(Proc, ...)"
The `And` class has a constructor taking a `Proc` and behaving in:
- a specific manner: it's not about a logical and
- and an obscure manner: if you pass a lambda that returns `true` you can get an unexpected behaviour thinking you are getting the `Proc` one while you get the `Scalar` one

This makes bugs happens, such as #1212.

I think we should:
- just delete it to avoid problems
- introduce a

[2019-11-05 01:12] fanifieiev commented on #1219
@victornoel @iakunin @paulodamaso
Guys, I have a question to you:
The test class [ListEnvelopeTest](https://github.com/yegor256/cactoos/blob/master/src/test/java/org/cactoos/list/ListEnvelopeTest.java) contains some tests:
1. [ListEnvelopeTest.java#L142](https://github.com/yegor256/cactoos/blob/5e0da3093e75d4e583f88a137140e14cb505d652/src/test/java/org/cactoos/list/ListEnvelopeTest.java#L142)
2. [

[2019-11-05 18:12] iakunin commented on #1219
@fanifieiev there is a todo just above the class and there is a corresponding issue: https://github.com/yegor256/cactoos/issues/1217

This test should be rewritten without using Immutable decorator.

By the way:
* https://github.com/yegor256/cactoos/blob/5e0da3093e75d4e583f88a137140e14cb505d652/src/test/java/org/cactoos/list/ListEnvelopeTest.java#L63
* https://github.com/yegor256/cactoos/blob/5e0d

[2019-11-05 18:12] iakunin commented on #1219
@fanifieiev there is a todo just above the class and there is a corresponding issue: https://github.com/yegor256/cactoos/issues/1217

This test should be rewritten without using Immutable decorator.

By the way:
* https://github.com/yegor256/cactoos/blob/5e0da3093e75d4e583f88a137140e14cb505d652/src/test/java/org/cactoos/list/ListEnvelopeTest.java#L63
* https://github.com/yegor256/cactoos/blob/5e0d

[2019-11-05 18:31] fanifieiev commented on #1219
@iakunin,
IMHO, the [org.cactoos.list.Immutable](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/list/Immutable.java)
is broken, it is not completely immutable. It looks more like a decorator to restrict mutable methods.
For instance,
1. The [subList](https://github.com/yegor256/cactoos/blob/5e0da3093e75d4e583f88a137140e14cb505d652/src/main/java/org/cactoos/list/Immutable

[2019-11-05 18:41] fanifieiev commented on #1219
@iakunin
I was actually more concerned about the following test:
1. [ListEnvelopeTest.java#L142](https://github.com/yegor256/cactoos/blob/5e0da3093e75d4e583f88a137140e14cb505d652/src/test/java/org/cactoos/list/ListEnvelopeTest.java#L142)
2. [ListEnvelopeTest.java#L59](https://github.com/yegor256/cactoos/blob/5e0da3093e75d4e583f88a137140e14cb505d652/src/test/java/org/cactoos/list/ListEnvelopeTest.j

[2019-11-06 03:00] #1182 closed

[2019-11-06 03:00] 0pdd commented on #1182
The puzzle `1152-b5541bca` has disappeared from the source code, that's why I closed this issue.

[2019-11-06 03:00] 0pdd opened #1228 "package-info.java:29-32: Continue replacing usage of..."
The puzzle `1182-b5541bca` from #1182 has to be resolved:

https://github.com/yegor256/cactoos/blob/de831b8bdbe62825c6633f793cb0f7a3e02239db/src/test/java/org/cactoos/io/package-info.java#L29-L32

The puzzle was created by Victor Noël on 21-Sep-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2019-11-06 03:00] 0pdd commented on #1033
@llorllale the puzzle [#1228](https://github.com/yegor256/cactoos/issues/1228) is still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182).

[2019-11-06 03:00] 0pdd commented on #1117
@0pdd the puzzle [#1228](https://github.com/yegor256/cactoos/issues/1228) is still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182).

[2019-11-06 03:00] 0pdd commented on #1152
@0pdd the puzzle [#1228](https://github.com/yegor256/cactoos/issues/1228) is still not solved; solved: [#1182](https://github.com/yegor256/cactoos/issues/1182).

[2019-11-06 03:00] 0pdd commented on #1182
@0pdd the puzzle [#1228](https://github.com/yegor256/cactoos/issues/1228) is still not solved.

[2019-11-06 03:01] 0crat commented on #1228
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-06 03:07] paulodamaso commented on #1224
@quantumlexa What behavior do you expect from this test execution?

[2019-11-06 03:13] quantumlexa commented on #1224
I'd expect from Immutable list to be immutable, i.e. once the object is created - there is no way to modify it.
Please see the following: https://docs.oracle.com/javase/tutorial/essential/concurrency/immutable.html

[2019-11-06 03:26] paulodamaso commented on #1226
@victornoel This bug shows us that `And` is bloated with more than one behavior. But if we are removing this behavior from `And`, we should provide it somewhere else.

[2019-11-06 03:27] paulodamaso commented on #1226
@yegor256 What do you think about this? How about leaving `And` just for logical conjunctions and implement another class for `foreach` behavior?

[2019-11-06 03:42] paulodamaso commented on #1224
@0crat in

[2019-11-06 04:11] 0crat commented on #1228
Job [#1228](https://github.com/yegor256/cactoos/issues/1228) is now in scope, role is `DEV`

[2019-11-06 04:29] 0crat commented on #1224
@paulodamaso Job [#1224](https://github.com/yegor256/cactoos/issues/1224) is now in scope, role is `DEV`

[2019-11-06 04:33] 0crat commented on #1182
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-06 04:37] 0crat commented on #1224
@paulodamaso Thanks for your contribution, @quantumlexa[/z](https://www.0crat.com/u/quantumlexa)! If you would be a member of [the project](https://www.0crat.com/p/C63314D6Z), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-11-06 04:41] 0crat commented on #1182
The job [#1182](https://github.com/yegor256/cactoos/issues/1182) is now out of scope

[2019-11-06 05:17] 0crat commented on #1228
The job [#1228](https://github.com/yegor256/cactoos/issues/1228) assigned to @iakunin[/z](https://www.0crat.com/u/iakunin), here is [why](https://www.0crat.com/footprint/C63314D6Z/4ec299c8-d957-4a80-a562-7387451318d7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-11-06 05:21] 0crat commented on #1224
The job [#1224](https://github.com/yegor256/cactoos/issues/1224) assigned to @iakunin[/z](https://www.0crat.com/u/iakunin), here is [why](https://www.0crat.com/footprint/C63314D6Z/aeb45e97-1d88-4cda-a27c-dfcd7b59b6e4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-11-06 05:37] sereshqua commented on #1182
@0crat quality good

[2019-11-06 05:53] 0crat commented on #1182
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-11-06 05:54] 0crat commented on #1182
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-11-06 08:07] victornoel commented on #1226
@paulodamaso I believe `Iterable` already introduces the behaviour of `forEach`: indeed it is its "raison d'être" :)

[2019-11-06 08:55] iakunin commented on #1219
@fanifieiev you can always create an issue and suggest your changes in it.

[2019-11-06 13:01] paulodamaso commented on #1226
@victornoel I'm talking about an declarative way of iterating through the collection, just like `And(Proc, Iterable)` behaves

[2019-11-06 13:15] victornoel commented on #1226
@paulodamaso I understand, here is my thinking:
1. `foreach` behaviour is a procedural behaviour
2. declarative abstractions exists to be composed (if not you don't need an abstraction)
3. `Proc` is the abstraction for composing procedural behaviour
4. `() -> iterable.forEach(xxx)` is an instance of `Proc` structurally

So the only thing we can do is introduce a `ForEach` class that implements `Pr

[2019-11-06 14:53] fanifieiev commented on #1224
@paulodamaso, @quantumlexa, @iakunin
I would also like to mention, that the `subList` method should return immutable list as well.
For now it does not.

[2019-11-06 16:51] fanifieiev commented on #1224
@paulodamaso The cause is not only because of `subList`, but in general as well.
As the second test shows above, it is achievable without `subList` as well.

[2019-11-06 17:17] victornoel commented on #1219
@fanifieiev don't bother too much about `ListEnvelope` because #1185 is going to clean this up :)

[2019-11-06 19:29] 0pdd commented on #1222
The puzzle `1166-50dc8796` has disappeared from the source code, that's why I closed this issue.

[2019-11-06 19:29] #1222 closed

[2019-11-06 19:29] 0pdd commented on #588
@neonailol the puzzle [#1223](https://github.com/yegor256/cactoos/issues/1223) is still not solved; solved: [#1082](https://github.com/yegor256/cactoos/issues/1082), [#1119](https://github.com/yegor256/cactoos/issues/1119), [#1166](https://github.com/yegor256/cactoos/issues/1166), [#1222](https://github.com/yegor256/cactoos/issues/1222), [#902](https://github.com/yegor256/cactoos/issues/902), [#90

[2019-11-06 19:29] 0pdd commented on #903
@0pdd the puzzle [#1223](https://github.com/yegor256/cactoos/issues/1223) is still not solved; solved: [#1082](https://github.com/yegor256/cactoos/issues/1082), [#1119](https://github.com/yegor256/cactoos/issues/1119), [#1166](https://github.com/yegor256/cactoos/issues/1166), [#1222](https://github.com/yegor256/cactoos/issues/1222), [#951](https://github.com/yegor256/cactoos/issues/951).

[2019-11-06 19:29] 0pdd commented on #951
@0pdd the puzzle [#1223](https://github.com/yegor256/cactoos/issues/1223) is still not solved; solved: [#1082](https://github.com/yegor256/cactoos/issues/1082), [#1119](https://github.com/yegor256/cactoos/issues/1119), [#1166](https://github.com/yegor256/cactoos/issues/1166), [#1222](https://github.com/yegor256/cactoos/issues/1222).

[2019-11-06 19:29] 0pdd commented on #1082
@0pdd the puzzle [#1223](https://github.com/yegor256/cactoos/issues/1223) is still not solved; solved: [#1119](https://github.com/yegor256/cactoos/issues/1119), [#1166](https://github.com/yegor256/cactoos/issues/1166), [#1222](https://github.com/yegor256/cactoos/issues/1222).

[2019-11-06 19:29] 0pdd commented on #1119
@0pdd the puzzle [#1223](https://github.com/yegor256/cactoos/issues/1223) is still not solved; solved: [#1166](https://github.com/yegor256/cactoos/issues/1166), [#1222](https://github.com/yegor256/cactoos/issues/1222).

[2019-11-06 19:29] 0pdd commented on #1166
@0pdd the puzzle [#1223](https://github.com/yegor256/cactoos/issues/1223) is still not solved; solved: [#1222](https://github.com/yegor256/cactoos/issues/1222).

[2019-11-06 19:53] 0crat commented on #1222
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-06 19:53] 0crat commented on #1222
The job [#1222](https://github.com/yegor256/cactoos/issues/1222) is now out of scope

[2019-11-07 13:32] sereshqua commented on #1222
@0crat quality good

[2019-11-07 13:50] 0crat commented on #1222
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-11-07 13:56] 0crat commented on #1222
Order was finished, quality is "good": +35 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2019-11-08 06:48] iakunin commented on #1228
@0crat wait for https://github.com/yegor256/cactoos/pull/1229 to be merged

[2019-11-08 06:53] 0crat commented on #1228
@iakunin The impediment for [#1228](https://github.com/yegor256/cactoos/issues/1228) was registered successfully by @iakunin[/z](https://www.0crat.com/u/iakunin)

[2019-11-08 21:21] #1219 closed

[2019-11-08 21:21] 0pdd commented on #1219
The puzzle `898-fb66ac0b` has disappeared from the source code, that's why I closed this issue.

[2019-11-08 21:22] 0pdd opened #1230 "ListIteratorOf.java:39-41: {@link ListIteratorOf} does..."
The puzzle `1219-fd8dadee` from #1219 has to be resolved:

https://github.com/yegor256/cactoos/blob/2136d9d6814574421e7a9eededa2b9b46f2f2075/src/main/java/org/cactoos/list/ListIteratorOf.java#L39-L41

The puzzle was created by @fanifieiev on 06-Nov-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2019-11-08 21:22] 0pdd commented on #829
@Vatavuk 5 puzzles [#1217](https://github.com/yegor256/cactoos/issues/1217), [#1218](https://github.com/yegor256/cactoos/issues/1218), [#1220](https://github.com/yegor256/cactoos/issues/1220), [#1221](https://github.com/yegor256/cactoos/issues/1221), [#1230](https://github.com/yegor256/cactoos/issues/1230) are still not solved; solved: [#1219](https://github.com/yegor256/cactoos/issues/1219), [#89

[2019-11-08 21:22] 0pdd commented on #898
@0pdd 5 puzzles [#1217](https://github.com/yegor256/cactoos/issues/1217), [#1218](https://github.com/yegor256/cactoos/issues/1218), [#1220](https://github.com/yegor256/cactoos/issues/1220), [#1221](https://github.com/yegor256/cactoos/issues/1221), [#1230](https://github.com/yegor256/cactoos/issues/1230) are still not solved; solved: [#1219](https://github.com/yegor256/cactoos/issues/1219).

[2019-11-08 21:22] 0pdd commented on #1219
@0pdd the puzzle [#1230](https://github.com/yegor256/cactoos/issues/1230) is still not solved.

[2019-11-08 21:23] 0crat commented on #1230
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-08 21:23] 0crat commented on #1230
Job [#1230](https://github.com/yegor256/cactoos/issues/1230) is now in scope, role is `DEV`

[2019-11-08 21:32] 0crat commented on #1230
The job [#1230](https://github.com/yegor256/cactoos/issues/1230) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C63314D6Z/1976e9d3-9005-4623-aa7f-6b805e824dc7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-11-08 21:51] 0crat commented on #1219
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-08 21:53] 0crat commented on #1219
The job [#1219](https://github.com/yegor256/cactoos/issues/1219) is now out of scope

[2019-11-09 07:14] sereshqua commented on #1219
@0crat quality good

[2019-11-09 07:18] 0crat commented on #1219
Order was finished, quality is "good": +35 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2019-11-09 07:19] 0crat commented on #1219
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-11-09 11:57] iakunin commented on #1224
@0crat wait for https://github.com/yegor256/cactoos/pull/1232 to be merged

[2019-11-09 11:59] 0crat commented on #1224
@iakunin The impediment for [#1224](https://github.com/yegor256/cactoos/issues/1224) was registered successfully by @iakunin[/z](https://www.0crat.com/u/iakunin)

[2019-11-11 15:31] fanifieiev commented on #1212
@0crat status

[2019-11-11 16:24] fanifieiev commented on #1212
@0crat wait for [#1215](https://github.com/yegor256/cactoos/pull/1215) to be merged

[2019-11-11 16:25] 0crat commented on #1212
@fanifieiev This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1212](https://github.com/yegor256/cactoos/issues/1212) is [in scope](http://www.zerocracy.com/policy.html#14) for 11days
  * The role is `DEV`
  * The job is assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev) for [11days

[2019-11-11 16:26] 0crat commented on #1212
@fanifieiev The impediment for [#1212](https://github.com/yegor256/cactoos/issues/1212) was registered successfully by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2019-11-12 03:54] #1230 closed

[2019-11-12 03:54] 0pdd commented on #1230
The puzzle `1219-fd8dadee` has disappeared from the source code, that's why I closed this issue.

[2019-11-12 03:54] 0pdd opened #1233 "package-info.java:29-34: The following list..."
The puzzle `1230-147999cb` from #1230 has to be resolved:

https://github.com/yegor256/cactoos/blob/9a4929cf2f8e64eb6a56ae25a31b781894f170bc/src/main/java/org/cactoos/list/package-info.java#L29-L34

The puzzle was created by @fanifieiev on 11-Nov-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2019-11-12 03:54] 0pdd commented on #829
@Vatavuk 5 puzzles [#1217](https://github.com/yegor256/cactoos/issues/1217), [#1218](https://github.com/yegor256/cactoos/issues/1218), [#1220](https://github.com/yegor256/cactoos/issues/1220), [#1221](https://github.com/yegor256/cactoos/issues/1221), [#1233](https://github.com/yegor256/cactoos/issues/1233) are still not solved; solved: [#1219](https://github.com/yegor256/cactoos/issues/1219), [#12

[2019-11-12 03:54] 0pdd commented on #898
@0pdd 5 puzzles [#1217](https://github.com/yegor256/cactoos/issues/1217), [#1218](https://github.com/yegor256/cactoos/issues/1218), [#1220](https://github.com/yegor256/cactoos/issues/1220), [#1221](https://github.com/yegor256/cactoos/issues/1221), [#1233](https://github.com/yegor256/cactoos/issues/1233) are still not solved; solved: [#1219](https://github.com/yegor256/cactoos/issues/1219), [#1230]

[2019-11-12 03:54] 0pdd commented on #1219
@0pdd the puzzle [#1233](https://github.com/yegor256/cactoos/issues/1233) is still not solved; solved: [#1230](https://github.com/yegor256/cactoos/issues/1230).

[2019-11-12 03:54] 0pdd commented on #1230
@0pdd the puzzle [#1233](https://github.com/yegor256/cactoos/issues/1233) is still not solved.

[2019-11-12 03:55] 0crat commented on #1233
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-12 04:40] 0crat commented on #1233
Job [#1233](https://github.com/yegor256/cactoos/issues/1233) is now in scope, role is `DEV`

[2019-11-12 04:58] 0crat commented on #1230
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-12 05:03] 0crat commented on #1230
The job [#1230](https://github.com/yegor256/cactoos/issues/1230) is now out of scope

[2019-11-12 05:37] sereshqua commented on #1230
@0crat quality good

[2019-11-12 05:55] 0crat commented on #1230
Order was finished, quality is "good": +35 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2019-11-12 05:55] 0crat commented on #1230
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-11-12 05:58] 0crat commented on #1233
The job [#1233](https://github.com/yegor256/cactoos/issues/1233) assigned to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar), here is [why](https://www.0crat.com/footprint/C63314D6Z/c847dc65-4211-4308-92a9-7c32a493fe30); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-11-12 07:38] mohamednizar opened #1234 "Command execution failed during docker build."
I just cloned the repo and ran the docker command given in the instructions, The build is getting failed due to a permission issue,

Docker Version:           19.03.4

Docker command :

[code]

Found this error on the log

[code]

[2019-11-12 07:38] 0crat commented on #1234
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-12 20:21] #1228 closed

[2019-11-12 20:21] 0pdd commented on #1228
The puzzle `1182-b5541bca` has disappeared from the source code, that's why I closed this issue.

[2019-11-12 20:21] 0pdd opened #1235 "package-info.java:29-32: Continue replacing usage of..."
The puzzle `1228-b5541bca` from #1228 has to be resolved:

https://github.com/yegor256/cactoos/blob/d7e54b380b926f2ad8e89e30854a5faecb772305/src/test/java/org/cactoos/io/package-info.java#L29-L32

The puzzle was created by iakunin on 08-Nov-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2019-11-12 20:22] 0pdd commented on #1033
@llorllale the puzzle [#1235](https://github.com/yegor256/cactoos/issues/1235) is still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228).

[2019-11-12 20:22] 0pdd commented on #1117
@0pdd the puzzle [#1235](https://github.com/yegor256/cactoos/issues/1235) is still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228).

[2019-11-12 20:22] 0pdd commented on #1152
@0pdd the puzzle [#1235](https://github.com/yegor256/cactoos/issues/1235) is still not solved; solved: [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228).

[2019-11-12 20:22] 0pdd commented on #1182
@0pdd the puzzle [#1235](https://github.com/yegor256/cactoos/issues/1235) is still not solved; solved: [#1228](https://github.com/yegor256/cactoos/issues/1228).

[2019-11-12 20:22] 0pdd commented on #1228
@0pdd the puzzle [#1235](https://github.com/yegor256/cactoos/issues/1235) is still not solved.

[2019-11-12 20:23] 0crat commented on #1235
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-12 20:24] 0crat commented on #1235
Job [#1235](https://github.com/yegor256/cactoos/issues/1235) is now in scope, role is `DEV`

[2019-11-12 20:28] 0crat commented on #1235
The job [#1235](https://github.com/yegor256/cactoos/issues/1235) assigned to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar), here is [why](https://www.0crat.com/footprint/C63314D6Z/8a6690b3-6328-4a17-8122-0a0916c5899e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-11-12 20:39] 0pdd opened #1236 "Immutable.java:40-44: Original collection should be..."
The puzzle `1224-6c7b441d` from #1224 has to be resolved:

https://github.com/yegor256/cactoos/blob/b9a9beec64fece8f0a8d7734bab88185d3ea4ecf/src/main/java/org/cactoos/collection/Immutable.java#L40-L44

The puzzle was created by iakunin on 10-Nov-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2019-11-12 20:39] 0pdd commented on #1224
@quantumlexa the puzzle [#1236](https://github.com/yegor256/cactoos/issues/1236) is still not solved.

[2019-11-12 20:39] 0crat commented on #1236
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-12 20:44] 0crat commented on #1236
Job [#1236](https://github.com/yegor256/cactoos/issues/1236) is now in scope, role is `DEV`

[2019-11-12 20:45] 0crat commented on #1228
The job [#1228](https://github.com/yegor256/cactoos/issues/1228) is now out of scope

[2019-11-12 20:46] 0crat commented on #1228
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @iakunin[/z](https://www.0crat.com/u/iakunin), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-12 20:47] sereshqua commented on #1228
@0crat quality good

[2019-11-12 21:00] 0crat commented on #1228
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-11-12 21:01] 0crat commented on #1228
Order was finished, quality is "good": +35 point(s) just awarded to @iakunin[/z](https://www.0crat.com/u/iakunin)

[2019-11-12 21:09] 0crat commented on #1236
The job [#1236](https://github.com/yegor256/cactoos/issues/1236) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/44cd54fd-11e9-4c15-a3a7-f280bb20d592); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-11-13 07:13] iakunin commented on #1224
@quantumlexa @paulodamaso is this issue solved? Can we close it?

[2019-11-13 19:26] victornoel commented on #1236
@paulodamaso @iakunin  I'm a bit bothered by this job (which stems fro #1224 by @quantumlexa) because it highlights something contradictory in the objectives of the collection decorators in cactoos:
- on the one hand, the decorators (as a general pattern) are there to augment existing objects in a lazy way.
- on the other hand, the collection decorators are actually not decorator, but new objects

[2019-11-13 19:26] victornoel commented on #1236
@0crat wait for ARC

[2019-11-13 19:29] 0crat commented on #1236
@victornoel The impediment for [#1236](https://github.com/yegor256/cactoos/issues/1236) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-11-13 21:47] fanifieiev commented on #1156
@g4s8 @paulodamaso @victornoel
I think one of the solutions to make equality work properly is to introduce `canEqual` method as described here: http://marcus-christie.blogspot.com/2014/03/scala-object-equality-and-canequal.html
By the way, `lombok` uses the same approach and is used in [Takes ](https://github.com/yegor256/takes) framework

[2019-11-15 17:20] fevzian opened #1237 "Create relevant immutable collections for 'Collections.singletonList', 'Collections.singletonSet', 'Collections.singletonMap', 'Collections.emptyList', 'Collections.emptySet', 'Collections.emptyMap'"
The usage of some static methods listed in the title from `java.util.Collections` class in the project looks non-elegant.
Create alternative immutable collections for:
'Collections.singletonList',
'Collections.singletonSet',
'Collections.singletonMap',
'Collections.emptyList',
'Collections.emptySet',
'Collections.emptyMap'

[2019-11-15 17:20] 0crat commented on #1237
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-15 18:11] mohamednizar commented on #1235
@0crat wait

[2019-11-15 18:17] 0crat commented on #1235
@mohamednizar The impediment for [#1235](https://github.com/yegor256/cactoos/issues/1235) was registered successfully by @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-11-15 19:34] fabriciofx opened #1239 "HeadOf to show only first N bytes of an Input stream"
Let's implement `HeadOf` which will show only first N bytes of an Input stream.

[2019-11-15 19:34] 0crat commented on #1239
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-15 20:06] fabriciofx opened #1240 "Remove private copy() and copyPartial() from TailOf"
Let's remove private `copy()` and `copyPartial()` from `TailOf` an put `TeenInput` instead. If it's no applicable, let's create a `Copy` and maybe `PartialCopy` classes.

[2019-11-15 20:06] 0crat commented on #1240
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-15 21:52] iakunin commented on #1224
@quantumlexa @paulodamaso is this issue solved? Can we close it?

[2019-11-16 02:49] fanifieiev commented on #1224
@iakunin I think only @paulodamaso can answer this question and decide to close the issue, but he is not responding for the last couple of days.

[2019-11-16 08:36] iakunin commented on #1224
@quantumlexa ping

[2019-11-16 08:41] iakunin commented on #1224
@fanifieiev yes, I asked @paulodamaso in Telegram and he advised me to ping @quantumlexa couple of times. And if it's no reply, then @paulodamaso will close this ticket.

@quantumlexa ping.

[2019-11-16 18:12] fabriciofx opened #1241 "A new kind of Equals?"
I see a lot of this (bellow) code repeat over and over:
[code]
and I think is possible encapsulate it in one class to be reused. WDYT?

[2019-11-16 18:12] 0crat commented on #1241
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-18 13:52] paulodamaso commented on #1224
@iakunin Thanks!

[2019-11-18 13:52] #1224 closed

[2019-11-18 14:11] 0crat commented on #1224
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @iakunin[/z](https://www.0crat.com/u/iakunin), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-18 14:11] 0crat commented on #1224
The job [#1224](https://github.com/yegor256/cactoos/issues/1224) is now out of scope

[2019-11-18 14:20] sereshqua commented on #1224
@quantumlexa please make sure that you start all your comments with the name of the user they are referred to, [see](https://github.com/yegor256/cactoos/issues/1224#issuecomment-550122995)

[2019-11-18 19:05] fabriciofx commented on #1236
@victornoel @paulodamaso I think the main problem is to define what is *immutability*. To @yegor256 it's just to not change attributes values (they're attributed only in the constructor/construction phase, and to achieve it, we declare attributes using `final` keyword). To functional paradigma people, immutability is a *"complete new"* object. Why *"complete new"*? Because not all objects are copi

[2019-11-18 19:12] victornoel commented on #1236
@fabriciofx I'm pretty sure we are safe to say we are not talking about functional immutability until now, hence my proposal to rename the class to `Unmodifiable`. Then if we want to go into the field of PDS, let's do, but we should not imagine we can tackle such a domain with the interfaces from a Java collections :)

[2019-11-18 19:48] #1184 closed

[2019-11-18 19:48] 0pdd commented on #1184
The puzzle `947-361be9e4` has disappeared from the source code, that's why I closed this issue.

[2019-11-18 19:48] 0pdd opened #1242 "package-info.java:29-43: The behaviours of the classes of..."
The puzzle `1184-56133cf3` from #1184 has to be resolved:

https://github.com/yegor256/cactoos/blob/95f5a04afd70eb6cd0383c910ee9198b9ffd3119/src/main/java/org/cactoos/collection/package-info.java#L29-L43

The puzzle was created by Victor Noël on 02-Nov-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2019-11-18 19:48] 0pdd commented on #947
@wladyan 3 puzzles [#1183](https://github.com/yegor256/cactoos/issues/1183), [#1185](https://github.com/yegor256/cactoos/issues/1185), [#1242](https://github.com/yegor256/cactoos/issues/1242) are still not solved; solved: [#1184](https://github.com/yegor256/cactoos/issues/1184).

[2019-11-18 19:48] 0pdd commented on #1184
@0pdd the puzzle [#1242](https://github.com/yegor256/cactoos/issues/1242) is still not solved.

[2019-11-18 19:49] 0crat commented on #1242
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-18 19:53] 0crat commented on #1242
Job [#1242](https://github.com/yegor256/cactoos/issues/1242) is now in scope, role is `DEV`

[2019-11-18 19:58] 0crat commented on #1242
The job [#1242](https://github.com/yegor256/cactoos/issues/1242) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/c9dd903c-dbaa-4fd6-a48e-dd057ddc44f8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-11-18 20:07] 0crat commented on #1184
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-18 20:09] 0crat commented on #1184
The job [#1184](https://github.com/yegor256/cactoos/issues/1184) is now out of scope

[2019-11-18 20:19] sereshqua commented on #1184
@0crat quality good

[2019-11-18 20:27] 0crat commented on #1184
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-11-18 20:29] 0crat commented on #1184
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-11-19 00:40] fabriciofx commented on #1236
@victornoel to me, no problem to rename it `Unmodifiable`. But there is a fundamental question: one of Cactoos [principles](https://www.elegantobjects.org/#principles) is: *No mutable objects*. So, collections, lists, interable should be unmodifiable by default or not? If yes, `CollectionsOf`, `ListOf` and `IterableOf` should return unmodifiable/immutable collections by default; if not `Unmodifiab

[2019-11-19 07:47] victornoel commented on #1236
@fabriciofx

See @yegor256 opinion on that matter here: https://github.com/yegor256/cactoos/issues/898#issuecomment-540505384

More generally, I think there is a confusion here between object mutability and mutability in the domain: when you look at Java's `File` class, it is an immutable object, but it handles mutable concepts in its domain. This is the same for collections here IMHO.

[2019-11-19 15:06] 0crat commented on #1212
@fanifieiev This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1212](https://github.com/yegor256/cactoos/issues/1212) is [in scope](http://www.zerocracy.com/policy.html#14) for 19days
  * The role is `DEV`
  * The job is assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev) for [19days

[2019-11-19 15:09] fanifieiev commented on #1212
@0crat continue

[2019-11-19 15:15] 0crat commented on #1212
@fanifieiev @fanifieiev[/z](https://www.0crat.com/u/fanifieiev) continued working on job [#1212](https://github.com/yegor256/cactoos/issues/1212)

[2019-11-19 15:42] iakunin commented on #1224
@sereshqua how long should we wait for @quantumlexa response to get this issue reviewed?

[2019-11-19 15:44] mohamednizar commented on #1233
@0crat wait

[2019-11-19 15:51] 0crat commented on #1233
@mohamednizar The impediment for [#1233](https://github.com/yegor256/cactoos/issues/1233) was registered successfully by @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-11-19 15:53] sereshqua commented on #1224
@iakunin up to 5 days

[2019-11-19 16:50] quantumlexa commented on #1224
@sereshqua  @iakunin I'm sorry guys, didn't know that you are waiting for me. As I'm not an owner the project, I just pointed out to the problem I found looking to the code - I'm good with either way.

[2019-11-19 16:58] fanifieiev commented on #1212
@sereshqua @paulodamaso  The corresponding [PR ](https://github.com/yegor256/cactoos/pull/1215) has been merged.
What is the next step here for the issue to be closed?

[2019-11-19 18:22] fanifieiev opened #1243 "`org.cactoos.scalar.Equals` is confusing, its name is intended to test equality, but in reality it tests the comparison"
`org.cactoos.scalar.Equals` scalar's name is intended to test equality, but it tests the comparison.
I suggest to rename this class and use the 'Equals' name for another equality class.

[2019-11-19 18:22] 0crat commented on #1243
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-19 20:17] sereshqua commented on #1224
@quantumlexa the only thing you missed was to start your comment with the name of the user to whom you addressed it :)

[2019-11-19 20:17] sereshqua commented on #1224
@0crat quality acceptable

[2019-11-19 20:18] sereshqua commented on #1212
@fanifieiev you would need to ask @golszewski86 to close the issue

[2019-11-19 20:49] fanifieiev commented on #1212
@golszewski86 Could you please react to the this issue? The corresponding [pull request](https://github.com/yegor256/cactoos/pull/1215) has been merged.

[2019-11-19 21:26] golszewski86 commented on #1212
Sure, I didn't know I have to close it.

[2019-11-19 21:26] #1212 closed

[2019-11-19 21:35] fanifieiev commented on #1212
@0crat status

[2019-11-19 21:47] fanifieiev commented on #1212
@sereshqua Is it your turn to review?

[2019-11-20 06:12] sereshqua commented on #1212
@fanifieiev not yet, now 0crat will assign a reviewer

[2019-11-20 09:37] piotrkot opened #1244 "Converting output stream to input stream doesn't work?"
The problem is defined [here](https://stackoverflow.com/questions/5778658/how-to-convert-outputstream-to-inputstream)

I see you have `TeeInput`, and `TeeOutput` but I couldn't make it with them.
It is possible with `PipedInputStream/PipedOutputStream` but it isn't in Cactoos.

[2019-11-20 10:32] #1244 closed

[2019-11-20 10:33] piotrkot opened #1245 "Converting output stream to input stream doesn't work?"
The problem is defined [here](https://stackoverflow.com/questions/5778658/how-to-convert-outputstream-to-inputstream)

I see you have `TeeInput`, and `TeeOutput` but I couldn't make it with them.
It is possible with `PipedInputStream/PipedOutputStream` but similar classes aren't available in Cactoos.

[2019-11-20 11:22] iakunin commented on #1224
@0crat status

[2019-11-20 11:26] sereshqua commented on #1224
@iakunin seems like 0crat went down :) and did not process this issue yet

[2019-11-20 11:26] sereshqua commented on #1224
@0crat quality acceptable

[2019-11-20 11:37] iakunin commented on #1224
@sereshqua that's true. I hope he will awake soon :)

[2019-11-20 14:34] fanifieiev commented on #1212
@0crat status

[2019-11-20 14:38] 0crat commented on #1212
@fanifieiev This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1212](https://github.com/yegor256/cactoos/issues/1212) is [in scope](http://www.zerocracy.com/policy.html#14) for 20days
  * The role is `DEV`
  * The job is assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev) for [20days

[2019-11-20 14:41] 0crat commented on #1224
@sereshqua There is no quality review for [#1224](https://github.com/yegor256/cactoos/issues/1224), no performer

[2019-11-20 14:48] iakunin commented on #1224
@0crat status

[2019-11-20 14:51] 0crat commented on #1224
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-11-20 14:51] 0crat commented on #1212
@fanifieiev This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1212](https://github.com/yegor256/cactoos/issues/1212) is [in scope](http://www.zerocracy.com/policy.html#14) for 20days
  * The role is `DEV`
  * The job is assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev) for [20days

[2019-11-20 14:53] 0crat commented on #1224
@iakunin This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1224](https://github.com/yegor256/cactoos/issues/1224) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos%231224%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted

[2019-11-20 15:00] 0crat commented on #1224
@iakunin This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1224](https://github.com/yegor256/cactoos/issues/1224) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos%231224%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted

[2019-11-20 15:07] 0crat commented on #1224
Order was finished, quality is "acceptable": +30 point(s) just awarded to @iakunin[/z](https://www.0crat.com/u/iakunin)

[2019-11-20 20:09] fanifieiev commented on #1212
@sereshqua @paulodamaso @g4s8 Do you know by chance why @0crat is not assigning for "Quality review" ?

[2019-11-20 20:09] 0crat commented on #1212
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos/issues/1212#issuecomment-556331224); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-11-21 01:24] piotrkot commented on #1245
@llorllale Normally, there was a bot commenting the new issue, notifying others, etc. It's not happening here.

[2019-11-21 02:21] paulodamaso commented on #1212
@0crat quality good

[2019-11-21 02:41] paulodamaso commented on #1239
@0crat in

[2019-11-21 04:08] 0crat commented on #1212
@paulodamaso There is no quality review for [#1212](https://github.com/yegor256/cactoos/issues/1212), no performer

[2019-11-21 04:18] 0crat commented on #1239
@paulodamaso Job [#1239](https://github.com/yegor256/cactoos/issues/1239) is now in scope, role is `DEV`

[2019-11-21 05:24] 0crat commented on #1239
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-11-21 06:17] 0crat commented on #1239
The job [#1239](https://github.com/yegor256/cactoos/issues/1239) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/b78f1062-29d1-45f0-b1b0-27cfe6d4bf59); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-11-21 17:57] fanifieiev commented on #1212
@paulodamaso @sereshqua I think there is sth wrong with `0crat`.
Or does [this](https://github.com/yegor256/cactoos/issues/1212#issuecomment-556911110) message from `0crat` mean there is not performer to review?

[2019-11-21 17:58] sereshqua commented on #1212
@0crat status

[2019-11-21 17:59] 0crat commented on #1212
@sereshqua This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1212](https://github.com/yegor256/cactoos/issues/1212) is [in scope](http://www.zerocracy.com/policy.html#14) for 21days
  * The role is `DEV`
  * The job is assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev) for [21days]

[2019-11-21 18:01] sereshqua commented on #1212
@fanifieiev i don't know what's wrong, may be @g4s8 knows?

[2019-11-21 18:08] g4s8 commented on #1212
@sereshqua the problem is that 0crat didn't remove this job from WBS, @paulodamaso you need to use `0crat out` command to remove it manually

[2019-11-22 03:09] fanifieiev commented on #1243
@paulodamaso Closing the issue as the implementation is fair enough

[2019-11-22 03:09] #1243 closed

[2019-11-22 03:15] paulodamaso commented on #1212
@0crat out

[2019-11-22 04:25] 0crat commented on #1243
Job `gh:yegor256/cactoos#1243` is not assigned, can't get performer

[2019-11-22 04:39] 0crat commented on #1243
This job is not in scope

[2019-11-22 04:52] 0crat commented on #1212
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-22 05:01] 0crat commented on #1212
@paulodamaso The job [#1212](https://github.com/yegor256/cactoos/issues/1212) is now out of scope

[2019-11-22 07:15] 0crat commented on #1212
Order was finished, quality is "good": +35 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2019-11-24 10:33] yegor256 opened #1246 "Unique"
Is it possible to leave only unique elements in a collection/iterable/list? I can't find this functionality in Cactoos. Would be great to add it or document in README, if it exists.

[2019-11-24 10:34] 0crat commented on #1246
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-24 16:04] victornoel commented on #1242
@paulodamaso can we have some guidance here? The todo explicitly asks about your opinion :)

[2019-11-24 16:05] victornoel commented on #1242
@0crat wait for ARC

[2019-11-24 16:06] 0crat commented on #1242
@victornoel The impediment for [#1242](https://github.com/yegor256/cactoos/issues/1242) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-11-24 16:08] victornoel commented on #1239
@fabriciofx @paulodamaso would that be an implementation of `Bytes` or of `Input`?

[2019-11-24 16:08] victornoel commented on #1239
@0crat wait for details

[2019-11-24 16:08] victornoel commented on #1236
@paulodamaso ping?

[2019-11-24 16:30] victornoel opened #1247 "ListIteratorOf should directly wrap a ListIterator instead of a Sticky Scalar and be renamed to ListIteratorEnvelope"
`ListIteratorOf` should:
- directly wrap a `ListIterator` instead of a `Sticky` `Scalar`, because this is useless wrapping with decorators.
- be renamed to `ListIteratorEnvelope` (and made abstract) because this is really what it is in practice

At the same time, let's remove the useless usage of `ListIteratorOf` in `ListIteratorNoNulls`

[2019-11-24 16:30] 0crat commented on #1247
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-24 17:11] victornoel opened #1248 "Package list decorators should not wrap the list as unmodifiable"
Most of the decorators of `List` as well as `ListOf` in the `list` package wraps the constructed list with `Collections.unmodifiableList`.

I think they should not be unmodifiable anymore because now one can compose those decorators with `Immutable` for this only when desired.

See also https://github.com/yegor256/cactoos/issues/1236#issuecomment-553560425 for a similar discussion but with `collec

[2019-11-24 17:11] 0crat commented on #1248
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-24 23:55] fabriciofx commented on #1239
@victornoel `Input`.

[2019-11-24 23:57] 0crat commented on #1239
@victornoel The impediment for [#1239](https://github.com/yegor256/cactoos/issues/1239) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-11-25 13:43] paulodamaso commented on #1246
@yegor256 This behavior is provided by the `SetOf` decorator, but the documentation in README is missing.

[2019-11-25 13:43] paulodamaso commented on #1246
@0crat in

[2019-11-25 13:52] 0crat commented on #1246
@paulodamaso Job [#1246](https://github.com/yegor256/cactoos/issues/1246) is now in scope, role is `DEV`

[2019-11-25 13:58] 0crat commented on #1246
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-11-25 14:17] paulodamaso commented on #1242
@victornoel I think that now that we have `Immutable`, we don't need to make `CollectionOf` immutable anymore.

[2019-11-25 14:18] 0crat commented on #1246
The job [#1246](https://github.com/yegor256/cactoos/issues/1246) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C63314D6Z/98e9d93e-788f-4c3b-b263-9420509c5f77); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-11-25 14:22] paulodamaso commented on #1236
@victornoel I think that we shgould go this way:

I just have some concerns about renaming it because we already have a lot of reference around the term `Immutable`, and I don't want to break this using another term.

[2019-11-26 07:58] victornoel commented on #1239
@fabriciofx you can use [HeadInput](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/io/HeadInput.java) for that, no?

[2019-11-26 15:59] fanifieiev commented on #1248
@victornoel Similar issue is already registered [here](https://github.com/yegor256/cactoos/issues/1221).
Please have a look and if does not fit your requirement then ignore my message.

[2019-11-26 16:34] fevzian opened #1249 "MultiMap implementation similar to Guava MultiMap implementations."
The [Takes](https://github.com/yegor256/takes) framework code contains a lot of boilerplate when using, for instance, `Map<String, Collection<String>>`.
Example of boilerplate:
[code]

Would be great to have something like:
[code]
Note: Need to think about specific implementation of collection passed to CollectionMapOf or create dedicated implementations for each use case like:
- `LinkedListMapOf`

[2019-11-26 16:35] 0crat commented on #1249
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-27 07:50] victornoel commented on #1249
@fanifieiev @paulodamaso I've already raised this question in the past: do we target with cactoos a lib with mostly OO decorators (such as those on `Iterable` and `Iterator` that are really great and unique in the Java world I think), or do we want cactoos to become a fully fledged collection implementation library?

The latest is a huge endeavour, and I wonder what anybody would  gain from it: wh

[2019-11-27 07:51] victornoel commented on #1248
@fanifieiev this is not the same thing, the issue you are referecing is about using `Immutable`, I'm proposing NOT to use it at all in most implementation of the `list` and `collection` immutable.

Thanks for the feedback, I didn't realise my request was ambiguous, I will edit the description.

[2019-11-27 17:48] fanifieiev commented on #1249
@victornoel In the description of [Cactoos ](https://github.com/yegor256/cactoos) project is stated that the target of the project is: `Object-Oriented Java primitives, as an alternative to Google Guava and Apache Commons`, so why should this feature not be there then?

[2019-11-28 18:16] fanifieiev opened #1251 "`org.cactoos.text.Split` should support limit parameter similar to `String.split(String regexp, int limit)`"
There are several usages of `String.split(regexp, limit)` in [Takes ](https://github.com/yegor256/takes) project and would be great to replace those with [Split](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/text/Split.java), but [Split](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/text/Split.java) does not support `limit`.

[2019-11-28 18:16] 0crat commented on #1251
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-12-01 09:59] victornoel opened #1252 "CollectionOf should be deleted"
In the Java `Collection` hierarchy, `Collection` is not a concrete class.

I believe it makes no sense to have a class `CollectionOf`, its behaviour is actually just a duplicate of `ListOf` in practice.

I propose we simply delete it and let user choose a concrete implementation via `ListOf`, `SetOf` or other collections if there are.

[2019-12-01 09:59] 0crat commented on #1252
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-12-01 10:00] victornoel commented on #1236
@paulodamaso ok, thank you, then I will remove the todo and tidy things up in terms of documentation.

[2019-12-01 10:20] victornoel commented on #1248
@fanifieiev for the record, here are some comment from @paulodamaso that goes in the same direction as the proposal in the description of this issue: https://github.com/yegor256/cactoos/issues/1242#issuecomment-558174970

[2019-12-01 10:23] victornoel commented on #1236
@0crat wait for #1253 to be merged

[2019-12-01 10:26] 0crat commented on #1236
@victornoel Job [#1236](https://github.com/yegor256/cactoos/issues/1236) is already on hold

[2019-12-01 10:38] victornoel commented on #1242
@paulodamaso the question is not so much about making `CollectionOf` immutable (because it is not actually), but about having it wrapping a `Scalar` (same with `ListOf` by the way) and be forced to use `Sticky` in the other decorators (e.g., `Filtered`) to be able to have them behave as expected.

I think the source of this problem, is always the same thing that I talked about in other comments:
-

[2019-12-01 10:39] victornoel commented on #1239
@fabriciofx ping?

[2019-12-01 10:44] victornoel opened #1254 "list.Joined is uselessly copying data instead of being lazy"
I believe `list.Joined` could be implemented by storing the underlying `List`s and delegating to them in each of the methods of `List`.

This would in particular be done by storing as a state of `Joined` an ordered collection (i.e., a list) of the underlying lists and computing the corresponding indexes of the elements dynamically.

There would be the need to introduce maybe some implementations f

[2019-12-01 10:44] 0crat commented on #1254
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-12-01 10:51] victornoel commented on #1247
@paulodamaso I also noticed that `ListIteratorNoNulls` delegates uselessly to`ListIteratorOf` but doesn't need to since it wraps already a `ListIterator`.

This could tackled in this same task.

[2019-12-01 10:55] victornoel commented on #1248
@paulodamaso actually, this is already covered by #1233

[2019-12-01 10:55] #1248 closed

[2019-12-01 11:13] 0crat commented on #1248
Job `gh:yegor256/cactoos#1248` is not assigned, can't get performer

[2019-12-01 11:13] 0crat commented on #1248
This job is not in scope

[2019-12-01 11:27] victornoel commented on #1185
@0crat wait for #1255 to be merged

[2019-12-01 11:31] 0crat commented on #1185
@victornoel Job [#1185](https://github.com/yegor256/cactoos/issues/1185) is already on hold

[2019-12-03 01:37] paulodamaso commented on #1251
@0crat in

[2019-12-03 01:38] paulodamaso commented on #1252
@victornoel makes sense.

[2019-12-03 01:38] paulodamaso commented on #1252
@0crat in

[2019-12-03 02:37] paulodamaso commented on #1242
@victornoel I think that finally I understood the problem. I really see no point in having a lot of `List` and `Collection` decorators, since all of our behavior can sit nicely in the `Iterable` decorations. But we still have to trim some edges here:
1. Already put #1252 in scope and start removing these bad guys;
1. I'm thinking about all these data structures and persistent data stuff, and in my

[2019-12-03 02:39] paulodamaso commented on #1254
@victornoel Let's first decide about cactoos lists fate in https://github.com/yegor256/cactoos/issues/1242 right?

[2019-12-03 03:19] paulodamaso commented on #1226
@victornoel With this, we could remove the side effect from `And` and keep the declarative `forEach` construct in cactoos

[2019-12-03 03:45] 0crat commented on #1251
@paulodamaso Job [#1251](https://github.com/yegor256/cactoos/issues/1251) is now in scope, role is `DEV`

[2019-12-03 03:45] 0crat commented on #1252
@paulodamaso Job [#1252](https://github.com/yegor256/cactoos/issues/1252) is now in scope, role is `DEV`

[2019-12-03 04:57] 0crat commented on #1251
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2019-12-03 04:57] 0crat commented on #1252
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-12-03 05:58] 0crat commented on #1251
The job [#1251](https://github.com/yegor256/cactoos/issues/1251) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/4e503ec6-94cb-4c2b-bccc-fd0593e7709d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-12-03 06:08] 0crat commented on #1252
The job [#1252](https://github.com/yegor256/cactoos/issues/1252) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C63314D6Z/574b0a0f-4d7f-441b-b095-33be6d85ab03); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-12-03 16:17] victornoel commented on #1226
@paulodamaso by "with this", do you mean "introducing `ForEach` class"?

If yes I think it's answering the original needs in this ticket, I can update the description if you want.

[2019-12-03 16:23] victornoel commented on #1242
@paulodamaso cool :)

About:
2. Yes, I agree, why not maybe in the future, but if we should proritize, I think we should just remove from scope every ticket pertaining to data structures and collections, and maybe later who knows we can get them back in.
3. Ok, I get your point, it's good with me yes!
5. I'm not clear what would be their behaviour in the end, something like this?
[code]
If yes, th

[2019-12-03 17:19] paulodamaso commented on #1226
@victornoel Yes, I think that we should implement something like you proposed

[2019-12-04 04:07] fanifieiev commented on #1252
@paulodamaso, @victornoel
I think this class [CollectionOf](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/collection/CollectionOf.java) should be marked as deprecated for a while until [Cactoos-Matchers](https://github.com/llorllale/cactoos-matchers) project removes it from usage within this issue [148](https://github.com/llorllale/cactoos-matchers/issues/148)
By removi

[2019-12-04 07:50] victornoel commented on #1252
@fanifieiev indeed, good point

[2019-12-04 09:08] victornoel commented on #1226
@paulodamaso I've updated the description

[2019-12-04 15:20] fanifieiev commented on #1246
@sereshqua Is it up to @yegor256 to close this issue?

[2019-12-04 15:22] sereshqua commented on #1246
@fanifieiev correct

[2019-12-04 15:26] fanifieiev commented on #1246
@yegor256  please have a look at the completed work.

[2019-12-05 02:24] paulodamaso commented on #1226
@victornoel Thank you

[2019-12-05 02:25] paulodamaso commented on #1226
@0crat in

[2019-12-05 03:02] paulodamaso commented on #1242
@victornoel Just clearing 5. , maybe I got it wrong. I was thinking in removing all decorations for `List` and `Set`, so we should have only `ListOf` and `SetOf` in these packages. But as you stated correctly, some of our decorators doesn't make sense for `Iterable` or `Iterator`, but just for `List` (we don't have any decorator for `Set`). Also, looking through all these classes made me think tha

[2019-12-05 03:09] paulodamaso commented on #1252
@fanifieiev We're using version `0.41` in `cactoos-matchers`, so changing `cactoos` master branch should not mess things there. That's why I've chosen to first fix this on `cacttos` and then update `cactoos-matchers`.

Also, the tests fail because they use the `Collection` implementation, which has been removed. These tests should be fixed too. Actually, I think that the PR for this issue should s

[2019-12-05 03:14] fanifieiev commented on #1252
@paulodamaso If I remove the `CollectionOf` from Cactoos then build fails on `Travis`([details](https://travis-ci.org/yegor256/cactoos/builds/620429915?utm_source=github_status&utm_medium=notification) here). It actually builds because Cactoos-matcher `HasSize` uses the `CollectionOf`.

[2019-12-05 03:34] paulodamaso commented on #1252
@fanifieiev So, on top of it all we have a nasty circular dependency between those projects. Let's first remove all `CollectionOf` usage in the tests, then we take cara bout the rest OK?

[2019-12-05 03:38] fanifieiev commented on #1252
@paulodamaso I have already removed all usages of `CollectionOf` in `Cactoos`(except its test only, which tests `CollectionOf` just for the sake of test coverage). I just marked them as `@Deprecated`

[2019-12-05 04:11] 0crat commented on #1226
@paulodamaso Job [#1226](https://github.com/yegor256/cactoos/issues/1226) is now in scope, role is `DEV`

[2019-12-05 05:12] 0crat commented on #1226
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-12-05 11:54] 0crat commented on #1226
The job [#1226](https://github.com/yegor256/cactoos/issues/1226) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C63314D6Z/22bc3d0d-9684-4932-9045-2f63ee22a036); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-12-05 13:12] paulodamaso commented on #1230
@rultor release tag is `0.43`

[2019-12-05 13:13] rultor commented on #1230
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20994-562122946)

[2019-12-05 13:34] rultor commented on #1230
@paulodamaso Done! FYI, the full log is [here](https://www.rultor.com/t/20994-562122946) (took me 17min)

[2019-12-05 21:08] fanifieiev commented on #1246
@0crat wait for merge

[2019-12-05 21:13] 0crat commented on #1246
@fanifieiev The impediment for [#1246](https://github.com/yegor256/cactoos/issues/1246) was registered successfully by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2019-12-05 21:15] fanifieiev commented on #1246
@paulodamaso I think it may take long time for Yegor to have a look.
Is there any way for you take the decision for merging???

[2019-12-06 01:34] paulodamaso commented on #1246
@fanifieiev it was already merged ) I'll close it

[2019-12-06 01:34] #1246 closed

[2019-12-06 01:38] fanifieiev commented on #1246
@paulodamaso should it not be reviewed by qa first?

[2019-12-06 01:41] fanifieiev commented on #1246
@paulodamaso ignore the above message. It is fine.

[2019-12-06 02:28] fanifieiev commented on #1246
@0crat status

[2019-12-06 04:17] 0crat commented on #1246
@fanifieiev This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1246](https://github.com/yegor256/cactoos/issues/1246) is [in scope](http://www.zerocracy.com/policy.html#14) for 11days
  * The role is `DEV`
  * The job is assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev) for [11days

[2019-12-06 04:44] 0crat commented on #1246
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-12-06 05:00] 0crat commented on #1246
The job [#1246](https://github.com/yegor256/cactoos/issues/1246) is now out of scope

[2019-12-06 05:31] sereshqua commented on #1246
@0crat quality good

[2019-12-06 06:06] 0crat commented on #1246
Order was finished, quality is "good": +35 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2019-12-06 06:13] 0crat commented on #1246
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-12-06 15:01] fanifieiev commented on #1252
@0crat wiat for #1256 to be merged

[2019-12-06 15:18] 0crat commented on #1252
@fanifieiev Can't understand "wiat", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this

[2019-12-06 16:57] fanifieiev opened #1258 "org.cactoos.text.Joined is missing extra constructor"
I would like to use `org.cactoos.text.Joined` within a constructor, that would except delimiter as String and values as `org.cactoos.text.Text` types.

There is a constructor:
[code]

but I need extra one:
[code]

[2019-12-06 16:57] 0crat commented on #1258
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-12-07 14:32] yegor256 opened #1259 "SetOf with custom comparator"
Would be great to have an ability to use a custom `Comparator` with `SetOf`.

See: https://stackoverflow.com/questions/14880450/java-hashset-with-a-custom-equality-criteria

[2019-12-07 14:32] 0crat commented on #1259
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-12-08 10:06] victornoel commented on #1239
@fabriciofx ping :)

[2019-12-08 10:47] victornoel commented on #1242
@paulodamaso great, that seem cool.

So basically the present issue could start by making `ListOf` to be an actual implementation of `List` that can be used normally without this awkward  `Scalar` thing in it (after the PR for #1185 is merged because until then, the awkward `Scalar` was in the envelope)?

Once this is done we can then remove all those `Sticky` that are currently needed everywhere

[2019-12-08 17:09] llorllale commented on #1252
I'm not strongly for nor against this proposal, but would just like to note that forcing `java.util.List` on users would be against the interface segregation principle.

Also:

This was first pointed out by @victornoel. Can anyone quantify the magnitude of the problem?

[2019-12-08 17:18] victornoel commented on #1252
@llorllale can you elaborate on

What do you mean forcing `List`? What does it mean to create a new `Collection` when the raison d'être of `Collection` is to be an abstract super class for all the Java collections?

If you meant that `List` shouldn't be the default used when someone wants a `Collection`, then I agree: this is the problem with the current classes in the `collection` package IMHO: t

[2019-12-11 09:52] Miha-x64 opened #1260 "StickyBiFunc cache invalidation technique"
https://github.com/yegor256/cactoos/blob/100885a4638555d30fb56beefbb6691108b30d0f/src/main/java/org/cactoos/func/StickyBiFunc.java#L89-L91

Why not just `this.cache.entrySet().iterator().remove();`?

[2019-12-11 09:53] 0crat commented on #1260
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-12-11 09:53] 0crat commented on #1260
@miha-x64[/z](https://www.0crat.com/u/miha-x64) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-12-14 18:24] llorllale commented on #1252
@victornoel

Not much to elaborate on: `java.util.List` is a more expansive set of methods than `java.util.Collection`. A consumer shouldn't be forced to depend on the method set of `List` if all they need is `Collection.

This is plain false. [`java.util.Collection`](https://docs.oracle.com/javase/8/docs/api/java/util/Collection.html) is "the root interface in the collection hierarchy". It is not

[2019-12-14 18:55] victornoel commented on #1252
Let's not be exaggerate ^^ yes, it's not a class, it's an interface, this doesn't change the bottom of what I'm saying. Let me cite the javadoc to clarify what I meant:

That's all I meant, I believe it's better to respect the whole precepts of the domain we are trying to fit with. I get your point that yes, you can get a collection without knowing if it's a list or a set, but... when you create i

[2019-12-16 21:25] yegor256 commented on #1226
@paulodamaso yes, I agree, let's create `Foreach` class.

[2019-12-16 21:25] yegor256 commented on #1226
@paulodamaso but I think it should just be a wrapper for `And`

[2019-12-16 21:36] victornoel commented on #1226
@yegor256 but do we agree we should still remove the `Proc` based constructor from `And`? It's too ambiguous to use I think.

[2019-12-17 11:37] 0pdd opened #1261 "CollectionOf.java:53-57: Remove this deprecated class..."
The puzzle `1116-ec0ce41a` from #1116 has to be resolved:

https://github.com/yegor256/cactoos/blob/542dc574730f6b3391a3714cfaca54a00a9f4ae6/src/main/java/org/cactoos/collection/CollectionOf.java#L53-L57

The puzzle was created by rultor on 17-Dec-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2019-12-17 11:37] 0crat commented on #1261
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-12-17 11:37] 0pdd opened #1262 "TailOf.java:37-40: Reimplement the implementation using..."
The puzzle `947-c9c78905` from #947 has to be resolved:

https://github.com/yegor256/cactoos/blob/542dc574730f6b3391a3714cfaca54a00a9f4ae6/src/main/java/org/cactoos/iterator/TailOf.java#L37-L40

The puzzle was created by @rultor on 17-Dec-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2019-12-17 11:37] 0pdd commented on #788
@krzyk 2 puzzles [#1135](https://github.com/yegor256/cactoos/issues/1135), [#1261](https://github.com/yegor256/cactoos/issues/1261) are still not solved; solved: [#1063](https://github.com/yegor256/cactoos/issues/1063), [#1116](https://github.com/yegor256/cactoos/issues/1116), [#849](https://github.com/yegor256/cactoos/issues/849), [#878](https://github.com/yegor256/cactoos/issues/878), [#897](htt

[2019-12-17 11:37] 0pdd commented on #849
@0pdd 2 puzzles [#1135](https://github.com/yegor256/cactoos/issues/1135), [#1261](https://github.com/yegor256/cactoos/issues/1261) are still not solved; solved: [#1063](https://github.com/yegor256/cactoos/issues/1063), [#1116](https://github.com/yegor256/cactoos/issues/1116), [#878](https://github.com/yegor256/cactoos/issues/878), [#897](https://github.com/yegor256/cactoos/issues/897), [#929](http

[2019-12-17 11:37] 0pdd commented on #878
@0pdd 2 puzzles [#1135](https://github.com/yegor256/cactoos/issues/1135), [#1261](https://github.com/yegor256/cactoos/issues/1261) are still not solved; solved: [#1063](https://github.com/yegor256/cactoos/issues/1063), [#1116](https://github.com/yegor256/cactoos/issues/1116), [#897](https://github.com/yegor256/cactoos/issues/897), [#929](https://github.com/yegor256/cactoos/issues/929).

[2019-12-17 11:37] 0pdd commented on #897
@0pdd 2 puzzles [#1135](https://github.com/yegor256/cactoos/issues/1135), [#1261](https://github.com/yegor256/cactoos/issues/1261) are still not solved; solved: [#1063](https://github.com/yegor256/cactoos/issues/1063), [#1116](https://github.com/yegor256/cactoos/issues/1116), [#929](https://github.com/yegor256/cactoos/issues/929).

[2019-12-17 11:37] 0pdd commented on #1063
@0pdd 2 puzzles [#1135](https://github.com/yegor256/cactoos/issues/1135), [#1261](https://github.com/yegor256/cactoos/issues/1261) are still not solved; solved: [#1116](https://github.com/yegor256/cactoos/issues/1116).

[2019-12-17 11:37] 0pdd commented on #1116
@0pdd 2 puzzles [#1135](https://github.com/yegor256/cactoos/issues/1135), [#1261](https://github.com/yegor256/cactoos/issues/1261) are still not solved.

[2019-12-17 11:37] 0pdd commented on #947
@wladyan 4 puzzles [#1183](https://github.com/yegor256/cactoos/issues/1183), [#1185](https://github.com/yegor256/cactoos/issues/1185), [#1242](https://github.com/yegor256/cactoos/issues/1242), [#1262](https://github.com/yegor256/cactoos/issues/1262) are still not solved; solved: [#1184](https://github.com/yegor256/cactoos/issues/1184).

[2019-12-17 11:38] 0crat commented on #1262
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-12-17 11:47] 0crat commented on #1261
Job [#1261](https://github.com/yegor256/cactoos/issues/1261) is now in scope, role is `DEV`

[2019-12-17 11:52] 0crat commented on #1262
Job [#1262](https://github.com/yegor256/cactoos/issues/1262) is now in scope, role is `DEV`

[2019-12-17 12:00] 0crat commented on #1262
The job [#1262](https://github.com/yegor256/cactoos/issues/1262) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/40f9b188-efe1-48d5-9dbe-7804e985bd9d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-12-17 15:24] yegor256 commented on #1226
@victornoel yes, I agree to remove

[2019-12-17 17:50] adamberglund commented on #1200
1 cp in > out
2 cp out > out
3 cp out > in
4 cp out > text

[2019-12-19 14:00] golyalpha commented on #1000
@0crat refuse

[2019-12-19 14:09] golyalpha commented on #1000
@0crat resign

[2019-12-20 18:12] 0crat commented on #1000
@golyalpha The user @golyalpha[/z](https://www.0crat.com/u/golyalpha) resigned from [#1000](https://github.com/yegor256/cactoos/issues/1000), please stop working. Reason for job resignation: Order was cancelled

[2019-12-20 18:40] 0crat commented on #1000
Tasks refusal is discouraged (job refused in 6304 hours), see [§6](http://www.zerocracy.com/policy.html#6): -20 point(s) just awarded to @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2019-12-20 19:23] 0crat commented on #1261
The job [#1261](https://github.com/yegor256/cactoos/issues/1261) assigned to @golyalpha[/z](https://www.0crat.com/u/golyalpha), here is [why](https://www.0crat.com/footprint/C63314D6Z/31a764a5-e624-4b65-a759-c04316c5ceb1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-12-20 19:26] 0crat commented on #1261
Job `gh:yegor256/cactoos#1261` already assigned to @golyalpha, can't assign to @golyalpha

[2019-12-21 10:51] 0crat commented on #1000
The job [#1000](https://github.com/yegor256/cactoos/issues/1000) assigned to @iakunin[/z](https://www.0crat.com/u/iakunin), here is [why](https://www.0crat.com/footprint/C63314D6Z/4c8cbe21-4816-4bbf-9de8-198c28ab579d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-12-21 11:18] 0crat commented on #1000
Job `gh:yegor256/cactoos#1000` already assigned to @iakunin, can't assign to @iakunin

[2019-12-21 14:25] victornoel commented on #1251
@0crat wait for #1263 to be merged

[2019-12-21 14:26] 0crat commented on #1251
@victornoel The impediment for [#1251](https://github.com/yegor256/cactoos/issues/1251) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-12-21 14:44] victornoel commented on #1262
@0crat wait for #1264 to be merged

[2019-12-21 14:52] 0crat commented on #1262
@victornoel The impediment for [#1262](https://github.com/yegor256/cactoos/issues/1262) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-12-21 15:07] victornoel commented on #1242
@paulodamaso WDYT?

[2019-12-21 15:26] victornoel commented on #1239
@fabriciofx ?
@paulodamaso I think this issue is not needed, WDYT? or should I renamed `HeadInput` into `HeadOf` maybe at least?

[2019-12-23 02:16] fabriciofx opened #1265 "StartsWith for Text"
Let's implements a `StartsWith` class which check if a `String` starts with another string (the behaviour is similar to `String.startsWith()` method.

[2019-12-23 02:16] 0crat commented on #1265
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-12-23 02:18] fabriciofx opened #1266 "EndsWith for Text"
Let's implements a `EndsWith` class which check if a `String` ends with another string (the behaviour is similar to `String.endsWith()` method.

[2019-12-23 02:18] 0crat commented on #1266
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-12-24 16:37] fanifieiev commented on #1252
@victornoel This issue has been completed, [PR ](https://github.com/yegor256/cactoos/pull/1256)has been merged. Please take the action.

[2019-12-27 18:33] paulodamaso commented on #1242
@victornoel I think we're good, let's follow your suggestions

[2019-12-27 20:38] paulodamaso commented on #1226
@0crat in

[2019-12-27 20:38] paulodamaso commented on #1200
@0crat in

[2019-12-27 20:41] paulodamaso commented on #1239
@victornoel I think you could make `HeadInput` into `HeadOf`

[2019-12-27 20:49] paulodamaso commented on #1265
@0crat in

[2019-12-27 20:49] 0crat commented on #1226
@paulodamaso Job [#1226](https://github.com/yegor256/cactoos/issues/1226) is already in scope

[2019-12-27 20:49] paulodamaso commented on #1266
@0crat in

[2019-12-27 20:52] 0crat commented on #1200
@paulodamaso Job [#1200](https://github.com/yegor256/cactoos/issues/1200) is now in scope, role is `DEV`

[2019-12-27 20:53] 0crat commented on #1266
@paulodamaso Job [#1266](https://github.com/yegor256/cactoos/issues/1266) is now in scope, role is `DEV`

[2019-12-27 20:53] 0crat commented on #1265
@paulodamaso Job [#1265](https://github.com/yegor256/cactoos/issues/1265) is now in scope, role is `DEV`

[2019-12-27 20:53] 0crat commented on #1200
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-12-27 20:54] 0crat commented on #1266
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-12-27 20:55] 0crat commented on #1265
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-12-28 10:22] iakunin commented on #1000
@0crat wait for https://github.com/yegor256/cactoos/pull/1267 to be merged

[2019-12-28 10:26] 0crat commented on #1000
@iakunin The impediment for [#1000](https://github.com/yegor256/cactoos/issues/1000) was registered successfully by @iakunin[/z](https://www.0crat.com/u/iakunin)

[2019-12-29 18:19] llorllale commented on #1252
Point taken.

[2019-12-29 18:23] llorllale commented on #1252
With the above said, what I'm *really* interested in is the following:

[2019-12-30 03:32] fanifieiev commented on #1252
@victornoel Please take the action. This task has been finalized, we need you close the issue.

[2019-12-30 10:03] ryoku commented on #1260
@Miha-x64 I think the current implementation is correct: the class is not thread-safe so the actual cache size may exceed the max size by more than one.

Moreover the change you suggest would eventually result in `IllegalStateException` as `next()` is never invoked.

[2019-12-30 10:51] Miha-x64 commented on #1260
Yep, you're right, i mean
[code]
This would be less confusing and avoid double lookup.

[2019-12-30 11:31] victornoel commented on #1252
@fanifieiev sorry for the delay, I was away. For the record, if you can, please tell issue reporter as soon as the PR is merged if you want the issue closed fast, I don't follow each and every PR related to issues I opened personally.

[2019-12-30 11:31] #1252 closed

[2019-12-30 11:51] 0crat commented on #1200
The job [#1200](https://github.com/yegor256/cactoos/issues/1200) assigned to @iakunin[/z](https://www.0crat.com/u/iakunin), here is [why](https://www.0crat.com/footprint/C63314D6Z/5f6d1af9-bcf6-43d7-a0ea-89352419d73d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-12-30 12:07] 0crat commented on #1252
The job [#1252](https://github.com/yegor256/cactoos/issues/1252) is now out of scope

[2019-12-30 12:08] 0crat commented on #1252
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-12-30 12:08] iakunin commented on #1200
@0crat refuse

[2019-12-30 12:16] sereshqua commented on #1252
@llorllale & @victornoel please make sure you start all your messages with the name of the users they are related to, see: [1](https://github.com/yegor256/cactoos/issues/1252#issuecomment-562970357), [2](https://github.com/yegor256/cactoos/issues/1252#issuecomment-565742830), [3](https://github.com/yegor256/cactoos/issues/1252#issuecomment-569529731), [4](https://github.com/yegor256/cactoos/issues

[2019-12-30 12:25] victornoel commented on #1252
@sereshqua good points, thanks for the reminder

[2019-12-30 12:37] 0crat commented on #1265
The job [#1265](https://github.com/yegor256/cactoos/issues/1265) assigned to @iakunin[/z](https://www.0crat.com/u/iakunin), here is [why](https://www.0crat.com/footprint/C63314D6Z/80f98105-1270-4d56-98fc-ba84eebbbfd8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-12-30 12:41] 0crat commented on #1200
@iakunin The user @iakunin[/z](https://www.0crat.com/u/iakunin) resigned from [#1200](https://github.com/yegor256/cactoos/issues/1200), please stop working. Reason for job resignation: Order was cancelled

[2019-12-30 12:48] 0crat commented on #1200
@iakunin Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2019-12-30 13:08] iakunin commented on #1265
@0crat wait for https://github.com/yegor256/cactoos/pull/1268 to be merged

[2019-12-30 13:23] 0crat commented on #1265
@iakunin The impediment for [#1265](https://github.com/yegor256/cactoos/issues/1265) was registered successfully by @iakunin[/z](https://www.0crat.com/u/iakunin)

[2019-12-30 15:15] 0crat commented on #1200
Job `gh:yegor256/cactoos#1200` already assigned to @mohamednizar, can't assign to @mohamednizar

[2019-12-30 15:15] 0crat commented on #1200
The job [#1200](https://github.com/yegor256/cactoos/issues/1200) assigned to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar), here is [why](https://www.0crat.com/footprint/C63314D6Z/1e577478-7275-40f2-b02e-5733b9af213c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-12-30 15:16] 0crat commented on #1200
Job `gh:yegor256/cactoos#1200` already assigned to @mohamednizar, can't assign to @mohamednizar

[2019-12-30 15:46] llorllale commented on #1252
@sereshqua fixed mine

[2019-12-30 15:47] sereshqua commented on #1252
@0crat quality acceptable

[2019-12-30 15:54] 0crat commented on #1252
Order was finished, quality is "acceptable": +30 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2019-12-30 15:55] 0crat commented on #1252
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-12-30 15:58] 0crat commented on #1266
The job [#1266](https://github.com/yegor256/cactoos/issues/1266) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C63314D6Z/8b2b697b-cc4b-4ef7-b47d-1479c66ae0ac); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-12-30 22:14] fanifieiev commented on #1266
@0crat wait for #1269 to be merged

[2019-12-30 22:15] 0crat commented on #1266
@fanifieiev The impediment for [#1266](https://github.com/yegor256/cactoos/issues/1266) was registered successfully by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-01-07 23:49] 0pdd commented on #1262
The puzzle `947-c9c78905` has disappeared from the source code, that's why I closed this issue.

[2020-01-07 23:49] #1262 closed

[2020-01-07 23:49] 0pdd commented on #947
@wladyan 3 puzzles [#1183](https://github.com/yegor256/cactoos/issues/1183), [#1185](https://github.com/yegor256/cactoos/issues/1185), [#1242](https://github.com/yegor256/cactoos/issues/1242) are still not solved; solved: [#1184](https://github.com/yegor256/cactoos/issues/1184), [#1262](https://github.com/yegor256/cactoos/issues/1262).

[2020-01-08 04:59] 0crat commented on #1262
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-01-08 05:19] 0crat commented on #1262
The job [#1262](https://github.com/yegor256/cactoos/issues/1262) is now out of scope

[2020-01-08 06:25] sereshqua commented on #1262
@0crat quality good

[2020-01-10 14:29] 0crat commented on #1183
The job [#1183](https://github.com/yegor256/cactoos/issues/1183) assigned to @roman-kuvaldin[/z](https://www.0crat.com/u/roman-kuvaldin), here is [why](https://www.0crat.com/footprint/C63314D6Z/4267e98d-cb2a-4306-a076-ce94d055c51d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-01-10 14:41] 0crat commented on #1226
The job [#1226](https://github.com/yegor256/cactoos/issues/1226) assigned to @roman-kuvaldin[/z](https://www.0crat.com/u/roman-kuvaldin), here is [why](https://www.0crat.com/footprint/C63314D6Z/56afd640-a8a3-455b-bd8b-5ad0ed2f25c6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-01-13 15:17] #1194 closed

[2020-01-13 15:17] 0pdd commented on #1194
The puzzle `1188-895eb6a4` has disappeared from the source code, that's why I closed this issue.

[2020-01-13 15:17] 0pdd commented on #1188
@fanifieiev all 4 puzzles are solved here: [#1191](https://github.com/yegor256/cactoos/issues/1191), [#1192](https://github.com/yegor256/cactoos/issues/1192), [#1193](https://github.com/yegor256/cactoos/issues/1193), [#1194](https://github.com/yegor256/cactoos/issues/1194).

[2020-01-13 15:51] 0crat commented on #1194
The job [#1194](https://github.com/yegor256/cactoos/issues/1194) is now out of scope

[2020-01-13 22:13] sereshqua commented on #1194
@0crat quality good

[2020-01-13 22:15] 0crat commented on #1194
Order was finished, quality is "good": +35 point(s) just awarded to @umbrah[/z](https://www.0crat.com/u/umbrah)

[2020-01-13 22:15] 0crat commented on #1194
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-01-14 02:55] strattonw opened #1274 "Collection NoNulls.addAll internally calls removeAll"
From the snippet below, the `addAll` calls `removeAll` on the internal collection
https://github.com/yegor256/cactoos/blob/b11523609fc3b7ed1ce14b8e9c84aafad7c5f5aa/src/main/java/org/cactoos/collection/NoNulls.java#L140-L143

[2020-01-14 02:56] 0crat commented on #1274
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-01-14 02:56] 0crat commented on #1274
@strattonw[/z](https://www.0crat.com/u/strattonw) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-21 04:45] fanifieiev commented on #1266
@fabriciofx please review

[2020-01-23 06:38] sereshqua commented on #1262
@0crat quality good

[2020-01-23 06:52] 0crat commented on #1262
@sereshqua There is no quality review for [#1262](https://github.com/yegor256/cactoos/issues/1262), no performer

[2020-01-23 07:04] 0crat commented on #1262
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-01-23 07:05] 0crat commented on #1262
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-01-27 17:08] fanifieiev commented on #1274
@strattonw Please close this issue as it was originated by you.

[2020-01-28 15:31] riccisi opened #1276 "Incorrect usage of the fallback function in the FirstOf class"
After updating to the last version of Cactoos (from 0.36 to 0.43), the following code no longer works:
[code]
Because the Func is evaluated in imperative way:
[code]
instead it should be like this:
[code]
as ItemAt accepts and evaluates a Func at the correct time (when it does not find the element)

[2020-01-28 15:31] 0crat commented on #1276
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-01-28 15:31] 0crat commented on #1276
@riccisi[/z](https://www.0crat.com/u/riccisi) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-28 23:34] #1274 closed

[2020-01-28 23:53] 0crat commented on #1274
This job is not in scope

[2020-01-29 15:34] paulodamaso commented on #1265
@iakunin thanks

[2020-01-29 15:34] #1265 closed

[2020-01-29 15:34] paulodamaso commented on #1266
@fanifieiev thanks!

[2020-01-29 15:34] #1266 closed

[2020-01-29 15:36] paulodamaso commented on #1259
@0crat in

[2020-01-29 15:37] paulodamaso commented on #1258
@0crat in

[2020-01-29 15:37] fanifieiev commented on #1266
@paulodamaso Thank you too

[2020-01-29 15:54] 0crat commented on #1259
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2020-01-29 15:55] 0crat commented on #1265
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @iakunin[/z](https://www.0crat.com/u/iakunin), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-01-29 15:55] 0crat commented on #1265
Job [#1265](https://github.com/yegor256/cactoos/issues/1265) is not in the agenda of @iakunin[/z](https://www.0crat.com/u/iakunin), can't inspect

[2020-01-29 15:57] sereshqua commented on #1265
@0crat quality good

[2020-01-29 15:59] 0crat commented on #1265
Job [#1265](https://github.com/yegor256/cactoos/issues/1265) is not in the agenda of @iakunin[/z](https://www.0crat.com/u/iakunin), can't retrieve data and time of add

[2020-01-29 15:59] 0crat commented on #1266
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-01-29 16:00] 0crat commented on #1258
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-01-29 16:00] sereshqua commented on #1266
@0crat quality good

[2020-01-29 16:03] 0crat commented on #1265
Order was finished, quality is "good": +35 point(s) just awarded to @iakunin[/z](https://www.0crat.com/u/iakunin)

[2020-01-29 16:03] 0crat commented on #1265
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-01-29 16:16] 0crat commented on #1266
Order was finished, quality is "good": +35 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-01-29 16:17] 0crat commented on #1266
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-01-29 16:25] 0crat commented on #1259
The job [#1259](https://github.com/yegor256/cactoos/issues/1259) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C63314D6Z/0ecfb1d0-d429-4a87-9708-dc514d8f723c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-01-29 19:57] fanifieiev commented on #1259
@yegor256 @paulodamaso Currently `SetOf` is based on the `HashSet`. So the responsibility of `SetOf` is to provide just a hash-based set with no ordering.
So:
1) By means of adding `Comparator ` we put more responsibility to the `SetOf`(now it needs to take care of ordering as well).
2) For now `SetOf  ` is mutable and we probably need to make it immutable so that it can take care of ordering when

[2020-01-30 02:43] paulodamaso commented on #1259
@yegor256 please take a look at @fanifieiev arguments

[2020-01-30 13:18] paulodamaso commented on #1258
@fanifieiev Why don't use
[code]
for this?

[2020-01-30 13:19] paulodamaso commented on #1276
@0crat in

[2020-01-30 13:25] 0crat commented on #1276
@paulodamaso Thanks for your contribution, @riccisi[/z](https://www.0crat.com/u/riccisi)! If you would be a member of [the project](https://www.0crat.com/p/C63314D6Z), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2020-01-30 14:51] fanifieiev commented on #1258
@paulodamaso Because sometime you just have `String `value and you need to wrap that into `Text ` just to match the existing constructor.
Please take a look at: [PaddedStart](https://github.com/yegor256/cactoos/blob/cdf2dec4f1f93de6dd9d5fb295fdf152c6786f52/src/main/java/org/cactoos/text/PaddedStart.java#L49)

I would actually create more constructors:
So, delimiter can be of type `String `or `Text

[2020-01-30 17:21] paulodamaso commented on #1258
@fanifieiev I understand your point. But don't you think that it will allow us to have two classes for representing a sequence of characters in `cactoos`: `Text` and `String`? I think it is very strange, like, if we put `String` constructors in all of our `Text` decorators having a `Text` interface will be of no meaning, since we will have no reason to use it in favor of `String`.

My point is tha

[2020-01-30 19:48] fanifieiev commented on #1258
@paulodamaso Well, your point  makes sense, but it raises another issue: Do we need to replace `String `with `Text` in all occurences of `Cactoos `primitives?
It does not force us to use `String `constructors in all of our `Text `decorators.
I would then rephrase myself: I would just leave the following constructors only:

- (**Text** delimit, **Iterable< Text>** txts)
- (**String** delimit, **Ite

[2020-01-31 11:47] #1000 closed

[2020-01-31 11:47] 0pdd commented on #1000
The puzzle `972-6ba919a9` has disappeared from the source code, that's why I closed this issue.

[2020-01-31 11:48] 0pdd opened #1277 "TimedTest.java:262-267: Create RepeatedProc decorator in..."
The puzzle `1000-1e922fa0` from #1000 has to be resolved:

https://github.com/yegor256/cactoos/blob/506a5749c7583499a3fca0867cb7c2a7a4f4f64e/src/test/java/org/cactoos/experimental/TimedTest.java#L262-L267

The puzzle was created by iakunin on 31-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-01-31 11:48] 0pdd commented on #962
@dgroup the puzzle [#1277](https://github.com/yegor256/cactoos/issues/1277) is still not solved; solved: [#1000](https://github.com/yegor256/cactoos/issues/1000), [#972](https://github.com/yegor256/cactoos/issues/972).

[2020-01-31 11:48] 0pdd commented on #972
@0pdd the puzzle [#1277](https://github.com/yegor256/cactoos/issues/1277) is still not solved; solved: [#1000](https://github.com/yegor256/cactoos/issues/1000).

[2020-01-31 11:48] 0pdd commented on #1000
@0pdd the puzzle [#1277](https://github.com/yegor256/cactoos/issues/1277) is still not solved.

[2020-02-01 13:50] victornoel commented on #1239
@fabriciofx see #1278

[2020-02-01 13:52] victornoel commented on #1242
@0crat wait for #1255 to be merged first.

[2020-02-01 13:59] 0crat commented on #1242
@victornoel Job [#1242](https://github.com/yegor256/cactoos/issues/1242) is already on hold

[2020-02-03 19:23] #1236 closed

[2020-02-03 19:23] 0pdd commented on #1236
The puzzle `1224-6c7b441d` has disappeared from the source code, that's why I closed this issue.

[2020-02-03 19:23] 0pdd commented on #1224
@quantumlexa the only puzzle [#1236](https://github.com/yegor256/cactoos/issues/1236) is solved here.

[2020-02-03 20:06] 0crat commented on #1236
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-03 20:08] sereshqua commented on #1236
@0crat quality good

[2020-02-03 21:07] 0crat commented on #1236
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-02-03 21:14] 0crat commented on #1236
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-03 22:35] fanifieiev commented on #1259
@paulodamaso @yegor256
So, decided to give a try with a `Sorted` set.
PR is here.
Feel free to argue.

[2020-02-04 13:21] paulodamaso commented on #1235
@0crat resign

[2020-02-04 13:33] 0crat commented on #1235
@paulodamaso The user @mohamednizar[/z](https://www.0crat.com/u/mohamednizar) resigned from [#1235](https://github.com/yegor256/cactoos/issues/1235), please stop working. Reason for job resignation: Order was cancelled

[2020-02-05 18:05] victornoel opened #1280 "UncheckedText should implement toString()"
`UncheckedText` should implement `toString()`.

[2020-02-05 18:05] 0crat commented on #1280
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-05 18:49] victornoel opened #1281 "master is broken"
Master is broken, see https://travis-ci.org/yegor256/cactoos/builds/646272995

[2020-02-05 18:49] 0crat commented on #1281
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-05 18:57] paulodamaso commented on #1281
@0crat in

[2020-02-05 19:11] 0crat commented on #1281
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-02-05 19:26] paulodamaso commented on #1281
@0crat assign me

[2020-02-05 19:33] 0crat commented on #1281
@paulodamaso The job [#1281](https://github.com/yegor256/cactoos/issues/1281) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C63314D6Z/d8772620-d04c-4020-944d-6f1eed1c59cb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2020-02-05 19:34] 0crat commented on #1281
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-02-05 20:20] piotrkot opened #1283 "Zipping directory is broken"
Let's zip some files.
[code]
Files `A.txt` and `B.txt` have expected content and are located in the `/tmp/abc` directory.
Viewing contents with `unzip -l abc-compressed-8773065996033619463.zip` shows
[code]
which is not expected. I didn't not expect to see `/tmp` directory in the zip archive.
When unzipping the contents with `unzip abc-compressed-8773065996033619463.zip -d unzipped/.` I get errors

[2020-02-05 20:20] 0crat commented on #1283
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-05 20:20] 0crat commented on #1283
@piotrkot[/z](https://www.0crat.com/u/piotrkot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-05 20:57] 0crat commented on #1281
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-05 21:11] 0crat commented on #1281
Order was finished: +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-02-05 22:01] piotrkot opened #1284 "Closing TempFolder is broken"
I believe when someone creates a temporary folder, it is for some files or directories to put inside.
As least this is why I create such folders.
Now, when you are done, and you close the temporary folder, it is a good idea to delete that folder with all the content inside.

In the current implementation, however, you call `Files.delete(path)` in the `close()` method, which will throw `DirectoryNo

[2020-02-05 22:01] 0crat commented on #1284
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-05 22:01] 0crat commented on #1284
@piotrkot[/z](https://www.0crat.com/u/piotrkot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-06 00:35] #1185 closed

[2020-02-06 00:35] 0pdd commented on #1185
The puzzle `947-4efcb5fb` has disappeared from the source code, that's why I closed this issue.

[2020-02-06 00:35] 0pdd commented on #947
@wladyan 2 puzzles [#1183](https://github.com/yegor256/cactoos/issues/1183), [#1242](https://github.com/yegor256/cactoos/issues/1242) are still not solved; solved: [#1184](https://github.com/yegor256/cactoos/issues/1184), [#1185](https://github.com/yegor256/cactoos/issues/1185), [#1262](https://github.com/yegor256/cactoos/issues/1262).

[2020-02-06 04:53] 0crat commented on #1000
@iakunin[/z](https://www.0crat.com/u/iakunin) resigned from [#1000](https://github.com/yegor256/cactoos/issues/1000), since the job is not in scope anymore

[2020-02-06 05:25] 0crat commented on #1185
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-06 05:50] 0crat commented on #1284
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @piotrkot[/z](https://www.0crat.com/u/piotrkot)

[2020-02-06 05:50] 0crat commented on #1283
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @piotrkot[/z](https://www.0crat.com/u/piotrkot)

[2020-02-06 06:46] sereshqua commented on #1185
@0crat quality good

[2020-02-06 07:18] 0crat commented on #1000
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.51.1](https://github.com/zerocracy/farm): CID: [1a3472ba-4361-4ac1-9be2-483b83183333](https://www.0crat.com/footprint/C63314D6Z/1a3472ba-4361-4ac1-9be2-483b83183333), Type: "Order was canceled"

[2020-02-06 07:28] 0crat commented on #1185
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-02-06 07:33] 0crat commented on #1185
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-06 12:02] 0pdd commented on #1218
The puzzle `898-4936d4fd` has disappeared from the source code, that's why I closed this issue.

[2020-02-06 12:02] #1218 closed

[2020-02-06 12:02] 0pdd commented on #829
@Vatavuk 4 puzzles [#1217](https://github.com/yegor256/cactoos/issues/1217), [#1220](https://github.com/yegor256/cactoos/issues/1220), [#1221](https://github.com/yegor256/cactoos/issues/1221), [#1233](https://github.com/yegor256/cactoos/issues/1233) are still not solved; solved: [#1218](https://github.com/yegor256/cactoos/issues/1218), [#1219](https://github.com/yegor256/cactoos/issues/1219), [#12

[2020-02-06 12:02] 0pdd commented on #898
@0pdd 4 puzzles [#1217](https://github.com/yegor256/cactoos/issues/1217), [#1220](https://github.com/yegor256/cactoos/issues/1220), [#1221](https://github.com/yegor256/cactoos/issues/1221), [#1233](https://github.com/yegor256/cactoos/issues/1233) are still not solved; solved: [#1218](https://github.com/yegor256/cactoos/issues/1218), [#1219](https://github.com/yegor256/cactoos/issues/1219), [#1230]

[2020-02-06 12:17] paulodamaso opened #1285 "Update rultor image"
Update rultor image to `yegor256/rultor-image`

[2020-02-06 12:21] paulodamaso commented on #1285
@0crat assign me

[2020-02-06 14:10] victornoel commented on #1280
@paulodamaso because lots of code relies on the fact that `toString()` returns something meaningful and in the case of `UncheckedText`, we get a useless object hash coming from the default implementation in `Object.toString()`.

Other `Text` implementation have `toString()` implemented. It especially makes sense for something called text by the way…

[2020-02-06 14:59] 0crat commented on #1285
@paulodamaso The job [#1285](https://github.com/yegor256/cactoos/issues/1285) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C63314D6Z/104b6bfc-a4d9-4a7e-b3e7-df42ab52e0ed); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2020-02-06 15:09] 0crat commented on #1285
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-02-06 15:19] 0crat commented on #1285
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-02-06 15:29] 0crat commented on #1285
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-02-06 16:11] #1285 closed

[2020-02-06 16:35] 0crat commented on #1285
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-06 17:02] 0crat commented on #1285
Order was finished: +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-02-06 19:35] fanifieiev commented on #1280
@paulodamaso I completely agree with @victornoel

[2020-02-06 19:37] fanifieiev commented on #1280
@victornoel @paulodamaso I would better force all `Text `implementations extend `TextEnvelope`, which already supports `toString()`.

[2020-02-06 21:11] victornoel opened #1287 "TextEnvelope should be reimplemented to be a simple envelope"
The current `TextEnvelope` implementation, like many of the other envelopes in cactoos, is plain wrong (see for example #1185 and other like that).

If `TextEnvelope` takes a `Scalar`, it is NOT an envelope, it's an implementation of `Text` based on a `Scalar`, and making it abstract is a mistake because 1) it promotes (bad) inheritance and 2) it can't be used directly.

I propose to:
- Move to `T

[2020-02-06 21:11] 0crat commented on #1287
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-06 21:11] victornoel commented on #1280
@fanifieiev this is an implementation detail, in the end what matters is that all implementations respect the contract.

But I don't like this approach, it really depends on the `Text` being implemented, sometimes it makes sense to use an envelope, when the text is static for example or when it can be expressed in terms of another implementation of `Text`, but sometimes it's better not to. And `Un

[2020-02-08 03:40] paulodamaso opened #1288 "Error during rultor merge"
On rultor merge:
[code]

[2020-02-08 03:41] paulodamaso commented on #1288
@0crat assign me

[2020-02-08 05:39] 0crat commented on #1288
@paulodamaso The job [#1288](https://github.com/yegor256/cactoos/issues/1288) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C63314D6Z/d96c1625-a603-453f-b9b8-f955369a06ca); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2020-02-08 06:14] 0crat commented on #1288
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-02-08 06:14] 0crat commented on #1288
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-02-08 06:26] 0crat commented on #1288
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-02-08 20:42] victornoel commented on #1239
@fabriciofx you can close the issue now, the PR has been merged :)

[2020-02-08 20:43] victornoel commented on #1251
@fanifieiev you can close the issue now, the PR has been merged

[2020-02-08 20:43] victornoel commented on #1251
@fanifieiev oh wait sorry, it hasn't yet ^^

[2020-02-09 18:35] victornoel commented on #1242
@paulodamaso I did the work in #1242, don't hesitate to double check already to see if I incorrectly approached this for some points discussed above :)

[2020-02-10 15:21] fanifieiev commented on #1259
@yegor256 The pull request for this issue has bee n merged.
Please review the work done and close the issue if applicable.

[2020-02-10 17:20] 0crat commented on #1276
The job [#1276](https://github.com/yegor256/cactoos/issues/1276) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C63314D6Z/df4111b8-33c5-4081-8aa3-d017e8494b9e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-02-10 17:36] 0crat commented on #1235
The job [#1235](https://github.com/yegor256/cactoos/issues/1235) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C63314D6Z/60d79432-4455-47ae-bc07-9da171c0b87d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-02-10 19:54] #1288 closed

[2020-02-10 19:56] paulodamaso commented on #1288
@rultor release tag is `0.44`

[2020-02-10 19:58] rultor commented on #1288
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21339-584321022)

[2020-02-10 20:13] rultor commented on #1288
@paulodamaso Done! FYI, the full log is [here](https://www.rultor.com/t/21339-584321022) (took me 14min)

[2020-02-10 20:52] 0crat commented on #1288
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-02-10 21:51] fanifieiev commented on #1259
@0crat wait for @yegor256 to close

[2020-02-10 21:52] fanifieiev commented on #1235
@0crat refuse

[2020-02-10 22:06] 0crat commented on #1259
@fanifieiev The impediment for [#1259](https://github.com/yegor256/cactoos/issues/1259) was registered successfully by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-02-10 22:16] 0crat commented on #1235
@fanifieiev The user @fanifieiev[/z](https://www.0crat.com/u/fanifieiev) resigned from [#1235](https://github.com/yegor256/cactoos/issues/1235), please stop working. Reason for job resignation: Order was cancelled

[2020-02-10 22:17] 0crat commented on #1235
@fanifieiev Job refused in 5 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-02-11 04:09] yegor256 commented on #1259
@fanifieiev thanks!

[2020-02-11 04:09] #1259 closed

[2020-02-11 06:15] 0crat commented on #1259
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-11 06:44] sereshqua commented on #1259
@0crat quality good

[2020-02-11 06:46] sereshqua commented on #852
@paulodamaso hi, i believe this can be closed :) just helping to get rid of opened issues

[2020-02-11 07:50] 0crat commented on #1259
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-11 08:01] 0crat commented on #1259
Order was finished, quality is "good": +35 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-02-11 11:27] paulodamaso commented on #852
@sereshqua Thank you!

[2020-02-11 11:27] #852 closed

[2020-02-11 11:48] 0crat commented on #852
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @dgroup[/z](https://www.0crat.com/u/dgroup), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-11 14:38] sereshqua commented on #852
@0crat quality good

[2020-02-11 14:57] 0crat commented on #852
Order was finished, quality is "good": +35 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2020-02-11 15:02] 0crat commented on #852
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-11 17:34] 0crat commented on #1284
The job [#1284](https://github.com/yegor256/cactoos/issues/1284) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C63314D6Z/bf1c9541-bd28-4c3e-9b97-4b8e66b542ac); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-02-11 18:56] #1233 closed

[2020-02-11 18:56] 0pdd commented on #1233
The puzzle `1230-147999cb` has disappeared from the source code, that's why I closed this issue.

[2020-02-11 18:56] #1242 closed

[2020-02-11 18:56] 0pdd commented on #1242
The puzzle `1184-56133cf3` has disappeared from the source code, that's why I closed this issue.

[2020-02-11 18:56] 0pdd opened #1291 "package-info.java:29-33: The following list..."
The puzzle `1230-21258e4c` from #1230 has to be resolved:

https://github.com/yegor256/cactoos/blob/2a62719ec67ee153ff99f2cbb9aacb9429efbea4/src/main/java/org/cactoos/list/package-info.java#L29-L33

The puzzle was created by @rultor on 23-Jan-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pro

[2020-02-11 18:57] 0pdd opened #1292 "package-info.java:29-31: The SetOf class should be..."
The puzzle `1242-a8a7ac97` from #1242 has to be resolved:

https://github.com/yegor256/cactoos/blob/2a62719ec67ee153ff99f2cbb9aacb9429efbea4/src/main/java/org/cactoos/set/package-info.java#L29-L31

The puzzle was created by Victor Noël on 09-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-02-11 18:57] 0crat commented on #1292
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-11 18:57] 0pdd opened #1293 "Mapped.java:37-41: Remove this class and replace it..."
The puzzle `1242-bb66641c` from #1242 has to be resolved:

https://github.com/yegor256/cactoos/blob/2a62719ec67ee153ff99f2cbb9aacb9429efbea4/src/main/java/org/cactoos/collection/Mapped.java#L37-L41

The puzzle was created by Victor Noël on 09-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-02-11 18:57] 0crat commented on #1291
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-11 18:58] 0pdd opened #1294 "HeadOf.java:35-39: Remove this class and replace it..."
The puzzle `1242-3e1cce64` from #1242 has to be resolved:

https://github.com/yegor256/cactoos/blob/2a62719ec67ee153ff99f2cbb9aacb9429efbea4/src/main/java/org/cactoos/collection/HeadOf.java#L35-L39

The puzzle was created by Victor Noël on 09-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-02-11 18:58] 0crat commented on #1293
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-11 18:58] 0pdd opened #1295 "Sticky.java:38-41: Remove this class and replace it..."
The puzzle `1242-40f4f782` from #1242 has to be resolved:

https://github.com/yegor256/cactoos/blob/2a62719ec67ee153ff99f2cbb9aacb9429efbea4/src/main/java/org/cactoos/collection/Sticky.java#L38-L41

The puzzle was created by Victor Noël on 09-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-02-11 18:58] 0pdd opened #1296 "Synced.java:47-50: Remove this class and replace it..."
The puzzle `1242-fc7e8653` from #1242 has to be resolved:

https://github.com/yegor256/cactoos/blob/2a62719ec67ee153ff99f2cbb9aacb9429efbea4/src/main/java/org/cactoos/collection/Synced.java#L47-L50

The puzzle was created by Victor Noël on 09-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-02-11 18:59] 0pdd opened #1297 "Sliced.java:35-39: Remove this class and replace it..."
The puzzle `1242-f1a7bfc6` from #1242 has to be resolved:

https://github.com/yegor256/cactoos/blob/2a62719ec67ee153ff99f2cbb9aacb9429efbea4/src/main/java/org/cactoos/collection/Sliced.java#L35-L39

The puzzle was created by Victor Noël on 09-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-02-11 18:59] 0crat commented on #1295
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-11 18:59] 0pdd opened #1298 "Shuffled.java:39-43: Remove this class and replace it..."
The puzzle `1242-8f74e00b` from #1242 has to be resolved:

https://github.com/yegor256/cactoos/blob/2a62719ec67ee153ff99f2cbb9aacb9429efbea4/src/main/java/org/cactoos/collection/Shuffled.java#L39-L43

The puzzle was created by Victor Noël on 09-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2020-02-11 18:59] 0crat commented on #1294
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-11 18:59] 0pdd opened #1299 "Filtered.java:36-40: Remove this class and replace it..."
The puzzle `1242-d08d3037` from #1242 has to be resolved:

https://github.com/yegor256/cactoos/blob/2a62719ec67ee153ff99f2cbb9aacb9429efbea4/src/main/java/org/cactoos/collection/Filtered.java#L36-L40

The puzzle was created by Victor Noël on 09-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2020-02-11 19:00] 0pdd opened #1300 "Reversed.java:39-43: Remove this class and replace it..."
The puzzle `1242-011c38db` from #1242 has to be resolved:

https://github.com/yegor256/cactoos/blob/2a62719ec67ee153ff99f2cbb9aacb9429efbea4/src/main/java/org/cactoos/collection/Reversed.java#L39-L43

The puzzle was created by Victor Noël on 09-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2020-02-11 19:00] 0crat commented on #1298
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-11 19:00] 0pdd opened #1301 "Joined.java:35-39: Remove this class and replace it..."
The puzzle `1242-652af3fd` from #1242 has to be resolved:

https://github.com/yegor256/cactoos/blob/2a62719ec67ee153ff99f2cbb9aacb9429efbea4/src/main/java/org/cactoos/collection/Joined.java#L35-L39

The puzzle was created by Victor Noël on 09-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-02-11 19:00] 0crat commented on #1297
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-11 19:00] 0pdd opened #1302 "Solid.java:41-45: Remove this class and replace it..."
The puzzle `1242-f28dfbc0` from #1242 has to be resolved:

https://github.com/yegor256/cactoos/blob/2a62719ec67ee153ff99f2cbb9aacb9429efbea4/src/main/java/org/cactoos/collection/Solid.java#L41-L45

The puzzle was created by Victor Noël on 09-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-02-11 19:01] 0crat commented on #1296
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-11 19:01] 0pdd opened #1303 "Skipped.java:35-39: Remove this class and replace it..."
The puzzle `1242-15741ade` from #1242 has to be resolved:

https://github.com/yegor256/cactoos/blob/2a62719ec67ee153ff99f2cbb9aacb9429efbea4/src/main/java/org/cactoos/collection/Skipped.java#L35-L39

The puzzle was created by Victor Noël on 09-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-02-11 19:01] 0pdd opened #1304 "TailOf.java:35-38: Remove this class and replace it..."
The puzzle `1242-1b85f1d7` from #1242 has to be resolved:

https://github.com/yegor256/cactoos/blob/2a62719ec67ee153ff99f2cbb9aacb9429efbea4/src/main/java/org/cactoos/collection/TailOf.java#L35-L38

The puzzle was created by Victor Noël on 09-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-02-11 19:01] 0crat commented on #1302
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-11 19:01] 0pdd opened #1305 "Sorted.java:40-44: Remove this class and replace it..."
The puzzle `1242-99c90a27` from #1242 has to be resolved:

https://github.com/yegor256/cactoos/blob/2a62719ec67ee153ff99f2cbb9aacb9429efbea4/src/main/java/org/cactoos/collection/Sorted.java#L40-L44

The puzzle was created by Victor Noël on 09-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-02-11 19:02] 0pdd commented on #829
@Vatavuk 4 puzzles [#1217](https://github.com/yegor256/cactoos/issues/1217), [#1220](https://github.com/yegor256/cactoos/issues/1220), [#1221](https://github.com/yegor256/cactoos/issues/1221), [#1291](https://github.com/yegor256/cactoos/issues/1291) are still not solved; solved: [#1218](https://github.com/yegor256/cactoos/issues/1218), [#1219](https://github.com/yegor256/cactoos/issues/1219), [#12

[2020-02-11 19:02] 0pdd commented on #898
@0pdd 4 puzzles [#1217](https://github.com/yegor256/cactoos/issues/1217), [#1220](https://github.com/yegor256/cactoos/issues/1220), [#1221](https://github.com/yegor256/cactoos/issues/1221), [#1291](https://github.com/yegor256/cactoos/issues/1291) are still not solved; solved: [#1218](https://github.com/yegor256/cactoos/issues/1218), [#1219](https://github.com/yegor256/cactoos/issues/1219), [#1230]

[2020-02-11 19:02] 0pdd commented on #1219
@0pdd the puzzle [#1291](https://github.com/yegor256/cactoos/issues/1291) is still not solved; solved: [#1230](https://github.com/yegor256/cactoos/issues/1230), [#1233](https://github.com/yegor256/cactoos/issues/1233).

[2020-02-11 19:02] 0pdd commented on #1230
@0pdd the puzzle [#1291](https://github.com/yegor256/cactoos/issues/1291) is still not solved; solved: [#1233](https://github.com/yegor256/cactoos/issues/1233).

[2020-02-11 19:02] 0pdd commented on #947
@wladyan 15 puzzles [#1183](https://github.com/yegor256/cactoos/issues/1183), [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1293](https://github.com/yegor256/cactoos/issues/1293), [#1294](https://github.com/yegor256/cactoos/issues/1294), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1296](https://github.com/yegor256/cactoos/issues/1296), [#1297](https://github.com/yegor

[2020-02-11 19:02] 0pdd commented on #1184
@0pdd 14 puzzles [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1293](https://github.com/yegor256/cactoos/issues/1293), [#1294](https://github.com/yegor256/cactoos/issues/1294), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1296](https://github.com/yegor256/cactoos/issues/1296), [#1297](https://github.com/yegor256/cactoos/issues/1297), [#1298](https://github.com/yegor256

[2020-02-11 19:02] 0pdd commented on #1242
@0pdd 14 puzzles [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1293](https://github.com/yegor256/cactoos/issues/1293), [#1294](https://github.com/yegor256/cactoos/issues/1294), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1296](https://github.com/yegor256/cactoos/issues/1296), [#1297](https://github.com/yegor256/cactoos/issues/1297), [#1298](https://github.com/yegor256

[2020-02-11 19:02] 0crat commented on #1301
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-11 19:03] 0crat commented on #1300
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-11 19:03] 0crat commented on #1299
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-11 19:05] 0crat commented on #1305
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-11 19:05] 0crat commented on #1304
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-11 19:06] 0crat commented on #1303
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-11 19:48] victornoel commented on #1239
@paulodamaso could you close the issue? The reporter does not seem to answer. Thx

[2020-02-11 20:03] 0crat commented on #1242
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-11 20:05] paulodamaso commented on #1239
@victornoel Thank you !

[2020-02-11 20:05] #1239 closed

[2020-02-11 20:18] sereshqua commented on #1242
@0crat quality good

[2020-02-11 20:19] sereshqua commented on #1233
@0crat quality good

[2020-02-11 20:22] 0crat commented on #1233
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @mohamednizar[/z](https://www.0crat.com/u/mohamednizar), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-11 20:31] 0crat commented on #1242
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-11 20:39] 0crat commented on #1233
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-11 21:03] 0crat commented on #1242
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-02-11 22:00] 0crat commented on #1233
Order was finished, quality is "good": +35 point(s) just awarded to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2020-02-11 22:15] 0crat commented on #1239
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-12 05:36] sereshqua commented on #1239
@0crat quality good

[2020-02-12 05:36] sereshqua commented on #1218
@0crat quality good

[2020-02-12 07:28] 0crat commented on #1239
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-02-12 07:28] 0crat commented on #1239
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-12 07:28] 0crat commented on #1218
Order was finished, quality is "good": +35 point(s) just awarded to @lavinj87[/z](https://www.0crat.com/u/lavinj87)

[2020-02-12 07:29] 0crat commented on #1218
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-13 17:58] 0crat commented on #1291
The job [#1291](https://github.com/yegor256/cactoos/issues/1291) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C63314D6Z/502c0baa-dfab-4a44-b448-bcff383ac86f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-02-13 18:11] 0crat commented on #1283
The job [#1283](https://github.com/yegor256/cactoos/issues/1283) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C63314D6Z/12b60055-6342-44a7-a674-a9492ba789af); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-02-15 13:45] victornoel opened #1308 "IterableOf.equals is broken"
Running the following test:
[code]

Throws the following exception:
[code]

I believe the test should simply pass.

[2020-02-15 13:45] 0crat commented on #1308
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-17 14:48] paulodamaso commented on #1308
@0crat in

[2020-02-17 15:12] 0crat commented on #1308
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-02-17 15:42] victornoel commented on #1251
@fanifieiev this time it is good, the PR has been merged :)

[2020-02-17 15:48] fanifieiev commented on #1251
@victornoel thanks

[2020-02-17 15:48] #1251 closed

[2020-02-17 16:20] 0crat commented on #1251
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-17 16:28] sereshqua commented on #1251
@0crat quality good

[2020-02-17 16:55] 0crat commented on #1251
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-02-17 17:01] 0crat commented on #1251
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-17 18:21] 0crat commented on #1235
The job [#1235](https://github.com/yegor256/cactoos/issues/1235) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/a74140d2-921e-479e-9f2e-32d1339a8195); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-02-17 18:22] victornoel commented on #1235
@0crat refuse

[2020-02-17 18:23] 0crat commented on #1235
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#1235](https://github.com/yegor256/cactoos/issues/1235), please stop working. Reason for job resignation: Order was cancelled

[2020-02-17 18:23] 0crat commented on #1235
@victornoel Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-02-17 18:31] 0crat commented on #1258
The job [#1258](https://github.com/yegor256/cactoos/issues/1258) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/d9085e7c-0172-4d33-aa17-51032d084d61); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-02-17 18:36] victornoel commented on #1258
@0crat refuse

[2020-02-17 18:49] 0crat commented on #1258
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#1258](https://github.com/yegor256/cactoos/issues/1258), please stop working. Reason for job resignation: Order was cancelled

[2020-02-17 18:54] 0crat commented on #1258
@victornoel Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-02-17 19:05] 0crat commented on #1297
The job [#1297](https://github.com/yegor256/cactoos/issues/1297) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/0ecc3e67-6b43-49bb-a704-d644d7d89983); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-02-17 19:10] 0crat commented on #1296
The job [#1296](https://github.com/yegor256/cactoos/issues/1296) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/eb8da32f-a790-4731-bd7e-7afdca1e8239); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-02-17 19:20] 0crat commented on #1303
The job [#1303](https://github.com/yegor256/cactoos/issues/1303) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/1849ef81-94e3-47f8-91f8-55b28f5c6019); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-02-18 15:41] fanifieiev commented on #1276
@riccisi The issue has been fixed and the PR has been merged.
Please have a look and close the issue accordingly.

[2020-02-18 20:15] fanifieiev commented on #1276
@0crat wait for the issue to be closed

[2020-02-18 20:19] 0crat commented on #1276
@fanifieiev The impediment for [#1276](https://github.com/yegor256/cactoos/issues/1276) was registered successfully by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-02-19 01:59] fanifieiev commented on #1283
@0crat wait for #1307 to be merged

[2020-02-19 04:26] 0crat commented on #1283
@fanifieiev The impediment for [#1283](https://github.com/yegor256/cactoos/issues/1283) was registered successfully by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-02-19 11:22] #1276 closed

[2020-02-19 11:54] 0crat commented on #1276
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-19 11:55] sereshqua commented on #1276
@0crat quality good

[2020-02-19 12:05] 0crat commented on #1276
Order was finished, quality is "good": +35 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-02-19 12:06] 0crat commented on #1276
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-19 14:28] 0crat commented on #1294
The job [#1294](https://github.com/yegor256/cactoos/issues/1294) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C63314D6Z/6b13a617-9044-4488-9d5f-2028c451503a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-02-20 05:23] fanifieiev commented on #1284
@piotrkot The issue has been fixed and merged.
Please have a look at close the issue respectively.

[2020-02-20 08:20] piotrkot commented on #1284
@fanifieiev Thank you.

[2020-02-20 08:20] #1284 closed

[2020-02-20 08:53] 0crat commented on #1284
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-20 08:54] sereshqua commented on #1284
@0crat quality good

[2020-02-20 09:11] 0crat commented on #1284
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-20 09:12] 0crat commented on #1284
Order was finished, quality is "good": +35 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-02-23 09:45] victornoel commented on #1297
@0crat wait for #1311 to be merged

[2020-02-23 09:45] victornoel commented on #1296
@0crat wait for #1311 to be merged

[2020-02-23 09:45] victornoel commented on #1303
@0crat wait for #1311 to be merged

[2020-02-23 09:56] 0crat commented on #1303
@victornoel The impediment for [#1303](https://github.com/yegor256/cactoos/issues/1303) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-02-23 09:59] 0crat commented on #1297
@victornoel The impediment for [#1297](https://github.com/yegor256/cactoos/issues/1297) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-02-23 10:04] 0crat commented on #1296
@victornoel The impediment for [#1296](https://github.com/yegor256/cactoos/issues/1296) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-02-24 22:04] #1294 closed

[2020-02-24 22:04] 0pdd commented on #1294
The puzzle `1242-3e1cce64` has disappeared from the source code, that's why I closed this issue.

[2020-02-24 22:04] 0pdd commented on #947
@wladyan 14 puzzles [#1183](https://github.com/yegor256/cactoos/issues/1183), [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1293](https://github.com/yegor256/cactoos/issues/1293), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1296](https://github.com/yegor256/cactoos/issues/1296), [#1297](https://github.com/yegor256/cactoos/issues/1297), [#1298](https://github.com/yegor

[2020-02-24 22:04] 0pdd commented on #1184
@0pdd 13 puzzles [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1293](https://github.com/yegor256/cactoos/issues/1293), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1296](https://github.com/yegor256/cactoos/issues/1296), [#1297](https://github.com/yegor256/cactoos/issues/1297), [#1298](https://github.com/yegor256/cactoos/issues/1298), [#1299](https://github.com/yegor256

[2020-02-24 22:04] 0pdd commented on #1242
@0pdd 13 puzzles [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1293](https://github.com/yegor256/cactoos/issues/1293), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1296](https://github.com/yegor256/cactoos/issues/1296), [#1297](https://github.com/yegor256/cactoos/issues/1297), [#1298](https://github.com/yegor256/cactoos/issues/1298), [#1299](https://github.com/yegor256

[2020-02-24 22:24] 0crat commented on #1294
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-25 05:27] sereshqua commented on #1294
@0crat quality good

[2020-02-25 07:10] 0crat commented on #1294
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-25 07:11] 0crat commented on #1294
Order was finished, quality is "good": +35 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-02-26 02:58] #1296 closed

[2020-02-26 02:58] 0pdd commented on #1296
The puzzle `1242-fc7e8653` has disappeared from the source code, that's why I closed this issue.

[2020-02-26 02:58] #1297 closed

[2020-02-26 02:58] 0pdd commented on #1297
The puzzle `1242-f1a7bfc6` has disappeared from the source code, that's why I closed this issue.

[2020-02-26 02:58] #1303 closed

[2020-02-26 02:58] 0pdd commented on #1303
The puzzle `1242-15741ade` has disappeared from the source code, that's why I closed this issue.

[2020-02-26 02:58] 0pdd commented on #947
@wladyan 11 puzzles [#1183](https://github.com/yegor256/cactoos/issues/1183), [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1293](https://github.com/yegor256/cactoos/issues/1293), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1298](https://github.com/yegor256/cactoos/issues/1298), [#1299](https://github.com/yegor256/cactoos/issues/1299), [#1300](https://github.com/yegor

[2020-02-26 02:58] 0pdd commented on #1184
@0pdd 10 puzzles [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1293](https://github.com/yegor256/cactoos/issues/1293), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1298](https://github.com/yegor256/cactoos/issues/1298), [#1299](https://github.com/yegor256/cactoos/issues/1299), [#1300](https://github.com/yegor256/cactoos/issues/1300), [#1301](https://github.com/yegor256

[2020-02-26 02:58] 0pdd commented on #1242
@0pdd 10 puzzles [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1293](https://github.com/yegor256/cactoos/issues/1293), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1298](https://github.com/yegor256/cactoos/issues/1298), [#1299](https://github.com/yegor256/cactoos/issues/1299), [#1300](https://github.com/yegor256/cactoos/issues/1300), [#1301](https://github.com/yegor256

[2020-02-26 05:50] 0crat commented on #1297
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-26 05:50] 0crat commented on #1303
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-26 05:51] 0crat commented on #1296
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-26 05:52] sereshqua commented on #1297
@0crat quality good

[2020-02-26 05:52] sereshqua commented on #1303
@0crat quality good

[2020-02-26 05:53] sereshqua commented on #1296
@0crat quality good

[2020-02-26 07:16] 0crat commented on #1303
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-02-26 07:16] 0crat commented on #1296
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-02-26 07:25] 0crat commented on #1296
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-26 07:26] 0crat commented on #1297
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-26 07:31] 0crat commented on #1303
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-26 07:32] 0crat commented on #1297
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-02-26 08:09] 0crat commented on #1299
The job [#1299](https://github.com/yegor256/cactoos/issues/1299) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/b030a5cb-4d1b-4d5d-9604-2504d5aae109); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-02-26 08:22] 0crat commented on #1293
The job [#1293](https://github.com/yegor256/cactoos/issues/1293) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/13a63f0e-4332-4c9b-bbce-b12ed12b2bd0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-02-26 09:03] 0crat commented on #1292
The job [#1292](https://github.com/yegor256/cactoos/issues/1292) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/ab3c11f1-a588-4734-83b6-cddca4cf256b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-02-26 09:10] 0crat commented on #1304
The job [#1304](https://github.com/yegor256/cactoos/issues/1304) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/dc826687-4ab1-4ae5-83dd-a598ae255059); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-02-27 16:32] #1291 closed

[2020-02-27 16:32] 0pdd commented on #1291
The puzzle `1230-21258e4c` has disappeared from the source code, that's why I closed this issue.

[2020-02-27 16:32] 0pdd commented on #829
@Vatavuk 3 puzzles [#1217](https://github.com/yegor256/cactoos/issues/1217), [#1220](https://github.com/yegor256/cactoos/issues/1220), [#1221](https://github.com/yegor256/cactoos/issues/1221) are still not solved; solved: [#1218](https://github.com/yegor256/cactoos/issues/1218), [#1219](https://github.com/yegor256/cactoos/issues/1219), [#1230](https://github.com/yegor256/cactoos/issues/1230), [#12

[2020-02-27 16:32] 0pdd commented on #898
@0pdd 3 puzzles [#1217](https://github.com/yegor256/cactoos/issues/1217), [#1220](https://github.com/yegor256/cactoos/issues/1220), [#1221](https://github.com/yegor256/cactoos/issues/1221) are still not solved; solved: [#1218](https://github.com/yegor256/cactoos/issues/1218), [#1219](https://github.com/yegor256/cactoos/issues/1219), [#1230](https://github.com/yegor256/cactoos/issues/1230), [#1233]