[2020-07-06 08:51] fabriciofx commented on #1200
@victornoel it seems ok. Do you prefer I closed this issue now?

[2020-07-06 08:52] victornoel commented on #1245
@piotrkot ok, it seems indeed that there are no way to do that for now, so let's add a constructor to `TeeOutput` so that it also copies `Output` to `Input`.

[2020-07-06 08:52] victornoel commented on #1245
@0crat in

[2020-07-06 08:53] victornoel commented on #1200
@fabriciofx I don't know, do you think the current documentation (output to input excluded of course) is enough?

[2020-07-06 08:58] fabriciofx commented on #944
@victornoel I think we need return to this discussion and I vote to remove all exceptions from interfaces. It will be drive to a simpler design and more composable object system.

[2020-07-06 09:00] fabriciofx commented on #1200
@victornoel Definitely we need improve this documentation! :)

[2020-07-06 09:06] 0crat commented on #1409
Job `gh:yegor256/cactoos#1409` is not assigned, can't get performer

[2020-07-06 09:27] victornoel commented on #1200
@fabriciofx so let's keep this in scope then :)

[2020-07-06 22:47] 0crat commented on #1407
The job [#1407](https://github.com/yegor256/cactoos/issues/1407) assigned to @roman-kuvaldin[/z](https://www.0crat.com/u/roman-kuvaldin), here is [why](https://www.0crat.com/footprint/C63314D6Z/788e6a6f-6cd3-498d-bd7c-317060e50317); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-07-06 23:47] 0crat commented on #1217
The job [#1217](https://github.com/yegor256/cactoos/issues/1217) assigned to @roman-kuvaldin[/z](https://www.0crat.com/u/roman-kuvaldin), here is [why](https://www.0crat.com/footprint/C63314D6Z/462e13f6-b3aa-4c45-9e04-6c2e5fdc341b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-07-07 01:12] 0crat commented on #1261
The job [#1261](https://github.com/yegor256/cactoos/issues/1261) assigned to @lavinj87[/z](https://www.0crat.com/u/lavinj87), here is [why](https://www.0crat.com/footprint/C63314D6Z/f22c3c9d-2c8b-4e4a-9410-7b6236b62a0d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-07-07 01:48] 0crat commented on #1183
The job [#1183](https://github.com/yegor256/cactoos/issues/1183) assigned to @lavinj87[/z](https://www.0crat.com/u/lavinj87), here is [why](https://www.0crat.com/footprint/C63314D6Z/5365ff6a-bf91-47e6-bac5-4d3214646e89); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-07-07 02:43] 0crat commented on #1335
The job [#1335](https://github.com/yegor256/cactoos/issues/1335) assigned to @lavinj87[/z](https://www.0crat.com/u/lavinj87), here is [why](https://www.0crat.com/footprint/C63314D6Z/49874644-d184-49e1-9a96-d614b0a761e2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-07-07 03:46] 0crat commented on #1200
The job [#1200](https://github.com/yegor256/cactoos/issues/1200) assigned to @roman-kuvaldin[/z](https://www.0crat.com/u/roman-kuvaldin), here is [why](https://www.0crat.com/footprint/C63314D6Z/b04bafd7-60e4-4155-a591-cd30b957b820); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-07-07 12:17] 0pdd opened #1416 "pom.xml:117-120: Migrate existing tests to JUnit 5. It..."
The puzzle `1411-445dea43` from #1411 has to be resolved:

https://github.com/yegor256/cactoos/blob/033b34e1378d4565a95717356bc68dd6ee408063/pom.xml#L117-L120

The puzzle was created by Victor Noël on 05-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2020-07-07 12:17] 0pdd commented on #1411
@victornoel the puzzle [#1416](https://github.com/yegor256/cactoos/issues/1416) is still not solved.

[2020-07-07 12:17] 0crat commented on #1416
@victornoel[/z](https://www.0crat.com/u/victornoel) please, pay attention to this issue

[2020-07-07 12:20] #1411 closed

[2020-07-07 12:47] 0crat commented on #1411
Job was finished in 44 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-07 13:58] victornoel commented on #1411
@0crat status

[2020-07-07 14:03] 0crat commented on #1411
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1411](https://github.com/yegor256/cactoos/issues/1411) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos%231411%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-07-07 17:31] victornoel opened #1417 "Move to github actions"
Let's replace travis with github actions, once this is done, we can continue with also running tests on windows.

See also https://github.com/llorllale/cactoos-matchers/issues/83 for some similar issue.

[2020-07-07 17:32] victornoel commented on #1417
@0crat in

[2020-07-07 17:32] victornoel commented on #1415
@fabriciofx let's wait for #1417 before tackling that. Maybe we will first focus on jdk11, because jdk14 is not an LTS.

[2020-07-07 18:05] emfataliev commented on #1180
The problem is no longer present)

[2020-07-07 18:05] #1180 closed

[2020-07-07 18:22] 0crat commented on #1180
Job `gh:yegor256/cactoos#1180` is not assigned, can't get performer

[2020-07-07 18:35] fabriciofx commented on #1415
@victornoel I agree. I also think #1417 can solve this problem.

[2020-07-08 13:50] 0crat commented on #1416
The job [#1416](https://github.com/yegor256/cactoos/issues/1416) assigned to @borysfan[/z](https://www.0crat.com/u/borysfan), here is [why](https://www.0crat.com/footprint/C63314D6Z/3bc73256-f32b-4b19-83a1-a8327e7c6a57); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-07-08 14:47] 0crat commented on #1359
The job [#1359](https://github.com/yegor256/cactoos/issues/1359) assigned to @borysfan[/z](https://www.0crat.com/u/borysfan), here is [why](https://www.0crat.com/footprint/C63314D6Z/83252149-94fa-4f90-9ef0-3b04b7f10fdf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-07-08 15:47] 0crat commented on #906
The job [#906](https://github.com/yegor256/cactoos/issues/906) assigned to @borysfan[/z](https://www.0crat.com/u/borysfan), here is [why](https://www.0crat.com/footprint/C63314D6Z/dc2ed13e-e7a8-4f68-b4f8-ef13665a1392); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-07-11 16:28] vzurauskas commented on #1385
@fabriciofx Yes, that constructor actually does what I want. Not sure how I missed it. Thanks.

[2020-07-11 16:28] #1385 closed

[2020-07-12 20:56] paulodamaso commented on #1349
@0crat refuse

[2020-07-12 22:13] andreoss commented on #1417
@victornoel Why you even need running tests on other platforms? Doesn't it betray WORA?

[2020-07-13 06:51] victornoel commented on #1417
@andreoss that's the point, I don't know if everything runs well on Windows for example. Cactoos being a library handling a lot of low level stuffs, io, etc, from experience, I know that Windows always has strange problems and we want to be confident cactoos doesn't have those problems.

[2020-07-13 08:26] 0crat commented on #1349
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1349](https://github.com/yegor256/cactoos/issues/1349), please stop working. Reason for job resignation: Order was cancelled

[2020-07-13 14:35] marceloamadeu commented on #1406
@0crat refuse

[2020-07-13 14:57] 0crat commented on #1406
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#1406](https://github.com/yegor256/cactoos/issues/1406), please stop working. Reason for job resignation: Order was cancelled

[2020-07-13 16:02] marceloamadeu commented on #1349
@0crat refuse

[2020-07-13 16:13] 0crat commented on #1349
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#1349](https://github.com/yegor256/cactoos/issues/1349), please stop working. Reason for job resignation: Order was cancelled

[2020-07-13 16:13] 0crat commented on #1349
@marceloamadeu Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-07-14 08:34] #1318 closed

[2020-07-14 08:39] victornoel commented on #944
@skapral @fabriciofx I kind of agree.

Do you think we really need our own `UncheckedException` or actually the ones available in the java lib (such as`IllegalStateException`) are good enough for most of the case when we have to catch a checked exception?

[2020-07-14 09:01] 0crat commented on #1318
Job `gh:yegor256/cactoos#1318` is not assigned, can't get performer

[2020-07-14 10:46] 0crat commented on #1349
The job [#1349](https://github.com/yegor256/cactoos/issues/1349) assigned to @longstone[/z](https://www.0crat.com/u/longstone), here is [why](https://www.0crat.com/footprint/C63314D6Z/480f12bc-ce48-4e21-b523-f4097df57e89); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-07-14 14:46] skapral commented on #944
@victornoel Theoretically type of exception can matter for rather cosmetic scenarios of how the stack trace will eventually be shown to developers. Like, custom exception can give some hint on the cause of the issue, or provide a place to collect more information from the context of where exception is thrown from (the exception's attributes), but that's it. From handling perspective --- type shoul

[2020-07-15 16:54] victornoel commented on #1395
@0crat refuse

[2020-07-15 16:55] 0crat commented on #1395
@victornoel The user @longstone[/z](https://www.0crat.com/u/longstone) resigned from [#1395](https://github.com/yegor256/cactoos/issues/1395), please stop working. Reason for job resignation: Order was cancelled

[2020-07-15 16:57] victornoel commented on #1220
@0crat refuse

[2020-07-15 16:57] victornoel commented on #1223
@0crat refuse

[2020-07-15 16:57] victornoel commented on #1407
@0crat refuse

[2020-07-15 16:57] victornoel commented on #1217
@0crat refuse

[2020-07-15 16:57] victornoel commented on #1183
@0crat refuse

[2020-07-15 16:57] victornoel commented on #1335
@0crat refuse

[2020-07-15 16:58] victornoel commented on #1200
@0crat refuse

[2020-07-15 16:58] victornoel commented on #1359
@0crat refuse

[2020-07-15 16:58] victornoel commented on #906
@0crat refuse

[2020-07-15 16:58] victornoel commented on #1349
@0crat refuse

[2020-07-15 16:59] 0crat commented on #1183
@victornoel The user @lavinj87[/z](https://www.0crat.com/u/lavinj87) resigned from [#1183](https://github.com/yegor256/cactoos/issues/1183), please stop working. Reason for job resignation: Order was cancelled

[2020-07-15 17:00] 0crat commented on #1416
@victornoel The user @borysfan[/z](https://www.0crat.com/u/borysfan) resigned from [#1416](https://github.com/yegor256/cactoos/issues/1416), please stop working. Reason for job resignation: Order was cancelled

[2020-07-15 17:01] 0crat commented on #906
@victornoel The user @borysfan[/z](https://www.0crat.com/u/borysfan) resigned from [#906](https://github.com/yegor256/cactoos/issues/906), please stop working. Reason for job resignation: Order was cancelled

[2020-07-15 17:02] 0crat commented on #1223
@victornoel The user @englishman[/z](https://www.0crat.com/u/englishman) resigned from [#1223](https://github.com/yegor256/cactoos/issues/1223), please stop working. Reason for job resignation: Order was cancelled

[2020-07-15 17:03] 0crat commented on #1261
@victornoel The user @lavinj87[/z](https://www.0crat.com/u/lavinj87) resigned from [#1261](https://github.com/yegor256/cactoos/issues/1261), please stop working. Reason for job resignation: Order was cancelled

[2020-07-15 17:03] 0crat commented on #1135
@victornoel The user @englishman[/z](https://www.0crat.com/u/englishman) resigned from [#1135](https://github.com/yegor256/cactoos/issues/1135), please stop working. Reason for job resignation: Order was cancelled

[2020-07-15 17:04] 0crat commented on #1407
@victornoel The user @roman-kuvaldin[/z](https://www.0crat.com/u/roman-kuvaldin) resigned from [#1407](https://github.com/yegor256/cactoos/issues/1407), please stop working. Reason for job resignation: Order was cancelled

[2020-07-15 17:44] victornoel commented on #1335
@0crat refuse

[2020-07-15 17:44] victornoel commented on #1217
@0crat refuse

[2020-07-15 17:52] 0crat commented on #1217
@victornoel Job `gh:yegor256/cactoos#1217` is not assigned, can't get performer

[2020-07-15 17:52] 0crat commented on #1335
@victornoel Job `gh:yegor256/cactoos#1335` is not assigned, can't get performer

[2020-07-15 17:52] 0crat commented on #1217
@victornoel The user @roman-kuvaldin[/z](https://www.0crat.com/u/roman-kuvaldin) resigned from [#1217](https://github.com/yegor256/cactoos/issues/1217), please stop working. Reason for job resignation: Order was cancelled

[2020-07-15 17:53] 0crat commented on #1335
@victornoel The user @lavinj87[/z](https://www.0crat.com/u/lavinj87) resigned from [#1335](https://github.com/yegor256/cactoos/issues/1335), please stop working. Reason for job resignation: Order was cancelled

[2020-07-17 16:17] #1396 closed

[2020-07-17 16:17] 0pdd commented on #1396
The puzzle `1391-715b3f6c` has disappeared from the source code, that's why I closed this issue.

[2020-07-17 16:18] 0pdd opened #1420 "package-info.java:28-31: Continue replacing usage of..."
The puzzle `1396-59819ae3` from #1396 has to be resolved:

https://github.com/yegor256/cactoos/blob/de9e21d53a5dba268b08c9354b2d0f3b988601e0/src/test/java/org/cactoos/package-info.java#L28-L31

The puzzle was created by @rultor on 17-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2020-07-17 16:18] 0pdd commented on #1033
@llorllale 2 puzzles [#1395](https://github.com/yegor256/cactoos/issues/1395), [#1420](https://github.com/yegor256/cactoos/issues/1420) are still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#

[2020-07-17 16:18] 0pdd commented on #1117
@0pdd 2 puzzles [#1395](https://github.com/yegor256/cactoos/issues/1395), [#1420](https://github.com/yegor256/cactoos/issues/1420) are still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331]

[2020-07-17 16:18] 0pdd commented on #1152
@0pdd 2 puzzles [#1395](https://github.com/yegor256/cactoos/issues/1395), [#1420](https://github.com/yegor256/cactoos/issues/1420) are still not solved; solved: [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340]

[2020-07-17 16:18] 0pdd commented on #1182
@0pdd 2 puzzles [#1395](https://github.com/yegor256/cactoos/issues/1395), [#1420](https://github.com/yegor256/cactoos/issues/1420) are still not solved; solved: [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341]

[2020-07-17 16:18] 0pdd commented on #1228
@0pdd 2 puzzles [#1395](https://github.com/yegor256/cactoos/issues/1395), [#1420](https://github.com/yegor256/cactoos/issues/1420) are still not solved; solved: [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343]

[2020-07-17 16:18] 0pdd commented on #1235
@0pdd 2 puzzles [#1395](https://github.com/yegor256/cactoos/issues/1395), [#1420](https://github.com/yegor256/cactoos/issues/1420) are still not solved; solved: [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360]

[2020-07-17 16:18] 0pdd commented on #1331
@0pdd 2 puzzles [#1395](https://github.com/yegor256/cactoos/issues/1395), [#1420](https://github.com/yegor256/cactoos/issues/1420) are still not solved; solved: [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1362]

[2020-07-17 16:18] 0pdd commented on #1343
@0pdd the puzzle [#1420](https://github.com/yegor256/cactoos/issues/1420) is still not solved; solved: [#1362](https://github.com/yegor256/cactoos/issues/1362), [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1389](https://github.com/yegor256/cactoos/issues/1389), [#1391]

[2020-07-17 16:18] 0pdd commented on #1362
@0pdd the puzzle [#1420](https://github.com/yegor256/cactoos/issues/1420) is still not solved; solved: [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1389](https://github.com/yegor256/cactoos/issues/1389), [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1396]

[2020-07-17 16:18] 0pdd commented on #1367
@0pdd the puzzle [#1420](https://github.com/yegor256/cactoos/issues/1420) is still not solved; solved: [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1389](https://github.com/yegor256/cactoos/issues/1389), [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1396](https://github.com/yegor256/cactoos/issues/1396).

[2020-07-17 16:18] 0pdd commented on #1375
@0pdd the puzzle [#1420](https://github.com/yegor256/cactoos/issues/1420) is still not solved; solved: [#1389](https://github.com/yegor256/cactoos/issues/1389), [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1396](https://github.com/yegor256/cactoos/issues/1396).

[2020-07-17 16:18] 0pdd commented on #1389
@0pdd the puzzle [#1420](https://github.com/yegor256/cactoos/issues/1420) is still not solved; solved: [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1396](https://github.com/yegor256/cactoos/issues/1396).

[2020-07-17 16:18] 0pdd commented on #1391
@0pdd the puzzle [#1420](https://github.com/yegor256/cactoos/issues/1420) is still not solved; solved: [#1396](https://github.com/yegor256/cactoos/issues/1396).

[2020-07-17 16:18] 0pdd commented on #1396
@0pdd the puzzle [#1420](https://github.com/yegor256/cactoos/issues/1420) is still not solved.

[2020-07-17 16:47] 0crat commented on #1396
Job `gh:yegor256/cactoos#1396` is not assigned, can't get performer

[2020-07-22 13:44] marceloamadeu commented on #1395
@0crat refuse

[2020-07-22 14:02] 0crat commented on #1395
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#1395](https://github.com/yegor256/cactoos/issues/1395), please stop working. Reason for job resignation: Order was cancelled

[2020-07-24 15:57] 0crat commented on #1395
The job [#1395](https://github.com/yegor256/cactoos/issues/1395) assigned to @golyalpha[/z](https://www.0crat.com/u/golyalpha), here is [why](https://www.0crat.com/footprint/C63314D6Z/dcd48711-10bb-4b44-8347-7fbab9054ea4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-07-27 15:36] marceloamadeu commented on #1220
@0crat refuse

[2020-07-27 15:51] 0crat commented on #1220
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#1220](https://github.com/yegor256/cactoos/issues/1220), please stop working. Reason for job resignation: Order was cancelled

[2020-07-28 13:09] marceloamadeu commented on #1135
@0crat refuse

[2020-07-29 13:06] 0crat commented on #1135
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#1135](https://github.com/yegor256/cactoos/issues/1135), please stop working. Reason for job resignation: Order was cancelled

[2020-07-30 19:46] andreoss opened #1423 "Sticky decorator for Text"
A caching decorator for `Text` would be useful in `takes`.
https://github.com/yegor256/takes/issues/1062

Can it be implemented as part of `cactoos`?

Example of usage, `Text`is a parameter and passed though ctor:
[code]

[2020-07-31 10:18] andreoss opened #1424 "Printer for Text"
Is it possible to have a smart class for Text which realizes concept of printer?
https://www.yegor256.com/2016/04/05/printers-instead-of-getters.html

[code]

[2020-08-05 15:55] 0pdd commented on #1420
The puzzle `1396-59819ae3` has disappeared from the source code, that's why I closed this issue.

[2020-08-05 15:55] #1420 closed

[2020-08-05 15:55] 0pdd opened #1425 "package-info.java:28-31: Continue replacing usage of..."
The puzzle `1420-59819ae3` from #1420 has to be resolved:

https://github.com/yegor256/cactoos/blob/3a2c5dc5941836f33dcc102ac9835e6a72a9112f/src/test/java/org/cactoos/package-info.java#L28-L31

The puzzle was created by Constantin Costescu on 28-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-08-05 15:55] 0pdd commented on #1033
@llorllale 2 puzzles [#1395](https://github.com/yegor256/cactoos/issues/1395), [#1425](https://github.com/yegor256/cactoos/issues/1425) are still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#

[2020-08-05 15:55] 0pdd commented on #1117
@0pdd 2 puzzles [#1395](https://github.com/yegor256/cactoos/issues/1395), [#1425](https://github.com/yegor256/cactoos/issues/1425) are still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331]

[2020-08-05 15:55] 0pdd commented on #1152
@0pdd 2 puzzles [#1395](https://github.com/yegor256/cactoos/issues/1395), [#1425](https://github.com/yegor256/cactoos/issues/1425) are still not solved; solved: [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340]

[2020-08-05 15:55] 0pdd commented on #1182
@0pdd 2 puzzles [#1395](https://github.com/yegor256/cactoos/issues/1395), [#1425](https://github.com/yegor256/cactoos/issues/1425) are still not solved; solved: [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341]

[2020-08-05 15:55] 0pdd commented on #1235
@0pdd 2 puzzles [#1395](https://github.com/yegor256/cactoos/issues/1395), [#1425](https://github.com/yegor256/cactoos/issues/1425) are still not solved; solved: [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360]

[2020-08-05 15:55] 0pdd commented on #1331
@0pdd 2 puzzles [#1395](https://github.com/yegor256/cactoos/issues/1395), [#1425](https://github.com/yegor256/cactoos/issues/1425) are still not solved; solved: [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1362]

[2020-08-05 15:55] 0pdd commented on #1340
@0pdd the puzzle [#1425](https://github.com/yegor256/cactoos/issues/1425) is still not solved; solved: [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1362](https://github.com/yegor256/cactoos/issues/1362), [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1389]

[2020-08-05 15:55] 0pdd commented on #1343
@0pdd the puzzle [#1425](https://github.com/yegor256/cactoos/issues/1425) is still not solved; solved: [#1362](https://github.com/yegor256/cactoos/issues/1362), [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1389](https://github.com/yegor256/cactoos/issues/1389), [#1391]

[2020-08-05 15:55] 0pdd commented on #1362
@0pdd the puzzle [#1425](https://github.com/yegor256/cactoos/issues/1425) is still not solved; solved: [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1389](https://github.com/yegor256/cactoos/issues/1389), [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1396]

[2020-08-05 15:55] 0pdd commented on #1367
@0pdd the puzzle [#1425](https://github.com/yegor256/cactoos/issues/1425) is still not solved; solved: [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1389](https://github.com/yegor256/cactoos/issues/1389), [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1396](https://github.com/yegor256/cactoos/issues/1396), [#1420]

[2020-08-05 15:55] 0pdd commented on #1375
@0pdd the puzzle [#1425](https://github.com/yegor256/cactoos/issues/1425) is still not solved; solved: [#1389](https://github.com/yegor256/cactoos/issues/1389), [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1396](https://github.com/yegor256/cactoos/issues/1396), [#1420](https://github.com/yegor256/cactoos/issues/1420).

[2020-08-05 15:55] 0pdd commented on #1389
@0pdd the puzzle [#1425](https://github.com/yegor256/cactoos/issues/1425) is still not solved; solved: [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1396](https://github.com/yegor256/cactoos/issues/1396), [#1420](https://github.com/yegor256/cactoos/issues/1420).

[2020-08-05 15:56] 0pdd commented on #1391
@0pdd the puzzle [#1425](https://github.com/yegor256/cactoos/issues/1425) is still not solved; solved: [#1396](https://github.com/yegor256/cactoos/issues/1396), [#1420](https://github.com/yegor256/cactoos/issues/1420).

[2020-08-05 15:56] 0pdd commented on #1396
@0pdd the puzzle [#1425](https://github.com/yegor256/cactoos/issues/1425) is still not solved; solved: [#1420](https://github.com/yegor256/cactoos/issues/1420).

[2020-08-05 15:56] 0pdd commented on #1420
@0pdd the puzzle [#1425](https://github.com/yegor256/cactoos/issues/1425) is still not solved.

[2020-08-05 16:13] 0crat commented on #1420
Job `gh:yegor256/cactoos#1420` is not assigned, can't get performer

[2020-08-08 04:54] 0crat commented on #1220
The job [#1220](https://github.com/yegor256/cactoos/issues/1220) assigned to @mazdack[/z](https://www.0crat.com/u/mazdack), here is [why](https://www.0crat.com/footprint/C63314D6Z/200c49a4-0072-48dd-a1f2-672cab1ce78e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-08-08 05:56] 0crat commented on #1135
The job [#1135](https://github.com/yegor256/cactoos/issues/1135) assigned to @mazdack[/z](https://www.0crat.com/u/mazdack), here is [why](https://www.0crat.com/footprint/C63314D6Z/0be503c7-7131-468a-936d-88233a5e99a6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-08-08 06:56] 0crat commented on #1349
The job [#1349](https://github.com/yegor256/cactoos/issues/1349) assigned to @mazdack[/z](https://www.0crat.com/u/mazdack), here is [why](https://www.0crat.com/footprint/C63314D6Z/169cd03f-c8fe-449e-ac8c-267bd594fd44); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-08-08 13:44] #1135 closed

[2020-08-08 13:44] 0pdd commented on #1135
The puzzle `1116-eb6fd66d` has disappeared from the source code, that's why I closed this issue.

[2020-08-08 13:45] 0pdd commented on #788
@krzyk the puzzle [#1261](https://github.com/yegor256/cactoos/issues/1261) is still not solved; solved: [#1063](https://github.com/yegor256/cactoos/issues/1063), [#1116](https://github.com/yegor256/cactoos/issues/1116), [#1135](https://github.com/yegor256/cactoos/issues/1135), [#849](https://github.com/yegor256/cactoos/issues/849), [#878](https://github.com/yegor256/cactoos/issues/878), [#897](htt

[2020-08-08 13:45] 0pdd commented on #849
@0pdd the puzzle [#1261](https://github.com/yegor256/cactoos/issues/1261) is still not solved; solved: [#1063](https://github.com/yegor256/cactoos/issues/1063), [#1116](https://github.com/yegor256/cactoos/issues/1116), [#1135](https://github.com/yegor256/cactoos/issues/1135), [#878](https://github.com/yegor256/cactoos/issues/878), [#897](https://github.com/yegor256/cactoos/issues/897), [#929](http

[2020-08-08 13:45] 0pdd commented on #878
@0pdd the puzzle [#1261](https://github.com/yegor256/cactoos/issues/1261) is still not solved; solved: [#1063](https://github.com/yegor256/cactoos/issues/1063), [#1116](https://github.com/yegor256/cactoos/issues/1116), [#1135](https://github.com/yegor256/cactoos/issues/1135), [#897](https://github.com/yegor256/cactoos/issues/897), [#929](https://github.com/yegor256/cactoos/issues/929).

[2020-08-08 13:45] 0pdd commented on #897
@0pdd the puzzle [#1261](https://github.com/yegor256/cactoos/issues/1261) is still not solved; solved: [#1063](https://github.com/yegor256/cactoos/issues/1063), [#1116](https://github.com/yegor256/cactoos/issues/1116), [#1135](https://github.com/yegor256/cactoos/issues/1135), [#929](https://github.com/yegor256/cactoos/issues/929).

[2020-08-08 13:45] 0pdd commented on #1063
@0pdd the puzzle [#1261](https://github.com/yegor256/cactoos/issues/1261) is still not solved; solved: [#1116](https://github.com/yegor256/cactoos/issues/1116), [#1135](https://github.com/yegor256/cactoos/issues/1135).

[2020-08-08 13:45] 0pdd commented on #1116
@0pdd the puzzle [#1261](https://github.com/yegor256/cactoos/issues/1261) is still not solved; solved: [#1135](https://github.com/yegor256/cactoos/issues/1135).

[2020-08-08 14:04] 0crat commented on #1135
Job was finished in 7 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-08 14:04] 0crat commented on #1135
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @mazdack[/z](https://www.0crat.com/u/mazdack), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-08-08 14:48] sereshqua commented on #1135
@0crat quality good

[2020-08-08 15:08] victornoel commented on #1135
@sereshqua not very important but actually it wasn't @mazdack who did the work :)

[2020-08-08 16:06] sereshqua commented on #1135
@victornoel hmmm true, I've just realised that't my mistake. I had to treat @mazdack as performer, and as performer he did not provide any solution to the job. Sorry about this

at least I can write comment in issues and in PRs in your project :)

[2020-08-08 16:58] 0crat commented on #1217
The job [#1217](https://github.com/yegor256/cactoos/issues/1217) assigned to @mazdack[/z](https://www.0crat.com/u/mazdack), here is [why](https://www.0crat.com/footprint/C63314D6Z/90c3942c-cac1-4fec-b1fd-b24087744ee4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-08-14 16:04] marceloamadeu commented on #1407
@0crat refuse

[2020-08-14 18:45] piotrkot opened #1426 "Using Sticky classes as cache doesn't work"
I really like Cactoos approach but I'm missing a replacement for Guava Cache (https://github.com/google/guava/wiki/CachesExplained).
Sticky classes provide some of the functionalities but cache expiration or refresh must be implemented by the programmer.
Do you plan to implement it?

[2020-08-14 19:59] 0crat commented on #1407
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#1407](https://github.com/yegor256/cactoos/issues/1407), please stop working. Reason for job resignation: Order was cancelled

[2020-08-17 22:57] 0crat commented on #1407
The job [#1407](https://github.com/yegor256/cactoos/issues/1407) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C63314D6Z/dd15d7b2-0e8b-4648-abca-9a7a380923b1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-08-18 23:57] StuporHero opened #1427 "Does Randomized need to use a List?"
[Randomized](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/text/Randomized.java) only takes a `List<Character>` or a `Character...` for the list of characters from which to randomly draw. None of the public methods of the `List` interface are used in the class, so I'd like to request it be changed to accept `Iterable<Character>` instead. If it must use `List` (e.g. to g

[2020-08-24 19:50] andreoss commented on #1424
@victornoel
We can think that `Output` is a medium, and `Text` prints itself to it.
It seems to be common in takes for an object to have two methods for `print()`, the first one returns a string and the other one
writes to `OutputStream`. [1] [2].  It could be
[code]

[1]: https://github.com/yegor256/takes/blob/6c01e7414b5ddd886d8b9cefc4346a147c02c6ec/src/main/java/org/takes/rq/RqPrint.java#L92
[2

[2020-08-25 06:24] victornoel commented on #1424
@yegor256 what do you think about this discussion from a general EO point of view?

I wonder
- Does it mean we would need to introduce a general interface for objects printable to an `Output`?
- Should `Text` implements this interface?
- Is `Output` really the object `print` should take, since calling its `stream` method can return fresh `OutputStream` each time?

[2020-08-26 00:01] andreoss commented on #1426
@victornoel @piotrkot

There is https://github.com/g4s8/cactoos-cache, which provides additional implementations of caching `Scalar`.
Though it would be nicer (and more OO) to inject cache directly to `Sticky` (as propesed here https://www.pragmaticobjects.com/chapters/012_caching_for_objects.html)

For example:
[code]

As for #1423, the implementation (based on `Sticky`) is borrowed from `takes`

[2020-08-26 00:06] andreoss commented on #1423
@victornoel Yes, it should take only `Text` (clarified above). I plan to solve https://github.com/yegor256/takes/issues/1062, as soon as this feature released.
An implementation proposed in #1429

[2020-08-26 12:01] skapral commented on #1426
@andreoss @victornoel

I'd like to add 2 cents on the comment above:

1. Hiding scalar out of the constructor contract is not a good idea:

[code]

The reason is: cache is not only the place that keeps memoized chunks. Cache also defines, for how long, and for which scope the memoized value is kept. Original request was to add an ability to control it by programmer, and it is totally valid point.

[2020-08-26 15:23] marceloamadeu commented on #1261
@0crat refuse

[2020-08-26 15:26] 0crat commented on #1261
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#1261](https://github.com/yegor256/cactoos/issues/1261), please stop working. Reason for job resignation: Order was cancelled

[2020-08-26 17:09] victornoel commented on #1223
@0crat refuse

[2020-08-26 17:10] 0crat commented on #1223
@victornoel The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#1223](https://github.com/yegor256/cactoos/issues/1223), please stop working. Reason for job resignation: Order was cancelled

[2020-08-30 11:45] #1407 closed

[2020-08-30 11:45] 0pdd commented on #1407
The puzzle `1277-1f8d2dd2` has disappeared from the source code, that's why I closed this issue.

[2020-08-30 11:46] 0pdd commented on #962
@dgroup the puzzle [#1406](https://github.com/yegor256/cactoos/issues/1406) is still not solved; solved: [#1000](https://github.com/yegor256/cactoos/issues/1000), [#1277](https://github.com/yegor256/cactoos/issues/1277), [#1407](https://github.com/yegor256/cactoos/issues/1407), [#972](https://github.com/yegor256/cactoos/issues/972).

[2020-08-30 11:46] 0pdd commented on #972
@0pdd the puzzle [#1406](https://github.com/yegor256/cactoos/issues/1406) is still not solved; solved: [#1000](https://github.com/yegor256/cactoos/issues/1000), [#1277](https://github.com/yegor256/cactoos/issues/1277), [#1407](https://github.com/yegor256/cactoos/issues/1407).

[2020-08-30 11:46] 0pdd commented on #1000
@0pdd the puzzle [#1406](https://github.com/yegor256/cactoos/issues/1406) is still not solved; solved: [#1277](https://github.com/yegor256/cactoos/issues/1277), [#1407](https://github.com/yegor256/cactoos/issues/1407).

[2020-08-30 11:46] 0pdd commented on #1277
@0pdd the puzzle [#1406](https://github.com/yegor256/cactoos/issues/1406) is still not solved; solved: [#1407](https://github.com/yegor256/cactoos/issues/1407).

[2020-08-30 12:07] 0crat commented on #1407
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-08-30 18:54] sereshqua commented on #1407
@0crat quality good

[2020-08-30 20:55] 0crat commented on #1395
The job [#1395](https://github.com/yegor256/cactoos/issues/1395) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C63314D6Z/d5e7dc20-89fc-498a-a936-1192896453f3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-08-30 22:44] fabriciofx opened #1430 "Cactoos isn't building (on Windows) due FindBugs errors?"
Seems cactoos isn't building due FindBugs errors:
[code]
@victornoel can you check it, please?

[2020-08-30 23:59] fabriciofx commented on #1430
More information about this issue: it seems just happens in Windows (I'm using Windows 10).

[2020-08-31 18:51] 0crat commented on #1220
The job [#1220](https://github.com/yegor256/cactoos/issues/1220) assigned to @andreoss[/z](https://www.0crat.com/u/andreoss), here is [why](https://www.0crat.com/footprint/C63314D6Z/ef6278f9-a703-4431-88b8-b46094c6fe4e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-08-31 19:50] 0crat commented on #1223
The job [#1223](https://github.com/yegor256/cactoos/issues/1223) assigned to @andreoss[/z](https://www.0crat.com/u/andreoss), here is [why](https://www.0crat.com/footprint/C63314D6Z/ed5510c2-202e-42aa-b8d7-6727d9526b71); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-08-31 20:30] andreoss commented on #1430
@fabriciofx Are you using JDK11? I believe you are experiencing https://github.com/spotbugs/spotbugs/issues/756

[2020-09-04 06:17] victornoel commented on #1423
@andreoss feel free to close this now that the PR was merged :) thank you

[2020-09-04 08:32] 0pdd commented on #1223
The puzzle `1166-fd48e847` has disappeared from the source code, that's why I closed this issue.

[2020-09-04 08:32] #1223 closed

[2020-09-04 08:32] 0pdd commented on #1395
The puzzle `1392-4d58016d` has disappeared from the source code, that's why I closed this issue.

[2020-09-04 08:32] #1395 closed

[2020-09-04 08:32] 0pdd opened #1434 "pom.xml:205-211: In the continuation of #588, all the..."
The puzzle `1223-fd48e847` from #1223 has to be resolved:

https://github.com/yegor256/cactoos/blob/02f79026e1e0d96d6d564dc90a4bb83565631859/pom.xml#L205-L211

The puzzle was created by andreoss on 01-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2020-09-04 08:32] 0pdd commented on #588
@neonailol the puzzle [#1434](https://github.com/yegor256/cactoos/issues/1434) is still not solved; solved: [#1082](https://github.com/yegor256/cactoos/issues/1082), [#1119](https://github.com/yegor256/cactoos/issues/1119), [#1166](https://github.com/yegor256/cactoos/issues/1166), [#1222](https://github.com/yegor256/cactoos/issues/1222), [#1223](https://github.com/yegor256/cactoos/issues/1223), [#

[2020-09-04 08:33] 0pdd commented on #903
@0pdd the puzzle [#1434](https://github.com/yegor256/cactoos/issues/1434) is still not solved; solved: [#1082](https://github.com/yegor256/cactoos/issues/1082), [#1119](https://github.com/yegor256/cactoos/issues/1119), [#1166](https://github.com/yegor256/cactoos/issues/1166), [#1222](https://github.com/yegor256/cactoos/issues/1222), [#1223](https://github.com/yegor256/cactoos/issues/1223), [#951](

[2020-09-04 08:33] 0pdd commented on #951
@0pdd the puzzle [#1434](https://github.com/yegor256/cactoos/issues/1434) is still not solved; solved: [#1082](https://github.com/yegor256/cactoos/issues/1082), [#1119](https://github.com/yegor256/cactoos/issues/1119), [#1166](https://github.com/yegor256/cactoos/issues/1166), [#1222](https://github.com/yegor256/cactoos/issues/1222), [#1223](https://github.com/yegor256/cactoos/issues/1223).

[2020-09-04 08:33] 0pdd commented on #1082
@0pdd the puzzle [#1434](https://github.com/yegor256/cactoos/issues/1434) is still not solved; solved: [#1119](https://github.com/yegor256/cactoos/issues/1119), [#1166](https://github.com/yegor256/cactoos/issues/1166), [#1222](https://github.com/yegor256/cactoos/issues/1222), [#1223](https://github.com/yegor256/cactoos/issues/1223).

[2020-09-04 08:33] 0pdd commented on #1119
@0pdd the puzzle [#1434](https://github.com/yegor256/cactoos/issues/1434) is still not solved; solved: [#1166](https://github.com/yegor256/cactoos/issues/1166), [#1222](https://github.com/yegor256/cactoos/issues/1222), [#1223](https://github.com/yegor256/cactoos/issues/1223).

[2020-09-04 08:33] 0pdd commented on #1166
@0pdd the puzzle [#1434](https://github.com/yegor256/cactoos/issues/1434) is still not solved; solved: [#1222](https://github.com/yegor256/cactoos/issues/1222), [#1223](https://github.com/yegor256/cactoos/issues/1223).

[2020-09-04 08:33] 0pdd commented on #1223
@0pdd the puzzle [#1434](https://github.com/yegor256/cactoos/issues/1434) is still not solved.

[2020-09-04 08:33] 0pdd commented on #1033
@llorllale the puzzle [#1425](https://github.com/yegor256/cactoos/issues/1425) is still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#

[2020-09-04 08:33] 0pdd commented on #1117
@0pdd the puzzle [#1425](https://github.com/yegor256/cactoos/issues/1425) is still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340]

[2020-09-04 08:33] 0pdd commented on #1152
@0pdd the puzzle [#1425](https://github.com/yegor256/cactoos/issues/1425) is still not solved; solved: [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341]

[2020-09-04 08:33] 0pdd commented on #1228
@0pdd the puzzle [#1425](https://github.com/yegor256/cactoos/issues/1425) is still not solved; solved: [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360]

[2020-09-04 08:33] 0pdd commented on #1235
@0pdd the puzzle [#1425](https://github.com/yegor256/cactoos/issues/1425) is still not solved; solved: [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1362]

[2020-09-04 08:33] 0pdd commented on #1331
@0pdd the puzzle [#1425](https://github.com/yegor256/cactoos/issues/1425) is still not solved; solved: [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1362](https://github.com/yegor256/cactoos/issues/1362), [#1367]

[2020-09-04 08:33] 0pdd commented on #1341
@0pdd all 5 puzzles are solved here: [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1372](https://github.com/yegor256/cactoos/issues/1372), [#1381](https://github.com/yegor256/cactoos/issues/1381), [#1392](https://github.com/yegor256/cactoos/issues/1392), [#1395](https://github.com/yegor256/cactoos/issues/1395).

[2020-09-04 08:33] 0pdd commented on #1360
@0pdd all 4 puzzles are solved here: [#1372](https://github.com/yegor256/cactoos/issues/1372), [#1381](https://github.com/yegor256/cactoos/issues/1381), [#1392](https://github.com/yegor256/cactoos/issues/1392), [#1395](https://github.com/yegor256/cactoos/issues/1395).

[2020-09-04 08:33] 0pdd commented on #1372
@0pdd all 3 puzzles are solved here: [#1381](https://github.com/yegor256/cactoos/issues/1381), [#1392](https://github.com/yegor256/cactoos/issues/1392), [#1395](https://github.com/yegor256/cactoos/issues/1395).

[2020-09-04 08:33] 0pdd commented on #1381
@0pdd all 2 puzzles are solved here: [#1392](https://github.com/yegor256/cactoos/issues/1392), [#1395](https://github.com/yegor256/cactoos/issues/1395).

[2020-09-04 08:33] 0pdd commented on #1392
@0pdd the only puzzle [#1395](https://github.com/yegor256/cactoos/issues/1395) is solved here.

[2020-09-04 08:58] 0crat commented on #1395
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-09-04 09:01] 0crat commented on #1223
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @andreoss[/z](https://www.0crat.com/u/andreoss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-09-04 09:12] sereshqua commented on #1395
@0crat quality good

[2020-09-04 09:13] sereshqua commented on #1223
@0crat quality good

[2020-09-04 09:54] #1423 closed

[2020-09-04 10:00] 0crat commented on #1349
The job [#1349](https://github.com/yegor256/cactoos/issues/1349) assigned to @andreoss[/z](https://www.0crat.com/u/andreoss), here is [why](https://www.0crat.com/footprint/C63314D6Z/1daf8050-d8fe-4ecc-8922-a1a55e805c28); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-09-04 10:11] 0crat commented on #1423
Job `gh:yegor256/cactoos#1423` is not assigned, can't get performer

[2020-09-04 12:05] andreoss commented on #1349
@victornoel
Why `ScalarOf` should accept `Callable` and `Supplier`?
As a functional interface `Scalar` matches both of them, it will make lambda notation unambiguous and requiring explicit casting.

Can we have `ScalarOfCallable` instead?

[2020-09-04 12:33] victornoel commented on #1349
@andreoss yes, very good point. The name you propose is good to me, let's go with that.

[2020-09-04 12:37] 0pdd commented on #1220
The puzzle `898-457dcf37` has disappeared from the source code, that's why I closed this issue.

[2020-09-04 12:37] #1220 closed

[2020-09-04 12:37] 0pdd commented on #829
@Vatavuk 2 puzzles [#1217](https://github.com/yegor256/cactoos/issues/1217), [#1221](https://github.com/yegor256/cactoos/issues/1221) are still not solved; solved: [#1218](https://github.com/yegor256/cactoos/issues/1218), [#1219](https://github.com/yegor256/cactoos/issues/1219), [#1220](https://github.com/yegor256/cactoos/issues/1220), [#1230](https://github.com/yegor256/cactoos/issues/1230), [#12

[2020-09-04 12:37] 0pdd commented on #898
@0pdd 2 puzzles [#1217](https://github.com/yegor256/cactoos/issues/1217), [#1221](https://github.com/yegor256/cactoos/issues/1221) are still not solved; solved: [#1218](https://github.com/yegor256/cactoos/issues/1218), [#1219](https://github.com/yegor256/cactoos/issues/1219), [#1220](https://github.com/yegor256/cactoos/issues/1220), [#1230](https://github.com/yegor256/cactoos/issues/1230), [#1233]

[2020-09-04 13:57] 0crat commented on #1217
The job [#1217](https://github.com/yegor256/cactoos/issues/1217) assigned to @andreoss[/z](https://www.0crat.com/u/andreoss), here is [why](https://www.0crat.com/footprint/C63314D6Z/2692d892-6168-4037-96dc-c55dc323010f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-09-04 20:58] 0crat commented on #1406
The job [#1406](https://github.com/yegor256/cactoos/issues/1406) assigned to @andreoss[/z](https://www.0crat.com/u/andreoss), here is [why](https://www.0crat.com/footprint/C63314D6Z/8f9bf172-fbdc-4039-9846-4678c0004ce3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-09-05 15:36] victornoel commented on #1430
@andreoss good find
@fabriciofx can you confirm you are using Java 11? Please build cactoos with Java 8 if it is the case :)

[2020-09-05 15:39] victornoel commented on #1426
@andreoss @skapral thank you for your feedbacks. I wasn't aware of cactoos-cache, but I believe this should be where all this discussion should happen then.

I will thus close this issue and consider caching out of scope of cactoos and redirect people to https://github.com/g4s8/cactoos-cache

[2020-09-05 15:39] #1426 closed

[2020-09-05 15:59] 0crat commented on #1426
Job `gh:yegor256/cactoos#1426` is not assigned, can't get performer

[2020-09-06 04:48] fabriciofx opened #1438 "Some object's attributes without final modifier"
As you know, Cactoos follows Elegant Objects principles and one of them is immutable objects. To achieve it, you use `final` modifier in object's attributes. But in Cactoos code we can some of no final attributes. So, let's add `final` modifier to them and the attributes need to change, let's use `AtomicInteger`, `AtomicLong`, `AtomicReference` and so on.
[code]

[2020-09-06 04:50] fabriciofx opened #1439 "Create a Sleep class/object/decorator"
Let's create a `Sleep` object, because it's util in a lot of situations and we already use `private void sleep()` in some places in Cactoos code.

[2020-09-06 04:52] fabriciofx commented on #1430
@andreoss @victornoel Yeah, by my mistake I was using OpenJDK 11 instead of OpenJDK 8. Sorry about that. I'll close this issue now. Thanks for your information!

[2020-09-06 04:52] #1430 closed

[2020-09-06 05:09] 0crat commented on #1430
Job `gh:yegor256/cactoos#1430` is not assigned, can't get performer

[2020-09-06 07:03] fabriciofx opened #1440 "IterableOf, MapEntry and MapEnvelope should use HashCode instead of own hash code algorithm"
IterableOf, MapEntry and MapEnvelope (or MapOf if #1384 has been done) should use HashCode instead of own hash code. So let's refactor them to use `HashCode`.

[2020-09-06 07:10] fabriciofx opened #1441 "Remove unnecessary anonymous code in favor or lambda code"
A lot of classes as `Upper`, `Trimmed Right`, `Trimmed Left` and etc uses unnecessary anonymous code. So, let's replace them using lambdas.

[2020-09-06 07:29] fabriciofx commented on #1241
@victornoel WDYT?

[2020-09-06 07:29] fabriciofx commented on #1240
@victornoel WDYT?

[2020-09-06 09:41] fabriciofx opened #1442 "Use of ins't readable value 16 << 10 to describe length"
`DigestEnvelope`, `GzipInput`, `GzipOutput`, `InputAsBytes`, `ReaderAsBytes`, `WriterAsOutput`, `WriterAsOutputStream` and `LengthOf` use as buffer size value `16 << 10` which isn't readable and poor meanigful. So, let's change this to a better one, as `16384` or create a class variable `LENGTH = 16386` or something like that.

[2020-09-06 09:59] fabriciofx opened #1443 "Remove unnecessary code to create SSL conection in InputOfTest"
`InputOfTest#readsSecureUrlContent()` uses the code bellow to create a SSL conection but isn't necessary and can be deleted.

[code]

[2020-09-06 10:02] fabriciofx opened #1444 "Drop takes dependency"
Takes is used only once in Cactoos, to be more precise, in one single test in `InputOfTest` which it can ben perfectly replaced for something using `URL` object or sockets. So, let's change this test and drop takes dependency.

[2020-09-06 10:51] victornoel commented on #1438
@fabriciofx I can see why we would like to do that to follow more closely the "law" of EO, but before committing to it, can we explore what would that bring to us in terms of the "spirit" of EO? Do you think this will actually have an positive impact apart from having final class members?

[2020-09-06 10:52] victornoel commented on #1439
@fabriciofx do you mean something like `Thread.sleep`? Can you point to the place where we use this `private void sleep()` you are referring to?

[2020-09-06 10:53] victornoel commented on #1430
@fabriciofx no worries, it's good to know this can happen if later we move to supporting Java 11 more thoroughly.

[2020-09-06 10:55] victornoel commented on #1440
@fabriciofx that seems a good idea. Can you just edit the description to say:

[2020-09-06 10:59] victornoel commented on #1441
@fabriciofx I think it's alright to wait for issues such as #1287 to be done and cleanup those anonymous while doing them because they will impact all those classes I think. I would keep this ticket open for now anyway, and come back to it later maybe.

[2020-09-06 11:01] victornoel commented on #1241
@fabriciofx so something similar to `HashCode` but for `Equals`? What I am worried about is that this code should not be duplicated so much normally. Each of the classes that implements equals should have their own, internal state related, implement IMHO.

Could you make a list of the classes that would use this `Equals` and see in practice what it would entails?

[2020-09-06 11:05] victornoel commented on #1240
@fabriciofx I'm not exactly sure how `TeeInput` would replace those, do you have some more precise idea?

[2020-09-06 11:10] victornoel commented on #1442
@fabriciofx Actually `16 << 10` is meant to be more meaningful than the plain value `16384`: it can be read as 16 multiplied by 2 power 10.

But I don't know why those numbers were chosen... do you know?

[2020-09-06 11:11] victornoel commented on #1443
@fabriciofx indeed, I'm not sure why it was setup like that...

[2020-09-06 11:12] victornoel commented on #1443
@0crat in

[2020-09-06 11:14] victornoel commented on #1444
@fabriciofx actually, I think it's better than relying on some external web resource for running the test. I don't see a problem with it, and I suppose we could even try to solve #1443 with take instead of relying from an external resource.

[2020-09-06 11:14] victornoel commented on #1443
@fabriciofx let's use takes here to serve an https file without relying on an external web resource that requires internet connectivity to work.

[2020-09-06 11:39] fabriciofx commented on #1444
@victornoel we can do the same test wich takes does, without using it or any external resources, just using `ServerSocket` and `Socket` JDK classes. WDYT?

[2020-09-06 11:41] victornoel opened #1445 "Reorganise classes around Scalar and Callable"
Lets:
- Transform `RepeatedCallable` to `scalar.Repeated`
- Remove usage of `CallableOf` that can be replaced by a `Scalar` with `ScalarOf` or similar
- Move all the constructor (except the one taking a `Scalar`) from `CallableOf` to `ScalarOf`.
- Make `ScalarOf` extends `ScalarEnvelope` instead of wrapping a `Scalar`.

[2020-09-06 11:41] fabriciofx commented on #1443
@victornoel as I said [here](https://github.com/yegor256/cactoos/issues/1444#issuecomment-687765654) we can do it the same thing just using socket classes in JDK. Takes isn't necessary.

[2020-09-06 11:50] victornoel commented on #1444
@fabriciofx why reinvent the wheel? it's for tests and it's not really cactoos domain to implement such things

[2020-09-06 11:56] fabriciofx commented on #1442
@victornoel well, really you think this form more meaningful? :) If I'm not wrong, I saw other people saying to change it too.

About this number: it 'was observed (using empirical tests) about the performance over read / writer increase as buffer's size increase too, but there is a threshold, where the performance stabilize over increase buffer's size (you can see it in many books, like Advanced

[2020-09-06 12:00] fabriciofx commented on #1440
@victornoel is it better now?

[2020-09-06 12:03] fabriciofx commented on #1439
@victornoel it's used in `Retry`, `ThreadsTest`, `TimedTest`, `AsyncTest`, `RetryTest` and `TimedFuncTest`.

[2020-09-06 12:13] fabriciofx commented on #1444
@victornoel which you call "reinvent the wheel" I call "avoid uncessary dependencies" just to do two single/simple tests which sockets solve the problem. But you're the boss :)

[2020-09-06 12:39] victornoel commented on #1440
@0crat in

[2020-09-06 12:40] victornoel commented on #1440
@fabriciofx thanks :)

[2020-09-06 12:41] victornoel commented on #1444
@fabriciofx those are just test dependencies, so it's not critical, so we will keep takes, it's not a risk for the project to do so :) thx anyway for looking into it!

[2020-09-06 12:43] victornoel commented on #1443
@fabriciofx as concluded in #1444, since we will keep takes, let's try to use it ro replace calls to external urls. In `InputOfTest` but also in any other test that do such http request.

[2020-09-06 16:01] 0pdd commented on #1406
The puzzle `1277-9cbed564` has disappeared from the source code, that's why I closed this issue.

[2020-09-06 16:01] #1406 closed

[2020-09-06 16:01] 0pdd commented on #962
@dgroup all 5 puzzles are solved here: [#1000](https://github.com/yegor256/cactoos/issues/1000), [#1277](https://github.com/yegor256/cactoos/issues/1277), [#1406](https://github.com/yegor256/cactoos/issues/1406), [#1407](https://github.com/yegor256/cactoos/issues/1407), [#972](https://github.com/yegor256/cactoos/issues/972).

[2020-09-06 16:01] 0pdd commented on #972
@0pdd all 4 puzzles are solved here: [#1000](https://github.com/yegor256/cactoos/issues/1000), [#1277](https://github.com/yegor256/cactoos/issues/1277), [#1406](https://github.com/yegor256/cactoos/issues/1406), [#1407](https://github.com/yegor256/cactoos/issues/1407).

[2020-09-06 16:01] 0pdd commented on #1000
@0pdd all 3 puzzles are solved here: [#1277](https://github.com/yegor256/cactoos/issues/1277), [#1406](https://github.com/yegor256/cactoos/issues/1406), [#1407](https://github.com/yegor256/cactoos/issues/1407).

[2020-09-06 16:01] 0pdd commented on #1277
@0pdd all 2 puzzles are solved here: [#1406](https://github.com/yegor256/cactoos/issues/1406), [#1407](https://github.com/yegor256/cactoos/issues/1407).

[2020-09-06 16:19] 0crat commented on #1406
Job was finished in 43 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-09-06 16:58] victornoel commented on #1445
@0crat in

[2020-09-06 17:03] 0crat commented on #1261
The job [#1261](https://github.com/yegor256/cactoos/issues/1261) assigned to @andreoss[/z](https://www.0crat.com/u/andreoss), here is [why](https://www.0crat.com/footprint/C63314D6Z/50bb1626-4eba-451e-a8a6-3f9029e53ab1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-09-06 17:54] andreoss commented on #1261
@0crat wait for https://github.com/llorllale/cactoos-matchers/issues/167

[2020-09-06 18:36] fabriciofx commented on #1440
@victornoel welcome!

[2020-09-06 18:37] fabriciofx commented on #1443
@victornoel ok

[2020-09-06 19:07] fabriciofx commented on #1438
@victornoel Yep. Make attributes final forces immutability which has as (good) side-effect thread-safety (I think so).

[2020-09-07 17:45] victornoel commented on #1349
@andreoss ha, you forgot to remove the todo when you put `ScalarOf` back. Please make another PR.

[2020-09-08 06:42] #1217 closed

[2020-09-08 06:42] 0pdd commented on #1217
The puzzle `898-0bea8a51` has disappeared from the source code, that's why I closed this issue.

[2020-09-08 06:42] 0pdd commented on #829
@Vatavuk the puzzle [#1221](https://github.com/yegor256/cactoos/issues/1221) is still not solved; solved: [#1217](https://github.com/yegor256/cactoos/issues/1217), [#1218](https://github.com/yegor256/cactoos/issues/1218), [#1219](https://github.com/yegor256/cactoos/issues/1219), [#1220](https://github.com/yegor256/cactoos/issues/1220), [#1230](https://github.com/yegor256/cactoos/issues/1230), [#12

[2020-09-08 06:42] 0pdd commented on #898
@0pdd the puzzle [#1221](https://github.com/yegor256/cactoos/issues/1221) is still not solved; solved: [#1217](https://github.com/yegor256/cactoos/issues/1217), [#1218](https://github.com/yegor256/cactoos/issues/1218), [#1219](https://github.com/yegor256/cactoos/issues/1219), [#1220](https://github.com/yegor256/cactoos/issues/1220), [#1230](https://github.com/yegor256/cactoos/issues/1230), [#1233]

[2020-09-08 06:58] #1261 closed

[2020-09-08 06:58] 0pdd commented on #1261
The puzzle `1116-ec0ce41a` has disappeared from the source code, that's why I closed this issue.

[2020-09-08 06:58] 0pdd commented on #788
@krzyk all 8 puzzles are solved here: [#1063](https://github.com/yegor256/cactoos/issues/1063), [#1116](https://github.com/yegor256/cactoos/issues/1116), [#1135](https://github.com/yegor256/cactoos/issues/1135), [#1261](https://github.com/yegor256/cactoos/issues/1261), [#849](https://github.com/yegor256/cactoos/issues/849), [#878](https://github.com/yegor256/cactoos/issues/878), [#897](https://git

[2020-09-08 06:58] 0pdd commented on #849
@0pdd all 7 puzzles are solved here: [#1063](https://github.com/yegor256/cactoos/issues/1063), [#1116](https://github.com/yegor256/cactoos/issues/1116), [#1135](https://github.com/yegor256/cactoos/issues/1135), [#1261](https://github.com/yegor256/cactoos/issues/1261), [#878](https://github.com/yegor256/cactoos/issues/878), [#897](https://github.com/yegor256/cactoos/issues/897), [#929](https://gith

[2020-09-08 06:58] 0pdd commented on #878
@0pdd all 6 puzzles are solved here: [#1063](https://github.com/yegor256/cactoos/issues/1063), [#1116](https://github.com/yegor256/cactoos/issues/1116), [#1135](https://github.com/yegor256/cactoos/issues/1135), [#1261](https://github.com/yegor256/cactoos/issues/1261), [#897](https://github.com/yegor256/cactoos/issues/897), [#929](https://github.com/yegor256/cactoos/issues/929).

[2020-09-08 06:58] 0pdd commented on #897
@0pdd all 5 puzzles are solved here: [#1063](https://github.com/yegor256/cactoos/issues/1063), [#1116](https://github.com/yegor256/cactoos/issues/1116), [#1135](https://github.com/yegor256/cactoos/issues/1135), [#1261](https://github.com/yegor256/cactoos/issues/1261), [#929](https://github.com/yegor256/cactoos/issues/929).

[2020-09-08 06:58] 0pdd commented on #1063
@0pdd all 3 puzzles are solved here: [#1116](https://github.com/yegor256/cactoos/issues/1116), [#1135](https://github.com/yegor256/cactoos/issues/1135), [#1261](https://github.com/yegor256/cactoos/issues/1261).

[2020-09-08 06:58] 0pdd commented on #1116
@0pdd all 2 puzzles are solved here: [#1135](https://github.com/yegor256/cactoos/issues/1135), [#1261](https://github.com/yegor256/cactoos/issues/1261).

[2020-09-08 07:18] 0crat commented on #1261
Job was finished in 37 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-09-08 08:48] 0crat commented on #1183
The job [#1183](https://github.com/yegor256/cactoos/issues/1183) assigned to @andreoss[/z](https://www.0crat.com/u/andreoss), here is [why](https://www.0crat.com/footprint/C63314D6Z/ff39d76a-f855-4121-84fa-a39131ca6ade); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-09-08 12:31] victornoel commented on #1438
@fabriciofx but it will falsely give the impression that the object can behave well in multi threading environment while it is untrue: if the internal state is "synchonized" because it is an atomic field for example, the behaviour of a method could change its value during its execution and two concurrent execution won't make the whole method's behaviour consistent.

[2020-09-10 08:26] fabriciofx commented on #1200
@0crat status

[2020-09-10 08:28] 0crat commented on #1200
@fabriciofx This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1200](https://github.com/yegor256/cactoos/issues/1200) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2020-09-10 08:34] fabriciofx opened #1449 "Some classes that perform Input/Output (LengthOf, BytesOf, ...) close the stream"
Some classes as `LengthOf` closes the `Input` after performed the operation. But often we need keep the `Input` stream opened even after it. So, let's create a decorator to `Input` and `Output` that allows keep these streams opened.

[2020-09-10 08:36] victornoel commented on #1449
@fabriciofx or we could also just not close those `Input` or `Output` in any class and introduce some concept to wrap operations that manipulates `Input`/`Output` to close them at the end (a bit like try-with-resource).

I'm not sure what is best…

[2020-09-10 08:37] fabriciofx opened #1450 "Improve documentation about IO classes that close streams after performed the operation"
Some classes as `LengthOf`closes the stream after performed the operation but the documentation says **nothing** about it. So, let's improve the documentation to warn the developers about it.

*I lost a lot of time today because I didn't know this "detail"* :(

[2020-09-10 08:38] victornoel commented on #1450
@fabriciofx let's clarify #1449 and if possible, we will clarify doc as part of it

[2020-09-10 08:43] fabriciofx commented on #1449
@victornoel I think not close after the manipulation better. As say the golden rule: *"Who allocated the resource is the responsible to deallocated it". A try-with-resourced kind of class is a good idea too. :)

[2020-09-10 08:44] fabriciofx commented on #1450
@victornoel I agree

[2020-09-10 14:44] fabriciofx commented on #1442
@victornoel [some](https://stackoverflow.com/questions/4951369/is-there-an-optimal-buffer-size-when-using-send) [useful](https://stackoverflow.com/questions/236861/how-do-you-determine-the-ideal-buffer-size-when-using-fileinputstream) [links](https://stackoverflow.com/questions/10698339/what-would-be-an-ideal-buffer-size) [about](https://stackoverflow.com/questions/15540725/optimal-buffer-size-for

[2020-09-13 02:49] andreoss commented on #1415
@fabriciofx @victornoel
As for now, 11 and 14 compile and run tests just fine.
But qulice does not support 11 yet https://github.com/teamed/qulice/issues/878, so `-Pquice` won't work

[2020-09-13 10:21] #1349 closed

[2020-09-13 10:21] 0pdd commented on #1349
The puzzle `1320-62e15acb` has disappeared from the source code, that's why I closed this issue.

[2020-09-13 10:21] 0pdd commented on #947
@wladyan the puzzle [#1183](https://github.com/yegor256/cactoos/issues/1183) is still not solved; solved: [#1184](https://github.com/yegor256/cactoos/issues/1184), [#1185](https://github.com/yegor256/cactoos/issues/1185), [#1242](https://github.com/yegor256/cactoos/issues/1242), [#1262](https://github.com/yegor256/cactoos/issues/1262), [#1292](https://github.com/yegor256/cactoos/issues/1292), [#12

[2020-09-13 10:21] 0pdd commented on #1184
@0pdd all 20 puzzles are solved here: [#1242](https://github.com/yegor256/cactoos/issues/1242), [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1293](https://github.com/yegor256/cactoos/issues/1293), [#1294](https://github.com/yegor256/cactoos/issues/1294), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1296](https://github.com/yegor256/cactoos/issues/1296), [#1297](https:

[2020-09-13 10:21] 0pdd commented on #1242
@0pdd all 19 puzzles are solved here: [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1293](https://github.com/yegor256/cactoos/issues/1293), [#1294](https://github.com/yegor256/cactoos/issues/1294), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1296](https://github.com/yegor256/cactoos/issues/1296), [#1297](https://github.com/yegor256/cactoos/issues/1297), [#1298](https:

[2020-09-13 10:21] 0pdd commented on #1293
@0pdd all 2 puzzles are solved here: [#1320](https://github.com/yegor256/cactoos/issues/1320), [#1349](https://github.com/yegor256/cactoos/issues/1349).

[2020-09-13 10:21] 0pdd commented on #1320
@0pdd the only puzzle [#1349](https://github.com/yegor256/cactoos/issues/1349) is solved here.

[2020-09-13 10:26] #1416 closed

[2020-09-13 10:26] 0pdd commented on #1416
The puzzle `1411-445dea43` has disappeared from the source code, that's why I closed this issue.

[2020-09-13 10:26] 0pdd opened #1453 "pom.xml:114-116: Migrate the rest of tests to JUnit 5..."
The puzzle `1416-3379c7cc` from #1416 has to be resolved:

https://github.com/yegor256/cactoos/blob/171c9aef7fc8248df87335d1640ee93cde92307d/pom.xml#L114-L116

The puzzle was created by andreoss on 12-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2020-09-13 10:27] 0pdd commented on #1411
@victornoel the puzzle [#1453](https://github.com/yegor256/cactoos/issues/1453) is still not solved; solved: [#1416](https://github.com/yegor256/cactoos/issues/1416).

[2020-09-13 10:27] 0pdd commented on #1416
@0pdd the puzzle [#1453](https://github.com/yegor256/cactoos/issues/1453) is still not solved.

[2020-09-13 10:48] victornoel commented on #1413
@0crat assign @fabriciofx

[2020-09-13 10:49] victornoel commented on #1413
@fabriciofx I'm starting to assign manually because if not 0crat always assign latest issues and I would like to advance on those. I hope it's ok with you :) no rush anyway

[2020-09-13 10:50] victornoel commented on #1384
@0crat assign @andreoss

[2020-09-13 10:50] victornoel commented on #1384
@andreoss I'm starting to assign manually because if not 0crat always assign latest issues and I would like to advance on those. I hope it's ok with you :) no rush anyway

[2020-09-13 10:52] victornoel commented on #1247
@victornoel assign me

[2020-09-13 10:52] victornoel commented on #1247
@0crat assign me

[2020-09-13 10:52] victornoel commented on #1280
@0crat assign @fabriciofx

[2020-09-13 10:53] victornoel commented on #1280
@fabriciofx I'm starting to assign manually because if not 0crat always assign latest issues and I would like to advance on those. I hope it's ok with you :) no rush anyway

[2020-09-13 10:53] victornoel commented on #1287
@0crat assign me

[2020-09-13 11:06] fabriciofx commented on #1413
@victornoel right, no problem! :)

[2020-09-13 11:08] 0crat commented on #1280
@victornoel The job [#1280](https://github.com/yegor256/cactoos/issues/1280) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C63314D6Z/5dee9d09-cf07-44f8-a5b4-79756c77ea55); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy

[2020-09-13 11:12] 0crat commented on #1416
Job was finished in 45 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-09-13 11:15] 0crat commented on #1416
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [e26fdd1d-e11a-40a6-ac16-9379bd9d1508](https://www.0crat.com/footprint/C63314D6Z/e26fdd1d-e11a-40a6-ac16-9379bd9d1508), Type: "Award points were added"

[2020-09-13 11:15] 0crat commented on #1413
@victornoel The job [#1413](https://github.com/yegor256/cactoos/issues/1413) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C63314D6Z/a96a84bb-3c8b-4825-a8b4-2a59b54c2bd4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy

[2020-09-13 11:22] victornoel commented on #895
@0crat in

[2020-09-13 11:29] victornoel commented on #1132
@0crat in

[2020-09-13 11:29] victornoel commented on #1169
@0crat in

[2020-09-13 11:34] victornoel commented on #1410
@0crat in

[2020-09-13 11:35] victornoel commented on #1283
@0crat in

[2020-09-13 11:35] victornoel commented on #1221
@0crat in

[2020-09-13 11:36] victornoel commented on #1199
@0crat in

[2020-09-13 11:36] victornoel commented on #1173
@0crat in

[2020-09-13 11:36] victornoel commented on #1170
@0crat in

[2020-09-13 11:37] fabriciofx opened #1454 "Cactoos quality code checking (qulice/findbugs) fails in Windows 10"
I'm trying build cactoos in Windows 10, but I get this error:
[code]
It's a problem with qulice, but stops the continuous build/integration on cactoos. So, it should be fixed.

[2020-09-13 11:39] victornoel commented on #1454
@fabriciofx isn't it the same as #1430?

[2020-09-13 11:40] fabriciofx commented on #1454
@victornoel Yeah, sorry! I was thinking that issue was about other thing. I'll close it. Sorry again!

[2020-09-13 11:40] #1454 closed

[2020-09-13 11:52] victornoel commented on #1410
@0crat status

[2020-09-13 11:58] 0crat commented on #1454
Job `gh:yegor256/cactoos#1454` is not assigned, can't get performer

[2020-09-13 12:00] 0crat commented on #1410
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1410](https://github.com/yegor256/cactoos/issues/1410) is [in scope](http://www.zerocracy.com/policy.html#14) for 2min
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2020-09-13 12:06] victornoel commented on #1173
@0crat status

[2020-09-13 12:11] fabriciofx commented on #1413
@victornoel How about `list.Synced`? Should I keep it?

[2020-09-13 12:13] victornoel commented on #1413
@fabriciofx yes, we should keep it because its functionality cannot be provided just by delegating to one of the iterable decorator.

[2020-09-13 12:13] 0crat commented on #1173
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1173](https://github.com/yegor256/cactoos/issues/1173) is [in scope](http://www.zerocracy.com/policy.html#14) for 7s
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * Job [footprint](h

[2020-09-13 12:14] fabriciofx commented on #1413
@victornoel right! Thanks!

[2020-09-13 12:35] fabriciofx commented on #1438
@victornoel We can use these `Atomic*` and add in the documentation that classes are not thread-safe and left puzzles to add tests using these classes with threads. WDYT? BTW, you're accepted my suggestion in one review that does the same thing! ;)

[2020-09-13 13:24] victornoel commented on #1247
@0crat wait for #1457

[2020-09-13 13:54] fabriciofx commented on #944
@victornoel I agree with @skapral. And I've a question: is it in your plans start to remove checked exceptions soon?

[2020-09-13 14:17] victornoel commented on #944
@fabriciofx I'm still thinking about it, it feels like a good idea and I have argued for it in the past of course :)

@yegor256 WDYT as PO?

[2020-09-13 14:30] victornoel commented on #1449
@fabriciofx actually, after some thought, I'm not sure, because when you call `Input.stream()`, it means you could retrieve a new stream, so you HAVE to close it at the end.

Then, it means your first proposal was actually best indeed: i.e., it is the `Input` object creator that decides how the streams returned from `stream` will behave.

[2020-09-13 14:30] victornoel commented on #1449
@0crat in

[2020-09-13 14:50] victornoel commented on #1287
@0crat wait for #1458

[2020-09-13 16:50] victornoel commented on #1241
@fabriciofx following some discussion with @andreoss (see https://github.com/yegor256/cactoos/pull/1458#discussion_r487550572), I now realise that maybe something we could do is provide, for each of the interfaces supported by cactoos (and for which it makes sense), a class `Equals implements Scalar<Boolean>` and a class `HashCode implements Scalar<Integer>` that the implementations of those inter

[2020-09-13 16:59] victornoel commented on #1156
@g4s8 I'm going to close this, there is some discussion on that matter in #1241 but concerning `TextEnvelope.equals` (moved to `TextOf`, the envelope just being an envelope, so there is no more inherited behaviour from the envelope), I have this conclusion: https://github.com/yegor256/cactoos/pull/1458#discussion_r487550572

[2020-09-13 16:59] #1156 closed

[2020-09-13 17:04] victornoel commented on #1173
@StuporHero let's also solve #1174 at the same time here, I updated the description for it :)

[2020-09-13 17:04] victornoel commented on #1174
@StuporHero  I'm closing it as it is going to be done as part of #1173.

[2020-09-13 17:04] #1174 closed

[2020-09-13 17:17] 0crat commented on #1156
Job `gh:yegor256/cactoos#1156` is not assigned, can't get performer

[2020-09-13 17:21] 0crat commented on #1174
Job `gh:yegor256/cactoos#1174` is not assigned, can't get performer

[2020-09-13 19:08] 0pdd opened #1459 "ListIteratorNoNulls.java:36-37: Add also some null checks..."
The puzzle `1247-25d91c9c` from #1247 has to be resolved:

https://github.com/yegor256/cactoos/blob/07b063e6af19ca733fd9b7afd38c8506f1c816f8/src/main/java/org/cactoos/list/ListIteratorNoNulls.java#L36-L37

The puzzle was created by Victor Noël on 13-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-09-13 19:08] 0pdd commented on #1459
This puzzle inherited milestone `1.0` from issue #1247.

[2020-09-13 19:08] 0pdd commented on #1247
@victornoel the puzzle [#1459](https://github.com/yegor256/cactoos/issues/1459) is still not solved.

[2020-09-13 19:08] victornoel commented on #1438
@fabriciofx to me there are two different unrelated questions:
- having thread safe classes: I don't think we should be aiming for that right now, it's a huge endeavour and it doesn't really make sense for the interfaces supported by cactoos (except for the few `Synced` decorators already existing)
- having extreme EO code with no non-final fields: I like the idea and I'm in favour of it, but I wo

[2020-09-13 19:09] victornoel commented on #1438
@0crat in

[2020-09-13 19:09] #1247 closed

[2020-09-13 19:19] 0pdd opened #1460 "Abbreviated.java:83-87: Introduce `text.Flatten` that..."
The puzzle `1287-014a5155` from #1287 has to be resolved:

https://github.com/yegor256/cactoos/blob/47aff6e4c70f6f53d24bdccb7c1f6c12abfe60d2/src/main/java/org/cactoos/text/Abbreviated.java#L83-L87

The puzzle was created by Victor Noël on 13-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-09-13 19:19] 0pdd commented on #1460
This puzzle inherited milestone `1.0` from issue #1287.

[2020-09-13 19:20] 0pdd opened #1461 "TextOf.java:63-67: Introduce `Text` implementations..."
The puzzle `1287-48d7a962` from #1287 has to be resolved:

https://github.com/yegor256/cactoos/blob/47aff6e4c70f6f53d24bdccb7c1f6c12abfe60d2/src/main/java/org/cactoos/text/TextOf.java#L63-L67

The puzzle was created by Victor Noël on 13-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2020-09-13 19:20] 0pdd commented on #1461
This puzzle inherited milestone `1.0` from issue #1287.

[2020-09-13 19:20] 0pdd opened #1462 "Lowered.java:58-62: Introduce `text.Mapped` that takes a..."
The puzzle `1287-1c7c8289` from #1287 has to be resolved:

https://github.com/yegor256/cactoos/blob/47aff6e4c70f6f53d24bdccb7c1f6c12abfe60d2/src/main/java/org/cactoos/text/Lowered.java#L58-L62

The puzzle was created by Victor Noël on 13-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2020-09-13 19:20] 0pdd commented on #1462
This puzzle inherited milestone `1.0` from issue #1287.

[2020-09-13 19:20] 0pdd commented on #1287
@victornoel 3 puzzles [#1460](https://github.com/yegor256/cactoos/issues/1460), [#1461](https://github.com/yegor256/cactoos/issues/1461), [#1462](https://github.com/yegor256/cactoos/issues/1462) are still not solved.

[2020-09-13 19:24] #1287 closed

[2020-09-13 19:27] 0crat commented on #1247
Job was finished in 8 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-09-13 20:02] 0crat commented on #1287
Job was finished in 8 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-09-14 20:10] StuporHero commented on #1427
@victornoel No, thanks. I have too much going on to receive tasks that aren't directly related to what I'm working on. If that changes, though, I'll let you know. I'm already a part of Zerocracy, so it would be a straightforward addition.

[2020-09-15 17:28] #1183 closed

[2020-09-15 17:28] 0pdd commented on #1183
The puzzle `947-0e04e40a` has disappeared from the source code, that's why I closed this issue.

[2020-09-15 17:29] 0pdd opened #1464 "Paged.java:44-46: Continue refactoring and add..."
The puzzle `1183-64533d21` from #1183 has to be resolved:

https://github.com/yegor256/cactoos/blob/af979def342f0bfe75e31912588681cd090c8c6c/src/main/java/org/cactoos/iterable/Paged.java#L44-L46

The puzzle was created by andreoss on 09-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2020-09-15 17:29] 0pdd commented on #947
@wladyan the puzzle [#1464](https://github.com/yegor256/cactoos/issues/1464) is still not solved; solved: [#1183](https://github.com/yegor256/cactoos/issues/1183), [#1184](https://github.com/yegor256/cactoos/issues/1184), [#1185](https://github.com/yegor256/cactoos/issues/1185), [#1242](https://github.com/yegor256/cactoos/issues/1242), [#1262](https://github.com/yegor256/cactoos/issues/1262), [#12

[2020-09-15 17:29] 0pdd commented on #1183
@0pdd the puzzle [#1464](https://github.com/yegor256/cactoos/issues/1464) is still not solved.

[2020-09-15 18:11] 0crat commented on #1335
The job [#1335](https://github.com/yegor256/cactoos/issues/1335) assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1), here is [why](https://www.0crat.com/footprint/C63314D6Z/967a9002-d758-4d34-950c-2c31e42158a1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-09-15 18:14] victornoel commented on #1335
@aivinog1 I see you are new around here, welcome. If you have questions don't hesitate to ask here, there are no incorrect questions :)

And also, if a task seems too much as a starter or you don't want to do it, don't hesitate to simply refuse it with `@0crat refuse`.

If you are inactive for too long (~10 days) on a task, I may remove it from you, so don't hesitate to ask questions :)

[2020-09-15 18:55] 0crat commented on #1335
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos/issues/1335#issuecomment-692887242); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2020-09-15 19:56] 0crat commented on #1445
The job [#1445](https://github.com/yegor256/cactoos/issues/1445) assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1), here is [why](https://www.0crat.com/footprint/C63314D6Z/58ee6eb4-5a8f-4800-911c-80865275406b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-09-15 21:56] 0crat commented on #895
The job [#895](https://github.com/yegor256/cactoos/issues/895) assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1), here is [why](https://www.0crat.com/footprint/C63314D6Z/b254e017-6c86-4e44-b6e1-1f636a4f4d34); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-09-16 09:50] aivinog1 commented on #1335
@victornoel Hi, thanks! I have a question: what we should do with an existing: `org.cactoos.scalar.NumberOf`? :)

[2020-09-16 10:38] victornoel commented on #1335
@aivinog1 indeed, I see the situation is worst that what I imagined.

So we should try to have `NumberOf` exposing the same constructors as before, but the internal implementation to be the same as the class `Sealed` (which should then be deleted).

`NumberEnvelope` should be an abstract class extending `Number` (frankly I don't get why the Java std lib made Number a class instead of an interface…

[2020-09-17 10:30] fabriciofx commented on #1280
@victornoel This issue has been merged but it stiil in my agenda. Do you know why?

[2020-09-17 15:05] victornoel commented on #1280
@fabriciofx it is because you never asked me (the ticket reporter) to close it now that it is solved? :)

[2020-09-17 15:05] #1280 closed

[2020-09-17 15:06] victornoel commented on #1280
@fabriciofx for the record 0crat does not know about PRs when you do a job (because sometimes the job is not about PRs), you have to explicitly ask the reporter to close it. Except if it's 0pdd because it's a bot and detects the puzzle disappearance automatically of course.

[2020-09-17 15:09] victornoel commented on #1427
@StuporHero ok, and what do you think about my answer to the ticket? It seems `List` is needed so that `get` can be called on it.

[2020-09-17 15:21] fabriciofx commented on #1280
@victornoel ah, thanks! I thought 0crat closed the issue after merge.

[2020-09-17 15:22] fabriciofx commented on #1413
@victornoel Can you close this issue too?

[2020-09-17 15:23] 0crat commented on #1280
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-09-17 15:24] victornoel commented on #1413
@fabriciofx yep, thx!

[2020-09-17 15:24] #1413 closed

[2020-09-17 16:01] 0crat commented on #1413
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-09-17 22:02] StuporHero commented on #1427
@victornoel I must have missed that. In that case, adding a constructor that accepts `Scalar<List<Character>>` would be nice so I can implement that interface instead of `List<Character>` to create my own custom character classes to feed into it. I want to use it to create a randomized component for the names of database objects, but I have several particular constraints that would be easier to wo

[2020-09-18 04:33] sereshqua commented on #1280
@0crat quality good

[2020-09-18 04:34] sereshqua commented on #1413
@0crat quality good

[2020-09-18 06:38] victornoel commented on #1427
@StuporHero it's not completely clear to me, could you show an example of usage of this new constructor you propose? I would like to get a better idea of the needs before jumping into a solution and it would help better design the rest of the lib :)

[2020-09-18 11:14] fabriciofx commented on #1169
@0crat refuse

[2020-09-18 11:24] victornoel commented on #1169
@0crat status

[2020-09-18 11:25] 0crat commented on #1169
@fabriciofx The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#1169](https://github.com/yegor256/cactoos/issues/1169), please stop working. Reason for job resignation: Order was cancelled

[2020-09-18 11:25] 0crat commented on #1169
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1169](https://github.com/yegor256/cactoos/issues/1169) is [in scope](http://www.zerocracy.com/policy.html#14) for 5days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users ar

[2020-09-18 11:26] 0crat commented on #1169
@fabriciofx Job refused in 5 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-09-18 18:34] kokodyn opened #1466 "Add Capitalized EE version of StringUtils.capitalize"
Hi all
I would like to add  EO version of StringUtils.capitalize
[StringUtils.capitalize](http://commons.apache.org/proper/commons-lang/apidocs/org/apache/commons/lang3/StringUtils.html#capitalize-java.lang.String-)
But it's seems first I need to add class "Titled" to handle title case converting.
Is it ok for you?

I hope for your understanding, this is my first pull request to open source projec

[2020-09-19 08:06] StuporHero commented on #1427
@victornoel Let's say I have a particular set of characters available to me for a name, and I want part of the name to be `Randomized` from that set. I want to be able to define that set of characters once in a class and use instances of that class as arguments in the constructor for `Randomized`.

[code]

Right now, in order for the above code to work, `LimitedCharacterSet` has to implement `List

[2020-09-20 17:26] victornoel commented on #1384
@andreoss thx :)

[2020-09-20 17:26] #1384 closed

[2020-09-20 17:58] 0crat commented on #1384
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @andreoss[/z](https://www.0crat.com/u/andreoss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-09-21 04:56] sereshqua commented on #1384
@0crat quality good

[2020-09-22 09:27] victornoel commented on #1427
@StuporHero and could you show me your ideal declaration for `LimitedCharacterSet`? It implements `Set<Character>`?

[2020-09-22 09:37] victornoel commented on #1466
@kokodyn I'm not exactly sure what you mean :)

I see there is #1465 which introduce `Capitalized`: is this PR outdated? It seems to implement `Capitalized` as you want it, no? Or do you mean that to simplify the PR, you would need `Titled`?

[2020-09-22 13:10] StuporHero commented on #1427
@victornoel

Now that you mention it, `List` really should be `Set`, but `Set` also lacks the `get` method. Since the use of `get` is more of an implementation detail than a proper constraint on acceptable inputs (element uniqueness is meaningful; order is not), perhaps it should accept a `Set` and either wrap it in `ListOf` for access to `get` or use `toArray()` and access the elements that way.

[2020-09-22 13:24] victornoel commented on #1427
@StuporHero let's be careful not to mixup problem and solution :)

For example, would you be ok with?
[code]

Also, yes, `Randomized` could take an `Iterable` and we create internally a `List` from it in order to have get, that's a possible solution, so that you can directly pass any `Iterable` as you originally asked.

I believe that the constructor takes a `List` because this allows to determini

[2020-09-22 13:32] StuporHero commented on #1427
@victornoel Since the `Character`s are chosen at random, I don't see why it would be a requirement that an incoming collection have a deterministic order as a rule for this class. If a given use-case requires a deterministic collection, a `SortedSet` could be used. However, if an incoming collection has more than one of the same element, which is possible if we use `Collection`, `Iterable`, or `Li

[2020-09-22 13:53] StuporHero opened #1468 "Code-Free Constructor Violations"
[`ListOf`](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/list/ListOf.java), [`MapOf`](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/map/MapOf.java), and [`SetOf`](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/set/SetOf.java) all contain some variation of a loop that assigns the values of the `src` argument to the w

[2020-09-22 14:05] victornoel commented on #1427
@StuporHero

Actually one would maybe want that some characters have more probability to be chosen.

Anyway, this is not the discussion here, you didn't tell me if my proposal was acceptable, if not, let's introduce a secondary constructor taking an `Iterable` that calls new `ListOf<>(iterable)`.

[2020-09-22 14:11] StuporHero commented on #1427
@victornoel I think we lost the plot on this ticket once I realized I could just extend `ListEnvelope` to solve my original problem (which was that I found the `List` interface cumbersome to implement as it relates to creating standardized `List`s of `Character`s to use in my own libraries). Knowing that, the original reason for me opening this ticket no longer applies. I would, however, like to d

[2020-09-22 16:20] victornoel commented on #1427
@StuporHero yep maybe let's start a new ticket to start fresh :) thanks!

[2020-09-22 16:20] #1427 closed

[2020-09-22 16:40] victornoel commented on #1468
@StuporHero even though the intention is good, we won't support this for two reasons:
- envelopes should only be envelopes and not have to deal with scalars
- code free constructor makes sense for real behavioural objects, but ListOf, MapOf and SetOf are not behavioural objects, they are datastructures and thus we can either completely remove them from cactoos and just keep them as is in order to

[2020-09-22 16:42] StuporHero commented on #1468
@victornoel I don't understand the point about envelopes not dealing with `Scalar`s. Can you elaborate the reasoning behind it?

[2020-09-22 16:44] victornoel commented on #1468
@StuporHero envelopes takes an instance of the interface they implement. If they start taking scalars, then they will have to call value() in their constructors: then you will not have code free constructors in envelopes!

[2020-09-22 16:45] StuporHero commented on #1468
@victornoel You wouldn't have to call `value()` in the constructor. You'd call it in the methods where they delegate to the encapsulated class.

[2020-09-22 16:47] StuporHero commented on #1468
@victornoel Also, it is conceivable that an `Iterable` performs real work in order to generate the elements it is iterating (for example, an `Iterable` that instantiates objects from a web service or database).

[2020-09-22 16:50] victornoel commented on #1468
@StuporHero please see #1384, #947, #1287 and #1335 about envelopes and #1008 about collections envelope in particular.

If you use scalar in them, you will make subclasses of those envelopes very awkward to use, so it was decided to go the way described in those issues.

[2020-09-22 16:52] victornoel commented on #1468
@StuporHero concerning iterable, you can use IterableOf if your want to define an actual behaviour to generate values. Iterable is not a data structures interface but a real object oriented one, that's why we have a bunch of decorators for it.

[2020-09-22 17:12] 0crat commented on #1427
Job `gh:yegor256/cactoos#1427` is not assigned, can't get performer

[2020-09-22 17:58] StuporHero commented on #1468
@victornoel You're conflating the use of `Scalar` with the actual problems in the issues you linked. Typically the problem was that the envelope classes implemented common behavior above and beyond simply delegating method calls to the underlying implementations. I agree that this is bad. Using a `Scalar` does not do this.

The only issue that looks like `Scalar` may have been the problem is #942,

[2020-09-22 18:25] victornoel commented on #1468
@StuporHero I think maybe you read them too fast, because there are two concerns with the old envelopes and they were well explained in those issues. I know because I wrote them, I designed and organized their applying in cactoos and also implemented some of those issues myself.

There was the extra functionality, but there was also the laziness of using scalar.
Both are unwanted for envelopes, I

[2020-09-22 19:49] StuporHero commented on #1468
@victornoel

My code example also showed as much. This is not a real objection because I already provided this solution.

The only way you could gather that I read through what you linked too quickly is that you are ideologically opposed to my suggestion and uninterested in critically examining your own position. I spent 2 hours not just reading the issues you linked but diving into the code to un

[2020-09-22 21:11] StuporHero commented on #1468
@victornoel Here is [direct evidence](https://youtu.be/Wcy53ZSF78o?t=2003) that you are patently wrong about not being able to use `Scalar` in an envelope.

[2020-09-23 06:40] victornoel commented on #1468
@StuporHero before answering about cactoos, let me say something: we started on the wrong foot and it seems that the more you talk the more uncivil you are being.
I'm not at your service and I don't owe you anything. I'm doing ARC here out of my free time and I have thought a lot about the reasons those decisions were taken. I can be mistaken and ready to accept it if you don't attack people ad no

[2020-09-23 07:40] victornoel commented on #1468
@StuporHero so first: I disagree with @yegor256 in his video. The flexibility he talks about can be achieved in a much more simpler way than by having envelopes wrapping scalar and I am going to show you how, I hope you will see that my proposal (which is how it is implemented in cactoos) is equivalent but more simple and elegant.

According to all this discussion and this video, I understand that

[2020-09-23 07:45] victornoel commented on #1468
@yegor256 as I said in telegram, it would be good to have your opinion about this architectural choice as your are the PO of Cactoos. I believe the previous comment is enough to cover the whole rationale of this choice.

[2020-09-24 01:05] StuporHero commented on #1468
@victornoel Your reading comprehension skills are remarkably poor. The crux of this problem is that these classes do not follow EO guidelines in the library that claims to be built around EO. It's in the title of this ticket. You're attempting to argue that their current design is somehow preferable except that now poison every constructor they are used in with code. There is no technical reason p

[2020-09-24 01:07] fabriciofx opened #1469 "No unit tests for scalar.NoNulls, text.NoNulls, bytes.NoNulls and iterable.NoNulls"
The decorators `scalar.NoNulls`, `text.NoNulls`, `bytes.NoNulls` and `iterable.NoNulls` haven't unit tests as your "coursins" `collections.NoNulls`, `func.BiFuncNoNulls` and etc.

[2020-09-24 01:21] fabriciofx commented on #1468
@StuporHero I'm sorry, but you crossed right now the line of healthy discussion. If you can't talk without offend other participants you're not welcome here.

[2020-09-24 01:51] StuporHero commented on #1468
@fabriciofx Do you have an opinion on the issue being discussed?

[2020-09-24 02:58] fabriciofx commented on #1468
@StuporHero I read all arguments and I agree with @victornoel. You're free to disagree, we can be (Victor and I) both wrong, but **ALWAYS** be **POLITED** in a discussion, not matters what happens.

[2020-09-24 03:12] StuporHero commented on #1468
@fabriciofx This all stemmed from @victornoel suggesting I read through things too quickly when I literally spent hours reading through the several links he sent as well as examining the source code and reading blog posts. Maybe that doesn't come across as rude and disrespectful to you two, but English is my first language, and that is not a way to talk to someone where I come from.

[2020-09-24 03:22] StuporHero commented on #1468
@victornoel I just looked at your code sample. If you want to keep one pure, that's fine, but understand that you need to use the lazy one in 100% of the constructors of classes that would otherwise require code in them in order for them not to violate the expectation established by the [second line of the principles](https://www.elegantobjects.org/#principles) linked in the README of this reposit

[2020-09-24 03:24] fabriciofx commented on #1468
@StuporHero **nothing** justify someone to be disrespectful. If @victornoel was disrespectful with you, just say it and wait. I'm sure he will apologize. But you don't need to do in the same way, right?

[2020-09-24 03:25] StuporHero commented on #1468
@fabriciofx I'm ready to get back to the topic of this ticket.

[2020-09-24 06:43] victornoel commented on #1468
@fabriciofx thank you for your mediation

@StuporHero I'm sorry I offended you, English is indeed not my first language but anyway if I could have avoided it, I would have. That being said, you have been really rude repeatedly and again after I asked you to stop. Please do stop.

Back to cactoos: let's not confuse the problem you raised and the solution you pushed for. I continue to think the curr

[2020-09-24 11:30] victornoel commented on #1468
After some thoughts and some discussion in telegram about the purpose of `Scalar`, I think the only viable solution to the constructor free violation is to replace those classes, for example `ListOf`, by a `Scalar<List>` and have the implementation of `value` responsible of creating the list. E.g.:
[code]

This means you cannot use it like it is currently used via `new ListOf(xxx)`, but you would

[2020-09-24 16:41] StuporHero commented on #1468
@victornoel Stop saying things like, "let's not confuse the problem you raised and the solution you pushed for." THAT is rude and demonstrates that you don't understand what I'm asking for. I submitted an issue (there is code in some constructors), and I offered a possible solution (we could use `Scalar` in the envelopes). The solution is debatable, but rather than offer an alternative solution to

[2020-09-24 19:50] StuporHero opened #1470 "org.cactoos.collection.ImmutableTest.size() does not call Immutable.size()"
[`org.llorllale.cactoos.matchers.HasSize`](https://github.com/llorllale/cactoos-matchers/blob/master/src/main/java/org/llorllale/cactoos/matchers/HasSize.java) iterates the collection and counts the elements rather than calling the `size()` method, so [this test](https://github.com/yegor256/cactoos/blob/2305514a32edde79f55130f6b040ef316ee8f400/src/test/java/org/cactoos/collection/ImmutableTest.jav

[2020-09-25 06:56] victornoel commented on #1469
@fabriciofx that seems a good iead, thx

[2020-09-25 06:56] victornoel commented on #1469
@0crat in

[2020-09-25 14:05] fabriciofx opened #1471 "map.NoNulls and ListIteratorNoNulls don't check if the origin is null"
The classes `map.NoNulls` and `ListIteratorNoNulls` don't check if the original `Map` and `ListIterator` used in the constructor is `null` as their `*NoNulls` "coursins".

[2020-09-25 14:12] fabriciofx opened #1472 "text.NoNulls has been created an unnecessary Text object"
`text.NoNulls` has been created an unnecessary `Text`object. Take a look (pay attention in the `new TextOf`):

Actually:

[code]

As should be:

[code]

[2020-09-25 14:21] victornoel commented on #1471
@fabriciofx can we add this to the description of #1469? (also, what's a "coursin"? do you mean "cousin"?)

[2020-09-25 14:21] victornoel commented on #1472
@fabriciofx actually, the later is incorrect because we want to take advantage of the full implementation of `TextOf`, including equals, hashcode and tostring!

[2020-09-25 14:22] victornoel commented on #1472
@fabriciofx this is interesting because maybe it means we should add more tests to the text decorators to ensure they do have the correct implementation for those 3 methods!

[2020-09-25 16:18] fabriciofx commented on #1471
@victornoel I don't think so, because they're different things.

Yeah, you're completely right! My bad! Thanks for correct me! :)

[2020-09-25 16:20] fabriciofx commented on #1472
@victornoel Should I change this title to improve text decorators to test these 3 methods?

[2020-09-25 16:22] victornoel commented on #1471
@fabriciofx ah yes, sorry, I read too fast. So yes, let's fix that. Are there other places where NoNulls are incomplete? Let's consider that the job is also to check verify it!

[2020-09-25 16:22] victornoel commented on #1471
@0crat in

[2020-09-25 16:24] fabriciofx commented on #1471
@victornoel I don't think so. I've been checked all and I *hope* there aren't more issues with them. :)

[2020-09-25 16:24] victornoel commented on #1472
@fabriciofx let's create a new ticket not to confuse the DEV that will do it! If you can create it and also include testing this for other text decorators... Maybe adding a BehaveAsText matcher like the one for list that validate that at least equals and tostring are correctly implement? WDYT?

[2020-09-25 16:39] fabriciofx commented on #1472
@victornoel Right!

I don't like this idea so much. Look, `cactoos-matchers` already has `TextHasString` and `TextIs` matchers, right? `TextIs` checks if `asString()` of two `Text` are equals. IMHO, if `asString()` of two `Text` are equals, so `toString()` must be equals too. As `hashCode` is closely linked to `equals()` they must equals too. In resume: I think we should change `TextIs` matcher in

[2020-09-25 16:42] victornoel commented on #1472
@fabriciofx yes, of course, that would be best indeed. If you could create a ticket in cactoos-matchers also then, we will discuss the details there!

[2020-09-25 16:49] fabriciofx commented on #1472
@victornoel Right! I'll close this issue and open another there. Thanks!

[2020-09-25 16:49] #1472 closed

[2020-09-25 17:09] 0crat commented on #1472
Job `gh:yegor256/cactoos#1472` is not assigned, can't get performer

[2020-09-26 15:27] victornoel commented on #1466
@kokodyn can you explain?

[2020-09-26 15:32] victornoel commented on #1466
@kokodyn from what I understand, I believe we can handle all of that from the PR you made, see my comment https://github.com/yegor256/cactoos/pull/1465#discussion_r495467732. No need for a new ticket :)

[2020-09-26 15:40] victornoel commented on #1449
@fabriciofx some extra requirements for this job for the DEV that will take it: we must find all the classes that closes the stream like this, document them about this behaviour and refer to the existence of the new classes we should introduce that prevent stream closing

[2020-09-26 15:40] victornoel commented on #1450
@fabriciofx  I'm closing this as I included this job in the scope of #1449. Thx!

[2020-09-26 15:40] #1450 closed

[2020-09-26 15:41] victornoel commented on #1441
@fabriciofx I'm closing this, please don't hesitate to comment if you see good reasons to reopen it :)

[2020-09-26 15:41] #1441 closed

[2020-09-26 15:58] 0crat commented on #1450
Job `gh:yegor256/cactoos#1450` is not assigned, can't get performer

[2020-09-26 15:58] 0crat commented on #1441
Job `gh:yegor256/cactoos#1441` is not assigned, can't get performer

[2020-09-27 01:08] StuporHero opened #1473 "The intended use for collections.NoNulls is not clear from the javadoc"
The javadoc states that `collection.NoNulls` is `A decorator of {@link Collection} that tolerates no NULLs.` Does this mean it tolerates no `null`s in the underlying collection or just as arguments in the public methods? As it is implemented, it validates that all arguments to methods are not `null`, but it only checks the underlying collection for `null` from `#toArray()`, `#toArray(T[])` and `#i

[2020-09-27 09:10] victornoel commented on #1335
@0crat refuse

[2020-09-27 09:10] victornoel commented on #1445
@0crat refuse

[2020-09-27 09:10] victornoel commented on #895
@0crat refuse

[2020-09-27 09:11] 0crat commented on #1335
@victornoel The user @aivinog1[/z](https://www.0crat.com/u/aivinog1) resigned from [#1335](https://github.com/yegor256/cactoos/issues/1335), please stop working. Reason for job resignation: Order was cancelled

[2020-09-27 09:12] 0crat commented on #895
@victornoel The user @aivinog1[/z](https://www.0crat.com/u/aivinog1) resigned from [#895](https://github.com/yegor256/cactoos/issues/895), please stop working. Reason for job resignation: Order was cancelled

[2020-09-27 09:58] 0crat commented on #1335
The job [#1335](https://github.com/yegor256/cactoos/issues/1335) assigned to @ruca905[/z](https://www.0crat.com/u/ruca905), here is [why](https://www.0crat.com/footprint/C63314D6Z/421113f2-c4cf-44fb-abae-bf1431b0b25c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-09-27 10:26] victornoel commented on #1473
@yegor256 I see you wrote those classes (i.e., the concrete collection classes: `collection.NoNulls`, `list.NoNulls`, `map.NoNulls`), can you clarify what was the desired behaviour? I'm not sure if this is a documentation problem or bugs to be fixed in the class.
There are no details on this in the original issue #498.

[2020-09-27 12:36] kokodyn commented on #1466
@victornoel
To simplify logic I created new PR to introduce Titled.

[2020-09-27 13:07] victornoel commented on #1466
@kokodyn I'm going to close this then. Please next time try to take things in the right order either by creating first a ticket for a new requirement not supported by cactoos or if you contribute a PR, by going iteratively and incrementally with `@todo`s.

We are in no rush to get PRs and solutions, we must first examine the problems as they come :)

By the way @kokodyn, woudln't you be interested

[2020-09-27 13:07] #1466 closed

[2020-09-27 13:09] victornoel commented on #1460
@0crat assign me

[2020-09-27 14:03] victornoel opened #1475 "Let's make Ternary able to have the same sticky value for each evaluation"
Since most of the cactoos classes are lary-evaluated, sometimes when using `Ternary`, each call to each of the `Scalar` it holds in its state will result of a different evaluation of the input value.

For example, the meaning of the following is not very clear:
[code]

It is currently possible to write:
[code]

But it forces us to evaluate scl, which goes against the idea of only composing objects

[2020-09-27 14:03] victornoel commented on #1475
@0crat assign me

[2020-09-27 16:12] victornoel commented on #1460
@0crat wait for #1475 to be done first.

[2020-09-27 16:12] victornoel commented on #1475
@0crat wait for #1476

[2020-09-27 16:13] victornoel commented on #1445
@0crat refuse

[2020-09-27 16:14] victornoel commented on #1132
@fabriciofx can we close this now?

[2020-09-27 16:14] victornoel commented on #1170
@0crat status

[2020-09-27 16:15] 0crat commented on #1445
@victornoel The user @aivinog1[/z](https://www.0crat.com/u/aivinog1) resigned from [#1445](https://github.com/yegor256/cactoos/issues/1445), please stop working. Reason for job resignation: Order was cancelled

[2020-09-27 16:16] 0crat commented on #1445
@victornoel Job `gh:yegor256/cactoos#1445` is not assigned, can't get performer

[2020-09-27 16:16] 0crat commented on #1170
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1170](https://github.com/yegor256/cactoos/issues/1170) is [in scope](http://www.zerocracy.com/policy.html#14) for 14days
  * The role is `DEV`
  * The job is assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) for [9days](http://www.zerocracy.com/policy.html

[2020-09-28 13:24] fabriciofx commented on #1132
@victornoel yep!

[2020-09-28 13:24] #1132 closed

[2020-09-28 13:52] 0crat commented on #1132
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @andreoss[/z](https://www.0crat.com/u/andreoss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-09-29 08:18] sereshqua commented on #1132
@0crat quality good

[2020-09-29 08:24] 0crat commented on #1132
@sereshqua There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [190f2a34-bf35-4bc1-9c3d-2396bb91da56](https://www.0crat.com/footprint/C63314D6Z/190f2a34-bf35-4bc1-9c3d-2396bb91da56), Type: "Award points were added"

[2020-09-30 12:43] ruca905 commented on #1335
@victornoel, Hello, now `NumberOf` and `NumberEnvelope` is very similar. So i can not exactly understand difference. Is it right, that `Numbe Envelope` class wraps
`Number` class and implements all of method of `Number` class .
On the other hand, `NumberOf` is class, which construct `NumberEnvelope` from different types(as `TextOf`) and didnot have to implement all of methods of `Number`.

[2020-09-30 17:01] victornoel commented on #1335
@ruca905 yes, you analysis is correct. Most of the work here is improving the naming of things, in the end we should have:
- `NumberEnvelope` that only delegates to a wrapped `Number` (similarly to all other envelopes of cactoos)
- `NumberOf` responsible of providing some constructors to define numbers using scalars
  - the current implementation should be transformed to be similar to current `Num

[2020-09-30 17:04] victornoel commented on #1169
@0crat status

[2020-09-30 19:58] victornoel commented on #1169
@0crat status

[2020-09-30 21:46] fabriciofx commented on #1170
@0crat status

[2020-10-01 17:53] 0crat commented on #1169
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1169](https://github.com/yegor256/cactoos/issues/1169) is [in scope](http://www.zerocracy.com/policy.html#14) for 18days
  * The role is `DEV`
  * The job is assigned to @andreoss[/z](https://www.0crat.com/u/andreoss) for [9days](http://www.zerocracy.com/policy.html#8)

[2020-10-01 17:54] 0crat commented on #1169
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1169](https://github.com/yegor256/cactoos/issues/1169) is [in scope](http://www.zerocracy.com/policy.html#14) for 18days
  * The role is `DEV`
  * The job is assigned to @andreoss[/z](https://www.0crat.com/u/andreoss) for [9days](http://www.zerocracy.com/policy.html#8)

[2020-10-01 17:54] 0crat commented on #1170
@fabriciofx This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1170](https://github.com/yegor256/cactoos/issues/1170) is [in scope](http://www.zerocracy.com/policy.html#14) for 18days
  * The role is `DEV`
  * The job is assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) for [13days](http://www.zerocracy.com/policy.htm

[2020-10-02 02:11] fabriciofx opened #1479 "ListIteratorNoNulls has a typo"
In `ListIteratorNoNull` has a typo:
[code]
should be:
[code]

[2020-10-05 10:48] #1475 closed

[2020-10-11 10:35] victornoel commented on #1444
@fabriciofx I will close this now :)

[2020-10-11 10:35] #1444 closed

[2020-10-11 11:02] 0crat commented on #1444
Job `gh:yegor256/cactoos#1444` is not assigned, can't get performer

[2020-10-11 16:25] victornoel opened #1481 "Reimplement iterable.Matched to lazily iterate"
Currently `iterable.Matched` creates a new list everytime an iterator is needed.

Instead rewrite `iterable.Matched` to simply return an Iterator that lazily iterates over the two contained iterables. The simplest would be to introduce such iterator named `Matched` and delegate to it in `iterable.Matched`.

[2020-10-11 16:26] victornoel commented on #1481
@0crat in

[2020-10-16 17:10] victornoel commented on #1479
@fabriciofx someone fixed it in #1483 :)

[2020-10-16 17:10] #1479 closed

[2020-10-16 17:28] 0crat commented on #1479
Job `gh:yegor256/cactoos#1479` is not assigned, can't get performer

[2020-10-18 10:24] victornoel commented on #1417
@0crat assign me

[2020-10-18 10:29] victornoel commented on #1417
@0crat wait for #1486.

[2020-10-18 12:26] #1417 closed

[2020-10-18 12:59] 0crat commented on #1417
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-10-18 13:17] victornoel commented on #1170
@fabriciofx are you going to solve this ticket?

[2020-10-18 13:18] victornoel commented on #1335
@ruca905 are you going to be solving this ticket?

[2020-10-18 13:19] victornoel commented on #1445
@0crat status

[2020-10-18 13:19] victornoel commented on #895
@0crat status

[2020-10-18 13:20] 0crat commented on #1445
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1445](https://github.com/yegor256/cactoos/issues/1445) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) for [17days](http://www.zerocracy.com/policy.html#

[2020-10-18 13:21] 0crat commented on #895
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#895](https://github.com/yegor256/cactoos/issues/895) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) for [17days](http://www.zerocracy.com/policy.html#8)

[2020-10-19 06:39] ruca905 commented on #1335
It's a pity, I thought that I was removed from this task due to the fact that I did not have time in accordance with the rule of 10 days and the zerocracy policy. I'll post a commit in a few hours.

[2020-10-19 06:44] victornoel commented on #1335
@ruca905 you can check the list of tasks assigned to you on 0crat.com btw.

[2020-10-19 16:18] ruca905 commented on #1335
@victornoel, I have a problem. `NumberEnvelope` must wrap `Number`, so it should only have one `NumberEnvelope (final Number num)` constructor, but many project classes call `NumberEnvelope (final Scalar <Long> lnm, final Scalar <Integer> inm,
        final Scalar <Float> fnm, final Scalar <Double> dnm)`. Do I need to leave this constructor or create a todo task to remove it?

[2020-10-20 16:01] victornoel commented on #1335
@ruca905 all those calls to `NumberEnvelope` super constructor taking a `Scalar` should be replaced by passing a new `NumberOf` to the `NumberEnvelope` super constructor.

This is why in the ticket it is proposed that the current code of `NumberEnvelope` be renamed `NumberOf`.

[2020-10-22 01:08] andreoss commented on #1438
@fabriciofx
1) Using `AtomicReference` in `Cycled` seems to be a poor choice, `Queue` would be a better fit.
Same goes for `Repeated` and `Joined`.
(Probably `Cycled` should be constructed from as `new Joined<>(new Repeated(MAX_VALUE, iter)`)
2) `NumberOf` just needs `final` and the fields type should be `Number` not `NumberEvelope.

[2020-10-24 02:39] fabriciofx opened #1489 "LengthOf must represents Text length"
`LengthOf` must represents the length of a `Text`, performing a `#asString().length()`.

[2020-10-24 16:18] victornoel commented on #1489
@fabriciofx do you mean adding a constructor to the existing `LengthOf`?

[2020-10-24 16:41] #1169 closed

[2020-10-24 17:02] 0crat commented on #1169
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @andreoss[/z](https://www.0crat.com/u/andreoss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-10-24 19:32] sereshqua commented on #1169
@0crat quality good

[2020-10-25 12:45] victornoel commented on #1169
@rultor release, tag is `0.47`

[2020-10-25 12:46] rultor commented on #1169
@victornoel OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23594-716142417)

[2020-10-25 12:52] rultor commented on #1169
@victornoel Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23594-716142417) (spent 5min)

[code]

[2020-10-25 12:54] victornoel commented on #1169
@yegor256 it seems rultor in cactoos was setup to execute the build with sonar but I get the error above. I suppose it has worked in the past because I don't remember changing anything about this... do you know if this is expected and what should be done to solve it, either:
- have this experted sonarqube server running again or (I can't do it)
- remove sonar reporting from the build (I can do it

[2020-10-25 13:07] victornoel commented on #1169
@yegor256 actually it seems it was meant to send the reports to https://sonarcloud.io/dashboard?id=org.cactoos%3Acactoos (according to the previous working release: https://www.rultor.com/t/21864-624598768) but it is not doing that anymore, so I will investigate a bit first.

[2020-10-25 13:13] victornoel commented on #1169
@paulodamaso it seems you removed the sonar configuration in the commit 1e8f4d0971aea1d8716bc87d14650ba6857cbe5d, do you know why?

[2020-10-25 13:31] victornoel commented on #1169
@rultor release, tag is `0.47`

[2020-10-25 13:32] victornoel commented on #1169
@paulodamaso @yegor256 I've tried to fix this with 51f86863

[2020-10-25 13:33] rultor commented on #1169
@victornoel OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23594-716148825)

[2020-10-25 13:42] rultor commented on #1169
@victornoel Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23594-716148825) (spent 9min)

[code]

[2020-10-25 14:04] victornoel opened #1490 "Restore Sonarcloud.io integration"
Sonarcloud.io seems to be broken, it is not exactly clear why (see failure here: https://www.rultor.com/t/23594-716148825), but we can decide to make it work again or abandon it.

See also https://github.com/yegor256/cactoos/issues/1169#issuecomment-716143634 and following comments.

@yegor256 I think you should decide whichever is best, I will disable it for now.

[2020-10-25 14:08] victornoel commented on #1169
@rultor release, tag is `0.47`

[2020-10-25 14:09] victornoel commented on #1490
@paulodamaso if you know why it doesn't work and how it is related to previous changes you did to those settings, can you share it here? :)

[2020-10-25 14:09] rultor commented on #1169
@victornoel OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23594-716154253)

[2020-10-25 14:17] rultor commented on #1169
@victornoel Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23594-716154253) (spent 8min)

[code]

[2020-10-25 15:00] victornoel commented on #1169
@yegor256 it seems the `settings.xml` file used by rultor in cactoos does not contain the property `gpg.keyname` and thus the artefacts aren't signed, which prevent them being deployed to sonatype. Can you do something about that?

[2020-10-29 08:05] andreoss commented on #1169
@victornoel @yegor256 The problem seems to be similar to https://github.com/jcabi/jcabi-jdbc/issues/86

[2020-10-29 08:08] victornoel commented on #1169
@andreoss yes, totally, thx

[2020-10-31 15:34] paulodamaso commented on #1490
@victornoel I had a lot of problems with sonarcloud due to some secret values that are being used from @yegor256  private repositories. I don't remember exactly how we fixed it, sorry. I think that we should consider replacing it with another similar tool.

[2020-10-31 17:06] fabriciofx commented on #1489
@victornoel Yeah. Do you think better change the title issue to reflects it?

[2020-10-31 17:18] victornoel commented on #1489
@fabriciofx now that it is clarified I think it's ok :)

[2020-10-31 17:18] victornoel commented on #1489
@0crat in

[2020-10-31 17:22] victornoel commented on #1415
@0crat status

[2020-10-31 17:23] 0crat commented on #1415
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1415](https://github.com/yegor256/cactoos/issues/1415) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos%231415%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-10-31 17:26] victornoel commented on #1415
@0crat assign @andreoss

[2020-11-01 05:32] fabriciofx commented on #944
@victornoel let's remove it. @yegor256 hasn't time to decide it. We're on our own.

[2020-11-01 23:08] fabriciofx commented on #1438
@andreoss
1. I won't problems with locks if just use a "simple" `Queue`? Is it work fine?
2. Ok! Thanks!

[2020-11-01 23:16] fabriciofx opened #1495 "Rename Abbreviated to AbbreviatedRight and create AbbreviatedLeft"
Now, we've a class `Abbreviated` which does something like: `It's a very long phrase so it should be abbrevia...". But we can want abbreviate for left, like: `Reading file .../abc/cdef/fgh/File.docx`. So, let's rename `Abbreviated`to `AbbreviatedRight` and create a new, called `AbbreviatedLeft, to abbreviate to the left.

[2020-11-01 23:33] fabriciofx commented on #1170
@victornoel yeah. I should something done tomorrow. Sorry for late.

[2020-11-03 09:01] andreoss opened #1496 "NumberEnvelope should not implement Scalar<Double>"
There is no reason for `NumberEnvelope` to have extra method for `double` value.

https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/scalar/NumberEnvelope.java#L115

[2020-11-03 10:40] victornoel opened #1497 "Fix flaky test on Windows for scalar.Retry"
The test `scalar.RetryTest.runsScalarMultipleTimesWithWait` fails only sometimes: https://github.com/yegor256/cactoos/pull/1491/checks?check_run_id=1336830111

We've seen it only on Windows for now and only once.

Let's make the test more robust, either with a simple fix if possible or replacing it with something different that test the same functionality.

[2020-11-03 10:40] victornoel commented on #1497
@0crat in

[2020-11-03 11:00] #1415 closed

[2020-11-03 11:17] 0crat commented on #1415
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @andreoss[/z](https://www.0crat.com/u/andreoss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-11-03 11:25] sereshqua commented on #1415
@0crat quality good

[2020-11-03 15:45] victornoel commented on #1490
@rultor release, tag is `0.47`

[2020-11-03 15:46] rultor commented on #1490
@victornoel OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23631-721209659)

[2020-11-03 15:58] victornoel commented on #1490
@paulodamaso indeed, as we discussed, adding the `cactoos` profile to the mvn command (see b4b6163) seems to solve the issue both with sonar and gpg

[2020-11-03 16:06] rultor commented on #1490
@victornoel Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23631-721209659) (spent 19min)

[code]

[2020-11-03 16:08] victornoel commented on #1490
@0crat assign me

[2020-11-03 16:08] victornoel commented on #1490
@rultor release, tag is `0.47`

[2020-11-03 16:09] victornoel commented on #1490
@paulodamaso and the last error is a timeout on the side of sonatype

[2020-11-03 16:09] rultor commented on #1490
@victornoel OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23631-721224203)

[2020-11-03 16:25] rultor commented on #1490
@victornoel Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23631-721224203) (spent 15min)

[code]

[2020-11-05 03:32] fabriciofx opened #1498 "Newline for cactoos (System.lineSeparator())"
Let's implements a `Newline` for cactoos, to encapsulate the `System.lineSeparator()` method.

[2020-11-05 08:16] victornoel commented on #1498
@fabriciofx do you mean as a `Text` implementation?

[2020-11-06 02:31] andreoss opened #1499 "Replace `IterableOfDoubles`, `IterableOfInts`, etc with `IterableOfArray`"
It seems that only `Iterator` implementations are necessary, and `Iterable` ones can be avoided.

Proposal:
Replace all of `Iterable` implementations for primitive wrappers (added via #748) with a generic `IterableOfArray` with overloaded ctors.

[code]

[2020-11-07 03:09] andreoss opened #1500 "Duplicated code in `MaxOf` & `MinOf`"
`MaxOf`/`MinOf` calls to super from each constructor, which is unnecessary.

[2020-11-07 15:20] victornoel commented on #1490
@rultor release, tag is `0.47`

[2020-11-07 15:21] rultor commented on #1490
@victornoel OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23631-723458583)

[2020-11-07 15:35] rultor commented on #1490
@victornoel Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23631-723458583) (spent 14min)

[code]

[2020-11-07 15:40] victornoel commented on #1490
@rultor release, tag is `0.48`

[2020-11-07 15:52] rultor commented on #1490
@victornoel OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23631-723460634)

[2020-11-07 15:58] victornoel commented on #1496
@andreoss please see #1335: once it is fine, number envelope will simply delegate all the public methods of number to the wrapped number I believe

[2020-11-07 16:01] victornoel commented on #1169
@andreoss anyway I have continued to try to release in #1490, almost there ^^

[2020-11-07 16:04] rultor commented on #1490
@victornoel Done! FYI, the full log is [here](https://www.rultor.com/t/23631-723460634) (took me 11min)

[2020-11-07 16:06] #1490 closed

[2020-11-07 16:30] victornoel commented on #1481
@andreoss thx

[2020-11-07 16:30] #1481 closed

[2020-11-07 17:02] 0crat commented on #1481
Job `gh:yegor256/cactoos#1481` is not assigned, can't get performer

[2020-11-08 11:36] sereshqua commented on #1415
@0crat quality good

[2020-11-08 11:58] 0crat commented on #1415
@sereshqua There is no quality review for [#1415](https://github.com/yegor256/cactoos/issues/1415), no performer

[2020-11-08 12:40] yegor256 opened #1502 "Why Scalar is not annotated with @FunctionalInterface?"
Why don't we use [`@FunctionalInterface`](https://docs.oracle.com/javase/8/docs/api/java/lang/FunctionalInterface.html) in `Scalar`? I suggest we add this annotation.

[2020-11-08 12:55] victornoel commented on #1502
@yegor256 what is it for? I'm curious about what problem it could solve to have it

[2020-11-08 12:55] victornoel commented on #1502
@yegor256 what is it for? I'm curious about what problem it could solve to have it

[2020-11-08 21:12] yegor256 commented on #1502
@victornoel I don't know... maybe just in order to be in line with Java spec?

[2020-11-08 23:58] andreoss commented on #1502
@yegor256 @victornoel

`@FI`-annotated interfaces are extra-checked by compiler, compilation will fail if there's more than one abstract  method available, besides that it's just documentation. [1]

But `Scalar` is not the only SAM interface here, pretty much all cactoos' interfaces can be annotated with `@FunctionalInterface`.
`@FI` perhaps could imply that implementation should be pure/stateless

[2020-11-09 04:21] fabriciofx commented on #1498
@victornoel yep. WDYT?

[2020-11-09 04:33] fabriciofx opened #1503 "Move some test classes to cactoos-matchers"
I think we should move some classes to `cactoos-matchers` instead of keep them in `cactoos`. My list:
- `BehavesAsCollection`
- `BehavesAsList`
- `EmptyClosableReader`
- `FakeHandler`
- `FakeLogger`
- `BehavesAsMap`
- `ClearDeletesAllValues`
- `PutAllUpdatesValues`
- `PutUpdatesValues`
- `RemoveDeletesValues`
- `BehavesAsSet`

Feel free to add more items to this list.

[2020-11-09 23:08] andreoss commented on #1490
@victornoel How did you fix it? Asking for https://github.com/jcabi/jcabi-jdbc/issues/86

[2020-11-10 07:05] victornoel commented on #1490
@andreoss as explained above to Paulo, by adding the cactoos profile which must be declared in the secret settings.xml

[2020-11-10 21:30] andreoss opened #1505 "Put @Deprecated annotation on disabled methods"
We can annotate disabled methods which throw `UnsupportedOperationException` (i.e mutation methods on `Collection`) in order to provide an extra clue for static analyzers and IDEs about them.

[2020-11-10 23:02] fabriciofx commented on #1505
@andreoss I think it a good idea. @victornoel WDYT?

[2020-11-11 09:49] andreoss opened #1506 "Scalar/Iterable conversion"
It seems that a higher rate of reuse is possible between `Scalar` and `Iterable` decorators if there's a clear way
to convert one to another.

Proposal:

Let's introduce
- `IterableOfScalar(Scalar<T>)`
- `ScalarOfIterable(Iterable<T>)`

A more radical change would be to extend `Scalar<T>` with `Iterable<T>`,
which would make `iterable.*` decorators such as `Mapped` applicable to any `Scalar`.
I.e

[2020-11-12 11:42] fabriciofx commented on #1506
@andreoss IMHO extend `Scalar<T>` with `Iterable<T>` is no way but I'd like to ask you:
1. Can we add a new ctor in `IterableOf` to put a `Scalar<T>` instead of create a new class?
2. Can we add a new ctor in `ScalarOf` to put a `Iterable<T>` instead of create a new class?

[2020-11-12 11:54] andreoss commented on #1506
@fabriciofx
Overloaded ctors would be ambiguous
1. `IterableOf<>(Scalar<T>)` could be as well `Iterable<Scalar<T>>`
2. `ScalarOf<>(Iterbale<T>)` could be `Scalar<Iterable<T>>`

[2020-11-14 16:37] victornoel commented on #1506
@andreoss how would ScalarOfIterable behave for a scalar with multiple values?

I like the idea anyway, it makes sense!

Concerning constructors vs classes, it's always been a problem to decide between the two in many cases, we will see if it is possible to do it with constructor but as you said there is the ambiguity problem, so introducing classes should be acceptable :)

[2020-11-14 18:08] victornoel commented on #1505
@andreoss @fabriciofx I'm not clear what this does provide exactly in practice… I'm a bit reluctant to annotate a method with something that is not really the "truth" without a good reason :)

[2020-11-14 18:09] victornoel commented on #1498
@0crat in

[2020-11-14 21:08] andreoss commented on #1506
@victornoel I believe `ScalarOfIterable` should work only on single-element `Iterable`, thowring `NoSuchElement` and `IllegalArgumentExeception` otherwise. Scalar which iterates over `Iterable` doesn't make much sense

[2020-11-15 14:10] victornoel commented on #1506
@andreoss

Yes, that was my main problem with it.

So if the `Iterable` is empty, `NoSuchElement` or `IllegalArgumentException` is good, but if there is more than one element, I don't think it is really needed to test for it.
And so in that case, there is already `FirstOf` (we should just add a constructor taking only an `Iterable`).

[2020-11-15 14:42] victornoel commented on #1502
@yegor256 @andreoss from what I read, the only really good reason to use this is the following I read on the [internet](https://stackoverflow.com/a/50892176/9046139):

All the rest is not very architecturally important IMHO.

Concerning purity, I'm not sure it is something really expected in Java, I didn't read much about it while researching about functional interfaces, so I don't think it is a p

[2020-11-15 14:42] victornoel commented on #1502
@0crat in

[2020-11-15 14:44] yegor256 commented on #1502
@victornoel good decision!

[2020-11-15 19:32] victornoel commented on #1502
@yegor256 but it won't happen until 0crat is fixed, it has been ignoring everything happening on this repository for some time…

[2020-11-16 08:48] andreoss commented on #1470
@0crat  assign me

[2020-11-16 18:49] yegor256 opened #1507 "MappedWithIndex would be nice to have"
The functionality of `Mapped` is not enough, since it doesn't provide the index of the element into the `Func`. I'm suggesting to create `MappedWithIndex(BiFunc, items)`.

[2020-11-16 19:17] victornoel commented on #1507
@yegor256 good idea, let's add it to iterator and iterable (delegating to the iterator one) then.

[2020-11-16 19:18] victornoel commented on #1507
@0crat in

[2020-11-23 13:23] yegor256 opened #1508 "Joined(items, item) ctor is missing"
We have `Joined(item, items)` ctor, which makes a list with the first element `item`, but we don't have a ctor to put the item at the end of the new list. How about creating one?

[2020-11-23 13:26] victornoel commented on #1508
@yegor256 would it be:  `Joined(Iterable<T> items, T item)`?

[2020-11-23 13:29] yegor256 commented on #1508
@victornoel yes, I think so

[2020-11-23 13:42] victornoel commented on #1508
@yegor256 ok, then let's add it for list, iterator and iterable. Btw note the following issue about list: #1254

[2020-11-23 13:42] victornoel commented on #1508
@0crat in

[2020-11-27 13:21] kokodyn opened #1510 "add Xor class to allow exclusive disjunction"
Hi
I would like to propose to add new class which allow logical operation Xor.
I created PR with draft version #1509

[2020-11-28 16:08] victornoel commented on #1510
@kokodyn please either create a ticket and wait for it to be put in scope and managed with 0crat (with the delay it incurs and the fact it will be assigned to someone else) xor (see what I did? ;) create a PR (with the risk of having it refused), but not both :)
Thanks, it would ease my life :)

I will close this since we already have the PR then!

[2020-11-28 16:08] #1510 closed

[2020-12-05 14:15] kokodyn commented on #1051
Hi
I see i has been partly covered in PR #1480. Adding ctor which accepts String vargs in ctor it is what need to be implement.

[2020-12-15 19:35] kokodyn opened #1512 "Add ReducedWithDefault"
Hi
I would like to propose to add new class which would handle situation when to Reduced there is passed empty iterable. At now Reduced throws NoSuchElementException when iterable contains no elements. In such a case ReducedWithDefault would return supplied default value, otherwise it would procees via Reduced.
ctor could look like this:
`ReducedWithDefault(Reduced<T> reduced, T default)`
What do

[2020-12-23 19:20] 0crat commented on #1470
@andreoss You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @andreoss[/z](https://www.0crat.com/u/andreoss) are: `DEV`, `REV`

[2020-12-24 09:55] victornoel commented on #1470
@0crat assign @andreoss

[2020-12-24 10:17] victornoel opened #1513 "Bump cactoos-matchers and ensure everything build properly"
In my local environment, I cannot run tests because some classes referenced from cactoos-matchers are not present in cactoos anymore.

Until https://github.com/llorllale/cactoos-matchers/issues/202 is fixed, we need to maintain them in compatible versions.

[2020-12-24 10:17] victornoel commented on #1513
@0crat assign me

[2020-12-24 14:05] victornoel commented on #1513
@0crat wait for #1514.

[2020-12-27 11:09] 0pdd commented on #1462
The puzzle `1287-1c7c8289` has disappeared from the source code, that's why I closed this issue.

[2020-12-27 11:09] #1462 closed

[2020-12-27 11:10] 0pdd commented on #1287
@victornoel 2 puzzles [#1460](https://github.com/yegor256/cactoos/issues/1460), [#1461](https://github.com/yegor256/cactoos/issues/1461) are still not solved; solved: [#1462](https://github.com/yegor256/cactoos/issues/1462).

[2020-12-27 11:12] #1513 closed

[2020-12-27 11:16] victornoel commented on #1335
@0crat refuse

[2020-12-27 11:20] victornoel commented on #1170
@0crat refuse

[2020-12-27 11:23] victornoel commented on #895
@0crat refuse

[2020-12-27 11:23] 0crat commented on #1335
@victornoel The user @ruca905[/z](https://www.0crat.com/u/ruca905) resigned from [#1335](https://github.com/yegor256/cactoos/issues/1335), please stop working. Reason for job resignation: Order was cancelled

[2020-12-27 11:25] 0crat commented on #1170
@victornoel The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#1170](https://github.com/yegor256/cactoos/issues/1170), please stop working. Reason for job resignation: Order was cancelled

[2020-12-27 11:25] 0crat commented on #895
@victornoel The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#895](https://github.com/yegor256/cactoos/issues/895), please stop working. Reason for job resignation: Order was cancelled

[2020-12-27 11:27] victornoel commented on #1470
@andreoss thx

[2020-12-27 11:27] #1470 closed

[2020-12-27 11:33] 0crat commented on #1462
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @andreoss[/z](https://www.0crat.com/u/andreoss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-12-27 12:10] sereshqua commented on #1462
@0crat quality good

[2020-12-27 12:33] 0crat commented on #1470
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @andreoss[/z](https://www.0crat.com/u/andreoss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-12-27 13:25] sereshqua commented on #1470
@0crat quality good

[2020-12-27 15:11] 0crat commented on #1461
The job [#1461](https://github.com/yegor256/cactoos/issues/1461) assigned to @ruca905[/z](https://www.0crat.com/u/ruca905), here is [why](https://www.0crat.com/footprint/C63314D6Z/13f1d1d1-4d54-4c57-b002-dd5fd7c730f9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-12-27 15:37] victornoel commented on #1460
@0crat wait for #1515

[2020-12-27 15:38] victornoel commented on #1335
@0crat assign me

[2020-12-27 16:13] 0crat commented on #1460
@victornoel Job [#1460](https://github.com/yegor256/cactoos/issues/1460) is already on hold

[2020-12-27 17:12] victornoel commented on #1500
@andreoss closing this since it seemed you already done it

[2020-12-27 17:12] #1500 closed

[2020-12-27 17:30] 0crat commented on #1500
Job `gh:yegor256/cactoos#1500` is not assigned, can't get performer

[2020-12-27 17:54] victornoel commented on #944
@fabriciofx @skapral @llorllale @yegor256 so let's remove checked exception :)

The reasoning is the following:
1. checking everything is the same as checking nothing: in the end, the effort is in the hands of the implementors
2. when all cactoos interfaces throw `Exception`, usually implementors just let the exception bubble up (see the current code base as an example)
3. it is good practice to a

[2020-12-28 00:13] andreoss commented on #1460
@victornoel It's not quite clear why calling `.value()` directly in order to get `Text` is undesirable.

[2020-12-28 01:59] yegor256 opened #1517 "ResourceOf need an extra ctor with Class argument"
Now I have to do this:

[code]

I believe it would be more convenient if we would have an extra ctor:

[code]

[2020-12-28 02:07] yegor256 opened #1518 "Migrate to JUnit 5"
I suggest we migrate to JUnit 5, since it's an official stable release now.

[2020-12-28 02:15] yegor256 opened #1519 "FindBugs errors in master branch"
I run `mvn clean install -Pqulice` and get this:

[code]

My environment:

[code]

[2020-12-28 02:25] yegor256 commented on #1517
@victornoel this PR should fix it: #1520

[2020-12-28 13:45] victornoel commented on #1460
@andreoss I don't understand the question, can you clarify?

[2020-12-28 13:46] victornoel commented on #1518
@yegor256 it's already in process, see #1453

[2020-12-28 13:47] #1518 closed

[2020-12-28 13:47] victornoel commented on #1519
@yegor256 I don't think Java 14 is supported, I believe this is why there is this problem. Can you reproduce using Java 8 or 11? For now we support only LTS.

[2020-12-28 14:20] 0crat commented on #1518
Job `gh:yegor256/cactoos#1518` is not assigned, can't get performer

[2020-12-28 14:33] victornoel commented on #1506
@andreoss let's do the following, what do you think:
- using `FirstOf` taking a single `Iterable` to get the functionality of your proposed `ScalarOfIterable`
- continue using an `Iterator` to have something to iterate over an `Iterable`
- introducing `IterableOfScalar` taking a `Scalar` as your propose
  -  Too bad `IterableOf` already takes a `Scalar` of `Iterator`, Java and its type erasure rea

[2020-12-28 14:47] #1459 closed

[2020-12-28 14:47] 0pdd commented on #1459
The puzzle `1247-25d91c9c` has disappeared from the source code, that's why I closed this issue.

[2020-12-28 14:47] 0pdd commented on #1247
@victornoel the only puzzle [#1459](https://github.com/yegor256/cactoos/issues/1459) is solved here.

[2020-12-28 14:55] victornoel commented on #1499
@andreoss I'm not sure it's going to work, because the type of X won't be inferable from the constructor's arguments, so we could write something like that: `Iterable<Double> it = new IterableOfArray(4L)` and have things explode at runtime. No?

[2020-12-28 15:20] 0crat commented on #1459
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-12-28 15:21] sereshqua commented on #1459
@0crat quality good

[2020-12-28 16:53] victornoel commented on #1512
@kokodyn I propose to instead introduce extra constructors for Reduced that takes an extra argument `Scalar<T>` for the value to return in case the iterable is empty. WDYT?

Alternatively, you can also use `Folded` but it behaves a bit differently so it will depend on your requirements.

[2020-12-28 16:55] victornoel commented on #1051
@Iprogrammerr it seems to be implemented now

[2020-12-28 16:55] #1051 closed

[2020-12-28 17:03] victornoel commented on #1442
@fabriciofx what about introducing a new class named for example `OptimalBufferSize` that implements `Number` or `Scalar<Integer>` where we would document the choice of this value. We would reuse this class in every place you cited.

[2020-12-28 17:16] 0crat commented on #1051
Job `gh:yegor256/cactoos#1051` is not assigned, can't get performer

[2020-12-30 14:56] victornoel commented on #1445
@0crat assign me

[2020-12-30 16:21] victornoel commented on #1445
@0crat wait for #1522

[2020-12-31 14:59] yegor256 commented on #1519
@victornoel works with java 8, thanks

[2020-12-31 14:59] #1519 closed

[2020-12-31 15:17] 0crat commented on #1519
Job `gh:yegor256/cactoos#1519` is not assigned, can't get performer

[2021-01-06 19:11] 0crat commented on #895
The job [#895](https://github.com/yegor256/cactoos/issues/895) assigned to @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), here is [why](https://www.0crat.com/footprint/C63314D6Z/7e55ef07-d191-44b9-bbf6-c579da865bb4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2021-01-06 20:15] 0crat commented on #1170
The job [#1170](https://github.com/yegor256/cactoos/issues/1170) assigned to @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), here is [why](https://www.0crat.com/footprint/C63314D6Z/1c102031-e9c9-4981-9f9f-6929ab8088f6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2021-01-08 07:57] baudoliver7 commented on #1170
@victornoel, resolving this issue will resolve also #895. Can I submit only one PR for both issues ?

[2021-01-08 08:25] victornoel commented on #1170
@baudoliver7 yes of course, great idea :)

[2021-01-08 08:31] baudoliver7 commented on #1170
Thanks!

[2021-01-08 09:40] baudoliver7 commented on #1170
@victornoel, I want to remove this PR and resend it again.

[2021-01-08 09:43] victornoel commented on #1170
@baudoliver7 just close it and create a new one, or force push on your branch if you want

[2021-01-08 09:47] baudoliver7 commented on #1170
Ok

[2021-01-10 13:22] 0pdd commented on #1460
The puzzle `1287-014a5155` has disappeared from the source code, that's why I closed this issue.

[2021-01-10 13:22] #1460 closed

[2021-01-10 13:22] 0pdd commented on #1287
@victornoel the puzzle [#1461](https://github.com/yegor256/cactoos/issues/1461) is still not solved; solved: [#1460](https://github.com/yegor256/cactoos/issues/1460), [#1462](https://github.com/yegor256/cactoos/issues/1462).

[2021-01-10 14:11] 0pdd opened #1526 "package-info.java:38-41: For consistency sake with Func,..."
The puzzle `1445-4c312276` from #1445 has to be resolved:

https://github.com/yegor256/cactoos/blob/8f3e71c23748db775dd6f5f25f20fa77e6d5e5b0/src/main/java/org/cactoos/package-info.java#L38-L41

The puzzle was created by Victor Noël on 03-Jan-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2021-01-10 14:11] 0pdd commented on #1526
This puzzle inherited milestone `1.0` from issue #1445.

[2021-01-10 14:11] 0pdd opened #1527 "TimedTest.java:44-46: Replace all the usage of Repeated..."
The puzzle `1445-a0a49521` from #1445 has to be resolved:

https://github.com/yegor256/cactoos/blob/8f3e71c23748db775dd6f5f25f20fa77e6d5e5b0/src/test/java/org/cactoos/experimental/TimedTest.java#L44-L46

The puzzle was created by Victor Noël on 03-Jan-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2021-01-10 14:11] 0pdd commented on #1527
This puzzle inherited milestone `1.0` from issue #1445.

[2021-01-10 14:12] 0pdd commented on #1445
@victornoel 2 puzzles [#1526](https://github.com/yegor256/cactoos/issues/1526), [#1527](https://github.com/yegor256/cactoos/issues/1527) are still not solved.

[2021-01-10 15:55] victornoel commented on #1460
@0crat status

[2021-01-10 16:33] 0crat commented on #1460
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1460](https://github.com/yegor256/cactoos/issues/1460) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos%231460%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2021-01-11 03:36] yegor256 commented on #1517
@victornoel are you planning to release 0.49 any time soon?

[2021-01-11 09:32] victornoel commented on #895
@baudoliver7 thx

[2021-01-11 09:32] #895 closed

[2021-01-11 09:32] victornoel commented on #1170
@baudoliver7 thx

[2021-01-11 09:32] #1170 closed

[2021-01-11 09:57] baudoliver7 commented on #895
@victornoel Happy to contribute !

[2021-01-11 09:58] baudoliver7 commented on #1170
@victornoel Happy to contribute !

[2021-01-11 10:32] 0crat commented on #1170
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-01-11 10:33] 0crat commented on #895
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-01-11 10:44] sereshqua commented on #1170
@baudoliver7 please make sure you start all your comments with the name of the user they are referred to, [see](https://github.com/yegor256/cactoos/issues/1170#issuecomment-756623095)

[2021-01-11 10:45] sereshqua commented on #895
@0crat quality good

[2021-01-11 11:07] baudoliver7 commented on #1170
@sereshqua, I get it.

[2021-01-11 11:09] sereshqua commented on #1170
@0crat quality acceptable

[2021-01-11 12:23] 0crat commented on #1199
The job [#1199](https://github.com/yegor256/cactoos/issues/1199) assigned to @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), here is [why](https://www.0crat.com/footprint/C63314D6Z/28b4a321-e6a3-40bc-ad4b-9ffac931cf21); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2021-01-11 13:01] 0crat commented on #1471
The job [#1471](https://github.com/yegor256/cactoos/issues/1471) assigned to @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), here is [why](https://www.0crat.com/footprint/C63314D6Z/7e40a8c3-3da1-4eef-9324-a0f294a618c7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2021-01-11 14:19] baudoliver7 commented on #1471
@fabriciofx I know that constructor must be code free. But in this case, because of immutability, I think that we can make an exception to check if origin is null in constructor. For example, `map.NoNulls` have dozen methods that use this.map. WDYT ?

[2021-01-11 14:37] victornoel commented on #1471
@baudoliver7 hmm, to be honest, it's not exactly clear what's the best here… it's useless to test for null in the methods because anyway it will already fail with a NPE. So checking in the constructor sounds to be the less bad solution… but I wonder if it's really useful to do so actually (since anyway, we will get a NPE in the methods…).

I should have thought more about it before putting this ti

[2021-01-11 15:32] baudoliver7 commented on #1471
@victornoel I suggest to do it in constructor since we are too many methods (about ten methods in map.NoNulls and ListIteratorNoNulls) that use origin. And I think also that the very suffix NoNulls should not allow someone to go further with a null origin. This is my opinion.

[2021-01-11 15:36] victornoel commented on #1471
@baudoliver7 in that case, it means we should also do it for all the other NoNull classes, right?

[2021-01-11 15:48] baudoliver7 commented on #1471
@victornoel I propose to do it for NoNull classes that have at least two functions that depends on origin. I said it not to be blame by QA. :)

[2021-01-11 16:17] victornoel commented on #1471
@baudoliver7 @fabriciofx after some thoughts, I believe it was a mistake to put this ticket in scope.

While it's not a problem to raise an exception in the classes with one or two methods when the `origin` object is null, I don't think there are any advantage to actually do it.

In cactoos, we consider we have real objects that are not nulls and if we wrap such object in their `NoNulls` variant,

[2021-01-11 16:17] #1471 closed

[2021-01-11 16:19] sereshqua commented on #1471
@victornoel 0crat is not that fast to assign tickets to me than I reply :D

[2021-01-11 16:35] 0crat commented on #1471
Job was finished in 3 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2021-01-11 16:45] sereshqua commented on #1471
@0crat quality acceptable

[2021-01-11 16:57] 0crat commented on #1471
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-01-11 17:37] sereshqua commented on #1471
@0crat quality acceptable

[2021-01-11 20:00] 0crat commented on #1471
@sereshqua There is no quality review for [#1471](https://github.com/yegor256/cactoos/issues/1471), no performer

[2021-01-14 01:36] baudoliver7 commented on #1199
@victornoel the work has been for 2 days. Just to prevent you. :)

[2021-01-14 07:16] victornoel commented on #1199
@0crat refuse

[2021-01-14 07:16] victornoel commented on #1199
@baudoliver7 sorry I made a mistake

[2021-01-14 07:16] victornoel commented on #1199
@0crat assign @baudoliver7

[2021-01-14 07:17] 0crat commented on #1199
@victornoel The user @baudoliver7[/z](https://www.0crat.com/u/baudoliver7) resigned from [#1199](https://github.com/yegor256/cactoos/issues/1199), please stop working. Reason for job resignation: Order was cancelled

[2021-01-14 07:18] victornoel commented on #1199
@baudoliver7 I thought it was the PR and wanted zerocrat to assign someone ^^ I will do that later when I'm really awake :) I will make thing go forward

[2021-01-14 07:19] 0crat commented on #1199
@victornoel The job [#1199](https://github.com/yegor256/cactoos/issues/1199) assigned to @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), here is [why](https://www.0crat.com/footprint/C63314D6Z/777213b0-381c-4cb4-bfbd-da9fe9eb891d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocra

[2021-01-14 08:40] baudoliver7 commented on #1199
@victornoel Great !

[2021-01-14 18:16] victornoel commented on #1517
@yegor256 I would first like to have #1528 merged at least, but there are no REV available, would you interested in reviewing the PR? Sorry for the late reply :)

[2021-01-15 18:10] victornoel commented on #1425
@0crat refuse

[2021-01-15 18:10] victornoel commented on #1434
@0crat refuse

[2021-01-15 18:12] victornoel commented on #1453
@0crat refuse

[2021-01-15 18:29] 0crat commented on #1453
@victornoel The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#1453](https://github.com/yegor256/cactoos/issues/1453), please stop working. Reason for job resignation: Order was cancelled

[2021-01-15 18:32] 0crat commented on #1425
@victornoel The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#1425](https://github.com/yegor256/cactoos/issues/1425), please stop working. Reason for job resignation: Order was cancelled

[2021-01-16 10:50] #1199 closed

[2021-01-16 10:53] victornoel opened #1530 "Release 0.49"
We had a bunch of stuffs merged lately.

As soon as #1528 is merged, let's release 0.49.

[2021-01-16 10:55] victornoel opened #1531 "Update cactoos-matchers to latest version"
cactoos-matchers got some nice improvement lately, such as consistent naming of matchers, so updating to the latest version needs a bit of work.

Let's:
- ~~update cactoos to the latest version in cactoos-matchers repository (as soon as 0.49 is released, see #1530)~~ done in https://github.com/llorllale/cactoos-matchers/pull/222
- ~~ask for releasing a new version of cactoos-matchers once it's don

[2021-01-16 10:55] victornoel commented on #1531
@0crat in

[2021-01-16 10:57] victornoel commented on #1434
@0crat refuse

[2021-01-16 11:14] 0pdd opened #1532 "BiProc.java:42-45: Introduce BiProcOf on the model of..."
The puzzle `1445-c6a75ced` from #1445 has to be resolved:

https://github.com/yegor256/cactoos/blob/865f249032e7ba30584d1c25e9d04f3a2bb37e62/src/main/java/org/cactoos/BiProc.java#L42-L45

The puzzle was created by Victor Noël on 10-Jan-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2021-01-16 11:14] 0pdd commented on #1532
This puzzle inherited milestone `1.0` from issue #1445.

[2021-01-16 11:14] 0pdd commented on #1445
@victornoel 3 puzzles [#1526](https://github.com/yegor256/cactoos/issues/1526), [#1527](https://github.com/yegor256/cactoos/issues/1527), [#1532](https://github.com/yegor256/cactoos/issues/1532) are still not solved.

[2021-01-16 11:14] #1445 closed

[2021-01-16 11:15] 0crat commented on #1434
@victornoel The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#1434](https://github.com/yegor256/cactoos/issues/1434), please stop working. Reason for job resignation: Order was cancelled

[2021-01-16 11:16] victornoel commented on #1517
@yegor256 closing this, 0.49 will be released in #1530 in a few minutes

[2021-01-16 11:16] #1517 closed

[2021-01-16 11:20] victornoel commented on #1489
@fabriciofx apparently it has been done, closing this.

@andreoss in the future, when you tackle jobs, can you ping the reporter or me to close the ticket after the PR is merged?

[2021-01-16 11:20] #1489 closed

[2021-01-16 11:21] 0crat commented on #1199
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.55](https://github.com/zerocracy/farm): CID: [3318fa3f-6d5b-42c5-aef4-fc9cdbc4a658](https://www.0crat.com/footprint/C63314D6Z/3318fa3f-6d5b-42c5-aef4-fc9cdbc4a658), Type: "Order was finished"

[2021-01-16 11:21] victornoel commented on #1530
@rultor release, tag is `0.49`

[2021-01-16 11:23] rultor commented on #1530
@victornoel OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23982-761547190)

[2021-01-16 11:24] victornoel commented on #1508
@yegor256 looks like it has been fixed in #1523

[2021-01-16 11:24] #1508 closed

[2021-01-16 11:24] 0crat commented on #1434
@victornoel Job `gh:yegor256/cactoos#1434` is not assigned, can't get performer

[2021-01-16 11:26] 0crat commented on #1199
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-01-16 11:34] rultor commented on #1530
@victornoel Done! FYI, the full log is [here](https://www.rultor.com/t/23982-761547190) (took me 10min)

[2021-01-16 11:36] #1530 closed

[2021-01-16 11:52] sereshqua commented on #1199
@0crat quality good

[2021-01-16 12:09] 0crat commented on #1517
Job `gh:yegor256/cactoos#1517` is not assigned, can't get performer

[2021-01-16 12:14] 0crat commented on #1508
Job `gh:yegor256/cactoos#1508` is not assigned, can't get performer

[2021-01-16 12:18] 0crat commented on #1489
Job `gh:yegor256/cactoos#1489` is not assigned, can't get performer

[2021-01-16 12:19] 0crat commented on #1530
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2021-01-16 12:25] 0crat commented on #1530
@victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#1530](https://github.com/yegor256/cactoos/issues/1530), since the job is not in scope anymore

[2021-01-16 12:33] 0crat commented on #1530
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.55](https://github.com/zerocracy/farm): CID: [b781ea85-52d6-4450-afff-49056b2ec53f](https://www.0crat.com/footprint/C63314D6Z/b781ea85-52d6-4450-afff-49056b2ec53f), Type: "Order was canceled"

[2021-01-16 14:15] 0crat commented on #1464
The job [#1464](https://github.com/yegor256/cactoos/issues/1464) assigned to @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), here is [why](https://www.0crat.com/footprint/C63314D6Z/a7398e5c-ec73-4e8d-96cf-9a3e56933bb6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2021-01-16 14:26] victornoel opened #1533 "Exploit generic variance to ensure typing works as best as possible"
Lots of constructors and methods in cactoos take `Iterable`, `Scalar`, `Func` and so on.

Because of the way typing works in Java, it can sometimes be challenging to have code compile even though it is conceptually sound. For example if we have a method or a constructor like this:
[code]

Then the following happens;
[code]

In more complex situation, type inference does not even succeed.

The typi

[2021-01-16 14:26] victornoel commented on #1533
@0crat in

[2021-01-16 16:13] victornoel commented on #1531
@0crat status

[2021-01-16 16:18] 0crat commented on #1531
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1531](https://github.com/yegor256/cactoos/issues/1531) is [in scope](http://www.zerocracy.com/policy.html#14) for 5hr
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-01-25 17:48] #1464 closed

[2021-01-25 17:48] 0pdd commented on #1464
The puzzle `1183-64533d21` has disappeared from the source code, that's why I closed this issue.

[2021-01-25 17:48] 0pdd opened #1537 "Paged.java:42-45: We want to use {@code Iterator<X>}..."
The puzzle `1464-68f0eee6` from #1464 has to be resolved:

https://github.com/yegor256/cactoos/blob/86ad37b671edb86a5d92d00c1005cc6c62f2c825/src/main/java/org/cactoos/iterator/Paged.java#L42-L45

The puzzle was created by @baudoliver7 on 19-Jan-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2021-01-25 17:48] 0pdd commented on #1537
This puzzle inherited milestone `1.0` from issue #1464.

[2021-01-25 17:48] 0pdd opened #1538 "Paged.java:38-40: Replace the constructor so that instead..."
The puzzle `1464-a8b18c11` from #1464 has to be resolved:

https://github.com/yegor256/cactoos/blob/86ad37b671edb86a5d92d00c1005cc6c62f2c825/src/main/java/org/cactoos/iterable/Paged.java#L38-L40

The puzzle was created by @baudoliver7 on 19-Jan-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2021-01-25 17:49] 0pdd commented on #1538
This puzzle inherited milestone `1.0` from issue #1464.

[2021-01-25 17:49] 0pdd commented on #947
@wladyan 2 puzzles [#1537](https://github.com/yegor256/cactoos/issues/1537), [#1538](https://github.com/yegor256/cactoos/issues/1538) are still not solved; solved: [#1183](https://github.com/yegor256/cactoos/issues/1183), [#1184](https://github.com/yegor256/cactoos/issues/1184), [#1185](https://github.com/yegor256/cactoos/issues/1185), [#1242](https://github.com/yegor256/cactoos/issues/1242), [#12

[2021-01-25 17:49] 0pdd commented on #1183
@0pdd 2 puzzles [#1537](https://github.com/yegor256/cactoos/issues/1537), [#1538](https://github.com/yegor256/cactoos/issues/1538) are still not solved; solved: [#1464](https://github.com/yegor256/cactoos/issues/1464).

[2021-01-25 17:49] 0pdd commented on #1464
@0pdd 2 puzzles [#1537](https://github.com/yegor256/cactoos/issues/1537), [#1538](https://github.com/yegor256/cactoos/issues/1538) are still not solved.

[2021-01-25 18:13] 0crat commented on #1464
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-01-25 20:07] sereshqua commented on #1464
@0crat quality good

[2021-01-26 01:01] 0crat commented on #1526
The job [#1526](https://github.com/yegor256/cactoos/issues/1526) assigned to @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), here is [why](https://www.0crat.com/footprint/C63314D6Z/0a4622e2-9706-427c-9d5e-9d642c4c48ce); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2021-01-30 09:49] victornoel commented on #1531
@baudoliver7 would you like to tackle this? :)

[2021-01-30 10:01] baudoliver7 commented on #1531
@victornoel Yes, of course :)

[2021-01-30 10:03] victornoel commented on #1531
@0crat assign @baudoliver7

[2021-01-30 10:03] victornoel commented on #1531
@baudoliver7 cool, like this it will unblock other things :)

[2021-01-31 18:13] victornoel commented on #1531
@baudoliver7 thank you

[2021-01-31 18:13] #1531 closed

[2021-01-31 18:31] 0pdd commented on #1526
The puzzle `1445-4c312276` has disappeared from the source code, that's why I closed this issue.

[2021-01-31 18:31] #1526 closed

[2021-01-31 18:31] 0pdd commented on #1445
@victornoel 2 puzzles [#1527](https://github.com/yegor256/cactoos/issues/1527), [#1532](https://github.com/yegor256/cactoos/issues/1532) are still not solved; solved: [#1526](https://github.com/yegor256/cactoos/issues/1526).

[2021-01-31 18:33] 0crat commented on #1531
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-01-31 18:34] 0crat commented on #1531
Job was finished in 32 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2021-01-31 19:08] 0crat commented on #1526
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-01-31 20:44] sereshqua commented on #1531
@0crat quality good

[2021-01-31 20:45] sereshqua commented on #1526
@0crat quality good

[2021-01-31 20:47] 0pdd commented on #1532
The puzzle `1445-c6a75ced` has disappeared from the source code, that's why I closed this issue.

[2021-01-31 20:47] #1532 closed

[2021-01-31 20:47] 0pdd commented on #1445
@victornoel the puzzle [#1527](https://github.com/yegor256/cactoos/issues/1527) is still not solved; solved: [#1526](https://github.com/yegor256/cactoos/issues/1526), [#1532](https://github.com/yegor256/cactoos/issues/1532).

[2021-01-31 21:13] 0crat commented on #1532
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-01-31 21:44] sereshqua commented on #1532
@0crat quality good

[2021-02-02 23:15] baudoliver7 commented on #1254
@0crat status

[2021-02-03 01:19] 0crat commented on #1254
@baudoliver7 This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1254](https://github.com/yegor256/cactoos/issues/1254) is [in scope](http://www.zerocracy.com/policy.html#14) for 7mon
  * The role is `DEV`
  * The job is assigned to @baudoliver7[/z](https://www.0crat.com/u/baudoliver7) for [2days](http://www.zerocracy.com/policy.htm

[2021-02-03 07:30] baudoliver7 commented on #1359
@victornoel I think it's already resolved in PR #1492

[2021-02-03 07:34] baudoliver7 commented on #1254
@victornoel I dont catch very well what you mean. Could you give me more explanations ?

[2021-02-04 17:52] victornoel commented on #1254
@baudoliver7 currently, when you call the constructor of `list.Joined`, it will build a new list by copying the arguments. Instead, we should implement the `List` interface (and most certainly `ListIterator`) to wrap the lists passed as arguments and delegate to them as if they were one list.

[2021-02-04 17:54] victornoel commented on #1359
@baudoliver7 indeed it seems it does! Thanks

[2021-02-04 17:54] #1359 closed

[2021-02-04 18:13] 0crat commented on #1359
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-02-04 19:54] sereshqua commented on #1359
@0crat quality good

[2021-02-06 11:29] victornoel commented on #1335
@0crat wait for llorllale/cactoos-matchers#220 to be fixed first

[2021-02-06 15:27] victornoel commented on #944
@fabriciofx @skapral @llorllale @yegor256 some more questions that are bothering me on that matter: if we remove the exception, shouldn't we switch to using java.lang.Function, BiFunction, Consumer, BiConsumer and Supplier to replace Func, BiFunc, Proc, BiProc and Scalar?

[2021-02-06 15:59] victornoel commented on #906
@neonailol done in #1542

[2021-02-06 15:59] #906 closed

[2021-02-06 16:21] 0crat commented on #906
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-02-07 01:05] sereshqua commented on #906
@0crat quality acceptable

[2021-02-07 01:05] sereshqua commented on #906
[see](https://github.com/yegor256/cactoos/issues/906#issuecomment-397367355)

[2021-02-14 18:59] victornoel commented on #1461
@0crat refuse

[2021-02-14 19:14] 0crat commented on #1461
@victornoel The user @ruca905[/z](https://www.0crat.com/u/ruca905) resigned from [#1461](https://github.com/yegor256/cactoos/issues/1461), please stop working. Reason for job resignation: Order was cancelled

[2021-02-14 20:08] 0crat commented on #1414
The job [#1414](https://github.com/yegor256/cactoos/issues/1414) assigned to @ruca905[/z](https://www.0crat.com/u/ruca905), here is [why](https://www.0crat.com/footprint/C63314D6Z/dcba5a44-0c56-4cae-836f-3b575eafa801); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2021-02-14 22:07] 0crat commented on #1245
The job [#1245](https://github.com/yegor256/cactoos/issues/1245) assigned to @ruca905[/z](https://www.0crat.com/u/ruca905), here is [why](https://www.0crat.com/footprint/C63314D6Z/7cd9102c-f744-4cda-b8b2-67507665b2a4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2021-02-22 11:04] victornoel commented on #1439
@fabriciofx let's create a new `Scalar` decorator named `Delayed` that would take a delay as a `Duration` and a wrapped `Scalar`, and would wait the delay before delegating to the wrapped object.

Then let's add a todo to do the same for the other cactoos interfaces + replace usage of `Thread.sleep` where it makes sense.

[2021-02-22 11:04] victornoel commented on #1439
@0crat in

[2021-02-24 18:50] #1527 closed

[2021-02-24 18:50] 0pdd commented on #1527
The puzzle `1445-a0a49521` has disappeared from the source code, that's why I closed this issue.

[2021-02-24 18:50] 0pdd commented on #1445
@victornoel all 3 puzzles are solved here: [#1526](https://github.com/yegor256/cactoos/issues/1526), [#1527](https://github.com/yegor256/cactoos/issues/1527), [#1532](https://github.com/yegor256/cactoos/issues/1532).

[2021-02-26 16:12] victornoel commented on #1173
Fixed in #1546

[2021-02-26 16:12] #1173 closed

[2021-02-26 16:30] 0crat commented on #1173
Job `gh:yegor256/cactoos#1173` is not assigned, can't get performer

[2021-02-27 21:49] andreoss opened #1549 "Add extra ctor to Merged"
Currently `Merged` accepts only vararg array as a parameter.
Lets add `Iterable` also
[code]

[2021-03-02 09:10] 0crat commented on #1498
The job [#1498](https://github.com/yegor256/cactoos/issues/1498) assigned to @dearrudam[/z](https://www.0crat.com/u/dearrudam), here is [why](https://www.0crat.com/footprint/C63314D6Z/45542f04-a3e1-4596-92f5-f545742e35cc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2021-03-02 10:21] 0crat commented on #1502
The job [#1502](https://github.com/yegor256/cactoos/issues/1502) assigned to @dearrudam[/z](https://www.0crat.com/u/dearrudam), here is [why](https://www.0crat.com/footprint/C63314D6Z/9b543b39-b563-4c0d-a3ae-8d8cdaef2e6a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2021-03-02 11:13] 0crat commented on #1507
The job [#1507](https://github.com/yegor256/cactoos/issues/1507) assigned to @dearrudam[/z](https://www.0crat.com/u/dearrudam), here is [why](https://www.0crat.com/footprint/C63314D6Z/fbe91dbc-a674-4836-85f3-7badd45fc778); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2021-03-03 18:31] #1549 closed

[2021-03-03 19:14] 0crat commented on #1549
Job `gh:yegor256/cactoos#1549` is not assigned, can't get performer

[2021-03-03 23:50] dearrudam commented on #1502
@yegor256 could you close this issue because it was solved in #1552?

[2021-03-04 10:10] baudoliver7 commented on #1449
@victornoel Let's me find all the classes that close the stream like mentioned by @fabriciofx, document them properly and add a todo. Isn't it ?

[2021-03-04 10:16] victornoel commented on #1449
@baudoliver7 you can do it either order you want yes: first document then todo for implementing the new decorators, or first implement the new decorators and then todo to document the classes.

[2021-03-04 10:21] 0pdd commented on #1461
The puzzle `1287-48d7a962` has disappeared from the source code, that's why I closed this issue.

[2021-03-04 10:21] #1461 closed

[2021-03-04 10:38] baudoliver7 commented on #1449
@victornoel Ok. Let's us implement the new decorators :)

[2021-03-04 10:39] baudoliver7 commented on #1449
@victornoel What names could you suggest me ?

[2021-03-04 10:40] victornoel commented on #1449
@baudoliver7 hehe, no idea actually, @fabriciofx would you have an idea?

Could you propose a name and we discuss it in the PR maybe?

[2021-03-04 10:43] baudoliver7 commented on #1449
@victornoel Yes, I will do it.

[2021-03-04 11:24] 0crat commented on #1461
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-03-04 11:58] sereshqua commented on #1461
@0crat quality good

[2021-03-05 06:02] yegor256 commented on #1502
@dearrudam thanks!

[2021-03-05 06:02] #1502 closed

[2021-03-05 06:21] 0crat commented on #1502
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @dearrudam[/z](https://www.0crat.com/u/dearrudam), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-03-05 06:30] sereshqua commented on #1461
@0crat quality good

[2021-03-05 06:31] sereshqua commented on #1502
@0crat quality good

[2021-03-05 06:33] 0crat commented on #1461
@sereshqua There is no quality review for [#1461](https://github.com/yegor256/cactoos/issues/1461), no performer

[2021-03-05 11:42] dearrudam commented on #1502
@sereshqua thanks!

[2021-03-06 01:52] dearrudam opened #1555 "io.InputOfTest.readsSecureUrlContent test is consuming an external resource and it can cause CI issues"
@victornoel

I've worked on #1554 and I've realized that the `io.InputOfTest.readsSecureUrlContent()` test tried to consume the `https://www.yegor256.com/robots.txt` URL but, at the moment of the test, the `Tests (ubuntu-18.04, 11)` container couldn't consume the URL then broken all subsequent checks. Here is the evidence: https://github.com/yegor256/cactoos/pull/1554/checks?check_run_id=204356513

[2021-03-06 18:02] victornoel commented on #1555
@dearrudam yes, good idea, thanks

I think a good solution to make this test relying on takes as with `readsRealUrl`

[2021-03-06 18:03] victornoel commented on #1555
@0crat in

[2021-03-07 21:33] dearrudam commented on #1498
@fabriciofx could you close this issue because it was solved in #1551?

[2021-03-08 02:38] andreoss commented on #1449
@fabriciofx
Keeping `OutputStream` opened might be handy, but what is the point of doing so for `InputStream`?

First invocation of `new LenghtOf(new SafeInput(input))` will return correct length, the second will return 0 in your case, instead of throwing an exception (current behaviour). `SafeInput` should have some mark/reset logic at `close` for the original stream in order to avoid that.

Also

[2021-03-08 12:16] baudoliver7 commented on #1449
@andreoss
We fixed it (First invocation of `new LenghtOf(new SafeInput(input))` will return correct length, the second will return 0 in your case) in the last commit. Thanks.

[2021-03-08 12:37] baudoliver7 commented on #1449
@andreoss Also, if someone want `LengthOf` to close original streams, he should not have to decorate original `Input` with `SafeInput`. But in this case, the class that allocated the resource is responsible to deallocated it.

[2021-03-08 14:33] victornoel commented on #1449
@andreoss @baudoliver7 it is normal that using `LengthOf` twice on a `SafeInput` will have the second time return 0, we don't want to prevent this. And actually, you don't know what the underlying stream is made of: maybe you read it once, then later on, there is again some data in it. That's why you need something like SafeInput, to prevent the stream consumer to close it when, as the user (or ma

[2021-03-08 14:34] #1498 closed

[2021-03-08 15:16] victornoel commented on #1254
@baudoliver7 thx

[2021-03-08 15:16] #1254 closed

[2021-03-08 15:21] dearrudam commented on #1507
@yegor256 could you close this issue because it was solved with #1554?

[2021-03-08 15:33] 0crat commented on #1498
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @dearrudam[/z](https://www.0crat.com/u/dearrudam), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-03-08 15:42] sereshqua commented on #1498
@0crat quality good

[2021-03-08 17:28] 0crat commented on #1254
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-03-08 19:11] sereshqua commented on #1254
@0crat quality good

[2021-03-09 04:52] yegor256 commented on #1507
@dearrudam thanks!

[2021-03-09 04:52] #1507 closed

[2021-03-09 05:50] sereshqua commented on #1507
@0crat quality good

[2021-03-13 16:06] 0pdd commented on #1425
The puzzle `1420-59819ae3` has disappeared from the source code, that's why I closed this issue.

[2021-03-13 16:06] #1425 closed

[2021-03-13 16:06] 0pdd opened #1559 "package-info.java:28-31: Continue replacing usage of..."
The puzzle `1425-59819ae3` from #1425 has to be resolved:

https://github.com/yegor256/cactoos/blob/62345fc1ba3db7fdfd562ba1a7ad32fab3cbb5e1/src/test/java/org/cactoos/package-info.java#L28-L31

The puzzle was created by @baudoliver7 on 11-Mar-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pro

[2021-03-13 16:06] 0pdd opened #1560 "TextOf.java:320-325: We want constructors with {@code..."
The puzzle `1461-42d3dd73` from #1461 has to be resolved:

https://github.com/yegor256/cactoos/blob/62345fc1ba3db7fdfd562ba1a7ad32fab3cbb5e1/src/main/java/org/cactoos/text/TextOf.java#L320-L325

The puzzle was created by @baudoliver7 on 04-Mar-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2021-03-13 16:06] 0pdd commented on #1560
This puzzle inherited milestone `1.0` from issue #1461.

[2021-03-13 16:06] 0pdd opened #1561 "Joined.java:37-39: Make {@link Joined} implements..."
The puzzle `1254-cd24df12` from #1254 has to be resolved:

https://github.com/yegor256/cactoos/blob/62345fc1ba3db7fdfd562ba1a7ad32fab3cbb5e1/src/main/java/org/cactoos/list/Joined.java#L37-L39

The puzzle was created by @baudoliver7 on 26-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2021-03-13 16:06] 0pdd commented on #1561
This puzzle inherited milestone `1.0` from issue #1254.

[2021-03-13 16:07] 0pdd opened #1562 "JoinedListIterator.java:39-42: We should implement..."
The puzzle `1254-68bc66d2` from #1254 has to be resolved:

https://github.com/yegor256/cactoos/blob/62345fc1ba3db7fdfd562ba1a7ad32fab3cbb5e1/src/main/java/org/cactoos/list/JoinedListIterator.java#L39-L42

The puzzle was created by @baudoliver7 on 26-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2021-03-13 16:07] 0pdd commented on #1562
This puzzle inherited milestone `1.0` from issue #1254.

[2021-03-13 16:07] 0pdd commented on #1033
@llorllale the puzzle [#1559](https://github.com/yegor256/cactoos/issues/1559) is still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#

[2021-03-13 16:07] 0pdd commented on #1117
@0pdd the puzzle [#1559](https://github.com/yegor256/cactoos/issues/1559) is still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340]

[2021-03-13 16:07] 0pdd commented on #1152
@0pdd the puzzle [#1559](https://github.com/yegor256/cactoos/issues/1559) is still not solved; solved: [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341]

[2021-03-13 16:07] 0pdd commented on #1182
@0pdd the puzzle [#1559](https://github.com/yegor256/cactoos/issues/1559) is still not solved; solved: [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343]

[2021-03-13 16:07] 0pdd commented on #1228
@0pdd the puzzle [#1559](https://github.com/yegor256/cactoos/issues/1559) is still not solved; solved: [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360]

[2021-03-13 16:07] 0pdd commented on #1235
@0pdd the puzzle [#1559](https://github.com/yegor256/cactoos/issues/1559) is still not solved; solved: [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1362]

[2021-03-13 16:07] 0pdd commented on #1331
@0pdd the puzzle [#1559](https://github.com/yegor256/cactoos/issues/1559) is still not solved; solved: [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1362](https://github.com/yegor256/cactoos/issues/1362), [#1367]

[2021-03-13 16:07] 0pdd commented on #1340
@0pdd the puzzle [#1559](https://github.com/yegor256/cactoos/issues/1559) is still not solved; solved: [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1362](https://github.com/yegor256/cactoos/issues/1362), [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1389]

[2021-03-13 16:07] 0pdd commented on #1343
@0pdd the puzzle [#1559](https://github.com/yegor256/cactoos/issues/1559) is still not solved; solved: [#1362](https://github.com/yegor256/cactoos/issues/1362), [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1389](https://github.com/yegor256/cactoos/issues/1389), [#1391]

[2021-03-13 16:07] 0pdd commented on #1362
@0pdd the puzzle [#1559](https://github.com/yegor256/cactoos/issues/1559) is still not solved; solved: [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1389](https://github.com/yegor256/cactoos/issues/1389), [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1396]

[2021-03-13 16:07] 0pdd commented on #1367
@0pdd the puzzle [#1559](https://github.com/yegor256/cactoos/issues/1559) is still not solved; solved: [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1389](https://github.com/yegor256/cactoos/issues/1389), [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1396](https://github.com/yegor256/cactoos/issues/1396), [#1420]

[2021-03-13 16:07] 0pdd commented on #1375
@0pdd the puzzle [#1559](https://github.com/yegor256/cactoos/issues/1559) is still not solved; solved: [#1389](https://github.com/yegor256/cactoos/issues/1389), [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1396](https://github.com/yegor256/cactoos/issues/1396), [#1420](https://github.com/yegor256/cactoos/issues/1420), [#1425](https://github.com/yegor256/cactoos/issues/1425).

[2021-03-13 16:07] 0pdd commented on #1389
@0pdd the puzzle [#1559](https://github.com/yegor256/cactoos/issues/1559) is still not solved; solved: [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1396](https://github.com/yegor256/cactoos/issues/1396), [#1420](https://github.com/yegor256/cactoos/issues/1420), [#1425](https://github.com/yegor256/cactoos/issues/1425).

[2021-03-13 16:07] 0pdd commented on #1391
@0pdd the puzzle [#1559](https://github.com/yegor256/cactoos/issues/1559) is still not solved; solved: [#1396](https://github.com/yegor256/cactoos/issues/1396), [#1420](https://github.com/yegor256/cactoos/issues/1420), [#1425](https://github.com/yegor256/cactoos/issues/1425).

[2021-03-13 16:07] 0pdd commented on #1396
@0pdd the puzzle [#1559](https://github.com/yegor256/cactoos/issues/1559) is still not solved; solved: [#1420](https://github.com/yegor256/cactoos/issues/1420), [#1425](https://github.com/yegor256/cactoos/issues/1425).

[2021-03-13 16:07] 0pdd commented on #1420
@0pdd the puzzle [#1559](https://github.com/yegor256/cactoos/issues/1559) is still not solved; solved: [#1425](https://github.com/yegor256/cactoos/issues/1425).

[2021-03-13 16:07] 0pdd commented on #1425
@0pdd the puzzle [#1559](https://github.com/yegor256/cactoos/issues/1559) is still not solved.

[2021-03-13 16:07] 0pdd commented on #1287
@victornoel the puzzle [#1560](https://github.com/yegor256/cactoos/issues/1560) is still not solved; solved: [#1460](https://github.com/yegor256/cactoos/issues/1460), [#1461](https://github.com/yegor256/cactoos/issues/1461), [#1462](https://github.com/yegor256/cactoos/issues/1462).

[2021-03-13 16:07] 0pdd commented on #1461
@0pdd the puzzle [#1560](https://github.com/yegor256/cactoos/issues/1560) is still not solved.

[2021-03-13 16:07] 0pdd commented on #1254
@victornoel 2 puzzles [#1561](https://github.com/yegor256/cactoos/issues/1561), [#1562](https://github.com/yegor256/cactoos/issues/1562) are still not solved.

[2021-03-13 16:28] 0crat commented on #1425
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-03-14 09:51] 0pdd opened #1563 "package-info.java:29-31: Exploit generic variance for..."
The puzzle `1533-6b8653a3` from #1533 has to be resolved:

https://github.com/yegor256/cactoos/blob/f8d61e1d8dcccc399b963632ca5f85a8a048f6f2/src/main/java/org/cactoos/set/package-info.java#L29-L31

The puzzle was created by @baudoliver7 on 13-Mar-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2021-03-14 09:52] 0pdd commented on #1563
This puzzle inherited milestone `1.0` from issue #1533.

[2021-03-14 09:52] 0pdd opened #1564 "package-info.java:29-31: Exploit generic variance for..."
The puzzle `1533-0433abcf` from #1533 has to be resolved:

https://github.com/yegor256/cactoos/blob/f8d61e1d8dcccc399b963632ca5f85a8a048f6f2/src/main/java/org/cactoos/io/package-info.java#L29-L31

The puzzle was created by @baudoliver7 on 13-Mar-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2021-03-14 09:52] 0pdd commented on #1564
This puzzle inherited milestone `1.0` from issue #1533.

[2021-03-14 09:52] 0pdd opened #1565 "package-info.java:29-31: Exploit generic variance for..."
The puzzle `1533-a2c34718` from #1533 has to be resolved:

https://github.com/yegor256/cactoos/blob/f8d61e1d8dcccc399b963632ca5f85a8a048f6f2/src/main/java/org/cactoos/iterator/package-info.java#L29-L31

The puzzle was created by @baudoliver7 on 13-Mar-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2021-03-14 09:52] 0pdd commented on #1565
This puzzle inherited milestone `1.0` from issue #1533.

[2021-03-14 09:52] 0pdd opened #1566 "package-info.java:29-31: Exploit generic variance for..."
The puzzle `1533-48e5c994` from #1533 has to be resolved:

https://github.com/yegor256/cactoos/blob/f8d61e1d8dcccc399b963632ca5f85a8a048f6f2/src/main/java/org/cactoos/list/package-info.java#L29-L31

The puzzle was created by @baudoliver7 on 13-Mar-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th