[2018-12-08 00:42] llorllale commented on #962
@0crat assign @dgroup

[2018-12-08 00:44] 0crat commented on #962
@llorllale Job [#962](https://github.com/yegor256/cactoos/issues/962) is already assigned to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2018-12-08 01:08] llorllale commented on #969
@Vatavuk can we close this?

[2018-12-08 01:09] llorllale commented on #301
@php-coder I'm closing this due to inactivity.

[2018-12-08 01:09] #301 closed

[2018-12-08 01:10] #476 closed

[2018-12-08 01:11] llorllale commented on #704
@driver733 this was implemented in PR #899

[2018-12-08 01:11] #704 closed

[2018-12-08 01:12] #771 closed

[2018-12-08 01:13] llorllale commented on #889
@victornoel I'm closing this for now - feel free to open a new issue for it again if it's still a problem for you.

[2018-12-08 01:13] #889 closed

[2018-12-08 01:14] llorllale commented on #945
@peter-kehl closing this due to inactivity - feel free to open a new ticket if it's still a problem for you

[2018-12-08 01:14] #945 closed

[2018-12-08 01:32] llorllale commented on #971
@g4s8 here's a quick sketch:

[code]

We leave https calls out of `cactoos` as they are out of scope.

[2018-12-08 01:37] 0crat commented on #301
Job `gh:yegor256/cactoos#301` is not assigned, can't get performer

[2018-12-08 01:37] 0crat commented on #476
Job `gh:yegor256/cactoos#476` is not assigned, can't get performer

[2018-12-08 01:37] 0crat commented on #704
Job [#704](https://github.com/yegor256/cactoos/issues/704) is not in the agenda of @neonailol[/z](https://www.0crat.com/u/neonailol), can't retrieve data and time of add

[2018-12-08 01:38] 0crat commented on #771
Job `gh:yegor256/cactoos#771` is not assigned, can't get performer

[2018-12-08 01:41] 0crat commented on #301
This job is not in scope

[2018-12-08 01:41] 0crat commented on #889
Job `gh:yegor256/cactoos#889` is not assigned, can't get performer

[2018-12-08 01:44] 0crat commented on #945
Job `gh:yegor256/cactoos#945` is not assigned, can't get performer

[2018-12-08 01:44] 0crat commented on #476
This job is not in scope

[2018-12-08 01:45] 0crat commented on #771
This job is not in scope

[2018-12-08 01:45] 0crat commented on #889
This job is not in scope

[2018-12-08 01:45] 0crat commented on #945
This job is not in scope

[2018-12-08 01:51] 0crat commented on #704
The project doesn't have enough funds, can't make a payment

[2018-12-08 01:51] 0crat commented on #704
The job [#704](https://github.com/yegor256/cactoos/issues/704) is now out of scope

[2018-12-08 01:51] 0crat commented on #704
Order was finished: +30 point(s) just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-12-08 13:33] Vatavuk commented on #969
@llorllale uh, by bad yes the iterator is exhausted, I'm closing this.

[2018-12-08 13:33] #969 closed

[2018-12-08 13:51] 0crat commented on #969
Job `gh:yegor256/cactoos#969` is not assigned, can't get performer

[2018-12-08 13:51] 0crat commented on #969
This job is not in scope

[2018-12-08 20:25] 0pdd opened #972 "ThreadsTest.java:51-55: o.c.experimental Design the..."
The puzzle `962-d3b6c3c8` from #962 has to be resolved:

https://github.com/yegor256/cactoos/blob/8a2f57b071cb34afcef8f0d125648ccbaa88dbca/src/test/java/org/cactoos/experimental/ThreadsTest.java#L51-L55

The puzzle was created by Yurii Dubinka on 08-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2018-12-08 20:32] 0crat commented on #972
Job [#972](https://github.com/yegor256/cactoos/issues/972) is now in scope, role is `DEV`

[2018-12-09 06:45] g4s8 commented on #971
@g4s8 sure, http calls are here just for example. `last` is a last page which is needed to fetch next page. But I'd use generic `Func<P, Iterator<T>>` here because page number will not work for any case, e.g. some APIs may provide a token in response to load next page, some APIs uses `since=<last-id>` param to fetch next page.

[2018-12-09 07:50] dgroup commented on #972
@llorllale, I'm ok to implement this, please assign it to me.

[2018-12-09 15:30] 0crat commented on #965
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-09 15:45] llorllale commented on #965
@0crat boost 2x

[2018-12-09 15:48] llorllale commented on #965
@0crat boost 4x

[2018-12-09 15:49] 0crat commented on #965
@llorllale Current boost factor of [#965](https://github.com/yegor256/cactoos/issues/965) is 2x, nothing changed

[2018-12-09 15:50] 0crat commented on #965
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-09 15:50] 0crat commented on #965
@llorllale @llorllale[/z](https://www.0crat.com/u/llorllale) not enough funds available in the project, can't set budget of job [#965](https://github.com/yegor256/cactoos/issues/965), see [§21](http://www.zerocracy.com/policy.html#21); @llorllale[/z](https://www.0crat.com/u/llorllale) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2018-12-09 15:50] 0crat commented on #965
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-09 16:02] llorllale commented on #965
@paulodamaso please check out ee09e136ed0aacaded12f7afe75f138af2213c76. Can we close this?

[2018-12-09 16:08] llorllale commented on #962
@dgroup I think we can close this

[2018-12-09 16:49] 0crat commented on #962
The job [#962](https://github.com/yegor256/cactoos/issues/962) is now out of scope

[2018-12-09 16:51] 0crat commented on #962
Order was finished: +30 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2018-12-09 17:06] llorllale commented on #972
@0crat assign @dgroup

[2018-12-09 17:07] 0crat commented on #972
@llorllale The job [#972](https://github.com/yegor256/cactoos/issues/972) assigned to @dgroup[/z](https://www.0crat.com/u/dgroup), here is [why](https://www.0crat.com/footprint/C63314D6Z/d2b9d0db-67c9-4e08-be08-5ff49a975426); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2018-12-09 17:12] 0crat commented on #972
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-10 12:03] g4s8 commented on #971
@llorllale it can be an argument in constructor:
[code]

[2018-12-11 00:35] llorllale commented on #864
@0crat assign @Iprogrammerr

[2018-12-11 00:38] paulodamaso commented on #891
@llorllale As a suggestion, maybe it's a better idea to update qulice version in this issue too. There are some dangerous code in cactoos that would fail in new qulice version checks (for example, https://pmd.github.io/latest/pmd_rules_java_performance.html#avoidfilestream).

[2018-12-11 00:47] 0crat commented on #864
@llorllale The job [#864](https://github.com/yegor256/cactoos/issues/864) assigned to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr), here is [why](https://www.0crat.com/footprint/C63314D6Z/702bf9d9-a7e1-4583-bfc1-0ff6b660cd84); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2018-12-11 00:48] llorllale commented on #929
@0crat assign @Iprogrammerr

[2018-12-11 00:49] 0crat commented on #864
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-11 00:55] 0crat commented on #929
@llorllale The job [#929](https://github.com/yegor256/cactoos/issues/929) assigned to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr), here is [why](https://www.0crat.com/footprint/C63314D6Z/1d9bfd02-e257-4ef0-8e38-394ce1be4a20); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2018-12-11 00:55] 0crat commented on #929
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-11 01:40] dgroup opened #976 "PathOf: New implementation of `o.c.Text` which supports repeatable arguments"
Very often we need the functionality like
[code]
therefore i propose to wrap it into some Text implementation like
[code]

[2018-12-11 01:40] 0crat commented on #976
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-11 16:09] llorllale commented on #976
@dgroup I don't see much value in this. You want implementations to transparently handle the system's path separator? Sounds like you need [`Paths.get()`](https://docs.oracle.com/javase/8/docs/api/java/nio/file/Paths.html#get-java.lang.String-java.lang.String...-), easily implemented as a scalar using `() -> Paths.get("you", "path", "to", "salvation")`.

[2018-12-12 00:39] dgroup commented on #976
@llorllale, thank you for the idea, it looks nice, thus I've tried immediately and was a disappointed a bit.
For example,
1. In order to receive path as String, i need to do the following
`Paths.get("your", "path", "to", "salvation").toAbsolutePath(),`
2. Moreover, it won't be just "your/path/to/salvation", it will be a
`/Users/yurii.dubinka/projects/xxx/yyyy/your/path/to/salvation` which is unexp

[2018-12-12 00:54] llorllale commented on #976
@dgroup I do not understand.

`Paths.get()` may return a relative path depending on its inputs. `toAbsolutePath()` will obviously return the full, absolute path.

How is this unexpected?

[2018-12-12 02:14] dgroup commented on #976
@llorllale, yes, that was mistake
[code]
works fine, closing...

[2018-12-12 02:14] #976 closed

[2018-12-12 02:31] 0crat commented on #976
Job `gh:yegor256/cactoos#976` is not assigned, can't get performer

[2018-12-12 02:31] 0crat commented on #976
This job is not in scope

[2018-12-17 12:29] StuporHero opened #977 "JoinedText: Accept Iterables with subtypes of Text"
I've got an interface that extends `Text`, and I'd like to use a collection of objects implementing this interface in a `JoinedText` to produce a comma-separated list. Due to the constructor for `JoinedText` using an `Iterable<Text>` instead of `Iterable<? extends Text>`, I cannot without first wrapping it with a `Mapped<>` and either casting each member of the collection to a `Text` (which violat

[2018-12-17 14:56] llorllale commented on #977
@StuporHero I don't see the issue. The following compiles:

[code]

[2018-12-17 15:06] StuporHero commented on #977
@llorllale That compiles because the type of your `new IterableOf<>` is being inferred as `Text` which is valid. The code I have looks more like this:
[code]

I think you'll find that this will not compile since the generic parameter is hard-coded to a value other than `Text`. That collection is being assigned in the constructor which uses that subclass because of some other assumptions I need to

[2018-12-17 15:20] llorllale commented on #977
@StuporHero so your problem is specifically with `JoinedText`? This issue's title refers to all `Text`s.

[2018-12-17 15:31] llorllale commented on #977
@StuporHero seems like it is.

Let's change this issue's title: `JoinedText: Accept Iterables with subtypes of Text`

[2018-12-18 03:04] llorllale commented on #977
@StuporHero fixed in d12d43bd9d8a26db527c8cc2eda3a109dd017d18. Can we close this issue? Do you need a release?

[2018-12-18 03:31] fabriciofx opened #978 "Let's implement a HashCode class"
Let's implement a HashCode class on the same way of Equality class. The idea is pass attributes/variables to the constructor and it returns a calculates the hash code of them.

[2018-12-18 03:31] 0crat commented on #978
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-18 19:26] #977 closed, assigned to nobody

[2018-12-18 19:45] 0crat commented on #977
Job `gh:yegor256/cactoos#977` is not assigned, can't get performer

[2018-12-18 19:45] 0crat commented on #977
This job is not in scope

[2018-12-19 13:06] llorllale commented on #978
@fabriciofx is what you require in essence some *hash* capability?

[2018-12-19 13:24] dgroup commented on #972
@0crat wait as #975 is raised.

[2018-12-20 17:49] llorllale commented on #971
@g4s8 ping

[2018-12-20 17:49] llorllale commented on #965
@paulodamaso ping

[2018-12-20 18:01] paulodamaso commented on #965
@llorllale this is great, much better now, please just fix the commit title if possible, it points ti ticket #956

[2018-12-20 18:49] #964 closed

[2018-12-20 18:49] 0pdd commented on #964
The puzzle `958-5fdfc15a` has disappeared from the source code, that's why I closed this issue.

[2018-12-20 18:49] 0pdd opened #980 "package-info.java:38-41: Continue applying the new class..."
The puzzle `964-1a0e1078` from #964 has to be resolved:

https://github.com/yegor256/cactoos/blob/be02845a55f191007cd60770a455b59d7320446d/src/main/java/org/cactoos/package-info.java#L38-L41

The puzzle was created by George Aristy on 20-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the pu

[2018-12-20 18:49] 0pdd commented on #980
This puzzle inherited milestone `1.0` from issue #964.

[2018-12-20 18:49] 0pdd commented on #913
@neonailol the puzzle [#980](https://github.com/yegor256/cactoos/issues/980) is still not solved; solved: [#958](https://github.com/yegor256/cactoos/issues/958), [#964](https://github.com/yegor256/cactoos/issues/964).

[2018-12-20 18:49] 0pdd commented on #958
@0pdd the puzzle [#980](https://github.com/yegor256/cactoos/issues/980) is still not solved; solved: [#964](https://github.com/yegor256/cactoos/issues/964).

[2018-12-20 18:49] 0pdd commented on #964
@0pdd the puzzle [#980](https://github.com/yegor256/cactoos/issues/980) is still not solved.

[2018-12-20 18:50] 0crat commented on #980
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-20 18:56] 0crat commented on #980
Job [#980](https://github.com/yegor256/cactoos/issues/980) is now in scope, role is `DEV`

[2018-12-20 19:06] 0crat commented on #964
Job `gh:yegor256/cactoos#964` is not assigned, can't get performer

[2018-12-20 19:06] 0crat commented on #964
The job [#964](https://github.com/yegor256/cactoos/issues/964) is now out of scope

[2018-12-20 19:10] paulodamaso commented on #965
@llorllale So sad,..

[2018-12-20 19:10] #965 closed

[2018-12-20 19:34] 0crat commented on #965
The job [#965](https://github.com/yegor256/cactoos/issues/965) is now out of scope

[2018-12-20 19:34] 0crat commented on #965
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-12-21 03:49] fabriciofx commented on #978
@llorllale I'm thinking a way to add hash capability just using composition, instead of reimplement the content of `hashCode()` method to each class which need this feature (the same way of `Equals` or `Equality`). My ideia is if we've both functionalities (equals/hashcode) we can use reuse them and thus we can do the same lombok functionality does with `@EqualsAndHashCode`.

[2018-12-22 11:24] dgroup opened #981 "TextBefore, TextAfter"
I've checked the https://github.com/yegor256/cactoos/tree/master/src/main/java/org/cactoos/text package but I couldn't find functionality to cut text without specifying of the position (SubText).

[code]
or
[code]

[2018-12-22 18:02] shan7030 opened #982 "Can we add a 'BitwiseAnd' function"
I want to add a 'BitwiseAnd' function that will return the result of Anding Bitwise every element of the array

[code]

[2018-12-22 18:02] 0crat commented on #982
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-22 18:02] 0crat commented on #982
@shan7030[/z](https://www.0crat.com/u/shan7030) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-30 17:47] dgroup opened #983 "FirstIn implements Scalar<T> - Do we have any functionality which allows us for iterable of scalars receive the first value, skipping scalars which throw the exception(s)?"
Do we have any functionality which allows us for iterable of scalars receive the first value, skipping scalars which throw the exception(s)?
For example
[code]
This is kind of `Or` statement where instead of `Boolean` we may receive particular <T>.

[2018-12-30 17:48] 0crat commented on #983
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-31 22:39] fabriciofx opened #984 "Enumeration support"
Let's add `Enumeration` support, for example, in `ListOf` (a new constructor).

[2018-12-31 22:39] 0crat commented on #984
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-12-31 23:02] fabriciofx commented on #944
@yegor256 @skapral @llorllale @victornoel @mdbs99 @paulodamaso Ok, I was convinced. @skapral is right. Let's remove checked exceptions because it's more a hindrance than a help. See also [yergor256/takes#920](https://github.com/yegor256/takes/issues/920).

[2019-01-01 16:03] fabriciofx opened #985 "Let's update Copyright notice to 2019"
Let's update Copyright notice to 2019.

[2019-01-01 16:03] 0crat commented on #985
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-02 00:34] fabriciofx commented on #984
@svendiedrichsen @llorllale I see two problems: 1) Unfortunately, there are some old APIs still use `Enumeration`, like ` HttpServletRequest` and others. 2) `Enumeration` does not extend` Iterable` or has any relation with ` Iterator`. So, to be usable as `Iterable` should do something like` ListOf <> (Collections.list (enumeration)) ` which means usage of static methods, what we would like avoid

[2019-01-02 01:00] fabriciofx commented on #982
@shan7030 Just for curiosity: in which context is it useful?

[2019-01-02 11:05] svendiedrichsen commented on #984
@fabriciofx
1) there are always old APIs out there. I would not adapt the new Cactoos API to all the ancient stuff out there. Who ever uses these old APIs would have to provide the code to adapt. Something like `ListOf <> (Collections.list (enumeration))`
2) Leave it to the Cactoos user to handle old APIs with code like `ListOf <> (Collections.list (enumeration))`

[2019-01-02 13:04] llorllale commented on #984
@fabriciofx we won't include `Enumeration` in scope for all reasons stated by @svendiedrichsen : a) it's a really ancient and deprecated API, and b) we decided to move away from iterators in #911

[2019-01-02 13:04] #984 closed

[2019-01-02 13:18] llorllale commented on #982
@shan7030 does Guava or Apache Commons provide this?

[2019-01-02 13:22] 0crat commented on #984
Job `gh:yegor256/cactoos#984` is not assigned, can't get performer

[2019-01-02 13:22] 0crat commented on #984
This job is not in scope

[2019-01-02 15:14] llorllale commented on #983
@dgroup not directly, no. You'd have to compose a solution using our existing primitives.

[2019-01-02 15:59] llorllale commented on #981
@0crat in

[2019-01-02 16:00] 0crat commented on #981
@llorllale Job [#981](https://github.com/yegor256/cactoos/issues/981) is now in scope, role is `DEV`

[2019-01-02 16:06] 0crat commented on #981
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2019-01-02 16:38] dgroup commented on #983
@llorllale I've just found recently that https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/scalar/FirstOf.java has similar behavior, but it looks too complex for this solution.

I'll add this functionality to the project as non-cactoos class.

[2019-01-02 16:38] #983 closed

[2019-01-02 16:54] 0crat commented on #983
Job `gh:yegor256/cactoos#983` is not assigned, can't get performer

[2019-01-02 16:54] 0crat commented on #983
This job is not in scope

[2019-01-02 20:40] llorllale commented on #978
@fabriciofx I don't see the value in this `HashCode` class.

I also do not like `Equality` at a fundamental level.

[2019-01-03 08:46] Shryne opened #986 "Fix the license link in the pom"
https://github.com/yegor256/cactoos/blob/be02845a55f191007cd60770a455b59d7320446d/pom.xml#L44-L50

This link is dead.

[2019-01-03 08:46] 0crat commented on #986
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-03 08:46] 0crat commented on #986
@shryne[/z](https://www.0crat.com/u/shryne) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-03 10:21] 0crat commented on #852
The job [#852](https://github.com/yegor256/cactoos/issues/852) assigned to @dgroup[/z](https://www.0crat.com/u/dgroup), here is [why](https://www.0crat.com/footprint/C63314D6Z/776028c9-7076-45c8-bf31-dcbc863151a0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-01-03 10:21] 0crat commented on #980
The job [#980](https://github.com/yegor256/cactoos/issues/980) assigned to @dgroup[/z](https://www.0crat.com/u/dgroup), here is [why](https://www.0crat.com/footprint/C63314D6Z/e757a0a4-9ad5-496f-8454-7fc717bd8d8c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-01-03 10:30] 0crat commented on #910
The job [#910](https://github.com/yegor256/cactoos/issues/910) assigned to @dgroup[/z](https://www.0crat.com/u/dgroup), here is [why](https://www.0crat.com/footprint/C63314D6Z/9ddc4cb4-d900-4c57-8a10-1a0b8dde14ed); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-01-03 10:31] 0crat commented on #911
The job [#911](https://github.com/yegor256/cactoos/issues/911) assigned to @verkhovin[/z](https://www.0crat.com/u/verkhovin), here is [why](https://www.0crat.com/footprint/C63314D6Z/8c0ad291-2db2-48f2-b939-59ee953120a2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-01-03 12:34] llorllale commented on #986
@0crat in

[2019-01-03 12:35] llorllale commented on #986
@yegor256 should we point to the repo's License file?

[2019-01-03 12:45] 0crat commented on #986
@llorllale Job [#986](https://github.com/yegor256/cactoos/issues/986) is now in scope, role is `DEV`

[2019-01-03 12:48] 0crat commented on #986
@llorllale Thanks for your contribution, @shryne[/z](https://www.0crat.com/u/shryne)! If you would be a member of [the project](https://www.0crat.com/p/C63314D6Z), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-01-03 13:45] dgroup commented on #910
@0crat wait as #987 raised.

[2019-01-03 13:46] 0crat commented on #910
@dgroup The impediment for [#910](https://github.com/yegor256/cactoos/issues/910) was registered successfully by @dgroup[/z](https://www.0crat.com/u/dgroup)

[2019-01-03 15:57] llorllale commented on #986
@0crat wait

[2019-01-03 15:58] 0crat commented on #986
@llorllale[/z](https://www.0crat.com/u/llorllale) not enough funds available in the project, can't set budget of job [#986](https://github.com/yegor256/cactoos/issues/986), see [§21](http://www.zerocracy.com/policy.html#21); @llorllale[/z](https://www.0crat.com/u/llorllale) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-03 15:58] 0crat commented on #986
@llorllale The impediment for [#986](https://github.com/yegor256/cactoos/issues/986) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-03 15:58] 0crat commented on #986
@llorllale Job [#986](https://github.com/yegor256/cactoos/issues/986) is not in the agenda of @llorllale[/z](https://www.0crat.com/u/llorllale), can't set impediment

[2019-01-03 15:58] 0crat commented on #986
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-03 16:00] llorllale opened #988 "PRs: commit linting"
There have been several commits with messages that don't meet our quality standards. I will attempt to enforce some rules using [gitlint](https://github.com/jorisroovers/gitlint).

[2019-01-03 16:01] 0crat commented on #988
@llorllale[/z](https://www.0crat.com/u/llorllale) not enough funds available in the project, can't set budget of job [#988](https://github.com/yegor256/cactoos/issues/988), see [§21](http://www.zerocracy.com/policy.html#21); @llorllale[/z](https://www.0crat.com/u/llorllale) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-03 16:06] 0crat commented on #988
Job `gh:yegor256/cactoos#988` already assigned to @llorllale, can't assign to @llorllale

[2019-01-03 16:13] 0crat commented on #988
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-03 16:15] 0crat commented on #988
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-03 16:15] 0crat commented on #988
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-03 17:05] 0crat commented on #884
The job [#884](https://github.com/yegor256/cactoos/issues/884) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/C63314D6Z/9f908c74-757c-478a-8994-47f735867aaa); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-01-03 18:52] dgroup commented on #910
@neonailol, the PR was merged.
Could you please check the results?
Can we close the ticket?

[2019-01-03 19:01] ammaratef45 commented on #884
@llorllale
I noticed that the name of the class changed from AsyncFunc to Async,
I see in #551 @SharplEr made another FunOf that doesn't take a result as a parameter, why this solution isn't there? I see it was accepted by the reviewer at the end

[2019-01-03 19:33] dgroup commented on #852
@0crat wait as #990 is raised.

[2019-01-03 19:41] 0crat commented on #852
@dgroup The impediment for [#852](https://github.com/yegor256/cactoos/issues/852) was registered successfully by @dgroup[/z](https://www.0crat.com/u/dgroup)

[2019-01-03 21:11] llorllale commented on #884
@ammaratef45 provide link please

[2019-01-03 21:16] ammaratef45 commented on #884
@llorllale
https://github.com/SharplEr/cactoos/commit/1f687cf04281c8ea1483d0964468b7fe6848a57a
This is one of his commits,
The whole discussion is at #551 too

[2019-01-03 21:23] llorllale commented on #901
@0crat refuse

[2019-01-04 02:51] dgroup opened #991 "Use @Rule Exception instead of @Test(expected=XxxException.class)"
Use in all unit-tests the
[code]
in favor of
[code]
as it allows to check the error messages also, not the only type of exception.

[2019-01-04 02:51] 0crat commented on #991
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-04 11:23] ammaratef45 commented on #884
@llorllale @0crat
waiting for clarification

[2019-01-04 11:23] 0crat commented on #884
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos/issues/884#issuecomment-451418840); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-01-04 13:11] llorllale commented on #884
@ammaratef45 what code is it that you're not seeing in the master branch? The PR you referenced to earlier was merged [to the master branch].

[2019-01-04 13:12] llorllale commented on #991
@dgroup actually I plan on using the newer features from `cactoos-matchers`

[2019-01-04 13:12] #991 closed

[2019-01-04 13:33] 0crat commented on #991
Job `gh:yegor256/cactoos#991` is not assigned, can't get performer

[2019-01-04 13:35] 0crat commented on #991
This job is not in scope

[2019-01-04 20:12] fabriciofx opened #992 "Gitlint doesn't work on Windows"
Gitlint doesn't work in Windows as you can see [here](https://github.com/jorisroovers/gitlint/issues/20) and affects the issue #988. So this bug doesn't permit run the entire build locally.

[2019-01-04 20:12] 0crat commented on #992
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-05 07:15] dgroup commented on #980
@0crat wait as clarification is required for this task.

[2019-01-05 07:16] 0crat commented on #980
@dgroup The impediment for [#980](https://github.com/yegor256/cactoos/issues/980) was registered successfully by @dgroup[/z](https://www.0crat.com/u/dgroup)

[2019-01-05 07:34] dgroup commented on #980
@llorllale, as i understood we need to rename the classes from the following packages in order to avoid compound names:
 - scalar
 - set
 - text
 - time

Do we need to rename the `*Envelope` classes?

Also, as far as I can see there are a lot of implementations of `Bytes` present in `*.io` package and has the same problem like `CheckedBytes`, `UncheckedBytes`, etc.
What should be done with them?

[2019-01-06 11:00] dgroup opened #994 "FormattedText should extend TextEnvelope"
Now the `FormattedText` doesn't extend `TextEnvelope` thus such methods like `toString`, `hashCode`, `equals` have default implementation.

[2019-01-06 11:00] 0crat commented on #994
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-06 17:40] Shryne opened #996 "Make ListEnvelope public"
As the title says, make [ListEnvelope](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/list/ListEnvelope.java) public so that I, as a user, can use it. I would prefer that instead of creating my own version of it. Similar classes (like [MapEnvelope](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/map/MapEnvelope.java) or [CollectionEnvelope](http

[2019-01-06 17:40] 0crat commented on #996
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-06 17:40] 0crat commented on #996
@shryne[/z](https://www.0crat.com/u/shryne) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-07 21:21] 0crat commented on #884
The job [#884](https://github.com/yegor256/cactoos/issues/884) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C63314D6Z/9a3efd10-eeb9-4f2c-b79a-0c0f0df8ac95); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-01-08 21:07] 0crat commented on #885
The job [#885](https://github.com/yegor256/cactoos/issues/885) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/0dace555-edfb-41eb-8a63-6dc7992faaf5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-01-10 01:04] llorllale commented on #988
@llorllale fixed in #989

[2019-01-10 01:04] #988 closed

[2019-01-10 01:20] 0crat commented on #988
Job [#988](https://github.com/yegor256/cactoos/issues/988) is not in the agenda of @llorllale[/z](https://www.0crat.com/u/llorllale), can't retrieve data and time of add

[2019-01-10 01:40] llorllale commented on #994
@dgroup this is a duplicate of #929

[2019-01-10 01:40] #994 closed

[2019-01-10 01:52] llorllale commented on #996
@0crat in

[2019-01-10 01:58] 0crat commented on #996
@llorllale Job [#996](https://github.com/yegor256/cactoos/issues/996) is now in scope, role is `DEV`

[2019-01-10 02:02] 0crat commented on #994
Job `gh:yegor256/cactoos#994` is not assigned, can't get performer

[2019-01-10 02:02] 0crat commented on #996
@llorllale Thanks for your contribution, @shryne[/z](https://www.0crat.com/u/shryne)! If you would be a member of [the project](https://www.0crat.com/p/C63314D6Z), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-01-10 02:02] 0crat commented on #994
This job is not in scope

[2019-01-10 02:16] llorllale opened #997 "Rultor merge build broken"
See [error](https://github.com/yegor256/cactoos/pull/995#issuecomment-452941691).

Solution is to `sudo apt install python-pip` before `sudo pip install gitlint`.

PRs blocked by this: #995, #975

[2019-01-10 02:16] llorllale commented on #997
@0crat in

[2019-01-10 02:16] llorllale commented on #997
@0crat assign me

[2019-01-10 02:30] 0crat commented on #997
@llorllale Job [#997](https://github.com/yegor256/cactoos/issues/997) is already in scope

[2019-01-10 02:33] 0crat commented on #997
The job [#997](https://github.com/yegor256/cactoos/issues/997) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C63314D6Z/9fcd8db1-42ff-4d55-bb89-72957c377a6d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-01-10 02:35] 0crat commented on #997
@llorllale Job `gh:yegor256/cactoos#997` already assigned to @llorllale, can't assign to @llorllale

[2019-01-10 02:35] 0crat commented on #997
Job `gh:yegor256/cactoos#997` already assigned to @llorllale, can't assign to @llorllale

[2019-01-10 02:43] 0crat commented on #997
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-10 02:45] 0crat commented on #997
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-10 02:45] 0crat commented on #997
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-10 02:45] 0crat commented on #997
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-10 02:45] 0crat commented on #997
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-10 11:56] dgroup opened #999 "`org.catoos.io`/`org.cactoos.func` vs compound names"
Let's continue our discussion from https://github.com/yegor256/cactoos/issues/980#issuecomment-451635074.

There are a lot of implementations of `Bytes` present in `*.io` package and these implementation has compound names, like `CheckedBytes`, `UncheckedBytes`, etc.
What should be done with them?

I would like to highlight that in order to avoid the compound names all implementations of `Input`,

[2019-01-10 11:56] 0crat commented on #999
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-10 14:05] #997 closed

[2019-01-10 14:23] 0crat commented on #997
Job was finished in 11 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-10 14:32] 0crat commented on #997
The job [#997](https://github.com/yegor256/cactoos/issues/997) is now out of scope

[2019-01-10 14:50] llorllale commented on #999
@dgroup

What should be done with them?

Move them to the existing `org.cactoos.bytes` package.

I would rather wait for #915 before determining whether this reshuffling is worth it.

[2019-01-10 15:48] #972 closed

[2019-01-10 15:48] 0pdd commented on #972
The puzzle `962-d3b6c3c8` has disappeared from the source code, that's why I closed this issue.

[2019-01-10 15:48] 0pdd opened #1000 "Threads.java:43-45:..."
The puzzle `972-6ba919a9` from #972 has to be resolved:

https://github.com/yegor256/cactoos/blob/c425c369fce5dac1fb7b019d531303d4149fa8e2/src/main/java/org/cactoos/experimental/Threads.java#L43-L45

The puzzle was created by @dgroup on 12-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-01-10 15:48] 0pdd commented on #962
@dgroup the puzzle [#1000](https://github.com/yegor256/cactoos/issues/1000) is still not solved; solved: [#972](https://github.com/yegor256/cactoos/issues/972).

[2019-01-10 15:48] 0pdd commented on #972
@0pdd the puzzle [#1000](https://github.com/yegor256/cactoos/issues/1000) is still not solved.

[2019-01-10 15:49] 0crat commented on #1000
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-10 16:00] 0crat commented on #1000
Job [#1000](https://github.com/yegor256/cactoos/issues/1000) is now in scope, role is `DEV`

[2019-01-10 16:25] 0crat commented on #972
The job [#972](https://github.com/yegor256/cactoos/issues/972) is now out of scope

[2019-01-10 16:26] 0crat commented on #972
Order was finished: +30 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2019-01-10 19:31] dgroup commented on #994
@llorllale, please ignore my comment, I've checked the wrong issue.

[2019-01-10 21:38] verkhovin commented on #911
@llorllale does this ticket assume that I should remove all ctors with Iterator parameters as it made in #677?

[2019-01-11 14:06] neonailol commented on #872
@llorllale yes, this issue can be closed

[2019-01-11 14:06] #872 closed

[2019-01-11 14:08] neonailol commented on #910
@dgroup yes, this issue can be closed

[2019-01-11 14:38] 0crat commented on #872
The project doesn't have enough funds, can't make a payment

[2019-01-11 14:39] 0crat commented on #872
The job [#872](https://github.com/yegor256/cactoos/issues/872) is now out of scope

[2019-01-11 14:39] 0crat commented on #872
Order was finished: +30 point(s) just awarded to @danielpalafox[/z](https://www.0crat.com/u/danielpalafox)

[2019-01-11 14:44] 0crat commented on #872
The project doesn't have enough funds, can't make a payment

[2019-01-11 17:50] dgroup commented on #910
@llorllale please close the ticket as requestor approved the fix.

[2019-01-11 19:51] #910 closed

[2019-01-11 20:19] 0crat commented on #910
The job [#910](https://github.com/yegor256/cactoos/issues/910) is now out of scope

[2019-01-11 20:22] 0crat commented on #910
Order was finished: +30 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2019-01-12 03:11] fabriciofx commented on #992
@llorllale I think possible run correctly in "linux" environment on Windows 10, but the question is: should we use a tool can't run properly on main (Linux, macOS and Windows) OSes? See cactoos: it runs perfectly on Windows because we test it on Appveyor. So, I think all tools to build cactoos should run on all OSes that run cactoos too.

[2019-01-12 23:50] verkhovin commented on #911
@0crat wait for #1001 review

[2019-01-12 23:53] 0crat commented on #911
@verkhovin The impediment for [#911](https://github.com/yegor256/cactoos/issues/911) was registered successfully by @verkhovin[/z](https://www.0crat.com/u/verkhovin)

[2019-01-14 08:04] victornoel commented on #885
@0crat wait I'm going to do it, just a bit late on schedule

[2019-01-14 08:05] 0crat commented on #885
@victornoel The impediment for [#885](https://github.com/yegor256/cactoos/issues/885) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-01-14 14:52] 0pdd commented on #980
The puzzle `964-1a0e1078` has disappeared from the source code, that's why I closed this issue.

[2019-01-14 14:52] #980 closed

[2019-01-14 14:52] 0pdd opened #1003 "package-info.java:29-32: Continue applying the new class..."
The puzzle `980-c8642680` from #980 has to be resolved:

https://github.com/yegor256/cactoos/blob/247e34b1878784cc74674e421b44729c53dbfe74/src/main/java/org/cactoos/set/package-info.java#L29-L32

The puzzle was created by @rultor on 14-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2019-01-14 14:52] 0pdd commented on #1003
This puzzle inherited milestone `1.0` from issue #980.

[2019-01-14 14:53] 0pdd opened #1004 "Base64Text.java:34-36: Define new name for Base64Text and..."
The puzzle `980-4cee6100` from #980 has to be resolved:

https://github.com/yegor256/cactoos/blob/247e34b1878784cc74674e421b44729c53dbfe74/src/main/java/org/cactoos/text/Base64Text.java#L34-L36

The puzzle was created by @rultor on 14-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzl

[2019-01-14 14:53] 0pdd commented on #1004
This puzzle inherited milestone `1.0` from issue #980.

[2019-01-14 14:53] 0crat commented on #1003
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-14 14:53] 0pdd opened #1005 "package-info.java:29-32: Continue applying the new class..."
The puzzle `980-cde865ee` from #980 has to be resolved:

https://github.com/yegor256/cactoos/blob/247e34b1878784cc74674e421b44729c53dbfe74/src/main/java/org/cactoos/text/package-info.java#L29-L32

The puzzle was created by @rultor on 14-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puz

[2019-01-14 14:53] 0pdd commented on #1005
This puzzle inherited milestone `1.0` from issue #980.

[2019-01-14 14:53] 0pdd opened #1006 "package-info.java:29-32: Classes from package {@link..."
The puzzle `980-a6f67b21` from #980 has to be resolved:

https://github.com/yegor256/cactoos/blob/247e34b1878784cc74674e421b44729c53dbfe74/src/main/java/org/cactoos/time/package-info.java#L29-L32

The puzzle was created by rultor on 14-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2019-01-14 14:53] 0pdd commented on #1006
This puzzle inherited milestone `1.0` from issue #980.

[2019-01-14 14:53] 0crat commented on #1005
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-14 14:54] 0pdd opened #1007 "package-info.java:29-32: Continue applying the new class..."
The puzzle `980-ea22ff49` from #980 has to be resolved:

https://github.com/yegor256/cactoos/blob/247e34b1878784cc74674e421b44729c53dbfe74/src/main/java/org/cactoos/scalar/package-info.java#L29-L32

The puzzle was created by rultor on 14-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the pu

[2019-01-14 14:54] 0pdd commented on #1007
This puzzle inherited milestone `1.0` from issue #980.

[2019-01-14 14:54] 0pdd commented on #913
@neonailol 5 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1007](https://github.com/yegor256/cactoos/issues/1007) are still not solved; solved: [#958](https://github.com/yegor256/cactoos/issues/958), [#96

[2019-01-14 14:54] 0pdd commented on #958
@0pdd 5 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1007](https://github.com/yegor256/cactoos/issues/1007) are still not solved; solved: [#964](https://github.com/yegor256/cactoos/issues/964), [#980](ht

[2019-01-14 14:54] 0pdd commented on #964
@0pdd 5 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1007](https://github.com/yegor256/cactoos/issues/1007) are still not solved; solved: [#980](https://github.com/yegor256/cactoos/issues/980).

[2019-01-14 14:54] 0crat commented on #1004
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-14 14:54] 0pdd commented on #980
@0pdd 5 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1007](https://github.com/yegor256/cactoos/issues/1007) are still not solved.

[2019-01-14 14:55] 0crat commented on #1007
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-14 14:55] 0crat commented on #1006
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-14 14:58] 0crat commented on #1003
Job [#1003](https://github.com/yegor256/cactoos/issues/1003) is now in scope, role is `DEV`

[2019-01-14 15:00] 0crat commented on #1005
Job [#1005](https://github.com/yegor256/cactoos/issues/1005) is now in scope, role is `DEV`

[2019-01-14 15:01] 0crat commented on #1004
Job [#1004](https://github.com/yegor256/cactoos/issues/1004) is now in scope, role is `DEV`

[2019-01-14 15:02] 0crat commented on #1007
Job [#1007](https://github.com/yegor256/cactoos/issues/1007) is now in scope, role is `DEV`

[2019-01-14 15:04] 0crat commented on #1006
Job [#1006](https://github.com/yegor256/cactoos/issues/1006) is now in scope, role is `DEV`

[2019-01-14 15:21] 0crat commented on #980
The job [#980](https://github.com/yegor256/cactoos/issues/980) is now out of scope

[2019-01-14 15:23] 0crat commented on #980
Order was finished: +30 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2019-01-14 23:52] 0crat commented on #886
The job [#886](https://github.com/yegor256/cactoos/issues/886) assigned to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr), here is [why](https://www.0crat.com/footprint/C63314D6Z/6c2494e7-585a-44ec-81b6-a02969fc3925); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-15 00:03] 0crat commented on #888
The job [#888](https://github.com/yegor256/cactoos/issues/888) assigned to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr), here is [why](https://www.0crat.com/footprint/C63314D6Z/6dc8c0a2-cc77-4a32-94cb-3b396dc54058); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-15 00:07] 0crat commented on #898
The job [#898](https://github.com/yegor256/cactoos/issues/898) assigned to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr), here is [why](https://www.0crat.com/footprint/C63314D6Z/f54f6876-7a17-4229-b25f-c085a38ae84d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-15 02:50] llorllale commented on #911
@verkhovin

Yes.

[2019-01-15 02:53] llorllale commented on #982
@shan7030 ping

[2019-01-15 02:54] llorllale commented on #971
@g4s8 ping

[2019-01-15 06:53] Iprogrammerr opened #1008 "Mutable collections"
We should create MutableCollectionEnvelope. Objects immutability is our core principle, but I think that mutability of collections is something different and it is often the case that we need them (#898).

[2019-01-15 06:53] 0crat commented on #1008
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-15 06:55] Iprogrammerr commented on #898
@0crat waiting on outcome of #1008

[2019-01-15 10:43] g4s8 commented on #971
@llorllale this is simple working prototype that can be used for implementation:
[code]

[2019-01-15 11:47] wladyan commented on #1008
@Iprogrammerr I think envelopes must be orthogonal to immutability principle (#947).

[2019-01-15 17:21] 0crat commented on #891
The job [#891](https://github.com/yegor256/cactoos/issues/891) assigned to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov), here is [why](https://www.0crat.com/footprint/C63314D6Z/bd9419c4-2d6b-493d-aa65-c810fcdaecf3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-01-15 20:23] Iprogrammerr commented on #1008
@wladyan I agree. I propose to refactor CollectionEnvelope so that it does not care about immutability as described in #947. We then could add ImmutableCollection decorator that will work in the same manner as CollectionEnvelope is right now. I am willing to do that. @llorllale  WDYT?

[2019-01-16 01:34] llorllale commented on #992
@fabriciofx I'm working on this

[2019-01-16 01:53] llorllale commented on #1008
@Iprogrammerr this is a duplicate of #947

[2019-01-16 01:53] #1008 closed

[2019-01-16 01:59] 0pdd opened #1015 "Func.java:65-67: Move NoNulls implementations of Func,..."
The puzzle `852-703228b2` from #852 has to be resolved:

https://github.com/yegor256/cactoos/blob/de9031f0d59ec0f5405871c6080e445beacafde5/src/main/java/org/cactoos/Func.java#L65-L67

The puzzle was created by @rultor on 16-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remov

[2019-01-16 01:59] 0pdd commented on #1015
This puzzle inherited milestone `1.0` from issue #852.

[2019-01-16 01:59] 0pdd opened #1016 "Input.java:62-64: Move NoNulls implementations of Input,..."
The puzzle `852-196f2f04` from #852 has to be resolved:

https://github.com/yegor256/cactoos/blob/de9031f0d59ec0f5405871c6080e445beacafde5/src/main/java/org/cactoos/Input.java#L62-L64

The puzzle was created by rultor on 16-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remov

[2019-01-16 01:59] 0pdd commented on #1016
This puzzle inherited milestone `1.0` from issue #852.

[2019-01-16 02:00] 0pdd opened #1017 "CollectionNoNulls.java:39-41: Rename XxxNoNulls..."
The puzzle `852-72b3f84c` from #852 has to be resolved:

https://github.com/yegor256/cactoos/blob/de9031f0d59ec0f5405871c6080e445beacafde5/src/main/java/org/cactoos/collection/CollectionNoNulls.java#L39-L41

The puzzle was created by rultor on 16-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-01-16 02:00] 0pdd commented on #1017
This puzzle inherited milestone `1.0` from issue #852.

[2019-01-16 02:00] 0pdd commented on #852
@fabriciofx 3 puzzles [#1015](https://github.com/yegor256/cactoos/issues/1015), [#1016](https://github.com/yegor256/cactoos/issues/1016), [#1017](https://github.com/yegor256/cactoos/issues/1017) are still not solved.

[2019-01-16 02:00] 0crat commented on #1016
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-16 02:01] 0crat commented on #1017
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-16 02:08] fabriciofx commented on #992
@llorllale Thanks! Just for curiosity: will you send some patch to gitlint project?

[2019-01-16 02:22] 0crat commented on #1015
Job [#1015](https://github.com/yegor256/cactoos/issues/1015) is now in scope, role is `DEV`

[2019-01-16 02:22] 0crat commented on #1017
Job [#1017](https://github.com/yegor256/cactoos/issues/1017) is now in scope, role is `DEV`

[2019-01-16 02:22] 0crat commented on #1016
Job [#1016](https://github.com/yegor256/cactoos/issues/1016) is now in scope, role is `DEV`

[2019-01-16 14:02] marceloamadeu commented on #884
@0crat wait

[2019-01-16 21:43] llorllale commented on #992
@fabriciofx I plan on implementing this from scratch. Shouldn't be that hard.

[2019-01-16 21:43] llorllale commented on #992
@fabriciofx in the meantime, I suggest you try some of the workarounds suggested

[2019-01-16 21:50] fabriciofx commented on #992
@llorllale ok. Thanks!

[2019-01-16 21:52] Iprogrammerr commented on #1016
It is impossible to move Input.NoNulls and Output.NoNulls to io package due to naming collision. Renaming them to InputNoNulls and OutputNoNulls will contradict #852. If we want to be consistent with new naming convention stated in #913, we have to split io package to input and output. @llorllale WDYT?

[2019-01-16 22:01] Iprogrammerr commented on #1015
Func, BiFunc nad Proc implementations are all in func package. Moving their inner NoNulls classes can not be done without naming collisions or contradicting new classes naming convention. See #1016

[2019-01-16 22:19] fabriciofx commented on #1016
@Iprogrammerr I like the idea. Look I think this refactoring detected a design problem: too much classes inside the same package. So, a solution is divide Input/Output classes in two packages: input and output. IMHO perfect!

[2019-01-17 20:26] Iprogrammerr commented on #1016
@fabriciofx Thanks, exactly. I would say that the same holds true for func package. There are func, bifunc and proc implementations. See #1015.

[2019-01-18 00:35] marceloamadeu commented on #884
@0crat wait

[2019-01-18 00:39] 0crat commented on #884
@marceloamadeu Job [#884](https://github.com/yegor256/cactoos/issues/884) is already on hold

[2019-01-18 01:43] #1017 closed

[2019-01-18 01:43] 0pdd commented on #1017
The puzzle `852-72b3f84c` has disappeared from the source code, that's why I closed this issue.

[2019-01-18 01:43] 0pdd commented on #852
@fabriciofx 2 puzzles [#1015](https://github.com/yegor256/cactoos/issues/1015), [#1016](https://github.com/yegor256/cactoos/issues/1016) are still not solved; solved: [#1017](https://github.com/yegor256/cactoos/issues/1017).

[2019-01-18 02:00] 0crat commented on #1017
Job `gh:yegor256/cactoos#1017` is not assigned, can't get performer

[2019-01-18 02:00] 0crat commented on #1017
The job [#1017](https://github.com/yegor256/cactoos/issues/1017) is now out of scope

[2019-01-18 02:18] llorllale commented on #971
@g4s8 I'm not fond of the design, mostly because of `Page`:

* new artificial type specifically for this functionality (ie 'special')
* hard to see how it can be meaningfully composed with our other primitives

I now also think this should ideally be implemented as an additional ctor of `IterableOf` or `IteratorOf`.

So perhaps a better solution would look something like this:
[code]

This complet

[2019-01-18 04:21] fabriciofx opened #1022 "Temporary folder"
Let's create a class that permits create a temporary folder. The idea is similar which `TempFile` does, but to a folder.

[2019-01-18 04:21] 0crat commented on #1022
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-18 06:54] g4s8 commented on #971
@llorllale as I understand user has to implemente this `Page implements Iterable<T>` byself, right?
I think it should work.

[2019-01-18 15:40] llorllale commented on #1022
@0crat in

[2019-01-18 15:54] 0crat commented on #1022
@llorllale Job [#1022](https://github.com/yegor256/cactoos/issues/1022) is now in scope, role is `DEV`

[2019-01-18 16:07] 0crat commented on #1022
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-18 19:24] fabriciofx opened #1023 "Replace use of "@Rule ExpectedException" with new Throws matcher introduced in cactoos-matchers 0.13"
Let's update do cactoos-matchers 0.13. This update is necessary to use `Throws` class to avoid exception rule at tests.

[2019-01-18 19:25] 0crat commented on #1023
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-18 19:38] fabriciofx commented on #1023
@llorllale done.

[2019-01-18 19:43] 0crat commented on #1004
Job `gh:yegor256/cactoos#1004` is not assigned, can't get performer

[2019-01-18 19:46] 0crat commented on #1004
The job [#1004](https://github.com/yegor256/cactoos/issues/1004) is now out of scope

[2019-01-18 19:46] llorllale commented on #1023
@0crat in

[2019-01-18 19:52] 0crat commented on #1023
@llorllale Job [#1023](https://github.com/yegor256/cactoos/issues/1023) is now in scope, role is `DEV`

[2019-01-18 19:59] 0crat commented on #1023
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-18 20:37] Serranya opened #1024 "TeeInput might leak"
Consider the following Code from the examples section of the README:

[code]

Because of https://github.com/yegor256/cactoos/pull/820 the `OutputStream` obtained from `File` will not be closed. It's also impossible for us to close the stream manually because the reference is lost. We just leave the resource open for the rest of the application.

I hit the problem in https://github.com/yegor256/tak

[2019-01-18 20:37] 0crat commented on #1024
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-18 20:37] 0crat commented on #1024
@serranya[/z](https://www.0crat.com/u/serranya) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-19 00:32] 0pdd commented on #1007
The puzzle `980-ea22ff49` has disappeared from the source code, that's why I closed this issue.

[2019-01-19 00:32] #1007 closed

[2019-01-19 00:32] 0pdd opened #1025 "package-info.java:29-32: Continue applying the new class..."
The puzzle `1007-e4b38199` from #1007 has to be resolved:

https://github.com/yegor256/cactoos/blob/36c467af1dffb08d90d586461d5e835fdf531dbb/src/main/java/org/cactoos/scalar/package-info.java#L29-L32

The puzzle was created by igor on 18-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the pu

[2019-01-19 00:32] 0pdd commented on #913
@neonailol 4 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1025](https://github.com/yegor256/cactoos/issues/1025) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1007](https://github.com/yegor256/cactoos/issues/1007), [#

[2019-01-19 00:32] 0pdd commented on #958
@0pdd 4 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1025](https://github.com/yegor256/cactoos/issues/1025) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1007](https://github.com/yegor256/cactoos/issues/1007), [#964](

[2019-01-19 00:32] 0pdd commented on #964
@0pdd 4 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1025](https://github.com/yegor256/cactoos/issues/1025) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1007](https://github.com/yegor256/cactoos/issues/1007), [#980](

[2019-01-19 00:32] 0pdd commented on #980
@0pdd 4 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1025](https://github.com/yegor256/cactoos/issues/1025) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1007](https://github.com/yegor256/cactoos/issues/1007).

[2019-01-19 00:32] 0pdd commented on #1007
@0pdd the puzzle [#1025](https://github.com/yegor256/cactoos/issues/1025) is still not solved.

[2019-01-19 00:33] 0crat commented on #1025
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-19 00:39] 0crat commented on #1025
Job [#1025](https://github.com/yegor256/cactoos/issues/1025) is now in scope, role is `DEV`

[2019-01-19 00:49] llorllale commented on #1024
@Serranya

I hadn't realized that `TeeInput` has 72 constructors (not a bad thing)!!

Anyway, seems to me like the solution would be to eliminate ctors that remove control of the output from the user.

So for example ctors like these would be removed:
[code]

But ones like these would remain:
[code]

The key thing is that the user must remain in control of the `Output`. I think this would eliminat

[2019-01-19 00:50] 0crat commented on #1007
Job `gh:yegor256/cactoos#1007` is not assigned, can't get performer

[2019-01-19 00:52] 0crat commented on #1007
The job [#1007](https://github.com/yegor256/cactoos/issues/1007) is now out of scope

[2019-01-19 09:48] shan7030 commented on #982
Already merged this function .

[2019-01-19 12:34] Iprogrammerr commented on #1023
@llorllale Could you assign me?

[2019-01-19 12:38] Iprogrammerr commented on #1006
@llorllale Could you assign me?

[2019-01-19 12:38] Iprogrammerr commented on #1005
@llorllale Could you assign me?

[2019-01-19 14:36] Serranya commented on #1024
This constructor has the same problem:
[code]

[2019-01-19 14:52] llorllale commented on #1005
@0crat assign @Iprogrammerr

[2019-01-19 14:53] llorllale commented on #1006
@0crat assign @Iprogrammerr

[2019-01-19 14:53] llorllale commented on #1023
@0crat assign @Iprogrammerr

[2019-01-19 14:53] 0crat commented on #1005
@llorllale The job [#1005](https://github.com/yegor256/cactoos/issues/1005) assigned to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr), here is [why](https://www.0crat.com/footprint/C63314D6Z/730fd11a-b377-46a4-be3b-350029e690d2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2019-01-19 14:55] 0crat commented on #1006
@llorllale The job [#1006](https://github.com/yegor256/cactoos/issues/1006) assigned to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr), here is [why](https://www.0crat.com/footprint/C63314D6Z/7b38d013-36ac-4a62-87e2-f679830e3cf7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2019-01-19 14:55] 0crat commented on #1005
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-19 14:56] llorllale commented on #982
@shan7030

What does that mean?

[2019-01-19 14:57] 0crat commented on #1006
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-19 14:57] 0crat commented on #1023
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-20 17:38] victornoel commented on #885
@0pdd PR in #1029

[2019-01-20 17:44] 0pdd commented on #885
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2019-01-20 18:10] ilyakharlamov opened #1030 "ComparableText is not equal to the same text"
[code]

What's wrong:
a.equals(b)==false

Expected result:
a.equals(b)==true

[2019-01-20 18:10] 0crat commented on #1030
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-20 18:34] fabriciofx commented on #978
@llorllale The ideia is implementing something like `Objects.hash()`.
@ilyakharlamov WDYT something like:
[code]

[2019-01-20 21:37] ilyakharlamov commented on #978
@fabriciofx Yes, your code is exactly what I meant. We provided pretty much the same syntax as an example.

[2019-01-20 22:37] llorllale commented on #971
@0crat wait because I submitted PR #1032 for this

[2019-01-20 22:43] 0crat commented on #971
@llorllale Job [#971](https://github.com/yegor256/cactoos/issues/971) is not assigned, can't put it on hold

[2019-01-20 22:44] llorllale commented on #1030
@0crat in

[2019-01-20 22:48] 0crat commented on #971
The job [#971](https://github.com/yegor256/cactoos/issues/971) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C63314D6Z/2d2e124c-a5d2-483b-a307-bd87bd6dd1fc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-01-20 22:50] 0crat commented on #971
Job `gh:yegor256/cactoos#971` already assigned to @llorllale, can't assign to @llorllale

[2019-01-20 22:51] llorllale commented on #971
@0crat wait because I submitted PR #1032 for this

[2019-01-20 22:59] 0crat commented on #971
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-20 23:01] 0crat commented on #971
@llorllale The impediment for [#971](https://github.com/yegor256/cactoos/issues/971) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-20 23:08] 0crat commented on #1030
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov)

[2019-01-22 00:38] llorllale opened #1033 "Replace use of MatcherAssert.assertThat with Assertion from cactoos-matchers"
... and add the signature of `MatcherAssert.assertThat` to `forbidden-apis.txt`

[2019-01-22 00:38] llorllale commented on #1033
@0crat in

[2019-01-22 00:43] 0crat commented on #1033
@llorllale Job [#1033](https://github.com/yegor256/cactoos/issues/1033) is now in scope, role is `DEV`

[2019-01-22 00:52] 0crat commented on #1033
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-22 00:54] llorllale opened #1034 "StackOverflowError"
While [working on paged iterable](https://github.com/yegor256/cactoos/pull/1032/files#diff-ea0657f127669eb737ff06218cfd7f47R96), I noticed that the implementation below of the anonymous iterator's `hasNext()` method results in a stackoverflow error. This probably indicates there's a cyclic dependency somewhere that needs to be addressed.

[code]

The following stack keeps repeating itself in the e

[2019-01-22 00:54] llorllale commented on #1034
@0crat in

[2019-01-22 00:55] 0crat commented on #1034
@llorllale Job [#1034](https://github.com/yegor256/cactoos/issues/1034) is now in scope, role is `DEV`

[2019-01-22 01:01] 0crat commented on #1034
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-22 02:49] ilyakharlamov opened #1035 "org.cactoos.io.Joined: add a Ctor of Iterable<Input>"
org.cactoos.io.Joined in a constructor uses `new ..`.
[code]

This is valid but calling `new ` in a Ctor have a sign of a code smell.
I suggest adding a constructor that only takes `Iterable<Input>`

[2019-01-22 02:50] 0crat commented on #1035
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-22 03:09] 0crat commented on #978
The job [#978](https://github.com/yegor256/cactoos/issues/978) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C63314D6Z/1ab0f6c5-a215-4fda-955d-e5059fff13fc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-01-22 03:11] llorllale commented on #978
@0crat wait because I submitted PR #1036 for this

[2019-01-22 03:11] 0crat commented on #978
Job `gh:yegor256/cactoos#978` already assigned to @llorllale, can't assign to @llorllale

[2019-01-22 03:16] 0crat commented on #978
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-22 03:16] 0crat commented on #978
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-22 03:16] 0crat commented on #978
@llorllale The impediment for [#978](https://github.com/yegor256/cactoos/issues/978) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-22 03:17] llorllale commented on #1035
@ilyakharlamov

I disagree. What makes you think this? We do this constantly in secondary constructors. You can think of them as "adapter constructors".

If that's something you *need*, we can surely implement it.

[2019-01-22 03:25] 0pdd opened #1037 "IterableOfTest.java:84-87: Implement equals() and..."
The puzzle `971-205df100` from #971 has to be resolved:

https://github.com/yegor256/cactoos/blob/ed05eb27d4a1ebe2fc36e49773fffc03682ce888/src/test/java/org/cactoos/iterable/IterableOfTest.java#L84-L87

The puzzle was created by rultor on 22-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of th

[2019-01-22 03:31] 0crat commented on #1037
Job [#1037](https://github.com/yegor256/cactoos/issues/1037) is now in scope, role is `DEV`

[2019-01-22 03:32] ilyakharlamov commented on #1035
@llorllale There is more than one way to look at this.
For example
[code]

Using new in a constructor, relying on a concrete implementation rather than interface violates the D in SOLID  principles.
Some people find it appropriate, some are not. At some point somewhere, `new` has to be called. Just need to be very careful about calling new inside a class that a lot of other classes depend on.

[2019-01-22 11:57] llorllale commented on #1035
@ilyakharlamov the implementation of the class itself can depend just on the highest abstraction, while having secondary ctors for usability ("user experience")

[2019-01-22 13:05] llorllale commented on #978
@fabriciofx PR #1036 was merged. Can we close this?

[2019-01-22 13:38] fabriciofx commented on #978
Closed by #1036.

[2019-01-22 13:38] #978 closed

[2019-01-22 14:07] 0crat commented on #978
Job was finished in 10 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-22 14:13] 0crat commented on #978
The job [#978](https://github.com/yegor256/cactoos/issues/978) is now out of scope

[2019-01-22 14:13] 0crat commented on #978
Order was finished: +35 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-23 01:21] llorllale commented on #1024
@Serranya Imagine if both `Input` and `Output` were to extend `Closeable`.

Then we refactor `TeeInput` so that they cache the input and output streams (only a single stream is opened).

The question then would be, what would you call a `TeeInput` that also closes its `Output` when `TeeInput.close()` is called?

Would all this make sense/sound right?

[2019-01-23 08:48] Serranya commented on #1024
We could call it `ClosingTeeInput` or something like this. But I don't think I like the approach.

1. Instead of having composable behaviour we would just handcode a second TeeInput that also closes it's output
2. Right now it is possible (as far as I am aware) to read multiple times from the same `Input` but also to close the stream `cleanly` every time. This possibillity would be removed. We wou

[2019-01-23 20:31] 0crat commented on #911
@verkhovin The user @verkhovin[/z](https://www.0crat.com/u/verkhovin) resigned from [#911](https://github.com/yegor256/cactoos/issues/911), please stop working. Reason for job resignation: Order was cancelled

[2019-01-23 20:37] 0crat commented on #911
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @verkhovin[/z](https://www.0crat.com/u/verkhovin)

[2019-01-23 22:16] 0pdd opened #1039 "TextTest.java:37-39: Replace all occurrences of @Rule..."
The puzzle `1023-be859eed` from #1023 has to be resolved:

https://github.com/yegor256/cactoos/blob/fb6a875013688413374f0c15ebbfe2d0753013b4/src/test/java/org/cactoos/TextTest.java#L37-L39

The puzzle was created by @rultor on 23-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-01-23 22:16] 0pdd commented on #1023
@fabriciofx the puzzle [#1039](https://github.com/yegor256/cactoos/issues/1039) is still not solved.

[2019-01-23 22:24] 0crat commented on #1039
Job [#1039](https://github.com/yegor256/cactoos/issues/1039) is now in scope, role is `DEV`

[2019-01-24 00:19] 0pdd commented on #888
The puzzle `861-8d8bda55` has disappeared from the source code, that's why I closed this issue.

[2019-01-24 00:19] #888 closed

[2019-01-24 00:20] 0pdd opened #1040 "CallableOf.java:46-48: Avoid usage of null value in..."
The puzzle `888-b319d713` from #888 has to be resolved:

https://github.com/yegor256/cactoos/blob/ffdbf29a31b876970418a4fba4d7b8c32676fa29/src/main/java/org/cactoos/func/CallableOf.java#L46-L48

The puzzle was created by igor on 20-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle i

[2019-01-24 00:20] 0pdd commented on #551
@neonailol 4 puzzles [#1040](https://github.com/yegor256/cactoos/issues/1040), [#884](https://github.com/yegor256/cactoos/issues/884), [#885](https://github.com/yegor256/cactoos/issues/885), [#886](https://github.com/yegor256/cactoos/issues/886) are still not solved; solved: [#861](https://github.com/yegor256/cactoos/issues/861), [#883](https://github.com/yegor256/cactoos/issues/883), [#887](https

[2019-01-24 00:20] 0pdd commented on #861
@0pdd 4 puzzles [#1040](https://github.com/yegor256/cactoos/issues/1040), [#884](https://github.com/yegor256/cactoos/issues/884), [#885](https://github.com/yegor256/cactoos/issues/885), [#886](https://github.com/yegor256/cactoos/issues/886) are still not solved; solved: [#883](https://github.com/yegor256/cactoos/issues/883), [#887](https://github.com/yegor256/cactoos/issues/887), [#888](https://gi

[2019-01-24 00:20] 0pdd commented on #888
@0pdd the puzzle [#1040](https://github.com/yegor256/cactoos/issues/1040) is still not solved.

[2019-01-24 00:21] 0crat commented on #1040
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-24 00:53] 0crat commented on #888
The job [#888](https://github.com/yegor256/cactoos/issues/888) is now out of scope

[2019-01-24 00:55] 0crat commented on #888
Order was finished: +30 point(s) just awarded to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr)

[2019-01-24 01:28] llorllale opened #1041 "Disable gitlint in .rultor"
Let's disable gitlint in `.rultor.yml`:

* We plan on replacing it anyway due to incompatibility with Windows (see #992)
* [Character decoding issues](https://github.com/yegor256/cactoos/pull/1029#issuecomment-456619522)
* If the gitlint check passes the travis build then the whole process should manage to capture 99% of git log issues (the remaining 1% would lie in the ARC and PO's hands :)

[2019-01-24 01:45] llorllale commented on #1041
Fixed in 0143b2d619a40df0b4b483ea43a4a9f1cdd6c694

[2019-01-24 01:51] #1041 closed

[2019-01-24 01:58] 0pdd commented on #885
The puzzle `861-c5656f1b` has disappeared from the source code, that's why I closed this issue.

[2019-01-24 01:58] #885 closed

[2019-01-24 01:58] 0pdd commented on #551
@neonailol 3 puzzles [#1040](https://github.com/yegor256/cactoos/issues/1040), [#884](https://github.com/yegor256/cactoos/issues/884), [#886](https://github.com/yegor256/cactoos/issues/886) are still not solved; solved: [#861](https://github.com/yegor256/cactoos/issues/861), [#883](https://github.com/yegor256/cactoos/issues/883), [#885](https://github.com/yegor256/cactoos/issues/885), [#887](https

[2019-01-24 01:58] 0pdd commented on #861
@0pdd 3 puzzles [#1040](https://github.com/yegor256/cactoos/issues/1040), [#884](https://github.com/yegor256/cactoos/issues/884), [#886](https://github.com/yegor256/cactoos/issues/886) are still not solved; solved: [#883](https://github.com/yegor256/cactoos/issues/883), [#885](https://github.com/yegor256/cactoos/issues/885), [#887](https://github.com/yegor256/cactoos/issues/887), [#888](https://gi

[2019-01-24 02:10] 0crat commented on #1041
Job `gh:yegor256/cactoos#1041` is not assigned, can't get performer

[2019-01-24 02:12] 0crat commented on #1041
This job is not in scope

[2019-01-24 02:22] 0crat commented on #885
The job [#885](https://github.com/yegor256/cactoos/issues/885) is now out of scope

[2019-01-24 14:24] fabriciofx commented on #1030
@llorllale Is there any DEV to address this issue?

[2019-01-24 14:26] llorllale commented on #1024
@Serranya removing this ctor would be a showstopper:

[code]

It's the reason for `TeeInput`'s existence in the first place.

I'm now thinking of reversing the change from #820 and adding warnings in the javadoc.

[2019-01-24 14:45] llorllale commented on #1030
@fabriciofx ask @0crat :)

[2019-01-24 14:45] 0crat commented on #1030
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos/issues/1030#issuecomment-457221902); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-01-24 14:47] Serranya commented on #1024
@llorllale That would also fix the risk of leaving the output open.

[2019-01-24 15:25] fabriciofx commented on #1023
Closed by #1027.

[2019-01-24 15:25] #1023 closed

[2019-01-24 16:16] 0crat commented on #1023
The job [#1023](https://github.com/yegor256/cactoos/issues/1023) is now out of scope

[2019-01-24 16:17] 0crat commented on #1023
Order was finished: +30 point(s) just awarded to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr)

[2019-01-24 16:17] 0crat commented on #893
The job [#893](https://github.com/yegor256/cactoos/issues/893) assigned to @scratchboom[/z](https://www.0crat.com/u/scratchboom), here is [why](https://www.0crat.com/footprint/C63314D6Z/6dfdee00-c758-4fa0-a9f6-6ae0af19ecc0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-01-24 16:18] 0crat commented on #893
Job `gh:yegor256/cactoos#893` already assigned to @scratchboom, can't assign to @scratchboom

[2019-01-24 16:18] 0crat commented on #904
The job [#904](https://github.com/yegor256/cactoos/issues/904) assigned to @scratchboom[/z](https://www.0crat.com/u/scratchboom), here is [why](https://www.0crat.com/footprint/C63314D6Z/2b9f4a3f-098b-4a29-be56-fa386ae34a11); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-01-24 16:23] 0crat commented on #895
The job [#895](https://github.com/yegor256/cactoos/issues/895) assigned to @scratchboom[/z](https://www.0crat.com/u/scratchboom), here is [why](https://www.0crat.com/footprint/C63314D6Z/9e3b940e-cfc0-4d04-a365-a9a42e2e25aa); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-01-24 19:21] Vatavuk commented on #895
@scratchboom That is just a follow up function that will be executed after the main functionallity from ScalarWihFallback is executed.

[2019-01-24 20:41] scratchboom commented on #895
@Vatavuk flw should be called only for main flow or for fallback flow too?

Should I store flw as a field of ScalarWithFallback and call it in on result variable in org.cactoos.scalar.ScalarWithFallback#value?

[2019-01-24 23:58] llorllale commented on #895
@scratchboom @Vatavuk please see #965 - we removed these "follow" Funcs

[2019-01-25 18:16] svendiedrichsen commented on #1024
@llorllale How about a new decorator for TeeInput like i.e. ClosingTeeInput that closes the streams?

[2019-01-26 06:42] Iprogrammerr commented on #1022
@llorllale I would like to implement this. Could you assign me?

[2019-01-26 12:49] llorllale opened #1043 "Pull Request Template"
Update `PULL_REQUEST_TEMPLATE.md` with all applicable rules from `cactoos-matchers`.

Also, add rule about not using GitHub [keywords](https://help.github.com/articles/closing-issues-using-keywords) in the PR's description.

[2019-01-26 12:53] llorllale commented on #1043
@llorllale Fixed in b8bf44e4ddbe0b5a9b13e006208327358931c0cd

[2019-01-26 12:53] #1043 closed

[2019-01-26 12:55] llorllale commented on #1043
@borysfan @dgroup @fabriciofx @ilyakharlamov @iprogrammerr @marceloamadeu @scratchboom @verkhovin @victornoel

I've updated the PR guidelines

[2019-01-26 13:10] 0crat commented on #1043
Job `gh:yegor256/cactoos#1043` is not assigned, can't get performer

[2019-01-26 13:10] 0crat commented on #1043
This job is not in scope

[2019-01-27 14:24] llorllale opened #1045 "Commit log linting not checking all PR commits"
This is due to an erroneous assumption: the linter would be run in the feature branch. The problem is that both rultor and travis run scripts after merging the feature and master branches together.

In this context, the `--not master` predicate passed to `git log` does not produce the expected output.

I thought about using git's `--author` filter but neither travis nor rultor expose the PR's auth

[2019-01-27 14:26] #1045 closed, assigned to nobody

[2019-01-27 15:15] 0crat commented on #1045
Job `gh:yegor256/cactoos#1045` is not assigned, can't get performer

[2019-01-27 15:20] 0crat commented on #1045
This job is not in scope

[2019-01-27 16:10] llorllale commented on #1022
@0crat assign @Iprogrammerr

[2019-01-27 17:06] 0crat commented on #1022
@llorllale The job [#1022](https://github.com/yegor256/cactoos/issues/1022) assigned to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr), here is [why](https://www.0crat.com/footprint/C63314D6Z/90dd2aa5-9dd4-4566-9458-a337b4378062); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2019-01-27 17:38] 0crat commented on #1022
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-01-27 23:32] 0pdd commented on #1006
The puzzle `980-a6f67b21` has disappeared from the source code, that's why I closed this issue.

[2019-01-27 23:32] #1006 closed

[2019-01-27 23:32] 0pdd opened #1046 "package-info.java:29-33: Classes from package {@link..."
The puzzle `1006-0071ae30` from #1006 has to be resolved:

https://github.com/yegor256/cactoos/blob/6b4a6b9a2b0eeb8b7ab7e9c0e7d1e57bfda91784/src/main/java/org/cactoos/time/package-info.java#L29-L33

The puzzle was created by @rultor on 27-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2019-01-27 23:32] 0pdd commented on #1046
This puzzle inherited milestone `1.0` from issue #1006.

[2019-01-27 23:32] 0pdd commented on #913
@neonailol 4 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https://github.com/yegor256/cactoos/issues/1046) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#

[2019-01-27 23:32] 0pdd commented on #958
@0pdd 4 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https://github.com/yegor256/cactoos/issues/1046) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1007]

[2019-01-27 23:32] 0pdd commented on #964
@0pdd 4 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https://github.com/yegor256/cactoos/issues/1046) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1007]

[2019-01-27 23:32] 0pdd commented on #980
@0pdd 4 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https://github.com/yegor256/cactoos/issues/1046) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1007]

[2019-01-27 23:32] 0pdd commented on #1006
@0pdd the puzzle [#1046](https://github.com/yegor256/cactoos/issues/1046) is still not solved.

[2019-01-27 23:33] 0crat commented on #1046
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-28 01:33] 0crat commented on #1006
The job [#1006](https://github.com/yegor256/cactoos/issues/1006) is now out of scope

[2019-01-28 01:52] 0crat commented on #1006
Order was finished: +30 point(s) just awarded to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr)

[2019-01-28 16:53] fabriciofx opened #1047 "Update jcabi-parent to 0.49.4 (solves xcop issue)"
Let's update to new jcabi version (0.49.4) because this new version solves xcop issue on windows.

[2019-01-28 16:53] 0crat commented on #1047
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-28 17:06] fabriciofx opened #1048 "Refactor GzipInput and GzipOutput tests to be more readable"
There're a lot of "data bytes" in GzipInput and GzipOutput tests which difficult them to read. Let's refactor them to be more readable.

[2019-01-28 17:06] 0crat commented on #1048
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-28 17:12] yegor256 commented on #986
@llorllale yes, I think so

[2019-01-29 16:17] 0crat commented on #825
The job [#825](https://github.com/yegor256/cactoos/issues/825) assigned to @borysfan[/z](https://www.0crat.com/u/borysfan), here is [why](https://www.0crat.com/footprint/C63314D6Z/7e64540c-90f0-4529-8260-16d4a6775384); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-01-29 17:44] Iprogrammerr opened #1050 "Travis build validates old commits"
Travis build is configurated in a way that make it impossible to merge any new PR. It validates commits messages since 21.01.2019. Back then, we didn't have that requirement and it should not be new PR's authors responsibility to fix them. See #1049, #981 and #1026.

[2019-01-29 17:44] 0crat commented on #1050
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-29 19:43] Iprogrammerr opened #1051 "Concatenated as an alternative to StringBuilder"
Currently, we do not have Text implementation that works like StringBuilder. There is a Joined, but he concatenates strings/texts with a given delimit. I propose to create Concatenated that will work like this:
`new Concatenated(
    "SELECT * FROM A ",
    "WHERE id = 1"
).asString()`
He should accept both Strings and Texts.

[2019-01-29 19:43] 0crat commented on #1051
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-29 20:50] fabriciofx commented on #1051
@Iprogrammerr What's the problem with `JoinedText`? It does exactly the same thing.

[2019-01-30 02:16] llorllale commented on #1047
@fabriciofx done in c1f043aa891c75a00aaec41cfedc5eedb1f17f84

[2019-01-30 02:16] #1047 closed

[2019-01-30 02:22] llorllale commented on #1048
@0crat in

[2019-01-30 02:35] 0crat commented on #1048
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-30 02:37] 0crat commented on #1047
Job `gh:yegor256/cactoos#1047` is not assigned, can't get performer

[2019-01-30 02:38] 0crat commented on #1047
This job is not in scope

[2019-01-30 02:46] fabriciofx commented on #1047
@llorllale Just for curiosity, what are the points you consider to put an issue in scope?

[2019-01-30 04:01] ilyakharlamov opened #1052 "LoggingInputStream.read() of an empty stream should return -1"
When reading an empty stream the behavior of LoggingInputStream is different from the JDK streams:
[code]

Actual result:
[code]
Expected result:
[code]

[2019-01-30 04:01] 0crat commented on #1052
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-30 20:21] Iprogrammerr commented on #1051
@fabriciofx No, it does not. To have concatenated without delimit strings, I have to do
`new Joined("", "a",b","c)` which will result in `"a" + "" + "b" + "" + "c"`. I am suggesting replacement for StringBuilder, so that  `new Concatenated("a", "b", "c")` will result in `"a" + "b" + "c"`.

[2019-01-30 20:51] fabriciofx commented on #1051
@Iprogrammerr I see now. Thanks!

[2019-01-31 08:59] krzyk opened #1055 "Add FlatMapped/Flatten"
I would like to have a way to turn an Iterable/Iterator/etc of Iterator/Iterable/etc into a flat Iterable/Iterator.
Basically I have something like this:
[code]

and I would like to be able to do:
[code]
and as a result I would like to see:
[code]

[2019-01-31 08:59] 0crat commented on #1055
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-01-31 08:59] 0crat commented on #1055
@krzyk[/z](https://www.0crat.com/u/krzyk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-31 22:03] victornoel commented on #1035
@llorllale can we get a new release of cactoos? The work done for this issue is needed in https://github.com/yegor256/cactoos-http/pull/69

[2019-02-01 19:50] 0crat commented on #911
The job [#911](https://github.com/yegor256/cactoos/issues/911) assigned to @mazdack[/z](https://www.0crat.com/u/mazdack), here is [why](https://www.0crat.com/footprint/C63314D6Z/e3052b1e-b1f3-4080-932c-d63c619b0160); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-02-01 19:59] 0crat commented on #1015
The job [#1015](https://github.com/yegor256/cactoos/issues/1015) assigned to @mazdack[/z](https://www.0crat.com/u/mazdack), here is [why](https://www.0crat.com/footprint/C63314D6Z/3ef80752-8d9c-4ac7-89a3-3deaded3f252); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-02-01 20:12] 0crat commented on #1016
The job [#1016](https://github.com/yegor256/cactoos/issues/1016) assigned to @mazdack[/z](https://www.0crat.com/u/mazdack), here is [why](https://www.0crat.com/footprint/C63314D6Z/907c8f0c-bf44-4d9a-92ab-635160dc5c09); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-02-02 01:38] llorllale commented on #1047
@fabriciofx you made me stop to think :)

See, the point was to focus on releasing `1.0`. Pretty soon, all you guys will have > 1024 points or whatever and will be kicked out of this sandbox project. :(

But I *have* been including tasks not necessary for `1.0`, which means I haven't been consistent. I will rectify this.

[2019-02-02 02:06] llorllale commented on #1035
@rultor release, tag is `0.39`

[2019-02-02 02:08] rultor commented on #1035
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17653-459925369)

[2019-02-02 02:08] llorllale commented on #1055
@krzyk have you seen [this](https://stackoverflow.com/a/54465910/1623885)?

[2019-02-02 10:11] victornoel commented on #1035
@llorllale thx

[2019-02-02 13:45] krzyk commented on #1055
@llorllale Yeah, it was asked there after I submitted the issue. But I think this should be renamed or something, `Joined` is not the first name that comes to my mind when I want to do this, but maybe I'm spoiled by streams :)

[2019-02-02 13:53] llorllale commented on #1055
@krzyk I think you *are* spoiled by streams :). `Joined` in this case is an `Iterable`, and it joins/concatenates other iterables.

The trick lies in the use of `Mapped` as seen in the SO answer above. So really, what is `flatMap` if not a composition of `Mapped` and `Joined`?

[2019-02-02 14:57] llorllale commented on #1055
@krzyk "flatMap" is the typical name for what we're talking about here

[2019-02-02 15:05] krzyk commented on #1055
@llorllale Not exactly, we are talking about `flat` in `flatMap` :)

`flatMap` is the typical name, and yet we have `Joined` and `Mapped` that's why I think `Flatted` and `Mapped` would be better names - easier to find the right classes.

[2019-02-02 15:09] llorllale commented on #1055
@krzyk I disagree on all counts.

The bottom line is that `cactoos` already provides elegant building blocks for what you want to do.

Can we close this?

[2019-02-02 15:52] 0crat commented on #1055
Job `gh:yegor256/cactoos#1055` is not assigned, can't get performer

[2019-02-02 15:55] 0crat commented on #1055
This job is not in scope

[2019-02-02 16:01] fabriciofx commented on #1047
@llorllale I've asked it because I've opened many issues and corrected the bug in `jcabi-parent` and I haven't get any points for them. I made this contribution because I like these projects and love contribute with open source, but if I can do it and receive some points at Zerocracy too, it's even better, right? 😄

Besides you made me think about it too: I think interesting have a possibility to

[2019-02-03 06:41] Iprogrammerr commented on #886
@llorllale Seems that with rebasing and/or force pushing 0pdd doesn't close issues related to PR's. What should we do?

[2019-02-04 12:12] marceloamadeu commented on #884
@0crat refuse

[2019-02-04 12:15] 0crat commented on #884
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#884](https://github.com/yegor256/cactoos/issues/884), please stop working. Reason for job resignation: Order was cancelled

[2019-02-04 12:22] 0crat commented on #884
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2019-02-05 17:51] dgroup opened #1060 "DefaultOf scalar in case if origin can't be evaluated"
[code]
The default shouldn't throw any exception.

[2019-02-05 17:51] 0crat commented on #1060
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-02-07 00:39] llorllale opened #1061 "README: add example of flattening iterables"
Let's add an example how to [flatten iterables](https://stackoverflow.com/a/54465910/1623885) to the `README`.

[2019-02-07 01:14] #886 closed

[2019-02-07 01:14] 0pdd commented on #886
The puzzle `861-3f3a5fe1` has disappeared from the source code, that's why I closed this issue.

[2019-02-07 01:14] llorllale commented on #1061
@g4s8 done in dc4dc2304f9e14cb2d324f196983aacf5f24b1ea

[2019-02-07 01:14] #1061 closed

[2019-02-07 01:14] 0pdd opened #1062 "IoCheckedBiProc.java:38-42: Avoid usage of null value in..."
The puzzle `886-065814f2` from #886 has to be resolved:

https://github.com/yegor256/cactoos/blob/dc4dc2304f9e14cb2d324f196983aacf5f24b1ea/src/main/java/org/cactoos/func/IoCheckedBiProc.java#L38-L42

The puzzle was created by George Aristy on 07-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text o

[2019-02-07 01:14] 0pdd commented on #551
@neonailol 3 puzzles [#1040](https://github.com/yegor256/cactoos/issues/1040), [#1062](https://github.com/yegor256/cactoos/issues/1062), [#884](https://github.com/yegor256/cactoos/issues/884) are still not solved; solved: [#861](https://github.com/yegor256/cactoos/issues/861), [#883](https://github.com/yegor256/cactoos/issues/883), [#885](https://github.com/yegor256/cactoos/issues/885), [#886](htt

[2019-02-07 01:14] 0pdd commented on #861
@0pdd 3 puzzles [#1040](https://github.com/yegor256/cactoos/issues/1040), [#1062](https://github.com/yegor256/cactoos/issues/1062), [#884](https://github.com/yegor256/cactoos/issues/884) are still not solved; solved: [#883](https://github.com/yegor256/cactoos/issues/883), [#885](https://github.com/yegor256/cactoos/issues/885), [#886](https://github.com/yegor256/cactoos/issues/886), [#887](https://

[2019-02-07 01:14] 0pdd commented on #886
@0pdd the puzzle [#1062](https://github.com/yegor256/cactoos/issues/1062) is still not solved.

[2019-02-07 01:14] 0crat commented on #1062
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-02-07 01:34] llorllale commented on #1047
@fabriciofx I'd first like to know how to [unset sandbox status](https://github.com/zerocracy/zerocracy.github.io/issues/67).

[2019-02-07 01:50] 0pdd commented on #929
The puzzle `897-9c9a3952` has disappeared from the source code, that's why I closed this issue.

[2019-02-07 01:50] #929 closed

[2019-02-07 01:50] #1005 closed

[2019-02-07 01:50] 0pdd commented on #1005
The puzzle `980-cde865ee` has disappeared from the source code, that's why I closed this issue.

[2019-02-07 01:50] 0pdd opened #1063 "Abbreviated.java:34-36: All classes implementing Text..."
The puzzle `897-f060f15b` from #897 has to be resolved:

https://github.com/yegor256/cactoos/blob/39301459b873ecfb33b51669567cd900fd3ff1c9/src/main/java/org/cactoos/text/Abbreviated.java#L34-L36

The puzzle was created by igor on 02-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-02-07 01:50] 0pdd opened #1064 "package-info.java:29-33: Remove Sticky decorators from..."
The puzzle `1005-58ab3a1d` from #1005 has to be resolved:

https://github.com/yegor256/cactoos/blob/39301459b873ecfb33b51669567cd900fd3ff1c9/src/test/java/org/cactoos/io/package-info.java#L29-L33

The puzzle was created by igor on 25-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-02-07 01:50] 0pdd commented on #1064
This puzzle inherited milestone `1.0` from issue #1005.

[2019-02-07 01:51] 0pdd opened #1065 "package-info.java:29-32: Continue applying the new class..."
The puzzle `1005-7baae0dd` from #1005 has to be resolved:

https://github.com/yegor256/cactoos/blob/39301459b873ecfb33b51669567cd900fd3ff1c9/src/main/java/org/cactoos/text/package-info.java#L29-L32

The puzzle was created by igor on 19-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2019-02-07 01:51] 0pdd commented on #788
@krzyk the puzzle [#1063](https://github.com/yegor256/cactoos/issues/1063) is still not solved; solved: [#849](https://github.com/yegor256/cactoos/issues/849), [#878](https://github.com/yegor256/cactoos/issues/878), [#897](https://github.com/yegor256/cactoos/issues/897), [#929](https://github.com/yegor256/cactoos/issues/929).

[2019-02-07 01:51] 0pdd commented on #849
@0pdd the puzzle [#1063](https://github.com/yegor256/cactoos/issues/1063) is still not solved; solved: [#878](https://github.com/yegor256/cactoos/issues/878), [#897](https://github.com/yegor256/cactoos/issues/897), [#929](https://github.com/yegor256/cactoos/issues/929).

[2019-02-07 01:51] 0pdd commented on #878
@0pdd the puzzle [#1063](https://github.com/yegor256/cactoos/issues/1063) is still not solved; solved: [#897](https://github.com/yegor256/cactoos/issues/897), [#929](https://github.com/yegor256/cactoos/issues/929).

[2019-02-07 01:51] 0pdd commented on #897
@0pdd the puzzle [#1063](https://github.com/yegor256/cactoos/issues/1063) is still not solved; solved: [#929](https://github.com/yegor256/cactoos/issues/929).

[2019-02-07 01:51] 0pdd commented on #913
@neonailol 5 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https://github.com/yegor256/cactoos/issues/1046), [#1064](https://github.com/yegor256/cactoos/issues/1064), [#1065](https://github.com/yegor256/cactoos/issues/1065) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#

[2019-02-07 01:51] 0pdd commented on #958
@0pdd 5 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https://github.com/yegor256/cactoos/issues/1046), [#1064](https://github.com/yegor256/cactoos/issues/1064), [#1065](https://github.com/yegor256/cactoos/issues/1065) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005]

[2019-02-07 01:51] 0pdd commented on #964
@0pdd 5 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https://github.com/yegor256/cactoos/issues/1046), [#1064](https://github.com/yegor256/cactoos/issues/1064), [#1065](https://github.com/yegor256/cactoos/issues/1065) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005]

[2019-02-07 01:51] 0pdd commented on #980
@0pdd 5 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https://github.com/yegor256/cactoos/issues/1046), [#1064](https://github.com/yegor256/cactoos/issues/1064), [#1065](https://github.com/yegor256/cactoos/issues/1065) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005]

[2019-02-07 01:51] 0pdd commented on #1005
@0pdd 2 puzzles [#1064](https://github.com/yegor256/cactoos/issues/1064), [#1065](https://github.com/yegor256/cactoos/issues/1065) are still not solved.

[2019-02-07 01:52] 0crat commented on #1065
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-02-07 01:53] 0crat commented on #1064
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-02-07 01:53] 0crat commented on #1063
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-02-07 02:17] llorllale commented on #1060
@dgroup see if `ScalarWithFallback` is sufficient solution for your use case

[2019-02-07 16:14] 0crat commented on #1061
Job `gh:yegor256/cactoos#1061` is not assigned, can't get performer

[2019-02-07 16:14] 0crat commented on #1062
Job [#1062](https://github.com/yegor256/cactoos/issues/1062) is now in scope, role is `DEV`

[2019-02-07 16:14] 0crat commented on #929
Job [#929](https://github.com/yegor256/cactoos/issues/929) is not in the agenda of @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr), can't retrieve data and time of add

[2019-02-07 16:15] 0crat commented on #1065
Job [#1065](https://github.com/yegor256/cactoos/issues/1065) is now in scope, role is `DEV`

[2019-02-07 16:15] 0crat commented on #1064
Job [#1064](https://github.com/yegor256/cactoos/issues/1064) is now in scope, role is `DEV`

[2019-02-07 16:15] 0crat commented on #1063
Job [#1063](https://github.com/yegor256/cactoos/issues/1063) is now in scope, role is `DEV`

[2019-02-07 16:20] 0crat commented on #1061
This job is not in scope

[2019-02-07 16:28] 0crat commented on #886
The job [#886](https://github.com/yegor256/cactoos/issues/886) is now out of scope

[2019-02-07 16:29] 0crat commented on #1005
The job [#1005](https://github.com/yegor256/cactoos/issues/1005) is now out of scope

[2019-02-07 16:29] 0crat commented on #929
The job [#929](https://github.com/yegor256/cactoos/issues/929) is now out of scope

[2019-02-07 16:29] 0crat commented on #886
Order was finished: +30 point(s) just awarded to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr)

[2019-02-07 16:29] 0crat commented on #1005
Order was finished: +30 point(s) just awarded to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr)

[2019-02-07 16:30] 0crat commented on #929
Order was finished: +30 point(s) just awarded to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr)

[2019-02-07 16:32] 0crat commented on #884
The job [#884](https://github.com/yegor256/cactoos/issues/884) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/9e938622-09e8-4dd2-8c8e-4de9ca86a68e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-02-08 00:41] llorllale commented on #985
@yegor256 should we maintain a range of dates for the copyright notice?

As far as I am aware, the really important date is the one when the work was published (the start date). You *may* add a "revised date" to the notice if a file's contents changes "significantly", but do **we** really need to? Guava certainly doesn't do it. I'm guessing the hassle isn't worth it.

Sources:
* [Copyright.gov (PD

[2019-02-08 00:43] llorllale commented on #986
@Shryne fixed in 773f8e50fe2a5aeaf424b183b95ce8d978aa3edb

[2019-02-08 00:43] #986 closed

[2019-02-08 00:45] llorllale commented on #982
@shan7030 ping

[2019-02-08 00:47] llorllale commented on #1052
@ilyakharlamov closing this since you authored PR #1053 that we merged for this

[2019-02-08 00:47] #1052 closed

[2019-02-08 01:05] 0crat commented on #986
Job [#986](https://github.com/yegor256/cactoos/issues/986) is not in the agenda of @llorllale[/z](https://www.0crat.com/u/llorllale), can't retrieve data and time of add

[2019-02-08 01:07] 0crat commented on #1052
Job `gh:yegor256/cactoos#1052` is not assigned, can't get performer

[2019-02-08 01:09] 0crat commented on #1052
This job is not in scope

[2019-02-08 01:11] 0crat commented on #986
The job [#986](https://github.com/yegor256/cactoos/issues/986) is now out of scope

[2019-02-08 01:11] 0crat commented on #986
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-02-08 14:16] 0crat commented on #1065
The job [#1065](https://github.com/yegor256/cactoos/issues/1065) assigned to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr), here is [why](https://www.0crat.com/footprint/C63314D6Z/a38aabef-4495-4fcd-beea-98bb2ab33e9e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-02-08 14:25] 0crat commented on #1064
The job [#1064](https://github.com/yegor256/cactoos/issues/1064) assigned to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr), here is [why](https://www.0crat.com/footprint/C63314D6Z/63c6369b-c7f4-4da1-8554-b9a6748f6a5f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-02-08 14:35] 0crat commented on #898
The job [#898](https://github.com/yegor256/cactoos/issues/898) assigned to @tomascury[/z](https://www.0crat.com/u/tomascury), here is [why](https://www.0crat.com/footprint/C63314D6Z/392c7a0c-88c5-4f39-8658-4f925507fc95); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-02-08 14:45] 0crat commented on #864
The job [#864](https://github.com/yegor256/cactoos/issues/864) assigned to @tomascury[/z](https://www.0crat.com/u/tomascury), here is [why](https://www.0crat.com/footprint/C63314D6Z/4181917a-f8e9-42d7-92ae-04d18c6e36dc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-02-08 14:49] 0crat commented on #901
The job [#901](https://github.com/yegor256/cactoos/issues/901) assigned to @tomascury[/z](https://www.0crat.com/u/tomascury), here is [why](https://www.0crat.com/footprint/C63314D6Z/b9540821-2916-490f-a188-c5eb4f363bca); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-02-08 22:10] Iprogrammerr commented on #1064
@llorllale To do this need new release of cactoos-matchers and then separate issue to update it as a dependency. How can I register impediment like this?

[2019-02-08 23:29] tomascury commented on #898
@0crat waiting on outcome of #947

[2019-02-08 23:40] 0crat commented on #898
@tomascury The impediment for [#898](https://github.com/yegor256/cactoos/issues/898) was registered successfully by @tomascury[/z](https://www.0crat.com/u/tomascury)

[2019-02-09 07:06] #982 closed

[2019-02-09 07:25] 0crat commented on #982
Job `gh:yegor256/cactoos#982` is not assigned, can't get performer

[2019-02-09 07:25] 0crat commented on #982
This job is not in scope

[2019-02-09 14:02] llorllale commented on #1064
@Iprogrammerr releasing [cactoos-matchers:0.14](https://github.com/llorllale/cactoos-matchers/pull/71#issuecomment-462047062)

[2019-02-09 14:37] victornoel commented on #884
@0crat waiting for #1068 to be merged

[2019-02-09 14:41] 0crat commented on #884
@victornoel The impediment for [#884](https://github.com/yegor256/cactoos/issues/884) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-02-09 21:18] Iprogrammerr opened #1069 "Update cactoos-matchers to 0.14"
Let's update cactoos-matchers dependency. Assertion doesn't call a test twice there, so it will be possible to complete #1064.

[2019-02-09 21:18] 0crat commented on #1069
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-02-09 22:52] Iprogrammerr commented on #1064
@0crat wait #1069

[2019-02-09 23:04] 0crat commented on #1064
@Iprogrammerr The impediment for [#1064](https://github.com/yegor256/cactoos/issues/1064) was registered successfully by @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr)

[2019-02-09 23:57] tomascury commented on #864
@0crat done in 7152ee3ef3df70a803a5577d895d20a09fb3eb11

[2019-02-10 00:01] 0crat commented on #864
@tomascury Can't understand "done", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this

[2019-02-10 00:06] tomascury commented on #864
@llorllale done in 7152ee3ef3df70a803a5577d895d20a09fb3eb11

[2019-02-10 00:25] tomascury commented on #901
Class name was changed to `NoNulls` in be02845a55f191007cd60770a455b59d7320446d

[2019-02-10 13:13] llorllale commented on #1069
@Iprogrammerr I think we'd move faster if you just upgrade while completing #1064...

[2019-02-10 13:17] llorllale commented on #864
@tomascury that's right

@proshin-roman can we close this? (merged in PR #973)

[2019-02-10 13:35] #864 closed

[2019-02-10 13:52] 0crat commented on #864
Job was finished in 46 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-10 13:56] 0crat commented on #864
The job [#864](https://github.com/yegor256/cactoos/issues/864) is now out of scope

[2019-02-10 13:58] 0crat commented on #864
Order was finished: +35 point(s) just awarded to @tomascury[/z](https://www.0crat.com/u/tomascury)

[2019-02-10 13:59] 0crat commented on #905
The job [#905](https://github.com/yegor256/cactoos/issues/905) assigned to @tomascury[/z](https://www.0crat.com/u/tomascury), here is [why](https://www.0crat.com/footprint/C63314D6Z/67182b96-3f2b-4438-a816-feb20d119cce); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-02-10 19:51] Iprogrammerr commented on #1069
@llorllale Agreed, we can close this then.

[2019-02-10 20:16] #1069 closed

[2019-02-10 20:35] 0crat commented on #1069
Job `gh:yegor256/cactoos#1069` is not assigned, can't get performer

[2019-02-10 20:35] 0crat commented on #1069
This job is not in scope

[2019-02-11 16:11] tomascury commented on #901
@llorllale it is done in https://github.com/yegor256/cactoos/pull/1071

[2019-02-15 10:01] piotrkot commented on #996
@llorllale Anyone working on it? Can I make a PR?

[2019-02-15 10:45] piotrkot commented on #996
@llorllale PR https://github.com/yegor256/cactoos/pull/1073 is waiting to be reviewed (and merged).

[2019-02-17 09:40] tomascury commented on #905
@0crat resign

[2019-02-17 09:41] tomascury commented on #901
@0crat wait

[2019-02-17 11:08] 0crat commented on #901
@tomascury The impediment for [#901](https://github.com/yegor256/cactoos/issues/901) was registered successfully by @tomascury[/z](https://www.0crat.com/u/tomascury)

[2019-02-17 22:01] tomascury commented on #905
@0crat refuse

[2019-02-17 22:03] 0crat commented on #905
@tomascury The user @tomascury[/z](https://www.0crat.com/u/tomascury) resigned from [#905](https://github.com/yegor256/cactoos/issues/905), please stop working. Reason for job resignation: Order was cancelled

[2019-02-17 22:03] 0crat commented on #905
@tomascury Job `gh:yegor256/cactoos#905` is not assigned, can't get performer

[2019-02-17 22:04] 0crat commented on #905
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @tomascury[/z](https://www.0crat.com/u/tomascury)

[2019-02-20 10:10] martin-robo commented on #944
I am using cactoos for over a year now. After the first months I had the same opinion as @victornoel . But the more and more native cactoos code I wrote, the more it all made sense. Basically, checked exceptions exist. And they exist for a reason. Applications process data. This data comes from a network, database or file system. All these APIs throw checked exceptions. With using interfaces I can

[2019-02-20 10:44] martin-robo commented on #944
I just read the article of @skapral mentioned in the issue text. It's a good article but it didn't change my mind. Maybe Java should invent a "no exceptions behind this point" outline. Or Java should force you to also hand over an exception handler with your Runnable object. But right now you can only mark 90% of your code unsafe to make the traps visible where you must not throw an exception at a

[2019-02-20 16:16] skapral commented on #944
@martin-robo Check [this](http://disq.us/p/1wje1zf) thread. In general, I recommend you to go through in-comment discussions there, because topics you've raised were already touched there.

*Handling* exceptions is wrong way to work with them. It's called flow control via exceptions, and I'm on [Yegor's](https://www.yegor256.com/2015/07/28/checked-vs-unchecked-exceptions.html#recoverable-exception

[2019-02-20 22:04] borysfan commented on #825
@llorllale Hej. This issue has been covered in PR #1054. Could you please close this issue?

[2019-02-20 22:37] #825 closed

[2019-02-20 23:02] 0crat commented on #825
The job [#825](https://github.com/yegor256/cactoos/issues/825) is now out of scope

[2019-02-20 23:04] 0crat commented on #825
Order was finished: +30 point(s) just awarded to @borysfan[/z](https://www.0crat.com/u/borysfan)

[2019-02-20 23:05] 0crat commented on #905
The job [#905](https://github.com/yegor256/cactoos/issues/905) assigned to @borysfan[/z](https://www.0crat.com/u/borysfan), here is [why](https://www.0crat.com/footprint/C63314D6Z/31c0f15c-e8d2-44b5-8b16-8cfe039c63d8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-02-21 06:54] martin-robo commented on #944
Hi @skapral and thank you for the quick reply. The thread you linked is a good one. Describing the client side of the whole thing made sense to me.

Although I still think there are moments when exception handling is essential and may be forgotten when all the untrusted code is not being marked. But these moments are very rare. Therefor you won't see concequences often and it is not a very importa

[2019-02-21 09:54] skapral commented on #944
@martin-robo

I'm sorry that it impacts your solutions. But you don't need to remove everything. The only thing you are to remove would be `throws Exceptions`, and adding try-catch wrapping blocks in places where you currently use `UncheckedScalar`s or similar stuff. The rest of the composition remains as-is.

If you don't want to remove `throws Exceptions`, you may reproduce all removed artifacts

[2019-02-24 12:02] tomascury commented on #901
@0crat refuse

[2019-02-24 12:02] tomascury commented on #898
@0crat refuse

[2019-02-24 12:03] 0crat commented on #901
@tomascury The user @tomascury[/z](https://www.0crat.com/u/tomascury) resigned from [#901](https://github.com/yegor256/cactoos/issues/901), please stop working. Reason for job resignation: Order was cancelled

[2019-02-24 12:03] 0crat commented on #898
@tomascury The user @tomascury[/z](https://www.0crat.com/u/tomascury) resigned from [#898](https://github.com/yegor256/cactoos/issues/898), please stop working. Reason for job resignation: Order was cancelled

[2019-02-24 12:05] 0crat commented on #901
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @tomascury[/z](https://www.0crat.com/u/tomascury)

[2019-02-24 12:05] 0crat commented on #898
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @tomascury[/z](https://www.0crat.com/u/tomascury)

[2019-02-26 00:32] 0pdd commented on #1065
The puzzle `1005-7baae0dd` has disappeared from the source code, that's why I closed this issue.

[2019-02-26 00:32] #1065 closed

[2019-02-26 00:32] 0pdd opened #1074 "package-info.java:29-32: Continue applying the new class..."
The puzzle `1065-0d09f056` from #1065 has to be resolved:

https://github.com/yegor256/cactoos/blob/4a03806cd037adcd45c5df4887428afcb6353e28/src/main/java/org/cactoos/text/package-info.java#L29-L32

The puzzle was created by @rultor on 26-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2019-02-26 00:32] 0pdd commented on #1074
This puzzle inherited milestone `1.0` from issue #1065.

[2019-02-26 00:32] 0pdd commented on #913
@neonailol 5 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https://github.com/yegor256/cactoos/issues/1046), [#1064](https://github.com/yegor256/cactoos/issues/1064), [#1074](https://github.com/yegor256/cactoos/issues/1074) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#

[2019-02-26 00:32] 0pdd commented on #958
@0pdd 5 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https://github.com/yegor256/cactoos/issues/1046), [#1064](https://github.com/yegor256/cactoos/issues/1064), [#1074](https://github.com/yegor256/cactoos/issues/1074) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005]

[2019-02-26 00:32] 0pdd commented on #964
@0pdd 5 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https://github.com/yegor256/cactoos/issues/1046), [#1064](https://github.com/yegor256/cactoos/issues/1064), [#1074](https://github.com/yegor256/cactoos/issues/1074) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005]

[2019-02-26 00:32] 0pdd commented on #980
@0pdd 5 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https://github.com/yegor256/cactoos/issues/1046), [#1064](https://github.com/yegor256/cactoos/issues/1064), [#1074](https://github.com/yegor256/cactoos/issues/1074) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005]

[2019-02-26 00:32] 0pdd commented on #1005
@0pdd 2 puzzles [#1064](https://github.com/yegor256/cactoos/issues/1064), [#1074](https://github.com/yegor256/cactoos/issues/1074) are still not solved; solved: [#1065](https://github.com/yegor256/cactoos/issues/1065).

[2019-02-26 00:32] 0crat commented on #1074
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-02-26 00:32] 0pdd commented on #1065
@0pdd the puzzle [#1074](https://github.com/yegor256/cactoos/issues/1074) is still not solved.

[2019-02-26 00:45] 0crat commented on #1074
Job [#1074](https://github.com/yegor256/cactoos/issues/1074) is now in scope, role is `DEV`

[2019-02-26 00:49] #884 closed

[2019-02-26 00:49] 0pdd commented on #884
The puzzle `861-7a51e9e5` has disappeared from the source code, that's why I closed this issue.

[2019-02-26 00:49] 0pdd commented on #551
@neonailol 2 puzzles [#1040](https://github.com/yegor256/cactoos/issues/1040), [#1062](https://github.com/yegor256/cactoos/issues/1062) are still not solved; solved: [#861](https://github.com/yegor256/cactoos/issues/861), [#883](https://github.com/yegor256/cactoos/issues/883), [#884](https://github.com/yegor256/cactoos/issues/884), [#885](https://github.com/yegor256/cactoos/issues/885), [#886](htt

[2019-02-26 00:49] 0pdd commented on #861
@0pdd 2 puzzles [#1040](https://github.com/yegor256/cactoos/issues/1040), [#1062](https://github.com/yegor256/cactoos/issues/1062) are still not solved; solved: [#883](https://github.com/yegor256/cactoos/issues/883), [#884](https://github.com/yegor256/cactoos/issues/884), [#885](https://github.com/yegor256/cactoos/issues/885), [#886](https://github.com/yegor256/cactoos/issues/886), [#887](https://

[2019-02-26 01:07] 0crat commented on #1065
The job [#1065](https://github.com/yegor256/cactoos/issues/1065) is now out of scope

[2019-02-26 01:08] 0crat commented on #1065
Order was finished: +30 point(s) just awarded to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr)

[2019-02-26 01:12] 0crat commented on #884
The job [#884](https://github.com/yegor256/cactoos/issues/884) is now out of scope

[2019-02-26 01:15] 0crat commented on #884
Order was finished: +30 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-02-26 01:17] 0crat commented on #898
The job [#898](https://github.com/yegor256/cactoos/issues/898) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/cf3feb2c-4c1d-4fba-9750-3e4d5fb7d97c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-02-26 01:30] 0crat commented on #951
The job [#951](https://github.com/yegor256/cactoos/issues/951) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/3b7aac39-200f-4dbe-987f-9988702e3c4b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-02-27 18:27] grzechol opened #1075 "CollectionEnvelope#equals is broken"
Please see the following code:
[code]
As you can see, every list contains equal elements, but the code prints:
[code]
Which is not true since all of the lists are equal.

cactoos version 0.39, Google Guava version 27.0.1-jre, OpenJDK 1.8.0_191

[2019-02-27 18:27] 0crat commented on #1075
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-02-27 18:27] 0crat commented on #1075
@grzechol[/z](https://www.0crat.com/u/grzechol) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-27 19:48] svendiedrichsen commented on #1075
Probably fixed by #1057

[2019-02-27 20:57] llorllale commented on #1075
@grzechol yeah, this may be a duplicate of #904. Can you confirm?

[2019-02-27 21:57] llorllale commented on #1075
@grzechol please test with `0.40` and let us know

[2019-02-28 07:32] grzechol commented on #1075
Thanks @llorllale and @svendiedrichsen, I've checked and it's fixed in 0.40

[2019-02-28 07:32] #1075 closed

[2019-02-28 07:50] 0crat commented on #1075
Job `gh:yegor256/cactoos#1075` is not assigned, can't get performer

[2019-02-28 07:50] 0crat commented on #1075
This job is not in scope

[2019-02-28 17:22] g4s8 opened #1076 "BytesOf doesn accept ByteBuffer as constructor argument"
`BytesOf` class doesn support `java.nio.ByteBuffer` argument, so the user needs to construct `Bytes` via
[code]
I think `BytesOf` can also accept `ByteBuffer` as ctor parameter, because `ByteBuffer` is standard class to store bytes in java.

[2019-02-28 17:22] 0crat commented on #1076
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-02-28 17:22] 0crat commented on #1076
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-02 13:20] 0pdd commented on #904
The puzzle `881-d152950a` has disappeared from the source code, that's why I closed this issue.

[2019-03-02 13:20] #904 closed

[2019-03-02 13:20] 0pdd commented on #844
@krzyk all 2 puzzles are solved here: [#881](https://github.com/yegor256/cactoos/issues/881), [#904](https://github.com/yegor256/cactoos/issues/904).

[2019-03-02 13:20] 0pdd commented on #881
@0pdd the only puzzle [#904](https://github.com/yegor256/cactoos/issues/904) is solved here.

[2019-03-02 13:35] llorllale commented on #1076
@g4s8 sure, but I'm not sure it's OK to read the ByteBuffer's whole array (which is an optional operation). The ByteBuffer's position may not equal `0` and its limit may not equal its capacity, so I think it's best to use the relative *get* operations to work within the buffer's position and limit.

[2019-03-02 13:48] llorllale commented on #1060
@dgroup can we close this?

[2019-03-02 13:51] 0crat commented on #904
The job [#904](https://github.com/yegor256/cactoos/issues/904) is now out of scope

[2019-03-02 13:53] llorllale commented on #1051
@Iprogrammerr is this extra class really worth the trouble of not having to specify a delimiter for `org.cactoos.text.Joined`? I'm having trouble believing it.

[2019-03-02 13:54] llorllale commented on #1050
@Iprogrammerr this was fixed in 4e1fbea99a06f08938b41e9e43378c4b994a5f3f, can we close this?

[2019-03-02 13:55] 0crat commented on #904
Order was finished: +30 point(s) just awarded to @scratchboom[/z](https://www.0crat.com/u/scratchboom)

[2019-03-02 13:56] llorllale commented on #1035
@ilyakharlamov this was done by you in PR #1038

[2019-03-02 13:56] #1035 closed

[2019-03-02 13:59] llorllale commented on #1030
@ilyakharlamov you fixed this in PR #1031

[2019-03-02 13:59] #1030 closed

[2019-03-02 14:00] llorllale commented on #985
@yegor256 ping

[2019-03-02 14:16] 0crat commented on #1035
Job `gh:yegor256/cactoos#1035` is not assigned, can't get performer

[2019-03-02 14:16] 0crat commented on #1035
This job is not in scope

[2019-03-02 14:16] 0crat commented on #1030
Job `gh:yegor256/cactoos#1030` is not assigned, can't get performer

[2019-03-02 14:16] 0crat commented on #1030
The job [#1030](https://github.com/yegor256/cactoos/issues/1030) is now out of scope

[2019-03-02 14:27] 0crat commented on #1000
The job [#1000](https://github.com/yegor256/cactoos/issues/1000) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C63314D6Z/cf7fe979-ba43-4b96-a549-d745f2fc202f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-03-02 17:10] victornoel commented on #951
@0crat wait for #1077 to be merged

[2019-03-02 17:11] 0crat commented on #951
@victornoel The impediment for [#951](https://github.com/yegor256/cactoos/issues/951) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-03-02 17:13] victornoel commented on #898
@0crat refuse

[2019-03-02 17:14] 0crat commented on #898
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#898](https://github.com/yegor256/cactoos/issues/898), please stop working. Reason for job resignation: Order was cancelled

[2019-03-02 17:14] 0crat commented on #898
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-03-02 17:26] 0crat commented on #901
The job [#901](https://github.com/yegor256/cactoos/issues/901) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/1fa07d81-8299-41db-8179-7e4234d8050f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-03-02 17:47] victornoel commented on #901
@0crat wait for #1078 to be merged

[2019-03-02 17:49] 0crat commented on #901
@victornoel The impediment for [#901](https://github.com/yegor256/cactoos/issues/901) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-03-06 12:47] #1060 closed

[2019-03-06 13:06] 0crat commented on #1060
Job `gh:yegor256/cactoos#1060` is not assigned, can't get performer

[2019-03-06 13:07] 0crat commented on #1060
This job is not in scope

[2019-03-07 15:13] 0crat commented on #898
The job [#898](https://github.com/yegor256/cactoos/issues/898) assigned to @longstone[/z](https://www.0crat.com/u/longstone), here is [why](https://www.0crat.com/footprint/C63314D6Z/83d3cf06-d52f-4ddb-9e0f-e04a28a6e8e2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-03-07 15:13] 0crat commented on #898
Job `gh:yegor256/cactoos#898` already assigned to @longstone, can't assign to @longstone

[2019-03-07 15:20] 0crat commented on #909
The job [#909](https://github.com/yegor256/cactoos/issues/909) assigned to @longstone[/z](https://www.0crat.com/u/longstone), here is [why](https://www.0crat.com/footprint/C63314D6Z/2644636b-911c-4b42-8cab-d2dc2d117401); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-03-07 15:28] 0crat commented on #906
The job [#906](https://github.com/yegor256/cactoos/issues/906) assigned to @longstone[/z](https://www.0crat.com/u/longstone), here is [why](https://www.0crat.com/footprint/C63314D6Z/c0d721aa-9c84-4eb2-bd4d-7aaa2dc68dd8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-03-07 16:13] longstone commented on #909
hi @llorllale , `RetryFunc` was renamed to `Func`, but I'm missing the `@puzzle` in the code,
Am I missing something?

[2019-03-08 00:27] llorllale commented on #909
@longstone this task was opened by @neonailol - it's not a puzzle

[2019-03-09 18:57] longstone commented on #898
@0crat refuse

[2019-03-09 19:05] 0crat commented on #898
@longstone The user @longstone[/z](https://www.0crat.com/u/longstone) resigned from [#898](https://github.com/yegor256/cactoos/issues/898), please stop working. Reason for job resignation: Order was cancelled

[2019-03-09 19:07] 0crat commented on #898
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @longstone[/z](https://www.0crat.com/u/longstone)

[2019-03-09 19:11] 0crat commented on #1074
The job [#1074](https://github.com/yegor256/cactoos/issues/1074) assigned to @longstone[/z](https://www.0crat.com/u/longstone), here is [why](https://www.0crat.com/footprint/C63314D6Z/9bf712ba-465e-47b5-a953-f1fb9a9488b8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-03-10 14:14] 0pdd commented on #1064
The puzzle `1005-58ab3a1d` has disappeared from the source code, that's why I closed this issue.

[2019-03-10 14:14] #1064 closed

[2019-03-10 14:15] 0pdd commented on #913
@neonailol 4 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https://github.com/yegor256/cactoos/issues/1046), [#1074](https://github.com/yegor256/cactoos/issues/1074) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#

[2019-03-10 14:15] 0pdd commented on #958
@0pdd 4 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https://github.com/yegor256/cactoos/issues/1046), [#1074](https://github.com/yegor256/cactoos/issues/1074) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006]

[2019-03-10 14:15] 0pdd commented on #964
@0pdd 4 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https://github.com/yegor256/cactoos/issues/1046), [#1074](https://github.com/yegor256/cactoos/issues/1074) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006]

[2019-03-10 14:15] 0pdd commented on #980
@0pdd 4 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https://github.com/yegor256/cactoos/issues/1046), [#1074](https://github.com/yegor256/cactoos/issues/1074) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006]

[2019-03-10 14:15] 0pdd commented on #1005
@0pdd the puzzle [#1074](https://github.com/yegor256/cactoos/issues/1074) is still not solved; solved: [#1064](https://github.com/yegor256/cactoos/issues/1064), [#1065](https://github.com/yegor256/cactoos/issues/1065).

[2019-03-10 14:40] 0crat commented on #1064
The job [#1064](https://github.com/yegor256/cactoos/issues/1064) is now out of scope

[2019-03-10 14:42] 0crat commented on #1064
Order was finished: +30 point(s) just awarded to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr)

[2019-03-10 14:47] 0crat commented on #1003
The job [#1003](https://github.com/yegor256/cactoos/issues/1003) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/ff193b2e-a23f-40b0-b979-9cc23f9192bd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-03-10 14:48] 0crat commented on #1003
Job `gh:yegor256/cactoos#1003` already assigned to @victornoel, can't assign to @victornoel

[2019-03-12 19:09] 0crat commented on #898
The job [#898](https://github.com/yegor256/cactoos/issues/898) assigned to @golyalpha[/z](https://www.0crat.com/u/golyalpha), here is [why](https://www.0crat.com/footprint/C63314D6Z/fb819772-b463-4913-8d2b-08ac341873a3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-03-12 19:16] 0crat commented on #826
The job [#826](https://github.com/yegor256/cactoos/issues/826) assigned to @golyalpha[/z](https://www.0crat.com/u/golyalpha), here is [why](https://www.0crat.com/footprint/C63314D6Z/c6cadf50-08cc-4375-b6d7-bcb143085d94); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-03-13 08:02] golszewski86 commented on #913
Yeah that was a really brilliant idea @llorllale and @neonailol. Now you can't use Sticky map and list in the same class without using fully qualified name for one of them. And when you see Sticky in the code, you have no idea what it is without looking at import declarations.
Congratulations guys.

[2019-03-13 09:31] Vatavuk commented on #913
@golszewski86 You could focus your energy on creating a ticket with detailed explanation on what you consider is wrong and should be changed instead of whining here in the closed PR.

[2019-03-13 18:28] victornoel commented on #1003
@0crat wait for #1081

[2019-03-13 18:29] 0crat commented on #1003
@victornoel The impediment for [#1003](https://github.com/yegor256/cactoos/issues/1003) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-03-14 15:16] llorllale commented on #913
@golszewski86 please open a new ticket and we'll continue there

[2019-03-14 15:44] #951 closed

[2019-03-14 15:44] 0pdd commented on #951
The puzzle `903-fd48e847` has disappeared from the source code, that's why I closed this issue.

[2019-03-14 15:44] 0pdd opened #1082 "pom.xml:163-169: In the continuation of #588, all the..."
The puzzle `951-fd48e847` from #951 has to be resolved:

https://github.com/yegor256/cactoos/blob/2218fb31d6fe79973c4587c6675d2d11fac08b56/pom.xml#L163-L169

The puzzle was created by Victor Noël on 02-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the source co

[2019-03-14 15:44] 0pdd commented on #588
@neonailol the puzzle [#1082](https://github.com/yegor256/cactoos/issues/1082) is still not solved; solved: [#902](https://github.com/yegor256/cactoos/issues/902), [#903](https://github.com/yegor256/cactoos/issues/903), [#951](https://github.com/yegor256/cactoos/issues/951).

[2019-03-14 15:44] 0pdd commented on #903
@0pdd the puzzle [#1082](https://github.com/yegor256/cactoos/issues/1082) is still not solved; solved: [#951](https://github.com/yegor256/cactoos/issues/951).

[2019-03-14 15:44] 0pdd commented on #951
@0pdd the puzzle [#1082](https://github.com/yegor256/cactoos/issues/1082) is still not solved.

[2019-03-14 15:45] 0crat commented on #1082
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-03-14 15:57] 0crat commented on #1082
Job [#1082](https://github.com/yegor256/cactoos/issues/1082) is now in scope, role is `DEV`

[2019-03-14 17:13] 0crat commented on #1025
The job [#1025](https://github.com/yegor256/cactoos/issues/1025) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/0a8bfe2f-a933-4f09-bff9-c54aa2c0491b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-03-15 07:48] victornoel commented on #1025
@0crat wait for #1081 to be merged

[2019-03-15 07:49] 0crat commented on #1025
@victornoel The impediment for [#1025](https://github.com/yegor256/cactoos/issues/1025) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-03-15 17:47] victornoel commented on #901
@paulodamaso the PR was merged, I think this can be closed :)

[2019-03-17 05:39] dgroup opened #1084 "Merged/Joined - allows to merge/join several java.util.Properties"
When you are working with `java.util.Properties` you may need to merge/join several properties or merge existing `Properties` object with a `Map` or 2x dimension array.
`PropertiesOf` allows you to instantiate a new instance based on different sources like Text, String, etc, but it doesn't provide any `ctor(s)` which allows joining properties.

Potentially we can create a few `ctors` to `Propertie

[2019-03-17 05:39] 0crat commented on #1084
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-03-17 13:52] 0pdd commented on #1074
The puzzle `1065-0d09f056` has disappeared from the source code, that's why I closed this issue.

[2019-03-17 13:52] #1074 closed

[2019-03-17 13:52] 0pdd commented on #913
@neonailol 3 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https://github.com/yegor256/cactoos/issues/1046) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#

[2019-03-17 13:52] 0pdd commented on #958
@0pdd 3 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https://github.com/yegor256/cactoos/issues/1046) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1007]

[2019-03-17 13:52] 0pdd commented on #964
@0pdd 3 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https://github.com/yegor256/cactoos/issues/1046) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1007]

[2019-03-17 13:52] 0pdd commented on #980
@0pdd 3 puzzles [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https://github.com/yegor256/cactoos/issues/1046) are still not solved; solved: [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1007]

[2019-03-17 13:52] 0pdd commented on #1005
@0pdd all 3 puzzles are solved here: [#1064](https://github.com/yegor256/cactoos/issues/1064), [#1065](https://github.com/yegor256/cactoos/issues/1065), [#1074](https://github.com/yegor256/cactoos/issues/1074).

[2019-03-17 13:52] 0pdd commented on #1065
@0pdd the only puzzle [#1074](https://github.com/yegor256/cactoos/issues/1074) is solved here.

[2019-03-17 14:02] llorllale commented on #1084
@dgroup maybe we could add a `org.cactoos.map.Merged` that could be reused for properties (because they are `Map<Object,Object>`).

Name would be `Merged` instead of `Joined` because you don't concatenate maps - you merge them (keys may be overwritten).

[2019-03-17 14:14] 0crat commented on #1074
The job [#1074](https://github.com/yegor256/cactoos/issues/1074) is now out of scope

[2019-03-17 14:16] 0crat commented on #1074
Order was finished: +30 point(s) just awarded to @longstone[/z](https://www.0crat.com/u/longstone)

[2019-03-17 18:03] dgroup commented on #1084
@llorllale agree, the way with `org.cactoos.map.Merged` is more general and can be reused in other cases.

[2019-03-18 00:35] 0crat commented on #1037
The job [#1037](https://github.com/yegor256/cactoos/issues/1037) assigned to @sereshqua[/z](https://www.0crat.com/u/sereshqua), here is [why](https://www.0crat.com/footprint/C63314D6Z/de8111d5-0a16-4d6c-812d-064bdad9ed31); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-03-18 00:46] 0crat commented on #1039
The job [#1039](https://github.com/yegor256/cactoos/issues/1039) assigned to @sereshqua[/z](https://www.0crat.com/u/sereshqua), here is [why](https://www.0crat.com/footprint/C63314D6Z/42a48e2b-2448-4ddf-8d10-7ede6db7f44e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-03-18 00:51] 0crat commented on #917
The job [#917](https://github.com/yegor256/cactoos/issues/917) assigned to @sereshqua[/z](https://www.0crat.com/u/sereshqua), here is [why](https://www.0crat.com/footprint/C63314D6Z/229181c9-8035-400e-8a83-e4183c565013); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-03-18 10:51] llorllale commented on #971
@g4s8 PR #1032 was merged, can we close this?

[2019-03-18 13:05] 0crat commented on #1040
The job [#1040](https://github.com/yegor256/cactoos/issues/1040) assigned to @dennis00010011b[/z](https://www.0crat.com/u/dennis00010011b), here is [why](https://www.0crat.com/footprint/C63314D6Z/43cab761-8bc2-413a-ac35-1ffb23f5c7c4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2019-03-18 13:13] 0crat commented on #922
The job [#922](https://github.com/yegor256/cactoos/issues/922) assigned to @dennis00010011b[/z](https://www.0crat.com/u/dennis00010011b), here is [why](https://www.0crat.com/footprint/C63314D6Z/4a5ef52e-4992-450e-8156-5383eb5edc20); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-03-18 13:21] 0crat commented on #927
The job [#927](https://github.com/yegor256/cactoos/issues/927) assigned to @dennis00010011b[/z](https://www.0crat.com/u/dennis00010011b), here is [why](https://www.0crat.com/footprint/C63314D6Z/a6c078ff-e378-496d-a2ca-82ecb048360e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-03-18 17:20] g4s8 commented on #971
@llorllale sure, thanks a lot

[2019-03-18 17:20] #971 closed

[2019-03-18 17:26] victornoel commented on #901
@paulodamaso ping?

[2019-03-18 17:48] 0crat commented on #971
The job [#971](https://github.com/yegor256/cactoos/issues/971) is now out of scope

[2019-03-18 17:50] 0crat commented on #971
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-03-18 23:27] llorllale commented on #917
@0crat refuse

[2019-03-18 23:28] llorllale commented on #1039
@0crat refuse

[2019-03-18 23:28] llorllale commented on #1037
@0crat refuse

[2019-03-18 23:28] llorllale commented on #1000
@0crat refuse

[2019-03-18 23:28] 0crat commented on #917
@llorllale The user @sereshqua[/z](https://www.0crat.com/u/sereshqua) resigned from [#917](https://github.com/yegor256/cactoos/issues/917), please stop working. Reason for job resignation: Order was cancelled

[2019-03-18 23:29] 0crat commented on #1000
@llorllale The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#1000](https://github.com/yegor256/cactoos/issues/1000), please stop working. Reason for job resignation: Order was cancelled

[2019-03-18 23:29] 0crat commented on #1039
@llorllale The user @sereshqua[/z](https://www.0crat.com/u/sereshqua) resigned from [#1039](https://github.com/yegor256/cactoos/issues/1039), please stop working. Reason for job resignation: Order was cancelled

[2019-03-18 23:29] llorllale commented on #852
@fabriciofx PR #990 was merged, can we close this?

[2019-03-18 23:32] llorllale commented on #893
@0crat refuse

[2019-03-18 23:33] llorllale commented on #895
@0crat refuse

[2019-03-18 23:34] llorllale commented on #1015
@0crat refuse

[2019-03-18 23:34] llorllale commented on #1016
@0crat refuse

[2019-03-18 23:35] llorllale commented on #905
@0crat refuse

[2019-03-18 23:38] 0crat commented on #893
@llorllale The user @scratchboom[/z](https://www.0crat.com/u/scratchboom) resigned from [#893](https://github.com/yegor256/cactoos/issues/893), please stop working. Reason for job resignation: Order was cancelled

[2019-03-18 23:38] 0crat commented on #1015
@llorllale The user @mazdack[/z](https://www.0crat.com/u/mazdack) resigned from [#1015](https://github.com/yegor256/cactoos/issues/1015), please stop working. Reason for job resignation: Order was cancelled

[2019-03-18 23:42] 0crat commented on #895
@llorllale The user @scratchboom[/z](https://www.0crat.com/u/scratchboom) resigned from [#895](https://github.com/yegor256/cactoos/issues/895), please stop working. Reason for job resignation: Order was cancelled

[2019-03-18 23:42] 0crat commented on #1016
@llorllale The user @mazdack[/z](https://www.0crat.com/u/mazdack) resigned from [#1016](https://github.com/yegor256/cactoos/issues/1016), please stop working. Reason for job resignation: Order was cancelled

[2019-03-18 23:44] 0crat commented on #905
@llorllale The user @borysfan[/z](https://www.0crat.com/u/borysfan) resigned from [#905](https://github.com/yegor256/cactoos/issues/905), please stop working. Reason for job resignation: Order was cancelled

[2019-03-18 23:59] 0crat commented on #893
The job [#893](https://github.com/yegor256/cactoos/issues/893) assigned to @borysfan[/z](https://www.0crat.com/u/borysfan), here is [why](https://www.0crat.com/footprint/C63314D6Z/433d4b3b-0736-4fc2-8620-713e53bb154b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-03-19 00:07] 0crat commented on #895
The job [#895](https://github.com/yegor256/cactoos/issues/895) assigned to @borysfan[/z](https://www.0crat.com/u/borysfan), here is [why](https://www.0crat.com/footprint/C63314D6Z/99eb6140-a9f2-4c83-accf-0fad29a36d61); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-03-19 18:48] victornoel commented on #901
@llorllale any way to get this closed, @paulodamaso doesn't seem to be responding :)

[2019-03-19 19:44] golyalpha commented on #898
@0crat refuse

[2019-03-19 19:45] 0crat commented on #898
@golyalpha The user @golyalpha[/z](https://www.0crat.com/u/golyalpha) resigned from [#898](https://github.com/yegor256/cactoos/issues/898), please stop working. Reason for job resignation: Order was cancelled

[2019-03-19 19:46] 0crat commented on #898
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2019-03-19 19:52] 0crat commented on #1015
The job [#1015](https://github.com/yegor256/cactoos/issues/1015) assigned to @golyalpha[/z](https://www.0crat.com/u/golyalpha), here is [why](https://www.0crat.com/footprint/C63314D6Z/afdcc077-7d57-4d58-a684-72f28b472f26); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-03-21 13:34] neonailol commented on #913
@golszewski86 well, you should read this thread more thoughtfully

[2019-03-22 00:41] llorllale commented on #1084
@dgroup let's start with `org.cactoos.map.Merged` that will merge two or more maps

[2019-03-22 00:41] llorllale commented on #1084
@0crat in

[2019-03-22 00:46] 0crat commented on #1084
@llorllale Job [#1084](https://github.com/yegor256/cactoos/issues/1084) is now in scope, role is `DEV`

[2019-03-22 00:49] llorllale commented on #1016
@0crat assign @mazdack

[2019-03-22 00:53] 0crat commented on #1084
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dgroup[/z](https://www.0crat.com/u/dgroup)

[2019-03-22 00:53] 0crat commented on #1016
@llorllale The job [#1016](https://github.com/yegor256/cactoos/issues/1016) assigned to @mazdack[/z](https://www.0crat.com/u/mazdack), here is [why](https://www.0crat.com/footprint/C63314D6Z/e0fce523-d59c-4453-b2c1-106dfc5ba67b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-03-22 00:53] llorllale commented on #901
@paulodamaso closed because PR #1078 was merged

[2019-03-22 00:53] #901 closed

[2019-03-22 00:56] 0crat commented on #1016
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-03-22 01:12] 0crat commented on #901
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-22 01:12] 0crat commented on #901
The job [#901](https://github.com/yegor256/cactoos/issues/901) is now out of scope

[2019-03-22 11:44] sereshqua commented on #901
quality good

[2019-03-22 11:45] sereshqua commented on #1037
@0crat refuse

[2019-03-22 11:47] 0crat commented on #1037
@sereshqua The user @sereshqua[/z](https://www.0crat.com/u/sereshqua) resigned from [#1037](https://github.com/yegor256/cactoos/issues/1037), please stop working. Reason for job resignation: Order was cancelled

[2019-03-22 11:47] 0crat commented on #1037
@llorllale Job `gh:yegor256/cactoos#1037` is not assigned, can't get performer

[2019-03-22 11:50] 0crat commented on #1037
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-03-22 12:22] victornoel commented on #901
@sereshqua you need to tell that to 0crat (`@0crat quality good`)

[2019-03-22 12:22] 0crat commented on #901
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos/issues/901#issuecomment-475600737); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-03-22 12:32] sereshqua commented on #901
@0crat quality good

[2019-03-22 12:46] 0crat commented on #901
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-03-22 12:48] 0crat commented on #901
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-03-22 12:55] sereshqua commented on #1037
@llorllale My role was previously wrongly assigned, because the TG bot has wrong format `apply` command and I did not I would have to specify role in there, please see:

<img width="422" alt="Screenshot 2019-03-22 at 14 49 59" src="https://user-images.githubusercontent.com/10097808/54824045-73129c80-4cb2-11e9-802b-0826a3ace0e7.png">

Would it be possible to receive points back?

[2019-03-22 15:12] llorllale commented on #1037
@llorllale sorry, no, can't recover those points. You should have asked me :) `ARC` can `refuse` a task with no penalties to the parties involved.

[2019-03-22 15:14] sereshqua commented on #1037
@llorllale Kirill @g4s8 told me that it is possible to add points manually, isn't it?

[2019-03-22 22:42] Shryne opened #1085 "MapEnvelope shouldn't waste the hashCode object"
Currently, MapEnvelope (and probably some other classes, for example, CollectionEnvelope) creates a scalar inside of hashCode and calls `value()` immediately:
https://github.com/yegor256/cactoos/blob/7ea22b9e38dd46f7b28e948bbc4a0e116b3d0f53/src/main/java/org/cactoos/map/MapEnvelope.java#L161-L179
I guess you are desperately trying to hold onto the oop rules, but creating an object inside of a meth

[2019-03-22 22:42] 0crat commented on #1085
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-03-22 22:42] 0crat commented on #1085
@shryne[/z](https://www.0crat.com/u/shryne) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-23 12:49] llorllale commented on #1037
@sereshqua I could, but unfortunately I'll be then [penalized](http://www.zerocracy.com/policy.html#49) myself :)

[2019-03-23 13:05] llorllale commented on #1085
@Shryne I'd first like to understand where exactly you think the problem is, whether it's the implementation's *complexity* or *performance*.

(To add to the context, see #947 where we discuss the separation of concerns of *envelope* vs. *immutability* in collections)

[2019-03-23 13:25] 0pdd commented on #1003
The puzzle `980-c8642680` has disappeared from the source code, that's why I closed this issue.

[2019-03-23 13:25] #1003 closed

[2019-03-23 13:25] 0pdd commented on #1025
The puzzle `1007-e4b38199` has disappeared from the source code, that's why I closed this issue.

[2019-03-23 13:25] #1025 closed

[2019-03-23 13:25] 0pdd opened #1086 "UncheckedScalar.java:36-38: Remove once the dependency..."
The puzzle `1081-f3313fb1` from #1081 has to be resolved:

https://github.com/yegor256/cactoos/blob/7e57623842b710483cbefc3d59b984c86d712b67/src/main/java/org/cactoos/scalar/UncheckedScalar.java#L36-L38

The puzzle was created by Victor Noël on 13-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-03-23 13:25] 0pdd commented on #913
@neonailol the puzzle [#1046](https://github.com/yegor256/cactoos/issues/1046) is still not solved; solved: [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1007](https://github.com/yegor256/cactoos/issues/1007), [#

[2019-03-23 13:25] 0pdd commented on #958
@0pdd the puzzle [#1046](https://github.com/yegor256/cactoos/issues/1046) is still not solved; solved: [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1007](https://github.com/yegor256/cactoos/issues/1007), [#1025]

[2019-03-23 13:25] 0pdd commented on #964
@0pdd the puzzle [#1046](https://github.com/yegor256/cactoos/issues/1046) is still not solved; solved: [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1007](https://github.com/yegor256/cactoos/issues/1007), [#1025]

[2019-03-23 13:25] 0pdd commented on #980
@0pdd the puzzle [#1046](https://github.com/yegor256/cactoos/issues/1046) is still not solved; solved: [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1007](https://github.com/yegor256/cactoos/issues/1007), [#1025]

[2019-03-23 13:25] 0pdd commented on #1007
@0pdd the only puzzle [#1025](https://github.com/yegor256/cactoos/issues/1025) is solved here.

[2019-03-23 13:26] 0crat commented on #1086
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-03-23 13:31] 0crat commented on #1086
Job [#1086](https://github.com/yegor256/cactoos/issues/1086) is now in scope, role is `DEV`

[2019-03-23 13:46] 0crat commented on #1025
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-23 13:46] 0crat commented on #1003
Job [#1003](https://github.com/yegor256/cactoos/issues/1003) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't inspect

[2019-03-23 13:46] 0crat commented on #1025
The job [#1025](https://github.com/yegor256/cactoos/issues/1025) is now out of scope

[2019-03-23 13:46] 0crat commented on #1003
The job [#1003](https://github.com/yegor256/cactoos/issues/1003) is now out of scope

[2019-03-23 13:46] 0crat commented on #1003
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-23 13:50] sereshqua commented on #1025
@0crat quality good

[2019-03-23 13:51] sereshqua commented on #1003
@0crat quality good

[2019-03-23 13:57] 0crat commented on #1025
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-03-23 13:59] 0crat commented on #1025
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-03-23 14:01] 0crat commented on #1003
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-03-23 14:03] 0crat commented on #1003
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-03-23 14:03] 0crat commented on #905
The job [#905](https://github.com/yegor256/cactoos/issues/905) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/709029d6-41dd-4974-902f-09b834dd4e4a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-03-24 09:04] Shryne commented on #1085
I've read #947 but I don't think it adds something to this issue.
#892 led to the change of the equals method of MapEnvelope. The reason was that multiple return statements are against the rules according to: [https://www.yegor256.com/2015/08/18/multiple-return-statements-in-oop.html](https://www.yegor256.com/2015/08/18/multiple-return-statements-in-oop.html)

Yes, the new implementation with the

[2019-03-24 12:13] victornoel commented on #905
@llorllale what is the status of this since #911 was accepted? This constructor should be removed in #1059...

[2019-03-24 15:27] 0crat commented on #1015
The job [#1015](https://github.com/yegor256/cactoos/issues/1015) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/62fe216d-2369-4d0b-b887-f15ef00ec73f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-03-24 15:32] victornoel commented on #1015
@llorllale the same happened here :)

[2019-03-24 15:33] victornoel commented on #1015
@llorllale ah but no PR exists for this one, so I can take care of it if you confirm :)

[2019-03-24 17:51] ilyakharlamov commented on #891
@victornoel ping, everything is merged

[2019-03-24 17:56] victornoel commented on #891
@llorllale so we are happy with not fixing all those issues? If you are good with it I will close this, if not I would expect some `@todo` to be added to the code base for this issue to be closed :)

[2019-03-26 00:29] llorllale commented on #1085
@Shryne

1. True, but that's a trade-off we're willing to make, especially for `equals` and `hashcode`
2. We haven't measured it. Can you provide some measurements? Also, no PMD rule is broken specifically because of this implementation (no relevant PMD suppressions were required for this)
3. We recommend users get used to the style. :)
4. It is true that we don't defer execution this way, but con

[2019-03-26 00:34] llorllale commented on #905
@0crat out

[2019-03-26 00:39] 0crat commented on #905
@llorllale GitHub issue is still open, won't close

[2019-03-26 00:40] llorllale commented on #1015
@victornoel go ahead with this one

[2019-03-26 00:47] llorllale commented on #905
@0crat refuse

[2019-03-26 00:47] llorllale commented on #905
@0crat out

[2019-03-26 00:48] 0crat commented on #905
@llorllale Job `gh:yegor256/cactoos#905` is not assigned, can't get performer

[2019-03-26 00:48] 0crat commented on #905
@llorllale The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#905](https://github.com/yegor256/cactoos/issues/905), please stop working. Reason for job resignation: Order was cancelled

[2019-03-26 00:48] 0crat commented on #905
@llorllale GitHub issue is still open, won't close

[2019-03-26 00:49] 0crat commented on #826
The job [#826](https://github.com/yegor256/cactoos/issues/826) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/746e75a8-dcfc-49b5-88c8-efc66bc72aba); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-03-26 19:04] victornoel commented on #1015
@llorllale what about naming? There is going to be 4 new classes inside `func` package, should it be `NoNullsFunc`, `NoNullsBiFunc`, etc?

[2019-03-26 19:06] victornoel commented on #826
@llorllale can I use [eo-envelopes](https://github.com/victornoel/eo-envelopes) for this? We already are using it in zold-java-api and it seemed to be appreciated. I have been using it at work for some times without any problem.

[2019-03-27 13:29] 0crat commented on #917
The job [#917](https://github.com/yegor256/cactoos/issues/917) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/71367ad6-9e39-431a-9ec4-254e1af0b8fe); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-03-29 10:13] victornoel commented on #1015
@llorllale any idea on the above question?

[2019-03-29 10:14] victornoel commented on #826
@llorllale any answer for the above question?

[2019-03-29 10:27] victornoel commented on #917
@0crat wait for #1087 to be merged

[2019-03-29 10:27] victornoel commented on #917
@butenkos can you confirm this is what you had in mind?

[2019-03-29 10:39] 0crat commented on #917
@victornoel The impediment for [#917](https://github.com/yegor256/cactoos/issues/917) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-03-29 23:14] llorllale commented on #891
@victornoel

Huh, I should've looked at them myself back then. Below are the warnings - there is only one very minor issue that interests me. Do you see more?

[code]

[2019-03-29 23:37] 0pdd opened #1088 "RetryTest.java:37-39: add a test to where an interrupt..."
The puzzle `909-fb64001d` from #909 has to be resolved:

https://github.com/yegor256/cactoos/blob/fc1cbb20b6fea317c4919a8e2b9d46b788685507/src/test/java/org/cactoos/func/RetryTest.java#L37-L39

The puzzle was created by longstone on 21-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2019-03-29 23:37] 0pdd commented on #909
@neonailol the puzzle [#1088](https://github.com/yegor256/cactoos/issues/1088) is still not solved.

[2019-03-29 23:37] 0crat commented on #1088
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-03-29 23:46] 0crat commented on #1088
Job [#1088](https://github.com/yegor256/cactoos/issues/1088) is now in scope, role is `DEV`

[2019-03-29 23:47] llorllale commented on #852
@fabriciofx ping

[2019-03-29 23:52] llorllale commented on #1015
@victornoel let's use `NoNulls` as a suffix.

I think `Proc` and `BiProc` are decent candidates for removal once we get to #915.

[2019-03-29 23:58] llorllale commented on #826
@victornoel `cactoos` envelopes tend to implement `equals()` and `hashcode()` so I'm not too sure about using eo-envelopes.

[2019-03-30 04:21] dgroup opened #1089 "throw checked CactoosException instead of raw java.lang.Exception from Scalar, Func, Proc, Text, etc"
It's too verbose to operate with scalars, functions, text, etc when they are throws raw `java.lang.Exception`.

Yes, we do have the `UncheckedXxx` implementations but we can't use them very often due to `ClassDataAbstractionCouplingCheck` which equal to 7 classes.
For example, we have few instances of `Scalar` and `Text`, so in order to do not throw the raw exception, you need `Scalar`, `Unchecked

[2019-03-30 04:21] 0crat commented on #1089
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-03-30 05:15] 0crat commented on #922
The job [#922](https://github.com/yegor256/cactoos/issues/922) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/a948e16d-04de-4c52-be0b-c63afcebbc9f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-03-30 05:40] longstone commented on #909
@neonailol as there is now a Option zo wait between attempt, i think this is resolved.

[2019-03-30 11:26] victornoel commented on #1015
@0crat wait for #1090 to be merged

[2019-03-30 11:27] 0crat commented on #1015
@victornoel The impediment for [#1015](https://github.com/yegor256/cactoos/issues/1015) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-03-30 11:34] victornoel commented on #826
@llorllale yes I agree in some case (for example `CollectionEnvelope`), but here:
- we are talking of `Scalar` and `Func`, I don't think objects implementing them should implement either `hashCode` or `equals`.
- eo-envelope is only used when generating envelopes for interfaces we do define ourselves (so not for the case similar to `CollectionEnvelope`) and we should thrive for object oriented int

[2019-03-30 13:12] llorllale commented on #1089
@dgroup by "throw CactoosException", you mean "throw a runtime (aka non-checked) exception"? If so, this is a duplicate of #944

[2019-03-30 14:02] llorllale commented on #826
@victornoel I am more concerned with the uniformity of the envelope implementations.

I agree that `Scalar` and `Func` probably don't require envelopes, and I also agree that EO code should avoid `equals` when possible.

And then we have `TextEnvelope`.

In the end, I'm not sure what the ROI for this will be, if any. On one hand, we would add this special rule of "use eo-envelopes for cactoos inte

[2019-03-30 17:38] victornoel commented on #922
@0crat refuse

[2019-03-30 17:40] victornoel commented on #826
@llorllale yep, good points, I will do it without eo-envelopes then

[2019-03-30 17:46] 0crat commented on #922
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#922](https://github.com/yegor256/cactoos/issues/922), please stop working. Reason for job resignation: Order was cancelled

[2019-03-30 17:49] 0crat commented on #922
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-03-30 18:15] victornoel commented on #826
@0crat wait for #1091 to be merged

[2019-03-30 18:16] victornoel commented on #826
@Vatavuk can you confirm that #1091 answers your needs? :)

[2019-03-30 18:18] 0crat commented on #826
@victornoel The impediment for [#826](https://github.com/yegor256/cactoos/issues/826) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-03-30 21:14] #1015 closed

[2019-03-30 21:14] 0pdd commented on #1015
The puzzle `852-703228b2` has disappeared from the source code, that's why I closed this issue.

[2019-03-30 21:14] 0pdd commented on #852
@fabriciofx the puzzle [#1016](https://github.com/yegor256/cactoos/issues/1016) is still not solved; solved: [#1015](https://github.com/yegor256/cactoos/issues/1015), [#1017](https://github.com/yegor256/cactoos/issues/1017).

[2019-03-30 21:33] 0crat commented on #930
The job [#930](https://github.com/yegor256/cactoos/issues/930) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/2549b065-6823-4ab5-8cb0-96b065fe8439); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-03-30 21:33] 0crat commented on #1015
Job [#1015](https://github.com/yegor256/cactoos/issues/1015) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't inspect

[2019-03-30 21:33] 0crat commented on #1015
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-30 21:34] 0crat commented on #1015
The job [#1015](https://github.com/yegor256/cactoos/issues/1015) is now out of scope

[2019-03-30 21:43] 0crat commented on #949
The job [#949](https://github.com/yegor256/cactoos/issues/949) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/4b750bc9-4d50-409c-9e1c-1c7033217084); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-03-30 21:48] sereshqua commented on #1015
@0crat quality acceptable

@Iprogrammerr please make sure that messages in a job always start with a name of a user they are addressed to: as written [here](http://www.zerocracy.com/policy.html#30) and [here](https://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#4-avoid-noiseaddress-your-comments)

[2019-03-30 21:50] 0crat commented on #981
The job [#981](https://github.com/yegor256/cactoos/issues/981) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/c9b8e94c-995f-4c76-ad69-cb211985ffd8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-03-30 22:03] 0crat commented on #1015
Order was finished, quality is "acceptable": +30 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-03-30 22:05] 0crat commented on #1015
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-03-31 05:01] dgroup commented on #1089
@llorllale, no, the Cactoos Exception is a checked exception:
[code]
I'm disagree with #944.

[2019-03-31 07:01] Vatavuk commented on #826
@victornoel it does:)

[2019-03-31 08:55] victornoel commented on #891
@llorllale yep, maybe there is something to do for the last one, the rest is indeed not real problems. Maybe the transient one could also be fixed just to reduce some noise (even though this whole transient thing is a bit of a trap since if you just mark a field transient, it doesn't make your class serialized still).

[2019-03-31 18:45] victornoel commented on #930
@0crat wait for #1092 to be merged

[2019-03-31 18:48] 0crat commented on #930
@victornoel The impediment for [#930](https://github.com/yegor256/cactoos/issues/930) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-03-31 19:11] victornoel commented on #949
@0crat wait for #1093 to be merged

[2019-03-31 19:12] 0crat commented on #949
@victornoel The impediment for [#949](https://github.com/yegor256/cactoos/issues/949) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-03-31 19:22] victornoel commented on #981
@llorllale I believe this has already been solved

[2019-04-01 14:50] 0crat commented on #898
The job [#898](https://github.com/yegor256/cactoos/issues/898) assigned to @atapin[/z](https://www.0crat.com/u/atapin), here is [why](https://www.0crat.com/footprint/C63314D6Z/c86da3f7-a16d-4506-808e-11a3f9bc1651); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-04-02 00:50] llorllale commented on #1089
@dgroup I don't understand how having a checked `CactoosException` will fix the problem of "class data abstraction coupling increases 4x

[2019-04-02 00:51] llorllale commented on #891
@victornoel you can open a new issue and earn sweet ZC points

Let's close this one.

[2019-04-02 00:52] llorllale commented on #981
@victornoel correct, @Iprogrammerr never informed @dgroup that this was merged in #1014

[2019-04-02 00:52] llorllale commented on #981
@0crat refuse

[2019-04-02 00:53] llorllale commented on #981
@dgroup can we close this? PR #1014 merged for this

[2019-04-02 00:53] 0crat commented on #981
@llorllale The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#981](https://github.com/yegor256/cactoos/issues/981), please stop working. Reason for job resignation: Order was cancelled

[2019-04-02 01:16] 0pdd commented on #1016
The puzzle `852-196f2f04` has disappeared from the source code, that's why I closed this issue.

[2019-04-02 01:16] #1016 closed

[2019-04-02 01:16] 0pdd commented on #852
@fabriciofx all 3 puzzles are solved here: [#1015](https://github.com/yegor256/cactoos/issues/1015), [#1016](https://github.com/yegor256/cactoos/issues/1016), [#1017](https://github.com/yegor256/cactoos/issues/1017).

[2019-04-02 01:48] 0crat commented on #1016
Job [#1016](https://github.com/yegor256/cactoos/issues/1016) is not in the agenda of @mazdack[/z](https://www.0crat.com/u/mazdack), can't inspect

[2019-04-02 01:48] 0crat commented on #1016
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @mazdack[/z](https://www.0crat.com/u/mazdack), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-02 01:48] 0crat commented on #1000
The job [#1000](https://github.com/yegor256/cactoos/issues/1000) assigned to @golyalpha[/z](https://www.0crat.com/u/golyalpha), here is [why](https://www.0crat.com/footprint/C63314D6Z/e6b154bd-7e1a-41cf-8d39-36808418a831); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-04-02 01:48] 0crat commented on #1016
The job [#1016](https://github.com/yegor256/cactoos/issues/1016) is now out of scope

[2019-04-02 04:00] sereshqua commented on #1016
@0crat quality acceptable

@Iprogrammerr please make sure that messages in a job always start with a name of a user they are addressed to

[2019-04-02 04:12] 0crat commented on #1016
Order was finished, quality is "acceptable": +30 point(s) just awarded to @mazdack[/z](https://www.0crat.com/u/mazdack)

[2019-04-02 04:12] 0crat commented on #1016
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-02 04:28] mazdack opened #1094 "Remove iterator constructor from org.cactoos.scalar.ItemAt"
Continue removing iterator from constructors.
Started in https://github.com/yegor256/cactoos/issues/911

[2019-04-02 04:28] 0crat commented on #1094
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-02 05:02] #981 closed

[2019-04-02 05:03] dgroup commented on #981
@Iprogrammerr, @llorllale thank you.

[2019-04-02 05:21] 0crat commented on #981
Job `gh:yegor256/cactoos#981` is not assigned, can't get performer

[2019-04-02 05:21] 0crat commented on #981
The job [#981](https://github.com/yegor256/cactoos/issues/981) is now out of scope

[2019-04-02 05:44] dgroup commented on #1089
@llorllale, the `Scalar`, `Func`, `Proc`, `Text` are throwing the raw `java.lang.Exception`.
As a result, you have to
1. handle the Exception
2. throw again Exception from the current method
    (and suppress `PMD.AvoidCatchingGenericException`, `// @checkstyle IllegalCatchCheck (3 lines)` violations)

In the first case, we may use unchecked wrappers so we'll need their unchecked implementations.

[2019-04-02 12:59] llorllale commented on #1094
@mazdack aren't you leaving a todo in #1059 ?

[2019-04-02 13:27] 0pdd opened #1095 "ItemAt.java:40-42: To be consistent with other objects..."
The puzzle `930-fce9bc86` from #930 has to be resolved:

https://github.com/yegor256/cactoos/blob/8cb6e03037eed468781f61fa5d43810688557b05/src/main/java/org/cactoos/scalar/ItemAt.java#L40-L42

The puzzle was created by Victor Noel on 02-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puz

[2019-04-02 13:27] 0pdd commented on #930
@neonailol the puzzle [#1095](https://github.com/yegor256/cactoos/issues/1095) is still not solved.

[2019-04-02 13:27] 0crat commented on #1095
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-02 13:34] 0crat commented on #1095
Job [#1095](https://github.com/yegor256/cactoos/issues/1095) is now in scope, role is `DEV`

[2019-04-02 13:49] 0crat commented on #905
The job [#905](https://github.com/yegor256/cactoos/issues/905) assigned to @atapin[/z](https://www.0crat.com/u/atapin), here is [why](https://www.0crat.com/footprint/C63314D6Z/87f49133-fe2e-4951-b035-9079dba339bb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-04-02 14:57] atapin commented on #905
@llorllale it looks like the scope of #911 makes this issue outdated

[2019-04-02 19:20] victornoel commented on #826
@Vatavuk this was merged, can you close the issue?

[2019-04-02 19:21] victornoel commented on #917
@butenkos this was merged, can you close the issue?

[2019-04-02 19:22] victornoel commented on #930
@neonailol this was merged, can you close the issue?

[2019-04-02 19:45] 0crat commented on #922
The job [#922](https://github.com/yegor256/cactoos/issues/922) assigned to @umbrah[/z](https://www.0crat.com/u/umbrah), here is [why](https://www.0crat.com/footprint/C63314D6Z/eed4149d-1929-4842-85b7-9631f6fbda62); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-04-02 19:49] 0crat commented on #927
The job [#927](https://github.com/yegor256/cactoos/issues/927) assigned to @umbrah[/z](https://www.0crat.com/u/umbrah), here is [why](https://www.0crat.com/footprint/C63314D6Z/39f1cd66-aa56-41d6-b8cc-c36afef14609); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-04-02 19:59] 0crat commented on #1037
The job [#1037](https://github.com/yegor256/cactoos/issues/1037) assigned to @umbrah[/z](https://www.0crat.com/u/umbrah), here is [why](https://www.0crat.com/footprint/C63314D6Z/1a57f302-8c75-497c-875c-87c058996644); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-04-02 20:03] #891 closed

[2019-04-02 20:10] Vatavuk commented on #826
@victornoel thx

[2019-04-02 20:10] #826 closed

[2019-04-02 20:12] atapin commented on #898
@0crat waiting for #947

[2019-04-02 20:18] 0crat commented on #898
@atapin The impediment for [#898](https://github.com/yegor256/cactoos/issues/898) was registered successfully by @atapin[/z](https://www.0crat.com/u/atapin)

[2019-04-02 20:27] 0crat commented on #891
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-02 20:27] 0crat commented on #891
Job [#891](https://github.com/yegor256/cactoos/issues/891) is not in the agenda of @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov), can't inspect

[2019-04-02 20:27] 0crat commented on #891
The job [#891](https://github.com/yegor256/cactoos/issues/891) is now out of scope

[2019-04-02 20:27] 0crat commented on #826
Job [#826](https://github.com/yegor256/cactoos/issues/826) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't inspect

[2019-04-02 20:28] 0crat commented on #826
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-02 20:28] 0crat commented on #826
The job [#826](https://github.com/yegor256/cactoos/issues/826) is now out of scope

[2019-04-02 20:28] 0crat commented on #939
The job [#939](https://github.com/yegor256/cactoos/issues/939) assigned to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov), here is [why](https://www.0crat.com/footprint/C63314D6Z/ec944bb8-b629-4bcc-8712-1615c7006464); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-02 20:45] 0crat commented on #996
The job [#996](https://github.com/yegor256/cactoos/issues/996) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/73d413f7-9742-4b84-a372-6ee8bbc0f85b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-04-03 03:40] sereshqua commented on #891
@0crat quality good

[2019-04-03 03:44] sereshqua commented on #826
@0crat quality good

[2019-04-03 03:52] 0crat commented on #891
Order was finished, quality is "good": +35 point(s) just awarded to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov)

[2019-04-03 03:52] 0crat commented on #891
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-03 03:52] 0crat commented on #826
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-03 03:52] 0crat commented on #826
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-03 19:01] longstone commented on #909
@llorllale & @neonailol push

[2019-04-04 04:23] atapin commented on #905
@llorllale ping

[2019-04-04 08:57] #917 closed

[2019-04-04 09:15] 0crat commented on #917
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-04 09:15] 0crat commented on #917
The job [#917](https://github.com/yegor256/cactoos/issues/917) is now out of scope

[2019-04-04 09:56] sereshqua commented on #917
@0crat quality good

[2019-04-04 10:27] 0crat commented on #917
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-04 10:28] 0crat commented on #917
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-04 10:29] 0crat commented on #1039
The job [#1039](https://github.com/yegor256/cactoos/issues/1039) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/a0b1d9e4-34f8-4fe1-aefd-b493d89de7e6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-04-04 10:29] 0crat commented on #1039
Job `gh:yegor256/cactoos#1039` already assigned to @victornoel, can't assign to @victornoel

[2019-04-04 18:38] ilyakharlamov commented on #939
@llorllale The class org.cactoos.io.AppendTo in master, @Iprogrammerr did it and it seems to be working, unit tests are also fine.
Is there anything else that needs to be coded here?

[2019-04-04 22:58] llorllale commented on #1089
@dgroup ok, gotcha. The problem you describe is that the current APIs tend to force you "sweep problems under the rug" by either suppressing one linting warning or suppressing another.

Throwing `CactoosException` is just tricking the system - it's just a facade for `Exception` that we would come up with for no other reason than not having to suppress warnings. It also lacks any semantic value for

[2019-04-04 23:02] llorllale commented on #909
@neonailol PR #1079 was merged. Closing due to unresponsiveness.

[2019-04-04 23:02] #909 closed

[2019-04-04 23:05] llorllale commented on #905
@0crat refuse

[2019-04-04 23:10] llorllale commented on #939
@ilyakharlamov apparently @Iprogrammerr never bothered to ask the ticket's reporter to close this issue.

Go ahead and claim the ZC points yourself (ask the reporter to close the issue). :)

[2019-04-04 23:11] 0crat commented on #905
@llorllale The user @atapin[/z](https://www.0crat.com/u/atapin) resigned from [#905](https://github.com/yegor256/cactoos/issues/905), please stop working. Reason for job resignation: Order was cancelled

[2019-04-04 23:15] llorllale commented on #905
@neonailol this ticket is no longer current - see #911 for reason as to why

[2019-04-04 23:15] #905 closed

[2019-04-04 23:15] llorllale commented on #905
@0crat out

[2019-04-04 23:21] 0crat commented on #905
@llorllale Job `gh:yegor256/cactoos#905` is not assigned, can't get performer

[2019-04-04 23:21] 0crat commented on #941
The job [#941](https://github.com/yegor256/cactoos/issues/941) assigned to @atapin[/z](https://www.0crat.com/u/atapin), here is [why](https://www.0crat.com/footprint/C63314D6Z/8249f7c5-ba0c-4a80-b928-09fb2e1c3e91); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-04-04 23:23] 0crat commented on #905
@llorllale The job [#905](https://github.com/yegor256/cactoos/issues/905) is now out of scope

[2019-04-04 23:27] 0crat commented on #909
Job [#909](https://github.com/yegor256/cactoos/issues/909) is not in the agenda of @longstone[/z](https://www.0crat.com/u/longstone), can't inspect

[2019-04-04 23:27] 0crat commented on #909
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @longstone[/z](https://www.0crat.com/u/longstone), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-04 23:30] 0crat commented on #909
The job [#909](https://github.com/yegor256/cactoos/issues/909) is now out of scope

[2019-04-04 23:34] 0crat commented on #905
Job `gh:yegor256/cactoos#905` is not assigned, can't get performer

[2019-04-04 23:34] 0crat commented on #1022
The job [#1022](https://github.com/yegor256/cactoos/issues/1022) assigned to @longstone[/z](https://www.0crat.com/u/longstone), here is [why](https://www.0crat.com/footprint/C63314D6Z/38a4910a-450f-49f4-b1e6-8a6d519507b1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-04-04 23:34] 0crat commented on #905
This job is not in scope

[2019-04-04 23:34] 0crat commented on #1033
The job [#1033](https://github.com/yegor256/cactoos/issues/1033) assigned to @longstone[/z](https://www.0crat.com/u/longstone), here is [why](https://www.0crat.com/footprint/C63314D6Z/cf79bfb4-6f3d-4d59-a5cd-6fc322fc423b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-04-05 04:20] sereshqua commented on #909
@0crat quality good

[2019-04-05 04:27] 0crat commented on #909
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-05 04:27] 0crat commented on #909
Order was finished, quality is "good": +35 point(s) just awarded to @longstone[/z](https://www.0crat.com/u/longstone)

[2019-04-05 04:30] ilyakharlamov commented on #939
@victornoel Even though it doesn't look fair to @Iprogrammerr, we don't have much of a choice. The ticket is fixed and can't stay in limbo state, so please close the ticket.

[2019-04-05 04:58] dgroup commented on #1089
@llorllale thank you for the clarification.

Perhaps, if we considering to remove the `checked` exception then we might need to throw `unchecked` and it should not be a RuntimeException, maybe `CactoosException`? :)

[2019-04-05 08:49] atapin commented on #941
@llorllale @victornoel we already have `org.cactoos.text.Strict`

[2019-04-05 09:08] atapin commented on #941
@0crat wait for zerocracy/farm#1980

[2019-04-05 10:16] 0crat commented on #941
@atapin The impediment for [#941](https://github.com/yegor256/cactoos/issues/941) was registered successfully by @atapin[/z](https://www.0crat.com/u/atapin)

[2019-04-06 09:29] longstone commented on #1022
@0crat wait @llorllale  I assume this was forgotten to close? see https://github.com/yegor256/cactoos/pull/1049, I think its already resolved by @Iprogrammerr .

[2019-04-06 09:30] 0crat commented on #1022
@longstone The impediment for [#1022](https://github.com/yegor256/cactoos/issues/1022) was registered successfully by @longstone[/z](https://www.0crat.com/u/longstone)

[2019-04-06 10:11] victornoel commented on #930
@llorllale reporter doesn't seem to respond, you think you can close it? thanks :)

[2019-04-06 10:12] victornoel commented on #949
@mborra the PR has been merged, I think you can close this issue now :)

[2019-04-06 10:48] victornoel commented on #996
@0crat wait for #1096 to be merged

[2019-04-06 10:50] 0crat commented on #996
@victornoel The impediment for [#996](https://github.com/yegor256/cactoos/issues/996) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)