[2017-10-13 17:01] 0crat commented on #419
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:02] 0crat commented on #420
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:02] 0crat commented on #421
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:03] 0crat commented on #421
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:03] 0crat commented on #437
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:04] 0crat commented on #435
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 19:10] yegor256 opened #438 "sonarcloud"
Let's integrate sonarcloud.

[2017-10-13 19:36] yegor256 commented on #438
@rultor release, tag is `0.20.1`

[2017-10-13 19:36] rultor commented on #438
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13140-336547805)

[2017-10-13 19:48] rultor commented on #438
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13140-336547805) (took me 12min)

[2017-10-13 19:49] #438 closed

[2017-10-13 19:50] 0crat commented on #438
Oops! Job `gh:yegor256/cactoos#438` was not in scope

[2017-10-13 20:10] filfreire commented on #411
@yegor256 I'm closing this one based on @memoyil comment

[2017-10-13 20:10] #411 closed

[2017-10-13 20:10] 0crat commented on #411
Oops! Job `gh:yegor256/cactoos#411` was not in scope

[2017-10-13 20:15] filfreire commented on #301
@yegor256 from what I read in docs of that app (Danger), it's only available for Javascript and Ruby projects, so the app itself doesn't seem to be applicable to Cactoos. Still, we could explore its use for Ruby-based projects.

On a sidenote, I think that it's pretty similar to what we have in place with Qulice running in Rultor and Cactoos builds. The build fails on a lot of common mistakes that

[2017-10-13 20:21] VsSekorin commented on #417
@yegor256 Will we support the `remove` and `add` operations? Do they not contradict the immutability?

[2017-10-13 21:25] php-coder commented on #301
The app itself is written on JS or Ruby. It can be applicable to projects on any languages.

I'd be happy to help to review (or even implement) such integration. Just let me know.

[2017-10-13 22:08] filfreire commented on #301
@php-coder my bad, it was a misunderstanding. Thats what I get for skim reading, sorry 😄

@yegor256 @php-coder I have a suggestion then. I can experiment it out on my local fork and I'll see what I can reach in terms of integration. @php-coder can help later with review and pointing out what I missed and could have done.

@php-coder have you ever integrated Danger with another open project I can l

[2017-10-14 04:26] php-coder commented on #301
Yes, I'm using it in my pet project MyStamps (https://github.com/php-coder/mystamps). Here is a Danger file: https://github.com/php-coder/mystamps/blob/master/Dangerfile and here is an example report: https://github.com/php-coder/mystamps/pull/533#issuecomment-286600720

[2017-10-14 07:16] yegor256 commented on #417
@VsSekorin let's not support them and throw exception.

[2017-10-14 13:13] funivan commented on #436
@yegor256 after investigation library found some other similar issues:
I think we should change signatures in this classes
[code]
In all this cases input should be moved to the end.

But the most interesting part is `ItemAt`
`ItemAt(final Iterable<T> source, final T fallback)` - Do not know if it is a good idea to swap `source`  with `fallback`
Same here `ItemAt(final Iterable<T> source, final int

[2017-10-14 19:49] yegor256 commented on #436
@funivan let's put sources last, everywhere, including `ItemAt`.

[2017-10-15 09:47] VsSekorin opened #439 "Or. More ctors"
Let's add ctors to `org.cactoos.scalar.Or` similar to `org.cactoos.scalar.And`
- Or(final Proc<X> proc, final X... src) - controversial point
- Or(final Func<X, Boolean> func, final X... src)
- Or(final Iterable<X> src, final Proc<X> proc) - controversial point
- Or(final Iterable<X> src, final Func<X, Boolean> func)

[2017-10-15 09:47] 0crat commented on #439
@yegor256 please, pay attention to this issue

[2017-10-15 12:01] yegor256 commented on #439
@VsSekorin sure, let's do it.

[2017-10-16 11:55] #439 closed

[2017-10-16 11:55] 0crat commented on #439
Oops! Job `gh:yegor256/cactoos#439` was not in scope

[2017-10-17 18:45] filfreire commented on #435
Closing this issue, PR was merged.

[2017-10-17 18:45] #435 closed

[2017-10-17 18:46] 0crat commented on #435
Oops! There is no order for job `gh:yegor256/cactoos#435`.

[2017-10-17 18:47] 0crat commented on #435
Job `gh:yegor256/cactoos#435` is now out of scope.

[2017-10-18 06:31] yegor256 opened #443 "two sonar bugs"
Let's try to fix these two bugs Sonar is reporting: https://sonarcloud.io/project/issues?id=org.cactoos%3Acactoos&resolved=false&types=BUG

[2017-10-18 10:57] yegor256 opened #444 "Printing and parsing of dates and times"
To be honest, I'm sick of date parsing and printing in Java 8 Date and Time API. How about we create our own object-oriented one at `org.cactoos.time`? Here is how it should work, I believe.

Printing:

[code]

Parsing:

[code]

With time zones:

[code]

That's it.

Later, we can create, for example:

[code]

[2017-10-18 22:03] Timmeey commented on #444
`Date date = new Shifted(date, 5, "month").value();`

Please don't use "String" (month) as identifier for the unit. Noone can ever get the naming right. Was ist capitalized? Does ms exists as a uni? or was it even ms not MilliSecond?

Also i'm always struggling with date formatting since i can NEVER remember what character means what. Was MM minute or Month, or was it the month number or month nam

[2017-10-18 22:16] #365 closed

[2017-10-18 22:16] 0crat commented on #365
Oops! There is no order for job `gh:yegor256/cactoos#365`.

[2017-10-18 22:16] 0crat commented on #365
Oops! Job `gh:yegor256/cactoos#365` was not in scope

[2017-10-18 22:16] #351 closed

[2017-10-18 22:17] #314 closed

[2017-10-18 22:17] 0crat commented on #351
Oops! There is no order for job `gh:yegor256/cactoos#351`.

[2017-10-18 22:17] #257 closed

[2017-10-18 22:17] 0crat commented on #351
Oops! Job `gh:yegor256/cactoos#351` was not in scope

[2017-10-18 22:18] #350 closed

[2017-10-18 22:18] 0crat commented on #314
Oops! There is no order for job `gh:yegor256/cactoos#314`.

[2017-10-18 22:18] 0crat commented on #314
Oops! Job `gh:yegor256/cactoos#314` was not in scope

[2017-10-18 22:18] 0crat commented on #257
Oops! There is no order for job `gh:yegor256/cactoos#257`.

[2017-10-18 22:19] 0crat commented on #257
Oops! Job `gh:yegor256/cactoos#257` was not in scope

[2017-10-18 22:19] 0crat commented on #350
Oops! There is no order for job `gh:yegor256/cactoos#350`.

[2017-10-18 22:19] 0crat commented on #350
Oops! Job `gh:yegor256/cactoos#350` was not in scope

[2017-10-19 07:07] yegor256 commented on #444
@Timmeey we can use java.time.temporal.ChronoUnit enum: https://docs.oracle.com/javase/8/docs/api/java/time/temporal/ChronoUnit.html

[2017-10-19 14:40] VsSekorin opened #445 "SplitText mistakes"
1. `SplitText implements Iterable<String>` I think this is a serious mistake. We need to work with Cactoos primitives, rather than making transitions Cactoos - Java - Cactoos. Correction: `SplitText implements Iterable<Text>`
2. `!input.isEmpty()` Why does the `SplitText` decide whether I need empty elements? If they are superfluous, then I can decorate it with `Filtered`, but if they are needed,

[2017-10-19 14:40] 0crat commented on #445
@yegor256 please, pay attention to this issue

[2017-10-19 20:09] yegor256 opened #447 "org.cactoos.list.Joined"
Let's create class `org.cactoos.list.Joined`.

[2017-10-19 20:09] yegor256 commented on #419
fixed

[2017-10-19 20:09] #419 closed

[2017-10-19 20:10] yegor256 commented on #421
done

[2017-10-19 20:10] #421 closed

[2017-10-19 20:10] 0crat commented on #419
Oops! There is no order for job `gh:yegor256/cactoos#419`.

[2017-10-19 20:10] 0crat commented on #419
Oops! Job `gh:yegor256/cactoos#419` is not in scope.

[2017-10-19 20:10] 0crat commented on #421
Oops! There is no order for job `gh:yegor256/cactoos#421`.

[2017-10-19 20:10] 0crat commented on #421
Oops! Job `gh:yegor256/cactoos#421` is not in scope.

[2017-10-19 21:10] #445 closed

[2017-10-19 21:11] 0crat commented on #445
Oops! Job `gh:yegor256/cactoos#445` is not in scope.

[2017-10-21 19:04] filfreire opened #449 "Throwing Exception will cause the user of Cactoos an IllegalCatchCheck violation"
There are classes in Cactoos that have methods that are defined to throw `Exception`.

Example:

[code]

among others.

When the user needs to call this method the user has two chances, either change the signature of the method or, for example, catch the `Exception` and throw it as another type of exception.
If the user picks the former, it may imply a lot of refactoring. If the user picks the lat

[2017-10-21 19:04] 0crat commented on #449
@yegor256 please, pay attention to this issue

[2017-10-22 18:43] smallcreep opened #451 "Base64 Encode and Decode"
Let's implement a way to represent ```Bytes``` and ```Text``` as a Base64 bytes and Base64 text. I'll handle it.
For exmaple:

[code]

[2017-10-22 18:43] 0crat commented on #451
@yegor256 please, pay attention to this issue

[2017-10-22 21:18] yegor256 commented on #449
@filfreire the third option, which I'm using always, is to use `UncheckedScalar`. Maybe we should add that to the Javadocs of these methods?

[2017-10-24 17:08] yegor256 opened #453 "accept iterators, not only iterables"
Let's accept them.

[2017-10-24 17:10] 0crat commented on #453
Job `gh:yegor256/cactoos#453` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-24 17:12] 0crat commented on #453
Bug was reported: +15 points just awarded to @yegor256, total is [+4325](http://www.0crat.com/u/yegor256).

[2017-10-24 17:12] 0crat commented on #453
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+4325](http://www.0crat.com/u/yegor256).

[2017-10-24 17:16] yegor256 commented on #453
@rultor release, tag is `0.20.2`

[2017-10-24 17:17] rultor commented on #453
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13218-339065218)

[2017-10-24 17:29] rultor commented on #453
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13218-339065218) (took me 12min)

[2017-10-24 18:10] 0crat commented on #453
Oops! Job `gh:yegor256/cactoos#453` is already assigned to @yegor256.

[2017-10-24 19:11] 0crat commented on #453
Oops! Job `gh:yegor256/cactoos#453` is already assigned to @yegor256.

[2017-10-26 20:43] smallcreep commented on #451
@yegor256 please, pay attention to this issue. What do you think, about the Base64 classes?

[2017-10-27 14:19] Zefick commented on #436
Majority of classes from Cactoos followed first convension from the very beginning (especially `Mapped` and `Filtered` as one of the main classes) and still follow them. It is more habitually to write decorators this way. If you change all of them it will be a very bad news for users.

[2017-10-28 17:04] funivan commented on #436
@Zefick write decorator to change parameters order is simply strange. I`m from Php world and having tons of functions that accept input parameter in different place is very very bad. And no one want to change order according to BC.

[2017-11-02 21:51] rafamizes opened #454 "TeeInput class should not close the OutputStream."
After analyzing the TeeInputStream code, I noticed that it closes both streams: "input" and "output".
Shouldn't TeeInput -- being a "Input" -- close only its inputStream attribute? In my opinion, there should be a kind of "TeeInputClosesOutput" decorator that closes both streams. On the other hand, TeeInput should only close its InputStream.
The code below will not work properly, because the Stand

[2017-11-02 21:51] 0crat commented on #454
@yegor256 please, pay attention to this issue

[2017-11-03 08:53] bedward70 opened #455 "Proc.NoNulls.exec(X input) method does not involve the origin.exec(X input) method"
If user creates a Proc.NoNulls instance to wrap a Proc instance then user will not be able to involve the exec(X input) method of the original Proc instance.

Example:
[code]
The exec(X input) method should have been called 1 time. So, expected value is 1.

[2017-11-03 08:53] 0crat commented on #455
@yegor256 please, pay attention to this issue

[2017-11-03 17:57] yegor256 commented on #454
@rafamizes would you be interested to contribute with a pull request (with a unit test that reproduces this problem)?

[2017-11-04 13:20] rafamizes commented on #454
Yes, I'm interested.
How should I proceed? Do I need just to clone the Cactoos project and do the unit test?

[2017-11-05 11:07] yegor256 opened #458 "Directory"
Let's create a simple iterator over files in a directory

[2017-11-05 11:08] 0crat commented on #458
Job `gh:yegor256/cactoos#458` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-05 11:12] 0crat commented on #458
Bug was reported: +15 points just awarded to @yegor256, total is [+5025](http://www.0crat.com/u/yegor256).

[2017-11-05 11:12] 0crat commented on #458
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+5025](http://www.0crat.com/u/yegor256).

[2017-11-05 11:34] yegor256 commented on #458
@rultor release, tag is `0.21`

[2017-11-05 11:34] rultor commented on #458
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13320-341966414)

[2017-11-05 11:45] rultor commented on #458
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13320-341966414) (took me 11min)

[2017-11-05 11:49] #458 closed

[2017-11-05 11:50] 0crat commented on #458
Job `gh:yegor256/cactoos#458` is now out of scope.

[2017-11-05 11:50] 0crat commented on #458
Order was successfully finished: +30 points just awarded to @yegor256, total is [+5055](http://www.0crat.com/u/yegor256).

[2017-11-08 07:58] yegor256 opened #459 "SumOf... to accept numbers"
See https://stackoverflow.com/questions/46771262/calculate-sumofints-from-iterable

[2017-11-08 08:00] 0crat commented on #459
Job `gh:yegor256/cactoos#459` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-08 08:02] 0crat commented on #459
Bug was reported: +15 points just awarded to @yegor256, total is [+5200](http://www.0crat.com/u/yegor256).

[2017-11-08 08:02] 0crat commented on #459
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+5200](http://www.0crat.com/u/yegor256).

[2017-11-08 08:49] yegor256 commented on #454
@rafamizes yes, please, fork the repo, create a unit test to reproduce the issue, then make a fix and submit a pull request.

[2017-11-08 08:49] #453 closed

[2017-11-08 08:50] 0crat commented on #453
Job `gh:yegor256/cactoos#453` is now out of scope.

[2017-11-08 08:51] 0crat commented on #453
Order was successfully finished: +30 points just awarded to @yegor256, total is [+5230](http://www.0crat.com/u/yegor256).

[2017-11-08 09:17] #399 closed

[2017-11-08 09:17] yegor256 commented on #399
@Timmeey @memoyil thanks all

[2017-11-08 09:18] 0crat commented on #399
Oops! There is no order for job `gh:yegor256/cactoos#399`.

[2017-11-08 09:18] 0crat commented on #399
Oops! Job `gh:yegor256/cactoos#399` is not in scope.

[2017-11-08 09:25] yegor256 commented on #459
@rultor release, tag is `0.22`

[2017-11-08 09:26] rultor commented on #459
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13342-342759382)

[2017-11-08 09:36] yegor256 opened #460 "MaxOf and MinOf"
Let's rename `Max` to `MaxOf`, `Min` to `MinOf` and make it possible to provide a list of primitives there, just like SumOf works. Also, I think we need to implement them the way `SumOf` works.

[2017-11-08 09:38] rultor commented on #459
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13342-342759382) (took me 12min)

[2017-11-08 10:38] #451 closed

[2017-11-08 10:39] 0crat commented on #451
Oops! There is no order for job `gh:yegor256/cactoos#451`.

[2017-11-08 10:39] 0crat commented on #451
Oops! Job `gh:yegor256/cactoos#451` is not in scope.

[2017-11-08 12:27] #459 closed

[2017-11-08 12:28] 0crat commented on #459
Job `gh:yegor256/cactoos#459` is now out of scope.

[2017-11-08 12:29] 0crat commented on #459
Order was successfully finished: +30 points just awarded to @yegor256, total is [+5260](http://www.0crat.com/u/yegor256).

[2017-11-08 12:29] yegor256 opened #461 "we need more Javadoc examples for scalars"
We need to add more usage examples to our classes Javadoc blocks. These classes need them very much:

  * `And`
  * `AndWithIndex`
  * `Folded`
  * `Max`, `Min`, `SumOf`, `NumberOf`
  * `RetryScalar`
  * `StickyScalar`, `SyncScalar` (mention my blog post there: http://www.yegor256.com/2017/10/17/lazy-loading-caching-sticky-cactoos.html )
  * `Ternary`

[2017-11-08 12:29] 0crat commented on #461
Job `gh:yegor256/cactoos#461` is in scope.

[2017-11-08 12:30] 0crat commented on #461
Bug was reported: +15 points just awarded to @yegor256, total is [+5275](http://www.0crat.com/u/yegor256).

[2017-11-10 09:26] bedward70 commented on #460
Hi, Yegor!
I think it is impossible to support primitive arrays (like `SumOf`) in the `MaxOf` and `MinOf` classes:
1) We can't set the `Comparable` generic type in bodies of the constructors;
2) If `MaxOf` and `MinOf` are final classes,  we will not extend the classes with `Comparable` generic type;
3) If `MaxOf` and `MinOf` are rewritten with `Comparable` (without generics),  the input class type

[2017-11-10 10:25] rafamizes commented on #454
Ok, I'm going to contribute.

[2017-11-10 10:55] rafamizes commented on #449
What if were created a RuntimeScalar class that would catch any Exception and rethrows it as a RuntimeException? Would the user get an IllegalCatchCheck on checkstyle by using RuntimeScalar?

Example of RuntimeScalar value method body:
<pre>
@Override
public T value() {
    try {
        return this.scalar.value();
    }  catch (final RuntimeException e) {
        throw e;
    } catch (final Excep

[2017-11-10 17:02] filfreire commented on #449
@yegor256 please read @rafamizes above comment

@rafamizes I'd suggest opening a new issue for the idea you're proposing, and you could submit a PR.

[2017-11-10 18:11] rafamizes commented on #449
@filfreire
If Yegor agree, I will submit a PR fot the RuntimeScalar and RuntimeFunc classes.

[2017-11-13 20:28] yegor256 commented on #449
@filfreire I think we just have to improve the `UncheckedScalar`. I agree that it should __not__ touch the `RuntimeException`.

[2017-11-15 10:41] yegor256 commented on #449
@rultor release, tag is `0.22.1`

[2017-11-15 10:41] rultor commented on #449
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13387-344554020)

[2017-11-15 10:56] rultor commented on #449
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13387-344554020) (took me 14min)

[2017-11-15 11:25] yegor256 commented on #449
@filfreire @rafamizes I fixed the problem, try version 0.22.1

[2017-11-16 20:48] rafamizes commented on #449
Ok, I'm going to ry version 0.22.1

[2017-11-18 08:29] 0crat commented on #376
@ixmanuel resigned from `gh:yegor256/cactoos#376`, please stop working.

[2017-11-18 09:48] 0crat commented on #262
Job `gh:yegor256/cactoos#262` assigned to @kkamkou, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-18 09:49] 0crat commented on #376
Job `gh:yegor256/cactoos#376` assigned to @kkamkou, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-18 09:54] 0crat commented on #461
Job `gh:yegor256/cactoos#461` assigned to @kkamkou, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-18 12:23] yegor256 opened #463 "envelopes"
Let's add envelopes to simplify code.

[2017-11-18 12:48] 0crat commented on #463
Job `gh:yegor256/cactoos#463` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-18 13:13] yegor256 commented on #463
@rultor release, tag is `0.23`

[2017-11-18 13:13] rultor commented on #463
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13403-345441557)

[2017-11-18 13:18] 0crat commented on #463
Bug was reported: +15 points just awarded to @yegor256, total is [+5340](http://www.0crat.com/u/yegor256).

[2017-11-18 13:18] 0crat commented on #463
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+5340](http://www.0crat.com/u/yegor256).

[2017-11-18 13:29] rultor commented on #463
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13403-345441557) (took me 15min)

[2017-11-18 13:29] #463 closed

[2017-11-18 13:58] 0crat commented on #463
Job `gh:yegor256/cactoos#463` is now out of scope.

[2017-11-18 13:58] yegor256 opened #464 "SyncList, SyncMap, SyncCollection"
Let's create them

[2017-11-18 14:08] 0crat commented on #463
Order was successfully finished: +30 points just awarded to @yegor256, total is [+5370](http://www.0crat.com/u/yegor256).

[2017-11-18 14:38] 0crat commented on #464
Job `gh:yegor256/cactoos#464` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-18 14:58] 0crat commented on #464
Bug was reported: +15 points just awarded to @yegor256, total is [+5380](http://www.0crat.com/u/yegor256).

[2017-11-18 14:58] 0crat commented on #464
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+5380](http://www.0crat.com/u/yegor256).

[2017-11-19 20:44] filfreire opened #466 "Mapped issue upgrading from 0.20.1 to 0.23"
When I upgrade from Cactoos 0.20.1 to 0.23, all the usages I had for
``` new Mapped<>( ...```
stopped being valid.
Same happens for similar classes like Limited<>, Filtered<>, and others where arguments stopped being inferred and constructors cannot be resolved.

@yegor256 how do I fix my code to be compatible with newer version of Cactoos?

(related issue, where I found the problem, https://githu

[2017-11-19 20:44] 0crat commented on #466
@yegor256 please, pay attention to this issue

[2017-11-19 21:30] yegor256 commented on #466
@filfreire you just change the order of arguments. Pay attention to the signatures of Map and other constructors - they are changed.

[2017-11-19 21:32] yegor256 commented on #460
@bedward70 please, take a look at how `SumOf` is implemented. Can't we do the same with `MaxOf`? Can you give code example that doesn't work with `SumOf`?

[2017-11-19 21:35] filfreire commented on #466
@yegor256 thanks! I see now.
Closing this issue.

[2017-11-19 21:35] #466 closed

[2017-11-19 21:36] 0crat commented on #466
Oops! There is no order for job `gh:yegor256/cactoos#466`.

[2017-11-19 21:36] 0crat commented on #466
Oops! Job `gh:yegor256/cactoos#466` is not in scope.

[2017-11-20 10:20] yegor256 commented on #464
@rultor release, tag is `0.23.1`

[2017-11-20 10:21] rultor commented on #464
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13421-345652695)

[2017-11-20 10:33] rultor commented on #464
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13421-345652695) (took me 12min)

[2017-11-20 10:36] 0crat commented on #464
Job `gh:yegor256/cactoos#464` is now out of scope.

[2017-11-20 10:39] 0crat commented on #464
Order was successfully finished: +30 points just awarded to @yegor256, total is [+5490](http://www.0crat.com/u/yegor256).

[2017-11-20 12:03] yegor256 opened #467 "something is broken"
I don't know exactly what...

[2017-11-20 12:04] 0crat commented on #467
Job `gh:yegor256/cactoos#467` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-20 12:05] 0crat commented on #467
Bug was reported: +15 points just awarded to @yegor256, total is [+5500](http://www.0crat.com/u/yegor256).

[2017-11-20 12:05] 0crat commented on #467
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+5500](http://www.0crat.com/u/yegor256).

[2017-11-20 12:17] bedward70 commented on #460
@yegor256
Sorry for your time, but I will try to explain.

I consider the MaxOf must return generic original type.
For example:
[code]

In current implementation if we add public 'MaxOf(final int... src)' constructor (no generic types in the constructor declaration), we can't set generic members.

If we do MaxOf like SumOf, we will get the Comparable interface only. So, we will have to use casting

[2017-11-21 17:55] yegor256 commented on #467
@rultor release, tag is `0.23.2`

[2017-11-21 17:56] rultor commented on #467
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13432-346108735)

[2017-11-21 18:08] rultor commented on #467
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13432-346108735) (took me 11min)

[2017-11-21 18:08] yegor256 opened #468 "SolidScalar, SolidFunc, SolidBiFunc"
Let's add them.

[2017-11-21 18:11] 0crat commented on #468
Job `gh:yegor256/cactoos#468` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-21 18:12] 0crat commented on #468
Bug was reported: +15 points just awarded to @yegor256, total is [+5510](http://www.0crat.com/u/yegor256).

[2017-11-21 18:12] 0crat commented on #468
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+5510](http://www.0crat.com/u/yegor256).

[2017-11-21 18:15] #467 closed

[2017-11-21 18:15] yegor256 commented on #468
@rultor release, tag is `0.23.3`

[2017-11-21 18:15] rultor commented on #468
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13434-346114441)

[2017-11-21 18:16] 0crat commented on #467
Job `gh:yegor256/cactoos#467` is now out of scope.

[2017-11-21 18:17] 0crat commented on #467
Order was successfully finished: +30 points just awarded to @yegor256, total is [+5540](http://www.0crat.com/u/yegor256).

[2017-11-21 18:27] rultor commented on #468
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13434-346114441) (took me 11min)

[2017-11-21 18:39] #468 closed

[2017-11-21 18:40] 0crat commented on #468
Job `gh:yegor256/cactoos#468` is now out of scope.

[2017-11-21 18:40] 0crat commented on #468
Order was successfully finished: +30 points just awarded to @yegor256, total is [+5570](http://www.0crat.com/u/yegor256).

[2017-11-23 09:18] 0crat commented on #461
@kkamkou this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-11-26 09:09] 0crat commented on #461
@kkamkou this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-11-26 15:33] kkamkou commented on #461
@yegor256 could you reset my profile the way I know what I can start.

[2017-11-26 21:10] yegor256 opened #469 "SumOf needs more constructors"
Let's add them

[2017-11-26 22:07] yegor256 commented on #469
@rultor release, tag is `0.24`

[2017-11-26 22:08] yegor256 commented on #460
@bedward70 please, see the changes I made in https://github.com/yegor256/cactoos/commit/25dc45d7302c36cbe3f1eef4e7673f1597bcde32 What do you think about these `MinOf` and `MaxOf` classes? They are in version 0.24 already.

[2017-11-26 22:08] rultor commented on #469
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13467-347042420)

[2017-11-26 22:18] rultor commented on #469
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13467-347042420) (took me 10min)

[2017-11-26 22:33] #469 closed

[2017-11-26 22:39] 0crat commented on #469
Oops! There is no order for job `gh:yegor256/cactoos#469`.

[2017-11-26 22:39] 0crat commented on #469
Oops! Job `gh:yegor256/cactoos#469` is not in scope.

[2017-11-27 08:49] bedward70 commented on #460
@yegor256 the `MinOf` and `MaxOf` is OK with primitive types and their classes only.
After this commit we lost the opportunity to use `Comparable` implementations:
[code]
So, we also need the old `MinOf` and `MaxOf` implementations for all other [Comparable](https://docs.oracle.com/javase/8/docs/api/java/lang/Comparable.html) implementations. There are a lot of them, here are the famous ones:  `Ca

[2017-11-27 11:30] filfreire opened #470 "Replace com.google.common.io.Files usage with Cactoos equivalent"
I'm working on https://github.com/yegor256/rultor/issues/1199

How do we replace with the equivalent Cactoos classes the following Guava calls:
On [ReleaseBinariesTest.java](https://github.com/yegor256/rultor/blob/7120bc52dc80e0e9b1d7e8816f2f74a519d0e6f4/src/test/java/com/rultor/agents/github/ReleaseBinariesTest.java):
[code]

On [Talks.java](https://github.com/yegor256/rultor/blob/5f2e7fa8f6fee57

[2017-11-27 11:30] 0crat commented on #470
@yegor256 please, pay attention to this issue

[2017-11-27 11:33] filfreire opened #471 "Replace Predicate and Iterables with Cactoos equivalent"
I'm working on https://github.com/yegor256/rultor/issues/1199

How do we replace with the equivalent Cactoos classes the following Guava classes/calls:

[RqUser.java](https://github.com/yegor256/rultor/blob/5f2e7fa8f6fee577719239933068fb048a175fc9/src/main/java/com/rultor/web/RqUser.java)  (`Iterables.any(...)` and `Predicate`):
[code]

(edit: removed second question into new issue https://github.

[2017-11-27 11:33] 0crat commented on #471
@yegor256 please, pay attention to this issue

[2017-11-27 11:34] filfreire opened #472 "Replace EvictingQueue with Cactoos equivalent"
I'm working on https://github.com/yegor256/rultor/issues/1199

How do we replace with the equivalent Cactoos classes the following Guava class:
[Entry.java](https://github.com/yegor256/rultor/blob/master/src/main/java/com/rultor/Entry.java)
[code]

[2017-11-27 11:34] 0crat commented on #472
@yegor256 please, pay attention to this issue

[2017-11-27 17:57] yegor256 commented on #470
@filfreire something like this:

[code]

`Files.createTempDir()` can be replaced with `Files.createTempDirectory()` from JDK 7, I believe.

[2017-11-27 17:58] yegor256 commented on #472
@filfreire we don't have that in Cactoos

[2017-11-27 20:20] yegor256 opened #473 "AndInThreads"
Let's create a new version of `And` that works in multiple threads.

[2017-11-27 21:40] yegor256 commented on #473
@rultor release, tag is `0.25`

[2017-11-27 21:41] rultor commented on #473
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13480-347337414)

[2017-11-27 21:54] rultor commented on #473
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13480-347337414) (took me 12min)

[2017-11-27 22:05] #473 closed

[2017-11-27 22:15] yegor256 commented on #473
@rultor release, tag is `0.25.1`

[2017-11-27 22:16] rultor commented on #473
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13480-347346913)

[2017-11-27 22:18] 0crat commented on #473
Oops! There is no order for job `gh:yegor256/cactoos#473`.

[2017-11-27 22:27] rultor commented on #473
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13480-347346913) (took me 11min)

[2017-11-27 22:28] 0crat commented on #473
Oops! Job `gh:yegor256/cactoos#473` is not in scope.

[2017-11-27 22:33] yegor256 opened #474 "cache size for StickyFunc"
Let's make it configurable

[2017-11-27 23:37] filfreire commented on #470
@yegor256 thanks, your suggestions seem to work ok.

[2017-11-27 23:37] #470 closed

[2017-11-27 23:41] 0crat commented on #470
Oops! There is no order for job `gh:yegor256/cactoos#470`.

[2017-11-27 23:42] 0crat commented on #470
Oops! Job `gh:yegor256/cactoos#470` is not in scope.

[2017-11-28 03:58] yegor256 commented on #474
@rultor release, tag is `0.25.2`

[2017-11-28 03:58] rultor commented on #474
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13483-347406650)

[2017-11-28 04:10] rultor commented on #474
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13483-347406650) (took me 12min)

[2017-11-28 04:14] #474 closed

[2017-11-28 04:29] 0crat commented on #474
Oops! There is no order for job `gh:yegor256/cactoos#474`.

[2017-11-28 04:29] 0crat commented on #474
Oops! Job `gh:yegor256/cactoos#474` is not in scope.

[2017-11-28 04:39] yegor256 commented on #460
@bedward70 I guess we just need two new classes `HighestOf` and `LowestOf`  in order to work with `Comparable`s... What do you think?

[2017-11-28 04:55] bedward70 commented on #460
@yegor256 it is great. If we take `Max` and `Min`(with tests) before [25dc45d](https://github.com/yegor256/cactoos/commit/25dc45d7302c36cbe3f1eef4e7673f1597bcde32) commit and rename to `HighestOf` and `LowestOf`, we will able to do it easily.
Should I help?

[2017-11-28 04:59] yegor256 commented on #460
@bedward70 yes, please, go ahead. Thanks!

[2017-11-28 05:00] yegor256 commented on #460
@rultor release, tag is `0.25.3`

[2017-11-28 05:01] rultor commented on #460
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13485-347414230)

[2017-11-28 05:12] rultor commented on #460
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13485-347414230) (took me 10min)

[2017-11-28 08:59] 0crat commented on #262
@kkamkou resigned from `gh:yegor256/cactoos#262`, please stop working.

[2017-11-28 09:19] 0crat commented on #376
@kkamkou resigned from `gh:yegor256/cactoos#376`, please stop working.

[2017-11-28 09:19] 0crat commented on #461
@kkamkou resigned from `gh:yegor256/cactoos#461`, please stop working.

[2017-11-28 09:29] 0crat commented on #262
Job `gh:yegor256/cactoos#262` assigned to @kkamkou, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-28 09:29] 0crat commented on #376
Job `gh:yegor256/cactoos#376` assigned to @kkamkou, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-28 09:30] 0crat commented on #461
Job `gh:yegor256/cactoos#461` assigned to @kkamkou, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-28 10:19] yegor256 commented on #455
@bedward70 is it still an issue? Can you please contribute with a pull request to fix it?

[2017-11-28 10:20] yegor256 commented on #436
@funivan are we good now?

[2017-11-28 10:22] funivan commented on #436
@yegor256 yep.

[2017-11-28 10:22] #436 closed

[2017-11-28 10:29] 0crat commented on #460
Oops! There is no order for job `gh:yegor256/cactoos#460`.

[2017-11-28 10:39] 0crat commented on #460
Oops! Job `gh:yegor256/cactoos#460` is not in scope.

[2017-11-28 10:40] 0crat commented on #436
Oops! There is no order for job `gh:yegor256/cactoos#436`.

[2017-11-28 10:40] 0crat commented on #436
Oops! Job `gh:yegor256/cactoos#436` is not in scope.

[2017-11-28 10:54] yegor256 commented on #461
@kkamkou I guess you're good to go now, you have just 5 tasks in your agenda and it's the maximum you will get.

[2017-11-28 11:04] yegor256 commented on #471
@filfreire I would kindly ask you to submit one problem per ticket, to avoid confusion and noise. Here, I will answer the first question only. You should use `Or`:

[code]

[2017-11-28 11:18] filfreire opened #476 "Replace Guava Iterables.removeIf with Cactoos equivalent"
I'm working on https://github.com/yegor256/rultor/issues/1199

How do we replace with the equivalent Cactoos class the following Guava class/call:

[DyTalks.java](https://github.com/yegor256/rultor/blob/5f2e7fa8f6fee577719239933068fb048a175fc9/src/main/java/com/rultor/dynamo/DyTalks.java)  (`Iterables.removeIf(...)`):
[code]

[2017-11-28 11:18] 0crat commented on #476
@yegor256 please, pay attention to this issue

[2017-11-28 11:22] filfreire commented on #471
@yegor256 thanks, Moved second question into a new issue https://github.com/yegor256/cactoos/issues/476. I'm closing this issue, seems to work with your suggestion.

[2017-11-28 11:22] #471 closed

[2017-11-28 11:23] 0crat commented on #471
Oops! There is no order for job `gh:yegor256/cactoos#471`.

[2017-11-28 11:23] 0crat commented on #471
Oops! Job `gh:yegor256/cactoos#471` is not in scope.

[2017-11-29 12:08] filfreire commented on #476
@yegor256 FYI

[2017-11-29 17:27] yegor256 commented on #476
@filfreire we don't have this in Cactoos yet...

[2017-11-29 20:22] filfreire commented on #476
@yegor256 do we have an issue to account for it's development?

[2017-11-30 15:12] svendiedrichsen opened #478 "RangeOf Comparable<T>"
@yegor256 Would it be interesting to have a `RangeOf` implementation for `Comparable<T>` instances? Example PR follows.

[2017-11-30 15:12] 0crat commented on #478
@yegor256 please, pay attention to this issue

[2017-11-30 15:40] filfreire commented on #472
@yegor256 any tips/pointers on how I can implement it even without Cactoos to remove the dependency?

[2017-11-30 21:35] yegor256 opened #480 "AndInThreads doesn't kill the threads"
Let's fix

[2017-11-30 21:36] yegor256 commented on #480
@rultor release, tag is `0.25.4`

[2017-11-30 21:37] rultor commented on #480
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13505-348328451)

[2017-11-30 21:48] rultor commented on #480
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13505-348328451) (took me 10min)

[2017-11-30 21:49] #480 closed

[2017-11-30 22:08] 0crat commented on #480
Oops! There is no order for job `gh:yegor256/cactoos#480`.

[2017-11-30 22:18] 0crat commented on #480
Oops! Job `gh:yegor256/cactoos#480` is not in scope.

[2017-12-01 18:13] #460 closed

[2017-12-01 18:19] 0crat commented on #460
Oops! There is no order for job `gh:yegor256/cactoos#460`.

[2017-12-01 18:28] 0crat commented on #460
Oops! Job `gh:yegor256/cactoos#460` is not in scope.

[2017-12-01 18:38] yegor256 opened #481 "StickyBiFunc is broken"

[2017-12-01 18:39] yegor256 commented on #481
@rultor release, tag is `0.25.5`

[2017-12-01 18:40] rultor commented on #481
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13511-348574156)

[2017-12-01 18:53] rultor commented on #481
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13511-348574156) (took me 13min)

[2017-12-01 18:54] #481 closed

[2017-12-01 18:59] 0crat commented on #481
Oops! There is no order for job `gh:yegor256/cactoos#481`.

[2017-12-01 19:08] 0crat commented on #481
Oops! Job `gh:yegor256/cactoos#481` is not in scope.

[2017-12-01 19:35] yegor256 commented on #478
@svendiedrichsen good idea, would be great to have these ctors too:

[code]

[2017-12-01 19:36] yegor256 commented on #478
@svendiedrichsen maybe we have to delete `NaturalNumbers`...

[2017-12-01 22:20] svendiedrichsen commented on #478
@yegor256 I have removed NULL handling and added convenience classes/constructors
`new RangeOf.Integer(int,int)`
`new RangeOf.Long(long,long)`
`new RangeOf.Character(char,char)`
Would you like me to remove now obsolete classes `NaturalNumbers` etc. ?

[2017-12-01 23:48] svendiedrichsen opened #482 "SyncIterator<T>"
@yegor256 How about a `SyncIterator<T>` which uses a `ReentrantReadWriteLock`?

[2017-12-01 23:48] 0crat commented on #482
@yegor256 please, pay attention to this issue

[2017-12-03 05:54] yegor256 commented on #482
@svendiedrichsen good idea, please make changes to `SyncIterator` and submit a PR, if you can.

[2017-12-03 15:21] svendiedrichsen commented on #482
Sorry, my fault, you created a `SyncIterable`. I will create a `SyncIterator` as proposed.

[2017-12-04 09:57] yegor256 commented on #478
@svendiedrichsen yes, `NaturalNumbers` is not required anymore, let's delete it.

[2017-12-04 10:49] nbentoneves opened #483 "_LocalTime_ jdk implementation"
@yegor256 Would you be interested implementation the _LocalTime_ instance? I would like to contribute. Thanks.

[2017-12-04 10:50] 0crat commented on #483
@yegor256 please, pay attention to this issue

[2017-12-04 16:05] svendiedrichsen commented on #478
@yegor256 done.

[2017-12-04 21:02] yegor256 commented on #476
@filfreire please feel free to submit one

[2017-12-04 21:09] yegor256 commented on #472
@filfreire that's a difficult question. I don't even remember what that `EvictingQueue` is doing... :(

[2017-12-04 21:10] yegor256 commented on #483
@nbentoneves I'm not sure I understand. Can you give an example?

[2017-12-05 14:35] ashtonhogan opened #485 "-"

[2017-12-05 14:35] 0crat commented on #485
@yegor256 please, pay attention to this issue

[2017-12-06 12:21] ashtonhogan opened #486 "-"

[2017-12-06 12:21] 0crat commented on #486
@yegor256 please, pay attention to this issue

[2017-12-06 12:21] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:21] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:21] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:21] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:21] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:22] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:22] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:22] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:22] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:22] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:22] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:22] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:22] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:22] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:22] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:22] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:23] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:23] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:23] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:23] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:23] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:23] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:23] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:23] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:23] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:23] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:37] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:37] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:37] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:37] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:37] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:37] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:37] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:37] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:37] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:37] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:37] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:38] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:38] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:38] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:38] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:38] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:38] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:38] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:38] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:38] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:38] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:39] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:39] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:39] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:39] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:39] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:39] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:39] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:39] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:39] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:40] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:40] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:40] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:40] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:40] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:40] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:40] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:40] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:40] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:40] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:41] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:41] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:41] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:41] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:41] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:41] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:41] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:41] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:41] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:41] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:42] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:42] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:42] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 12:42] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:28] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 13:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:11] svendiedrichsen commented on #478
Changes merged.

[2017-12-06 14:11] #478 closed

[2017-12-06 14:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:25] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:29] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:30] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:31] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:32] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:33] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:34] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:35] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 14:36] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:24] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:26] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 15:27] 0crat commented on #486
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256