[2021-03-14 09:52] 0pdd commented on #1566
This puzzle inherited milestone `1.0` from issue #1533.

[2021-03-14 09:53] 0pdd opened #1567 "package-info.java:29-31: Exploit generic variance for..."
The puzzle `1533-ac41b39c` from #1533 has to be resolved:

https://github.com/yegor256/cactoos/blob/f8d61e1d8dcccc399b963632ca5f85a8a048f6f2/src/main/java/org/cactoos/proc/package-info.java#L29-L31

The puzzle was created by @baudoliver7 on 13-Mar-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2021-03-14 09:53] 0pdd commented on #1567
This puzzle inherited milestone `1.0` from issue #1533.

[2021-03-14 09:53] 0pdd opened #1568 "package-info.java:29-31: Exploit generic variance for..."
The puzzle `1533-8f051690` from #1533 has to be resolved:

https://github.com/yegor256/cactoos/blob/f8d61e1d8dcccc399b963632ca5f85a8a048f6f2/src/main/java/org/cactoos/iterable/package-info.java#L29-L31

The puzzle was created by Olivier B. OURA on 13-Mar-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2021-03-14 09:53] 0pdd commented on #1568
This puzzle inherited milestone `1.0` from issue #1533.

[2021-03-14 09:53] 0pdd opened #1569 "package-info.java:29-31: Exploit generic variance for..."
The puzzle `1533-c35e3786` from #1533 has to be resolved:

https://github.com/yegor256/cactoos/blob/f8d61e1d8dcccc399b963632ca5f85a8a048f6f2/src/main/java/org/cactoos/scalar/package-info.java#L29-L31

The puzzle was created by Olivier B. OURA on 13-Mar-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2021-03-14 09:53] 0pdd commented on #1569
This puzzle inherited milestone `1.0` from issue #1533.

[2021-03-14 09:54] 0pdd opened #1570 "package-info.java:29-31: Exploit generic variance for..."
The puzzle `1533-bf6d58aa` from #1533 has to be resolved:

https://github.com/yegor256/cactoos/blob/f8d61e1d8dcccc399b963632ca5f85a8a048f6f2/src/main/java/org/cactoos/time/package-info.java#L29-L31

The puzzle was created by Olivier B. OURA on 13-Mar-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2021-03-14 09:54] 0pdd commented on #1570
This puzzle inherited milestone `1.0` from issue #1533.

[2021-03-14 09:54] 0pdd opened #1571 "package-info.java:29-31: Exploit generic variance for..."
The puzzle `1533-fb13df65` from #1533 has to be resolved:

https://github.com/yegor256/cactoos/blob/f8d61e1d8dcccc399b963632ca5f85a8a048f6f2/src/main/java/org/cactoos/map/package-info.java#L29-L31

The puzzle was created by Olivier B. OURA on 13-Mar-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2021-03-14 09:54] 0pdd commented on #1571
This puzzle inherited milestone `1.0` from issue #1533.

[2021-03-14 09:54] 0pdd opened #1572 "package-info.java:29-31: Exploit generic variance for..."
The puzzle `1533-37aa2e90` from #1533 has to be resolved:

https://github.com/yegor256/cactoos/blob/297f62637cae056e9dd9e68886c45c985d5fc295/src/main/java/org/cactoos/func/package-info.java#L29-L31

The puzzle was created by Olivier B. OURA on 13-Mar-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2021-03-14 09:54] 0pdd commented on #1572
This puzzle inherited milestone `1.0` from issue #1533.

[2021-03-14 09:55] 0pdd opened #1573 "package-info.java:36-37: Exploit generic variance for..."
The puzzle `1533-1282c35c` from #1533 has to be resolved:

https://github.com/yegor256/cactoos/blob/297f62637cae056e9dd9e68886c45c985d5fc295/src/main/java/org/cactoos/experimental/package-info.java#L36-L37

The puzzle was created by Olivier B. OURA on 13-Mar-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"don

[2021-03-14 09:55] 0pdd commented on #1573
This puzzle inherited milestone `1.0` from issue #1533.

[2021-03-14 09:55] 0pdd opened #1574 "package-info.java:29-31: Exploit generic variance for..."
The puzzle `1533-1bce8d47` from #1533 has to be resolved:

https://github.com/yegor256/cactoos/blob/297f62637cae056e9dd9e68886c45c985d5fc295/src/main/java/org/cactoos/text/package-info.java#L29-L31

The puzzle was created by Olivier B. OURA on 13-Mar-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2021-03-14 09:55] 0pdd commented on #1574
This puzzle inherited milestone `1.0` from issue #1533.

[2021-03-14 09:55] 0pdd opened #1575 "package-info.java:29-31: Continue to exploit generic..."
The puzzle `1533-d1b82973` from #1533 has to be resolved:

https://github.com/yegor256/cactoos/blob/297f62637cae056e9dd9e68886c45c985d5fc295/src/main/java/org/cactoos/collection/package-info.java#L29-L31

The puzzle was created by Olivier B. OURA on 08-Mar-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\

[2021-03-14 10:32] 0crat commented on #1533
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-03-14 12:23] sereshqua commented on #1425
@0crat quality good

[2021-03-14 12:24] sereshqua commented on #1533
@0crat quality good

[2021-03-22 09:38] 0pdd opened #1577 "package-info.java:29-33: We must find all the classes..."
The puzzle `1449-0c19404b` from #1449 has to be resolved:

https://github.com/yegor256/cactoos/blob/047fb51ee2050f75b5f71322832f97f1f87dfa03/src/main/java/org/cactoos/io/package-info.java#L29-L33

The puzzle was created by @baudoliver7 on 06-Mar-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2021-03-22 09:38] 0pdd commented on #1577
This puzzle inherited milestone `1.0` from issue #1449.

[2021-03-22 09:38] 0pdd commented on #1449
@fabriciofx the puzzle [#1577](https://github.com/yegor256/cactoos/issues/1577) is still not solved.

[2021-03-22 09:44] victornoel commented on #1449
@fabriciofx sorry, this was automatically closed because the "closed" keywork was in the commit message ^^ I hope the solution is good for you, if not please reopen a ticket :)

[2021-03-22 13:31] victornoel commented on #1414
@0crat refuse

[2021-03-22 13:31] victornoel commented on #1245
@0crat refuse

[2021-03-22 13:58] victornoel opened #1578 "Fix Github Checks"
Currently, we are using Github Actions to run the CI:
- build on multiple platforms (windows, mac, linux)
- build on multiple Java version
- run codecov
- run qulice

A few weeks ago there were no problems but for an unknown reason, there are now two problems with the in-PR checks:
- there is a failing check about appveyor: we don't use it and already have corresponding github action for it
- ther

[2021-03-22 13:58] victornoel commented on #1578
@0crat assign @yegor256

[2021-03-22 15:31] 0crat commented on #1414
@victornoel The user @ruca905[/z](https://www.0crat.com/u/ruca905) resigned from [#1414](https://github.com/yegor256/cactoos/issues/1414), please stop working. Reason for job resignation: Order was cancelled

[2021-03-22 15:32] 0crat commented on #1449
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) (its creator); I won't close the order; please, re-open it and ask @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) to close it

[2021-03-22 15:35] 0crat commented on #1245
@victornoel The user @ruca905[/z](https://www.0crat.com/u/ruca905) resigned from [#1245](https://github.com/yegor256/cactoos/issues/1245), please stop working. Reason for job resignation: Order was cancelled

[2021-03-22 15:48] #1449 closed

[2021-03-22 18:18] victornoel commented on #1449
@0crat out

[2021-03-22 19:52] 0crat commented on #1449
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-03-22 19:53] 0crat commented on #1449
@victornoel Job `gh:yegor256/cactoos#1449` is not assigned, can't get performer

[2021-03-22 19:58] sereshqua commented on #1449
@0crat quality good

[2021-03-29 16:40] victornoel commented on #1434
@0crat status

[2021-03-29 16:40] victornoel commented on #1453
@0crat status

[2021-03-29 16:40] victornoel commented on #1414
@0crat status

[2021-03-29 16:41] victornoel commented on #1245
@0crat status

[2021-03-29 17:24] 0crat commented on #1434
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1434](https://github.com/yegor256/cactoos/issues/1434) is [in scope](http://www.zerocracy.com/policy.html#14) for 7mon
  * The role is `DEV`
  * The job is assigned to @baudoliver7[/z](https://www.0crat.com/u/baudoliver7) for [15days](http://www.zerocracy.com/policy.htm

[2021-03-29 17:26] 0crat commented on #1245
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1245](https://github.com/yegor256/cactoos/issues/1245) is [in scope](http://www.zerocracy.com/policy.html#14) for 9mon
  * The role is `DEV`
  * The job is assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) for [7days](http://www.zerocracy.com/policy.

[2021-03-29 17:39] baudoliver7 commented on #1434
@victornoel Please, let me work on this tonight.

[2021-04-01 16:50] andreoss opened #1579 "String vs CharSequence inconsitencies"
`TextOf` uses `CharSequence` as parameter, but many other implementations of `Text` use only `String`.

Proposal:
Interface `CharSequence` should be favored as a parameter type instead of final class `String`.

[2021-04-01 16:58] victornoel commented on #1579
@andreoss that's a great idea

[2021-04-01 16:58] victornoel commented on #1579
@0crat in

[2021-04-07 00:19] baudoliver7 commented on #1449
@0crat status

[2021-04-07 01:23] 0crat commented on #1449
@baudoliver7 This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1449](https://github.com/yegor256/cactoos/issues/1449) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos%231449%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2021-04-14 13:42] 0pdd commented on #1434
The puzzle `1223-fd48e847` has disappeared from the source code, that's why I closed this issue.

[2021-04-14 13:42] #1434 closed

[2021-04-14 13:43] 0pdd opened #1583 "pom.xml:258-264: In the continuation of #588, all the..."
The puzzle `1434-fd48e847` from #1434 has to be resolved:

https://github.com/yegor256/cactoos/blob/9f33693c15e48e10e7e5a62bbb32c66f26200c62/pom.xml#L258-L264

The puzzle was created by @LightPro-Inc on 05-Apr-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2021-04-14 13:43] 0pdd commented on #588
@neonailol the puzzle [#1583](https://github.com/yegor256/cactoos/issues/1583) is still not solved; solved: [#1082](https://github.com/yegor256/cactoos/issues/1082), [#1119](https://github.com/yegor256/cactoos/issues/1119), [#1166](https://github.com/yegor256/cactoos/issues/1166), [#1222](https://github.com/yegor256/cactoos/issues/1222), [#1223](https://github.com/yegor256/cactoos/issues/1223), [#

[2021-04-14 13:43] 0pdd commented on #903
@0pdd the puzzle [#1583](https://github.com/yegor256/cactoos/issues/1583) is still not solved; solved: [#1082](https://github.com/yegor256/cactoos/issues/1082), [#1119](https://github.com/yegor256/cactoos/issues/1119), [#1166](https://github.com/yegor256/cactoos/issues/1166), [#1222](https://github.com/yegor256/cactoos/issues/1222), [#1223](https://github.com/yegor256/cactoos/issues/1223), [#1434]

[2021-04-14 13:43] 0pdd commented on #951
@0pdd the puzzle [#1583](https://github.com/yegor256/cactoos/issues/1583) is still not solved; solved: [#1082](https://github.com/yegor256/cactoos/issues/1082), [#1119](https://github.com/yegor256/cactoos/issues/1119), [#1166](https://github.com/yegor256/cactoos/issues/1166), [#1222](https://github.com/yegor256/cactoos/issues/1222), [#1223](https://github.com/yegor256/cactoos/issues/1223), [#1434]

[2021-04-14 13:43] 0pdd commented on #1082
@0pdd the puzzle [#1583](https://github.com/yegor256/cactoos/issues/1583) is still not solved; solved: [#1119](https://github.com/yegor256/cactoos/issues/1119), [#1166](https://github.com/yegor256/cactoos/issues/1166), [#1222](https://github.com/yegor256/cactoos/issues/1222), [#1223](https://github.com/yegor256/cactoos/issues/1223), [#1434](https://github.com/yegor256/cactoos/issues/1434).

[2021-04-14 13:43] 0pdd commented on #1119
@0pdd the puzzle [#1583](https://github.com/yegor256/cactoos/issues/1583) is still not solved; solved: [#1166](https://github.com/yegor256/cactoos/issues/1166), [#1222](https://github.com/yegor256/cactoos/issues/1222), [#1223](https://github.com/yegor256/cactoos/issues/1223), [#1434](https://github.com/yegor256/cactoos/issues/1434).

[2021-04-14 13:43] 0pdd commented on #1166
@0pdd the puzzle [#1583](https://github.com/yegor256/cactoos/issues/1583) is still not solved; solved: [#1222](https://github.com/yegor256/cactoos/issues/1222), [#1223](https://github.com/yegor256/cactoos/issues/1223), [#1434](https://github.com/yegor256/cactoos/issues/1434).

[2021-04-14 13:43] 0pdd commented on #1223
@0pdd the puzzle [#1583](https://github.com/yegor256/cactoos/issues/1583) is still not solved; solved: [#1434](https://github.com/yegor256/cactoos/issues/1434).

[2021-04-14 13:43] 0pdd commented on #1434
@0pdd the puzzle [#1583](https://github.com/yegor256/cactoos/issues/1583) is still not solved.

[2021-04-14 14:20] 0crat commented on #1434
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-04-14 14:24] sereshqua commented on #1434
@0crat quality good

[2021-04-14 15:14] dgroup opened #1584 "CollectionEnvelope<T>, ListEnvelope<T>, etc. should support the Stream<T> in ctor"
What do you think about adding a separate constructor to `CollectionEnvelope<T>`, `ListEnvelope<T>` which allows to pass Stream<T> instead of collection?

It allows to have lazy initialization without scalar+sticky.

[2021-04-15 15:28] victornoel commented on #1584
@dgroup could you show an example of what you mean by "It allows to have lazy initialization without scalar+sticky."?

There are two different points we have to clarify:
- since Stream is quite similar to Iterator, maybe it would be best to only add it to IteratorOf and then use IteratorOf passed to other classes
- we won't modify the envelopes for this (because it goes counter to what envelopes a

[2021-04-18 09:44] yegor256 commented on #1578
@victornoel I removed Appveyor from the project (deleted the webook)

[2021-04-19 14:05] 0pdd commented on #1453
The puzzle `1416-3379c7cc` has disappeared from the source code, that's why I closed this issue.

[2021-04-19 14:05] #1453 closed

[2021-04-19 14:05] 0pdd opened #1586 "pom.xml:120-122: Continue migration of tests to JUnit 5...."
The puzzle `1453-3061acf9` from #1453 has to be resolved:

https://github.com/yegor256/cactoos/blob/6e62dc66f11dc0b9638b0ec96f7454795d3f4216/pom.xml#L120-L122

The puzzle was created by @LightPro-Inc on 05-Apr-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2021-04-19 14:05] 0pdd commented on #1411
@victornoel the puzzle [#1586](https://github.com/yegor256/cactoos/issues/1586) is still not solved; solved: [#1416](https://github.com/yegor256/cactoos/issues/1416), [#1453](https://github.com/yegor256/cactoos/issues/1453).

[2021-04-19 14:05] 0pdd commented on #1416
@0pdd the puzzle [#1586](https://github.com/yegor256/cactoos/issues/1586) is still not solved; solved: [#1453](https://github.com/yegor256/cactoos/issues/1453).

[2021-04-19 14:05] 0pdd commented on #1453
@0pdd the puzzle [#1586](https://github.com/yegor256/cactoos/issues/1586) is still not solved.

[2021-04-19 14:28] 0crat commented on #1453
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-04-19 18:48] sereshqua commented on #1453
@0crat quality good

[2021-04-19 21:03] baudoliver7 commented on #1453
@0crat status

[2021-04-19 22:08] 0crat commented on #1453
@baudoliver7 This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1453](https://github.com/yegor256/cactoos/issues/1453) is not in scope
  * The job is waiting quality review verdict by @sereshqua[/z](https://www.0crat.com/u/sereshqua) for 7hr
  * @baudoliver7[/z](https://www.0crat.com/u/baudoliver7) will receive 30 minutes after qua

[2021-04-21 08:14] victornoel commented on #1453
@0crat quality good

[2021-04-21 08:25] victornoel commented on #1453
@sereshqua huhu, I stole your thunder, I wanted to know if I could do it and apparently yes ^^

[2021-04-21 09:56] sereshqua commented on #1453
@victornoel no worries :)

[2021-04-22 15:39] victornoel commented on #1578
@yegor256 yep, it seems to work as expected. Still no codecov though

[2021-04-22 18:57] victornoel commented on #1578
@yegor256 if you look at a commit in codecov, for example https://codecov.io/gh/yegor256/cactoos/commit/ed23927c7525691b15bec16344ce6aec698b3bea/, for #1582, it says: "Waiting for CI to complete".

I found a codecov community discussion on the matter, https://community.codecov.io/t/all-repos-in-organization-are-stuck-on-waiting-for-ci-to-complete-for-week/1049, and it looks like to be related to a

[2021-04-29 11:53] andreoss commented on #1579
Don in #1582

[2021-04-29 11:53] #1579 closed

[2021-04-29 12:25] andreoss opened #1589 "`text.Sticky` does not implement `toString`, `equals`, `hashCode`"
`Sticky` only caches `asString` method

https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/text/Sticky.java#L40

[2021-04-29 13:22] 0crat commented on #1579
Job `gh:yegor256/cactoos#1579` is not assigned, can't get performer

[2021-04-30 00:56] andreoss opened #1591 "`MinOf` & `MaxOf` behaviour for empty iterable"
`MinOf` for empty iterable ends up being `Long.MAX_VALUE` (and accordingly `Long.MIN_VALUE` for `MaxOf`)

[code]

[2021-04-30 03:54] andreoss opened #1592 "`Iterable` and `Iterator` immutability iconsistency"
Many `Iterable` implementations are built on top of an `Iterator` with similar fuctionality.

While `Iterator` would be inherently mutable, it's unclear why `Iterable` object should be mutated by operations performed on it's underlying iterator.

For example,
`new IterableOf<>(() -> new IteratorOf<>(1,2,3))` - produces **immutable** `Iterable`
`new IterableOf<>(new IteratorOf<>(1,2,3));` - produce

[2021-05-01 16:57] victornoel commented on #1443
@andreoss sorry, I missed that the goal of the story was also to get rid of any call to external URLs by replacing them with using takes (or deleting them when unneeded as you did for HTTPS) as in the comment above (from me ^^). Could you check that there are no more of those or if there are, to fix them before we close this issue?

[2021-05-01 17:04] victornoel commented on #1592
@andreoss I'm not sure what it is that you are saying exactly? Are you saying the implementation of RangOf is broken?

[2021-05-01 17:32] #1589 closed

[2021-05-01 17:36] andreoss commented on #1592
@victornoel `new IterableOf<>(new IteratorOf<>(...)).iterator()` should not return a copy of the original iterator, not the iterator itself.

[2021-05-01 17:41] victornoel commented on #1592
@andreoss I don't think that's possible to do :/ you can show if you know how but I don't see it.

Nevertheless, we can fix RangeOf without ressorting to this I guess.

[2021-05-01 17:43] victornoel commented on #1592
@andreoss ah, I see you already fixed RangeOf, so that's a good thing.

[2021-05-01 18:18] andreoss commented on #1592
@andreoss It's impossible to copy an `Iterator` without changing it. But `IterableOf` can exhaust `Iterator` once to create a copy, and than use this copy.

[code]

[2021-05-01 21:05] andreoss commented on #1443
@andreoss It was the only one

[2021-05-02 07:42] victornoel commented on #1443
@andreoss excellent, thx

[2021-05-02 07:42] #1443 closed

[2021-05-02 07:48] victornoel commented on #1592
@andreoss that is something we don't want to do.
If you need an iterable with a copy of an iterator, you can use ListOf.

The contracts of iterable and iterator are clear and it is the responsibility of the user to compose them correctly (and the PR with the fix shows the composition don't in RangeOf was incorrect until you fixed it).

What we can do is two things:
- prevent this kind of compositi

[2021-05-02 08:19] 0crat commented on #1443
Job `gh:yegor256/cactoos#1443` is not assigned, can't get performer

[2021-05-02 08:41] victornoel commented on #1591
@andreoss good find. I think instead they should throw `NoSuchElementException` like `Reduced` does. WDYT of this behaviour?

[2021-05-02 08:43] victornoel commented on #1591
@0crat assign me

[2021-05-02 08:43] victornoel commented on #1591
@andreoss in any case I will solve it as part of #1335

[2021-05-02 09:20] victornoel commented on #1496
@0crat assign me

[2021-05-02 14:39] victornoel commented on #1537
@0crat refuse

[2021-05-02 14:40] victornoel commented on #1221
@0crat refuse

[2021-05-02 14:40] victornoel commented on #1245
@0crat refuse

[2021-05-02 14:40] victornoel commented on #1414
@0crat refuse

[2021-05-02 15:11] 0crat commented on #1245
@victornoel The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#1245](https://github.com/yegor256/cactoos/issues/1245), please stop working. Reason for job resignation: Order was cancelled

[2021-05-02 15:20] 0crat commented on #1221
@victornoel The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#1221](https://github.com/yegor256/cactoos/issues/1221), please stop working. Reason for job resignation: Order was cancelled

[2021-05-02 16:28] 0crat commented on #1538
The job [#1538](https://github.com/yegor256/cactoos/issues/1538) assigned to @sergiusac[/z](https://www.0crat.com/u/sergiusac), here is [why](https://www.0crat.com/footprint/C63314D6Z/294e7a7f-5246-4fa0-838d-a99b5dbd42d6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2021-05-02 16:36] victornoel commented on #1537
@0crat status

[2021-05-02 16:36] victornoel commented on #1414
@0crat status

[2021-05-02 17:09] 0crat commented on #1414
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1414](https://github.com/yegor256/cactoos/issues/1414) is [in scope](http://www.zerocracy.com/policy.html#14) for 10mon
  * The role is `DEV`
  * The job is assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) for [1mon](http://www.zerocracy.com/policy.

[2021-05-02 17:12] 0crat commented on #1414
@victornoel The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#1414](https://github.com/yegor256/cactoos/issues/1414), please stop working. Reason for job resignation: Order was cancelled

[2021-05-02 17:13] 0crat commented on #1537
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1537](https://github.com/yegor256/cactoos/issues/1537) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) for [1mon](http://www.zerocracy.com/policy.h

[2021-05-02 17:14] 0crat commented on #1537
@victornoel The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#1537](https://github.com/yegor256/cactoos/issues/1537), please stop working. Reason for job resignation: Order was cancelled

[2021-05-02 18:20] 0crat commented on #1537
The job [#1537](https://github.com/yegor256/cactoos/issues/1537) assigned to @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov), here is [why](https://www.0crat.com/footprint/C63314D6Z/9b43070b-1220-41fb-9ebf-f2584db97691); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2021-05-02 18:27] 0crat commented on #1560
The job [#1560](https://github.com/yegor256/cactoos/issues/1560) assigned to @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov), here is [why](https://www.0crat.com/footprint/C63314D6Z/14380c13-1e1a-4116-91b8-7d7deacf62f5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2021-05-02 19:12] 0crat commented on #1567
The job [#1567](https://github.com/yegor256/cactoos/issues/1567) assigned to @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov), here is [why](https://www.0crat.com/footprint/C63314D6Z/affa17c4-345a-4d1f-a2d3-5d9e9d727416); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2021-05-02 19:53] 0crat commented on #1570
The job [#1570](https://github.com/yegor256/cactoos/issues/1570) assigned to @sergiusac[/z](https://www.0crat.com/u/sergiusac), here is [why](https://www.0crat.com/footprint/C63314D6Z/e139b0dc-f0b8-487d-987e-2bde659723e8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2021-05-02 21:05] 0crat commented on #1564
The job [#1564](https://github.com/yegor256/cactoos/issues/1564) assigned to @sergiusac[/z](https://www.0crat.com/u/sergiusac), here is [why](https://www.0crat.com/footprint/C63314D6Z/365145e3-9f7d-4738-8bd4-7ebefc72a90c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2021-05-03 11:44] SergiusAC commented on #1538
@0crat refuse

[2021-05-03 12:09] SergiusAC commented on #1538
@0crat status

[2021-05-03 12:21] 0crat commented on #1538
@SergiusAC The user @sergiusac[/z](https://www.0crat.com/u/sergiusac) resigned from [#1538](https://github.com/yegor256/cactoos/issues/1538), please stop working. Reason for job resignation: Order was cancelled

[2021-05-03 12:24] 0crat commented on #1538
@SergiusAC This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1538](https://github.com/yegor256/cactoos/issues/1538) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-05-03 12:25] 0crat commented on #1538
@SergiusAC Job refused in 20 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2021-05-03 12:40] SergiusAC opened #1595 "Inconsistent interfaces between 'Paged' classes"
Issue #1538 says next:
https://github.com/yegor256/cactoos/blob/86ad37b671edb86a5d92d00c1005cc6c62f2c825/src/main/java/org/cactoos/iterable/Paged.java#L38-L42
But this replacing is inconsistent with the interface in the next class:
https://github.com/yegor256/cactoos/blob/86ad37b671edb86a5d92d00c1005cc6c62f2c825/src/main/java/org/cactoos/iterator/Paged.java#L42-L67
This inconsistency prevents issu

[2021-05-03 12:42] victornoel commented on #1595
@SergiusAC I don't understand what exactly is the problem. The two todos seem to be two orthogonal concerns. The first one is about parameter order in the constructor and the second one is about removing a useless type parameter (generic) of the class.

[2021-05-03 12:54] SergiusAC commented on #1595
@victornoel the iterable.Paged constructor should take the parameter 'next' as 'Func<Iterable, Iterable>', it is mentioned in first todo. But the iterator.Paged constructor takes the corresponding parameter as 'Func<Iterator,  Iterator>'. So we cannot invoke the iterator.Paged constructor and pass it the parameter 'next'.

[2021-05-03 12:59] victornoel commented on #1595
@SergiusAC well, this is the purpose of the task to find a solution. I see you refused the task, so maybe let it for the next person it will be assigned to. I don't see any problem with it, most of the Iterable of Cactoos are implemented by delegating to the corresponding Iterator implementation, so it should be doable. I don't have the solution exactly, but if I had, I would have done the job.

I

[2021-05-03 13:00] victornoel commented on #1595
@SergiusAC oh wait, I'm mistaken, the question is indeed about #1538, sorry. Anyway, my answer stands, we should find a way to take an iterable instead of an iterator in iterable.Paged.

[2021-05-03 13:23] 0crat commented on #1563
The job [#1563](https://github.com/yegor256/cactoos/issues/1563) assigned to @sergiusac[/z](https://www.0crat.com/u/sergiusac), here is [why](https://www.0crat.com/footprint/C63314D6Z/612f0f96-f7f4-4991-a6ca-1143c415b091); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2021-05-03 13:48] victornoel commented on #1595
@SergiusAC re-reading my answers, maybe something is not clear:
- the objective of #1538 is to have the constructor of `iterable.Paged` take a `Func<Iterable, Iterable>` but invoke `iterator.Paged` with a `Func<Iterator, Iterator>`, like it is done in all the other `Iterable` implementations of Cactoos. The solution is not obvious but there is not reason not to be possible, most certainly using `f

[2021-05-03 14:33] SergiusAC commented on #1595
@victornoel I think this ticket can be closed, because solution to make interfaces between the classes consistent can be done like this
[code]
Also, if it is possible, then re-assign #1538 to me again.

[2021-05-03 15:01] victornoel commented on #1538
@0crat assign @SergiusAC

[2021-05-03 15:02] victornoel commented on #1595
@SergiusAC exactly, good solution

[2021-05-03 15:02] #1595 closed

[2021-05-03 16:00] victornoel commented on #1537
@0crat assign @sergiusac

[2021-05-03 16:27] 0crat commented on #1538
@victornoel The job [#1538](https://github.com/yegor256/cactoos/issues/1538) assigned to @sergiusac[/z](https://www.0crat.com/u/sergiusac), here is [why](https://www.0crat.com/footprint/C63314D6Z/09bbc2eb-c361-4b69-94bb-b41340a094bd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2021-05-03 16:34] 0crat commented on #1537
@victornoel The job [#1537](https://github.com/yegor256/cactoos/issues/1537) assigned to @sergiusac[/z](https://www.0crat.com/u/sergiusac), here is [why](https://www.0crat.com/footprint/C63314D6Z/8b18f372-b87e-4af8-873d-fc4a983c4f50); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2021-05-03 17:24] victornoel opened #1597 "Bump cactoos-matchers to 0.25"
Bump cactoos-matchers to 0.25

[2021-05-03 17:30] 0crat commented on #1595
Job `gh:yegor256/cactoos#1595` is not assigned, can't get performer

[2021-05-03 22:28] 0crat commented on #1572
The job [#1572](https://github.com/yegor256/cactoos/issues/1572) assigned to @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov), here is [why](https://www.0crat.com/footprint/C63314D6Z/288963b7-be19-493b-981d-ba5a03aea8a1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2021-05-04 17:39] andreoss opened #1600 "Type ambiguity in `iterable.Joined` ctors"
`Joined` has two constructors with the same erasure.
[code]
Example:
[code]

[2021-05-07 11:11] #1537 closed

[2021-05-07 11:11] 0pdd commented on #1537
The puzzle `1464-68f0eee6` has disappeared from the source code, that's why I closed this issue.

[2021-05-07 11:11] 0pdd commented on #1538
The puzzle `1464-a8b18c11` has disappeared from the source code, that's why I closed this issue.

[2021-05-07 11:11] #1538 closed

[2021-05-07 11:11] 0pdd commented on #947
@wladyan all 27 puzzles are solved here: [#1183](https://github.com/yegor256/cactoos/issues/1183), [#1184](https://github.com/yegor256/cactoos/issues/1184), [#1185](https://github.com/yegor256/cactoos/issues/1185), [#1242](https://github.com/yegor256/cactoos/issues/1242), [#1262](https://github.com/yegor256/cactoos/issues/1262), [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1293](htt

[2021-05-07 11:11] 0pdd commented on #1183
@0pdd all 3 puzzles are solved here: [#1464](https://github.com/yegor256/cactoos/issues/1464), [#1537](https://github.com/yegor256/cactoos/issues/1537), [#1538](https://github.com/yegor256/cactoos/issues/1538).

[2021-05-07 11:11] 0pdd commented on #1464
@0pdd all 2 puzzles are solved here: [#1537](https://github.com/yegor256/cactoos/issues/1537), [#1538](https://github.com/yegor256/cactoos/issues/1538).

[2021-05-07 11:30] 0crat commented on #1538
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.55.1](https://github.com/zerocracy/farm): CID: [5f66501b-3db2-4e89-95b5-a732edc68afc](https://www.0crat.com/footprint/C63314D6Z/5f66501b-3db2-4e89-95b5-a732edc68afc), Type: "Order was finished"

[2021-05-07 11:31] 0crat commented on #1538
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @sergiusac[/z](https://www.0crat.com/u/sergiusac), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-05-07 12:02] 0crat commented on #1537
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @sergiusac[/z](https://www.0crat.com/u/sergiusac), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-05-07 13:40] victornoel opened #1606 "MapEnvelope should delegate all its method"
Currently `MapEnvelope` has its own implementation for `toString` but instead it should delegate it to the wrapped map.

[2021-05-07 13:40] victornoel commented on #1606
@0crat in

[2021-05-07 14:53] DmitryBarskov commented on #1572
@victornoel I found something in `func` package, but it's blocked by `scalar` issue #1569, can I do it first?

[2021-05-07 14:57] victornoel commented on #1569
@0crat status

[2021-05-07 14:58] victornoel commented on #1572
@DmitryBarskov maybe a good idea is to change just what you need in scalar for moving forward here, and let the rest for #1569. Another idea is to change what is not impacted by scalar (if possible).

Feel free to use whatever means you want to achieve the task, and try not to do too much at once, and all should go well :)

[2021-05-07 15:26] 0crat commented on #1569
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1569](https://github.com/yegor256/cactoos/issues/1569) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-05-07 19:46] sereshqua commented on #1538
@0crat quality good

[2021-05-07 19:51] sereshqua commented on #1537
@0crat quality good

[2021-05-08 17:06] #1560 closed

[2021-05-08 17:06] 0pdd commented on #1560
The puzzle `1461-42d3dd73` has disappeared from the source code, that's why I closed this issue.

[2021-05-08 17:06] 0pdd commented on #1287
@victornoel all 4 puzzles are solved here: [#1460](https://github.com/yegor256/cactoos/issues/1460), [#1461](https://github.com/yegor256/cactoos/issues/1461), [#1462](https://github.com/yegor256/cactoos/issues/1462), [#1560](https://github.com/yegor256/cactoos/issues/1560).

[2021-05-08 17:06] 0pdd commented on #1461
@0pdd the only puzzle [#1560](https://github.com/yegor256/cactoos/issues/1560) is solved here.

[2021-05-08 17:29] 0crat commented on #1560
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-05-08 17:48] sereshqua commented on #1560
@0crat quality good

[2021-05-09 15:21] sereshqua commented on #1560
@0crat quality good

[2021-05-09 17:13] 0crat commented on #1565
The job [#1565](https://github.com/yegor256/cactoos/issues/1565) assigned to @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov), here is [why](https://www.0crat.com/footprint/C63314D6Z/ab6cf71f-befd-4a4e-9f24-49d236e3075a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2021-05-10 13:11] SergiusAC commented on #1570
@0crat wait

[2021-05-10 13:11] SergiusAC commented on #1564
@0crat wait

[2021-05-10 13:11] SergiusAC commented on #1563
@0crat wait

[2021-05-12 07:59] SergiusAC commented on #1564
@0crat status

[2021-05-13 08:59] 0pdd commented on #1572
The puzzle `1533-37aa2e90` has disappeared from the source code, that's why I closed this issue.

[2021-05-13 08:59] #1572 closed

[2021-05-13 08:59] 0pdd opened #1613 "package-info.java:29-31: Exploit generic variance for..."
The puzzle `1572-37aa2e90` from #1572 has to be resolved:

https://github.com/yegor256/cactoos/blob/9fbb7570539dcbdcb41879bf1462bff0e6762b70/src/main/java/org/cactoos/func/package-info.java#L29-L31

The puzzle was created by Dmitry Barskov on 12-May-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2021-05-13 08:59] 0pdd commented on #1613
This puzzle inherited milestone `1.0` from issue #1572.

[2021-05-13 08:59] 0pdd commented on #1533
@victornoel 13 puzzles [#1563](https://github.com/yegor256/cactoos/issues/1563), [#1564](https://github.com/yegor256/cactoos/issues/1564), [#1565](https://github.com/yegor256/cactoos/issues/1565), [#1566](https://github.com/yegor256/cactoos/issues/1566), [#1567](https://github.com/yegor256/cactoos/issues/1567), [#1568](https://github.com/yegor256/cactoos/issues/1568), [#1569](https://github.com/ye

[2021-05-13 08:59] 0pdd commented on #1572
@0pdd the puzzle [#1613](https://github.com/yegor256/cactoos/issues/1613) is still not solved.

[2021-05-13 09:09] #1567 closed

[2021-05-13 09:10] 0pdd commented on #1567
The puzzle `1533-ac41b39c` has disappeared from the source code, that's why I closed this issue.

[2021-05-13 09:10] 0pdd opened #1614 "package-info.java:29-31: Exploit generic variance for..."
The puzzle `1567-ac41b39c` from #1567 has to be resolved:

https://github.com/yegor256/cactoos/blob/c0c58747ad8926ec9f589f2ae857ad5e04cb5999/src/main/java/org/cactoos/proc/package-info.java#L29-L31

The puzzle was created by @scfj on 11-May-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2021-05-13 09:10] 0pdd commented on #1614
This puzzle inherited milestone `1.0` from issue #1567.

[2021-05-13 09:10] 0pdd commented on #1533
@victornoel 13 puzzles [#1563](https://github.com/yegor256/cactoos/issues/1563), [#1564](https://github.com/yegor256/cactoos/issues/1564), [#1565](https://github.com/yegor256/cactoos/issues/1565), [#1566](https://github.com/yegor256/cactoos/issues/1566), [#1568](https://github.com/yegor256/cactoos/issues/1568), [#1569](https://github.com/yegor256/cactoos/issues/1569), [#1570](https://github.com/ye

[2021-05-13 09:10] 0pdd commented on #1567
@0pdd the puzzle [#1614](https://github.com/yegor256/cactoos/issues/1614) is still not solved.

[2021-05-13 13:39] andreoss commented on #1600
@victornoel Proposal is to extract from this class
1) `Prepended` 2) `Appended` and remove vararg ctor

[2021-05-13 19:28] victornoel commented on #1600
@andreoss I experimented a bit and changing `public Joined(final Iterable<Iterable<? extends T>> items)` to `public Joined(final Iterable<? extends Iterable<? extends T>> items)` should solve the problem. Would that be enough or do you see other problems?

[2021-05-14 07:38] #1597 closed

[2021-05-14 07:39] victornoel commented on #1578
@yegor256 it is working now, thank you.

Example: in  https://github.com/yegor256/cactoos/pull/1587 the codecov checks appear (and fail in that case)

[2021-05-14 07:39] #1578 closed

[2021-05-14 07:40] victornoel commented on #1614
@0crat status

[2021-05-14 07:40] victornoel commented on #1613
@0crat status

[2021-05-15 02:11] andreoss commented on #1600
@victornoel I don't think so. After erasurej  `Joined(Iterable<X>)`  and `Joined(Iterable<Iterable<X>)`  will be the same thing.

[2021-05-15 13:27] victornoel commented on #1600
@andreoss maybe I misunderstood the subject you are talking about.

This is what I understand:
- the problem with erasure is when two methods/constructors have the same name and the same arguments after erasure: so if there is no compile error when declaring the constructors, there is no problem with type erasure.
  - so first conclusion for me: we are not talking about type erasure
- here the pro

[2021-05-15 13:42] victornoel commented on #1592
@andreoss so, do you see more than what I expressed in the commit above? To be honest, all of this has nothing to do with immutability from my point of view, it's just that the implementation of the expected behaviour was broken.

[2021-05-30 09:14] victornoel commented on #1606
@0crat status

[2021-06-10 16:22] victornoel commented on #1565
@0crat status

[2021-06-10 16:22] victornoel commented on #1572
@0crat status

[2021-06-10 16:22] victornoel commented on #1563
@0crat status

[2021-06-10 16:22] victornoel commented on #1564
@0crat status

[2021-06-10 16:22] victornoel commented on #1570
@0crat status

[2021-06-10 16:22] victornoel commented on #1567
@0crat status

[2021-06-10 16:22] victornoel commented on #1496
@0crat status

[2021-06-10 16:23] victornoel commented on #1591
@0crat status

[2021-06-10 16:23] victornoel commented on #1578
@0crat status

[2021-06-10 16:23] victornoel commented on #1335
@0crat status

[2021-06-10 16:23] 0crat commented on #1565
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1565](https://github.com/yegor256/cactoos/issues/1565) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov) for [1mon](http://www.zerocracy.com/policy.h

[2021-06-10 16:24] 0crat commented on #1496
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1496](https://github.com/yegor256/cactoos/issues/1496) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [1mon](http://www.zerocracy.com/policy.html#8)

[2021-06-10 16:25] 0crat commented on #1578
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1578](https://github.com/yegor256/cactoos/issues/1578) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is assigned to @yegor256[/z](https://www.0crat.com/u/yegor256) for [2mon](http://www.zerocracy.com/policy.html#8)
  *

[2021-06-10 16:26] 0crat commented on #1335
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1335](https://github.com/yegor256/cactoos/issues/1335) is [in scope](http://www.zerocracy.com/policy.html#14) for 11mon
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [6mon](http://www.zerocracy.com/policy.html#8

[2021-06-10 16:28] 0crat commented on #1570
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1570](https://github.com/yegor256/cactoos/issues/1570) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @sergiusac[/z](https://www.0crat.com/u/sergiusac) for [1mon](http://www.zerocracy.com/policy.html#8)

[2021-06-10 16:29] 0crat commented on #1563
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1563](https://github.com/yegor256/cactoos/issues/1563) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @sergiusac[/z](https://www.0crat.com/u/sergiusac) for [1mon](http://www.zerocracy.com/policy.html#8)

[2021-06-10 16:29] 0crat commented on #1564
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1564](https://github.com/yegor256/cactoos/issues/1564) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @sergiusac[/z](https://www.0crat.com/u/sergiusac) for [1mon](http://www.zerocracy.com/policy.html#8)

[2021-06-10 16:30] 0crat commented on #1591
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1591](https://github.com/yegor256/cactoos/issues/1591) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [1mon](http://www.zerocracy.com/policy.html#8)

[2021-06-10 16:30] 0crat commented on #1572
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1572](https://github.com/yegor256/cactoos/issues/1572) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov) for [1mon](http://www.zerocracy.com/policy.h

[2021-06-10 16:31] 0crat commented on #1567
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1567](https://github.com/yegor256/cactoos/issues/1567) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov) for [1mon](http://www.zerocracy.com/policy.h

[2021-06-10 16:32] victornoel commented on #1578
@0crat out

[2021-06-11 02:17] 0crat commented on #1567
@dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov) resigned from [#1567](https://github.com/yegor256/cactoos/issues/1567), since the job is not in scope anymore

[2021-06-11 02:19] 0crat commented on #1572
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-06-11 05:26] sereshqua commented on #1572
@0crat quality good

[2021-06-11 06:49] victornoel commented on #1567
@DmitryBarskov sorry about that, zerocrat has had many problem, so you won't get the points for this one :(

[2021-06-12 14:43] victornoel commented on #1570
@SergiusAC hi, any news on this and the other issues you are assigned to? if it's taking too much time I may take it away from you so that someone can get a shot at it :) you will anyway be assigned other ticket then.

[2021-06-12 14:46] victornoel commented on #1606
@0crat status

[2021-06-12 14:46] victornoel commented on #1586
@0crat status

[2021-06-12 14:46] victornoel commented on #1583
@0crat status

[2021-06-12 14:47] victornoel commented on #1577
@0crat status

[2021-06-12 14:47] victornoel commented on #1571
@0crat status

[2021-06-12 14:47] victornoel commented on #1569
@0crat status

[2021-06-12 14:47] victornoel commented on #1573
@0crat status

[2021-06-12 14:47] victornoel commented on #1575
@0crat status

[2021-06-12 14:47] victornoel commented on #1568
@0crat status

[2021-06-12 14:47] victornoel commented on #1574
@0crat status

[2021-06-12 14:47] victornoel commented on #1566
@0crat status

[2021-06-12 14:47] victornoel commented on #1562
@0crat status

[2021-06-12 14:48] victornoel commented on #1559
@0crat status

[2021-06-12 14:48] victornoel commented on #1561
@0crat status

[2021-06-12 14:48] victornoel commented on #1555
@0crat status

[2021-06-12 14:48] victornoel commented on #1439
@0crat status

[2021-06-12 14:49] victornoel commented on #1497
@0crat status

[2021-06-12 14:49] victornoel commented on #1469
@0crat status

[2021-06-12 14:49] victornoel commented on #1438
@0crat status

[2021-06-12 14:49] victornoel commented on #1283
@0crat status

[2021-06-12 14:50] victornoel commented on #1221
@0crat status

[2021-06-12 14:50] victornoel commented on #1410
@0crat status

[2021-06-12 14:50] victornoel commented on #1440
@0crat status

[2021-06-12 14:50] victornoel commented on #1245
@0crat status

[2021-06-12 14:50] victornoel commented on #1414
@0crat status

[2021-06-12 14:50] victornoel commented on #1200
@0crat status

[2021-06-12 14:52] 0pdd opened #1617 "SumOfTest.java:37-41: Following the rewrite of the Number..."
The puzzle `1335-2793a937` from #1335 has to be resolved:

https://github.com/yegor256/cactoos/blob/510666e73b399f16beb2ba1c2d4728fb1de6d627/src/test/java/org/cactoos/number/SumOfTest.java#L37-L41

The puzzle was created by Victor Noël on 08-May-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2021-06-12 14:52] 0pdd commented on #1617
This puzzle inherited milestone `1.0` from issue #1335.

[2021-06-12 14:52] 0pdd commented on #1335
@victornoel the puzzle [#1617](https://github.com/yegor256/cactoos/issues/1617) is still not solved.

[2021-06-12 14:59] #1335 closed

[2021-06-12 14:59] #1591 closed

[2021-06-12 14:59] #1496 closed

[2021-06-12 15:04] 0crat commented on #1571
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1571](https://github.com/yegor256/cactoos/issues/1571) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-06-12 15:05] 0crat commented on #1439
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1439](https://github.com/yegor256/cactoos/issues/1439) is [in scope](http://www.zerocracy.com/policy.html#14) for 4mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-06-12 15:05] 0crat commented on #1586
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1586](https://github.com/yegor256/cactoos/issues/1586) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-06-12 15:05] 0crat commented on #1573
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1573](https://github.com/yegor256/cactoos/issues/1573) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-06-12 15:08] 0crat commented on #1200
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1200](https://github.com/yegor256/cactoos/issues/1200) is [in scope](http://www.zerocracy.com/policy.html#14) for 11mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users ar

[2021-06-12 15:08] 0crat commented on #1497
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1497](https://github.com/yegor256/cactoos/issues/1497) is [in scope](http://www.zerocracy.com/policy.html#14) for 7mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-06-12 15:08] 0crat commented on #1438
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1438](https://github.com/yegor256/cactoos/issues/1438) is [in scope](http://www.zerocracy.com/policy.html#14) for 9mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-06-12 15:09] 0crat commented on #1577
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1577](https://github.com/yegor256/cactoos/issues/1577) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-06-12 15:09] 0crat commented on #1469
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1469](https://github.com/yegor256/cactoos/issues/1469) is [in scope](http://www.zerocracy.com/policy.html#14) for 9mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-06-12 15:09] 0crat commented on #1559
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1559](https://github.com/yegor256/cactoos/issues/1559) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-06-12 15:10] 0crat commented on #1440
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1440](https://github.com/yegor256/cactoos/issues/1440) is [in scope](http://www.zerocracy.com/policy.html#14) for 9mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-06-12 15:10] 0crat commented on #1221
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1221](https://github.com/yegor256/cactoos/issues/1221) is [in scope](http://www.zerocracy.com/policy.html#14) for 9mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-06-12 15:13] 0crat commented on #1562
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1562](https://github.com/yegor256/cactoos/issues/1562) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-06-12 15:13] 0crat commented on #1568
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1568](https://github.com/yegor256/cactoos/issues/1568) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-06-12 15:15] 0crat commented on #1606
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1606](https://github.com/yegor256/cactoos/issues/1606) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-06-12 15:16] 0crat commented on #1283
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1283](https://github.com/yegor256/cactoos/issues/1283) is [in scope](http://www.zerocracy.com/policy.html#14) for 9mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-06-12 15:19] 0crat commented on #1555
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1555](https://github.com/yegor256/cactoos/issues/1555) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-06-12 15:20] 0crat commented on #1410
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1410](https://github.com/yegor256/cactoos/issues/1410) is [in scope](http://www.zerocracy.com/policy.html#14) for 9mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-06-12 15:21] 0crat commented on #1245
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1245](https://github.com/yegor256/cactoos/issues/1245) is [in scope](http://www.zerocracy.com/policy.html#14) for 11mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users ar

[2021-06-12 15:22] 0crat commented on #1583
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1583](https://github.com/yegor256/cactoos/issues/1583) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * Job [footprint]

[2021-06-12 15:24] 0crat commented on #1569
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1569](https://github.com/yegor256/cactoos/issues/1569) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-06-12 15:24] victornoel commented on #1617
@0crat status

[2021-06-12 15:35] 0crat commented on #1574
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1574](https://github.com/yegor256/cactoos/issues/1574) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2021-06-12 16:01] 0crat commented on #1617
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1617](https://github.com/yegor256/cactoos/issues/1617) is [in scope](http://www.zerocracy.com/policy.html#14) for 32min
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * Job [footprint

[2021-06-18 05:10] yegor256 opened #1618 "MapOf(map, X, Y)"
How about we introduce a new ctor for `MapOf`, which will accept the existing `Map`, a new key `X`, and a new value `Y`. This will be much more convenient than creating an instance of `Map.Entry` for a single entry.

[2021-06-19 14:44] victornoel commented on #1618
@yegor256 ok let's do that as well a introduce `MapOf(X, Y)` (directly delegating to `super` I think). And also update the javadoc of the class because it's clearly incorrect.

[2021-06-19 14:44] victornoel commented on #1618
@0crat in

[2021-06-19 14:44] victornoel commented on #1614
@0crat status

[2021-06-19 14:44] victornoel commented on #1613
@0crat status

[2021-06-19 14:46] victornoel commented on #1600
@andreoss any feedback on the above?

[2021-06-19 15:10] 0crat commented on #1613
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1613](https://github.com/yegor256/cactoos/issues/1613) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos%231613%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2021-06-19 15:10] victornoel commented on #1613
@0crat in

[2021-06-19 15:16] 0crat commented on #1614
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1614](https://github.com/yegor256/cactoos/issues/1614) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos%231614%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2021-06-19 15:24] victornoel commented on #1614
@0crat in

[2021-06-19 15:36] andreoss commented on #1600
@victornoel Yes, the problem is compile time only. I wanted to suggest to remove vararg ctor, or move it to another class. But if wildcard solves that, it's fine. WIll make a PR.

[2021-06-19 15:37] victornoel commented on #1600
@0crat assign @andreoss

[2021-06-22 10:43] yegor256 opened #1619 "Joined(Iterable<? extends T> items, T item)"
How about we introduce a new ctor `Joined(Iterable<? extends T> items, T item)`, which will add the `item` to the end of the list. Currently, the existing ctor `Joined(T item, Iterable<? extends T> items)` prepends the list with a new item. I didn't manage to find how to append it.

[2021-06-22 11:43] 0crat commented on #1566
The job [#1566](https://github.com/yegor256/cactoos/issues/1566) assigned to @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov), here is [why](https://www.0crat.com/footprint/C63314D6Z/9a739b0b-67c1-4ebe-ae74-6e8e26bd93c6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2021-06-22 11:59] victornoel commented on #1619
@yegor256 to append it you can use something like: `new Joined(items, new IterableOf(item))` but I agree we can indeed add a constructor for this use case.
I would generify it by proposing we introduce `Joined(Iterable<? extends T> items, T... appended)`

[2021-06-22 11:59] victornoel commented on #1619
@0crat in

[2021-06-22 12:05] 0pdd commented on #1565
The puzzle `1533-a2c34718` has disappeared from the source code, that's why I closed this issue.

[2021-06-22 12:05] #1565 closed

[2021-06-22 12:05] 0pdd commented on #1533
@victornoel 12 puzzles [#1563](https://github.com/yegor256/cactoos/issues/1563), [#1564](https://github.com/yegor256/cactoos/issues/1564), [#1566](https://github.com/yegor256/cactoos/issues/1566), [#1568](https://github.com/yegor256/cactoos/issues/1568), [#1569](https://github.com/yegor256/cactoos/issues/1569), [#1570](https://github.com/yegor256/cactoos/issues/1570), [#1571](https://github.com/ye

[2021-06-22 12:12] 0crat commented on #1574
The job [#1574](https://github.com/yegor256/cactoos/issues/1574) assigned to @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov), here is [why](https://www.0crat.com/footprint/C63314D6Z/f47c3bbd-8e6d-4c8f-b0af-6c0f529ecd1c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2021-06-22 12:25] 0crat commented on #1565
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-06-22 12:27] sereshqua commented on #1565
@0crat quality good

[2021-06-22 20:44] 0crat commented on #1568
The job [#1568](https://github.com/yegor256/cactoos/issues/1568) assigned to @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov), here is [why](https://www.0crat.com/footprint/C63314D6Z/4c02ae40-a0e3-4501-bef8-cd9745574116); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2021-07-18 09:33] victornoel opened #1622 "Exchange constructor and method argument ForEachXXX classes"
Instead of calling `new ForEach(proc).exec(iterable)`, one should be able to call `new ForEach(iterable).exec(proc)`.

Same for the other ForEach prefixed classes.

The advantage is twofold:
- it reads better
- type inference works much better

[2021-07-18 09:33] victornoel commented on #1622
@0crat in

[2021-07-24 14:33] victornoel commented on #1619
@0crat in

[2021-07-25 09:24] victornoel commented on #1600
@andreoss by the way, what about this? Was there a PR in the end?

[2021-09-05 09:44] victornoel commented on #1619
@0crat in

[2021-09-05 09:44] victornoel commented on #1592
@andreoss closing this, don't hesitate to come back to me if we need to reopen this

[2021-09-05 09:44] #1592 closed

[2021-09-05 09:52] #1574 closed

[2021-09-05 09:52] 0pdd commented on #1574
The puzzle `1533-1bce8d47` has disappeared from the source code, that's why I closed this issue.

[2021-09-05 09:52] 0pdd opened #1623 "UncheckedBytes.java:37-40: Extract fallback logic for..."
The puzzle `1615-3f3b75c7` from #1615 has to be resolved:

https://github.com/yegor256/cactoos/blob/445cf166a5a43b483524b4df7e25ece05e12dca3/src/main/java/org/cactoos/bytes/UncheckedBytes.java#L37-L40

The puzzle was created by andreoss on 21-Jun-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2021-09-05 09:52] 0pdd commented on #1533
@victornoel 11 puzzles [#1563](https://github.com/yegor256/cactoos/issues/1563), [#1564](https://github.com/yegor256/cactoos/issues/1564), [#1566](https://github.com/yegor256/cactoos/issues/1566), [#1568](https://github.com/yegor256/cactoos/issues/1568), [#1569](https://github.com/yegor256/cactoos/issues/1569), [#1570](https://github.com/yegor256/cactoos/issues/1570), [#1571](https://github.com/ye

[2021-09-05 13:07] victornoel commented on #1623
@0crat status

[2021-09-05 15:39] victornoel commented on #1570
@0crat refuse

[2021-09-05 15:39] victornoel commented on #1564
@0crat refuse

[2021-09-05 15:39] victornoel commented on #1563
@0crat refuse

[2021-09-05 17:34] 0crat commented on #1575
The job [#1575](https://github.com/yegor256/cactoos/issues/1575) assigned to @rocket-3[/z](https://www.0crat.com/u/rocket-3), here is [why](https://www.0crat.com/footprint/C63314D6Z/806f64f1-cb34-4fb1-a59f-aa9d6881ab66); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2021-09-05 18:28] 0crat commented on #1569
The job [#1569](https://github.com/yegor256/cactoos/issues/1569) assigned to @rocket-3[/z](https://www.0crat.com/u/rocket-3), here is [why](https://www.0crat.com/footprint/C63314D6Z/271e31bd-e558-4ddd-ac55-83eceb0c1be3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2021-09-07 21:12] rocket-3 commented on #1573
@0crat status

[2021-09-10 17:02] victornoel commented on #1570
@0crat refuse

[2021-09-10 17:02] victornoel commented on #1564
@0crat refuse

[2021-09-10 17:02] victornoel commented on #1563
@0crat refuse

[2021-09-10 18:51] 0crat commented on #1564
@victornoel The user @sergiusac[/z](https://www.0crat.com/u/sergiusac) resigned from [#1564](https://github.com/yegor256/cactoos/issues/1564), please stop working. Reason for job resignation: Order was cancelled

[2021-09-10 19:36] 0crat commented on #1570
@victornoel The user @sergiusac[/z](https://www.0crat.com/u/sergiusac) resigned from [#1570](https://github.com/yegor256/cactoos/issues/1570), please stop working. Reason for job resignation: Order was cancelled

[2021-09-11 16:54] victornoel commented on #1618
@yegor256 this was implemented in #1625

[2021-09-12 09:10] victornoel commented on #1563
@0crat refuse

[2021-09-12 09:11] 0crat commented on #1563
@victornoel The user @sergiusac[/z](https://www.0crat.com/u/sergiusac) resigned from [#1563](https://github.com/yegor256/cactoos/issues/1563), please stop working. Reason for job resignation: Order was cancelled

[2021-09-12 10:16] victornoel commented on #1574
@0crat status

[2021-09-12 10:17] 0crat commented on #1574
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1574](https://github.com/yegor256/cactoos/issues/1574) is [in scope](http://www.zerocracy.com/policy.html#14) for 6mon
  * The role is `DEV`
  * The job is assigned to @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov) for [3mon](http://www.zerocracy.com/policy.h

[2021-09-12 12:57] victornoel commented on #1574
@0crat out

[2021-09-12 13:06] 0crat commented on #1574
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-09-12 13:26] sereshqua commented on #1574
@0crat quality good

[2021-09-15 06:19] yegor256 commented on #1618
@victornoel thanks!

[2021-09-15 06:19] #1618 closed

[2021-09-18 14:47] victornoel commented on #1618
@0crat status

[2021-09-18 14:47] victornoel commented on #1623
@0crat status

[2021-09-18 16:02] victornoel commented on #1623
@0crat status

[2021-09-18 16:03] victornoel commented on #1618
@0crat status

[2021-09-26 12:23] #1575 closed

[2021-09-26 12:23] 0pdd commented on #1575
The puzzle `1533-d1b82973` has disappeared from the source code, that's why I closed this issue.

[2021-09-26 12:24] 0pdd commented on #1533
@victornoel 10 puzzles [#1563](https://github.com/yegor256/cactoos/issues/1563), [#1564](https://github.com/yegor256/cactoos/issues/1564), [#1566](https://github.com/yegor256/cactoos/issues/1566), [#1568](https://github.com/yegor256/cactoos/issues/1568), [#1569](https://github.com/yegor256/cactoos/issues/1569), [#1570](https://github.com/yegor256/cactoos/issues/1570), [#1571](https://github.com/ye

[2021-09-26 12:41] victornoel commented on #1575
@0crat status

[2021-09-27 08:34] #1568 closed

[2021-09-27 08:34] 0pdd commented on #1568
The puzzle `1533-8f051690` has disappeared from the source code, that's why I closed this issue.

[2021-09-27 08:34] 0pdd commented on #1533
@victornoel 9 puzzles [#1563](https://github.com/yegor256/cactoos/issues/1563), [#1564](https://github.com/yegor256/cactoos/issues/1564), [#1566](https://github.com/yegor256/cactoos/issues/1566), [#1569](https://github.com/yegor256/cactoos/issues/1569), [#1570](https://github.com/yegor256/cactoos/issues/1570), [#1571](https://github.com/yegor256/cactoos/issues/1571), [#1573](https://github.com/yeg

[2021-10-02 12:52] victornoel commented on #1568
@0crat status

[2021-10-02 12:52] victornoel commented on #1575
@0crat status

[2021-10-02 13:00] #1573 closed

[2021-10-02 13:00] 0pdd commented on #1573
The puzzle `1533-1282c35c` has disappeared from the source code, that's why I closed this issue.

[2021-10-02 13:00] 0pdd commented on #1533
@victornoel 8 puzzles [#1563](https://github.com/yegor256/cactoos/issues/1563), [#1564](https://github.com/yegor256/cactoos/issues/1564), [#1566](https://github.com/yegor256/cactoos/issues/1566), [#1569](https://github.com/yegor256/cactoos/issues/1569), [#1570](https://github.com/yegor256/cactoos/issues/1570), [#1571](https://github.com/yegor256/cactoos/issues/1571), [#1613](https://github.com/yeg

[2021-10-03 15:26] victornoel commented on #1573
@0crat status

[2021-10-03 15:26] victornoel commented on #1568
@0crat status

[2021-10-03 15:26] victornoel commented on #1575
@0crat status

[2021-10-03 16:58] victornoel commented on #1573
@0crat status

[2021-10-03 16:58] victornoel commented on #1568
@0crat status

[2021-10-03 16:58] victornoel commented on #1575
@0crat status

[2021-10-16 08:23] #1569 closed

[2021-10-16 08:23] 0pdd commented on #1569
The puzzle `1533-c35e3786` has disappeared from the source code, that's why I closed this issue.

[2021-10-16 08:23] 0pdd opened #1630 "package-info.java:29-31: Create tests for the semantics..."
The puzzle `1569-7739be3c` from #1569 has to be resolved:

https://github.com/yegor256/cactoos/blob/8f4efef7ceec3f08cbf5135eab56bf9b51fd4834/src/main/java/org/cactoos/scalar/package-info.java#L29-L31

The puzzle was created by rocket on 04-Oct-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2021-10-16 08:23] 0pdd commented on #1630
This puzzle inherited milestone `1.0` from issue #1569.

[2021-10-16 08:23] 0pdd commented on #1533
@victornoel 8 puzzles [#1563](https://github.com/yegor256/cactoos/issues/1563), [#1564](https://github.com/yegor256/cactoos/issues/1564), [#1566](https://github.com/yegor256/cactoos/issues/1566), [#1570](https://github.com/yegor256/cactoos/issues/1570), [#1571](https://github.com/yegor256/cactoos/issues/1571), [#1613](https://github.com/yegor256/cactoos/issues/1613), [#1614](https://github.com/yeg

[2021-10-18 06:19] victornoel commented on #1569
@0crat status

[2021-10-18 06:19] victornoel commented on #1630
@0crat status

[2021-10-18 06:20] victornoel commented on #1575
@0crat status

[2021-10-22 04:54] yegor256 opened #1631 "org.cactoos.arrays.Mapped"
How about a new package for manipulations with arrays? A `Mapped` one would be useful, and others too.

[2021-10-23 18:50] #1631 closed, assigned to nobody

[2021-11-08 04:50] rocket-3 commented on #1569
@0crat status

[2021-11-25 04:28] 0crat commented on #1568
@dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov) resigned from [#1568](https://github.com/yegor256/cactoos/issues/1568), since the job is not in scope anymore

[2021-11-25 22:31] 0crat commented on #1564
The job [#1564](https://github.com/yegor256/cactoos/issues/1564) assigned to @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov), here is [why](https://www.0crat.com/footprint/C63314D6Z/d1fb3d24-e419-48da-845e-fc3e9a0f7d8d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2022-07-11 03:29] yegor256 opened #1636 "fresh release"

[2022-07-11 03:30] 0pdd opened #1637 "pom.xml:120-262: Continue migration of tests to JUnit 5...."
The puzzle `1453-e4274c72` from #1453 has to be resolved:

https://github.com/yegor256/cactoos/blob/d735860ced96592dbb9a73be8c9e8c6dce132a4f/pom.xml#L120-L262

The puzzle was created by @yegor256 on 11-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puz

[2022-07-11 03:30] 0pdd opened #1638 "pom.xml:263-319: In the continuation of #588, all the..."
The puzzle `1434-c8d2a46f` from #1434 has to be resolved:

https://github.com/yegor256/cactoos/blob/d735860ced96592dbb9a73be8c9e8c6dce132a4f/pom.xml#L263-L319

The puzzle was created by @yegor256 on 11-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puz

[2022-07-11 03:30] 0pdd opened #1639 "package-info.java:28-33: Continue replacing usage of..."
The puzzle `1425-caaae80a` from #1425 has to be resolved:

https://github.com/yegor256/cactoos/blob/d735860ced96592dbb9a73be8c9e8c6dce132a4f/src/test/java/org/cactoos/package-info.java#L28-L33

The puzzle was created by Yegor Bugayenko on 11-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2022-07-11 03:30] 0pdd opened #1640 "SumOfTest.java:37-43: Following the rewrite of the Number..."
The puzzle `1335-074da419` from #1335 has to be resolved:

https://github.com/yegor256/cactoos/blob/d735860ced96592dbb9a73be8c9e8c6dce132a4f/src/test/java/org/cactoos/number/SumOfTest.java#L37-L43

The puzzle was created by Yegor Bugayenko on 11-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2022-07-11 03:30] 0pdd commented on #1640
This puzzle inherited milestone `1.0` from issue #1335.

[2022-07-11 03:30] 0pdd commented on #1453
@0pdd the puzzle [#1637](https://github.com/yegor256/cactoos/issues/1637) is still not solved.

[2022-07-11 03:30] 0pdd commented on #1434
@0pdd the puzzle [#1638](https://github.com/yegor256/cactoos/issues/1638) is still not solved.

[2022-07-11 03:30] 0pdd commented on #1449
@fabriciofx the puzzle [#unknown]() is still not solved.

[2022-07-11 03:30] 0pdd commented on #1533
@victornoel 5 puzzles [#unknown](), [#unknown](), [#unknown](), [#unknown](), [#unknown]() are still not solved.

[2022-07-11 03:30] 0pdd commented on #1254
@victornoel 2 puzzles [#unknown](), [#unknown]() are still not solved.

[2022-07-11 03:30] 0pdd commented on #1567
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-11 03:30] 0pdd commented on #1569
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-11 03:30] 0pdd commented on #1572
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-11 03:30] 0pdd commented on #898
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-11 03:30] 0pdd commented on #1425
@0pdd the puzzle [#1639](https://github.com/yegor256/cactoos/issues/1639) is still not solved.

[2022-07-11 03:30] 0pdd commented on #1335
@victornoel the puzzle [#1640](https://github.com/yegor256/cactoos/issues/1640) is still not solved.

[2022-07-11 03:39] 0pdd commented on #1637
The puzzle `1453-e4274c72` has disappeared from the source code, that's why I closed this issue.

[2022-07-11 03:39] #1637 closed

[2022-07-11 03:39] 0pdd opened #1641 "pom.xml:120-264: Continue migration of tests to JUnit 5...."
The puzzle `1453-f5112130` from #1453 has to be resolved:

https://github.com/yegor256/cactoos/blob/4df1f2febc3ac7643dbdda7c48f06e2841dd6b74/pom.xml#L120-L264

The puzzle was created by @yegor256 on 11-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puz

[2022-07-11 03:39] 0pdd commented on #1453
@0pdd the puzzle [#1641](https://github.com/yegor256/cactoos/issues/1641) is still not solved; solved: [#1637](https://github.com/yegor256/cactoos/issues/1637).

[2022-07-11 03:45] 0pdd commented on #1641
The puzzle `1453-f5112130` has disappeared from the source code, that's why I closed this issue.

[2022-07-11 03:45] #1641 closed

[2022-07-11 03:45] 0pdd opened #1642 "pom.xml:120-264: Continue migration of tests to JUnit 5...."
The puzzle `1453-e619753d` from #1453 has to be resolved:

https://github.com/yegor256/cactoos/blob/b5a62d6758d13a728fcd21beb6ca2ddc51b46a8c/pom.xml#L120-L264

The puzzle was created by @yegor256 on 11-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puz

[2022-07-11 03:45] 0pdd commented on #1453
@0pdd the puzzle [#1642](https://github.com/yegor256/cactoos/issues/1642) is still not solved; solved: [#1637](https://github.com/yegor256/cactoos/issues/1637), [#1641](https://github.com/yegor256/cactoos/issues/1641).

[2022-07-11 03:47] yegor256 commented on #1636
@rultor release, tag is `0.50.1`

[2022-07-11 03:59] rultor commented on #1636
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26190-1179934788) (took me 10min)

[2022-07-11 04:01] #1636 closed

[2022-07-13 13:11] yegor256 opened #1643 "IoCheckedText is missing"
Would be great to have it. I can do it right away, if you don't mind: @victornoel

[2022-07-13 13:35] rultor commented on #1643
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26221-1183229548)

[2022-07-13 13:44] rultor commented on #1643
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26221-1183229548) (took me 8min)

[2022-07-13 13:49] #1643 closed

[2022-07-14 07:24] victornoel commented on #1643
@yegor256 👍

[2022-07-15 06:52] yegor256 opened #1644 "IoCheckedBytes"
Let's create them, since we have `IoCheckedText`, etc.

[2022-07-15 18:26] 0pdd commented on #1638
The puzzle `1434-c8d2a46f` has disappeared from the source code, that's why I closed this issue.

[2022-07-15 18:26] #1638 closed

[2022-07-15 18:26] #1639 closed

[2022-07-15 18:26] 0pdd commented on #1639
The puzzle `1425-caaae80a` has disappeared from the source code, that's why I closed this issue.

[2022-07-15 18:26] 0pdd commented on #1640
The puzzle `1335-074da419` has disappeared from the source code, that's why I closed this issue.

[2022-07-15 18:26] #1640 closed

[2022-07-15 18:26] #1642 closed

[2022-07-15 18:26] 0pdd commented on #1642
The puzzle `1453-e619753d` has disappeared from the source code, that's why I closed this issue.

[2022-07-15 18:27] 0pdd commented on #1453
@0pdd the puzzle [#unknown]() is still not solved; solved: [#1637](https://github.com/yegor256/cactoos/issues/1637), [#1641](https://github.com/yegor256/cactoos/issues/1641), [#1642](https://github.com/yegor256/cactoos/issues/1642).

[2022-07-15 18:27] 0pdd commented on #1434
@0pdd the puzzle [#unknown]() is still not solved; solved: [#1638](https://github.com/yegor256/cactoos/issues/1638).

[2022-07-15 18:27] 0pdd commented on #1425
@0pdd the puzzle [#unknown]() is still not solved; solved: [#1639](https://github.com/yegor256/cactoos/issues/1639).

[2022-07-15 18:27] 0pdd commented on #1335
@victornoel the puzzle [#unknown]() is still not solved; solved: [#1640](https://github.com/yegor256/cactoos/issues/1640).

[2022-07-15 18:37] yegor256 commented on #1644
@rultor release, tag is `0.52.0`

[2022-07-15 18:38] rultor commented on #1644
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26249-1185807592)

[2022-07-15 18:44] rultor commented on #1644
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26249-1185807592) (spent 5min)

[code]

[2022-07-16 20:06] yegor256 commented on #1644
@rultor release, tag is `0.52.0`

[2022-07-16 20:06] 0pdd opened #1645 "Immutable.java:36-38: Replace all the..."
The puzzle `898-3f27c8c5` from #898 has to be resolved:

https://github.com/yegor256/cactoos/blob/7baa2c76130dd4a3421851ef306838fbf00b7cf0/src/main/java/org/cactoos/collection/Immutable.java#L36-L38

The puzzle was created by Yegor Bugayenko on 16-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2022-07-16 20:06] 0pdd commented on #898
@0pdd the puzzle [#1645](https://github.com/yegor256/cactoos/issues/1645) is still not solved; solved: [#unknown]().

[2022-07-16 20:07] rultor commented on #1644
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26249-1186280244)

[2022-07-16 20:16] rultor commented on #1644
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26249-1186280244) (took me 8min)

[2022-07-16 20:17] #1644 closed

[2022-07-20 12:18] 0pdd commented on #1533
@victornoel 4 puzzles [#unknown](), [#unknown](), [#unknown](), [#unknown]() are still not solved.

[2022-07-21 11:36] DmitryBarskov commented on #1566
@0crat status

[2022-07-21 11:57] victornoel commented on #1566
@yegor256 0pdd seems to be broken, can you fix it?

[2022-07-26 06:25] yegor256 commented on #1566
@victornoel how about now?

[2022-07-26 10:25] DmitryBarskov commented on #1566
@0crat status

Will it work?

[2022-07-26 10:49] victornoel commented on #1566
@yegor256 @DmitryBarskov we need to re-run 0pdd, I will try to do this

[2022-07-26 10:52] victornoel commented on #1566
@yegor256 0pdd has re-run as part of the github CI, but it does not seem to have had any impact… is it only applied when it's executed by rultor maybe? I don't understand how it works

[2022-07-30 05:12] #1221 closed

[2022-07-30 05:12] 0pdd commented on #1221
The puzzle `898-b15777f7` has disappeared from the source code, that's why I closed this issue.

[2022-07-30 05:12] #1566 closed

[2022-07-30 05:12] 0pdd commented on #1566
The puzzle `1533-48e5c994` has disappeared from the source code, that's why I closed this issue.

[2022-07-30 05:12] 0pdd commented on #829
@Vatavuk the puzzle [#unknown]() is still not solved; solved: [#1217](https://github.com/yegor256/cactoos/issues/1217), [#1218](https://github.com/yegor256/cactoos/issues/1218), [#1219](https://github.com/yegor256/cactoos/issues/1219), [#1220](https://github.com/yegor256/cactoos/issues/1220), [#1221](https://github.com/yegor256/cactoos/issues/1221), [#1230](https://github.com/yegor256/cactoos/issu

[2022-07-30 05:12] 0pdd commented on #898
@0pdd the puzzle [#unknown]() is still not solved; solved: [#1217](https://github.com/yegor256/cactoos/issues/1217), [#1218](https://github.com/yegor256/cactoos/issues/1218), [#1219](https://github.com/yegor256/cactoos/issues/1219), [#1220](https://github.com/yegor256/cactoos/issues/1220), [#1221](https://github.com/yegor256/cactoos/issues/1221), [#1230](https://github.com/yegor256/cactoos/issues/

[2022-07-30 05:12] 0pdd commented on #1533
@victornoel 7 puzzles [#1563](https://github.com/yegor256/cactoos/issues/1563), [#1564](https://github.com/yegor256/cactoos/issues/1564), [#1570](https://github.com/yegor256/cactoos/issues/1570), [#1571](https://github.com/yegor256/cactoos/issues/1571), [#1613](https://github.com/yegor256/cactoos/issues/1613), [#1614](https://github.com/yegor256/cactoos/issues/1614), [#1630](https://github.com/yeg

[2022-07-30 10:29] victornoel commented on #1566
@DmitryBarskov looks like it's good now!

Thx @yegor256 for triggering 0pdd , now what's happening with 0crat bot, it's not working anymore?

[2022-08-01 08:26] 0crat commented on #1566
@DmitryBarskov This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1566](https://github.com/yegor256/cactoos/issues/1566) is [in scope](http://www.zerocracy.com/policy.html#14) for 17mon
  * The role is `DEV`
  * The job is assigned to @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov) for [13mon](http://www.zerocracy.com/pol

[2022-08-01 08:27] 0crat commented on #1566
@DmitryBarskov This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1566](https://github.com/yegor256/cactoos/issues/1566) is [in scope](http://www.zerocracy.com/policy.html#14) for 17mon
  * The role is `DEV`
  * The job is assigned to @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov) for [13mon](http://www.zerocracy.com/pol

[2022-08-01 08:27] 0crat commented on #1566
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1566](https://github.com/yegor256/cactoos/issues/1566) is [in scope](http://www.zerocracy.com/policy.html#14) for 17mon
  * The role is `DEV`
  * The job is assigned to @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov) for [13mon](http://www.zerocracy.com/policy

[2022-08-01 09:50] victornoel commented on #1566
@yegor256 what's the command again to tell 0crat that the ticket has been closed and it should trigger the end of the job?

[2022-08-01 09:52] yegor256 commented on #1566
@0crat out

[2022-08-01 09:53] 0crat commented on #1566
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2022-08-01 15:03] yegor256 commented on #1645
@victornoel the previous one has been closed. This one looks like a new one, with a different description.

[2022-08-04 15:26] DmitryBarskov commented on #1564
@0crat status

[2022-08-05 01:57] 0crat commented on #1564
@DmitryBarskov This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1564](https://github.com/yegor256/cactoos/issues/1564) is [in scope](http://www.zerocracy.com/policy.html#14) for 17mon
  * The role is `DEV`
  * The job is assigned to @dmitrybarskov[/z](https://www.0crat.com/u/dmitrybarskov) for [8mon](http://www.zerocracy.com/poli

[2022-08-06 15:03] yegor256 opened #1648 "BiFuncEnveloppe - typo?"
I think `BiFuncEnveloppe` is a typo and should be renamed to `BiFuncEnvelope`

[2022-08-12 04:33] yegor256 opened #1649 "refresh"

[2022-08-12 04:49] yegor256 commented on #1649
@rultor release, tag is `0.53.0`

[2022-08-12 04:50] rultor commented on #1649
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26498-1212726681)

[2022-08-12 04:59] rultor commented on #1649
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26498-1212726681) (took me 8min)

[2022-08-12 05:38] #1649 closed

[2022-08-12 05:55] 0crat commented on #1649
Job `gh:yegor256/cactoos#1649` is not assigned, can't get performer

[2022-08-21 18:30] yegor256 opened #1650 "RunnableOf(Callable) would be nice to have"

[2022-08-21 19:03] yegor256 commented on #1650
@rultor release, tag is `0.54.0`

[2022-08-21 19:05] rultor commented on #1650
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26549-1221602951)

[2022-08-21 19:08] yegor256 commented on #1650
@victornoel FYI

[2022-08-21 19:14] rultor commented on #1650
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26549-1221602951) (spent 10min)

[code]

[2022-08-21 19:15] yegor256 commented on #1650
@rultor release, tag is `0.54.0`

[2022-08-21 19:17] rultor commented on #1650
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26549-1221604896)

[2022-08-21 19:28] rultor commented on #1650
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26549-1221604896) (spent 11min)

[code]

[2022-08-21 19:30] #1650 closed

[2022-08-21 19:47] 0crat commented on #1650
Job `gh:yegor256/cactoos#1650` is not assigned, can't get performer

[2022-09-05 06:35] CChengjie opened #1652 "tag missing problem"
I'm doing a research on tags .
We found that versions like **0.45、0.47** was released in Maven, but there was no corresponding tag in github, Can you help me with this?
1）What is the reason for tag's absence?

- a、This version code has problems, such as the loophole, compatibility and interface issues, etc.
- b、This version has functional problems, such as unreasonable function planning, basic fun

[2022-09-16 05:25] renovate[bot] opened #1656 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/yegor256/cactoos).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Open

The

[2022-11-16 07:33] yegor256 opened #1669 "extra ctor for Reduced"

[2022-11-16 07:35] yegor256 commented on #1669
@rultor release, tag is `0.55.0`

[2022-11-16 07:37] rultor commented on #1669
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/28504-1316513624)

[2022-11-16 07:49] rultor commented on #1669
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/28504-1316513624) (took me 12min)

[2022-11-16 07:50] #1669 closed

[2022-11-16 08:08] 0crat commented on #1669
Job `gh:yegor256/cactoos#1669` is not assigned, can't get performer