[2020-02-27 16:32] 0pdd commented on #1219
@0pdd all 3 puzzles are solved here: [#1230](https://github.com/yegor256/cactoos/issues/1230), [#1233](https://github.com/yegor256/cactoos/issues/1233), [#1291](https://github.com/yegor256/cactoos/issues/1291).

[2020-02-27 16:32] 0pdd commented on #1230
@0pdd all 2 puzzles are solved here: [#1233](https://github.com/yegor256/cactoos/issues/1233), [#1291](https://github.com/yegor256/cactoos/issues/1291).

[2020-02-27 17:00] 0crat commented on #1291
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-27 17:05] sereshqua commented on #1291
@0crat quality good

[2020-02-27 17:08] 0crat commented on #1291
Order was finished, quality is "good": +35 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-02-27 17:12] 0crat commented on #1291
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-28 23:03] fanifieiev opened #1313 "Filtered should support extra constructors accepting Func<X, Scalar<Boolean>>"
The following Filtered classes should have constructor accepting `Func<X, Scalar<Boolean>>`:

[code]

[2020-02-28 23:03] 0crat commented on #1313
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-29 16:38] victornoel commented on #1293
@0crat wait for #1314 to be merged

[2020-02-29 16:49] victornoel commented on #1299
@0crat wait for #1315 to be merged

[2020-02-29 16:49] victornoel commented on #1304
@0crat wait for #1315 to be merged

[2020-02-29 16:55] 0crat commented on #1304
@victornoel The impediment for [#1304](https://github.com/yegor256/cactoos/issues/1304) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-02-29 16:55] 0crat commented on #1299
@victornoel The impediment for [#1299](https://github.com/yegor256/cactoos/issues/1299) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-02-29 16:56] 0crat commented on #1293
@victornoel The impediment for [#1293](https://github.com/yegor256/cactoos/issues/1293) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-02-29 17:02] victornoel commented on #1292
@0crat wait for #1316 to be merged

[2020-02-29 17:06] 0crat commented on #1292
@victornoel The impediment for [#1292](https://github.com/yegor256/cactoos/issues/1292) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2020-03-03 01:49] paulodamaso commented on #1313
@0crat in

[2020-03-03 06:30] 0crat commented on #1313
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-03-05 16:10] 0crat commented on #1235
The job [#1235](https://github.com/yegor256/cactoos/issues/1235) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/C63314D6Z/d9e41dbb-36e6-4bcb-9089-1798ee7494b7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-03-05 16:53] 0crat commented on #1258
The job [#1258](https://github.com/yegor256/cactoos/issues/1258) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/C63314D6Z/9e39c0c5-8843-464b-9b62-5dfbeda2230b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-03-09 13:53] paulodamaso opened #1318 "Fix rultor merge and release"
Fix rultor merge and release

[2020-03-09 19:46] #1293 closed

[2020-03-09 19:46] 0pdd commented on #1293
The puzzle `1242-bb66641c` has disappeared from the source code, that's why I closed this issue.

[2020-03-09 19:47] 0pdd opened #1320 "package-info.java:29-34: Introduce a class ScalarOf that..."
The puzzle `1293-bc5d06e8` from #1293 has to be resolved:

https://github.com/yegor256/cactoos/blob/327e99fbeb42da5470c47592aca53e907e688ac6/src/main/java/org/cactoos/scalar/package-info.java#L29-L34

The puzzle was created by Victor Noël on 29-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2020-03-09 19:47] 0pdd commented on #947
@wladyan 11 puzzles [#1183](https://github.com/yegor256/cactoos/issues/1183), [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1298](https://github.com/yegor256/cactoos/issues/1298), [#1299](https://github.com/yegor256/cactoos/issues/1299), [#1300](https://github.com/yegor256/cactoos/issues/1300), [#1301](https://github.com/yegor

[2020-03-09 19:47] 0pdd commented on #1184
@0pdd 10 puzzles [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1298](https://github.com/yegor256/cactoos/issues/1298), [#1299](https://github.com/yegor256/cactoos/issues/1299), [#1300](https://github.com/yegor256/cactoos/issues/1300), [#1301](https://github.com/yegor256/cactoos/issues/1301), [#1302](https://github.com/yegor256

[2020-03-09 19:47] 0pdd commented on #1242
@0pdd 10 puzzles [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1298](https://github.com/yegor256/cactoos/issues/1298), [#1299](https://github.com/yegor256/cactoos/issues/1299), [#1300](https://github.com/yegor256/cactoos/issues/1300), [#1301](https://github.com/yegor256/cactoos/issues/1301), [#1302](https://github.com/yegor256

[2020-03-09 19:47] 0pdd commented on #1293
@0pdd the puzzle [#1320](https://github.com/yegor256/cactoos/issues/1320) is still not solved.

[2020-03-09 19:47] 0crat commented on #1320
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-03-10 07:04] dgarus commented on #1258
@fanifieiev Hello!
Could you please close the ticket?
Thx

[2020-03-10 11:21] #1258 closed

[2020-03-11 23:53] 0crat commented on #1305
The job [#1305](https://github.com/yegor256/cactoos/issues/1305) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/C63314D6Z/143fd2c2-760e-4be8-a18f-9194694d386d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-03-12 06:53] dgarus commented on #1305
@0crat refuse

[2020-03-12 08:29] 0crat commented on #1305
@dgarus The user @dgarus[/z](https://www.0crat.com/u/dgarus) resigned from [#1305](https://github.com/yegor256/cactoos/issues/1305), please stop working. Reason for job resignation: Order was cancelled

[2020-03-12 10:34] 0crat commented on #1305
@dgarus Job refused in 11 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-03-12 14:37] 0crat commented on #1295
The job [#1295](https://github.com/yegor256/cactoos/issues/1295) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/C63314D6Z/f77f9b41-2a70-4da8-82af-084e2739ef0c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-03-12 17:52] dgarus commented on #1295
@0crat refuse

[2020-03-12 17:52] dgarus commented on #1298
@0crat refuse

[2020-03-12 18:20] 0crat commented on #1298
The job [#1298](https://github.com/yegor256/cactoos/issues/1298) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/C63314D6Z/f835bbf9-e6a2-449a-91e3-0b700205b4f9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-03-12 18:42] 0crat commented on #1295
@dgarus The user @dgarus[/z](https://www.0crat.com/u/dgarus) resigned from [#1295](https://github.com/yegor256/cactoos/issues/1295), please stop working. Reason for job resignation: Order was cancelled

[2020-03-12 18:45] dgarus commented on #1298
@0crat refuse

[2020-03-12 18:53] 0crat commented on #1295
@dgarus Job refused in 4 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-03-12 19:14] 0crat commented on #1298
@dgarus Job `gh:yegor256/cactoos#1298` is not assigned, can't get performer

[2020-03-12 19:21] 0crat commented on #1298
@dgarus Job `gh:yegor256/cactoos#1298` is not assigned, can't get performer

[2020-03-12 21:04] 0crat commented on #1235
The job [#1235](https://github.com/yegor256/cactoos/issues/1235) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C63314D6Z/20fd25fd-af6c-4cd9-9a98-02b3c98b8c97); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-03-12 21:44] 0crat commented on #1301
The job [#1301](https://github.com/yegor256/cactoos/issues/1301) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/C63314D6Z/1dd2bacb-8c70-4c24-a8fd-b1ef83417ca2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-03-13 06:52] dgarus commented on #1301
@0crat resign

[2020-03-13 09:22] 0crat commented on #1301
@dgarus The user @dgarus[/z](https://www.0crat.com/u/dgarus) resigned from [#1301](https://github.com/yegor256/cactoos/issues/1301), please stop working. Reason for job resignation: Order was cancelled

[2020-03-13 09:46] vzurauskas commented on #1235
@0crat wait for https://github.com/yegor256/cactoos/pull/1323

[2020-03-13 09:51] 0crat commented on #1301
@dgarus Job refused in 13 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-03-15 05:40] #1292 closed

[2020-03-15 05:40] 0pdd commented on #1292
The puzzle `1242-a8a7ac97` has disappeared from the source code, that's why I closed this issue.

[2020-03-15 05:40] 0pdd opened #1325 "Sorted.java:38-40: This class should also implements..."
The puzzle `1292-c2a188c0` from #1292 has to be resolved:

https://github.com/yegor256/cactoos/blob/90ff77d9093ebbe29076b977f445f21897c22b75/src/main/java/org/cactoos/set/Sorted.java#L38-L40

The puzzle was created by Victor Noël on 29-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2020-03-15 05:40] 0pdd commented on #947
@wladyan 11 puzzles [#1183](https://github.com/yegor256/cactoos/issues/1183), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1298](https://github.com/yegor256/cactoos/issues/1298), [#1299](https://github.com/yegor256/cactoos/issues/1299), [#1300](https://github.com/yegor256/cactoos/issues/1300), [#1301](https://github.com/yegor256/cactoos/issues/1301), [#1302](https://github.com/yegor

[2020-03-15 05:40] 0pdd commented on #1184
@0pdd 10 puzzles [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1298](https://github.com/yegor256/cactoos/issues/1298), [#1299](https://github.com/yegor256/cactoos/issues/1299), [#1300](https://github.com/yegor256/cactoos/issues/1300), [#1301](https://github.com/yegor256/cactoos/issues/1301), [#1302](https://github.com/yegor256/cactoos/issues/1302), [#1304](https://github.com/yegor256

[2020-03-15 05:40] 0pdd commented on #1242
@0pdd 10 puzzles [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1298](https://github.com/yegor256/cactoos/issues/1298), [#1299](https://github.com/yegor256/cactoos/issues/1299), [#1300](https://github.com/yegor256/cactoos/issues/1300), [#1301](https://github.com/yegor256/cactoos/issues/1301), [#1302](https://github.com/yegor256/cactoos/issues/1302), [#1304](https://github.com/yegor256

[2020-03-15 05:40] 0pdd commented on #1292
@0pdd the puzzle [#1325](https://github.com/yegor256/cactoos/issues/1325) is still not solved.

[2020-03-15 05:41] 0crat commented on #1325
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-03-17 03:48] #1299 closed

[2020-03-17 03:48] 0pdd commented on #1299
The puzzle `1242-d08d3037` has disappeared from the source code, that's why I closed this issue.

[2020-03-17 03:48] 0pdd commented on #1304
The puzzle `1242-1b85f1d7` has disappeared from the source code, that's why I closed this issue.

[2020-03-17 03:48] #1304 closed

[2020-03-17 03:49] 0pdd opened #1326 "SkippedTest.java:36-39: Remove the..."
The puzzle `1303-75b30683` from #1303 has to be resolved:

https://github.com/yegor256/cactoos/blob/41a409c98fee60e727052dfed7daf5edf4794d9a/src/test/java/org/cactoos/iterable/SkippedTest.java#L36-L39

The puzzle was created by Victor Noël on 29-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-03-17 03:49] 0pdd commented on #947
@wladyan 10 puzzles [#1183](https://github.com/yegor256/cactoos/issues/1183), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1298](https://github.com/yegor256/cactoos/issues/1298), [#1300](https://github.com/yegor256/cactoos/issues/1300), [#1301](https://github.com/yegor256/cactoos/issues/1301), [#1302](https://github.com/yegor256/cactoos/issues/1302), [#1305](https://github.com/yegor

[2020-03-17 03:49] 0pdd commented on #1184
@0pdd 9 puzzles [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1298](https://github.com/yegor256/cactoos/issues/1298), [#1300](https://github.com/yegor256/cactoos/issues/1300), [#1301](https://github.com/yegor256/cactoos/issues/1301), [#1302](https://github.com/yegor256/cactoos/issues/1302), [#1305](https://github.com/yegor256/cactoos/issues/1305), [#1320](https://github.com/yegor256/

[2020-03-17 03:49] 0pdd commented on #1242
@0pdd 9 puzzles [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1298](https://github.com/yegor256/cactoos/issues/1298), [#1300](https://github.com/yegor256/cactoos/issues/1300), [#1301](https://github.com/yegor256/cactoos/issues/1301), [#1302](https://github.com/yegor256/cactoos/issues/1302), [#1305](https://github.com/yegor256/cactoos/issues/1305), [#1320](https://github.com/yegor256/

[2020-03-17 03:49] 0pdd commented on #1303
@0pdd the puzzle [#1326](https://github.com/yegor256/cactoos/issues/1326) is still not solved.

[2020-03-17 03:50] 0crat commented on #1326
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-03-17 06:02] 0crat commented on #1299
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-03-17 08:42] sereshqua commented on #1299
@0crat quality good

[2020-03-17 08:57] 0crat commented on #1305
The job [#1305](https://github.com/yegor256/cactoos/issues/1305) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/3bcb0eba-fad2-4436-b4bc-fc0187552e72); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-03-17 12:59] 0crat commented on #1295
The job [#1295](https://github.com/yegor256/cactoos/issues/1295) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/bf8fc01b-5e67-4feb-a075-fed34620bebc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-03-17 19:03] 0crat commented on #1298
The job [#1298](https://github.com/yegor256/cactoos/issues/1298) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/5199d56c-ae97-4403-a738-3b63f9ca4f55); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-03-18 03:21] 0crat commented on #1301
The job [#1301](https://github.com/yegor256/cactoos/issues/1301) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/0c3eb512-f01d-444d-a7fd-7ed0c4fb1dfa); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-03-18 04:59] sereshqua commented on #1299
@0crat quality good

[2020-03-18 05:15] 0crat commented on #1302
The job [#1302](https://github.com/yegor256/cactoos/issues/1302) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/408adc72-389c-48a6-ac34-fce595c2320b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-03-18 09:04] 0crat commented on #1300
The job [#1300](https://github.com/yegor256/cactoos/issues/1300) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/a2cb7bdc-d4c7-4c73-af3e-ae790fa13b7f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-03-18 10:36] Guseyn opened #1327 "Principles violation"
As it's known from the principles it's prohibited to use getters and setters: https://www.yegor256.com/2014/09/16/getters-and-setters-are-evil.html

But as I see here https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/map/MapEntry.java it's used:

[code]

[2020-03-18 10:36] 0crat commented on #1327
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-03-18 20:36] victornoel commented on #1298
@0crat wait for #1328

[2020-03-18 20:36] victornoel commented on #1305
@0crat wait for #1328

[2020-03-18 20:36] victornoel commented on #1301
@0crat wait for #1328

[2020-03-19 02:30] paulodamaso commented on #1327
@Guseyn In this case we are implementing a java interface here, `Map.Entry`, which forces us to use these evil names. Is there any proposal on how solving this?

[2020-03-19 06:08] sereshqua commented on #1299
@0crat status

[2020-03-19 06:48] Guseyn commented on #1327
@paulodamaso Nah, I am just pointing to a weak place(one of many) of your theory that cannot be practically and theoretically implemented. Because, see.. You're using getters here not only because some java interface forces you, but because you cannot do data structures like `List`, `Map`, `Tree` without getters and setters, because... well, they are data structures.

You can use no "evil" names,

[2020-03-19 07:08] g4s8 commented on #1299
@0crat status

[2020-03-19 08:24] 0crat commented on #1299
@sereshqua This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1299](https://github.com/yegor256/cactoos/issues/1299) is not in scope
  * The job is waiting quality review verdict by @sereshqua[/z](https://www.0crat.com/u/sereshqua) for 2days
  * @victornoel[/z](https://www.0crat.com/u/victornoel

[2020-03-19 08:24] 0crat commented on #1299
@g4s8 This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1299](https://github.com/yegor256/cactoos/issues/1299) is not in scope
  * The job is waiting quality review verdict by @sereshqua[/z](https://www.0crat.com/u/sereshqua) for 2days
  * @victornoel[/z](https://www.0crat.com/u/victornoel) wil

[2020-03-19 08:31] sereshqua commented on #1299
@0crat quality good

[2020-03-19 09:07] 0crat commented on #1299
@sereshqua There is no quality review for [#1299](https://github.com/yegor256/cactoos/issues/1299), no performer

[2020-03-19 09:23] 0crat commented on #1299
@sereshqua There is no quality review for [#1299](https://github.com/yegor256/cactoos/issues/1299), no performer

[2020-03-19 09:32] victornoel commented on #1299
@sereshqua even though 0crat says that, it seemed to have worked, I received a telegram message telling it… thx for the persistence :)

[2020-03-19 09:58] sereshqua commented on #1299
@victornoel buggy bot :) no worries, i've seen your message in TG chat, but generally trying to keep in mind everything

[2020-03-19 10:06] victornoel commented on #1304
@paulodamaso can you do something to trigger QA here?

[2020-03-19 10:06] victornoel commented on #1304
@0crat status

[2020-03-19 10:21] 0crat commented on #1304
@victornoel This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1304](https://github.com/yegor256/cactoos/issues/1304) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos%231304%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restric

[2020-03-19 10:33] victornoel commented on #1304
@paulodamaso can I get paid?

[2020-03-19 14:33] 0crat commented on #1320
The job [#1320](https://github.com/yegor256/cactoos/issues/1320) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/a3a4b302-da14-4ece-a204-5f11cf810b04); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-03-19 18:27] 0crat commented on #1325
The job [#1325](https://github.com/yegor256/cactoos/issues/1325) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C63314D6Z/77b74c28-3f53-4193-8213-78eb8d5ca1f2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-03-19 22:42] 0crat commented on #1326
The job [#1326](https://github.com/yegor256/cactoos/issues/1326) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C63314D6Z/d8183142-aa6f-43d4-8e54-899aec25761c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-03-20 10:33] vzurauskas commented on #1325
@0crat wait for https://github.com/yegor256/cactoos/pull/1329

[2020-03-20 11:58] vzurauskas commented on #1326
@0crat wait for https://github.com/yegor256/cactoos/pull/1330

[2020-03-20 21:23] paulodamaso commented on #1304
@0crat quality good

[2020-03-20 21:38] 0crat commented on #1304
@paulodamaso There is no quality review for [#1304](https://github.com/yegor256/cactoos/issues/1304), no performer

[2020-03-20 21:39] paulodamaso commented on #1304
@0crat pay 30min @victornoel

[2020-03-20 21:40] 0pdd commented on #1235
The puzzle `1228-b5541bca` has disappeared from the source code, that's why I closed this issue.

[2020-03-20 21:40] #1235 closed

[2020-03-20 21:40] 0pdd opened #1331 "package-info.java:29-32: Continue replacing usage of..."
The puzzle `1235-b5541bca` from #1235 has to be resolved:

https://github.com/yegor256/cactoos/blob/fe323a8220b006f004f3c4f353d5faf647004e38/src/test/java/org/cactoos/io/package-info.java#L29-L32

The puzzle was created by Vytautas Žurauskas on 13-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2020-03-20 21:40] 0pdd commented on #1033
@llorllale the puzzle [#1331](https://github.com/yegor256/cactoos/issues/1331) is still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235).

[2020-03-20 21:40] 0pdd commented on #1117
@0pdd the puzzle [#1331](https://github.com/yegor256/cactoos/issues/1331) is still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235).

[2020-03-20 21:40] 0pdd commented on #1152
@0pdd the puzzle [#1331](https://github.com/yegor256/cactoos/issues/1331) is still not solved; solved: [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235).

[2020-03-20 21:40] 0pdd commented on #1182
@0pdd the puzzle [#1331](https://github.com/yegor256/cactoos/issues/1331) is still not solved; solved: [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235).

[2020-03-20 21:40] 0pdd commented on #1228
@0pdd the puzzle [#1331](https://github.com/yegor256/cactoos/issues/1331) is still not solved; solved: [#1235](https://github.com/yegor256/cactoos/issues/1235).

[2020-03-20 21:40] 0pdd commented on #1235
@0pdd the puzzle [#1331](https://github.com/yegor256/cactoos/issues/1331) is still not solved.

[2020-03-20 21:41] 0crat commented on #1331
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-03-20 22:06] 0crat commented on #1304
@paulodamaso The user @victornoel[/z](https://www.0crat.com/u/victornoel) works for free in this project, see [§49](http://www.zerocracy.com/policy.html#49)

[2020-03-20 23:03] 0crat commented on #1235
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-03-21 05:24] sereshqua commented on #1235
@0crat quality good

[2020-03-21 11:20] victornoel commented on #1304
@paulodamaso let's forget about it ^^

[2020-03-22 05:32] sereshqua commented on #1235
@0crat quality good

[2020-03-22 10:30] victornoel commented on #1300
@0crat wait for #1332

[2020-03-22 12:50] 0crat commented on #1235
@sereshqua There is no quality review for [#1235](https://github.com/yegor256/cactoos/issues/1235), no performer

[2020-03-25 02:55] fevzian opened #1333 "Elegant way of creating files in subfolders"
I think it would be good to have an elegant way of creating files or directories in sub folders of any level.
For example:
There is a directory `xyz` and I would like to create a file `abc.txt`  in `/xyz/a/b/c/d/` sub folder without creating the required sub folders manually.

[2020-03-25 02:55] 0crat commented on #1333
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-03-25 19:34] victornoel opened #1334 "iterable.Sticky should be deleted"
If one needs a "sticky" iterable, one can use `ListOf`, `SetOf` or any future collection implementation available, but have a `Sticky` iterable only creates confusion about the meaning of the `Iterable` interface and how it should be used.

I thus propose to remove this to simplify cactoos and avoid confusion.

[2020-03-25 19:34] 0crat commented on #1334
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-03-29 15:08] #1326 closed

[2020-03-29 15:08] 0pdd commented on #1326
The puzzle `1303-75b30683` has disappeared from the source code, that's why I closed this issue.

[2020-03-29 15:08] 0pdd commented on #947
@wladyan 9 puzzles [#1183](https://github.com/yegor256/cactoos/issues/1183), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1298](https://github.com/yegor256/cactoos/issues/1298), [#1300](https://github.com/yegor256/cactoos/issues/1300), [#1301](https://github.com/yegor256/cactoos/issues/1301), [#1302](https://github.com/yegor256/cactoos/issues/1302), [#1305](https://github.com/yegor2

[2020-03-29 15:08] 0pdd commented on #1184
@0pdd 8 puzzles [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1298](https://github.com/yegor256/cactoos/issues/1298), [#1300](https://github.com/yegor256/cactoos/issues/1300), [#1301](https://github.com/yegor256/cactoos/issues/1301), [#1302](https://github.com/yegor256/cactoos/issues/1302), [#1305](https://github.com/yegor256/cactoos/issues/1305), [#1320](https://github.com/yegor256/

[2020-03-29 15:08] 0pdd commented on #1242
@0pdd 8 puzzles [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1298](https://github.com/yegor256/cactoos/issues/1298), [#1300](https://github.com/yegor256/cactoos/issues/1300), [#1301](https://github.com/yegor256/cactoos/issues/1301), [#1302](https://github.com/yegor256/cactoos/issues/1302), [#1305](https://github.com/yegor256/cactoos/issues/1305), [#1320](https://github.com/yegor256/

[2020-03-29 15:08] 0pdd commented on #1303
@0pdd the only puzzle [#1326](https://github.com/yegor256/cactoos/issues/1326) is solved here.

[2020-03-29 15:27] 0crat commented on #1326
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-03-29 15:33] #1325 closed

[2020-03-29 15:33] 0pdd commented on #1325
The puzzle `1292-c2a188c0` has disappeared from the source code, that's why I closed this issue.

[2020-03-29 15:33] 0pdd commented on #947
@wladyan 8 puzzles [#1183](https://github.com/yegor256/cactoos/issues/1183), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1298](https://github.com/yegor256/cactoos/issues/1298), [#1300](https://github.com/yegor256/cactoos/issues/1300), [#1301](https://github.com/yegor256/cactoos/issues/1301), [#1302](https://github.com/yegor256/cactoos/issues/1302), [#1305](https://github.com/yegor2

[2020-03-29 15:33] 0pdd commented on #1184
@0pdd 7 puzzles [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1298](https://github.com/yegor256/cactoos/issues/1298), [#1300](https://github.com/yegor256/cactoos/issues/1300), [#1301](https://github.com/yegor256/cactoos/issues/1301), [#1302](https://github.com/yegor256/cactoos/issues/1302), [#1305](https://github.com/yegor256/cactoos/issues/1305), [#1320](https://github.com/yegor256/

[2020-03-29 15:33] 0pdd commented on #1242
@0pdd 7 puzzles [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1298](https://github.com/yegor256/cactoos/issues/1298), [#1300](https://github.com/yegor256/cactoos/issues/1300), [#1301](https://github.com/yegor256/cactoos/issues/1301), [#1302](https://github.com/yegor256/cactoos/issues/1302), [#1305](https://github.com/yegor256/cactoos/issues/1305), [#1320](https://github.com/yegor256/

[2020-03-29 15:33] 0pdd commented on #1292
@0pdd the only puzzle [#1325](https://github.com/yegor256/cactoos/issues/1325) is solved here.

[2020-03-29 15:45] victornoel opened #1335 "NumberEnvelope should be named NumberOf"
I noticed that `NumberEnvelope` wasn't a real envelope but just a given implementation of `Number` relying on `Scalar`.

I propose the following:
- Rename current `NumberEnvelope` to `NumberOf`
- Introduce `NumberEnvelope` as a real envelope wrapping any  `Number` and delegating all methods including `equals`, `hashCode` and `toString`
- Keep extending `NumberEnvelope` for existing subclasses but

[2020-03-29 15:45] 0crat commented on #1335
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-03-29 15:54] 0crat commented on #1325
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-03-29 16:10] sereshqua commented on #1326
@0crat quality good

[2020-03-29 16:12] sereshqua commented on #1325
@0crat quality good

[2020-03-29 16:15] sereshqua commented on #1283
@paulodamaso looks like wait label can be removed as #1307 PR has been merged

[2020-03-29 16:53] paulodamaso commented on #1334
@victornoel `Sticky` implementations are designed to provide immutable objects. I think that  we should replace their usage with the  `Immutable`  implementatons, WDYT?

[2020-03-29 16:56] paulodamaso commented on #1335
@victornoel I agree, this will make `Number` implementation tree to be consistent with the other interface in cactoos

[2020-03-29 16:56] paulodamaso commented on #1335
@0crat in

[2020-03-29 17:15] victornoel commented on #1334
@paulodamaso to me those are two perpendicular concerns: the objective of `iterable.Sticky` is to ensure an `Iterable` is iterated only once (and then next iterations would simply be based on the cached first one) while `Immutable` (which should IMHO be called `Unmodifiable`) is to forbid modification of the wrapped `Iterable` without consideration about stickiness.

If `Sticky` until now was resp

[2020-03-29 17:20] 0crat commented on #1331
The job [#1331](https://github.com/yegor256/cactoos/issues/1331) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/50ed70cd-2092-45a9-ba11-5f332da293fd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-03-29 17:21] victornoel commented on #1331
@0crat refuse

[2020-03-29 17:23] 0crat commented on #1331
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#1331](https://github.com/yegor256/cactoos/issues/1331), please stop working. Reason for job resignation: Order was cancelled

[2020-03-29 17:24] 0crat commented on #1331
@victornoel Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-03-29 18:03] paulodamaso commented on #1334
@victornoel You are right. Looking at `Sticky` docs in `org.cactoos.scalar.Scalar`: sticky are decorator used for caching. But I don't think that this should be the default behavior for iterables and lists; if we put this behavior into `ListOf`, we will end up by doing this. WDYT?

[2020-03-29 18:06] victornoel commented on #1334
@paulodamaso I'm not sure I understood the problem you are highlighting.

`ListOf` is by definition a stateful collection: if you give it an `Iterable`, it will copy its content inside the `List` represented by `ListOf`.

I am not proposing to modify `ListOf` in any way, I'm saying that `iterable.Sticky` is useless because its behaviour is already covered by `ListOf` or `SetOf`.

[2020-03-29 18:19] victornoel commented on #1287
@paulodamaso I think this should also be tackled soon, like with #1335. I just got bitten by it because `TextOf` nor `TextEnvelope` can be used when I need a `Text` from a `Scalar` while I should be able to do so.

[2020-03-29 18:22] paulodamaso commented on #1334
@victornoel I understood now. I just think that is weird that we have `Sticky` behavior  automatically into `ListOf`. But this issue makes sense, if we already have the behaviorin `ListOf` there is no need for `Sticky`

[2020-03-29 18:43] victornoel commented on #1334
@paulodamaso actually, note that there is one small difference between `Sticky` here and using something like `ListOf`:
- with `ListOf`, the passed `Iterable` is copied during instantiation of `ListOf`
- with `Sticky`, the passed `Iterable` is copied only at the first traversal of the sticky iterable!
This could warrant keeping `Sticky` maybe...

[2020-03-30 11:41] sereshqua commented on #1325
@0crat quality good

[2020-03-30 11:47] 0crat commented on #1325
@sereshqua There is no quality review for [#1325](https://github.com/yegor256/cactoos/issues/1325), no performer

[2020-03-30 13:52] victornoel commented on #1320
@0crat refuse

[2020-03-30 13:57] 0crat commented on #1320
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#1320](https://github.com/yegor256/cactoos/issues/1320), please stop working. Reason for job resignation: Order was cancelled

[2020-03-30 14:38] #1298 closed

[2020-03-30 14:38] 0pdd commented on #1298
The puzzle `1242-8f74e00b` has disappeared from the source code, that's why I closed this issue.

[2020-03-30 14:38] #1301 closed

[2020-03-30 14:38] 0pdd commented on #1301
The puzzle `1242-652af3fd` has disappeared from the source code, that's why I closed this issue.

[2020-03-30 14:38] #1305 closed

[2020-03-30 14:38] 0pdd commented on #1305
The puzzle `1242-99c90a27` has disappeared from the source code, that's why I closed this issue.

[2020-03-30 14:38] 0pdd commented on #947
@wladyan 5 puzzles [#1183](https://github.com/yegor256/cactoos/issues/1183), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1300](https://github.com/yegor256/cactoos/issues/1300), [#1302](https://github.com/yegor256/cactoos/issues/1302), [#1320](https://github.com/yegor256/cactoos/issues/1320) are still not solved; solved: [#1184](https://github.com/yegor256/cactoos/issues/1184), [#11

[2020-03-30 14:38] 0pdd commented on #1184
@0pdd 4 puzzles [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1300](https://github.com/yegor256/cactoos/issues/1300), [#1302](https://github.com/yegor256/cactoos/issues/1302), [#1320](https://github.com/yegor256/cactoos/issues/1320) are still not solved; solved: [#1242](https://github.com/yegor256/cactoos/issues/1242), [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1293]

[2020-03-30 14:38] 0pdd commented on #1242
@0pdd 4 puzzles [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1300](https://github.com/yegor256/cactoos/issues/1300), [#1302](https://github.com/yegor256/cactoos/issues/1302), [#1320](https://github.com/yegor256/cactoos/issues/1320) are still not solved; solved: [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1293](https://github.com/yegor256/cactoos/issues/1293), [#1294]

[2020-03-30 14:58] 0crat commented on #1301
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-03-30 14:59] 0crat commented on #1298
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-03-30 15:00] victornoel commented on #1302
@0crat wait for #1336 to be merged

[2020-03-30 15:00] victornoel commented on #1295
@0crat wait for #1336 to be merged

[2020-03-30 15:06] 0crat commented on #1305
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-03-30 15:30] sereshqua commented on #1301
@0crat quality good

[2020-03-30 15:32] sereshqua commented on #1298
@0crat quality good

[2020-03-30 15:32] sereshqua commented on #1305
@0crat quality good

[2020-03-30 17:00] 0crat commented on #1313
The job [#1313](https://github.com/yegor256/cactoos/issues/1313) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/a0e62a6a-a235-4641-8666-c2c8601ce0bc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-03-30 17:12] victornoel commented on #1313
@0crat refuse

[2020-03-30 17:48] 0crat commented on #1313
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#1313](https://github.com/yegor256/cactoos/issues/1313), please stop working. Reason for job resignation: Order was cancelled

[2020-03-30 17:55] 0crat commented on #1313
@victornoel Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-01 04:02] paulodamaso commented on #1287
@victornoel I see this "envleope" classes as default classes which have default methods for all instances; in this case, for example, it has the basic behavior for all `Text` instances (or should have). In theory their relation to the classes that extends them is not inheritance, but implementation / realization (according to UML theory); unfortunately java engineers decided that abstract classes

[2020-04-01 04:05] paulodamaso commented on #1334
@victornoel Yes, seems that you are right. Don't you think that it could be interesting to have `ListOf` to behave like this too, for lazy evaluation's sake?

[2020-04-01 04:21] #1300 closed

[2020-04-01 04:21] 0pdd commented on #1300
The puzzle `1242-011c38db` has disappeared from the source code, that's why I closed this issue.

[2020-04-01 04:22] 0pdd opened #1337 "Reversed.java:41-43: For now this class is only tested..."
The puzzle `1300-8636f38d` from #1300 has to be resolved:

https://github.com/yegor256/cactoos/blob/6d4ccd9a1fca30457bee4af827206b609b9d437c/src/main/java/org/cactoos/iterator/Reversed.java#L41-L43

The puzzle was created by Victor Noël on 22-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-04-01 04:22] 0pdd commented on #947
@wladyan 5 puzzles [#1183](https://github.com/yegor256/cactoos/issues/1183), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1302](https://github.com/yegor256/cactoos/issues/1302), [#1320](https://github.com/yegor256/cactoos/issues/1320), [#1337](https://github.com/yegor256/cactoos/issues/1337) are still not solved; solved: [#1184](https://github.com/yegor256/cactoos/issues/1184), [#11

[2020-04-01 04:22] 0pdd commented on #1184
@0pdd 4 puzzles [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1302](https://github.com/yegor256/cactoos/issues/1302), [#1320](https://github.com/yegor256/cactoos/issues/1320), [#1337](https://github.com/yegor256/cactoos/issues/1337) are still not solved; solved: [#1242](https://github.com/yegor256/cactoos/issues/1242), [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1293]

[2020-04-01 04:22] 0pdd commented on #1242
@0pdd 4 puzzles [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1302](https://github.com/yegor256/cactoos/issues/1302), [#1320](https://github.com/yegor256/cactoos/issues/1320), [#1337](https://github.com/yegor256/cactoos/issues/1337) are still not solved; solved: [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1293](https://github.com/yegor256/cactoos/issues/1293), [#1294]

[2020-04-01 04:22] 0pdd commented on #1300
@0pdd the puzzle [#1337](https://github.com/yegor256/cactoos/issues/1337) is still not solved.

[2020-04-01 04:44] wladyan commented on #1287
Lets move all system methods implementations (`equals`, `hashCode`, `toString`) to `ComparableText` decorator and create additional ctor in `TextOf` with `Scalar`.

[2020-04-01 08:47] victornoel commented on #1334
@paulodamaso well it would go against everything we said before:
- that `Iterable`/`Iterator` are the actual OO abstractions we should on because they are lazy by nature
- that `ListOf`, `SetOf` and co are concrete collections and we should not for now put too much effort in there and try to implement a collection library until the rest of cactoos is more mature

So.. no :) and thus `Sticky` shoul

[2020-04-01 08:54] victornoel commented on #1287
@paulodamaso

That's my whole point when I propose to add a `TextOf` class that replace `TextEnvelope` and use composition instead of inheritance.
But we still need a real envelope as defined in https://www.yegor256.com/2017/01/31/decorating-envelopes.html anyway. They correspond to what you said here:

@wladyan can you please edit your comment so that we know who you are talking to? :)

I think `

[2020-04-01 08:55] victornoel commented on #1300
@0crat status

[2020-04-01 12:43] paulodamaso commented on #1334
@victornoel Right, so let's close this one as is

[2020-04-01 12:43] #1334 closed

[2020-04-01 13:59] 0crat commented on #1300
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1300](https://github.com/yegor256/cactoos/issues/1300) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [14days](http://www.zerocracy.com/policy.html#

[2020-04-01 14:30] 0crat commented on #1337
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-01 15:02] 0crat commented on #1300
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-01 15:06] 0crat commented on #1334
Job `gh:yegor256/cactoos#1334` is not assigned, can't get performer

[2020-04-01 15:07] sereshqua commented on #1300
@0crat quality good

[2020-04-02 05:15] 0crat commented on #1337
The job [#1337](https://github.com/yegor256/cactoos/issues/1337) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/a218ff6c-c51d-49f7-876d-917f60ba94cc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-02 07:46] victornoel commented on #1337
@0crat refuse

[2020-04-02 09:00] victornoel commented on #1337
@0crat status

[2020-04-02 09:04] 0crat commented on #1337
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#1337](https://github.com/yegor256/cactoos/issues/1337), please stop working. Reason for job resignation: Order was cancelled

[2020-04-02 09:04] 0crat commented on #1337
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1337](https://github.com/yegor256/cactoos/issues/1337) is [in scope](http://www.zerocracy.com/policy.html#14) for 19hr
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2020-04-02 09:05] 0crat commented on #1337
@victornoel Job refused in 3 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-02 12:56] 0crat commented on #1320
The job [#1320](https://github.com/yegor256/cactoos/issues/1320) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C63314D6Z/0b89fe20-7003-4e76-bb44-f17fa8689f03); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2020-04-03 11:53] 0crat commented on #1331
The job [#1331](https://github.com/yegor256/cactoos/issues/1331) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C63314D6Z/66f515a1-9178-4a38-bc2b-c43c0d59d29b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-03 12:08] #1295 closed

[2020-04-03 12:08] 0pdd commented on #1295
The puzzle `1242-40f4f782` has disappeared from the source code, that's why I closed this issue.

[2020-04-03 12:08] 0pdd commented on #1302
The puzzle `1242-f28dfbc0` has disappeared from the source code, that's why I closed this issue.

[2020-04-03 12:08] #1302 closed

[2020-04-03 12:08] 0pdd commented on #947
@wladyan 3 puzzles [#1183](https://github.com/yegor256/cactoos/issues/1183), [#1320](https://github.com/yegor256/cactoos/issues/1320), [#1337](https://github.com/yegor256/cactoos/issues/1337) are still not solved; solved: [#1184](https://github.com/yegor256/cactoos/issues/1184), [#1185](https://github.com/yegor256/cactoos/issues/1185), [#1242](https://github.com/yegor256/cactoos/issues/1242), [#12

[2020-04-03 12:08] 0pdd commented on #1184
@0pdd 2 puzzles [#1320](https://github.com/yegor256/cactoos/issues/1320), [#1337](https://github.com/yegor256/cactoos/issues/1337) are still not solved; solved: [#1242](https://github.com/yegor256/cactoos/issues/1242), [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1293](https://github.com/yegor256/cactoos/issues/1293), [#1294](https://github.com/yegor256/cactoos/issues/1294), [#1295]

[2020-04-03 12:08] 0pdd commented on #1242
@0pdd 2 puzzles [#1320](https://github.com/yegor256/cactoos/issues/1320), [#1337](https://github.com/yegor256/cactoos/issues/1337) are still not solved; solved: [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1293](https://github.com/yegor256/cactoos/issues/1293), [#1294](https://github.com/yegor256/cactoos/issues/1294), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1296]

[2020-04-03 12:31] 0crat commented on #1295
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-03 12:31] 0crat commented on #1302
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-03 12:32] sereshqua commented on #1295
@0crat quality good

[2020-04-03 12:33] sereshqua commented on #1302
@0crat quality good

[2020-04-03 13:47] 0crat commented on #1331
The job [#1331](https://github.com/yegor256/cactoos/issues/1331) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C63314D6Z/5b89d956-c691-4b91-b10a-3188fc4beb69); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2020-04-03 14:47] victornoel commented on #1295
@0crat status

[2020-04-03 14:58] 0crat commented on #1295
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1295](https://github.com/yegor256/cactoos/issues/1295) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos%231295%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-04-08 06:58] 0crat commented on #1337
The job [#1337](https://github.com/yegor256/cactoos/issues/1337) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C63314D6Z/b4c6fe91-4a9b-4f9f-b5e0-1a166f329518); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2020-04-13 18:08] #1331 closed

[2020-04-13 18:08] 0pdd commented on #1331
The puzzle `1235-b5541bca` has disappeared from the source code, that's why I closed this issue.

[2020-04-13 18:08] 0pdd opened #1340 "package-info.java:29-32: Continue replacing usage of..."
The puzzle `1331-b5541bca` from #1331 has to be resolved:

https://github.com/yegor256/cactoos/blob/3ab952eeb2e7151d0ba4e435c4c12cf7c7eed8bb/src/test/java/org/cactoos/io/package-info.java#L29-L32

The puzzle was created by marceloamadeu on 06-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-04-13 18:09] 0pdd opened #1341 "TeeInputFromBytesTest.java:38-41: This test is incorrect...."
The puzzle `1331-806191f6` from #1331 has to be resolved:

https://github.com/yegor256/cactoos/blob/3ab952eeb2e7151d0ba4e435c4c12cf7c7eed8bb/src/test/java/org/cactoos/io/TeeInputFromBytesTest.java#L38-L41

The puzzle was created by marceloamadeu on 07-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-04-13 18:09] 0pdd commented on #1033
@llorllale 2 puzzles [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341) are still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#

[2020-04-13 18:09] 0pdd commented on #1117
@0pdd 2 puzzles [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341) are still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331]

[2020-04-13 18:09] 0pdd commented on #1152
@0pdd 2 puzzles [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341) are still not solved; solved: [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331).

[2020-04-13 18:09] 0pdd commented on #1182
@0pdd 2 puzzles [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341) are still not solved; solved: [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331).

[2020-04-13 18:09] 0pdd commented on #1228
@0pdd 2 puzzles [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341) are still not solved; solved: [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331).

[2020-04-13 18:09] 0pdd commented on #1235
@0pdd 2 puzzles [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341) are still not solved; solved: [#1331](https://github.com/yegor256/cactoos/issues/1331).

[2020-04-13 18:09] 0pdd commented on #1331
@0pdd 2 puzzles [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341) are still not solved.

[2020-04-13 18:09] 0crat commented on #1340
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-13 18:10] 0crat commented on #1341
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-13 18:29] 0crat commented on #1331
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-13 18:45] sereshqua commented on #1331
@0crat quality good

[2020-04-13 19:00] 0crat commented on #1340
The job [#1340](https://github.com/yegor256/cactoos/issues/1340) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/c5489e13-642e-482e-8ba8-5e8e7f67425e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-13 19:11] 0crat commented on #1341
The job [#1341](https://github.com/yegor256/cactoos/issues/1341) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/03ecb661-abf6-4b6f-9864-9e487067b8d0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-14 13:29] victornoel commented on #1340
@0crat refuse

[2020-04-14 13:29] victornoel commented on #1341
@0crat refuse

[2020-04-14 13:32] 0crat commented on #1341
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#1341](https://github.com/yegor256/cactoos/issues/1341), please stop working. Reason for job resignation: Order was cancelled

[2020-04-14 13:32] 0crat commented on #1341
@victornoel Job refused in 18 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-14 14:10] victornoel commented on #1340
@0crat refuse

[2020-04-14 14:28] 0crat commented on #1340
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#1340](https://github.com/yegor256/cactoos/issues/1340), please stop working. Reason for job resignation: Order was cancelled

[2020-04-14 14:28] 0crat commented on #1340
@victornoel Job `gh:yegor256/cactoos#1340` is not assigned, can't get performer

[2020-04-14 14:28] 0crat commented on #1340
@victornoel Job refused in 19 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-15 03:07] marceloamadeu commented on #1337
@0crat refuse

[2020-04-15 18:04] victornoel commented on #1261
@0pdd for the record, CollectionOf has been fully removed from cactoos-matcher, it seems safe to remove it from cactoos now as well as bump cactoos-matchers to the latest version.

[2020-04-15 18:05] 0pdd commented on #1261
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-04-18 10:20] 0crat commented on #1340
The job [#1340](https://github.com/yegor256/cactoos/issues/1340) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C63314D6Z/42149339-bac3-4bf0-bf99-1a249cb2f1f3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2020-04-19 19:57] #1340 closed

[2020-04-19 19:57] 0pdd commented on #1340
The puzzle `1331-b5541bca` has disappeared from the source code, that's why I closed this issue.

[2020-04-19 19:57] 0pdd opened #1343 "package-info.java:29-32: Continue replacing usage of..."
The puzzle `1340-b5541bca` from #1340 has to be resolved:

https://github.com/yegor256/cactoos/blob/ef07ee7ed0798a163fe2a4f060b3784581b90081/src/test/java/org/cactoos/io/package-info.java#L29-L32

The puzzle was created by marceloamadeu on 18-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-04-19 19:57] 0pdd commented on #1033
@llorllale 2 puzzles [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343) are still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#

[2020-04-19 19:57] 0pdd commented on #1117
@0pdd 2 puzzles [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343) are still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331]

[2020-04-19 19:57] 0pdd commented on #1152
@0pdd 2 puzzles [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343) are still not solved; solved: [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340]

[2020-04-19 19:57] 0pdd commented on #1182
@0pdd 2 puzzles [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343) are still not solved; solved: [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340).

[2020-04-19 19:57] 0pdd commented on #1228
@0pdd 2 puzzles [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343) are still not solved; solved: [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340).

[2020-04-19 19:57] 0pdd commented on #1235
@0pdd 2 puzzles [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343) are still not solved; solved: [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340).

[2020-04-19 19:57] 0pdd commented on #1331
@0pdd 2 puzzles [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343) are still not solved; solved: [#1340](https://github.com/yegor256/cactoos/issues/1340).

[2020-04-19 19:57] 0pdd commented on #1340
@0pdd the puzzle [#1343](https://github.com/yegor256/cactoos/issues/1343) is still not solved.

[2020-04-19 19:58] 0crat commented on #1343
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-19 21:12] 0crat commented on #1340
Job was finished in 35 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-19 21:13] 0crat commented on #1340
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-19 21:15] 0crat commented on #1343
Election failed: performer was not elected (see footprint for details)

[2020-04-19 21:17] 0crat commented on #1343
Election failed: performer was not elected (see footprint for details)

[2020-04-19 21:18] 0crat commented on #1343
Election failed: performer was not elected (see footprint for details)

[2020-04-19 21:18] 0crat commented on #1343
Election failed: performer was not elected (see footprint for details)

[2020-04-19 21:18] 0crat commented on #1343
Election failed: performer was not elected (see footprint for details)

[2020-04-19 21:23] sereshqua commented on #1340
@0crat quality good

[2020-04-19 22:08] 0crat commented on #1341
The job [#1341](https://github.com/yegor256/cactoos/issues/1341) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C63314D6Z/7a01e333-8dd9-4200-9857-52231dd16e56); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2020-04-20 16:23] 0crat commented on #1343
The job [#1343](https://github.com/yegor256/cactoos/issues/1343) assigned to @iiylll[/z](https://www.0crat.com/u/iiylll), here is [why](https://www.0crat.com/footprint/C63314D6Z/54ecf9db-435c-4935-b0a8-0802e694ae2b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-04-20 16:50] 0crat commented on #1308
The job [#1308](https://github.com/yegor256/cactoos/issues/1308) assigned to @iiylll[/z](https://www.0crat.com/u/iiylll), here is [why](https://www.0crat.com/footprint/C63314D6Z/1e98cfd9-be87-417e-bb78-ac85cbb9a3a0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-04-23 14:18] paulodamaso opened #1346 "Release version 0.45"
Release version 0.45

[2020-04-23 14:18] paulodamaso commented on #1346
@0crat assign me

[2020-04-23 15:16] 0crat commented on #1346
@paulodamaso The job [#1346](https://github.com/yegor256/cactoos/issues/1346) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C63314D6Z/c8ae9caa-d735-4066-a9d0-f49357ff55df); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2020-04-23 16:45] 0crat commented on #1313
The job [#1313](https://github.com/yegor256/cactoos/issues/1313) assigned to @englishman[/z](https://www.0crat.com/u/englishman), here is [why](https://www.0crat.com/footprint/C63314D6Z/309f67cd-0eac-40d3-9f49-3ae87937aab0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-23 17:06] #1320 closed

[2020-04-23 17:06] 0pdd commented on #1320
The puzzle `1293-bc5d06e8` has disappeared from the source code, that's why I closed this issue.

[2020-04-23 17:06] 0pdd opened #1349 "ScalarOf.java:33-36: Continue implement class ScalarOf..."
The puzzle `1320-62e15acb` from #1320 has to be resolved:

https://github.com/yegor256/cactoos/blob/1ef744ecf8daef1a50209d88676ff6f0e7ba13eb/src/main/java/org/cactoos/scalar/ScalarOf.java#L33-L36

The puzzle was created by marceloamadeu on 17-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-04-23 17:06] 0pdd commented on #947
@wladyan 3 puzzles [#1183](https://github.com/yegor256/cactoos/issues/1183), [#1337](https://github.com/yegor256/cactoos/issues/1337), [#1349](https://github.com/yegor256/cactoos/issues/1349) are still not solved; solved: [#1184](https://github.com/yegor256/cactoos/issues/1184), [#1185](https://github.com/yegor256/cactoos/issues/1185), [#1242](https://github.com/yegor256/cactoos/issues/1242), [#12

[2020-04-23 17:06] 0pdd commented on #1184
@0pdd 2 puzzles [#1337](https://github.com/yegor256/cactoos/issues/1337), [#1349](https://github.com/yegor256/cactoos/issues/1349) are still not solved; solved: [#1242](https://github.com/yegor256/cactoos/issues/1242), [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1293](https://github.com/yegor256/cactoos/issues/1293), [#1294](https://github.com/yegor256/cactoos/issues/1294), [#1295]

[2020-04-23 17:06] 0pdd commented on #1242
@0pdd 2 puzzles [#1337](https://github.com/yegor256/cactoos/issues/1337), [#1349](https://github.com/yegor256/cactoos/issues/1349) are still not solved; solved: [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1293](https://github.com/yegor256/cactoos/issues/1293), [#1294](https://github.com/yegor256/cactoos/issues/1294), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1296]

[2020-04-23 17:06] 0pdd commented on #1293
@0pdd the puzzle [#1349](https://github.com/yegor256/cactoos/issues/1349) is still not solved; solved: [#1320](https://github.com/yegor256/cactoos/issues/1320).

[2020-04-23 17:06] 0pdd commented on #1320
@0pdd the puzzle [#1349](https://github.com/yegor256/cactoos/issues/1349) is still not solved.

[2020-04-23 17:08] 0crat commented on #1349
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-23 17:12] paulodamaso commented on #1346
@rultor release tag is `0.44`

[2020-04-23 17:13] rultor commented on #1346
@paulodamaso Invalid release tag `0.44` specified. There is already a release `0.44` newer than the given release in this repository.

[2020-04-23 17:13] rultor commented on #1346
@paulodamaso I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2020-04-23 17:15] paulodamaso commented on #1346
@rultor release tag is `0.45`

[2020-04-23 17:16] rultor commented on #1346
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21864-618527159)

[2020-04-23 17:21] rultor commented on #1346
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21864-618527159) (spent 4min)

[code]

[2020-04-23 17:32] paulodamaso commented on #1346
@rultor release tag is `0.45`

[2020-04-23 17:33] rultor commented on #1346
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21864-618536937)

[2020-04-23 17:38] rultor commented on #1346
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21864-618536937) (spent 5min)

[code]

[2020-04-23 19:54] paulodamaso commented on #1346
@rultor release tag is `0.45`

[2020-04-23 19:56] rultor commented on #1346
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21864-618629117)

[2020-04-23 20:01] rultor commented on #1346
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21864-618629117) (spent 5min)

[code]

[2020-04-23 20:55] 0crat commented on #1349
The job [#1349](https://github.com/yegor256/cactoos/issues/1349) assigned to @englishman[/z](https://www.0crat.com/u/englishman), here is [why](https://www.0crat.com/footprint/C63314D6Z/5cf2c872-d17d-42a5-88d1-4aa3cc5b2a82); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-23 22:00] 0crat commented on #1335
The job [#1335](https://github.com/yegor256/cactoos/issues/1335) assigned to @englishman[/z](https://www.0crat.com/u/englishman), here is [why](https://www.0crat.com/footprint/C63314D6Z/22f13385-5a4d-472e-88ef-4d2307f3c6d0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-25 20:55] paulodamaso commented on #1346
@rultor release tag is `0.45`

[2020-04-25 21:03] rultor commented on #1346
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21864-619439527)

[2020-04-25 21:11] rultor commented on #1346
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21864-619439527) (spent 8min)

[code]

[2020-04-26 21:00] paulodamaso commented on #1346
@rultor release tag is `0.45`

[2020-04-26 21:01] rultor commented on #1346
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21864-619624080)

[2020-04-26 21:08] rultor commented on #1346
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21864-619624080) (spent 7min)

[code]

[2020-04-27 19:37] paulodamaso commented on #1346
@rultor release tag is `0.45`

[2020-04-27 19:39] rultor commented on #1346
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21864-620190873)

[2020-04-27 19:45] rultor commented on #1346
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21864-620190873) (spent 6min)

[code]

[2020-04-27 21:13] paulodamaso commented on #1346
@rultor release tag is `0.45`

[2020-04-27 21:15] rultor commented on #1346
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21864-620238009)

[2020-04-27 21:19] rultor commented on #1346
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21864-620238009) (spent 5min)

[code]

[2020-04-27 23:27] paulodamaso commented on #1346
@rultor release tag is `0.45`

[2020-04-27 23:28] rultor commented on #1346
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21864-620287901)

[2020-04-27 23:32] rultor commented on #1346
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21864-620287901) (spent 4min)

[code]

[2020-04-27 23:37] marceloamadeu commented on #1320
@rultor status

[2020-04-27 23:37] rultor commented on #1320
@marceloamadeu This is what's going on here:

 * no new requests registered
 * build is not running
[]

More information about Rultor commands you can get [here](http://doc.rultor.com/commands.html).

[2020-04-28 00:06] marceloamadeu commented on #1320
@0crat status

[2020-04-28 00:46] 0crat commented on #1320
@marceloamadeu This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1320](https://github.com/yegor256/cactoos/issues/1320) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) for [25days](http://www.zerocracy.com/pol

[2020-04-28 02:36] paulodamaso commented on #1320
@0crat out

[2020-04-28 02:46] 0crat commented on #1320
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-28 03:52] sereshqua commented on #1320
@0crat quality good

[2020-04-28 16:29] victornoel opened #1359 "iterable.Matched shouldn't create an in-memory list but lazily iterate"
I noticed that `iterable.Matched` is creating a list in memory and then return it as an `Iterator`.

For performance reasons and stick closer to the lazy behavioural contract of `Iterable`, I think we should:
- create `iterator.Matched` that lazily returns the matched elements instead of storing them in a list
- have `iterable.Matched` simply delegate to `iterator.Matched`

This is important for e

[2020-04-28 16:29] 0crat commented on #1359
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-28 18:13] paulodamaso commented on #1359
@victornoel Good catch!

[2020-04-28 18:14] paulodamaso commented on #1359
@0crat in

[2020-04-28 18:20] #1341 closed

[2020-04-28 18:20] 0pdd commented on #1341
The puzzle `1331-806191f6` has disappeared from the source code, that's why I closed this issue.

[2020-04-28 18:21] 0pdd opened #1360 "TeeInputFromBytesTest.java:39-42: Correct any TeeInput..."
The puzzle `1341-f972cb6f` from #1341 has to be resolved:

https://github.com/yegor256/cactoos/blob/f72270cd828a5c61dfccac1757e09514781bbb12/src/test/java/org/cactoos/io/TeeInputFromBytesTest.java#L39-L42

The puzzle was created by marceloamadeu on 26-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-04-28 18:21] 0pdd commented on #1033
@llorllale 2 puzzles [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360](https://github.com/yegor256/cactoos/issues/1360) are still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#

[2020-04-28 18:21] 0pdd commented on #1117
@0pdd 2 puzzles [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360](https://github.com/yegor256/cactoos/issues/1360) are still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331]

[2020-04-28 18:21] 0pdd commented on #1152
@0pdd 2 puzzles [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360](https://github.com/yegor256/cactoos/issues/1360) are still not solved; solved: [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340]

[2020-04-28 18:21] 0pdd commented on #1182
@0pdd 2 puzzles [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360](https://github.com/yegor256/cactoos/issues/1360) are still not solved; solved: [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341]

[2020-04-28 18:21] 0pdd commented on #1228
@0pdd 2 puzzles [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360](https://github.com/yegor256/cactoos/issues/1360) are still not solved; solved: [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341).

[2020-04-28 18:21] 0pdd commented on #1235
@0pdd 2 puzzles [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360](https://github.com/yegor256/cactoos/issues/1360) are still not solved; solved: [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341).

[2020-04-28 18:21] 0pdd commented on #1331
@0pdd 2 puzzles [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360](https://github.com/yegor256/cactoos/issues/1360) are still not solved; solved: [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341).

[2020-04-28 18:21] 0pdd commented on #1341
@0pdd the puzzle [#1360](https://github.com/yegor256/cactoos/issues/1360) is still not solved.

[2020-04-28 18:21] 0crat commented on #1360
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-28 18:48] 0crat commented on #1341
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-28 18:58] 0crat commented on #1360
The job [#1360](https://github.com/yegor256/cactoos/issues/1360) assigned to @a-korzhov[/z](https://www.0crat.com/u/a-korzhov), here is [why](https://www.0crat.com/footprint/C63314D6Z/d98a32ea-2354-4c8a-91fe-303bfb6075a3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-04-28 19:47] 0crat commented on #1359
The job [#1359](https://github.com/yegor256/cactoos/issues/1359) assigned to @a-korzhov[/z](https://www.0crat.com/u/a-korzhov), here is [why](https://www.0crat.com/footprint/C63314D6Z/1f00e0fc-eec8-4d8e-a4f0-33145a285481); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-04-29 03:46] sereshqua commented on #1341
@0crat quality good

[2020-04-29 21:35] 0pdd commented on #1343
The puzzle `1340-b5541bca` has disappeared from the source code, that's why I closed this issue.

[2020-04-29 21:35] #1343 closed

[2020-04-29 21:35] 0pdd opened #1362 "package-info.java:28-31: Continue replacing usage of..."
The puzzle `1343-b5541bca` from #1343 has to be resolved:

https://github.com/yegor256/cactoos/blob/98af1ac0fe6abb3eb410ae7de3a0e907ed8fedc9/src/test/java/org/cactoos/scalar/package-info.java#L28-L31

The puzzle was created by iiylll on 27-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2020-04-29 21:35] 0pdd commented on #1033
@llorllale 2 puzzles [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1362](https://github.com/yegor256/cactoos/issues/1362) are still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#

[2020-04-29 21:35] 0pdd commented on #1117
@0pdd 2 puzzles [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1362](https://github.com/yegor256/cactoos/issues/1362) are still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331]

[2020-04-29 21:35] 0pdd commented on #1152
@0pdd 2 puzzles [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1362](https://github.com/yegor256/cactoos/issues/1362) are still not solved; solved: [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340]

[2020-04-29 21:36] 0pdd commented on #1182
@0pdd 2 puzzles [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1362](https://github.com/yegor256/cactoos/issues/1362) are still not solved; solved: [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341]

[2020-04-29 21:36] 0pdd commented on #1228
@0pdd 2 puzzles [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1362](https://github.com/yegor256/cactoos/issues/1362) are still not solved; solved: [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343]

[2020-04-29 21:36] 0pdd commented on #1235
@0pdd 2 puzzles [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1362](https://github.com/yegor256/cactoos/issues/1362) are still not solved; solved: [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343).

[2020-04-29 21:36] 0pdd commented on #1331
@0pdd 2 puzzles [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1362](https://github.com/yegor256/cactoos/issues/1362) are still not solved; solved: [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343).

[2020-04-29 21:36] 0pdd commented on #1340
@0pdd the puzzle [#1362](https://github.com/yegor256/cactoos/issues/1362) is still not solved; solved: [#1343](https://github.com/yegor256/cactoos/issues/1343).

[2020-04-29 21:36] 0pdd commented on #1343
@0pdd the puzzle [#1362](https://github.com/yegor256/cactoos/issues/1362) is still not solved.

[2020-04-29 21:36] 0crat commented on #1362
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-29 22:07] 0crat commented on #1343
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @iiylll[/z](https://www.0crat.com/u/iiylll), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-29 22:52] 0crat commented on #1362
The job [#1362](https://github.com/yegor256/cactoos/issues/1362) assigned to @a-korzhov[/z](https://www.0crat.com/u/a-korzhov), here is [why](https://www.0crat.com/footprint/C63314D6Z/aeb17b2e-bca4-41a3-9c86-b3f4dbaffe36); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-04-29 23:44] paulodamaso commented on #1346
@rultor release tag is `0.45`

[2020-04-29 23:46] rultor commented on #1346
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21864-621527113)

[2020-04-29 23:51] rultor commented on #1346
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21864-621527113) (spent 5min)

[code]

[2020-04-30 03:48] sereshqua commented on #1343
@0crat quality good

[2020-04-30 14:25] #1337 closed

[2020-04-30 14:25] 0pdd commented on #1337
The puzzle `1300-8636f38d` has disappeared from the source code, that's why I closed this issue.

[2020-04-30 14:25] 0pdd commented on #947
@wladyan 2 puzzles [#1183](https://github.com/yegor256/cactoos/issues/1183), [#1349](https://github.com/yegor256/cactoos/issues/1349) are still not solved; solved: [#1184](https://github.com/yegor256/cactoos/issues/1184), [#1185](https://github.com/yegor256/cactoos/issues/1185), [#1242](https://github.com/yegor256/cactoos/issues/1242), [#1262](https://github.com/yegor256/cactoos/issues/1262), [#12

[2020-04-30 14:25] 0pdd commented on #1242
@0pdd the puzzle [#1349](https://github.com/yegor256/cactoos/issues/1349) is still not solved; solved: [#1292](https://github.com/yegor256/cactoos/issues/1292), [#1293](https://github.com/yegor256/cactoos/issues/1293), [#1294](https://github.com/yegor256/cactoos/issues/1294), [#1295](https://github.com/yegor256/cactoos/issues/1295), [#1296](https://github.com/yegor256/cactoos/issues/1296), [#1297]

[2020-04-30 14:25] 0pdd commented on #1300
@0pdd the only puzzle [#1337](https://github.com/yegor256/cactoos/issues/1337) is solved here.

[2020-04-30 15:07] 0crat commented on #1337
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-30 18:01] a-korzhov commented on #1359
@0crat refuse

[2020-04-30 18:05] 0crat commented on #1359
@a-korzhov The user @a-korzhov[/z](https://www.0crat.com/u/a-korzhov) resigned from [#1359](https://github.com/yegor256/cactoos/issues/1359), please stop working. Reason for job resignation: Order was cancelled

[2020-04-30 18:46] 0crat commented on #1359
The job [#1359](https://github.com/yegor256/cactoos/issues/1359) assigned to @iiylll[/z](https://www.0crat.com/u/iiylll), here is [why](https://www.0crat.com/footprint/C63314D6Z/63e7c468-199d-4f66-a625-c2f6ba6467b9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-04-30 19:03] sereshqua commented on #1337
@0crat quality good

[2020-05-01 22:01] #1362 closed

[2020-05-01 22:01] 0pdd commented on #1362
The puzzle `1343-b5541bca` has disappeared from the source code, that's why I closed this issue.

[2020-05-01 22:01] 0pdd opened #1367 "package-info.java:28-31: Continue replacing usage of..."
The puzzle `1362-b5541bca` from #1362 has to be resolved:

https://github.com/yegor256/cactoos/blob/edf9fe8f24d4cbd6e12be701c527ef06a0576fbb/src/test/java/org/cactoos/scalar/package-info.java#L28-L31

The puzzle was created by Andrew Korzhov on 01-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2020-05-01 22:01] 0pdd commented on #1033
@llorllale 2 puzzles [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1367](https://github.com/yegor256/cactoos/issues/1367) are still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#

[2020-05-01 22:01] 0pdd commented on #1117
@0pdd 2 puzzles [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1367](https://github.com/yegor256/cactoos/issues/1367) are still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331]

[2020-05-01 22:01] 0pdd commented on #1152
@0pdd 2 puzzles [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1367](https://github.com/yegor256/cactoos/issues/1367) are still not solved; solved: [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340]

[2020-05-01 22:01] 0pdd commented on #1182
@0pdd 2 puzzles [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1367](https://github.com/yegor256/cactoos/issues/1367) are still not solved; solved: [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341]

[2020-05-01 22:02] 0pdd commented on #1228
@0pdd 2 puzzles [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1367](https://github.com/yegor256/cactoos/issues/1367) are still not solved; solved: [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343]

[2020-05-01 22:02] 0pdd commented on #1235
@0pdd 2 puzzles [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1367](https://github.com/yegor256/cactoos/issues/1367) are still not solved; solved: [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1362]

[2020-05-01 22:02] 0pdd commented on #1331
@0pdd 2 puzzles [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1367](https://github.com/yegor256/cactoos/issues/1367) are still not solved; solved: [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1362](https://github.com/yegor256/cactoos/issues/1362).

[2020-05-01 22:02] 0pdd commented on #1340
@0pdd the puzzle [#1367](https://github.com/yegor256/cactoos/issues/1367) is still not solved; solved: [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1362](https://github.com/yegor256/cactoos/issues/1362).

[2020-05-01 22:02] 0pdd commented on #1343
@0pdd the puzzle [#1367](https://github.com/yegor256/cactoos/issues/1367) is still not solved; solved: [#1362](https://github.com/yegor256/cactoos/issues/1362).

[2020-05-01 22:02] 0pdd commented on #1362
@0pdd the puzzle [#1367](https://github.com/yegor256/cactoos/issues/1367) is still not solved.

[2020-05-01 22:02] 0crat commented on #1367
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-05-01 22:21] 0crat commented on #1362
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @a-korzhov[/z](https://www.0crat.com/u/a-korzhov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-01 22:21] 0crat commented on #1362
Job was finished in 47 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-05-01 23:45] 0crat commented on #1367
The job [#1367](https://github.com/yegor256/cactoos/issues/1367) assigned to @a-korzhov[/z](https://www.0crat.com/u/a-korzhov), here is [why](https://www.0crat.com/footprint/C63314D6Z/19d1e155-2bf9-4715-83c1-2db120d101a4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-05-01 23:46] a-korzhov commented on #1367
@0crat refuse

[2020-05-02 02:28] 0crat commented on #1367
@a-korzhov The user @a-korzhov[/z](https://www.0crat.com/u/a-korzhov) resigned from [#1367](https://github.com/yegor256/cactoos/issues/1367), please stop working. Reason for job resignation: Order was cancelled

[2020-05-02 02:28] 0crat commented on #1367
@a-korzhov Job refused in 2 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-05-02 02:46] 0crat commented on #1367
The job [#1367](https://github.com/yegor256/cactoos/issues/1367) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C63314D6Z/cbfe7ce6-11e8-426d-b4c2-5f0ba7cb294e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2020-05-02 04:42] sereshqua commented on #1362
@0crat quality good

[2020-05-03 14:22] #1360 closed

[2020-05-03 14:22] 0pdd commented on #1360
The puzzle `1341-f972cb6f` has disappeared from the source code, that's why I closed this issue.

[2020-05-03 14:23] 0pdd opened #1372 "TeeInputFromCharSequenceTest.java:39-42: Correct any..."
The puzzle `1360-f972cb6f` from #1360 has to be resolved:

https://github.com/yegor256/cactoos/blob/ab8107d15565774b6f0ac31ad53ea994dbb1b8ba/src/test/java/org/cactoos/io/TeeInputFromCharSequenceTest.java#L39-L42

The puzzle was created by Andrew Korzhov on 02-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2020-05-03 14:23] 0pdd commented on #1033
@llorllale 2 puzzles [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1372](https://github.com/yegor256/cactoos/issues/1372) are still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#

[2020-05-03 14:23] 0pdd commented on #1117
@0pdd 2 puzzles [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1372](https://github.com/yegor256/cactoos/issues/1372) are still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331]

[2020-05-03 14:23] 0pdd commented on #1152
@0pdd 2 puzzles [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1372](https://github.com/yegor256/cactoos/issues/1372) are still not solved; solved: [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340]

[2020-05-03 14:23] 0pdd commented on #1182
@0pdd 2 puzzles [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1372](https://github.com/yegor256/cactoos/issues/1372) are still not solved; solved: [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341]

[2020-05-03 14:23] 0pdd commented on #1228
@0pdd 2 puzzles [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1372](https://github.com/yegor256/cactoos/issues/1372) are still not solved; solved: [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343]

[2020-05-03 14:23] 0pdd commented on #1235
@0pdd 2 puzzles [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1372](https://github.com/yegor256/cactoos/issues/1372) are still not solved; solved: [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360]

[2020-05-03 14:23] 0pdd commented on #1331
@0pdd 2 puzzles [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1372](https://github.com/yegor256/cactoos/issues/1372) are still not solved; solved: [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1362]

[2020-05-03 14:23] 0pdd commented on #1341
@0pdd the puzzle [#1372](https://github.com/yegor256/cactoos/issues/1372) is still not solved; solved: [#1360](https://github.com/yegor256/cactoos/issues/1360).

[2020-05-03 14:23] 0pdd commented on #1360
@0pdd the puzzle [#1372](https://github.com/yegor256/cactoos/issues/1372) is still not solved.

[2020-05-04 07:32] 0crat commented on #1372
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-05-04 07:46] 0crat commented on #1372
The job [#1372](https://github.com/yegor256/cactoos/issues/1372) assigned to @a-korzhov[/z](https://www.0crat.com/u/a-korzhov), here is [why](https://www.0crat.com/footprint/C63314D6Z/fbffe830-a667-4d61-a8f2-4f62cf0b1308); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-05-04 07:56] 0crat commented on #1360
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @a-korzhov[/z](https://www.0crat.com/u/a-korzhov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-04 07:59] sereshqua commented on #1360
@0crat quality good

[2020-05-04 16:29] victornoel commented on #1308
@lxpdd you should have notified me so that I can close the issue, lucky I passed by it by chance :)

[2020-05-04 16:29] #1308 closed

[2020-05-04 16:46] victornoel commented on #1360
@0crat status

[2020-05-04 16:48] 0crat commented on #1308
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @iiylll[/z](https://www.0crat.com/u/iiylll), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-04 16:48] 0crat commented on #1360
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1360](https://github.com/yegor256/cactoos/issues/1360) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos%231360%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-05-04 17:14] sereshqua commented on #1308
@0crat quality good

[2020-05-05 11:54] paulodamaso commented on #1346
@rultor release tag is `0.45`

[2020-05-05 11:55] rultor commented on #1346
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21864-624010332)

[2020-05-05 12:00] rultor commented on #1346
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21864-624010332) (spent 5min)

[code]

[2020-05-05 12:17] paulodamaso commented on #1346
@rultor release tag is `0.45`

[2020-05-05 12:18] rultor commented on #1346
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21864-624020796)

[2020-05-05 12:25] rultor commented on #1346
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21864-624020796) (spent 7min)

[code]

[2020-05-05 16:26] #1367 closed

[2020-05-05 16:26] 0pdd commented on #1367
The puzzle `1362-b5541bca` has disappeared from the source code, that's why I closed this issue.

[2020-05-05 16:26] 0pdd opened #1375 "package-info.java:28-31: Continue replacing usage of..."
The puzzle `1367-b5541bca` from #1367 has to be resolved:

https://github.com/yegor256/cactoos/blob/b0bae7b7d5681b5994335957e0d7286e11e6deb0/src/test/java/org/cactoos/scalar/package-info.java#L28-L31

The puzzle was created by marceloamadeu on 03-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-05-05 16:26] 0pdd opened #1376 "package-info.java:32-34: Replace all the IsEqual with..."
The puzzle `1367-e974cc79` from #1367 has to be resolved:

https://github.com/yegor256/cactoos/blob/b0bae7b7d5681b5994335957e0d7286e11e6deb0/src/test/java/org/cactoos/scalar/package-info.java#L32-L34

The puzzle was created by marceloamadeu on 05-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-05-05 16:27] 0pdd commented on #1033
@llorllale 3 puzzles [#1372](https://github.com/yegor256/cactoos/issues/1372), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376) are still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#

[2020-05-05 16:27] 0pdd commented on #1117
@0pdd 3 puzzles [#1372](https://github.com/yegor256/cactoos/issues/1372), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376) are still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235]

[2020-05-05 16:27] 0pdd commented on #1152
@0pdd 3 puzzles [#1372](https://github.com/yegor256/cactoos/issues/1372), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376) are still not solved; solved: [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331]

[2020-05-05 16:27] 0crat commented on #1375
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-05-05 16:27] 0pdd commented on #1182
@0pdd 3 puzzles [#1372](https://github.com/yegor256/cactoos/issues/1372), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376) are still not solved; solved: [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340]

[2020-05-05 16:27] 0pdd commented on #1228
@0pdd 3 puzzles [#1372](https://github.com/yegor256/cactoos/issues/1372), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376) are still not solved; solved: [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341]

[2020-05-05 16:27] 0pdd commented on #1235
@0pdd 3 puzzles [#1372](https://github.com/yegor256/cactoos/issues/1372), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376) are still not solved; solved: [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343]

[2020-05-05 16:27] 0pdd commented on #1331
@0pdd 3 puzzles [#1372](https://github.com/yegor256/cactoos/issues/1372), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376) are still not solved; solved: [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360]

[2020-05-05 16:27] 0pdd commented on #1340
@0pdd 2 puzzles [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376) are still not solved; solved: [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1362](https://github.com/yegor256/cactoos/issues/1362), [#1367](https://github.com/yegor256/cactoos/issues/1367).

[2020-05-05 16:27] 0pdd commented on #1343
@0pdd 2 puzzles [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376) are still not solved; solved: [#1362](https://github.com/yegor256/cactoos/issues/1362), [#1367](https://github.com/yegor256/cactoos/issues/1367).

[2020-05-05 16:27] 0pdd commented on #1362
@0pdd 2 puzzles [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376) are still not solved; solved: [#1367](https://github.com/yegor256/cactoos/issues/1367).

[2020-05-05 16:27] 0pdd commented on #1367
@0pdd 2 puzzles [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376) are still not solved.

[2020-05-05 16:27] 0crat commented on #1376
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-05-05 16:46] 0crat commented on #1367
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-05 16:47] 0crat commented on #1375
The job [#1375](https://github.com/yegor256/cactoos/issues/1375) assigned to @a-korzhov[/z](https://www.0crat.com/u/a-korzhov), here is [why](https://www.0crat.com/footprint/C63314D6Z/ee65b5b9-4530-4ff9-b49b-3e1532887da5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-05-05 16:48] a-korzhov commented on #1375
@0crat refuse

[2020-05-05 16:51] sereshqua commented on #1367
@0crat quality good

[2020-05-05 16:56] 0crat commented on #1375
@a-korzhov The user @a-korzhov[/z](https://www.0crat.com/u/a-korzhov) resigned from [#1375](https://github.com/yegor256/cactoos/issues/1375), please stop working. Reason for job resignation: Order was cancelled

[2020-05-05 16:57] 0crat commented on #1375
@a-korzhov Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-05-05 17:46] 0crat commented on #1376
The job [#1376](https://github.com/yegor256/cactoos/issues/1376) assigned to @a-korzhov[/z](https://www.0crat.com/u/a-korzhov), here is [why](https://www.0crat.com/footprint/C63314D6Z/3c5d7d2d-4954-48fb-939a-747611ef905a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-05-05 19:33] paulodamaso commented on #1346
@rultor release tag is `0.45`

[2020-05-05 19:34] rultor commented on #1346
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21864-624262152)

[2020-05-05 19:41] rultor commented on #1346
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21864-624262152) (spent 7min)

[code]

[2020-05-05 20:05] paulodamaso commented on #1346
@rultor release tag is `0.45`

[2020-05-05 20:07] rultor commented on #1346
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21864-624277997)

[2020-05-05 20:15] rultor commented on #1346
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21864-624277997) (spent 8min)

[code]

[2020-05-05 20:39] paulodamaso commented on #1346
@rultor release tag is `0.45`

[2020-05-05 20:40] rultor commented on #1346
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21864-624293695)

[2020-05-05 20:48] rultor commented on #1346
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21864-624293695) (spent 8min)

[code]

[2020-05-05 21:17] paulodamaso commented on #1346
@rultor release tag is `0.45`

[2020-05-05 21:20] rultor commented on #1346
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21864-624311193)

[2020-05-05 21:27] rultor commented on #1346
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21864-624311193) (spent 7min)

[code]

[2020-05-05 21:33] paulodamaso commented on #1346
@rultor release tag is `0.45`

[2020-05-05 21:34] rultor commented on #1346
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21864-624318409)

[2020-05-05 21:41] rultor commented on #1346
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21864-624318409) (spent 7min)

[code]

[2020-05-06 10:36] paulodamaso commented on #1346
@rultor release tag is `0.45`

[2020-05-06 10:37] rultor commented on #1346
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21864-624570908)

[2020-05-06 10:47] rultor commented on #1346
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21864-624570908) (spent 10min)

[code]

[2020-05-06 11:38] paulodamaso commented on #1346
@rultor release tag is `0.46`

[2020-05-06 11:41] rultor commented on #1346
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21864-624598768)

[2020-05-06 11:52] rultor commented on #1346
@paulodamaso Done! FYI, the full log is [here](https://www.rultor.com/t/21864-624598768) (took me 10min)

[2020-05-06 12:10] #1346 closed

[2020-05-06 14:54] 0crat commented on #1375
The job [#1375](https://github.com/yegor256/cactoos/issues/1375) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/8322dcb7-8bd3-46d7-80c0-5ca7be7f2f82); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-05-06 15:05] victornoel commented on #1375
@0crat refuse

[2020-05-06 15:06] 0crat commented on #1375
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#1375](https://github.com/yegor256/cactoos/issues/1375), please stop working. Reason for job resignation: Order was cancelled

[2020-05-06 15:07] 0crat commented on #1375
@victornoel Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-05-07 22:27] #1372 closed

[2020-05-07 22:27] 0pdd commented on #1372
The puzzle `1360-f972cb6f` has disappeared from the source code, that's why I closed this issue.

[2020-05-07 22:27] 0pdd opened #1381 "TeeInputFromPathTest.java:41-44: Correct any TeeInput..."
The puzzle `1372-f972cb6f` from #1372 has to be resolved:

https://github.com/yegor256/cactoos/blob/b1c6e9aeb5207b7249f75880b7a4d6603f302eb6/src/test/java/org/cactoos/io/TeeInputFromPathTest.java#L41-L44

The puzzle was created by Andrew Korzhov on 04-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-05-07 22:27] 0pdd commented on #1033
@llorllale 3 puzzles [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1381](https://github.com/yegor256/cactoos/issues/1381) are still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#

[2020-05-07 22:27] 0pdd commented on #1117
@0pdd 3 puzzles [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1381](https://github.com/yegor256/cactoos/issues/1381) are still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235]

[2020-05-07 22:27] 0pdd commented on #1152
@0pdd 3 puzzles [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1381](https://github.com/yegor256/cactoos/issues/1381) are still not solved; solved: [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331]

[2020-05-07 22:27] 0pdd commented on #1182
@0pdd 3 puzzles [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1381](https://github.com/yegor256/cactoos/issues/1381) are still not solved; solved: [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340]

[2020-05-07 22:27] 0pdd commented on #1228
@0pdd 3 puzzles [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1381](https://github.com/yegor256/cactoos/issues/1381) are still not solved; solved: [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341]

[2020-05-07 22:28] 0pdd commented on #1235
@0pdd 3 puzzles [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1381](https://github.com/yegor256/cactoos/issues/1381) are still not solved; solved: [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343]

[2020-05-07 22:28] 0pdd commented on #1331
@0pdd 3 puzzles [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1381](https://github.com/yegor256/cactoos/issues/1381) are still not solved; solved: [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360]

[2020-05-07 22:28] 0pdd commented on #1341
@0pdd the puzzle [#1381](https://github.com/yegor256/cactoos/issues/1381) is still not solved; solved: [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1372](https://github.com/yegor256/cactoos/issues/1372).

[2020-05-07 22:28] 0pdd commented on #1360
@0pdd the puzzle [#1381](https://github.com/yegor256/cactoos/issues/1381) is still not solved; solved: [#1372](https://github.com/yegor256/cactoos/issues/1372).

[2020-05-07 22:28] 0pdd commented on #1372
@0pdd the puzzle [#1381](https://github.com/yegor256/cactoos/issues/1381) is still not solved.

[2020-05-07 22:28] 0crat commented on #1381
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-05-07 22:58] 0crat commented on #1372
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @a-korzhov[/z](https://www.0crat.com/u/a-korzhov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-07 23:02] 0crat commented on #1381
The job [#1381](https://github.com/yegor256/cactoos/issues/1381) assigned to @a-korzhov[/z](https://www.0crat.com/u/a-korzhov), here is [why](https://www.0crat.com/footprint/C63314D6Z/30bfbed0-be35-473c-b861-b96641215fdd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-05-08 04:18] sereshqua commented on #1372
@0crat quality good

[2020-05-08 04:49] 0crat commented on #1375
The job [#1375](https://github.com/yegor256/cactoos/issues/1375) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C63314D6Z/640c042f-70a7-484e-aafe-8c6a74531dda); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2020-05-08 13:37] a-korzhov commented on #1381
@0crat refuse

[2020-05-08 13:37] a-korzhov commented on #1376
@0crat refuse

[2020-05-08 13:46] 0crat commented on #1376
@a-korzhov The user @a-korzhov[/z](https://www.0crat.com/u/a-korzhov) resigned from [#1376](https://github.com/yegor256/cactoos/issues/1376), please stop working. Reason for job resignation: Order was cancelled

[2020-05-08 13:46] 0crat commented on #1381
@a-korzhov Job refused in 14 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-05-08 13:47] 0crat commented on #1381
@a-korzhov The user @a-korzhov[/z](https://www.0crat.com/u/a-korzhov) resigned from [#1381](https://github.com/yegor256/cactoos/issues/1381), please stop working. Reason for job resignation: Order was cancelled

[2020-05-08 13:48] paulodamaso commented on #1346
@0crat out

[2020-05-08 15:46] 0crat commented on #1376
The job [#1376](https://github.com/yegor256/cactoos/issues/1376) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C63314D6Z/a1ee21a1-f7d0-4ec0-9a05-c4f4ab6823d7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2020-05-08 16:46] 0crat commented on #1381
The job [#1381](https://github.com/yegor256/cactoos/issues/1381) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C63314D6Z/42483b80-230b-4e8a-8c8f-bee0787b1b64); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2020-05-09 08:38] victornoel opened #1384 "MapEnvelope should be a real envelope and the behaviour moved to MapOf"
In the same way we improved the cactoos API by making `ListEnvelope`, `SetEnvelope` and so on real envelopes with actual behaviour such as `equals`, `toString`, `hashcode`, etc, moved to the `ListOf`, `SetOf`, etc classes. I believe we should continue and do the same for `MapEnvelope` and `MapOf`.

The final objective is to have `MapOf` as the main entry point to build instances of `Map` in cactoo

[2020-05-09 08:38] 0crat commented on #1384
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-05-09 18:23] vzurauskas opened #1385 "Join two lists"
We need a way to join two lists. I'd like to be able to write it something like this:

[code]

Currently there is no such constructor in `Joined`.

[2020-05-09 18:23] 0crat commented on #1385
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-05-10 07:09] sereshqua commented on #1372
@0crat quality good

[2020-05-10 11:19] SimonHarmonicMinor opened #1386 "Generic exceptions in Func, BiFunc, Proc, BiProc, Scalar, Input and Output"
I consider that these functional interfaces should throw not just an `Exception` type but generic one. Because such strict bounds make a user to declare a method with too common type.

For instance, suppose I have something like that
[code]
Even though `readResource` suppose to throw `IOException` I have to check for `Exception` whenever I execute `func`.

And what if a method threw `Throwable`? I

[2020-05-10 11:19] 0crat commented on #1386
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-05-10 11:22] 0crat commented on #1372
@sereshqua There is no quality review for [#1372](https://github.com/yegor256/cactoos/issues/1372), no performer

[2020-05-11 12:45] #1376 closed

[2020-05-11 12:45] 0pdd commented on #1376
The puzzle `1367-e974cc79` has disappeared from the source code, that's why I closed this issue.

[2020-05-11 12:45] 0pdd commented on #1033
@llorllale 2 puzzles [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1381](https://github.com/yegor256/cactoos/issues/1381) are still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#

[2020-05-11 12:45] 0pdd commented on #1117
@0pdd 2 puzzles [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1381](https://github.com/yegor256/cactoos/issues/1381) are still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331]

[2020-05-11 12:45] 0pdd commented on #1152
@0pdd 2 puzzles [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1381](https://github.com/yegor256/cactoos/issues/1381) are still not solved; solved: [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340]

[2020-05-11 12:45] 0pdd commented on #1182
@0pdd 2 puzzles [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1381](https://github.com/yegor256/cactoos/issues/1381) are still not solved; solved: [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341]

[2020-05-11 12:45] 0pdd commented on #1228
@0pdd 2 puzzles [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1381](https://github.com/yegor256/cactoos/issues/1381) are still not solved; solved: [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343]

[2020-05-11 12:45] 0pdd commented on #1235
@0pdd 2 puzzles [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1381](https://github.com/yegor256/cactoos/issues/1381) are still not solved; solved: [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360]

[2020-05-11 12:45] 0pdd commented on #1331
@0pdd 2 puzzles [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1381](https://github.com/yegor256/cactoos/issues/1381) are still not solved; solved: [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1362]

[2020-05-11 12:45] 0pdd commented on #1340
@0pdd the puzzle [#1375](https://github.com/yegor256/cactoos/issues/1375) is still not solved; solved: [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1362](https://github.com/yegor256/cactoos/issues/1362), [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1376](https://github.com/yegor256/cactoos/issues/1376).

[2020-05-11 12:45] 0pdd commented on #1343
@0pdd the puzzle [#1375](https://github.com/yegor256/cactoos/issues/1375) is still not solved; solved: [#1362](https://github.com/yegor256/cactoos/issues/1362), [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1376](https://github.com/yegor256/cactoos/issues/1376).

[2020-05-11 12:45] 0pdd commented on #1362
@0pdd the puzzle [#1375](https://github.com/yegor256/cactoos/issues/1375) is still not solved; solved: [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1376](https://github.com/yegor256/cactoos/issues/1376).

[2020-05-11 12:45] 0pdd commented on #1367
@0pdd the puzzle [#1375](https://github.com/yegor256/cactoos/issues/1375) is still not solved; solved: [#1376](https://github.com/yegor256/cactoos/issues/1376).

[2020-05-11 13:05] 0crat commented on #1376
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-11 14:25] dgroup opened #1387 "org.cactoos.map.Diff - a new object which gives difference for several maps"
This feature already available in Guava
https://guava.dev/releases/23.0/api/docs/com/google/common/collect/Maps.html#difference-java.util.Map-java.util.Map-

however only for 2 maps, so it might be changed to something like
[code]

[2020-05-11 14:25] 0crat commented on #1387
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-05-11 16:36] sereshqua commented on #1376
@0crat quality good

[2020-05-15 04:33] #1375 closed

[2020-05-15 04:33] 0pdd commented on #1375
The puzzle `1367-b5541bca` has disappeared from the source code, that's why I closed this issue.

[2020-05-15 04:33] 0pdd opened #1389 "package-info.java:28-31: Continue replacing usage of..."
The puzzle `1375-b5541bca` from #1375 has to be resolved:

https://github.com/yegor256/cactoos/blob/bd8f707c895c036cea38579b9a708413528eaf5b/src/test/java/org/cactoos/scalar/package-info.java#L28-L31

The puzzle was created by marceloamadeu on 08-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-05-15 04:33] 0pdd commented on #1033
@llorllale 2 puzzles [#1381](https://github.com/yegor256/cactoos/issues/1381), [#1389](https://github.com/yegor256/cactoos/issues/1389) are still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#

[2020-05-15 04:33] 0pdd commented on #1117
@0pdd 2 puzzles [#1381](https://github.com/yegor256/cactoos/issues/1381), [#1389](https://github.com/yegor256/cactoos/issues/1389) are still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331]

[2020-05-15 04:33] 0pdd commented on #1152
@0pdd 2 puzzles [#1381](https://github.com/yegor256/cactoos/issues/1381), [#1389](https://github.com/yegor256/cactoos/issues/1389) are still not solved; solved: [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340]

[2020-05-15 04:33] 0pdd commented on #1182
@0pdd 2 puzzles [#1381](https://github.com/yegor256/cactoos/issues/1381), [#1389](https://github.com/yegor256/cactoos/issues/1389) are still not solved; solved: [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341]

[2020-05-15 04:33] 0pdd commented on #1228
@0pdd 2 puzzles [#1381](https://github.com/yegor256/cactoos/issues/1381), [#1389](https://github.com/yegor256/cactoos/issues/1389) are still not solved; solved: [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343]

[2020-05-15 04:33] 0pdd commented on #1235
@0pdd 2 puzzles [#1381](https://github.com/yegor256/cactoos/issues/1381), [#1389](https://github.com/yegor256/cactoos/issues/1389) are still not solved; solved: [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360]

[2020-05-15 04:34] 0pdd commented on #1331
@0pdd 2 puzzles [#1381](https://github.com/yegor256/cactoos/issues/1381), [#1389](https://github.com/yegor256/cactoos/issues/1389) are still not solved; solved: [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1362]

[2020-05-15 04:34] 0pdd commented on #1340
@0pdd the puzzle [#1389](https://github.com/yegor256/cactoos/issues/1389) is still not solved; solved: [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1362](https://github.com/yegor256/cactoos/issues/1362), [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376).

[2020-05-15 04:34] 0pdd commented on #1343
@0pdd the puzzle [#1389](https://github.com/yegor256/cactoos/issues/1389) is still not solved; solved: [#1362](https://github.com/yegor256/cactoos/issues/1362), [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376).

[2020-05-15 04:34] 0pdd commented on #1362
@0pdd the puzzle [#1389](https://github.com/yegor256/cactoos/issues/1389) is still not solved; solved: [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376).

[2020-05-15 04:34] 0pdd commented on #1367
@0pdd the puzzle [#1389](https://github.com/yegor256/cactoos/issues/1389) is still not solved; solved: [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376).

[2020-05-15 04:34] 0pdd commented on #1375
@0pdd the puzzle [#1389](https://github.com/yegor256/cactoos/issues/1389) is still not solved.

[2020-05-15 04:34] 0crat commented on #1389
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-05-15 05:01] 0crat commented on #1375
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-15 05:04] 0crat commented on #1389
The job [#1389](https://github.com/yegor256/cactoos/issues/1389) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/440dcc76-0233-48eb-94c7-6e4ac30fa5cb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-05-15 05:47] sereshqua commented on #1375
@0crat quality good

[2020-05-16 15:05] victornoel commented on #1389
@0crat refuse

[2020-05-16 15:06] 0crat commented on #1389
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#1389](https://github.com/yegor256/cactoos/issues/1389), please stop working. Reason for job resignation: Order was cancelled

[2020-05-16 15:50] 0crat commented on #1389
The job [#1389](https://github.com/yegor256/cactoos/issues/1389) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C63314D6Z/b3049cc0-75e3-4b05-be9d-6a0000a383ad); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2020-05-17 21:37] marceloamadeu commented on #1381
@0crat wait

[2020-05-18 19:39] #1389 closed

[2020-05-18 19:39] 0pdd commented on #1389
The puzzle `1375-b5541bca` has disappeared from the source code, that's why I closed this issue.

[2020-05-18 19:39] 0pdd opened #1391 "package-info.java:28-31: Continue replacing usage of..."
The puzzle `1389-b5541bca` from #1389 has to be resolved:

https://github.com/yegor256/cactoos/blob/f23db2109a41ca593e037e5b7d7151a24a4422d6/src/test/java/org/cactoos/scalar/package-info.java#L28-L31

The puzzle was created by marceloamadeu on 17-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-05-18 19:40] 0pdd commented on #1033
@llorllale 2 puzzles [#1381](https://github.com/yegor256/cactoos/issues/1381), [#1391](https://github.com/yegor256/cactoos/issues/1391) are still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#

[2020-05-18 19:40] 0pdd commented on #1117
@0pdd 2 puzzles [#1381](https://github.com/yegor256/cactoos/issues/1381), [#1391](https://github.com/yegor256/cactoos/issues/1391) are still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331]

[2020-05-18 19:40] 0pdd commented on #1152
@0pdd 2 puzzles [#1381](https://github.com/yegor256/cactoos/issues/1381), [#1391](https://github.com/yegor256/cactoos/issues/1391) are still not solved; solved: [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340]

[2020-05-18 19:40] 0pdd commented on #1182
@0pdd 2 puzzles [#1381](https://github.com/yegor256/cactoos/issues/1381), [#1391](https://github.com/yegor256/cactoos/issues/1391) are still not solved; solved: [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341]

[2020-05-18 19:40] 0pdd commented on #1228
@0pdd 2 puzzles [#1381](https://github.com/yegor256/cactoos/issues/1381), [#1391](https://github.com/yegor256/cactoos/issues/1391) are still not solved; solved: [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343]

[2020-05-18 19:40] 0pdd commented on #1235
@0pdd 2 puzzles [#1381](https://github.com/yegor256/cactoos/issues/1381), [#1391](https://github.com/yegor256/cactoos/issues/1391) are still not solved; solved: [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360]

[2020-05-18 19:40] 0pdd commented on #1331
@0pdd 2 puzzles [#1381](https://github.com/yegor256/cactoos/issues/1381), [#1391](https://github.com/yegor256/cactoos/issues/1391) are still not solved; solved: [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1362]

[2020-05-18 19:40] 0pdd commented on #1340
@0pdd the puzzle [#1391](https://github.com/yegor256/cactoos/issues/1391) is still not solved; solved: [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1362](https://github.com/yegor256/cactoos/issues/1362), [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1389]

[2020-05-18 19:40] 0pdd commented on #1343
@0pdd the puzzle [#1391](https://github.com/yegor256/cactoos/issues/1391) is still not solved; solved: [#1362](https://github.com/yegor256/cactoos/issues/1362), [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1389](https://github.com/yegor256/cactoos/issues/1389).

[2020-05-18 19:40] 0pdd commented on #1362
@0pdd the puzzle [#1391](https://github.com/yegor256/cactoos/issues/1391) is still not solved; solved: [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1389](https://github.com/yegor256/cactoos/issues/1389).

[2020-05-18 19:40] 0pdd commented on #1367
@0pdd the puzzle [#1391](https://github.com/yegor256/cactoos/issues/1391) is still not solved; solved: [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1389](https://github.com/yegor256/cactoos/issues/1389).

[2020-05-18 19:40] 0pdd commented on #1375
@0pdd the puzzle [#1391](https://github.com/yegor256/cactoos/issues/1391) is still not solved; solved: [#1389](https://github.com/yegor256/cactoos/issues/1389).

[2020-05-18 19:40] 0pdd commented on #1389
@0pdd the puzzle [#1391](https://github.com/yegor256/cactoos/issues/1391) is still not solved.

[2020-05-18 19:40] 0crat commented on #1391
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-05-18 19:52] #1381 closed

[2020-05-18 19:52] 0pdd commented on #1381
The puzzle `1372-f972cb6f` has disappeared from the source code, that's why I closed this issue.

[2020-05-18 19:53] 0pdd opened #1392 "TeeInputFromReaderTest.java:39-42: Correct any TeeInput..."
The puzzle `1381-4d58016d` from #1381 has to be resolved:

https://github.com/yegor256/cactoos/blob/47cd894b71d4029fadb69843843f4c69de9eda10/src/test/java/org/cactoos/io/TeeInputFromReaderTest.java#L39-L42

The puzzle was created by marceloamadeu on 13-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\

[2020-05-18 19:53] 0pdd commented on #1033
@llorllale 2 puzzles [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1392](https://github.com/yegor256/cactoos/issues/1392) are still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#

[2020-05-18 19:53] 0pdd commented on #1117
@0pdd 2 puzzles [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1392](https://github.com/yegor256/cactoos/issues/1392) are still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331]

[2020-05-18 19:53] 0pdd commented on #1152
@0pdd 2 puzzles [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1392](https://github.com/yegor256/cactoos/issues/1392) are still not solved; solved: [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340]

[2020-05-18 19:53] 0pdd commented on #1182
@0pdd 2 puzzles [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1392](https://github.com/yegor256/cactoos/issues/1392) are still not solved; solved: [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341]

[2020-05-18 19:53] 0pdd commented on #1228
@0pdd 2 puzzles [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1392](https://github.com/yegor256/cactoos/issues/1392) are still not solved; solved: [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343]

[2020-05-18 19:53] 0pdd commented on #1235
@0pdd 2 puzzles [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1392](https://github.com/yegor256/cactoos/issues/1392) are still not solved; solved: [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360]

[2020-05-18 19:53] 0pdd commented on #1331
@0pdd 2 puzzles [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1392](https://github.com/yegor256/cactoos/issues/1392) are still not solved; solved: [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1362]

[2020-05-18 19:53] 0pdd commented on #1341
@0pdd the puzzle [#1392](https://github.com/yegor256/cactoos/issues/1392) is still not solved; solved: [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1372](https://github.com/yegor256/cactoos/issues/1372), [#1381](https://github.com/yegor256/cactoos/issues/1381).

[2020-05-18 19:53] 0pdd commented on #1360
@0pdd the puzzle [#1392](https://github.com/yegor256/cactoos/issues/1392) is still not solved; solved: [#1372](https://github.com/yegor256/cactoos/issues/1372), [#1381](https://github.com/yegor256/cactoos/issues/1381).

[2020-05-18 19:53] 0pdd commented on #1372
@0pdd the puzzle [#1392](https://github.com/yegor256/cactoos/issues/1392) is still not solved; solved: [#1381](https://github.com/yegor256/cactoos/issues/1381).

[2020-05-18 19:53] 0pdd commented on #1381
@0pdd the puzzle [#1392](https://github.com/yegor256/cactoos/issues/1392) is still not solved.

[2020-05-18 19:53] 0crat commented on #1392
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-05-18 20:01] 0crat commented on #1389
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-18 20:11] 0crat commented on #1381
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-18 20:19] sereshqua commented on #1389
@0crat quality good

[2020-05-18 20:20] sereshqua commented on #1381
@0crat quality good

[2020-05-18 20:49] 0crat commented on #1391
The job [#1391](https://github.com/yegor256/cactoos/issues/1391) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/6c3fd8fe-7bab-4c21-b8d9-231add1574a1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-05-18 21:50] 0crat commented on #1392
The job [#1392](https://github.com/yegor256/cactoos/issues/1392) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/de75c7b5-e050-446d-b2a0-f5b5ee8e31d2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-05-19 18:49] victornoel commented on #1391
@0crat wait for #1393

[2020-05-19 19:12] victornoel commented on #1392
@0crat wait for #1394

[2020-05-24 17:39] #1392 closed

[2020-05-24 17:39] 0pdd commented on #1392
The puzzle `1381-4d58016d` has disappeared from the source code, that's why I closed this issue.

[2020-05-24 17:39] 0pdd opened #1395 "TeeInputFromInputTest.java:39-42: Correct any TeeInput..."
The puzzle `1392-4d58016d` from #1392 has to be resolved:

https://github.com/yegor256/cactoos/blob/3843e86d3c95f02d5529f8743184ca8d4190a762/src/test/java/org/cactoos/io/TeeInputFromInputTest.java#L39-L42

The puzzle was created by Victor Noël on 19-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-05-24 17:39] 0pdd commented on #1033
@llorllale 2 puzzles [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1395](https://github.com/yegor256/cactoos/issues/1395) are still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#

[2020-05-24 17:39] 0pdd commented on #1117
@0pdd 2 puzzles [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1395](https://github.com/yegor256/cactoos/issues/1395) are still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331]

[2020-05-24 17:39] 0pdd commented on #1152
@0pdd 2 puzzles [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1395](https://github.com/yegor256/cactoos/issues/1395) are still not solved; solved: [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340]

[2020-05-24 17:39] 0pdd commented on #1182
@0pdd 2 puzzles [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1395](https://github.com/yegor256/cactoos/issues/1395) are still not solved; solved: [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341]

[2020-05-24 17:39] 0pdd commented on #1228
@0pdd 2 puzzles [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1395](https://github.com/yegor256/cactoos/issues/1395) are still not solved; solved: [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343]

[2020-05-24 17:39] 0pdd commented on #1235
@0pdd 2 puzzles [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1395](https://github.com/yegor256/cactoos/issues/1395) are still not solved; solved: [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360]

[2020-05-24 17:39] 0pdd commented on #1331
@0pdd 2 puzzles [#1391](https://github.com/yegor256/cactoos/issues/1391), [#1395](https://github.com/yegor256/cactoos/issues/1395) are still not solved; solved: [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1362]

[2020-05-24 17:40] 0pdd commented on #1341
@0pdd the puzzle [#1395](https://github.com/yegor256/cactoos/issues/1395) is still not solved; solved: [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1372](https://github.com/yegor256/cactoos/issues/1372), [#1381](https://github.com/yegor256/cactoos/issues/1381), [#1392](https://github.com/yegor256/cactoos/issues/1392).

[2020-05-24 17:40] 0pdd commented on #1360
@0pdd the puzzle [#1395](https://github.com/yegor256/cactoos/issues/1395) is still not solved; solved: [#1372](https://github.com/yegor256/cactoos/issues/1372), [#1381](https://github.com/yegor256/cactoos/issues/1381), [#1392](https://github.com/yegor256/cactoos/issues/1392).

[2020-05-24 17:40] 0pdd commented on #1372
@0pdd the puzzle [#1395](https://github.com/yegor256/cactoos/issues/1395) is still not solved; solved: [#1381](https://github.com/yegor256/cactoos/issues/1381), [#1392](https://github.com/yegor256/cactoos/issues/1392).

[2020-05-24 17:40] 0pdd commented on #1381
@0pdd the puzzle [#1395](https://github.com/yegor256/cactoos/issues/1395) is still not solved; solved: [#1392](https://github.com/yegor256/cactoos/issues/1392).

[2020-05-24 17:40] 0pdd commented on #1392
@0pdd the puzzle [#1395](https://github.com/yegor256/cactoos/issues/1395) is still not solved.

[2020-05-24 17:40] 0crat commented on #1395
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-05-24 17:58] 0crat commented on #1392
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-24 17:59] 0crat commented on #1392
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.14](https://github.com/zerocracy/farm): CID: [d15d805a-537c-42ed-af59-83aeb5c00e1e](https://www.0crat.com/footprint/C63314D6Z/d15d805a-537c-42ed-af59-83aeb5c00e1e), Type: "Remove job from WBS"

[2020-05-24 18:05] #1391 closed

[2020-05-24 18:05] 0pdd commented on #1391
The puzzle `1389-b5541bca` has disappeared from the source code, that's why I closed this issue.

[2020-05-24 18:05] 0pdd opened #1396 "package-info.java:28-31: Continue replacing usage of..."
The puzzle `1391-715b3f6c` from #1391 has to be resolved:

https://github.com/yegor256/cactoos/blob/9a1dc050f8cfe56cc0595331c1161c93bd7e0f44/src/test/java/org/cactoos/scalar/package-info.java#L28-L31

The puzzle was created by Victor Noël on 19-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2020-05-24 18:05] 0pdd commented on #1033
@llorllale 2 puzzles [#1395](https://github.com/yegor256/cactoos/issues/1395), [#1396](https://github.com/yegor256/cactoos/issues/1396) are still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#

[2020-05-24 18:05] 0pdd commented on #1117
@0pdd 2 puzzles [#1395](https://github.com/yegor256/cactoos/issues/1395), [#1396](https://github.com/yegor256/cactoos/issues/1396) are still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152), [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331]

[2020-05-24 18:05] 0pdd commented on #1152
@0pdd 2 puzzles [#1395](https://github.com/yegor256/cactoos/issues/1395), [#1396](https://github.com/yegor256/cactoos/issues/1396) are still not solved; solved: [#1182](https://github.com/yegor256/cactoos/issues/1182), [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340]

[2020-05-24 18:05] 0pdd commented on #1182
@0pdd 2 puzzles [#1395](https://github.com/yegor256/cactoos/issues/1395), [#1396](https://github.com/yegor256/cactoos/issues/1396) are still not solved; solved: [#1228](https://github.com/yegor256/cactoos/issues/1228), [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341]

[2020-05-24 18:05] 0pdd commented on #1228
@0pdd 2 puzzles [#1395](https://github.com/yegor256/cactoos/issues/1395), [#1396](https://github.com/yegor256/cactoos/issues/1396) are still not solved; solved: [#1235](https://github.com/yegor256/cactoos/issues/1235), [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343]

[2020-05-24 18:05] 0pdd commented on #1235
@0pdd 2 puzzles [#1395](https://github.com/yegor256/cactoos/issues/1395), [#1396](https://github.com/yegor256/cactoos/issues/1396) are still not solved; solved: [#1331](https://github.com/yegor256/cactoos/issues/1331), [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360]

[2020-05-24 18:05] 0pdd commented on #1331
@0pdd 2 puzzles [#1395](https://github.com/yegor256/cactoos/issues/1395), [#1396](https://github.com/yegor256/cactoos/issues/1396) are still not solved; solved: [#1340](https://github.com/yegor256/cactoos/issues/1340), [#1341](https://github.com/yegor256/cactoos/issues/1341), [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1360](https://github.com/yegor256/cactoos/issues/1360), [#1362]

[2020-05-24 18:05] 0pdd commented on #1340
@0pdd the puzzle [#1396](https://github.com/yegor256/cactoos/issues/1396) is still not solved; solved: [#1343](https://github.com/yegor256/cactoos/issues/1343), [#1362](https://github.com/yegor256/cactoos/issues/1362), [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1389]

[2020-05-24 18:05] 0pdd commented on #1343
@0pdd the puzzle [#1396](https://github.com/yegor256/cactoos/issues/1396) is still not solved; solved: [#1362](https://github.com/yegor256/cactoos/issues/1362), [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1389](https://github.com/yegor256/cactoos/issues/1389), [#1391]

[2020-05-24 18:06] 0pdd commented on #1362
@0pdd the puzzle [#1396](https://github.com/yegor256/cactoos/issues/1396) is still not solved; solved: [#1367](https://github.com/yegor256/cactoos/issues/1367), [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1389](https://github.com/yegor256/cactoos/issues/1389), [#1391](https://github.com/yegor256/cactoos/issues/1391).

[2020-05-24 18:06] 0pdd commented on #1367
@0pdd the puzzle [#1396](https://github.com/yegor256/cactoos/issues/1396) is still not solved; solved: [#1375](https://github.com/yegor256/cactoos/issues/1375), [#1376](https://github.com/yegor256/cactoos/issues/1376), [#1389](https://github.com/yegor256/cactoos/issues/1389), [#1391](https://github.com/yegor256/cactoos/issues/1391).

[2020-05-24 18:06] 0pdd commented on #1375
@0pdd the puzzle [#1396](https://github.com/yegor256/cactoos/issues/1396) is still not solved; solved: [#1389](https://github.com/yegor256/cactoos/issues/1389), [#1391](https://github.com/yegor256/cactoos/issues/1391).

[2020-05-24 18:06] 0pdd commented on #1389
@0pdd the puzzle [#1396](https://github.com/yegor256/cactoos/issues/1396) is still not solved; solved: [#1391](https://github.com/yegor256/cactoos/issues/1391).

[2020-05-24 18:06] victornoel commented on #1392
@0crat status

[2020-05-24 18:06] 0pdd commented on #1391
@0pdd the puzzle [#1396](https://github.com/yegor256/cactoos/issues/1396) is still not solved.

[2020-05-24 18:06] 0crat commented on #1396
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-05-24 18:07] 0crat commented on #1392
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1392](https://github.com/yegor256/cactoos/issues/1392) is [in scope](http://www.zerocracy.com/policy.html#14) for 6days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * The job is wai

[2020-05-24 18:10] victornoel commented on #1391
@0crat status

[2020-05-24 18:21] 0crat commented on #1391
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1391](https://github.com/yegor256/cactoos/issues/1391) is [in scope](http://www.zerocracy.com/policy.html#14) for 6days
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [6days](http://www.zerocracy.com/policy.html#

[2020-05-24 18:24] 0crat commented on #1391
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-24 18:45] 0crat commented on #1395
The job [#1395](https://github.com/yegor256/cactoos/issues/1395) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/9cd21565-0218-4d55-b7f4-199c7872c7cb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-05-24 19:46] sereshqua commented on #1392
@0crat quality good

[2020-05-24 19:47] sereshqua commented on #1391
@0crat quality good

[2020-05-24 20:01] 0crat commented on #1396
The job [#1396](https://github.com/yegor256/cactoos/issues/1396) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/9c4d366e-1e12-43ce-bd74-7b96f364211d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-05-25 17:52] victornoel commented on #1395
@0crat refuse

[2020-05-25 17:53] victornoel commented on #1396
@0crat refuse

[2020-05-25 17:53] 0crat commented on #1395
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#1395](https://github.com/yegor256/cactoos/issues/1395), please stop working. Reason for job resignation: Order was cancelled

[2020-05-25 17:54] 0crat commented on #1395
@victornoel Job refused in 23 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-05-25 17:55] 0crat commented on #1396
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#1396](https://github.com/yegor256/cactoos/issues/1396), please stop working. Reason for job resignation: Order was cancelled

[2020-05-25 17:55] 0crat commented on #1396
@victornoel Job refused in 21 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-05-25 18:53] 0crat commented on #1395
The job [#1395](https://github.com/yegor256/cactoos/issues/1395) assigned to @scrobot[/z](https://www.0crat.com/u/scrobot), here is [why](https://www.0crat.com/footprint/C63314D6Z/bc850330-58e0-447e-a280-fb26f354a50f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-05-25 19:53] 0crat commented on #1396
The job [#1396](https://github.com/yegor256/cactoos/issues/1396) assigned to @scrobot[/z](https://www.0crat.com/u/scrobot), here is [why](https://www.0crat.com/footprint/C63314D6Z/e3a7b88a-586b-4302-a5b2-be0565535c38); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-06-07 21:17] andreoss opened #1397 "IteratorOfChars & IteratorOfBytes have too few contructors"
It would be nice to have additional constructors for `IteratorOfChars` and `IteratorOfBytes` (and their Iterable counterparts) which accept `String`, Text` or `Bytes` as a parameter.
Thus, the following code
[code]
could be refactored as
[code]

[2020-06-07 21:18] 0crat commented on #1397
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-06-09 10:48] paulodamaso commented on #1397
@0crat in

[2020-06-09 11:51] 0crat commented on #1397
The job [#1397](https://github.com/yegor256/cactoos/issues/1397) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/ee2d688f-38c1-437c-bf8b-0b4d9efdf318); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-06-09 12:42] victornoel commented on #1397
@0crat refuse

[2020-06-09 12:47] 0crat commented on #1397
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#1397](https://github.com/yegor256/cactoos/issues/1397), please stop working. Reason for job resignation: Order was cancelled

[2020-06-09 12:47] 0crat commented on #1397
@victornoel Job refused in 1 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-15 21:03] andreoss commented on #1349
If implemented this will make `new ScalarOf(() -> value)` syntax ambiguous, and will require explicit cast to either of `Supplier`, `Callable` or `Scalar`.

[2020-06-15 23:09] andreoss opened #1400 "Set theory objects in `org.cactoos.set`"
As discussed here #1387, `set.Diff` is required in order to implement `map.Diff`.
For consistency at least 3 objects can be introduced
- `Diff`
- `Intersection`
- `Union` (which is not necessary and operation can be added as secondary ctor in `SetOf`)

[2020-06-15 23:09] 0crat commented on #1400
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-06-17 19:09] andreoss commented on #1386
@SimonHarmonicMinor
This would go against the principles described here [1] [2].
Since the only good reason for catching is to re-throw, the concrete type of exception is not important.

For this specific case:
you may consider using a different type `Func<String, Proc<Resource>>`,
And then combining it with `IoCheckedProc` or some other `Proc` decorator that captures your intend for `IOException`

[2020-06-20 21:36] andreoss commented on #1397
Implemented in #1398

[2020-06-20 21:36] #1397 closed

[2020-06-20 21:57] 0crat commented on #1397
Job `gh:yegor256/cactoos#1397` is not assigned, can't get performer

[2020-06-22 08:04] andreoss commented on #893
@paulodamaso This was fixed in #916

[2020-06-22 09:04] andreoss commented on #895
@paulodamaso
`FallbackFrom` [1] seems to be in violation of  "no public methods without `@Override`" principle (Maybe it was indented as a "smart" class?).
The reason for that is to provide an ability to rank an exception by its inheritance level.
This would be unnecessary if the nearest matching exception were always selected, in accordance with the semantics of catch-blocks, execution of which d

[2020-06-29 08:29] andreoss commented on #1400
@paulodamaso Take a look, please

[2020-06-30 16:09] andreoss opened #1403 "TextEnvelope should be sticky when constructed from `Scalar<String>`"
Or probably `TextOf` (https://github.com/yegor256/cactoos/issues/1287).
[code]

[2020-06-30 16:09] 0crat commented on #1403
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-07-02 13:08] paulodamaso opened #1404 "Victor Noel as architect"
Make @victornoel new project architect

[2020-07-02 13:08] paulodamaso commented on #1404
@0crat assign me

[2020-07-02 13:10] 0crat commented on #1404
@paulodamaso The job [#1404](https://github.com/yegor256/cactoos/issues/1404) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C63314D6Z/b6452335-f787-409d-a4d9-8035606753aa); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2020-07-02 13:53] #1404 closed

[2020-07-02 14:11] 0crat commented on #1404
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-04 10:23] #1277 closed

[2020-07-04 10:24] 0pdd commented on #1277
The puzzle `1000-1e922fa0` has disappeared from the source code, that's why I closed this issue.

[2020-07-04 10:24] 0pdd opened #1406 "RepeatedProc.java:34-37: Split the entire..."
The puzzle `1277-9cbed564` from #1277 has to be resolved:

https://github.com/yegor256/cactoos/blob/9612f2a56c71f73952ed3c6fb6212d06aa901c7c/src/main/java/org/cactoos/RepeatedProc.java#L34-L37

The puzzle was created by andreoss on 18-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2020-07-04 10:24] 0pdd opened #1407 "TimedTest.java:265-266: Create RepeatedCallable decorator..."
The puzzle `1277-1f8d2dd2` from #1277 has to be resolved:

https://github.com/yegor256/cactoos/blob/9612f2a56c71f73952ed3c6fb6212d06aa901c7c/src/test/java/org/cactoos/experimental/TimedTest.java#L265-L266

The puzzle was created by andreoss on 15-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-07-04 10:24] 0pdd commented on #962
@dgroup 2 puzzles [#1406](https://github.com/yegor256/cactoos/issues/1406), [#1407](https://github.com/yegor256/cactoos/issues/1407) are still not solved; solved: [#1000](https://github.com/yegor256/cactoos/issues/1000), [#1277](https://github.com/yegor256/cactoos/issues/1277), [#972](https://github.com/yegor256/cactoos/issues/972).

[2020-07-04 10:24] 0crat commented on #1406
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso), @victornoel[/z](https://www.0crat.com/u/victornoel) please, pay attention to this issue

[2020-07-04 10:24] 0pdd commented on #972
@0pdd 2 puzzles [#1406](https://github.com/yegor256/cactoos/issues/1406), [#1407](https://github.com/yegor256/cactoos/issues/1407) are still not solved; solved: [#1000](https://github.com/yegor256/cactoos/issues/1000), [#1277](https://github.com/yegor256/cactoos/issues/1277).

[2020-07-04 10:24] 0pdd commented on #1000
@0pdd 2 puzzles [#1406](https://github.com/yegor256/cactoos/issues/1406), [#1407](https://github.com/yegor256/cactoos/issues/1407) are still not solved; solved: [#1277](https://github.com/yegor256/cactoos/issues/1277).

[2020-07-04 10:24] 0pdd commented on #1277
@0pdd 2 puzzles [#1406](https://github.com/yegor256/cactoos/issues/1406), [#1407](https://github.com/yegor256/cactoos/issues/1407) are still not solved.

[2020-07-04 10:25] 0crat commented on #1407
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso), @victornoel[/z](https://www.0crat.com/u/victornoel) please, pay attention to this issue

[2020-07-04 10:45] 0crat commented on #1277
Job `gh:yegor256/cactoos#1277` is not assigned, can't get performer

[2020-07-04 11:46] 0crat commented on #1406
The job [#1406](https://github.com/yegor256/cactoos/issues/1406) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C63314D6Z/835a97c8-1c32-4e3e-8fae-15eb6e6719b3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2020-07-04 14:19] fabriciofx commented on #1167
@svendiedrichsen @tess1o @victornoel  please, look the `Async` class:
[code]
If the user pass only a `Func` to `Async` it'll create an `Executor`. So, `Async` *must* shutdown if and only if has been created by itself.

[2020-07-04 15:32] fabriciofx opened #1408 "File 'stale_outputs_checked' was included by mistake"
The file `stale_outputs_checked` was included by mistake. Please, remove it.

[2020-07-04 15:32] 0crat commented on #1408
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso), @victornoel[/z](https://www.0crat.com/u/victornoel) please, pay attention to this issue

[2020-07-04 15:36] fabriciofx commented on #1385
@vzurauskas Really? This [constructor](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/list/Joined.java#L45} doesn't what do you want?

[2020-07-04 15:39] fabriciofx commented on #1406
@marceloamadeu @victornoel I think these interfaces must stay in `org.cactoos`. WDYT?

[2020-07-04 16:06] fabriciofx opened #1409 "Rename RepeatedProc to Repeated and move to func or proc package"
To me seems `RepeatedProc` has two problems:

1. It's in the wrong package (`org.cactoos`). and it should be in `org.cactoos.func` or `org.cactoos.proc` package

2. It's a decorator, so should be renamed to `Repeated`

@victornoel WDYT?

[2020-07-04 16:06] 0crat commented on #1409
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso), @victornoel[/z](https://www.0crat.com/u/victornoel) please, pay attention to this issue

[2020-07-04 16:30] victornoel commented on #1406
@fabriciofx yes totally.

@marceloamadeu can you also at the same time take care of moving `RepeatedProc` as `Repeated` in the `proc` package as proposed in #1409?

I let those two points passes by mistake

[2020-07-04 16:30] victornoel commented on #1409
@fabriciofx yes, let's tackle that simply as part of #1406

[2020-07-04 16:32] victornoel commented on #1408
@fabriciofx thx

@andreoss please be careful not to include undesired file in your PRs in the future, I've completely missed it before merging.

[2020-07-04 16:35] #1408 closed

[2020-07-04 16:36] victornoel commented on #1287
@0crat in

[2020-07-04 16:38] victornoel commented on #1403
@andreoss no, this is not the responsibility of `TextOf`. If you need this, you either introduce a `Sticky` decorator for `Text` or you pass the `Sticky` implementation of `Scalar` to `TextOf` constructor.

[2020-07-04 16:41] victornoel commented on #1386
@SimonHarmonicMinor @andreoss I'm not sure for now, but please also see #944 for similar related discussion

[2020-07-04 16:42] victornoel commented on #1385
@vzurauskas you are meant to use `new ListOf<>(new iterable.Joined<>(list1, list2));` for this, WDYT?

[2020-07-04 16:42] victornoel commented on #1384
@0crat in

[2020-07-04 16:43] victornoel commented on #1333
@fanifieiev can you propose some example of how it would look like in code?

[2020-07-04 16:43] victornoel commented on #1400
@andreoss for now this is out of scope as for #1387 but let's keep this open for later

[2020-07-04 16:44] victornoel commented on #1327
@Guseyn I'm going to close this as wontfix

[2020-07-04 16:44] #1327 closed

[2020-07-04 16:44] victornoel commented on #1318
@paulodamaso I think this can be closed now?

[2020-07-04 16:45] victornoel commented on #1280
@0crat in

[2020-07-04 16:48] victornoel commented on #1249
@fanifieiev so in the end, this is out of scope of cactoos for now until v1 is released, and then we can take into the scope

[2020-07-04 16:50] victornoel commented on #1245
@piotrkot do you mean `InputStream` to `OutputStream` and not the opposite?

[2020-07-04 16:52] victornoel commented on #1237
@fanifieiev that seems a good idea, can you propose some example code as how it would look?

[2020-07-04 16:57] victornoel commented on #1199
@0crat in

[2020-07-04 16:59] victornoel commented on #1195
@tess1o https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/text/Joined.java already does that, right?

[2020-07-04 16:59] 0crat commented on #1327
Job `gh:yegor256/cactoos#1327` is not assigned, can't get performer

[2020-07-04 17:00] victornoel commented on #1180
@emfataliev it is ok to make a PR for a ticket that is not accepted by ARC, I think in this case it would be accepted, but you have to be prepared to have it refused if ARC doesn't want it of course :)

Is the problem still present?

[2020-07-04 17:01] 0crat commented on #1408
Job `gh:yegor256/cactoos#1408` is not assigned, can't get performer

[2020-07-04 17:01] victornoel commented on #1173
@StuporHero could you show a code example to clarify what you want to do?

[2020-07-04 17:02] victornoel commented on #1170
@0crat in

[2020-07-04 17:04] victornoel commented on #1169
@0crat in

Let's do that, first for iterable and iterator.

[2020-07-04 17:05] #1163 closed

[2020-07-04 17:06] victornoel commented on #1132
@fabriciofx yes, please provide a test case or more explanation, I'm not clear what is the problem exactly :)

[2020-07-04 17:07] 0crat commented on #1169
@victornoel Argument "Let's" doesn't match regex `[A-Z]{2,3}`

[2020-07-04 17:11] victornoel commented on #999
@dgroup I think this is superseded by #1199 and #1406 (I know this ticket is older, but I didn't see it earlier). If you think there are more things to do going that way, please open a new ticket.

[2020-07-04 17:11] #999 closed

[2020-07-04 17:12] victornoel commented on #915
@vizotov I think this is now the case, I'm going to close this because it is very old but please feel free to open a new ticket if needed

[2020-07-04 17:12] #915 closed

[2020-07-04 17:13] victornoel commented on #923
@neonailol those classes seems to exists, I'm closing this ticket thus :)

[2020-07-04 17:13] #923 closed

[2020-07-04 17:17] victornoel commented on #895
@andreoss see also #1170

[2020-07-04 17:18] victornoel commented on #893
@andreoss thx

[2020-07-04 17:18] #893 closed

[2020-07-04 17:18] victornoel commented on #1169
@0crat in

[2020-07-04 17:23] 0crat commented on #1163
Job `gh:yegor256/cactoos#1163` is not assigned, can't get performer

[2020-07-04 17:28] 0crat commented on #999
Job `gh:yegor256/cactoos#999` is not assigned, can't get performer

[2020-07-04 17:29] 0crat commented on #915
Job [#915](https://github.com/yegor256/cactoos/issues/915) is not in the agenda of @llorllale[/z](https://www.0crat.com/u/llorllale), can't set title

[2020-07-04 17:30] 0crat commented on #923
Job `gh:yegor256/cactoos#923` is not assigned, can't get performer

[2020-07-04 17:33] 0crat commented on #915
The project doesn't have enough funds, can't make a payment

[2020-07-04 17:59] 0crat commented on #1407
The job [#1407](https://github.com/yegor256/cactoos/issues/1407) assigned to @borysfan[/z](https://www.0crat.com/u/borysfan), here is [why](https://www.0crat.com/footprint/C63314D6Z/f2c17788-8f72-4ddf-86a3-50607dfeafcf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-07-04 18:38] StuporHero commented on #1173
@victornoel

What must be done now:
[code]

What I'd like to be able to do:
[code]

Just add a Constructor like this:
[code]

[2020-07-05 04:35] fabriciofx commented on #1132
@victornoel `byte` in Java is signed, but if you're reading a unsigned value, you will got problems. See this [example](https://stackoverflow.com/a/9581563/3342479) to get more details:

*If you were thinking of the byte as unsigned (156) rather than signed (-100), as of Java 8 there's Byte.toUnsignedInt:*
[code]

[2020-07-05 04:40] fabriciofx opened #1410 "org.cactoos.text.Replaced uses StringBuffer instead of StringBuilder"
The class `org.cactoos.text.Replaced` uses `StringBuffer` instead of `StringBuilder` ([here](https://github.com/yegor256/cactoos/blob/3675019c59c64477e8b80a04a25f86d717d9ac4b/src/main/java/org/cactoos/text/Replaced.java#L88)). Let's change it because `StringBuilder` is more efficient.

[2020-07-05 04:40] 0crat commented on #1410
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso), @victornoel[/z](https://www.0crat.com/u/victornoel) please, pay attention to this issue

[2020-07-05 09:58] victornoel commented on #1132
@fabriciofx thank you, so I think most of the work here is to produce a negative test that show the bug and then to fix it I think

[2020-07-05 10:01] victornoel commented on #1132
@0crat in

[2020-07-05 10:05] victornoel commented on #1410
@fabriciofx good idea, let's replace all usage of StringBuilder with StringBuffer then, and banish its use with forbiddenapis in the pom.xml (there is already an example there).
Same with Vector, Hashtable and Stac, see https://rules.sonarsource.com/java/RSPEC-1149

[2020-07-05 10:05] victornoel commented on #1410
@0crat in

[2020-07-05 10:06] victornoel commented on #1173
@StuporHero ok, it's clear now, I thought you were asking for something more complex ^^ Thanks

Let's do that, and also let's take a look around the other classes in the `scalar` package to see if they have the same problem and let's fix it.

[2020-07-05 10:07] victornoel commented on #1173
@0crat in

[2020-07-05 10:14] victornoel commented on #1167
@fabriciofx good point. But we can't just shut it down after the submit, since we don't know if it's going to execute the task right now or later.

Actually I wonder what's the real need for such a class. I think we should delete it or find another abstraction that really makes sense. If one wants to execute something asynchronously, there already are far better, mature and well thoughts abstracti

[2020-07-05 11:18] victornoel opened #1411 "Bump jcabi-parent to latest and cleanup pom"
Time for some cleanup in that pom. Let's bump jcabi parent, add some todos to migrate to junit 5 and remove unused stuffs in the pom.

[2020-07-05 11:18] victornoel commented on #1411
@0crat assign me

[2020-07-05 11:21] 0crat commented on #1411
@victornoel The job [#1411](https://github.com/yegor256/cactoos/issues/1411) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/c8d184e9-4871-4be1-897b-72fcc3e8dc67); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy

[2020-07-05 12:52] victornoel commented on #1411
@0crat wait for #1412 to be merged

[2020-07-05 14:02] 0crat commented on #1200
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:02] 0crat commented on #1335
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:03] 0crat commented on #1411
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:03] 0crat commented on #1147
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:03] 0crat commented on #1183
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:03] 0crat commented on #1395
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:03] 0crat commented on #1396
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:04] 0crat commented on #1220
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:04] 0crat commented on #1217
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:04] 0crat commented on #1349
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:04] 0crat commented on #1135
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:05] 0crat commented on #895
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:05] 0crat commented on #906
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:06] 0crat commented on #1359
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:06] 0crat commented on #1223
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:07] 0crat commented on #1261
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:08] 0crat commented on #1407
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:08] 0crat commented on #1226
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:08] 0crat commented on #1406
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:09] 0crat commented on #1313
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:09] 0crat commented on #1283
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:09] 0crat commented on #1221
The architect of the project has changed; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is not at this role anymore; @victornoel[/z](https://www.0crat.com/u/victornoel) is the architect now

[2020-07-05 14:26] victornoel commented on #1200
@0crat status

[2020-07-05 14:45] victornoel commented on #1183
@0crat in

[2020-07-05 14:45] victornoel commented on #1395
@0crat in

[2020-07-05 14:48] victornoel commented on #1411
@0crat assign me

[2020-07-05 14:49] 0crat commented on #1200
@victornoel This is what I know about this job in C63314D6Z, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1200](https://github.com/yegor256/cactoos/issues/1200) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos%231200%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-07-05 14:50] victornoel commented on #1335
@0crat in

[2020-07-05 14:50] victornoel commented on #1200
@0crat in

[2020-07-05 14:53] victornoel commented on #1220
@0crat in

[2020-07-05 14:53] victornoel commented on #1217
@0crat in

[2020-07-05 14:54] victornoel commented on #1349
@0crat in

[2020-07-05 14:55] victornoel commented on #1349
@andreoss no, this is not intended, a solution would be to introduce various classes `OfCallable`, `OfSupplier` and `Of` would then take a `Scalar` I suppose.

[2020-07-05 14:55] victornoel commented on #1135
@0crat in

[2020-07-05 14:58] victornoel commented on #1359
@0crat in

[2020-07-05 14:58] victornoel commented on #1223
@0crat in

[2020-07-05 14:58] victornoel commented on #1261
@0crat in

[2020-07-05 14:59] victornoel commented on #1407
@0crat in

[2020-07-05 14:59] victornoel commented on #1226
@ryoku thank you for the PR

[2020-07-05 14:59] #1226 closed

[2020-07-05 15:00] victornoel commented on #1406
@0crat in

[2020-07-05 15:01] victornoel commented on #1406
@0crat assign @marceloamadeu

[2020-07-05 15:09] victornoel commented on #1396
@0crat in

[2020-07-05 15:11] 0crat commented on #1406
@victornoel The job [#1406](https://github.com/yegor256/cactoos/issues/1406) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C63314D6Z/652f9361-f38e-4983-90a5-c137eeade0e1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zer

[2020-07-05 15:12] 0crat commented on #1396
@victornoel Job [#1396](https://github.com/yegor256/cactoos/issues/1396) is already in scope

[2020-07-05 15:12] 0crat commented on #1406
@victornoel There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [51421259-0de3-4059-99ea-d56437f94906](https://www.0crat.com/footprint/C63314D6Z/51421259-0de3-4059-99ea-d56437f94906), Type: "Order was given"

[2020-07-05 15:16] 0crat commented on #1226
Job `gh:yegor256/cactoos#1226` is not assigned, can't get performer

[2020-07-05 15:19] victornoel commented on #1313
@fanifieiev apparently this was solved in #1402, if that's good for you you can close this issue

[2020-07-05 15:21] victornoel commented on #1183
@0crat in

[2020-07-05 15:23] victornoel commented on #1411
@0crat in

[2020-07-05 15:23] victornoel commented on #1411
@0crat assign @victornoel

[2020-07-05 15:24] 0crat commented on #1183
@victornoel Job [#1183](https://github.com/yegor256/cactoos/issues/1183) is already in scope

[2020-07-05 15:25] 0crat commented on #1411
@victornoel Job [#1411](https://github.com/yegor256/cactoos/issues/1411) is already in scope

[2020-07-05 15:26] 0crat commented on #1411
@victornoel The job [#1411](https://github.com/yegor256/cactoos/issues/1411) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/484fee46-d79b-4472-a84a-c11ed392afe5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy

[2020-07-05 15:27] 0crat commented on #1411
@victornoel There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [98aebee9-fc27-4037-9411-263bbea3dc30](https://www.0crat.com/footprint/C63314D6Z/98aebee9-fc27-4037-9411-263bbea3dc30), Type: "Order was given"

[2020-07-05 15:40] victornoel commented on #895
@Vatavuk @andreoss I propose this, WDYT?

[code]

With the implementation iterating in order through the fallbacks available and use the first one that supports the exception.

with one current implementation for `Fallback` being `FallbackFrom` as it is currently defined (maybe it could be moved as an inner static class of `Fallback` too). Other implementation could be based on the message of the

[2020-07-05 15:56] victornoel commented on #1147
@aivinog1 @iakunin we won't be tackling those problems in the end, it's not worth our energy, I will close this issue now.

[2020-07-05 15:56] #1147 closed

[2020-07-05 16:02] victornoel commented on #906
@0crat in

[2020-07-05 16:04] victornoel commented on #1313
@fanifieiev I've verified that it was correctly solved, let me close this

[2020-07-05 16:04] #1313 closed

[2020-07-05 16:14] 0crat commented on #1147
Job `gh:yegor256/cactoos#1147` is not assigned, can't get performer

[2020-07-05 16:19] victornoel commented on #1247
@0crat in

[2020-07-05 16:21] 0crat commented on #1313
Job `gh:yegor256/cactoos#1313` is not assigned, can't get performer

[2020-07-05 16:26] victornoel commented on #1254
@0crat in

[2020-07-05 16:26] victornoel commented on #1385
@vzurauskas see also #1254

[2020-07-05 16:28] victornoel opened #1413 "Let's remove non-decorator from list package"
In cactoos' collections classes, there is one one side iterable/iterator that provide iteration on collections of data, and on the other side the packages `list`, `set`, `map` and `collection` that concerns stateful data containers aka collections.

The current direction of Cactoos is to provide the maximum of functionality concerning iterable/iterator, and just the basic functionality concerning

[2020-07-05 16:28] victornoel commented on #1413
@0crat in

[2020-07-05 19:41] fabriciofx commented on #1410
@victornoel Yeah, good idea! But we need take care beacuse some classes use `StringBuffer` intentionally, as `InputOfTest` and `TextOfTest`.

[2020-07-05 19:56] fabriciofx commented on #1409
@victornoel I'll wait for finish #1406 to close this ticket, ok?

[2020-07-05 21:51] 0crat commented on #1395
The job [#1395](https://github.com/yegor256/cactoos/issues/1395) assigned to @longstone[/z](https://www.0crat.com/u/longstone), here is [why](https://www.0crat.com/footprint/C63314D6Z/87a033e1-34f8-43ca-b85c-60a6ebaeb090); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-07-05 22:50] fabriciofx opened #1414 "Randomized has an issue about its constructors parameters order"
Randomized has an issue about its constructors parameters order. Look:
[code]
So, I proposed it:
[code]
@victornoel WDYT?

[2020-07-05 22:50] 0crat commented on #1414
@victornoel[/z](https://www.0crat.com/u/victornoel) please, pay attention to this issue

[2020-07-05 22:51] 0crat commented on #1220
The job [#1220](https://github.com/yegor256/cactoos/issues/1220) assigned to @longstone[/z](https://www.0crat.com/u/longstone), here is [why](https://www.0crat.com/footprint/C63314D6Z/06208c7c-5acd-429b-9e5e-6e1883236add); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-07-05 23:31] fabriciofx opened #1415 "cactoos 0.45 fails to compile/execute tests on OpenJDK 11"
Cactoos fails to compile/execute tests on OpenJDK 14.0.1. @victornoel WDYT?

1. Info
[code]
2. Error message
[code]

[2020-07-05 23:31] 0crat commented on #1415
@victornoel[/z](https://www.0crat.com/u/victornoel) please, pay attention to this issue

[2020-07-06 01:30] andreoss commented on #1403
@victornoel Understood. I've found this behavior counter-intuitive, because having `Text` as a `String` substitute, makes one expect the same qualities from `Text` as `String` has (i.e immutability, it always evaluates to the same value)

[2020-07-06 01:30] #1403 closed

[2020-07-06 01:54] 0crat commented on #1403
Job `gh:yegor256/cactoos#1403` is not assigned, can't get performer

[2020-07-06 02:01] 0crat commented on #1135
The job [#1135](https://github.com/yegor256/cactoos/issues/1135) assigned to @englishman[/z](https://www.0crat.com/u/englishman), here is [why](https://www.0crat.com/footprint/C63314D6Z/b1c487eb-3ab8-4531-9f66-cfe9233b5b24); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-07-06 02:45] 0crat commented on #1223
The job [#1223](https://github.com/yegor256/cactoos/issues/1223) assigned to @englishman[/z](https://www.0crat.com/u/englishman), here is [why](https://www.0crat.com/footprint/C63314D6Z/b253394a-07e8-4067-8762-25ab7a8fa35b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-07-06 07:32] piotrkot commented on #1245
@victornoel I meant OutputStream to InputStream.

[2020-07-06 08:00] 0crat commented on #1349
The job [#1349](https://github.com/yegor256/cactoos/issues/1349) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C63314D6Z/e23c9046-1fd8-4cc6-99b5-4f1fc84f0ac2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2020-07-06 08:32] victornoel commented on #1200
@fabriciofx for the point 3, do you know if we can actually do that? See also #1245.

[2020-07-06 08:34] victornoel commented on #1414
@fabriciofx ok, let's do this but also add some more tests for the various constructors

[2020-07-06 08:34] victornoel commented on #1414
@0crat in

[2020-07-06 08:38] victornoel commented on #1409
@fabriciofx I think it's ok to close it right now, but feel free to track it and close it when it is actually fixed if you want :)

[2020-07-06 08:39] victornoel commented on #1410
@fabriciofx good point, yes!

[2020-07-06 08:47] fabriciofx commented on #1200
@victornoel when I've been written this issue, I was thinking in copy the `Output` content to an `Input` to be allowed read for other object. I don't know if is it possible, but I think it is a lot of useful! :)

[2020-07-06 08:48] fabriciofx commented on #1414
@victornoel I agree!

[2020-07-06 08:49] fabriciofx commented on #1409
@victornoel I agree. I'll close it now. Thanks!

[2020-07-06 08:49] #1409 closed

[2020-07-06 08:49] victornoel commented on #1200
@fabriciofx so, from reading from the code, it seems there is nothing to copy output to input, so I will include #1245 into scope and the present issue will just be about documenting whatever can be documented.