[2018-03-18 14:49] 0crat commented on #721
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-03-18 14:51] 0crat commented on #721
The job [#721](https://github.com/yegor256/cactoos/issues/721) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), here is [why](https://www.0crat.com/footprint/C63314D6Z/771481428). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-03-19 15:59] Vatavuk commented on #656
@yegor256 Should I create tickets for:
`ScalarWithFallback`/`FuncWithFallback` -> can be implemented
`FinalizedScalar`  -> further discussion needed
 ?

[2018-03-19 17:01] yegor256 commented on #656
@Vatavuk let's do `ScalarWithFallback` first and then will see

[2018-03-20 08:05] Vatavuk commented on #735
@yegor256 I would like to raise an impediment because the reviewer is not responding to my PR #738 .
I can't command 0crat since I'm not a member of the project. Could you help?

[2018-03-20 09:16] 0pdd commented on #721
The puzzle `631-845093d4` has disappeared from the source code, that's why I closed this issue.

[2018-03-20 09:16] #721 closed

[2018-03-20 09:16] 0pdd commented on #631
@driver733 the puzzle [#720](https://github.com/yegor256/cactoos/issues/720) is still not solved; solved: [#721](https://github.com/yegor256/cactoos/issues/721).

[2018-03-20 09:31] 0crat commented on #721
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-20 09:32] 0crat commented on #721
The job [#721](https://github.com/yegor256/cactoos/issues/721) is now out of scope

[2018-03-20 09:42] proshin-roman commented on #721
@yegor256 the issue was fixed by my pull request #731 but the tissue itself was already assigned to another developer. Can it be assigned back to me now (as an author of the fix)? Or what's the correct solution according to [Policy](http://www.zerocracy.com/policy.html)?

[2018-03-20 09:48] yegor256 commented on #721
@proshin-roman according to the policy, you lost this job two days ago, because of delay. Also, the quality here will be bad, since the new assignee didn't do the job -- QA will spot this.

[2018-03-20 10:01] elenavolokhova commented on #721
@0crat quality bad

[2018-03-20 10:02] 0crat commented on #721
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-03-20 10:02] 0crat commented on #721
Quality review completed: +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-03-21 08:02] 0crat commented on #736
@nick318[/z](https://www.0crat.com/u/nick318) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-21 08:06] 0crat commented on #737
@nick318[/z](https://www.0crat.com/u/nick318) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-21 12:55] 0crat commented on #735
@vatavuk[/z](https://www.0crat.com/u/vatavuk) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-21 14:15] yegor256 commented on #735
@Vatavuk try to talk to Zerocrat, he should listen to you

[2018-03-21 15:06] nick318 commented on #737
@0crat refuse

[2018-03-21 15:09] 0crat commented on #737
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318)

[2018-03-21 15:12] 0crat commented on #737
The job [#737](https://github.com/yegor256/cactoos/issues/737) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), here is [why](https://www.0crat.com/footprint/C63314D6Z/801522388); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear

[2018-03-21 15:21] nick318 commented on #736
@0crat refuse

[2018-03-21 15:22] 0crat commented on #736
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-03-21 15:23] 0crat commented on #736
@nick318 The user @nick318[/z](https://www.0crat.com/u/nick318) resigned from [#736](https://github.com/yegor256/cactoos/issues/736), please stop working. Reason for job resignation: Order was cancelled

[2018-03-21 15:23] 0crat commented on #736
@nick318 Job `gh:yegor256/cactoos#736` is not assigned, can't get performer

[2018-03-21 15:23] 0crat commented on #736
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318)

[2018-03-21 15:25] 0crat commented on #736
The job [#736](https://github.com/yegor256/cactoos/issues/736) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C63314D6Z/801535771); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-03-21 15:58] Vatavuk commented on #735
@0crat waiting
Waiting for reviewer reaction.

[2018-03-21 15:58] 0crat commented on #735
You need to ask somebody to invite you: https://github.com/zerocracy/datum#invite-only

[2018-03-22 08:32] 0crat commented on #644
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @sharpler[/z](https://www.0crat.com/u/sharpler), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-22 08:32] 0crat commented on #644
The job [#644](https://github.com/yegor256/cactoos/issues/644) is now out of scope

[2018-03-22 09:50] yegor256 commented on #735
@Vatavuk fill this form, someone will help: https://www.0crat.com/join

[2018-03-22 15:01] elenavolokhova commented on #644
@0crat status

[2018-03-22 15:01] 0crat commented on #644
@elenavolokhova This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#644](https://github.com/yegor256/cactoos/issues/644) is not in scope
  * The job is waiting quality review verdict by @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) for 6hr
  * @sharpler[/z](https://www.0crat.com/u/sharpler) will receive 30 minutes after quality rev

[2018-03-22 15:21] elenavolokhova commented on #644
@nikialeksey Why did you ask to close this issue? Do you agree to not be paid?

[2018-03-22 15:48] 0crat commented on #735
@Vatavuk The impediment for [#735](https://github.com/yegor256/cactoos/issues/735) was registered successfully by @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-03-22 18:59] Vatavuk commented on #736
@proshin-roman I think that `Checked*` classes should use `CheckedScalar` in their implementation.
Maybe you should consider raising an impediment until `CheckedScalar` is merged.
Example:
[code]

[2018-03-22 20:05] VsSekorin opened #746 "RangeOf is not final"
`org.cactoos.iterable.RangeOf` is not final. If I'm not mistaken, all classes should be final or abstract, except decarating envelopes. But because of Decorating Envelopes, `mvn clean install -Pqulice` is unable to warn this (no methods - no warning).

[2018-03-22 20:05] 0crat commented on #746
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-23 12:48] VsSekorin opened #747 "Reduced and Folded are confused"
Now `org.cactoos.scalar.Folded` is reduce and `org.cactoos.scalar.Reduced` is fold.
You can check it in Scala or another programming language. You can also see [cactoos-math FoldLeft](https://github.com/VsSekorin/cactoos-math/blob/master/src/main/java/com/vssekorin/cactoosmath/scalar/FoldLeft.java) and  [cactoos-math ReduceLeft](https://github.com/VsSekorin/cactoos-math/blob/master/src/main/java/c

[2018-03-23 12:48] 0crat commented on #747
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-23 12:49] yegor256 commented on #746
@VsSekorin fixed in 7177dd4 thanks!

[2018-03-23 12:49] #746 closed

[2018-03-23 13:00] elenavolokhova commented on #644
@0crat Quality bad

[2018-03-23 13:06] 0crat commented on #644
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-03-23 13:06] 0crat commented on #746
The job is not in WBS, won't close the order

[2018-03-23 13:08] 0crat commented on #644
Quality review completed: +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-03-24 14:42] proshin-roman commented on #686
@0crat wait until pull request is reviewed

[2018-03-24 14:44] 0crat commented on #686
@proshin-roman The impediment for [#686](https://github.com/yegor256/cactoos/issues/686) was registered successfully by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-03-24 17:01] SharplEr opened #748 "IteratorOf, ListOf, IterableOf and CollectionOf doesn't work well with char[]"
**The problem description**

The following code can't compiled:

[code]

Because
`IteratorOf<>("some text".toCharArray())`
Typifies into
`IteratorOf<char[]>("some text".toCharArray())`,
not into
`IteratorOf<Character>("some text".toCharArray())`.
Because of how Java generics works.

The same problems are with classes: `ListOf`, `IterableOf` and `CollectionOf`.

**Apache Commons solution**
In Apach

[2018-03-24 17:01] 0crat commented on #748
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-25 08:43] proshin-roman commented on #736
@Vatavuk I agree, all these Checked* classes should be based on CheckedScalar as it done for Unchecked* classes. So I put this issue on waiting. Thanks for the hint!

[2018-03-25 08:44] proshin-roman commented on #736
@0crat wait until #735 is merged

[2018-03-25 08:48] 0crat commented on #736
@proshin-roman The impediment for [#736](https://github.com/yegor256/cactoos/issues/736) was registered successfully by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-03-26 12:32] 0pdd commented on #720
The puzzle `631-6c33e53a` has disappeared from the source code, that's why I closed this issue.

[2018-03-26 12:32] #720 closed

[2018-03-26 12:32] 0pdd commented on #631
@driver733 all 2 puzzles are solved here: [#720](https://github.com/yegor256/cactoos/issues/720), [#721](https://github.com/yegor256/cactoos/issues/721).

[2018-03-26 12:49] 0crat commented on #720
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-26 12:50] 0crat commented on #720
The job [#720](https://github.com/yegor256/cactoos/issues/720) is now out of scope

[2018-03-26 13:06] yegor256 commented on #748
@SharplEr let's create `IterableOfChars`, `IterableOfIntegers`, `IterableOfBytes`, `IterableOfLongs`, etc. This will solve the problem?

[2018-03-26 18:06] SharplEr commented on #748
@yegor256 Sure.

[2018-03-27 04:59] neonailol commented on #704
@0crat waiting

[2018-03-27 04:59] 0crat commented on #704
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-03-27 04:59] 0crat commented on #704
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-03-27 05:24] 0crat commented on #704
@neonailol The impediment for [#704](https://github.com/yegor256/cactoos/issues/704) was registered successfully by @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-03-27 17:59] elenavolokhova commented on #720
@0crat quality good

[2018-03-27 18:05] 0crat commented on #720
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-03-27 21:49] neonailol opened #751 "hamcrest matchers should be in separate module"
It's nice that cactoos have its own set of hamcrest matchers, but it pollutes classpath, and ideologically should be in separate module eg `cactoos-matchers`

[2018-03-27 21:49] 0crat commented on #751
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-29 15:13] 0crat commented on #737
@flslkxtc[/z](https://www.0crat.com/u/flslkxtc) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-30 15:14] 0crat commented on #737
@flslkxtc[/z](https://www.0crat.com/u/flslkxtc) this job was assigned to you 9days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-30 18:34] 0crat commented on #737
@flslkxtc[/z](https://www.0crat.com/u/flslkxtc) this job was assigned to you 9days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-31 15:13] 0crat commented on #737
The user @flslkxtc[/z](https://www.0crat.com/u/flslkxtc) resigned from [#737](https://github.com/yegor256/cactoos/issues/737), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-03-31 15:15] 0crat commented on #737
The job [#737](https://github.com/yegor256/cactoos/issues/737) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/C63314D6Z/901550210); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-03-31 17:13] Vatavuk opened #753 "More ctors for And"
Lets add ctor to `And` just like for `Or` in #737

[code]

[2018-03-31 17:13] 0crat commented on #753
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-31 17:29] Vatavuk opened #754 "Align And and Or ctors"
`And` is missing some ctors that `Or` has.
I think those classes should reflect their ctors because they are practically the same just inverted.

[2018-03-31 17:29] 0crat commented on #754
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-01 05:35] wladyan opened #755 "Problem with org.cactoos.iterable.Joined"
This code not working:
[code]
It throws `NoSuchElementException`.

[2018-04-01 05:35] 0crat commented on #755
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-01 05:35] 0crat commented on #755
@wladyan[/z](https://www.0crat.com/u/wladyan) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-02 11:46] Vatavuk commented on #755
@wladyan The problem manifests when calling `next` method on iterator before checking if iterator has element to return.

The workaround for now is to call `hasNext`:
[code]

[2018-04-02 14:15] g4s8 opened #756 "SolidScalar is slow"
`SyncScalar` uses `syncronized` access to cached value, that is not really fast in comparation with mutable `volatile` fields (~ 50 times faster). I created an app to prove this: https://github.com/g4s8/synctest
I compared `SolidScalar` vs double check + volatile scalar and got these results for `10_000_000` executions on 17 threads:
(values are average of per `vallue()` execution)
`SyncScalar` -

[2018-04-02 14:15] 0crat commented on #756
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-02 14:15] 0crat commented on #756
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-02 17:41] wladyan commented on #755
@Vatavuk Yes, of course, this will work by using the `hasNext` method, however, I think the checking should be inside the method `org.cactoos.iterator.Joined#next`.

[2018-04-02 19:15] Vatavuk commented on #735
This PR is resolved in PR #738

[2018-04-02 19:19] yegor256 opened #757 "collection.Mapped consumes the entire collection"
That's a mistake.

[2018-04-02 19:29] yegor256 commented on #757
@rultor release, tag is `0.29.1`

[2018-04-02 19:31] rultor commented on #757
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14235-378019237)

[2018-04-02 19:31] 0crat commented on #735
@vatavuk[/z](https://www.0crat.com/u/vatavuk) the issue is closed not by @Vatavuk (its creator); I won't close the order; please, re-open it and ask @Vatavuk to close it

[2018-04-02 19:34] Vatavuk commented on #735
@yegor256 0crat won't close the order. How to deal with this?

[2018-04-02 19:43] rultor commented on #757
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14235-378019237) (took me 12min)

[2018-04-02 19:43] #757 closed

[2018-04-02 19:58] 0crat commented on #757
The job is not in WBS, won't close the order

[2018-04-02 20:35] yegor256 commented on #735
@Vatavuk it was a bug; try to close again, please.

[2018-04-02 20:44] #735 closed

[2018-04-02 21:00] 0crat commented on #735
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-02 21:00] 0crat commented on #735
The job [#735](https://github.com/yegor256/cactoos/issues/735) is now out of scope

[2018-04-02 21:13] Vatavuk commented on #735
@elenavolokhova I confirm.

[2018-04-02 21:13] elenavolokhova commented on #735
@Vatavuk Thanks!

[2018-04-02 21:13] elenavolokhova commented on #735
@0crat quality acceptable

[2018-04-02 21:14] 0crat commented on #735
Order was finished, quality is "acceptable": +30 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-04-02 21:14] 0crat commented on #735
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-04-03 10:21] yegor256 opened #758 "BytesOf(InputStream) ctor is missing"
Let's add it

[2018-04-03 10:22] yegor256 commented on #758
@rultor release, tag is `0.29.2`

[2018-04-03 10:22] rultor commented on #758
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14238-378202157)

[2018-04-03 10:36] rultor commented on #758
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14238-378202157) (took me 14min)

[2018-04-03 10:58] #758 closed

[2018-04-03 11:13] 0crat commented on #758
The job is not in WBS, won't close the order

[2018-04-05 11:02] Vatavuk commented on #737
@yegor256 Could you please assign @memoyil to this job. His PR #742 is reviewed and ready to be merged.

[2018-04-05 14:10] yegor256 commented on #737
@0crat assign @memoyil

[2018-04-05 14:10] 0crat commented on #737
@yegor256 The job [#737](https://github.com/yegor256/cactoos/issues/737) assigned to @memoyil[/z](https://www.0crat.com/u/memoyil), here is [why](https://www.0crat.com/footprint/C63314D6Z/951417155); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is n

[2018-04-05 14:10] 0crat commented on #737
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-05 14:13] memoyil commented on #737
@yegor256 Could you please invite me to 0crat?

[2018-04-05 14:15] yegor256 commented on #737
@memoyil just fill this form and someone will help you: https://www.0crat.com/join

[2018-04-05 14:25] 0crat commented on #755
Job [#755](https://github.com/yegor256/cactoos/issues/755) is now in scope, role is `DEV`

[2018-04-05 14:25] 0crat commented on #755
Thanks for your contribution, @wladyan[/z](https://www.0crat.com/u/wladyan)! If you would be a member of [the project](https://www.0crat.com/p/C63314D6Z), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-04-05 14:28] 0crat commented on #755
The job [#755](https://github.com/yegor256/cactoos/issues/755) assigned to @icok[/z](https://www.0crat.com/u/icok), here is [why](https://www.0crat.com/footprint/C63314D6Z/951435659); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [

[2018-04-05 16:13] #494 closed

[2018-04-05 16:15] #491 closed

[2018-04-05 16:15] 0crat commented on #491
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-05 16:15] #486 closed

[2018-04-05 16:16] #485 closed

[2018-04-05 16:17] #492 closed

[2018-04-05 16:29] 0crat commented on #494
The job is not in WBS, won't close the order

[2018-04-05 16:30] 0crat commented on #491
The job is not in WBS, won't close the order

[2018-04-05 16:30] 0crat commented on #486
The job is not in WBS, won't close the order

[2018-04-05 16:31] 0crat commented on #485
The job is not in WBS, won't close the order

[2018-04-05 16:32] 0crat commented on #492
The job is not in WBS, won't close the order

[2018-04-05 17:30] 0crat commented on #491
The job is not in WBS, won't close the order

[2018-04-06 11:27] Vatavuk opened #759 "ScalarWithFallback"
Let's create `ScalarWithFallback` which will be similar to `FuncWithFallback ` but will support fallback from
multiple types of exceptions.

EDIT: see comments below

More information can be found in this [discussion](https://github.com/yegor256/cactoos/issues/656#issuecomment-366724517).

@yegor256 I would like to create PR for this issue if possible.

[2018-04-06 11:27] 0crat commented on #759
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-07 05:11] VsSekorin opened #760 "More ctors for Reduced and Folded"
Let's add more ctors for `Reduced` and `Folded`.

- `(..., final Iterable<T> src)`
- `(..., final Iterable<Scalar<T>> src)`
- `(..., final T... src)`

[2018-04-07 05:11] 0crat commented on #760
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-07 10:39] victornoel opened #761 "TimedFunc"
We need a `TimedFunc` decorator for `Func` that gets interrupted after a certain time has passed.

Maybe something similar to `AsyncFunc`, I'm not sure.

[2018-04-07 10:39] 0crat commented on #761
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-08 05:05] 0crat commented on #761
Job [#761](https://github.com/yegor256/cactoos/issues/761) is now in scope, role is `DEV`

[2018-04-08 05:05] 0crat commented on #761
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-04-08 05:05] 0crat commented on #760
Job [#760](https://github.com/yegor256/cactoos/issues/760) is now in scope, role is `DEV`

[2018-04-08 05:07] 0crat commented on #760
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vssekorin[/z](https://www.0crat.com/u/vssekorin)

[2018-04-08 05:09] 0crat commented on #761
The job [#761](https://github.com/yegor256/cactoos/issues/761) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/C63314D6Z/980509275); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-08 20:03] VsSekorin opened #763 "BoundedInputStream"
We need `BoundedInputStream` that get bytes untill some specific bytes.

- `public BoundedInputStream(final InputStream stream, final Bytes bytes)`
- `public BoundedInputStream(final InputStream stream, final byte[] bytes)`

For example, this can be useful for [cactoos-http#4](https://github.com/yegor256/cactoos-http/issues/4)

[2018-04-08 20:03] 0crat commented on #763
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-08 20:34] yegor256 commented on #763
@VsSekorin do you know similar classes in Apache IO?

[2018-04-08 22:25] svendiedrichsen commented on #763
@yegor256 see https://commons.apache.org/proper/commons-io/javadocs/api-release/index.html?org/apache/commons/io/input/package-summary.html

[2018-04-09 09:32] yegor256 opened #764 "HeadInput"
Let's create `HeadInput` class which will behave like an `Input`, but only showing the first N bytes of the stream:

[code]

[2018-04-09 09:32] yegor256 opened #765 "TailInput"
Let's create `TailInput` class which will behave like an `Input`, but only showing the last N bytes of the stream:

[code]

[2018-04-09 09:32] yegor256 commented on #763
@svendiedrichsen well, this is a different story. Apache's BoundedInputStream cuts the stream's tail off, at the specified position. I would suggest to create `HeadInput` and `TailInput` in Cactoos: #764 #765

[2018-04-09 09:33] 0crat commented on #764
Job [#764](https://github.com/yegor256/cactoos/issues/764) is now in scope, role is `DEV`

[2018-04-09 09:34] 0crat commented on #765
Job [#765](https://github.com/yegor256/cactoos/issues/765) is now in scope, role is `DEV`

[2018-04-09 09:34] 0crat commented on #764
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-09 09:34] 0crat commented on #765
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-09 09:34] 0crat commented on #756
Job [#756](https://github.com/yegor256/cactoos/issues/756) is now in scope, role is `DEV`

[2018-04-09 09:34] 0crat commented on #756
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-09 11:34] VsSekorin commented on #763
@yegor256 @svendiedrichsen  I don't now similar classes in Apache IO. Apache `BoundedInputStream` is similar to `HeadInput` (#764). I propose `Input` / `InputStream` that read first bytes until some limiter.

[code]
`> "1234"`

[2018-04-09 13:12] yegor256 commented on #763
@VsSekorin that's exactly my point: maybe this functionality is only required in cactoos-http. No need to implement it here. We can do it in cactoos-http, since it's very specific for HTTP. See?

[2018-04-09 13:19] VsSekorin commented on #763
@yegor256 I got it. Yes, it is specific for cactoos-http and don't necessarily here. I will open similar issue in cactoos-http.

[2018-04-09 13:36] 0crat commented on #763
The job is not in WBS, won't close the order

[2018-04-09 14:16] 0crat commented on #748
Job [#748](https://github.com/yegor256/cactoos/issues/748) is now in scope, role is `DEV`

[2018-04-09 14:16] 0crat commented on #748
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-04-10 14:01] Vatavuk opened #766 "IoCheckedScalar duplicates functionality from CheckedScalar"
`IoCheckedScalar` should use `CheckedScalar` instead of try/catch statements
to avoid code duplication.

[2018-04-10 14:01] 0crat commented on #766
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-12 04:37] 0crat commented on #737
@memoyil[/z](https://www.0crat.com/u/memoyil) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-12 04:37] 0crat commented on #755
@icok[/z](https://www.0crat.com/u/icok) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-12 14:16] memoyil commented on #737
@0crat apply

[2018-04-12 14:16] 0crat commented on #737
@memoyil Can't understand "apply", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status of the

[2018-04-12 14:40] yegor256 commented on #759
@Vatavuk let's do a single Exception type first.

[2018-04-12 14:41] 0crat commented on #759
Job [#759](https://github.com/yegor256/cactoos/issues/759) is now in scope, role is `DEV`

[2018-04-12 14:41] 0crat commented on #759
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-04-12 14:54] memoyil commented on #737
@yegor256 You can close this issue.

[2018-04-12 15:06] yegor256 commented on #737
@memoyil why me?

[2018-04-12 15:07] Vatavuk commented on #759
@yegor256 I agree.
Just a note to whoever gets this job to think of refactoring `FuncWithFallback` to use newly created `ScalarWithFallback` in the same PR.

[2018-04-12 15:07] memoyil commented on #737
@yegor256 sorry :)

@llorllale you can close this issue.

[2018-04-12 15:13] llorllale commented on #737
@memoyil where's the PR?

[2018-04-12 15:14] memoyil commented on #737
@llorllale https://github.com/yegor256/cactoos/pull/742

[2018-04-12 15:16] llorllale commented on #737
@memoyil thanks!

[2018-04-12 15:16] #737 closed

[2018-04-12 15:31] 0crat commented on #737
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @memoyil[/z](https://www.0crat.com/u/memoyil), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-12 15:31] 0crat commented on #737
The job [#737](https://github.com/yegor256/cactoos/issues/737) is now out of scope

[2018-04-12 15:38] 0crat commented on #747
Job [#747](https://github.com/yegor256/cactoos/issues/747) is now in scope, role is `DEV`

[2018-04-12 15:39] 0crat commented on #747
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vssekorin[/z](https://www.0crat.com/u/vssekorin)

[2018-04-12 17:03] Vatavuk commented on #753
See #754

[2018-04-12 17:03] #753 closed

[2018-04-12 19:12] elenavolokhova commented on #737
@0crat quality good

[2018-04-12 19:13] 0crat commented on #737
Order was finished, quality is "good": +35 point(s) just awarded to @memoyil[/z](https://www.0crat.com/u/memoyil)

[2018-04-12 19:14] 0crat commented on #737
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-04-13 05:37] 0crat commented on #761
@vatavuk[/z](https://www.0crat.com/u/vatavuk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-13 07:06] Vatavuk commented on #761
@0crat wait for review #762

[2018-04-13 07:06] 0crat commented on #761
@Vatavuk The impediment for [#761](https://github.com/yegor256/cactoos/issues/761) was registered successfully by @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-04-13 09:31] memoyil commented on #765
@yegor256 I think it is very inefficent to read all of the data first and show the last N bytes of them. WDYT?

[2018-04-13 12:44] yegor256 commented on #765
@memoyil we can use `skip()`

[2018-04-13 12:50] memoyil commented on #765
In order to do that we need to know the size of the content. But available method says that "Note that while some implementations of {@code InputStream} will return the total number of bytes in the stream, many will not. "

[2018-04-14 12:26] 0crat commented on #764
The job [#764](https://github.com/yegor256/cactoos/issues/764) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), here is [why](https://www.0crat.com/footprint/C63314D6Z/1041260450); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-04-14 18:14] 0crat commented on #765
The job [#765](https://github.com/yegor256/cactoos/issues/765) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/1041815169); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-04-14 18:28] victornoel commented on #765
Reminder for myself: As a starter let's make a `TailInput` that takes a number of bytes to skip.

[2018-04-15 14:34] 0crat commented on #755
The user @icok[/z](https://www.0crat.com/u/icok) resigned from [#755](https://github.com/yegor256/cactoos/issues/755), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-04-15 14:34] 0crat commented on #755
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @icok[/z](https://www.0crat.com/u/icok)

[2018-04-15 16:12] flslkxtc commented on #671
@nick318 @yegor256 this issue can be closed,  pull request #733 was merged

[2018-04-16 15:01] ashtonhogan commented on #6
@yegor256 Please close this issue

[2018-04-16 15:14] ashtonhogan opened #768 "introduce class for Locale.getDefault"
This issue is a child of https://github.com/yegor256/cactoos/issues/62 and should address calls like those seen [here](https://github.com/yegor256/cactoos/blob/b4223ce3e096424397e33058568b587844d93b24/src/main/java/org/cactoos/text/FormattedText.java#L117) with a non-static alternative

[2018-04-16 15:14] 0crat commented on #768
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-16 15:14] 0crat commented on #768
@ashtonhogan[/z](https://www.0crat.com/u/ashtonhogan) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-16 15:19] ashtonhogan opened #769 "update 20 usages of Arrays.asList"
This issue is a child of https://github.com/yegor256/cactoos/issues/62 and should address calls like those seen [here](https://github.com/yegor256/cactoos/blob/b4223ce3e096424397e33058568b587844d93b24/src/main/java/org/cactoos/iterable/IterableOf.java#L50) with a non-static alternative

[2018-04-16 15:19] 0crat commented on #769
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-16 15:22] ashtonhogan opened #770 "update 61 usages of Collections..."
This issue is a child of https://github.com/yegor256/cactoos/issues/62 and should address calls like those seen [here](https://github.com/yegor256/cactoos/blob/b4223ce3e096424397e33058568b587844d93b24/src/main/java/org/cactoos/collection/StickyCollection.java#L81) with a non-static alternative

This issue itself is a parent issue, these `61` calls need to be broken down further into more separate

[2018-04-16 15:22] 0crat commented on #770
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-16 16:08] yegor256 commented on #770
@ashtonhogan we don't want to re-implement `Collections.unmodifiableCollection`, since it's pointless, JDK works file and we are using all that only internally. Any other cases?

[2018-04-16 16:10] yegor256 commented on #6
@ashtonhogan why me?

[2018-04-16 16:15] yegor256 commented on #62
@ashtonhogan why me?

[2018-04-16 17:02] ghost opened #771 "add spotless plugin"
Contributions will be cleaner and simpler if [spotless](https://github.com/diffplug/spotless/tree/master/plugin-maven) is used

[2018-04-16 17:03] 0crat commented on #771
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-16 17:03] 0crat commented on #771
@ashtonhogan[/z](https://www.0crat.com/u/ashtonhogan) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-16 19:40] ashtonhogan opened #773 "Update Array.asList in IterableOf"
Child of https://github.com/yegor256/cactoos/issues/769

This [line](https://github.com/yegor256/cactoos/blob/b4223ce3e096424397e33058568b587844d93b24/src/main/java/org/cactoos/iterable/IterableOf.java#L50) has to be replaced with `new ListOf<>()`. When you do so, you'll get a StackOverflow exception, indicating there's a design flaw somewhere.

[2018-04-16 19:40] 0crat commented on #773
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-16 19:40] 0crat commented on #773
@ashtonhogan[/z](https://www.0crat.com/u/ashtonhogan) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-16 22:47] ashtonhogan commented on #143
@cheparinV seems this was merged, can you please close this issue?

[2018-04-17 05:33] yegor256 commented on #143
@cheparinV @ashtonhogan thanks

[2018-04-17 05:33] #143 closed

[2018-04-17 05:40] yegor256 commented on #771
@ashtonhogan but we already have Qulice (with Checkstyle inside). What's the benefit?

[2018-04-17 05:49] 0crat commented on #143
The job is not in WBS, won't close the order

[2018-04-17 10:38] ashtonhogan commented on #686
@proshin-roman can this be closed? looks like it was merged

[2018-04-17 10:40] ashtonhogan commented on #548
@fabriciofx are you still interested in making this change? if not, can you please close this issue?

[2018-04-17 10:41] proshin-roman commented on #686
@ashtonhogan The problem that review of the pull request is still not finished (you can check it yourself). And theoretically, the issue will be closed automatically by 0crat bot as soon as the pull request is "finished".

[2018-04-17 10:42] ashtonhogan commented on #395
@memoyil can you please clarify the requirement?

[2018-04-17 10:46] ashtonhogan commented on #414
@Guseyn this seems like quite a large task for one issue but it sounds like there is interest in it as well - for this issue can we define the scope as introducing one class in particular and if so, which class would you like to start with?

[2018-04-17 10:49] ashtonhogan commented on #506
@fabriciofx are you still working on this?

[2018-04-17 11:05] ashtonhogan opened #776 "improve reliability of LoggingInputTest"
I keep seeing this [error](https://ci.appveyor.com/project/yegor256/cactoos/build/1113) even though it has nothing to do with what I'm changing. I also don't have sufficient permission to trigger rebuild myself so this results in blocking PR's.

[code]

[2018-04-17 11:05] 0crat commented on #776
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-17 11:05] 0crat commented on #776
@ashtonhogan[/z](https://www.0crat.com/u/ashtonhogan) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-17 11:12] ashtonhogan commented on #85
@Timmeey it looks like this has been solved, perhaps we can document the findings somewhere? Otherwise, can this be closed?

[2018-04-17 11:17] ashtonhogan commented on #692
@driver733 from what I've seen, cactoos tends to not be too verbose with javadocs, can you please update your requirement to state exactly what test cases should be added?

[2018-04-17 11:35] ashtonhogan commented on #751
alternatively, you could use [Tacinga](https://tacinga.com) which already does this

[2018-04-17 14:18] izrik commented on #760
@VsSekorin It is not possible to have both `(..., final Iterable<T> src)` and `(..., final Iterable<Scalar<T>> src)` constructor signatures. Due to type erasure, they both resolve to just `(..., final Iterable src)` when compiled. The compiler won't even allow it. The requirements should be modified to specify one or the other signature, but not both.

[2018-04-17 15:45] VsSekorin commented on #760
@izrik Thanks. I corrected comment.

[2018-04-17 16:13] yegor256 commented on #751
@llorllale I think it's a reasonable request, to be honest...

[2018-04-17 17:52] llorllale commented on #518
@0crat in

[2018-04-17 17:52] 0crat commented on #518
@llorllale Job [#518](https://github.com/yegor256/cactoos/issues/518) is now in scope, role is `DEV`

[2018-04-17 17:52] 0crat commented on #518
@llorllale Thanks for your contribution, @martin-robo[/z](https://www.0crat.com/u/martin-robo)! If you would be a member of [the project](https://www.0crat.com/p/C63314D6Z), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-04-17 18:36] 0crat commented on #760
@izrik[/z](https://www.0crat.com/u/izrik) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-17 19:00] llorllale commented on #769
@0crat in

[2018-04-17 19:01] 0crat commented on #769
@llorllale Job [#769](https://github.com/yegor256/cactoos/issues/769) is now in scope, role is `DEV`

[2018-04-17 19:01] 0crat commented on #769
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ashtonhogan[/z](https://www.0crat.com/u/ashtonhogan)

[2018-04-17 19:01] llorllale commented on #185
@0crat in

[2018-04-17 19:02] 0crat commented on #185
@llorllale Job [#185](https://github.com/yegor256/cactoos/issues/185) is now in scope, role is `DEV`

[2018-04-17 19:02] 0crat commented on #185
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-17 19:02] llorllale commented on #754
@0crat in

[2018-04-17 19:08] 0crat commented on #754
@llorllale Job [#754](https://github.com/yegor256/cactoos/issues/754) is now in scope, role is `DEV`

[2018-04-17 19:09] 0crat commented on #754
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-04-17 19:12] llorllale commented on #711
@aliceice #743 was merged, can we close this?

[2018-04-17 19:34] izrik commented on #760
@0crat wait for review #778

[2018-04-17 19:34] 0crat commented on #760
@izrik The impediment for [#760](https://github.com/yegor256/cactoos/issues/760) was registered successfully by @izrik[/z](https://www.0crat.com/u/izrik)

[2018-04-17 19:37] llorllale commented on #751
@yegor256 sounds reasonable. I believe the new project, `cactoos-matchers`, should be brought under the same ZC umbrella [C63314D6Z](https://www.0crat.com/p/C63314D6Z).

My doubts revolve around the new project's CD: the ARC is [responsible](http://www.yegor256.com/2015/08/04/nine-steps-start-software-project.html) for this, but this one would seem like it needs your keys.

Please confirm.

[2018-04-18 12:53] yegor256 commented on #751
@llorllale two options 1) I create it in my GitHub account and deploy to Maven Central into `org.cactoos` group; 2) you create it in your GitHub account and deploy it to Maven yourself, if you a group there. In either case we add it to ZC project (you remain the ARC). Which option you prefer?

[2018-04-18 15:09] llorllale commented on #751
@yegor256 I'll take care of it with option 2

[2018-04-18 15:59] llorllale commented on #1
@pgermosen can we close this issue? Our [README](https://github.com/yegor256/cactoos/blob/master/README.md) states the motivations and design principles behind `cactoos`, and your request is unfortunately incompatible with them.

[2018-04-18 17:51] llorllale commented on #6
@englishman please close this issue. Your PR #8 was merged

[2018-04-18 17:54] llorllale commented on #25
@englishman the test you referenced no longer exists. Can we close this issue?

[2018-04-18 17:58] llorllale commented on #37
@englishman I believe this issue no longer applies. We now have `TextOf(CharSequence)`; we can also do `new UpperText(Text)` or `new UpperText(() -> "your string")`. Can we close this?

[2018-04-18 17:59] llorllale commented on #62
@englishman please close this issue

[2018-04-18 18:04] llorllale commented on #85
@Timmeey please close this issue

[2018-04-18 18:46] llorllale commented on #101
@Timmeey can we close this?

[2018-04-18 18:50] llorllale commented on #169
@englishman we're going to separate the matchers into their own project as discussed in #751

Please close this issue

[2018-04-18 18:58] llorllale commented on #225
@fabriciofx Has this been done? I could not quite follow which (or all?) of the codecs you wanted ported. Can this issue be closed?

[2018-04-18 19:01] llorllale commented on #262
@yegor256 PR #275 was merged for this. Can we close this issue?

[2018-04-18 19:04] llorllale commented on #308
@0crat in

[2018-04-18 19:04] llorllale commented on #308
@0crat assign @fabriciofx

[2018-04-18 19:05] 0crat commented on #308
@llorllale Job [#308](https://github.com/yegor256/cactoos/issues/308) is now in scope, role is `DEV`

[2018-04-18 19:06] 0crat commented on #308
@llorllale The job [#308](https://github.com/yegor256/cactoos/issues/308) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C63314D6Z/1081915799); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the t

[2018-04-18 19:06] 0crat commented on #308
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2018-04-18 19:07] 0crat commented on #308
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-18 19:07] 0crat commented on #308
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-18 19:07] llorllale commented on #395
@memoyil please close this issue. As I [said](https://github.com/yegor256/cactoos/pull/396#issuecomment-382081200) in your PR, this was fixed in #353

[2018-04-18 19:13] llorllale commented on #454
@0crat in

[2018-04-18 19:13] 0crat commented on #454
@llorllale Job [#454](https://github.com/yegor256/cactoos/issues/454) is now in scope, role is `DEV`

[2018-04-18 19:13] 0crat commented on #454
@llorllale Thanks for your contribution, @rafamizes[/z](https://www.0crat.com/u/rafamizes)! If you would be a member of [the project](https://www.0crat.com/p/C63314D6Z), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-04-18 19:15] llorllale commented on #449
@filfreire can we close this?

[2018-04-18 19:17] llorllale commented on #455
@bedward70 can we close this? Looks like it's fixed

[2018-04-18 19:29] llorllale commented on #530
@allanwsilva this project is being managed via [Zerocracy](http://www.zerocracy.com/).

As per our policy, when we include a ticket in the [scope](http://www.zerocracy.com/policy.html#14) it is automatically assigned by [0crat](www.0crat.com) to a DEV (depending on some variables).

The architect is responsible for managing the scope.

Does this answer your question?

You can read more on how all

[2018-04-18 19:43] llorllale commented on #776
@ashtonhogan I just ran all tests 5 times on a windows 8.1 box and can't reproduce this issue. What's the PR being blocked by this?

[2018-04-18 19:46] llorllale commented on #773
@0crat in

[2018-04-18 19:47] 0crat commented on #773
@llorllale Job [#773](https://github.com/yegor256/cactoos/issues/773) is now in scope, role is `DEV`

[2018-04-18 19:47] 0crat commented on #773
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ashtonhogan[/z](https://www.0crat.com/u/ashtonhogan)

[2018-04-18 19:54] llorllale commented on #770
@ashtonhogan tip: we use [Puzzle Driven Development](http://www.yegor256.com/2010/03/04/pdd.html) and hence there's no need to create "parent/child issues". You just provide work for the allotted time (30mins) and leave a puzzle for the rest.

[2018-04-18 20:08] llorllale commented on #770
@ashtonhogan if you look closely, `CollectionEnvelope` already enforces the contract for `Collections.unmodifiable`.

I do think there are other calls being made to `Collections` that can definitely be substituted for our own types.

[2018-04-18 20:09] llorllale commented on #770
@0crat in

[2018-04-18 20:09] 0crat commented on #770
@llorllale Job [#770](https://github.com/yegor256/cactoos/issues/770) is now in scope, role is `DEV`

[2018-04-18 20:09] 0crat commented on #770
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ashtonhogan[/z](https://www.0crat.com/u/ashtonhogan)

[2018-04-18 20:09] llorllale commented on #770
@ashtonhogan these are just a few examples of the ones I saw that can definitely be substituted, there are probably more:

* `Collections.emptyList`
* `Collections.emptyIterator`
* `Collections.singleton`
* `Collections.singletonList`
* `Collections.synchronized*`
* `Collections.reverse`

[2018-04-18 20:14] llorllale commented on #768
@ashtonhogan how do you propose we fix this?

[2018-04-18 20:27] llorllale commented on #695
@yegor256 this is the kind of stuff I would fix straight into `master`, WDYT?

[2018-04-18 20:30] llorllale commented on #692
@0crat in

[2018-04-18 20:31] 0crat commented on #692
@llorllale Job [#692](https://github.com/yegor256/cactoos/issues/692) is now in scope, role is `DEV`

[2018-04-18 20:33] 0crat commented on #692
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @driver733[/z](https://www.0crat.com/u/driver733)

[2018-04-19 00:37] 0crat commented on #455
The job is not in WBS, won't close the order

[2018-04-19 07:48] #395 closed

[2018-04-19 08:03] 0crat commented on #395
The job is not in WBS, won't close the order

[2018-04-19 19:38] 0crat commented on #765
@victornoel[/z](https://www.0crat.com/u/victornoel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-20 13:33] 0crat commented on #755
The job [#755](https://github.com/yegor256/cactoos/issues/755) assigned to @pbenety[/z](https://www.0crat.com/u/pbenety), here is [why](https://www.0crat.com/footprint/C63314D6Z/1101340478); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-20 13:35] 0crat commented on #756
The job [#756](https://github.com/yegor256/cactoos/issues/756) assigned to @pbenety[/z](https://www.0crat.com/u/pbenety), here is [why](https://www.0crat.com/footprint/C63314D6Z/1101342553); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-20 14:41] victornoel commented on #765
@0crat refuse, already spent too much time thinking about this

[2018-04-20 14:41] 0crat commented on #765
@victornoel Can't understand "refuse,", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status o

[2018-04-20 14:50] victornoel commented on #765
@0crat refuse

[2018-04-20 14:50] victornoel commented on #765
@0crat refuse

[2018-04-20 14:51] 0crat commented on #765
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#765](https://github.com/yegor256/cactoos/issues/765), please stop working. Reason for job resignation: Order was cancelled

[2018-04-20 14:51] 0crat commented on #765
@victornoel Job `gh:yegor256/cactoos#765` is not assigned, can't get performer

[2018-04-20 14:52] 0crat commented on #765
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-04-20 15:02] llorllale commented on #702
@0crat resign @flslkxtc

[2018-04-20 15:02] 0crat commented on #702
@llorllale The user @flslkxtc[/z](https://www.0crat.com/u/flslkxtc) resigned from [#702](https://github.com/yegor256/cactoos/issues/702), please stop working. Reason for job resignation: Order was cancelled

[2018-04-20 15:03] llorllale commented on #702
@flslkxtc you were resigned because you're currently on vacation

[2018-04-20 16:44] #85 closed

[2018-04-20 16:46] #101 closed

[2018-04-20 16:59] 0crat commented on #85
The job is not in WBS, won't close the order

[2018-04-20 17:01] 0crat commented on #101
The job is not in WBS, won't close the order

[2018-04-20 18:29] llorllale commented on #771
@ashtonhogan doesn't qulice provide this for us?

[2018-04-20 18:30] 0crat commented on #769
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-20 18:31] 0crat commented on #766
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-20 18:32] llorllale commented on #751
@0crat in

[2018-04-20 18:32] llorllale commented on #751
@0crat assign @llorllale

[2018-04-20 18:32] 0crat commented on #751
@llorllale Job [#751](https://github.com/yegor256/cactoos/issues/751) is now in scope, role is `DEV`

[2018-04-20 18:33] 0crat commented on #751
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-04-20 18:33] 0crat commented on #751
@llorllale The job [#751](https://github.com/yegor256/cactoos/issues/751) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C63314D6Z/1101840401); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the tas

[2018-04-20 18:33] llorllale commented on #711
@aliceice can we close this issue?

[2018-04-20 18:33] 0crat commented on #751
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-20 18:48] llorllale commented on #695
@alex-semenyuk let's re-open this if the build breaks.

I believe it won't, because `mvn -Pcactoos -Psonar -Pqulice --errors clean install` generates the javadocs just fine.

[2018-04-20 18:48] #695 closed

[2018-04-20 19:04] 0crat commented on #695
The job is not in WBS, won't close the order

[2018-04-20 19:52] llorllale commented on #551
@yegor256 I agree with this. Let us know if you differ

[2018-04-20 19:52] llorllale commented on #551
@0crat in

[2018-04-20 19:52] 0crat commented on #551
@llorllale Job [#551](https://github.com/yegor256/cactoos/issues/551) is now in scope, role is `DEV`

[2018-04-20 19:53] 0crat commented on #551
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-04-20 19:55] llorllale commented on #549
@fabriciofx what Yegor said. I also do not see what the issue is here.

[2018-04-20 19:55] #549 closed

[2018-04-20 20:00] llorllale commented on #548
@fabriciofx this would lead to confusion with the `Input` interface.

[2018-04-20 20:00] llorllale commented on #530
@allanwsilva feel free to open another ticket with any other question you may have

[2018-04-20 20:00] #530 closed

[2018-04-20 20:10] 0crat commented on #549
The job is not in WBS, won't close the order

[2018-04-20 20:15] llorllale commented on #506
@fabriciofx can you provide a use case?

[2018-04-20 20:16] 0crat commented on #530
The job is not in WBS, won't close the order

[2018-04-20 20:30] llorllale commented on #472
@0crat out

[2018-04-20 20:30] 0crat commented on #472
@llorllale GitHub issue is still open, won't close

[2018-04-20 20:32] llorllale commented on #472
@filfreire sorry, just realized that our [principles](http://www.elegantobjects.org/#principles) are incompatible with mutable objects, which a `Queue` necessarily needs to be if it is to be of any use.

[2018-04-20 20:32] #472 closed

[2018-04-20 20:32] llorllale commented on #472
@0crat out

[2018-04-20 20:33] 0crat commented on #472
@llorllale The job [#472](https://github.com/yegor256/cactoos/issues/472) is now out of scope

[2018-04-20 20:33] 0crat commented on #483
The job is not in WBS, won't close the order

[2018-04-20 20:48] 0crat commented on #472
The job is not in WBS, won't close the order

[2018-04-20 21:34] 0crat commented on #483
The job is not in WBS, won't close the order

[2018-04-21 10:13] SharplEr commented on #747
@0crat status

[2018-04-21 10:14] 0crat commented on #747
@SharplEr This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#747](https://github.com/yegor256/cactoos/issues/747) is [in scope](http://www.zerocracy.com/policy.html#14) for 9days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are banned and won'

[2018-04-21 18:49] ashtonhogan commented on #771
`./mvn spotless:apply` fixes most checkstyle issues

[2018-04-21 20:44] flslkxtc commented on #764
@0crat refuse

[2018-04-21 20:44] 0crat commented on #764
@flslkxtc The user @flslkxtc[/z](https://www.0crat.com/u/flslkxtc) resigned from [#764](https://github.com/yegor256/cactoos/issues/764), please stop working. Reason for job resignation: Order was cancelled

[2018-04-21 20:46] 0crat commented on #764
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc)

[2018-04-22 13:31] krzyk commented on #702
@proshin-roman please see PR #779

[2018-04-22 13:41] krzyk opened #780 "SplitText is not efficient enough"
Current implementation of `SplitTest` uses `String.split()`, which in some cases (e.g. something longer than 1 char or in case of 2 chars a regex escape) does a Pattern.compile on the text. This is not efficient if the same regex is used multiple times and can give quote unpredictable performance differences when using a single char or a multiple char split text.

Because of that I propose to crea

[2018-04-22 13:41] 0crat commented on #780
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-04-22 17:27] ashtonhogan commented on #771
done https://github.com/teamed/qulice/issues/876

[2018-04-22 17:31] llorllale commented on #760
@VsSekorin please leave a puzzle for the scalar var-arg ctors

[2018-04-22 17:32] 0crat commented on #771
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-04-22 17:32] 0crat commented on #771
@ashtonhogan[/z](https://www.0crat.com/u/ashtonhogan) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-22 17:35] llorllale commented on #780
@krzyk so instead of a new class `PatternSplitText`, we could just do internal refactor of `SplitText`. WDYT?

[2018-04-22 17:40] llorllale commented on #771
@ashtonhogan to be honest, I still don't see the real issue here. The original requirement was "contributions **will be cleaner** if spotless was used", implying they're not clean enough already? Build fails if qulice requirements are not met. If it fails, the contributor needs to make amends.

From the POV of the project, this workflow has served OK so far, so why change it?

[2018-04-22 17:43] 0crat commented on #771
The job is not in WBS, won't close the order

[2018-04-22 18:45] krzyk commented on #780
@llorllale Yes it is possible, I proposed two classes because sometimes it might be good to have a pure and simple split by char or few chars - using simple iteration over the chars and splitting where appropriate.

And if there is a more complicated case (e.g. where we have to simple by multiple chars) one would want to use a regexp.

So if we leave only a single class, which one would it be, a r

[2018-04-23 06:09] Guseyn commented on #414
@ashtonhogan actually it is. I have been making a lot of experiments and investigation in code design. As a result, I invented the conception of async tree. Although OOP in Java is more mature than it's designed in any other language, I am focused on Node because async environment there is much better. You can read here more about this stuff: http://guseyn.com/post-reconsidering-async-object-with-

[2018-04-23 09:38] proshin-roman commented on #686
@yegor256 Could you look at this ticket, please? Something goes wrong as pull request #745 has been reviewed and merged, but the ticket is still not closed. (The question is duplicated from the pull request).

[2018-04-23 11:06] llorllale commented on #686
@proshin-roman ask the ticket reporter whether they are satisfied with the solution and if this can be closed

[2018-04-23 11:10] proshin-roman commented on #686
@driver733 Could you check if the merged pull request #745 satisfies the issue and close the ticket, please?

[2018-04-23 11:13] krzyk opened #781 "Few code issues"
I found few small code issues so I grouped them into one:
1. `InputStreamReader` without the `Charset` param will use platform depended one, this constructor should  add `StandardCharsets.UTF-8` to `InputStreamReader` like it is done in other constructors in this class (alternative is to allow user to provide the Charset).
https://github.com/yegor256/cactoos/blob/288d1120989f494c33b1312d59f032e218

[2018-04-23 11:14] 0crat commented on #781
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-04-23 15:47] 0crat commented on #765
The job [#765](https://github.com/yegor256/cactoos/issues/765) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1131556115); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-04-23 15:52] llorllale commented on #1
@pgermosen closing due to inactivity

[2018-04-23 15:52] #1 closed

[2018-04-23 15:54] llorllale commented on #6
@englishman can we close this?

[2018-04-23 15:54] llorllale commented on #25
@englishman can we close this?

[2018-04-23 15:54] llorllale commented on #37
@englishman can we close this?

[2018-04-23 15:54] llorllale commented on #62
@englishman can we close this?

[2018-04-23 15:56] llorllale commented on #225
@fabriciofx can we close this?

[2018-04-23 15:57] llorllale commented on #262
@yegor256 can we close this?

[2018-04-23 16:01] llorllale commented on #301
@filfreire where are you on this?

[2018-04-23 16:03] llorllale commented on #449
@filfreire can we close this?

[2018-04-23 16:08] 0crat commented on #1
The job is not in WBS, won't close the order

[2018-04-23 16:10] Vatavuk commented on #761
@victornoel please close this issue. It was solved in #762

[2018-04-23 16:15] victornoel commented on #761
@Vatavuk thanks

[2018-04-23 16:15] #761 closed

[2018-04-23 16:30] victornoel commented on #761
@llorllale could we get a new release of cactoos? I need this for yegor256/cactoos-http#10

[2018-04-23 16:31] 0crat commented on #761
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-23 16:31] 0crat commented on #761
The job [#761](https://github.com/yegor256/cactoos/issues/761) is now out of scope

[2018-04-23 16:33] 0crat commented on #748
The job [#748](https://github.com/yegor256/cactoos/issues/748) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1131642547); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-23 17:26] yegor256 commented on #262
@llorllale @fabriciofx thanks

[2018-04-23 17:26] #262 closed

[2018-04-23 17:39] llorllale opened #782 "Release 0.30"
As per [request](https://github.com/yegor256/cactoos/issues/761#issuecomment-383638621).

We have a few merged bugs and features:

* #737
* #711
* #686
* #761

[2018-04-23 17:39] llorllale commented on #782
@rultor release, tag is `0.30`

[2018-04-23 17:39] llorllale commented on #782
@0crat out

[2018-04-23 17:40] 0crat commented on #782
The job [#782](https://github.com/yegor256/cactoos/issues/782) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C63314D6Z/1131751670); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-04-23 17:41] 0crat commented on #782
Job `gh:yegor256/cactoos#782` already assigned to @llorllale, can't assign to @llorllale

[2018-04-23 17:41] rultor commented on #782
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14358-383660315)

[2018-04-23 17:41] 0crat commented on #782
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-23 17:41] 0crat commented on #782
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-23 17:42] 0crat commented on #782
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-23 17:42] 0crat commented on #782
@llorllale GitHub issue is still open, won't close

[2018-04-23 17:43] 0crat commented on #782
@llorllale[/z](https://www.0crat.com/u/llorllale) I see that you unassigned this issue; the order is still assigned to @llorllale[/z](https://www.0crat.com/u/llorllale) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2018-04-23 17:44] 0crat commented on #262
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-23 17:44] 0crat commented on #262
The job [#262](https://github.com/yegor256/cactoos/issues/262) is now out of scope

[2018-04-23 17:44] llorllale commented on #782
@0crat refuse

[2018-04-23 17:46] 0crat commented on #782
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#782](https://github.com/yegor256/cactoos/issues/782), please stop working. Reason for job resignation: Order was cancelled

[2018-04-23 17:47] 0crat commented on #782
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-23 17:54] rultor commented on #782
@llorllale Done! FYI, the full log is [here](http://www.rultor.com/t/14358-383660315) (took me 13min)

[2018-04-23 17:55] llorllale commented on #782
@0crat status

[2018-04-23 17:55] 0crat commented on #782
@llorllale This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#782](https://github.com/yegor256/cactoos/issues/782) is [in scope](http://www.zerocracy.com/policy.html#14) for 16min
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are banned and won

[2018-04-23 17:55] llorllale commented on #782
@0crat out

[2018-04-23 17:56] 0crat commented on #782
@llorllale GitHub issue is still open, won't close

[2018-04-23 17:56] #782 closed

[2018-04-23 17:56] llorllale commented on #782
@0crat out

[2018-04-23 17:57] 0crat commented on #782
@llorllale The job [#782](https://github.com/yegor256/cactoos/issues/782) is now out of scope

[2018-04-23 17:57] llorllale commented on #761
@victornoel `0.30` has been [released](https://github.com/yegor256/cactoos/issues/782)

[2018-04-23 18:11] 0crat commented on #782
The job is not in WBS, won't close the order

[2018-04-23 19:37] 0crat commented on #686
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-23 19:37] 0crat commented on #686
The job [#686](https://github.com/yegor256/cactoos/issues/686) is now out of scope

[2018-04-23 19:39] 0crat commented on #759
The job [#759](https://github.com/yegor256/cactoos/issues/759) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C63314D6Z/1131955444); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-04-23 21:10] elenavolokhova commented on #262
@fabriciofx According to our Policy:

Such reasons were not provided here:

@0crat waiting

Please, confirm that you'll follow this rule in future.

[2018-04-23 21:10] 0crat commented on #262
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos/issues/262#issuecomment-383724171); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2018-04-23 21:11] elenavolokhova commented on #761
@0crat quality good

[2018-04-23 21:12] 0crat commented on #761
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-04-23 21:12] 0crat commented on #761
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-04-23 21:13] elenavolokhova commented on #686
@0crat quality good

[2018-04-23 21:15] 0crat commented on #686
Order was finished, quality is "good": +35 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-04-23 21:15] 0crat commented on #686
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-04-23 22:36] 0crat commented on #308
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-24 04:58] krzyk commented on #780
@llorllale So what's your decision on this one?

[2018-04-24 06:36] Zefick commented on #773
What about `new IteratorOf<>(items)`?

[2018-04-24 07:05] Vatavuk commented on #736
@proshin-roman Will you submit PR for this issue? #735 was solved 20 days ago.

[2018-04-24 07:46] filfreire commented on #449
@llorllale apologies for the late response. We can close this. If there are any similar issues, I'll open another ticket.

[2018-04-24 07:46] #449 closed

[2018-04-24 07:53] filfreire commented on #301
@llorllale we need a proper plan to try to implement this or a proof-of-concept (POC). We could try to do something in these lines:

So we define a list of basic checks from the documentation of Danger and try to implement them.

I could look into this myself, but I'm short on time. Maybe @php-coder can contribute with an initial POC that would return that `Please rebase to get rid of the merge co

[2018-04-24 07:56] filfreire commented on #476
@llorllale I remember I had tried to use a `Filtered` approach but was unable to come with a working solution similar to the `Iterables.removeIf(...)`

But I believe this is still a valid "feature" request.

[2018-04-24 08:02] 0crat commented on #449
The job is not in WBS, won't close the order

[2018-04-24 09:51] proshin-roman commented on #736
@Vatavuk Yes, I'm back from vacation and gonna create a pull request for this ticket in one-two days.

[2018-04-24 13:47] llorllale commented on #780
@krzyk I think at most we could refactor the existing `SplitText` by substituting that `UncheckedText regex` with `StickyScalar<Pattern> regex`. But I'm not sure it's worth it. Can you provide some measurements?

I'm not sure there is anything broken here. Our guiding [principles](http://www.elegantobjects.org/#principles) are there for us to remain faithful to the goal of providing a library of *

[2018-04-24 13:52] llorllale commented on #301
@php-coder @filfreire it occurs to me now that this is probably an issue that should be opened in either jcabi-parent or qulice. Once that is implemented upstream, an issue can be opened here for us to upgrade to the corresponding version of jcabi-parent.

Sounds good?

[2018-04-24 14:33] llorllale commented on #476
@filfreire yeah, I think we currently don't have anything like this. Do you have any suggestions?

From what I see, what we need is to *consume* the `Iterator`/`Iterable`, not the elements contained therein.

Perhaps a special-purpose `BiProc`? Something like (excuse the generic mess):

[code]

Performing all initialization through a ctor (like eg. if we would implement `Scalar`) would look more e

[2018-04-24 14:54] llorllale commented on #773
@ashtonhogan fixed in #783

Thank you @Zefick !

[2018-04-24 14:54] 0crat commented on #773
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-04-24 14:54] 0crat commented on #773
@ashtonhogan[/z](https://www.0crat.com/u/ashtonhogan) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-24 14:54] llorllale commented on #773
@ashtonhogan can we close this? Fix was merged in #783

[2018-04-24 14:58] #773 closed

[2018-04-24 14:58] 0crat commented on #773
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-24 14:58] krzyk commented on #780
@llorllale Fair enough, I tested it and for simple most common regexp patterns Pattern.split and String.split are quite comparable, so I'll close this issue.

[2018-04-24 14:58] #780 closed

[2018-04-24 14:58] 0crat commented on #780
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-24 15:09] 0crat commented on #773
The job [#773](https://github.com/yegor256/cactoos/issues/773) is now out of scope

[2018-04-24 15:13] 0crat commented on #773
The job is not in WBS, won't close the order

[2018-04-24 15:13] 0crat commented on #780
The job is not in WBS, won't close the order

[2018-04-24 15:59] 0crat commented on #773
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-24 16:14] 0crat commented on #773
The job is not in WBS, won't close the order

[2018-04-24 16:15] 0crat commented on #780
The job is not in WBS, won't close the order

[2018-04-24 17:14] 0crat commented on #773
The job is not in WBS, won't close the order

[2018-04-24 20:25] krzyk opened #787 "README.md should give examples for time and scalar packages"
Right now we have examples for almost all major parts of the library except the `org.cactoos.time`.
And we have a very small example of `org.cactoos.scalar` all over the place (`And` mostly)

Both of those need to mentioned and given an example in the README.md, this will help newcomers and potential users of this library see the benefits of cactoos.

[2018-04-24 20:25] 0crat commented on #787
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-04-25 10:23] krzyk opened #788 "Using Text as Map key is impossible"
Right now when I do:
[code]
I get a `null` because `TextOf` doesn't implement hashcode and equals.

To fix this create a decorator (I'm not sure about the name, EqualsHashCodeText seams to long) that would get the string from `asString` and use its `hashCode` and equals method in this decorators `hashCode` and equals.

[2018-04-25 13:36] 0crat commented on #755
@pbenety[/z](https://www.0crat.com/u/pbenety) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-25 14:06] llorllale commented on #788
@krzyk let's create a `TextEnvelope` that implements hashcode and equals for all other texts.

[2018-04-25 14:06] 0crat commented on #788
Job [#788](https://github.com/yegor256/cactoos/issues/788) is now in scope, role is `DEV`

[2018-04-25 14:07] 0crat commented on #788
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-04-25 14:35] llorllale commented on #6
@englishman closing

[2018-04-25 14:35] #6 closed

[2018-04-25 14:35] llorllale commented on #25
@englishman closing

[2018-04-25 14:35] #25 closed

[2018-04-25 14:35] llorllale commented on #37
@englishman closing

[2018-04-25 14:35] #37 closed

[2018-04-25 14:36] 0crat commented on #756
@pbenety[/z](https://www.0crat.com/u/pbenety) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-25 14:36] llorllale commented on #62
@englishman closing

[2018-04-25 14:36] #62 closed

[2018-04-25 14:36] llorllale commented on #169
@englishman closing

[2018-04-25 14:36] #169 closed

[2018-04-25 14:37] llorllale commented on #225
@fabriciofx ping

[2018-04-25 14:39] llorllale commented on #414
@Guseyn do you have any specific requirement for this issue so that we may take action?

[2018-04-25 14:44] llorllale commented on #476
@filfreire another idea: let's have a scalar called `RemoveIf`. WDYT?

[code]

[2018-04-25 14:46] llorllale commented on #506
@fabriciofx ping

[2018-04-25 14:48] llorllale commented on #548
@fabriciofx ping

[2018-04-25 14:49] ashtonhogan commented on #414
@Guseyn Good one, I like it. I think @yegor256 would be lucky to have a Java implementation of this. It might be worth giving the naming some thought because `WriteFile` sounds more like a task than an object.

[2018-04-25 14:50] 0crat commented on #6
The job is not in WBS, won't close the order

[2018-04-25 14:50] 0crat commented on #25
The job is not in WBS, won't close the order

[2018-04-25 14:51] 0crat commented on #37
The job is not in WBS, won't close the order

[2018-04-25 14:51] llorllale commented on #671
@nick318 ping

[2018-04-25 14:52] 0crat commented on #62
The job is not in WBS, won't close the order

[2018-04-25 14:52] 0crat commented on #169
The job is not in WBS, won't close the order

[2018-04-25 14:54] llorllale commented on #768
@ashtonhogan ping

How should we fix this? `Locale` is a final class.

[2018-04-25 14:57] ashtonhogan commented on #768
@llorllale Someone has to introduce a new class

[2018-04-25 16:36] 0crat commented on #702
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-25 17:30] krzyk commented on #702
@0crat waiting for review

[2018-04-25 17:31] 0crat commented on #702
@krzyk The impediment for [#702](https://github.com/yegor256/cactoos/issues/702) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-04-25 17:58] nick318 commented on #671
@flslkxtc the best thing I can do is to ignore the thread and watch how the so called "30 min" issue is still not closed during 3 month. If you do not like that situation, vote up here https://github.com/zerocracy/datum/issues/326

[2018-04-26 00:36] 0crat commented on #751
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-26 05:51] Guseyn commented on #414
@ashtonhogan I am glad that you liked it. Actually, it's WrittenFile (file that has been read - sounds like an object), and it represent itself like content from the file for other async objects.

You are right. But also it's not effective(gives bad performance) for I/O operations. Non-blocking I/O is right solution for this problem. I'll try to finish writing async objects for async calls from No

[2018-04-26 06:00] Guseyn commented on #414
@llorllale Actually, this issue is more about investigation. We can close this issue for now. And then we can create another one about integration with libs that will be created (I hope so).

[2018-04-26 06:00] #414 closed

[2018-04-26 06:00] 0crat commented on #414
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-26 06:15] 0crat commented on #414
The job is not in WBS, won't close the order

[2018-04-26 07:16] 0crat commented on #414
The job is not in WBS, won't close the order

[2018-04-26 17:47] SharplEr commented on #638
@driver733  PR was merged. Please close the issue.

[2018-04-26 17:50] SharplEr commented on #726
@g4s8 PR #750 was merged. Please close the issue.

[2018-04-26 18:05] 0crat commented on #638
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @sharpler[/z](https://www.0crat.com/u/sharpler), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-26 18:05] 0crat commented on #638
The job [#638](https://github.com/yegor256/cactoos/issues/638) is now out of scope

[2018-04-26 18:09] g4s8 commented on #726
@SharplEr thanks

[2018-04-26 18:09] #726 closed

[2018-04-26 18:25] 0crat commented on #726
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @sharpler[/z](https://www.0crat.com/u/sharpler), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-26 18:25] 0crat commented on #726
The job [#726](https://github.com/yegor256/cactoos/issues/726) is now out of scope

[2018-04-26 20:33] elenavolokhova commented on #726
@0crat quality good

[2018-04-26 20:35] 0crat commented on #726
Order was finished, quality is "good": +35 point(s) just awarded to @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-04-26 20:35] 0crat commented on #726
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-04-26 20:36] elenavolokhova commented on #638
@0crat quality good

[2018-04-26 20:37] 0crat commented on #638
Order was finished, quality is "good": +35 point(s) just awarded to @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-04-26 20:38] 0crat commented on #638
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-04-26 20:41] 0crat commented on #747
The job [#747](https://github.com/yegor256/cactoos/issues/747) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C63314D6Z/1162077650); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-04-27 02:24] paulodamaso commented on #747
@yegor256 We already have an PR that is being reviewed resolving this issue (#749)

[2018-04-27 06:28] krzyk opened #790 "Create RandomText"
Random strings are quite common in unit tests where one has to produce some kind of a string into `TextOf`, that is not important in itself.

E.g.:
[code]
Could be replaced with:

[code]

`RandomText` should have two consructors:
- no-arg - producing random text from ASCII printable characters
- accepting List<Character> - will produce a random text from given list of characters

Each of the above

[2018-04-27 06:28] 0crat commented on #790
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-04-27 06:41] krzyk opened #791 "Allow generation for Collections"
I would expect to be able to do:
[code]

The above would generate a collection of size 3, for each entry it would evaluate the scalar provided.

The above should be added: `CollectionOf`, `ListOf`, `IterableOf`, `IteratorOf`

[2018-04-27 06:41] 0crat commented on #791
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-04-27 08:55] Vatavuk opened #792 "Avoid And and Or argument casting"
In order to use `And`/`Or` without compilaton issues we have to cast first argument like in this example:
[code]
I propose to parametrize those classes to simplify usage:
[code]

[2018-04-27 08:55] 0crat commented on #792
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-04-27 09:17] Vatavuk commented on #791
@krzyk You can achieve this with existing `Repeated` class:
[code]

[2018-04-27 10:00] 0crat commented on #791
The job is not in WBS, won't close the order

[2018-04-27 11:13] VsSekorin commented on #760
@llorllale done.

[2018-04-27 11:18] Vatavuk opened #793 "FirstOf"
Let's create `FirstOf` that will find first element in a list that satisfies specified condition.
It should:
       -> implement `Scalar<T>`
       -> take arguments: `Func<T, Boolean> condition,  Iterable<T> src, Scalar<T> fallback`
       -> return fallback value if element is not found

[2018-04-27 11:19] 0crat commented on #793
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-04-27 19:08] paulodamaso commented on #747
@0crat wait for @llorllale decide what we do here.

[2018-04-27 19:09] 0crat commented on #747
@paulodamaso The impediment for [#747](https://github.com/yegor256/cactoos/issues/747) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-04-28 11:37] 0crat commented on #764
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-28 12:56] llorllale commented on #790
@krzyk good idea, but why have ASCII-only versions?

[2018-04-28 14:32] krzyk commented on #790
@llorllale Well, yeah, I'm just not sure how to limit the number of chars, to make it usefull, there are very limited cases when one would want control characters, so I would limit it to printable ones (`new PrintableRndText`?) and make `new RandomText` include all UTF chars?

[2018-04-28 17:11] llorllale commented on #790
@krzyk aren't all utf chars printable?

[2018-04-28 17:39] 0pdd opened #794 "pom.xml:86-88: When..."
The puzzle `720-dcdb33c9` from #720 has to be resolved:

https://github.com/yegor256/cactoos/blob/eab18ef93f9628b3f2f4296a0f652a1637f464ee/pom.xml#L86-L88

The puzzle was created by rultor on 28-Apr-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _removed_ from

[2018-04-28 17:39] 0pdd commented on #631
@driver733 the puzzle [#794](https://github.com/yegor256/cactoos/issues/794) is still not solved; solved: [#720](https://github.com/yegor256/cactoos/issues/720), [#721](https://github.com/yegor256/cactoos/issues/721).

[2018-04-28 17:39] 0pdd commented on #720
@0pdd the puzzle [#794](https://github.com/yegor256/cactoos/issues/794) is still not solved.

[2018-04-28 17:39] 0crat commented on #794
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-28 17:41] 0crat commented on #794
Job [#794](https://github.com/yegor256/cactoos/issues/794) is now in scope, role is `DEV`

[2018-04-28 17:54] krzyk commented on #702
@proshin-roman please close this issue, fix has been merged to master

[2018-04-28 21:14] pbenety commented on #755
@0crat waiting for review #789

[2018-04-28 21:16] 0crat commented on #755
@pbenety The impediment for [#755](https://github.com/yegor256/cactoos/issues/755) was registered successfully by @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-04-29 11:43] VsSekorin opened #796 "BiFuncOf constructor with Scalar"
Let's add ctor for `BiFuncOf`: `public BiFuncOf(final Scalar<Z> result)`

If I have `Scalar<T> scl`, then I should be able to `new BiFuncOf<>(scl)`. Now I have to do `new BiFuncOf<>(scl.value())` or `new BiFuncOf<>(new UncheckedScalar<>(scl).value())`.

This

- is less readable
- kills the lazy loading

[2018-04-29 11:43] 0crat commented on #796
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-04-29 18:13] llorllale commented on #751
@0crat waiting

[2018-04-29 18:14] 0crat commented on #751
@llorllale The impediment for [#751](https://github.com/yegor256/cactoos/issues/751) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-29 18:28] elenavolokhova commented on #262
@0crat quality acceptable

[2018-04-29 18:29] 0crat commented on #262
Order was finished, quality is "acceptable": +30 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2018-04-29 18:29] 0crat commented on #262
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-04-30 10:09] #702 closed

[2018-04-30 10:25] 0crat commented on #702
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-04-30 10:26] 0crat commented on #702
The job [#702](https://github.com/yegor256/cactoos/issues/702) is now out of scope

[2018-04-30 10:34] proshin-roman opened #797 "pom.xml has incorrect version 1.0-SNAPSHOT"
Currently, pom.xml has 1.0-SNAPSHOT version that means the next released version must be 1.0, but it doesn't seem to be true and the next release will be either 0.31 or 0.30.1.

**Why it is a problem**
When I introduce a new class I have to specify `@since` tag that should be the number of the next release. Currently, I have to look at github release page where I can find the latest release and th

[2018-04-30 10:34] 0crat commented on #797
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-04-30 14:25] llorllale commented on #796
@0crat in

[2018-04-30 14:27] 0crat commented on #796
@llorllale Job [#796](https://github.com/yegor256/cactoos/issues/796) is now in scope, role is `DEV`

[2018-04-30 14:29] 0crat commented on #796
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vssekorin[/z](https://www.0crat.com/u/vssekorin)

[2018-04-30 15:11] llorllale commented on #747
@0crat out

[2018-04-30 15:11] 0crat commented on #747
@llorllale GitHub issue is still open, won't close

[2018-04-30 15:12] llorllale commented on #747
@0crat assign @VsSekorin

[2018-04-30 15:13] llorllale commented on #747
@0crat assign @paulodamaso

[2018-04-30 15:14] llorllale commented on #747
@paulodamaso PR #749 was cancelled by its author

[2018-04-30 15:14] 0crat commented on #747
@llorllale @llorllale[/z](https://www.0crat.com/u/llorllale) not enough funds available in the project, can't set budget of job [#747](https://github.com/yegor256/cactoos/issues/747), see [§21](http://www.zerocracy.com/policy.html#21)

[2018-04-30 15:18] 0crat commented on #747
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-30 15:18] 0crat commented on #747
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-30 15:18] 0crat commented on #747
@llorllale @llorllale[/z](https://www.0crat.com/u/llorllale) not enough funds available in the project, can't set budget of job [#747](https://github.com/yegor256/cactoos/issues/747), see [§21](http://www.zerocracy.com/policy.html#21)

[2018-04-30 16:39] elenavolokhova commented on #702
@0crat quality good

[2018-04-30 16:39] 0pdd opened #799 "CheckedScalar.java:42-48: Create CheckedBiFunc,..."
The puzzle `736-a59d45fd` from #736 has to be resolved:

https://github.com/yegor256/cactoos/blob/287c998b54c8712082a9747a65d32dd1eb3182b6/src/main/java/org/cactoos/scalar/CheckedScalar.java#L42-L48

The puzzle was created by Roman Proshin on 30-Apr-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-04-30 16:39] 0pdd commented on #736
@Vatavuk the puzzle [#799](https://github.com/yegor256/cactoos/issues/799) is still not solved.

[2018-04-30 16:39] 0crat commented on #799
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-04-30 16:39] 0crat commented on #799
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-30 16:42] 0crat commented on #799
Job [#799](https://github.com/yegor256/cactoos/issues/799) is now in scope, role is `DEV`

[2018-04-30 16:43] 0crat commented on #702
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-04-30 16:43] 0crat commented on #702
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-04-30 16:56] krzyk commented on #765
@yegor256 Changes were merged into master in #784, please close this issue

[2018-04-30 22:15] llorllale commented on #747
@paulodamaso are you sure? 0crat said it was assigned to you [here](https://github.com/yegor256/cactoos/issues/747#issuecomment-384782094)

[2018-05-01 02:33] paulodamaso commented on #747
@llorllale Yeah, I'm sending a picture of my agenda to you.

[2018-05-01 02:38] llorllale commented on #747
@0crat assign @paulodamaso

[2018-05-01 02:38] 0crat commented on #747
@llorllale Job [#747](https://github.com/yegor256/cactoos/issues/747) is already assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-05-01 02:44] paulodamaso commented on #747
@0crat wait

[2018-05-01 02:46] 0crat commented on #747
@paulodamaso The impediment for [#747](https://github.com/yegor256/cactoos/issues/747) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-05-01 02:46] 0crat commented on #747
@paulodamaso Job [#747](https://github.com/yegor256/cactoos/issues/747) is not in the agenda of @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), can't set impediment

[2018-05-01 08:31] proshin-roman commented on #759
@0crat wait until pull request #800 is reviewed

[2018-05-01 08:32] 0crat commented on #759
@proshin-roman The impediment for [#759](https://github.com/yegor256/cactoos/issues/759) was registered successfully by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-05-01 08:49] proshin-roman commented on #764
@memoyil why didn't you submit a pull request with your changes? It seems I've already implemented this ticket in your branch, isn't it?

[2018-05-01 08:58] memoyil commented on #764
@proshin-roman I will create a new pull request after refactoring my code.

[2018-05-01 09:06] proshin-roman commented on #764
@memoyil The thing is that the ticket is assigned to me, so I have to submit some fix for it. I don't want to steal your work, but I have to implement something similar. The questions are why didn't you assign the ticket to yourself, and why did you start working on a ticket that is not assigned to you?

[2018-05-01 09:55] proshin-roman commented on #764
@memoyil ok, I'm going to submit some minimal solution that will fit the requirements of the ticket, but you still can submit your constructors and tests later. I think it should be ok.

[2018-05-01 11:08] proshin-roman commented on #764
@0crat wait until pull request #801 is reviewed

[2018-05-01 11:09] 0crat commented on #764
@proshin-roman The impediment for [#764](https://github.com/yegor256/cactoos/issues/764) was registered successfully by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-05-01 13:32] 0pdd opened #802 "IterableOfFloats.java:35-40: Introduce IteratorOfFloats,..."
The puzzle `748-cb897b68` from #748 has to be resolved:

https://github.com/yegor256/cactoos/blob/70e9b53f21481b08ec7563a04c1fe990b57c12c7/src/main/java/org/cactoos/iterable/IterableOfFloats.java#L35-L40

The puzzle was created by Vedran on 01-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is f

[2018-05-01 13:32] 0crat commented on #802
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-01 13:32] 0crat commented on #802
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-01 13:32] 0pdd opened #803 "IterableOfBooleans.java:35-40: Introduce..."
The puzzle `748-7e33dd81` from #748 has to be resolved:

https://github.com/yegor256/cactoos/blob/70e9b53f21481b08ec7563a04c1fe990b57c12c7/src/main/java/org/cactoos/iterable/IterableOfBooleans.java#L35-L40

The puzzle was created by Vedran on 01-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-05-01 13:32] 0pdd commented on #748
@SharplEr 2 puzzles [#802](https://github.com/yegor256/cactoos/issues/802), [#803](https://github.com/yegor256/cactoos/issues/803) are still not solved.

[2018-05-01 13:32] 0crat commented on #802
Job [#802](https://github.com/yegor256/cactoos/issues/802) is now in scope, role is `DEV`

[2018-05-01 13:32] 0crat commented on #803
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-01 13:32] 0crat commented on #803
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-01 13:33] 0crat commented on #803
Job [#803](https://github.com/yegor256/cactoos/issues/803) is now in scope, role is `DEV`

[2018-05-01 13:57] llorllale commented on #225
@fabriciofx closed due to inactivity. Feel free to request this feature in another ticket.

[2018-05-01 13:57] #225 closed

[2018-05-01 13:58] llorllale commented on #301
@ping @filfreire @php-coder

[2018-05-01 13:58] llorllale commented on #476
@filfreire ping

[2018-05-01 13:59] llorllale commented on #506
@fabriciofx closed due to inactivity.

[2018-05-01 13:59] #506 closed

[2018-05-01 14:00] llorllale commented on #548
@fabriciofx closed due to inactivity.

[2018-05-01 14:00] #548 closed

[2018-05-01 14:12] 0crat commented on #225
The job is not in WBS, won't close the order

[2018-05-01 14:15] 0crat commented on #506
The job is not in WBS, won't close the order

[2018-05-01 14:15] 0crat commented on #548
The job is not in WBS, won't close the order

[2018-05-01 14:27] Vatavuk commented on #748
@SharplEr I think you can close this issue. The puzzles are created mainly for optimisation purposes

[2018-05-01 14:35] llorllale commented on #594
@fabriciofx @yegor256 I'm wondering about the use cases for those `with()` and `without*()` methods. Can't we do the same with some combinations of `Filtered` and `Joined`, considering they extend `CollectionEnvelope` which is immutable (except for its `iterator()`, which can be fixed)?

[2018-05-01 14:37] 0crat commented on #736
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-01 14:38] 0crat commented on #736
The job [#736](https://github.com/yegor256/cactoos/issues/736) is now out of scope

[2018-05-01 14:38] llorllale commented on #671
@nick318 please help us out and consider closing this issue if the PR #733 fixed it.

Disclaimer: I helped draft the text for zerocracy/datum#326.

[2018-05-01 14:39] llorllale commented on #711
@aliceice I'm closing this

[2018-05-01 14:39] #711 closed

[2018-05-01 14:52] llorllale commented on #768
@ashtonhogan do you have any idea on how that would look like?

[2018-05-01 14:54] llorllale commented on #776
@ashtonhogan ping

[2018-05-01 14:54] 0crat commented on #711
The job is not in WBS, won't close the order

[2018-05-01 15:06] krzyk commented on #790
@llorllale so what's your decision?

[2018-05-01 15:37] llorllale commented on #792
@Vatavuk those ctors that accept `Proc` are there for convenience really. Semantically speaking, it makes no sense to pass `void` types to these boolean algebraic types.

I think we need something else here that will *consume* the iterator/iterable with the provided action. Something similar to #476.

[2018-05-01 15:38] llorllale commented on #793
@0crat in

[2018-05-01 15:38] 0crat commented on #793
@llorllale Job [#793](https://github.com/yegor256/cactoos/issues/793) is now in scope, role is `DEV`

[2018-05-01 15:39] 0crat commented on #793
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-05-01 15:46] Vatavuk commented on #792
@llorllale The problem is the same for ctor that takes `Func`.
Example from one project of mine:
[code]
This casting introduces noise

[2018-05-01 15:54] llorllale commented on #797
@proshin-roman I believe it's like that just to simplify devops. @yegor256 , do you agree?

[2018-05-01 15:56] llorllale commented on #792
@Vatavuk yes, I agree. The problem is between those two overloaded versions of the ctors (Proc/Func). What I'm saying is, perhaps we should get rid of the overload that accepts the `Proc` and offer some other alternative.

[2018-05-01 16:24] Vatavuk commented on #748
Issue is resolved in #786 with two issues created for optimisation #802 #803

[2018-05-01 16:37] 0crat commented on #748
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-01 16:37] 0crat commented on #748
The job [#748](https://github.com/yegor256/cactoos/issues/748) is now out of scope

[2018-05-01 17:13] Vatavuk opened #804 "CollectionEnvelope and IterableEnvelope have mutable iterators"
Although `CollectionEnvelope` and `IterableEnvelope` appear to be read only they both return
mutable `Iterator` through which user can remove elements.

[2018-05-01 17:13] 0crat commented on #804
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-01 17:15] Vatavuk opened #805 "ListEnvelope has mutable ListIterator"
`ListEnvelope` is read only but returns mutable `ListIterator` through which user can modify a list.

[2018-05-01 17:15] 0crat commented on #805
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-01 17:30] Vatavuk opened #806 "Simplify usage of Joined classes"
In order to expand existing immutable list with a single element, user has to create a new
list in a following way:
[code]
Let's simplify this usage by introducing new ctor in `Joined` classes

`org.cactoos.iterable`
[code]
`org.cactoos.list`
[code]

[2018-05-01 17:30] 0crat commented on #806
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-01 18:49] krzyk commented on #787
@llorllale OK, for Scalar it is hard, because its range is much wider than in other cases so I don't have any examples.

[2018-05-01 18:52] krzyk commented on #790
@llorllale Yes it makes sense, I'm only wondering if we want `Iterable`, choosing a number at random requires ... random access which is given only by `List`. So either we will be reading the whole `Iterable` into a `List` or we could force users to provide a `List` already.

[2018-05-01 19:04] elenavolokhova commented on #736
@0crat quality good

[2018-05-01 19:04] 0crat commented on #736
Order was finished, quality is "good": +35 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-05-01 19:04] 0crat commented on #736
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-01 19:07] elenavolokhova commented on #748
@0crat quality good

[2018-05-01 19:08] 0crat commented on #748
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-05-01 19:08] 0crat commented on #748
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-02 05:15] krzyk commented on #790
@llorllale done, I also added info about the length of the generated text, we didn't discuss that. It is quite common to limit the length of the text.

[2018-05-02 05:16] #787 closed

[2018-05-02 05:31] 0crat commented on #787
The job is not in WBS, won't close the order

[2018-05-02 07:45] filfreire commented on #476
@llorllale I like the idea! Do you think that in our case the `RemoveIf` would be the best name for the class?

[2018-05-02 07:46] filfreire commented on #301
@llorllale I think it could be worth a try.

[2018-05-02 07:50] php-coder commented on #301
Why do you think so? I don't see how Danger is related to some other artefacts.

Also I remember that @yegor256 suggest to start from some simple project like this one.

[2018-05-02 07:58] filfreire commented on #301
@llorllale I'm with @php-coder, I was questioning myself the troubles of bumping a parent version just for the sake of somehow adding Danger. I still think we should do this:

A quick POC would do, just to see how much value were adding or effort were saving in CRs.

[2018-05-02 08:57] ashtonhogan commented on #768
@llorllale Not right now

[2018-05-02 12:45] llorllale commented on #756
@g4s8 is the issue with `SolidScalar` or `SyncScalar`?

[2018-05-02 12:46] llorllale commented on #790
@0crat in

[2018-05-02 12:46] 0crat commented on #790
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 12:46] 0crat commented on #790
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 12:46] 0crat commented on #790
@llorllale Job [#790](https://github.com/yegor256/cactoos/issues/790) is now in scope, role is `DEV`

[2018-05-02 12:50] llorllale commented on #476
@filfreire I'm not too comfortable with that name to be honest. But, we'll be calling `Iterator.remove()`, so there's that. Do you have a better suggestion?

[2018-05-02 14:08] llorllale commented on #301
@filfreire @php-coder ok

Since we would want to run this for PRs (at a minimum), we would need to include it in the travis build.

Now I'm worried about this, found [here](http://danger.systems/guides/getting_started.html#setting-up-danger-to-run-on-your-ci) under *Token Setup* (make sure Travis is selected):

The token would need `public_repo` access.

Will this be a risk factor?

[2018-05-02 15:20] pbenety commented on #755
@wladyan please close this issue. The PR #789 was merged.

[2018-05-02 15:29] #755 closed

[2018-05-02 15:29] 0crat commented on #755
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 16:01] krzyk commented on #765
@yegor256 ping

[2018-05-02 16:30] 0crat commented on #755
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 17:31] 0crat commented on #755
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 18:32] 0crat commented on #755
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 19:30] llorllale commented on #804
@0crat in

[2018-05-02 19:31] 0crat commented on #804
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 19:31] 0crat commented on #804
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 19:31] 0crat commented on #804
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 19:31] 0crat commented on #804
@llorllale Job [#804](https://github.com/yegor256/cactoos/issues/804) is now in scope, role is `DEV`

[2018-05-02 19:31] 0crat commented on #805
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 19:32] 0crat commented on #805
Job [#805](https://github.com/yegor256/cactoos/issues/805) is now in scope, role is `DEV`

[2018-05-02 19:33] 0crat commented on #755
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 19:34] llorllale commented on #594
@fabriciofx I believe the use of `Filtered` and `Joined`, combined with the improvements to be done in #804, #805, and #806, would pretty much cover use cases for `jcabi-immutable`, no?

[2018-05-02 19:37] llorllale commented on #768
@ashtonhogan I'm closing this because I don't see how we can avoid the call to `Locale.getDefault`.

Thanks for your contribution.

[2018-05-02 19:37] #768 closed

[2018-05-02 19:37] 0crat commented on #768
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 19:53] 0crat commented on #768
The job is not in WBS, won't close the order

[2018-05-02 20:31] 0crat commented on #804
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 20:33] 0crat commented on #805
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 20:34] 0crat commented on #755
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 20:38] 0crat commented on #768
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 20:49] 0crat commented on #755
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 20:53] 0crat commented on #768
The job is not in WBS, won't close the order

[2018-05-02 21:18] yegor256 commented on #765
@krzyk thanks!

[2018-05-02 21:18] #765 closed

[2018-05-02 21:20] 0crat commented on #308
The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#308](https://github.com/yegor256/cactoos/issues/308), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-05-02 21:20] 0crat commented on #308
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2018-05-02 21:34] 0crat commented on #765
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-02 21:34] 0crat commented on #765
The job [#765](https://github.com/yegor256/cactoos/issues/765) is now out of scope

[2018-05-02 21:43] 0crat commented on #518
The job [#518](https://github.com/yegor256/cactoos/issues/518) assigned to @pbenety[/z](https://www.0crat.com/u/pbenety), here is [why](https://www.0crat.com/footprint/C63314D6Z/1222145145); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-02 21:45] 0crat commented on #769
The job [#769](https://github.com/yegor256/cactoos/issues/769) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1222147224); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-02 21:48] 0crat commented on #185
The job [#185](https://github.com/yegor256/cactoos/issues/185) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1222150284); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-02 21:50] 0crat commented on #308
The job [#308](https://github.com/yegor256/cactoos/issues/308) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1222152391); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-02 21:51] 0crat commented on #755
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @pbenety[/z](https://www.0crat.com/u/pbenety), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-02 21:51] 0crat commented on #755
The job [#755](https://github.com/yegor256/cactoos/issues/755) is now out of scope

[2018-05-02 21:53] 0crat commented on #754
The job [#754](https://github.com/yegor256/cactoos/issues/754) assigned to @pbenety[/z](https://www.0crat.com/u/pbenety), here is [why](https://www.0crat.com/footprint/C63314D6Z/1222155518); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-02 21:54] 0crat commented on #768
The job is not in WBS, won't close the order

[2018-05-02 22:19] 0crat commented on #454
The job [#454](https://github.com/yegor256/cactoos/issues/454) assigned to @sharpler[/z](https://www.0crat.com/u/sharpler), here is [why](https://www.0crat.com/footprint/C63314D6Z/1222222356); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-05-03 04:32] izrik commented on #760
@VsSekorin If the merged PR satisfies your requirements, please tell 0crat.

[2018-05-03 08:08] Vatavuk commented on #476
@llorllale @filfreire
We can do this with `iterator.LengthOf` and `iterator.Filtered`:
If we want to delete each element in the list:
[code]
If we want to delete specific elements:
[code]
In both cases the result is equal to number of removed elements

[2018-05-03 08:35] Vatavuk commented on #792
@llorllale I didn't know that we can specify type in lambda input and avoid casting.
The above example can look like this:
[code]
I think that this is ok.
I'm not sure about removing those ctors because this functionallity fits naturaly to `Or` object.
Do you agree to close this issue?

[2018-05-03 14:31] 0crat commented on #523
The job [#523](https://github.com/yegor256/cactoos/issues/523) assigned to @vssekorin[/z](https://www.0crat.com/u/vssekorin), here is [why](https://www.0crat.com/footprint/C63314D6Z/1231433168); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-05-03 17:09] elenavolokhova commented on #765
@memoyil According to our Policy:

This comment is not addressed to anyone:

Please, confirm that you'll address all comments in future.

[2018-05-03 17:27] 0crat commented on #755
Order was finished, quality is "good": +35 point(s) just awarded to @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-05-03 17:27] 0crat commented on #755
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-03 17:37] Vatavuk commented on #804
@llorllale I didn't get points for the issue. It seems that 0crat is now working fine. Should I close this and reopen a new one to get points?

[2018-05-03 19:17] krzyk opened #811 "InheritanceLevel for unreleated classes should be negative"
Current `InheritanceLevel` implementation provides a `Integer.MAX_VALUE` for unrelated classes, which is not correct and at first I was puzzled why someone is checking for MAX_VALUE.

For me the natural way would be MIN_VALUE (or anything < 0), which is obviously not a correct inheritance level for related classes, while MAX_VALUE in very very very rare case might be.

[2018-05-03 19:17] 0crat commented on #811
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-03 19:40] llorllale commented on #476
@Vatavuk ok, I suppose adding a specialized `RemoveIf` would be too much.

@filfreire would you be satisfied combining these primitives like @Vatavuk showed?

[2018-05-03 19:43] llorllale commented on #792
@Vatavuk if you think it's ok then you may close your own issue :)

[2018-05-03 19:44] llorllale commented on #769
@0crat resign @Vatavuk

[2018-05-03 19:44] llorllale commented on #769
@0crat out

[2018-05-03 19:46] 0crat commented on #769
@llorllale The user @vatavuk[/z](https://www.0crat.com/u/vatavuk) resigned from [#769](https://github.com/yegor256/cactoos/issues/769), please stop working. Reason for job resignation: Order was cancelled

[2018-05-03 19:47] 0crat commented on #769
@llorllale The job [#769](https://github.com/yegor256/cactoos/issues/769) is now out of scope

[2018-05-03 19:50] 0crat commented on #770
The job [#770](https://github.com/yegor256/cactoos/issues/770) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1231959717); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-03 19:54] llorllale commented on #769
@ashtonhogan fix merged in #769, can we close this?

[2018-05-03 20:00] 0crat commented on #792
The job is not in WBS, won't close the order

[2018-05-03 20:08] VsSekorin commented on #523
@0crat wait #810

[2018-05-03 20:10] 0crat commented on #523
@VsSekorin The impediment for [#523](https://github.com/yegor256/cactoos/issues/523) was registered successfully by @vssekorin[/z](https://www.0crat.com/u/vssekorin)

[2018-05-03 20:43] llorllale commented on #811
@0crat in

[2018-05-03 20:43] 0crat commented on #811
@llorllale Job [#811](https://github.com/yegor256/cactoos/issues/811) is now in scope, role is `DEV`

[2018-05-03 20:46] 0crat commented on #811
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-03 22:37] filfreire commented on #476
@llorllale I'll give it a try and then I'll follow-up and hopefully we can close this issue.

[2018-05-04 06:06] VsSekorin opened #812 "FuncOf constructor with Scalar"
Let's add ctor for `FuncOf`: `public FuncOf(final Scalar<Z> result)` similar to #796
If I have `Scalar<T> scl`, then I should be able to `new FuncOf<>(scl)`. Now I have to do `new FuncOf<>(scl.value())` or `new FuncOf<>(new UncheckedScalar<>(scl).value())`. This is contrary to lazy loading principle.

[2018-05-04 06:06] 0crat commented on #812
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-04 08:52] elenavolokhova commented on #760
@0crat quality good

[2018-05-04 08:54] #769 closed

[2018-05-04 08:55] ashtonhogan commented on #770
Okay

[2018-05-04 08:55] #770 closed

[2018-05-04 08:56] 0crat commented on #760
Order was finished, quality is "good": +35 point(s) just awarded to @izrik[/z](https://www.0crat.com/u/izrik)

[2018-05-04 08:56] 0crat commented on #760
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-04 09:09] 0crat commented on #769
The job is not in WBS, won't close the order

[2018-05-04 09:11] 0crat commented on #770
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-04 09:11] 0crat commented on #770
The job [#770](https://github.com/yegor256/cactoos/issues/770) is now out of scope

[2018-05-04 09:14] 0crat commented on #692
The job [#692](https://github.com/yegor256/cactoos/issues/692) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1240946893); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-04 10:04] memoyil commented on #812
@0crat assign

[2018-05-04 10:05] 0crat commented on #812
@memoyil Option `<login>` is missing in `assign <login>`:
  \* `<login>`: "me" or GitHub login of the person to assign

[2018-05-04 10:26] elenavolokhova commented on #770
@0crat quality bad

[2018-05-04 10:26] 0crat commented on #770
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-04 10:28] 0crat commented on #770
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-05-04 10:29] 0crat commented on #770
@elenavolokhova Thanks, but quality review is not required in this job

[2018-05-04 13:26] 0crat commented on #804
@llorllale The job [#804](https://github.com/yegor256/cactoos/issues/804) is now out of scope

[2018-05-04 13:30] Vatavuk commented on #804
@llorllale Thanks!

[2018-05-04 13:30] #804 closed

[2018-05-04 13:30] Vatavuk opened #813 "CollectionEnvelope and IterableEnvelope have mutable iterators"
Although CollectionEnvelope and IterableEnvelope appear to be read only they both return
mutable Iterator through which user can remove elements.

[2018-05-04 13:30] 0crat commented on #813
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-04 13:31] Vatavuk commented on #804
Reopened in #813

[2018-05-04 13:35] Vatavuk opened #814 "ListEnvelope has mutable ListIterator"
ListEnvelope is read-only but returns mutable ListIterator through which user can modify a list.

[2018-05-04 13:36] 0crat commented on #814
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-04 13:36] Vatavuk commented on #805
Closed due to 0crat failure and reopened it in a new issue #814

[2018-05-04 13:36] #805 closed

[2018-05-04 13:47] 0crat commented on #804
The job is not in WBS, won't close the order

[2018-05-04 13:54] 0crat commented on #805
The job [#805](https://github.com/yegor256/cactoos/issues/805) is now out of scope

[2018-05-04 14:06] krzyk opened #815 "Few configuration issues"
1. `.travis.yml`:
- we don't need `gem install est`  (and do we need xcop?, I don't see it used anywhere)
- script should have `pdd --source=$(pwd) --verbose --file=/dev/null` (just like in .rultor.yml) to catch PDD errors early
- ` mvn clean site -Psite --errors --batch-mode` should be after `mvn clean install ...`

2. `.rultor.yml`:
- `-XX:MaxPermSize=256m` should be removed (it is not used by j

[2018-05-04 14:06] 0crat commented on #815
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-04 14:13] 0crat commented on #766
The job [#766](https://github.com/yegor256/cactoos/issues/766) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C63314D6Z/1241411709); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-05-04 16:19] proshin-roman opened #816 "Matcher ScalarHasValue has to override describeMismatchSafely for better output"
Currently, `ScalarHasValue` doesn't override method `describeMismatchSafely` that leads to the next problem:
[code]
so it prints an actual version incorrectly: default toString method is called for the Scalar.

**Expected:**
- the value of scalar is printed as an actual value of matching.

**What should be fixed**
- class `ScalarHasValue` has to override method `describeMismatchSafely` and convert

[2018-05-04 19:33] krzyk opened #818 "Javadoc issues"
When I tried to generate javadoc for the project I got many errors:
[javadoc-errors.txt](https://github.com/yegor256/cactoos/files/1975668/javadoc-errors.txt).

Please fix them and to safeguard the fixes add to travis and rultor javadoc generation phase:
[code]
(this will require configuring the javadoc plugin in project)

[2018-05-04 19:33] 0crat commented on #818
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-04 19:48] paulodamaso commented on #747
@VsSekorin  please close this issue. The PR #798 was merged.

[2018-05-04 20:10] #747 closed

[2018-05-04 20:28] 0crat commented on #747
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-04 20:28] 0crat commented on #747
The job [#747](https://github.com/yegor256/cactoos/issues/747) is now out of scope

[2018-05-05 11:27] elenavolokhova commented on #747
@paulodamaso According to our Policy:

You didn't mention any explanation in this comment:

Please, confirm that this rule is clear and you will follow it in future. Thanks!

[2018-05-05 11:27] 0crat commented on #747
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos/issues/747#issuecomment-386798795); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2018-05-05 11:54] paulodamaso commented on #747
@elenavolokhova confirm

[2018-05-05 14:29] elenavolokhova commented on #747
@0crat quality acceptable

[2018-05-05 14:30] 0crat commented on #747
Order was finished, quality is "acceptable": +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-05-05 14:30] 0crat commented on #747
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-05 14:44] llorllale commented on #813
@0crat in

[2018-05-05 14:44] 0crat commented on #813
@llorllale Job [#813](https://github.com/yegor256/cactoos/issues/813) is now in scope, role is `DEV`

[2018-05-05 14:44] 0crat commented on #813
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-05-05 14:45] llorllale commented on #805
@0crat status

[2018-05-05 14:45] 0crat commented on #805
@llorllale This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#805](https://github.com/yegor256/cactoos/issues/805) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos%23805%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2018-05-05 14:46] llorllale commented on #814
@0crat in

[2018-05-05 14:46] 0crat commented on #814
@llorllale Job [#814](https://github.com/yegor256/cactoos/issues/814) is now in scope, role is `DEV`

[2018-05-05 14:46] 0crat commented on #814
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-05-05 16:21] 0pdd opened #821 "FuncWithFallback.java:38-42: Refactor FuncWithFallback..."
The puzzle `759-294de7ab` from #759 has to be resolved:

https://github.com/yegor256/cactoos/blob/859cecbfe9bfd12f869f0b7d5106cd9ad92892d6/src/main/java/org/cactoos/func/FuncWithFallback.java#L38-L42

The puzzle was created by Roman Proshin on 01-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem i

[2018-05-05 17:04] SharplEr commented on #551
@llorllale By the way, in case if all our objects are immutable then `Proc<>` have no sense. `Proc<>` can be used only for produce some side effects which are prohibited. I think it's okay to remove `Proc<>`. What do you think?

[2018-05-05 17:28] Vatavuk commented on #185
@yegor256 Please close this issue, it was solved in #808

[2018-05-05 17:58] Vatavuk commented on #308
@llorllale Please close this issue since @fabriciofx is inactive. It was solved in #809

[2018-05-05 18:01] Vatavuk commented on #759
@proshin-roman Great PR #800, thanks!

[2018-05-05 18:01] #759 closed

[2018-05-05 18:09] Vatavuk commented on #656
This issue was resolved in following issues:
#735 #736 #759 #821

I give up from `FinalizedScalar` and `CloseableScalar` since the usability of this classes is questionable.

[2018-05-05 18:09] #656 closed

[2018-05-05 18:14] 0crat commented on #794
The job [#794](https://github.com/yegor256/cactoos/issues/794) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1251826966); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-05-05 18:18] 0crat commented on #759
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-05 18:18] 0crat commented on #759
The job [#759](https://github.com/yegor256/cactoos/issues/759) is now out of scope

[2018-05-05 18:25] 0crat commented on #656
The job is not in WBS, won't close the order

[2018-05-05 18:36] paulodamaso commented on #766
@Vatavuk  please close this issue. The PR #819 was merged.

[2018-05-05 18:43] 0crat commented on #766
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: yegor256/cactoos#766, Action: closed

[2018-05-05 18:44] 0crat commented on #766
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-05 18:44] #766 closed

[2018-05-05 18:44] 0crat commented on #766
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: yegor256/cactoos#766, Action: closed

[2018-05-05 18:47] Vatavuk commented on #766
@llorllale Can you please help here. When I closed this issue 0crat failed to submit action.
Then I closed and reopened again but it failed again...

[2018-05-05 19:00] 0crat commented on #766
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-05 19:00] 0crat commented on #766
The job [#766](https://github.com/yegor256/cactoos/issues/766) is now out of scope

[2018-05-05 19:00] 0crat commented on #766
The job is not in WBS, won't close the order

[2018-05-05 19:03] 0crat commented on #788
The job [#788](https://github.com/yegor256/cactoos/issues/788) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C63314D6Z/1251917370); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-05-05 19:45] 0crat commented on #766
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: yegor256/cactoos#766, Action: closed

[2018-05-05 19:59] 0crat commented on #766
The job is not in WBS, won't close the order

[2018-05-05 20:00] 0crat commented on #766
The job is not in WBS, won't close the order

[2018-05-05 20:25] llorllale commented on #308
@Vatavuk I agree, thanks.

[2018-05-05 20:25] #308 closed

[2018-05-05 20:26] llorllale commented on #766
@0crat status

[2018-05-05 20:27] 0crat commented on #766
@llorllale This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#766](https://github.com/yegor256/cactoos/issues/766) is not in scope
  * The job is waiting quality review verdict by @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) for 1hr
  * @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) will receive 30 minutes after quality re

[2018-05-05 20:40] 0crat commented on #308
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-05 20:40] 0crat commented on #308
The job [#308](https://github.com/yegor256/cactoos/issues/308) is now out of scope

[2018-05-05 20:42] 0crat commented on #796
The job [#796](https://github.com/yegor256/cactoos/issues/796) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1252060348); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-05 20:45] 0crat commented on #766
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: yegor256/cactoos#766, Action: closed

[2018-05-05 21:00] 0crat commented on #766
The job is not in WBS, won't close the order

[2018-05-05 21:36] llorllale commented on #751
@yegor256 do you wish to include it in ZC project C63314D6Z?

[2018-05-05 22:01] 0crat commented on #766
The job is not in WBS, won't close the order

[2018-05-06 04:38] yegor256 commented on #185
@Vatavuk thanks

[2018-05-06 04:38] #185 closed

[2018-05-06 04:43] yegor256 commented on #551
@llorllale how can we fix that? I can't see any other solution...

[2018-05-06 04:45] yegor256 commented on #751
@llorllale you can do it yourself in Slack

[2018-05-06 04:54] 0crat commented on #185
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-06 04:54] 0crat commented on #185
The job [#185](https://github.com/yegor256/cactoos/issues/185) is now out of scope

[2018-05-06 04:58] 0crat commented on #799
The job [#799](https://github.com/yegor256/cactoos/issues/799) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1260491003); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-06 06:15] proshin-roman commented on #764
@yegor256 The feature has been implemented in #801 that is already merged into the master branch. Please, check if the ticket can be closed.

[2018-05-06 08:44] Vatavuk commented on #812
@llorllale @VsSekorin I've implemented this issue in PR #822 for #796

[2018-05-06 08:49] Vatavuk commented on #776
@llorllale I had the same issue in PR #817  for ee45ae1. To resolve this I pushed a dummy commit just to restart tests. This happened to me in two PRs so far.

[2018-05-06 08:50] Vatavuk commented on #776
@llorllale And third time now in #822

[2018-05-06 09:44] SharplEr commented on #551
@llorllale Okay. In case if I remove this ctor, it will affect about 15 other classes (tests included). So a big part of functionality will be lost. Do I need to save this functionality somehow?

[2018-05-06 09:52] SharplEr commented on #551
@yegor256  I see one way, create new class:
[code]
Which can return `Optional.empty()` instead of `null`.

But unfortunately such code will not build:
[code]
Now I'm thinking about can I avoid this or not.

[2018-05-06 10:52] memoyil commented on #793
@Vatavuk @llorllale I will do that feature

[2018-05-06 12:36] llorllale commented on #185
@rultor release, tag is `0.31`

[2018-05-06 12:36] rultor commented on #185
@llorllale OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14448-386876401)

[2018-05-06 12:47] rultor commented on #185
@llorllale Done! FYI, the full log is [here](http://www.rultor.com/t/14448-386876401) (took me 10min)

[2018-05-06 13:13] llorllale commented on #776
@Vatavuk was it also happening to you in the appveyor build, or in travis?

[2018-05-06 13:16] Vatavuk commented on #776
@llorllale only appveyor

[2018-05-06 13:27] llorllale commented on #793
@memoyil let @0crat assign tasks

[2018-05-06 13:27] 0crat commented on #793
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos/issues/793#issuecomment-386879382); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2018-05-06 13:29] llorllale commented on #776
@Vatavuk yeah, just saw it [here](https://ci.appveyor.com/project/yegor256/cactoos/build/1220)

[2018-05-06 13:29] llorllale commented on #776
@0crat in

[2018-05-06 13:30] 0crat commented on #776
@llorllale Job [#776](https://github.com/yegor256/cactoos/issues/776) is now in scope, role is `DEV`

[2018-05-06 13:31] 0crat commented on #776
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ashtonhogan[/z](https://www.0crat.com/u/ashtonhogan)

[2018-05-06 13:36] llorllale commented on #751
@yegor256 that's correct, but unfortunately it says [here](https://www.yegor256.com/2014/07/31/travis-and-rultor.html#scenario-4-deploy-to-cloudbees) that rultor pulls secrets/keys from GH repos. Unfortunately, I don't have private repos and can't currently commit to spending those $7/mo due to special circumstances.

I believe having this non-rultor project next to the others would be awkward. I

[2018-05-06 14:11] llorllale commented on #756
@g4s8 ping

[2018-05-06 14:16] llorllale commented on #594
@fabriciofx ping

[2018-05-06 14:17] llorllale commented on #671
@nick318 unfortunately I am closing this ticket for you.

Thanks for your contribution.

[2018-05-06 14:17] #671 closed

[2018-05-06 14:26] llorllale commented on #812
@0crat in

[2018-05-06 14:26] 0crat commented on #812
@llorllale Job [#812](https://github.com/yegor256/cactoos/issues/812) is now in scope, role is `DEV`

[2018-05-06 14:29] 0crat commented on #812
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vssekorin[/z](https://www.0crat.com/u/vssekorin)

[2018-05-06 14:32] 0crat commented on #671
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-06 14:33] 0crat commented on #671
The job [#671](https://github.com/yegor256/cactoos/issues/671) is now out of scope

[2018-05-06 14:38] llorllale commented on #815
@0crat in

[2018-05-06 14:39] 0crat commented on #815
@llorllale Job [#815](https://github.com/yegor256/cactoos/issues/815) is now in scope, role is `DEV`

[2018-05-06 14:41] llorllale commented on #815
@0crat assign @llorllale

[2018-05-06 14:41] 0crat commented on #815
The job [#815](https://github.com/yegor256/cactoos/issues/815) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C63314D6Z/1261439134); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-05-06 14:43] 0crat commented on #815
@llorllale Job `gh:yegor256/cactoos#815` already assigned to @llorllale, can't assign to @llorllale

[2018-05-06 14:44] 0crat commented on #815
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-06 14:44] 0crat commented on #815
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-06 14:44] 0crat commented on #815
@llorllale Job [#815](https://github.com/yegor256/cactoos/issues/815) is already assigned to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-06 14:46] llorllale commented on #815
@krzyk
`.travis.yml`:
1. `xcop` is being invoked via `jcabi-parent`. It's not obvious, but look for example in [this](http://www.rultor.com/t/14444-386820002) build log for the string "looks good"
2. `est`: I agree, we aren't using it. `pdd` does not list it as a [runtime dependency](https://rubygems.org/gems/pdd/versions/0.15.4).
3. Why should `mvn clean site` be after `mvn clea install`?
4. I wi

[2018-05-06 14:56] llorllale commented on #818
@krzyk our release process is generating javadocs without issues it seems. For example, this error in your file:

We could still generate and public javadoc for `And` just fine [here](https://static.javadoc.io/org.cactoos/cactoos/0.31/org/cactoos/scalar/And.html)

[2018-05-06 14:57] krzyk commented on #815
@llorllale just ignore the `clean site` comment

[2018-05-06 14:57] llorllale commented on #816
@proshin-roman let's put this on hold while #751 is sorted out

[2018-05-06 16:02] elenavolokhova commented on #759
@0crat quality good

[2018-05-06 16:05] elenavolokhova commented on #308
@svendiedrichsen According to our Policy:

This comment was not addressed:

Please, confirm that you'll follow this rule in future.

[2018-05-06 16:06] VsSekorin commented on #523
@Timmeey PR was merged.

[2018-05-06 16:07] #796 closed

[2018-05-06 16:08] 0crat commented on #759
Order was finished, quality is "good": +35 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-05-06 16:08] 0crat commented on #759
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-06 16:09] elenavolokhova commented on #766
@0crat quality good

[2018-05-06 16:10] elenavolokhova commented on #185
@0crat quality good

[2018-05-06 16:13] 0crat commented on #766
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-05-06 16:14] 0crat commented on #766
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-06 16:14] 0crat commented on #185
Order was finished, quality is "good": +35 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-05-06 16:14] 0crat commented on #185
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-06 16:17] elenavolokhova commented on #671
@flslkxtc According to our Policy:

This impediment has no explanation:

Please, confirm that you'll follow this rule in future.

[2018-05-06 16:18] 0crat commented on #671
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos/issues/671#issuecomment-386890849); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2018-05-06 16:32] yegor256 commented on #797
@proshin-roman we can use any version there, I agree with @proshin-roman  Let's just make sure that we are not using `1.0-SNAPSHOT` constant anywhere in the code base.

[2018-05-06 16:44] krzyk commented on #818
@llorllale We just got lucky that we don't have any generic parameters inside `<>`, and browsers just display those cases as they appear. But if you check with html validator it will display those as errors.

[2018-05-06 17:42] svendiedrichsen commented on #308
@elenavolokhova Confirmed.

[2018-05-06 19:17] elenavolokhova commented on #308
@0crat quality acceptable

[2018-05-06 20:29] g4s8 commented on #756
@llorllale sorry, missed notification. The issue is only with `SolidScalar` not with `SyncScalar`. `SyncScalar` is just synchronize access to `Scalar` so it's expected that its performance is not such good as of origin `Scalar`. But `SolidScalar` actually needs synchronization only on initialization (first accesses), then it can be used without it, so performance here can be improved.

[2018-05-06 21:01] llorllale commented on #751
@yegor256 forget it. I've thought about it a bit more and I've decided to get the subscription. Thanks for your patience.

[2018-05-06 21:42] alex-semenyuk opened #824 "Use cactoos FormattedText instead of static String format."
There are few places in which we can replace static String format on FormattedText:
org.cactoos.scalar.AndInThreads, org.cactoos.io.LoggingInputStream, org.cactoos.io.LoggingOutputStream, org.cactoos.scalar.CheckedScalar,org.cactoos.scalar.CheckedScalar.
Lets refactor them.

[2018-05-06 21:42] 0crat commented on #824
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-06 22:09] flslkxtc commented on #671
@elenavolokhova ok, i will specify waiting reason in my further tickets.

[2018-05-07 08:50] elenavolokhova commented on #671
@flslkxtc Thank you!

[2018-05-07 08:50] elenavolokhova commented on #671
@0crat quality aceptable

[2018-05-07 08:50] 0crat commented on #671
@elenavolokhova Argument "aceptable" doesn't match regex `good|bad|acceptable`

[2018-05-07 09:15] memoyil commented on #824
@0crat apply

[2018-05-07 09:18] 0crat commented on #824
@memoyil Can't understand "apply", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status of the

[2018-05-07 09:47] elenavolokhova commented on #671
@0crat quality acceptable

[2018-05-07 09:47] 0crat commented on #671
Order was finished, quality is "acceptable": +30 point(s) just awarded to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc)

[2018-05-07 09:48] 0crat commented on #671
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-07 11:11] Vatavuk opened #825 "Binary"
We currently have `Ternary` which is equivalent to `if then else`.
I propose to create `Binary` that would be equivalent to `if then` for
situations when a user needs to execute a specific action for given condition.

`Binary` should:
     - implement `Scalar<Boolean>`
     -  provide two ctors: `(Scalar<Boolean> condition, Scalar<T> scalar)` and `(Scalar<Boolean> condition,  Runnable runnable)`

[2018-05-07 11:11] 0crat commented on #825
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-07 11:24] Vatavuk opened #826 "ScalarEnvelope and FuncEnvelope"
Although `Scalar` and `Func` interfaces consist of only one method I think that it would be valuable for a user to be able to use envelopes for them.
One use case would be when the user wants to create a custom fallback plan (via `ScalarWithFallback/FuncWithFallback`) and reuse it throughout a codebase. He should not need to implement `Scalar`, just extend `ScalarEnvelope`

[2018-05-07 11:25] 0crat commented on #826
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-07 11:48] Vatavuk opened #827 "Expand ctors for ScalarWithFallback and FallbackFrom"
Currently, if we want to use `ScalarWithFallback` user needs to provide follow up function as well as an iterable for fallback options. Furthermore, for each fallback option user needs to provide an iterable of exception types.
Example:
[code]
This is to verbose and could be simplified by adding two ctors to `ScalarWithFallback:`
[code]
And one to `FallbackFrom`:
[code]
End result:
[code]

[2018-05-07 11:48] 0crat commented on #827
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-07 11:52] elenavolokhova commented on #770
@0crat status

[2018-05-07 11:52] 0crat commented on #770
@elenavolokhova This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#770](https://github.com/yegor256/cactoos/issues/770) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos%23770%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2018-05-07 13:45] 0crat commented on #802
The job [#802](https://github.com/yegor256/cactoos/issues/802) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1271347460); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-05-07 13:47] 0crat commented on #803
The job [#803](https://github.com/yegor256/cactoos/issues/803) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1271348514); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-05-07 13:51] llorllale commented on #756
@g4s8 so when you wrote

You mean **SolidScalar**, right?

[2018-05-07 13:53] g4s8 commented on #756
@llorllale yes, sorry for that, will update the ticket

[2018-05-07 13:58] krzyk commented on #781
@proshin-roman thanks

[2018-05-07 13:58] #781 closed

[2018-05-07 14:14] 0crat commented on #781
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-07 14:15] 0crat commented on #781
The job [#781](https://github.com/yegor256/cactoos/issues/781) is now out of scope

[2018-05-07 14:30] Vatavuk commented on #692
@driver733 Please close this issue, it was solved in #817

[2018-05-07 14:33] Vatavuk opened #829 "Tests for AndInThreads are not stable"
AndInThreadsTest is not stable: https://github.com/yegor256/cactoos/pull/817#issuecomment-386880040

They fail randomly on my local machine too.

[2018-05-07 14:33] 0crat commented on #829
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-07 14:36] 0crat commented on #813
The job [#813](https://github.com/yegor256/cactoos/issues/813) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C63314D6Z/1271438180); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-05-07 15:44] llorllale commented on #829
@0crat in

[2018-05-07 15:45] 0crat commented on #829
@llorllale Job [#829](https://github.com/yegor256/cactoos/issues/829) is now in scope, role is `DEV`

[2018-05-07 15:47] 0crat commented on #829
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vatavuk[/z](https://www.0crat.com/u/vatavuk)

[2018-05-07 16:29] 0crat commented on #811
The job [#811](https://github.com/yegor256/cactoos/issues/811) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C63314D6Z/1271635597); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-05-07 17:58] elenavolokhova commented on #781
@proshin-roman According to our Policy:

Please, confirm that you will follow this rule in future.

[2018-05-07 18:18] Vatavuk commented on #692
@llorllale Can you close this issue, since @driver733 is on a vacation

[2018-05-07 19:14] proshin-roman commented on #781
@elenavolokhova Do you mean that I should always write something like "The issue has been fixed in pull request <PR number here>"? If so - I confirm.

[2018-05-08 01:37] 0crat commented on #518
@pbenety[/z](https://www.0crat.com/u/pbenety) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-08 01:37] 0crat commented on #754
@pbenety[/z](https://www.0crat.com/u/pbenety) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-08 02:12] pbenety commented on #518
@0crat waiting review #835

[2018-05-08 03:36] 0crat commented on #454
@sharpler[/z](https://www.0crat.com/u/sharpler) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-08 07:10] SharplEr commented on #454
@rafamizes PR was merged. You can close the issue.

[2018-05-08 09:59] victornoel opened #836 "Matchers that take String should also take Text"
The available `Matcher`s in cactoos often takes `String`s in their constructor.
They should also support taking `Text`.

This concerns at least:
- `InputHasContent`
- `TextHasString`

[2018-05-08 09:59] 0crat commented on #836
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-08 11:15] victornoel opened #837 "Incorrect implementation for FuncApplies.describeTo"
`FuncApplies.describeTo` refers to `Scalar` instead of `Func`

[2018-05-08 13:17] 0crat commented on #837
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-08 13:30] 0pdd commented on #802
The puzzle `748-cb897b68` has disappeared from the source code, that's why I closed this issue.

[2018-05-08 13:30] #802 closed

[2018-05-08 13:30] 0pdd opened #838 "IterableOfLongs.java:35-39: Introduce IteratorOfLongs and..."
The puzzle `802-6284bb55` from #802 has to be resolved:

https://github.com/yegor256/cactoos/blob/9346b81018b7e8238f796ea6b59c833d287ba836/src/main/java/org/cactoos/iterable/IterableOfLongs.java#L35-L39

The puzzle was created by Krzysztof Krason on 08-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pro

[2018-05-08 13:30] 0pdd commented on #748
@SharplEr 2 puzzles [#803](https://github.com/yegor256/cactoos/issues/803), [#838](https://github.com/yegor256/cactoos/issues/838) are still not solved; solved: [#802](https://github.com/yegor256/cactoos/issues/802).

[2018-05-08 13:30] 0pdd commented on #802
@0pdd the puzzle [#838](https://github.com/yegor256/cactoos/issues/838) is still not solved.

[2018-05-08 13:31] 0crat commented on #838
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-08 13:31] 0crat commented on #838
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-08 13:36] 0crat commented on #838
Job [#838](https://github.com/yegor256/cactoos/issues/838) is now in scope, role is `DEV`

[2018-05-08 13:46] #803 closed

[2018-05-08 13:46] 0pdd commented on #803
The puzzle `748-7e33dd81` has disappeared from the source code, that's why I closed this issue.

[2018-05-08 13:46] 0pdd opened #839 "IterableOfBytes.java:35-39: Introduce IteratorOfBytes and..."
The puzzle `803-f276f37b` from #803 has to be resolved:

https://github.com/yegor256/cactoos/blob/57a3c18175ef35e79a1bd1c35284be7db1c228b5/src/main/java/org/cactoos/iterable/IterableOfBytes.java#L35-L39

The puzzle was created by Krzysztof Krason on 07-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pro

[2018-05-08 13:46] 0pdd commented on #748
@SharplEr 2 puzzles [#838](https://github.com/yegor256/cactoos/issues/838), [#839](https://github.com/yegor256/cactoos/issues/839) are still not solved; solved: [#802](https://github.com/yegor256/cactoos/issues/802), [#803](https://github.com/yegor256/cactoos/issues/803).

[2018-05-08 13:46] 0pdd commented on #803
@0pdd the puzzle [#839](https://github.com/yegor256/cactoos/issues/839) is still not solved.

[2018-05-08 13:47] 0crat commented on #839
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-08 13:47] 0crat commented on #839
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-08 13:52] 0crat commented on #839
Job [#839](https://github.com/yegor256/cactoos/issues/839) is now in scope, role is `DEV`

[2018-05-08 13:57] 0crat commented on #802
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-08 13:58] 0crat commented on #838
The job [#838](https://github.com/yegor256/cactoos/issues/838) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/1281348710); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-05-08 14:12] 0crat commented on #803
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-08 14:13] 0crat commented on #803
The job [#803](https://github.com/yegor256/cactoos/issues/803) is now out of scope

[2018-05-08 14:17] krzyk commented on #794
@0pdd fixed in #834

[2018-05-08 14:17] krzyk commented on #802
@0pdd fixed in #832

[2018-05-08 14:18] krzyk commented on #803
@0pdd fixed in #831

[2018-05-08 15:38] victornoel opened #841 "IteratorOfXXX are marked as not being thread-safe but seem to be..."
Looking at https://github.com/yegor256/cactoos/blob/57a3c18175ef35e79a1bd1c35284be7db1c228b5/src/main/java/org/cactoos/iterator/IteratorOf.java#L33, we can see that this class and other similar are marked as not being thread safe.

But the thing is that they seem to be: they are implemented using an `AtomicBoolean`  to track the iteration. They are as thread-safe as they can be.

I am asking becau

[2018-05-08 15:38] 0crat commented on #841
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-08 15:38] victornoel commented on #838
@0crat waiting on #841

[2018-05-08 15:53] llorllale commented on #751
@0crat waiting on yegor256/rultor#1256

[2018-05-08 15:56] 0crat commented on #751
@llorllale Job [#751](https://github.com/yegor256/cactoos/issues/751) is already on hold

[2018-05-08 17:34] llorllale commented on #815
@krzyk fixed in f9315fe740be3661e7edf6218f20584d3a1ece15

I think we can close this?

[2018-05-08 18:44] krzyk commented on #815
@llorllale thanks

[2018-05-08 18:44] #815 closed

[2018-05-08 19:11] 0crat commented on #815
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-08 19:11] 0crat commented on #815
The job [#815](https://github.com/yegor256/cactoos/issues/815) is now out of scope

[2018-05-08 19:16] elenavolokhova commented on #765
@0crat quality acceptable

[2018-05-08 19:32] Vatavuk commented on #692
@llorllale ping

[2018-05-08 19:38] 0crat commented on #765
Order was finished, quality is "acceptable": +30 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-08 19:47] 0crat commented on #765
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-08 20:35] 0crat commented on #802
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-08 20:39] 0crat commented on #802
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-08 20:40] 0crat commented on #803
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-08 20:41] 0crat commented on #803
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-05-08 20:50] proshin-roman commented on #790
@krzyk The issue has been fixed by pull request #830 that is already merged. Please, close the ticket.

[2018-05-08 20:52] krzyk commented on #790
@proshin-roman thanks

[2018-05-08 20:52] #790 closed

[2018-05-08 21:02] jimkast commented on #185
HeadOf is not the same with Skipped now, it is actually identical to Limited iterable. Can you restore Skipped iterable?

[2018-05-08 21:13] 0crat commented on #790
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-08 21:14] 0crat commented on #790
The job [#790](https://github.com/yegor256/cactoos/issues/790) is now out of scope

[2018-05-08 23:58] pbenety commented on #756
@g4s8 In https://github.com/g4s8/synctest, your app improve **SyncScalar**. Can you check if it is possible to improve performance for current **SolidScalar** implementation?

[2018-05-09 07:26] g4s8 commented on #756
@pbenety there is no `SyncScalar` in this app, only `SolidScalar`, see: https://github.com/g4s8/synctest/blob/master/src/main/java/com/g4s8/synctest/App.java

[2018-05-09 08:31] krzyk opened #844 "Missing equals and hashcode in MapEnvelope and CollectionEnvelope"
Following test cases fail:
[code]
[code]
But they should work, because collection and map is just a container.

[2018-05-09 08:31] 0crat commented on #844
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-09 08:50] elenavolokhova commented on #790
@0crat quality good

[2018-05-09 08:54] 0crat commented on #790
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: yegor256/cactoos#790, Comment: 387669592

[2018-05-09 09:00] 0crat commented on #790
@elenavolokhova Thanks, but quality review is not required in this job

[2018-05-09 09:01] 0crat commented on #790
Order was finished, quality is "good": +35 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-05-09 09:31] proshin-roman opened #846 "CodeCov doesn't provide test coverage reports for some pull requests"
**What's wrong**
CodeCov doesn't provide test coverage reports for some pull requests: https://github.com/yegor256/cactoos/pull/842 and https://github.com/yegor256/cactoos/pull/835 pointing to [this article](https://docs.codecov.io/docs/error-reference#section-missing-base-commit).

**What's expected**
CodeCov should provide a test coverage report for each pull request.

[2018-05-09 09:31] 0crat commented on #846
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-09 16:35] 0crat commented on #692
@vatavuk[/z](https://www.0crat.com/u/vatavuk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-09 17:31] llorllale commented on #692
@Vatavuk I agree, @driver733 is on vacation. Thanks

[2018-05-09 17:31] #692 closed

[2018-05-09 17:47] 0crat commented on #692
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1291738138, Type: 'Close job', Author: llorllale

[2018-05-09 17:48] 0crat commented on #692
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @vatavuk[/z](https://www.0crat.com/u/vatavuk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-09 17:48] 0crat commented on #692
The job [#692](https://github.com/yegor256/cactoos/issues/692) is now out of scope

[2018-05-09 18:02] llorllale commented on #844
@krzyk agreed, `CollectionEnvelope` and `MapEnvelope` should implement equals/hashcode

[2018-05-09 18:02] llorllale commented on #844
@0crat in

[2018-05-09 18:04] 0crat commented on #844
Job [#844](https://github.com/yegor256/cactoos/issues/844) is now in scope, role is `DEV`

[2018-05-09 18:05] 0crat commented on #844
@llorllale Job [#844](https://github.com/yegor256/cactoos/issues/844) is already in scope

[2018-05-09 18:08] 0crat commented on #844
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-09 18:18] llorllale commented on #185
@jimkast you should use `HeadOf`/`TailOf` now.

And yes, we forgot to remove `Limited`.

[2018-05-09 18:19] llorllale opened #848 "Remove Limited"
`Limited` was deprecated in favor of `HeadOf` in #185. Let's delete it.

[2018-05-09 18:26] 0crat commented on #848
The job [#848](https://github.com/yegor256/cactoos/issues/848) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C63314D6Z/1291831516); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-05-09 18:27] 0crat commented on #848
Job `gh:yegor256/cactoos#848` already assigned to @llorllale, can't assign to @llorllale

[2018-05-09 18:29] 0crat commented on #848
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-09 18:29] llorllale commented on #848
@0crat out

[2018-05-09 18:29] 0crat commented on #848
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-09 18:30] 0crat commented on #848
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-09 18:32] 0crat commented on #848
@llorllale GitHub issue is still open, won't close

[2018-05-09 18:32] llorllale commented on #848
@0crat status

[2018-05-09 18:33] 0crat commented on #848
@llorllale This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#848](https://github.com/yegor256/cactoos/issues/848) is [in scope](http://www.zerocracy.com/policy.html#14) for 10min
  * The role is `DEV`
  * The job is assigned to @llorllale[/z](https://www.0crat.com/u/llorllale) for [10min](http://www.zerocracy.com/policy.html#8)
  * There is a

[2018-05-09 18:34] llorllale commented on #848
@0crat refuse

[2018-05-09 18:35] 0crat commented on #848
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#848](https://github.com/yegor256/cactoos/issues/848), please stop working. Reason for job resignation: Order was cancelled

[2018-05-09 18:37] llorllale commented on #848
@0crat status

[2018-05-09 18:38] 0crat commented on #848
@llorllale This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#848](https://github.com/yegor256/cactoos/issues/848) is [in scope](http://www.zerocracy.com/policy.html#14) for 14min
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are banned and won

[2018-05-09 18:38] 0crat commented on #848
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-09 18:39] llorllale commented on #848
@0crat out

[2018-05-09 18:39] llorllale commented on #848
@0crat status

[2018-05-09 18:40] 0crat commented on #848
@llorllale This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#848](https://github.com/yegor256/cactoos/issues/848) is [in scope](http://www.zerocracy.com/policy.html#14) for 16min
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are banned and won

[2018-05-09 18:40] 0crat commented on #848
@llorllale The job [#848](https://github.com/yegor256/cactoos/issues/848) is now out of scope

[2018-05-09 18:44] llorllale commented on #848
@0crat status

[2018-05-09 18:45] 0crat commented on #848
@llorllale This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#848](https://github.com/yegor256/cactoos/issues/848) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos%23848%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2018-05-09 18:50] 0crat commented on #848
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1291843919, Type: 'Close job', Author: llorllale

[2018-05-09 18:52] llorllale commented on #848
Fixed in 85e57d79d84a1a209a00a584202801b42665196f

[2018-05-09 18:52] #848 closed

[2018-05-09 19:07] 0crat commented on #848
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1291852485, Type: 'Close job', Author: llorllale

[2018-05-09 19:14] llorllale commented on #846
@proshin-roman fixed in fc157ce6941a0881faa9d11256bea485654172bc, thanks

[2018-05-09 19:14] #846 closed

[2018-05-09 19:16] jimkast commented on #185
Thank you very much for your reply. However, if I am not misunderstood, there is no Skipped alternative now. HeadOf **selects** first elements, TailOf **selects** last elements, while Skipped **omits** the first elements.

[2018-05-09 19:30] 0crat commented on #846
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1291915207, Type: 'Close job', Author: llorllale

[2018-05-09 19:30] llorllale commented on #824
@alex-semenyuk agreed, it's being used in all these:

[code]

[2018-05-09 19:30] llorllale commented on #824
@0crat in

[2018-05-09 19:31] 0crat commented on #824
Job [#824](https://github.com/yegor256/cactoos/issues/824) is now in scope, role is `DEV`

[2018-05-09 19:31] 0crat commented on #824
@llorllale Job [#824](https://github.com/yegor256/cactoos/issues/824) is already in scope

[2018-05-09 19:31] 0crat commented on #824
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @alex-semenyuk[/z](https://www.0crat.com/u/alex-semenyuk)

[2018-05-09 19:34] jimkast commented on #185
No it is not the same. For example:

`List<Integer> list = Arrays.asList(5,6,7,8,9,10);`
`new HeadOf<>(2, list)` gives  [5,6]
`new TailOf<>(2, list) gives`  [9,10]
`new Skipped<>(2, list) `gives  [7,8,9,10]

If you know the size then yes, it is the same, you can use:
new HeadOf<>(size - 2, list)
but we we don't then there is no alternative to Skipped now.

[2018-05-09 19:38] 0crat commented on #797
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1291923446, Type: 'Close job', Author: llorllale

[2018-05-09 19:39] llorllale commented on #825
@Vatavuk seems like overkill to me. Why not simple `if(...){...}` ?

[2018-05-09 19:40] llorllale commented on #825
@Vatavuk btw, I believe you can currently do something similar using `And`

[2018-05-09 19:46] llorllale commented on #826
@Vatavuk but that's what `ScalarWithFallback` and `FuncWithFallback` are for, isn't it? I don't quite understand your use-case, could you please elaborate more?

[2018-05-09 19:48] llorllale commented on #836
@victornoel let's park this one while #751 is sorted out

[2018-05-09 19:48] llorllale commented on #837
@victornoel let's park this one while #751 is sorted out

[2018-05-09 19:48] llorllale commented on #816
@proshin-roman let's park this one while #751 is sorted out

[2018-05-09 19:50] proshin-roman commented on #816
@llorllale yeah, ok, let's wait

[2018-05-09 19:54] proshin-roman commented on #811
@krzyk The issue has been fixed in #833 - please, close the ticket.

[2018-05-09 19:56] llorllale commented on #185
@jimkast perhaps if we add this ctor... what do you think?

[code]

you could then do

[code]

[2018-05-09 20:09] llorllale commented on #818
@krzyk are there use cases for running an html validator on the javadocs?

[2018-05-09 20:13] krzyk commented on #811
@proshin-roman thanks

[2018-05-09 20:13] #811 closed

[2018-05-09 20:13] 0pdd opened #849 "TextEnvelope.java:38-40: Refactor all classes in text..."
The puzzle `788-d4bcd092` from #788 has to be resolved:

https://github.com/yegor256/cactoos/blob/0314515f133f4ac8b1be143fcbb7cc6c0c5ad40a/src/main/java/org/cactoos/text/TextEnvelope.java#L38-L40

The puzzle was created by Paulo Lobo on 08-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-05-09 20:14] 0pdd commented on #788
@krzyk the puzzle [#849](https://github.com/yegor256/cactoos/issues/849) is still not solved.

[2018-05-09 20:14] 0crat commented on #849
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-09 20:14] 0crat commented on #849
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-09 20:14] 0crat commented on #849
Job [#849](https://github.com/yegor256/cactoos/issues/849) is now in scope, role is `DEV`

[2018-05-09 20:15] jimkast commented on #185
Func would be a solution but this ctor is not intention revealing and would make the class more complicated. I think implementing (restoring) the Skipped (or Omitted) class would be clearer in my opinion.

[2018-05-09 20:29] 0crat commented on #811
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-09 20:29] 0crat commented on #811
The job [#811](https://github.com/yegor256/cactoos/issues/811) is now out of scope

[2018-05-09 20:31] krzyk commented on #788
@paulodamaso thanks

[2018-05-09 20:31] #788 closed

[2018-05-09 20:34] llorllale commented on #818
@krzyk I suppose javadoc linting in `jcabi-parent` is too lax, yeah. If we fix this in `cactoos`, it would be only for cases where a user would want to generate it for themselves, is that it?

[2018-05-09 20:38] llorllale commented on #185
@jimkast alright. Can you please open a new ticket to resurrect `Skipped`?

[2018-05-09 20:38] jimkast commented on #185
@llorllale Of course! Thank you very much.

[2018-05-09 20:43] llorllale commented on #841
@victornoel well... it looks like it *accidentally* may have ended up as thread-safe, but it certainly is *not* required to be. That's what `SyncIterator` is for.

Looks like `IteratorOf` was previously known as `StickyIterator` (see #641).

I believe there is no issue here: `IteratorOf` makes no guarantees as to thread-safety and is thus free to refactor this implementation detail in the future.

[2018-05-09 20:44] jimkast opened #850 "Resurrect Skipped Iterable"
Can we restore Skipped iterable decorator wich was removed after solving #185 ? HeadOf and TailOf decorate in a different way and cannot replace the recently removed Skipped iterable (which omits a number of head elements from an iterable)

[2018-05-09 20:44] 0crat commented on #850
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-09 20:44] 0crat commented on #850
@jimkast[/z](https://www.0crat.com/u/jimkast) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-09 20:46] llorllale commented on #850
@0crat in

[2018-05-09 20:46] 0crat commented on #850
@llorllale Job [#850](https://github.com/yegor256/cactoos/issues/850) is now in scope, role is `DEV`

[2018-05-09 20:46] 0crat commented on #850
@llorllale Thanks for your contribution, @jimkast[/z](https://www.0crat.com/u/jimkast)! If you would be a member of [the project](https://www.0crat.com/p/C63314D6Z), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-05-09 20:47] 0crat commented on #788
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-09 20:47] 0crat commented on #788
The job [#788](https://github.com/yegor256/cactoos/issues/788) is now out of scope

[2018-05-10 00:30] pbenety commented on #754
@0crat waiting review #851

[2018-05-10 00:31] 0crat commented on #754
@pbenety The impediment for [#754](https://github.com/yegor256/cactoos/issues/754) was registered successfully by @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-05-10 03:20] fabriciofx opened #852 "NoNulls classes API inconsistency"
We have these following `*NoNulls` files/classes:
[code]
And these classes declared *inside* of interfaces:
[code]
So, we should refactor the `Interface.NoNulls` classes to extract these classes from interfaces. This will get some advantages:
- Correct API inconsistency, because all `NoNulls` classes will be files *outside* of interfaces
- Correct API *name* inconsistency (all `NoNulls`don't have

[2018-05-10 06:01] yegor256 commented on #764
@proshin-roman thanks!

[2018-05-10 06:01] #764 closed

[2018-05-10 06:16] 0crat commented on #764
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-10 06:16] 0crat commented on #764
The job [#764](https://github.com/yegor256/cactoos/issues/764) is now out of scope

[2018-05-10 06:25] 0crat commented on #776
The job [#776](https://github.com/yegor256/cactoos/issues/776) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/1300646949); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-05-10 06:27] 0crat commented on #806
The job [#806](https://github.com/yegor256/cactoos/issues/806) assigned to @vssekorin[/z](https://www.0crat.com/u/vssekorin), here is [why](https://www.0crat.com/footprint/C63314D6Z/1300649028); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-05-10 08:06] 0crat commented on #776
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-10 08:06] 0crat commented on #776
@ashtonhogan[/z](https://www.0crat.com/u/ashtonhogan) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-10 08:07] ashtonhogan commented on #776
I don't know the steps to reproduce

[2018-05-10 09:10] VsSekorin commented on #806
@0crat wait #853

[2018-05-10 09:11] 0crat commented on #806
@VsSekorin The impediment for [#806](https://github.com/yegor256/cactoos/issues/806) was registered successfully by @vssekorin[/z](https://www.0crat.com/u/vssekorin)

[2018-05-10 09:27] victornoel commented on #841
@llorllale seems good to me yes. I didn't think to look at `SyncIterator` indeed, thanks for the clarification!

[2018-05-10 09:27] #841 closed

[2018-05-10 09:42] 0crat commented on #841
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1300955807, Type: 'Close job', Author: victornoel

[2018-05-10 09:55] victornoel commented on #776
@ashtonhogan don't worry, I know the problem and the solution, PR is coming

[2018-05-10 10:07] victornoel commented on #776
@0crat waiting for #855 to be merged

[2018-05-10 10:07] 0crat commented on #776
@victornoel The impediment for [#776](https://github.com/yegor256/cactoos/issues/776) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-05-10 10:54] Vatavuk commented on #821
@victornoel Granular level of `fallback` feature is essentially a `Scalar`. And we are building greater objects from it (`FuncWithFallback`...). In case of `Sticky` feature granular level is `StickyBiFunc`. I see no problems with that.
Maybe this discussion can help: https://github.com/yegor256/cactoos/issues/656#issuecomment-366724517

[2018-05-10 11:00] victornoel commented on #821
@Vatavuk good point, thanks for the feedback, the example helped me to understand how I can use `ScalarWithFallback` I think.

[2018-05-10 11:06] victornoel commented on #821
@llorllale I'm good in the end, sorry for the noise :)

[2018-05-10 11:44] victornoel commented on #821
@0crat waiting for #856 to be merged

[2018-05-10 11:46] 0crat commented on #821
@victornoel Job [#821](https://github.com/yegor256/cactoos/issues/821) is already on hold

[2018-05-10 12:05] victornoel commented on #838
@0crat waiting for #854 to be merged

[2018-05-10 12:05] 0crat commented on #838
@victornoel Job [#838](https://github.com/yegor256/cactoos/issues/838) is already on hold

[2018-05-10 13:40] 0crat commented on #756
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @pbenety[/z](https://www.0crat.com/u/pbenety), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-10 13:40] 0crat commented on #756
The job [#756](https://github.com/yegor256/cactoos/issues/756) is now out of scope

[2018-05-10 13:45] 0crat commented on #829
The job [#829](https://github.com/yegor256/cactoos/issues/829) assigned to @pbenety[/z](https://www.0crat.com/u/pbenety), here is [why](https://www.0crat.com/footprint/C63314D6Z/1301343646); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-10 14:36] 0crat commented on #551
@sharpler[/z](https://www.0crat.com/u/sharpler) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-10 17:51] #794 closed

[2018-05-10 17:51] 0pdd commented on #794
The puzzle `720-dcdb33c9` has disappeared from the source code, that's why I closed this issue.

[2018-05-10 17:51] 0pdd commented on #720
@0pdd the only puzzle [#794](https://github.com/yegor256/cactoos/issues/794) is solved here.

[2018-05-10 18:11] 0crat commented on #794
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-10 18:12] 0crat commented on #794
The job [#794](https://github.com/yegor256/cactoos/issues/794) is now out of scope

[2018-05-10 18:29] pbenety commented on #518
@martin-robo please close this issue. The PR #835 was merged.

[2018-05-10 18:44] 0crat commented on #839
The job [#839](https://github.com/yegor256/cactoos/issues/839) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C63314D6Z/1301853885); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-05-10 19:15] 0pdd opened #857 "ListEnvelopeTest.java:37-40: Implement immutable..."
The puzzle `814-43ada032` from #814 has to be resolved:

https://github.com/yegor256/cactoos/blob/1f79864de560ae73c1eb143ec0a67feb343f395a/src/test/java/org/cactoos/list/ListEnvelopeTest.java#L37-L40

The puzzle was created by Krzysztof Krason on 09-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the proble

[2018-05-10 19:15] 0pdd commented on #814
@Vatavuk the puzzle [#857](https://github.com/yegor256/cactoos/issues/857) is still not solved.

[2018-05-10 19:15] 0crat commented on #857
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2018-05-10 19:15] 0crat commented on #857
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-10 19:15] 0crat commented on #857
Job [#857](https://github.com/yegor256/cactoos/issues/857) is now in scope, role is `DEV`