[2018-02-09 11:32] #413 closed

[2018-02-09 11:33] 0crat commented on #416
The job [#416](https://github.com/yegor256/cactoos/issues/416) is now out of scope

[2018-02-09 11:36] 0crat commented on #413
Order was successfully finished: +30 points just awarded to @sharpler[/z](https://www.0crat.com/u/sharpler), total is [+75](https://www.0crat.com/u/sharpler)

[2018-02-09 11:42] 0crat commented on #413
The job [#413](https://github.com/yegor256/cactoos/issues/413) is now out of scope

[2018-02-09 11:44] #561 closed

[2018-02-09 11:47] 0crat commented on #561
Order was successfully finished: +30 points just awarded to @rexim[/z](https://www.0crat.com/u/rexim), total is [+105](https://www.0crat.com/u/rexim)

[2018-02-09 11:55] 0crat commented on #561
The job [#561](https://github.com/yegor256/cactoos/issues/561) is now out of scope

[2018-02-09 12:10] Maratori opened #622 "Javadoc of Sync... classes are broken"
1. `SyncText` and `SyncOutput` has irrelevant statement `There is no thread-safety guarantee.` in javadoc.
1. There is missing statement `Objects of this class are thread-safe.` in javadoc of `SyncScalar` and `SyncIterator`.
3. `SyncInput` is the single class that has statement `This class is thread-safe.` in javadoc. All other classes have `Objects of this class are thread-safe.`

[2018-02-09 12:10] 0crat commented on #622
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-09 12:26] #502 closed

[2018-02-09 12:29] 0crat commented on #502
Order was successfully finished: +30 points just awarded to @rexim[/z](https://www.0crat.com/u/rexim), total is [+135](https://www.0crat.com/u/rexim)

[2018-02-09 12:36] 0crat commented on #502
The job [#502](https://github.com/yegor256/cactoos/issues/502) is now out of scope

[2018-02-09 12:47] svendiedrichsen commented on #600
@SharplEr I think you can close this. The PR is merged.

[2018-02-09 12:51] svendiedrichsen commented on #570
PR has been merged.

[2018-02-09 12:51] #570 closed

[2018-02-09 12:52] 0crat commented on #570
Order was successfully finished: +30 points just awarded to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), total is [+90](https://www.0crat.com/u/flslkxtc)

[2018-02-09 13:01] 0crat commented on #570
The job [#570](https://github.com/yegor256/cactoos/issues/570) is now out of scope

[2018-02-09 14:30] nick318 commented on #547
@fabriciofx take a look please

[2018-02-09 14:49] llorllale commented on #561
@yegor256 I believe I (the reporter of this ticket) should've been asked to close this

[2018-02-09 15:05] yegor256 commented on #561
@llorllale yes, GitHub closes tickets automatically if a PR contains "closes" text somewhere. It's very annoying and I don't know how to stop them doing that.

[2018-02-09 15:07] rexim commented on #561
@yegor256 how about don't accept PR if it contains "close" and ask to remove it?

[2018-02-09 16:34] aliceice commented on #609
@0crat waiting

Qulice is not accepting my name as a valid `@author` text:
https://github.com/teamed/qulice/issues/866

[2018-02-09 16:34] 0crat commented on #609
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos/issues/609#issuecomment-364485448). You must always start your message with my name if you want to address it to me, see [§1](http://datum.zerocracy.com/pages/policy.html#1).

[2018-02-09 17:06] aliceice commented on #609
@0crat waiting

[2018-02-09 17:06] 0crat commented on #609
You need to ask somebody to invite you: https://github.com/zerocracy/datum#invite-only

[2018-02-09 18:09] alex-semenyuk commented on #618
@yegor256 yes, closed

[2018-02-09 18:09] #618 closed

[2018-02-09 18:09] 0crat commented on #618
Job `gh:yegor256/cactoos#618` is not assigned, can't get start time

[2018-02-09 18:19] 0crat commented on #618
Job [#618](https://github.com/yegor256/cactoos/issues/618) was not in scope

[2018-02-09 18:44] nick318 commented on #547
@fabriciofx take a look please2

[2018-02-09 21:59] #622 closed

[2018-02-09 21:59] 0crat commented on #622
Job `gh:yegor256/cactoos#622` is not assigned, can't get start time

[2018-02-09 22:09] 0crat commented on #622
Job [#622](https://github.com/yegor256/cactoos/issues/622) was not in scope

[2018-02-10 00:06] 0crat commented on #352
The user @flslkxtc[/z](https://www.0crat.com/u/flslkxtc) resigned from [#352](https://github.com/yegor256/cactoos/issues/352), please stop working

[2018-02-10 06:13] 0crat commented on #377
@nikialeksey[/z](https://www.0crat.com/u/nikialeksey) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-10 07:29] nick318 commented on #547
@fabriciofx take a look please3

[2018-02-10 07:31] nick318 commented on #547
@yegor256 if the issue owner does not respond, what I have to do to close the issue?

[2018-02-10 07:33] nick318 commented on #619
@yegor256 can I handle it?

[2018-02-10 07:39] nick318 commented on #608
@yegor256 Can I handle it?

[2018-02-10 12:20] alex-semenyuk commented on #595
@0crat refuse

[2018-02-10 12:21] 0crat commented on #595
@alex-semenyuk The user @alex-semenyuk[/z](https://www.0crat.com/u/alex-semenyuk) resigned from [#595](https://github.com/yegor256/cactoos/issues/595), please stop working

[2018-02-10 12:21] 0crat commented on #595
Tasks refusal is discouraged, see [§6](http://datum.zerocracy.com/pages/policy.html#6): -15 points just awarded to @alex-semenyuk[/z](https://www.0crat.com/u/alex-semenyuk), total is [+60](https://www.0crat.com/u/alex-semenyuk)

[2018-02-10 14:43] 0crat commented on #600
@svendiedrichsen[/z](https://www.0crat.com/u/svendiedrichsen) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-10 16:23] Meerownymous commented on #377
Looks good! Solved

[2018-02-10 16:23] #377 closed

[2018-02-10 16:25] 0crat commented on #377
Order was successfully finished: +30 points just awarded to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey), total is [+75](https://www.0crat.com/u/nikialeksey)

[2018-02-10 16:34] 0crat commented on #377
The job [#377](https://github.com/yegor256/cactoos/issues/377) is now out of scope

[2018-02-10 17:17] Maratori opened #625 "IterableOf from Iterator doesn't work"
The instance of `IterableOf` created with `ctor(final Iterator<X> list)` doesn't behave as real `Iterable`.
It can be iterated only once by obvious reason.

[2018-02-10 17:17] 0crat commented on #625
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-10 19:56] SharplEr commented on #621
@yegor256 it's required when you have collections of lambdas or futures which you gonna process in the same manner. After you get this two collections with values and exceptions you can map both (like send results to users and log exceptions to file). Collections of futures can appear when you are trying to ask about information a lot of nodes (in a distributed system for example). Example of usin

[2018-02-10 20:27] nick318 commented on #585
@0crat waiting

[2018-02-10 20:27] 0crat commented on #585
You need to ask somebody to invite you: https://github.com/zerocracy/datum#invite-only

[2018-02-10 20:53] Maratori opened #629 "Usage of String.format() is a bug?"
Should we replace all `String.format(...)` to `new FormattedText(...).asString()`?

[2018-02-10 20:53] 0crat commented on #629
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-11 00:15] driver733 opened #630 "ReaderOf test class is incomplete"
Let's fully test the class ReaderOf. Currently, this class test coverage of 27%, so I suggest that we test this class using all of it's constructors and methods to achieve 100% coverage.

[2018-02-11 00:15] 0crat commented on #630
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-11 00:58] driver733 opened #631 "TeeInput test class is incomplete"
The TeeInput class has very low test coverage. (6%) We should all of it's constructors and achieve higher test coverage level by doing that.

[2018-02-11 00:58] 0crat commented on #631
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-11 01:46] driver733 opened #632 "Extend Directory class functionality"
I think that we could extend the functionality of the `Directory` class. Right now it only encapsulates the file path and allows the user to walk through the files in the directory. However, it would be useful to have some more advanced features, such as an ability to have a decorator for the `Directory` class that would extract all files with a certain extension. I believe that we should create a

[2018-02-11 02:15] ashtonhogan opened #633 "lengthOf.intValue() returns 0 when called the second time"
[code]

[2018-02-11 02:15] 0crat commented on #633
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-11 02:24] 0crat commented on #547
The user @icok[/z](https://www.0crat.com/u/icok) resigned from [#547](https://github.com/yegor256/cactoos/issues/547), please stop working

[2018-02-11 08:44] 0crat commented on #585
The user @icok[/z](https://www.0crat.com/u/icok) resigned from [#585](https://github.com/yegor256/cactoos/issues/585), please stop working

[2018-02-11 12:18] alex-semenyuk opened #634 "Using inheritance not for Decorating Envelopes"
In the following classes are used inheritance (not for Decorating Envelopes):
` org.cactoos.io.TeeReader`, `org.cactoos.io.TeeInputStream`, `org.cactoos.scalar.NumberEnvelope`, `org.cactoos.io.TeeOutputStream`, `org.cactoos.scalar.NumberOf`, `org.cactoos.io.WriterAsOutputStream`, `org.cactoos.io.ReaderOf`, `org.cactoos.io.InputStreamOf`, `org.cactoos.io.WriterTo`, `org.cactoos.io.OutputStreamTo` T

[2018-02-11 12:18] 0crat commented on #634
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-11 18:24] Maratori commented on #633
This is a due to #625

[2018-02-12 10:16] t-izbassar opened #635 "Attention message in README.md is outdated"
The message from [README.md](https://github.com/yegor256/cactoos/blob/master/README.md) is now:

Which is obviously outdated and should be fixed.

[2018-02-12 10:16] 0crat commented on #635
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-12 13:02] yegor256 commented on #621
@SharplEr keeping objects __and__ exceptions in the same list sounds like a bad idea... Even though we will split them to two lists. Why can't you use good old try/catch?

[2018-02-12 13:02] yegor256 commented on #547
@nick318 if the original ticket report doesn't reply, you ask project architect to help you out.

[2018-02-12 13:04] yegor256 commented on #634
@alex-semenyuk we can't do anything in this case, since JDK gives us classes (`Number`, `InputStream`, etc.) instead of interface. That's why we have to use `extends' instead of `implements'.

[2018-02-12 13:04] #634 closed

[2018-02-12 13:04] 0crat commented on #634
Job `gh:yegor256/cactoos#634` is not assigned, can't get start time

[2018-02-12 13:05] 0crat commented on #631
Job [#631](https://github.com/yegor256/cactoos/issues/631) is now in scope, role is `DEV`

[2018-02-12 13:05] nick318 commented on #547
@yegor256 Got it, take a look and close the issue, since it's done. But I was resigned because of that issue.

[2018-02-12 13:06] 0crat commented on #631
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @driver733[/z](https://www.0crat.com/u/driver733), total is [+75](https://www.0crat.com/u/driver733)

[2018-02-12 13:14] 0crat commented on #634
Job [#634](https://github.com/yegor256/cactoos/issues/634) was not in scope

[2018-02-12 13:28] yegor256 commented on #547
@

[2018-02-12 13:28] #547 closed

[2018-02-12 13:28] 0crat commented on #547
Job `gh:yegor256/cactoos#547` is not assigned, can't get start time

[2018-02-12 13:36] 0crat commented on #625
Job [#625](https://github.com/yegor256/cactoos/issues/625) is now in scope, role is `DEV`

[2018-02-12 13:38] 0crat commented on #547
The job [#547](https://github.com/yegor256/cactoos/issues/547) is now out of scope

[2018-02-12 14:10] yegor256 commented on #633
@ashtonhogan duplicate of #625

[2018-02-12 14:10] #633 closed

[2018-02-12 14:10] 0crat commented on #633
Job `gh:yegor256/cactoos#633` is not assigned, can't get start time

[2018-02-12 14:13] 0crat commented on #630
Job [#630](https://github.com/yegor256/cactoos/issues/630) is now in scope, role is `DEV`

[2018-02-12 14:14] 0crat commented on #630
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @driver733[/z](https://www.0crat.com/u/driver733), total is [+90](https://www.0crat.com/u/driver733)

[2018-02-12 14:14] yegor256 commented on #632
@driver733 but `Directory` is an `Iterable`, you can decorate it with `Filtered`, just like any other iterable. Or I'm missing something? Show the code you want to implement and can't do now, please.

[2018-02-12 14:20] 0crat commented on #633
Job [#633](https://github.com/yegor256/cactoos/issues/633) was not in scope

[2018-02-12 14:33] yegor256 commented on #629
@Maratori we can, but tomorrow someone else will use `String.format()` again. How can we prevent this from happening? Any ideas?

[2018-02-12 14:35] yegor256 commented on #635
@t-izbassar fixed, thanks!

[2018-02-12 14:35] #635 closed

[2018-02-12 14:36] 0pdd opened #636 "LengthOfTest.java:89-91: Fix calculation of length for..."
The puzzle `547-eacac169` from #547 has to be resolved:

https://github.com/yegor256/cactoos/blob/eff4166619b68780d963d807d29fb751ed2a4e33/src/test/java/org/cactoos/io/LengthOfTest.java#L89-L91

The puzzle was created by Yegor Bugayenko on 12-Feb-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pr

[2018-02-12 14:36] 0crat commented on #636
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-12 14:36] 0crat commented on #635
Job `gh:yegor256/cactoos#635` is not assigned, can't get start time

[2018-02-12 14:36] 0crat commented on #636
Job [#636](https://github.com/yegor256/cactoos/issues/636) is now in scope, role is `DEV`

[2018-02-12 14:46] 0crat commented on #635
Job [#635](https://github.com/yegor256/cactoos/issues/635) was not in scope

[2018-02-12 15:58] yegor256 commented on #611
@nikialeksey well, maybe it's not a bad idea, but we will have to create `bifunc` package too? And `runnable`? I don't think it's needed at this point.

[2018-02-12 15:58] #611 closed

[2018-02-12 15:58] 0crat commented on #611
Job `gh:yegor256/cactoos#611` is not assigned, can't get start time

[2018-02-12 16:01] driver733 commented on #632
@yegor256 There many different things that can be implemented. Here is one idea.
[code]

[2018-02-12 16:08] 0crat commented on #611
Job [#611](https://github.com/yegor256/cactoos/issues/611) was not in scope

[2018-02-12 16:18] yegor256 commented on #632
@driver733 if you just want to deal with a directory, you already have `Path` or `File` from JDK. The only purpose of `Directory` is to iterate files. Then, you can add decorators, to do something with them.

[2018-02-12 16:22] driver733 commented on #632
@yegor256 Could we then create classes that, for example, zip files and directories in OOP way?
The JDK (java.util.zip) provides functionality that is very procedural.
Here is one [library](https://github.com/zeroturnaround/zt-zip) with the functionality that would be useful to have in cactoos.

[2018-02-12 22:28] yegor256 commented on #632
@driver733 yes, we can create something to zip a list of files:

[code]

[2018-02-13 02:05] 0crat commented on #352
The job [#352](https://github.com/yegor256/cactoos/issues/352) assigned to @driver733[/z](https://www.0crat.com/u/driver733), here is [why](https://www.0crat.com/footprint/C63314D6Z/440204710). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9)

[2018-02-13 05:30] nikialeksey commented on #611
Yes, I understand, thanks

[2018-02-13 06:09] driver733 commented on #352
@yegor256 The PR has been merged. Can this issue be closed?

[2018-02-13 06:43] 0crat commented on #585
The job [#585](https://github.com/yegor256/cactoos/issues/585) assigned to @driver733[/z](https://www.0crat.com/u/driver733), here is [why](https://www.0crat.com/footprint/C63314D6Z/440644226). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9)

[2018-02-13 07:14] driver733 commented on #352
@0crat waiting

[2018-02-13 07:14] 0crat commented on #352
@driver733 The impediment for [#352](https://github.com/yegor256/cactoos/issues/352) was registered successfully by @driver733[/z](https://www.0crat.com/u/driver733)

[2018-02-13 08:35] #600 closed

[2018-02-13 08:35] 0crat commented on #600
Order was successfully finished: +30 points just awarded to @svendiedrichsen[/z](https://www.0crat.com/u/svendiedrichsen), total is [+60](https://www.0crat.com/u/svendiedrichsen)

[2018-02-13 08:45] 0crat commented on #600
The job [#600](https://github.com/yegor256/cactoos/issues/600) is now out of scope

[2018-02-13 10:40] yegor256 commented on #352
@driver733 you should ask ticket reporter, why you are asking me?

[2018-02-13 12:31] alekseysotnikov commented on #352
Guys, it works fine now, I think the issue could be closed. Thanks.

[2018-02-13 12:31] #352 closed

[2018-02-13 12:33] 0crat commented on #352
Order was successfully finished: +30 points just awarded to @driver733[/z](https://www.0crat.com/u/driver733), total is [+120](https://www.0crat.com/u/driver733)

[2018-02-13 12:42] 0crat commented on #352
The job [#352](https://github.com/yegor256/cactoos/issues/352) is now out of scope

[2018-02-13 17:05] 0crat commented on #595
The job [#595](https://github.com/yegor256/cactoos/issues/595) assigned to @nick318[/z](https://www.0crat.com/u/nick318), here is [why](https://www.0crat.com/footprint/C63314D6Z/441704775). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-13 17:17] driver733 opened #638 "Zip a list of files (or a Directory)"
Let's create classes that will allow us to create zip archives from a `Directory` or a list of files.

As per https://github.com/yegor256/cactoos/issues/632#issuecomment-365084951

[2018-02-13 17:17] 0crat commented on #638
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-13 17:40] #632 closed

[2018-02-13 17:40] 0crat commented on #632
Job `gh:yegor256/cactoos#632` is not assigned, can't get start time

[2018-02-13 17:50] 0crat commented on #632
Job [#632](https://github.com/yegor256/cactoos/issues/632) was not in scope

[2018-02-13 21:24] 0crat commented on #599
@sharpler[/z](https://www.0crat.com/u/sharpler) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-14 05:45] 0crat commented on #610
@flslkxtc[/z](https://www.0crat.com/u/flslkxtc) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-14 06:54] 0crat commented on #608
The job [#608](https://github.com/yegor256/cactoos/issues/608) assigned to @nick318[/z](https://www.0crat.com/u/nick318), here is [why](https://www.0crat.com/footprint/C63314D6Z/450653775). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-14 08:00] nick318 opened #640 "Some constructors of SolidMap are not covered by unit tests"
Following constructors in `SolidMap.java` are not covered by unit tests.

`public SolidMap(final Map<X, Y> map, final Map.Entry<X, Y>... list)`
`public <Z> SolidMap(final Func<Z, X> key,
        final Func<Z, Y> value, final Map<X, Y> map,
        final Iterable<Z> list)`
`public <Z> SolidMap(final Func<Z, X> key,
        final Func<Z, Y> value, final Iterable<Z> list)`
`public SolidMap(final Iter

[2018-02-14 08:00] 0crat commented on #640
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-14 11:05] 0crat commented on #609
@aliceice[/z](https://www.0crat.com/u/aliceice) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-14 12:17] 0crat commented on #640
Job [#640](https://github.com/yegor256/cactoos/issues/640) is now in scope, role is `DEV`

[2018-02-14 12:17] 0crat commented on #640
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318), total is [+15](https://www.0crat.com/u/nick318)

[2018-02-14 13:23] 0crat commented on #638
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @driver733[/z](https://www.0crat.com/u/driver733), total is [+135](https://www.0crat.com/u/driver733)

[2018-02-14 13:31] Maratori opened #641 "StickyIterator must be replaced with IteratorOf"
1. "Sticky" means "cached". But there is nothing to cache in the `Iterator`. It always supply a new value calling `next()`.
1. `StickyIterator` has the primary ctor with `Iterator<X>` as parameter. So it is a decorator of any `Iterator`. But that decoration doesn't bring new functionality. So it must be deleted.
1. There is also secondary ctor with varargs `X...` in `StickyIterator`. It creates an

[2018-02-14 13:31] 0crat commented on #641
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-14 13:46] yegor256 commented on #641
@Maratori well, I disagree. We do cache the iterator inside, since we fetch it entirely and then use the cached iterable over and over again.

[2018-02-14 13:48] flslkxtc commented on #610
@yegor256 @alex-semenyuk  pull request https://github.com/yegor256/cactoos/pull/624 is merged, we can close this issue.

[2018-02-14 13:53] Maratori commented on #641
@yegor256 What do you mean "over and over again"? Iterator is a something that can be used once.
Do you talking about `StickyIterable` or `StickyIterator`?

[2018-02-14 13:54] #610 closed

[2018-02-14 14:05] 0crat commented on #610
The job [#610](https://github.com/yegor256/cactoos/issues/610) is now out of scope

[2018-02-14 14:55] yegor256 commented on #641
@Maratori right, my bad. You are right, we should rename it to `IteratorOf`

[2018-02-14 14:55] 0crat commented on #641
Job [#641](https://github.com/yegor256/cactoos/issues/641) is now in scope, role is `DEV`

[2018-02-14 15:39] aliceice commented on #609
@nikialeksey My PR is now merged: #637

Please check the class `Constant` and close this issue if it fit's your needs :)

[2018-02-14 15:52] aliceice opened #643 "Calling ItemAt.value() twice doesn't work"
If I want to reuse an `ItemAt` it currently throws an IOException.

[code]

I get following Stacktrace:

[code]

I'd expect it to return the same object again.

[2018-02-14 15:52] 0crat commented on #643
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-14 15:55] aliceice opened #644 "Using LoggingInput without providing a Logger does not work"
When doing this:

[code]

I'm getting following Exception:

[code]

I'd expect it to log to a generated `java.util.logging.Logger`.

[2018-02-14 15:55] 0crat commented on #644
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-14 18:16] nick318 commented on #595
@aliceice Am I right saying that functions for keys and values should get instance of `Text` instead of `Iterable<Text>` because in your case, you will get the same value for each call your function. Then it does not make sense.

So I suppose to use next functions:

`(Text it) -> it.asString,
(Text it2) -> it2`

It is just an example, but it will group text objects by their values, if some texts h

[2018-02-14 18:23] aliceice commented on #595
@nick318 The `Iterable<Text>` is just an example. I think it would be way more useful to just use a generic type definition `T` Which is converted to `K` and `V` by those functions.

[2018-02-14 18:29] nick318 commented on #595
@aliceice ok, I have got it, thank you.

[2018-02-14 19:03] nick318 opened #646 "MapOf and MapEnvelope do not have pretty toString method"
Class `MapOf.java` and its parent `MapEnvelope.java` do not have pretty `toString` method as `HashMap.java` has.
In my opinion developers used to use `toString` for some debug purposes.

Expected:
`mapOf.toString returns "{key=value, key2=value2}"`

[2018-02-14 19:03] 0crat commented on #646
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-14 19:58] svendiedrichsen opened #648 "ListEnvelope<T> does not implement equals()"
Thus you can't compare extending classes of ListEnvelope like you can with JDK lists.
i.e.: `new ListOf<>(1,2).equals(new ListOf<>(1,2))` results in `false` but should be `true`
That is also why all cactoos tests which use any ListEnvelope derived class have to compare the results of the `toArray`method.

JDK List.equals Javadoc: https://docs.oracle.com/javase/8/docs/api/java/util/List.html#equals

[2018-02-14 19:58] 0crat commented on #648
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-15 00:44] 0crat commented on #619
The job [#619](https://github.com/yegor256/cactoos/issues/619) assigned to @nick318[/z](https://www.0crat.com/u/nick318), here is [why](https://www.0crat.com/footprint/C63314D6Z/460045609). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-15 06:12] amihaiemil commented on #595
@nick318  @svendiedrichsen You both made PRs here, although none of you has been assigned to this issue by 0crat. Next time, please don't work on an issue if it hasn't been assigned to you ;)

@aliceice The PRs are a bit different, can you maybe have a look and see which one fixes this ticket best?

https://github.com/yegor256/cactoos/pull/642 and https://github.com/yegor256/cactoos/pull/647

Then

[2018-02-15 06:12] 0crat commented on #646
Job [#646](https://github.com/yegor256/cactoos/issues/646) is now in scope, role is `DEV`

[2018-02-15 06:12] 0crat commented on #646
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318), total is [+30](https://www.0crat.com/u/nick318)

[2018-02-15 06:13] amihaiemil commented on #595
@nick318 My bad, I see you were assigned here. I will look over your PR today.

[2018-02-15 06:57] aliceice commented on #595
@amihaiemil I had a look at both PRs. I think the one from @nick318 fixes this, as the one from @svendiedrichsen does not create a `Map<K, Iterable<V>` but an `Iterable<Iterable<T>>`.

[2018-02-15 10:22] nick318 commented on #619
@nikialeksey since there is already a class `scalar/SumOf.java`, but it's implement `Scalar<Double>`, what do you expect:
1 Implement one more constructor in `SumOf.java`, usage will be `() -> new SumOf(x, with).intValue()`
2 Create new class which will be generic? usage will be `new SumOfScalar(x, with)`

[2018-02-15 10:47] Maratori opened #650 "NullPointerException vs IllegalArgumentException"
Let's say we have such code.
[code]
It throws `NullPointerException`. Should we throw `IllegalArgumentException` instead?

[2018-02-15 10:47] 0crat commented on #650
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-15 12:23] 0crat commented on #643
Job [#643](https://github.com/yegor256/cactoos/issues/643) is now in scope, role is `DEV`

[2018-02-15 12:40] yegor256 commented on #650
@Maratori we are not checking for `null` anywhere. We are not "defensive" in this aspect. If `null` is provided, the code just breaks at __some__ point. That's how we are designed at the moment.

[2018-02-15 12:42] Maratori commented on #650
@yegor256 Thank you for clarification.

[2018-02-15 12:42] #650 closed

[2018-02-15 12:44] yegor256 commented on #650
@Maratori I also explained it in the documentation: 0af9e4f

[2018-02-15 12:52] 0crat commented on #650
The job [#650](https://github.com/yegor256/cactoos/issues/650) is now out of scope

[2018-02-15 14:21] nick318 opened #652 "Some constructors of MapOf are not covered by unit tests"
Following code in constructors is not covered by unit tests:
[code]

Expected:
all code in constructors is covered

[2018-02-15 14:21] 0crat commented on #652
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-15 14:29] nick318 opened #653 "Usage of Boolean parameter of Ternary class is bad"
In the following class `Ternary.java` there is a constructor with boolean flag:
[code]
That is wrong practice, I suggest to change it to special class `Condition` which will encapsulate the state.
Why booleans are wrong you can read [here](https://martinfowler.com/bliki/FlagArgument.html)

[2018-02-15 14:29] 0crat commented on #653
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-15 15:38] nick318 commented on #595
@aliceice close the issue please, since pr #647 is merged

[2018-02-15 15:53] #595 closed

[2018-02-15 15:54] 0crat commented on #595
Job [#595](https://github.com/yegor256/cactoos/issues/595) is already in scope

[2018-02-15 16:04] 0crat commented on #595
@nick318[/z](https://www.0crat.com/u/nick318) resigned from [#595](https://github.com/yegor256/cactoos/issues/595), since the job is not in scope anymore

[2018-02-15 16:04] 0crat commented on #595
The job [#595](https://github.com/yegor256/cactoos/issues/595) is now out of scope

[2018-02-15 16:59] yegor256 commented on #653
@nick318 but in this case it's not a flag argument, it's the trigger of the core class logic.

[2018-02-15 17:26] nick318 commented on #653
@yegor256 agree

[2018-02-15 17:26] #653 closed

[2018-02-15 17:37] 0crat commented on #653
The job [#653](https://github.com/yegor256/cactoos/issues/653) is now out of scope

[2018-02-15 17:56] 0crat commented on #652
Job [#652](https://github.com/yegor256/cactoos/issues/652) is now in scope, role is `DEV`

[2018-02-15 17:56] 0crat commented on #652
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318), total is [+45](https://www.0crat.com/u/nick318)

[2018-02-15 18:18] nikialeksey commented on #609
Nice!

[2018-02-15 18:18] #609 closed

[2018-02-15 18:19] 0crat commented on #609
Job [#609](https://github.com/yegor256/cactoos/issues/609) is already in scope

[2018-02-15 18:25] nikialeksey commented on #619
@nick318 There is need to implement few constructors for eash type: `Long, Integer, Float, Double`, I think.

[2018-02-15 18:34] 0crat commented on #609
@aliceice[/z](https://www.0crat.com/u/aliceice) resigned from [#609](https://github.com/yegor256/cactoos/issues/609), since the job is not in scope anymore

[2018-02-15 18:34] 0crat commented on #609
The job [#609](https://github.com/yegor256/cactoos/issues/609) is now out of scope

[2018-02-15 19:15] nick318 opened #654 "Some constructors of AndInThreads are not covered in unit tests"
Following constructors are not covered in unit tests:
[code]
Expected:
should be covered by unit tests

[2018-02-15 19:15] 0crat commented on #654
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-15 19:20] nick318 opened #655 "CollectionOf and its parent CollectionEvelope do not have pretty toString"
`CollectionOf .java`and its parent `CollectionEvelope.java` do not have pretty toString as `AbstractCollection.java` has.

Expected:
[1,2,3,4]

[2018-02-15 19:20] 0crat commented on #655
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-15 19:23] 0crat commented on #631
The job [#631](https://github.com/yegor256/cactoos/issues/631) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C63314D6Z/461922355). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy

[2018-02-15 19:43] 0crat commented on #625
The job [#625](https://github.com/yegor256/cactoos/issues/625) assigned to @nick318[/z](https://www.0crat.com/u/nick318), here is [why](https://www.0crat.com/footprint/C63314D6Z/461943894). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-15 20:05] 0crat commented on #630
The job [#630](https://github.com/yegor256/cactoos/issues/630) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C63314D6Z/462005478). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy

[2018-02-15 20:11] Vatavuk opened #656 "Handle Exceptions in object oriented style"
I've created a small library that represents try/catch/finally statements in a form of reusable objects
and I thought it would be nice to include it in cactoos.

One example of using objects instead of statements could be refactoring IoCheckedScalar:
[code]

To this:
[code]

There are more examples and details [here](https://github.com/Vatavuk/vgv-exceptions). (The library follows OOP style from c

[2018-02-15 20:13] 0crat commented on #656
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-15 20:27] 0crat commented on #636
The job [#636](https://github.com/yegor256/cactoos/issues/636) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C63314D6Z/462028057). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy

[2018-02-15 20:45] #641 closed

[2018-02-15 20:45] 0crat commented on #641
Job [#641](https://github.com/yegor256/cactoos/issues/641) is already in scope

[2018-02-15 20:51] Maratori commented on #629
@yegor256 I'm not ready now to answer that question. Let's return to this when I have the answer.

[2018-02-15 20:51] #629 closed

[2018-02-15 20:51] 0crat commented on #629
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30)

[2018-02-15 20:52] 0crat commented on #640
The job [#640](https://github.com/yegor256/cactoos/issues/640) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), here is [why](https://www.0crat.com/footprint/C63314D6Z/462053743). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-15 21:17] 0crat commented on #638
The job [#638](https://github.com/yegor256/cactoos/issues/638) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), here is [why](https://www.0crat.com/footprint/C63314D6Z/462119385). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-15 21:28] ypshenychka commented on #629
@yegor256 I assume I should report bad quality here since no job was actually done, right?

[2018-02-15 21:42] 0crat commented on #641
The job [#641](https://github.com/yegor256/cactoos/issues/641) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), here is [why](https://www.0crat.com/footprint/C63314D6Z/462145063). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-15 22:10] 0crat commented on #646
The job [#646](https://github.com/yegor256/cactoos/issues/646) assigned to @sharpler[/z](https://www.0crat.com/u/sharpler), here is [why](https://www.0crat.com/footprint/C63314D6Z/462214752). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-15 22:41] 0crat commented on #643
The job [#643](https://github.com/yegor256/cactoos/issues/643) assigned to @driver733[/z](https://www.0crat.com/u/driver733), here is [why](https://www.0crat.com/footprint/C63314D6Z/462240122). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9)

[2018-02-15 22:42] driver733 commented on #585
@0crat waiting

[2018-02-15 22:43] 0crat commented on #585
@driver733 The impediment for [#585](https://github.com/yegor256/cactoos/issues/585) was registered successfully by @driver733[/z](https://www.0crat.com/u/driver733)

[2018-02-15 22:56] 0crat commented on #652
The job [#652](https://github.com/yegor256/cactoos/issues/652) assigned to @driver733[/z](https://www.0crat.com/u/driver733), here is [why](https://www.0crat.com/footprint/C63314D6Z/462254052). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9)

[2018-02-15 23:01] 0crat commented on #629
The job [#629](https://github.com/yegor256/cactoos/issues/629) assigned to @sharpler[/z](https://www.0crat.com/u/sharpler), here is [why](https://www.0crat.com/footprint/C63314D6Z/462300185). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-15 23:04] driver733 opened #657 "Properties in OO style"
The `Properties` class in JDK is very procedural. It relies on` load()` and `save()` methods which does not adhere to OO style. I suggest that we create an alternative to that class in OO way. It would be very convenient, for instance, to have the properties come preloaded without using the `load()` method.

[code]

[2018-02-15 23:04] 0crat commented on #657
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-16 02:11] driver733 commented on #643
@0crat waiting

[2018-02-16 02:13] 0crat commented on #643
@driver733 The impediment for [#643](https://github.com/yegor256/cactoos/issues/643) was registered successfully by @driver733[/z](https://www.0crat.com/u/driver733)

[2018-02-16 03:38] driver733 opened #659 "MapOf from Iterator<Map.Entry<X, Y>> fails to process all entries."
[code]

Expected:
`(map containing [<1>-><1>] and map containing [<0>-><0>])`
Actual:
`map containing [<1>-><1>] map was []`

Full output:
[code]

p.s. FYI, if the matchers are used separately (without `allOf`) then the test passes. I believe that some investigation is required.

[2018-02-16 03:38] 0crat commented on #659
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-16 03:50] driver733 opened #661 "InputStreamOf test class is incomplete"
Most of the constructors in this class have not been tested. I suggest that we write tests for all methods and constructors to achieve full test coverage for that class.

[2018-02-16 03:50] 0crat commented on #661
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-16 03:52] driver733 commented on #652
@0crat waiting

[2018-02-16 03:52] 0crat commented on #652
@driver733 The impediment for [#652](https://github.com/yegor256/cactoos/issues/652) was registered successfully by @driver733[/z](https://www.0crat.com/u/driver733)

[2018-02-16 09:15] nick318 commented on #625
@0crat waiting

[2018-02-16 09:16] 0crat commented on #625
@nick318 The impediment for [#625](https://github.com/yegor256/cactoos/issues/625) was registered successfully by @nick318[/z](https://www.0crat.com/u/nick318)

[2018-02-16 10:03] nick318 commented on #625
@Maratori what is an expected behavior? Iterator can be iterated only once by java design.

[2018-02-16 10:15] Maratori commented on #625
@nick318 I believe there is no expected behavior. You can not copy any `Iterator`. For example you can not copy `org.cactoos.iterator.Cycled`.
I think that this ctor must be removed.

[2018-02-16 10:18] nick318 commented on #625
@yegor256 Please, leave your decision about removing `ctor(final Iterator<X> list)`

[2018-02-16 15:16] yegor256 commented on #629
@ypshenychka it was a bug, let us fix it...

[2018-02-16 15:20] yegor256 commented on #629
@0crat status

[2018-02-16 15:21] 0crat commented on #629
@yegor256 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#629](https://github.com/yegor256/cactoos/issues/629) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 18hr
  * The role is `DEV`
  * The job is assigned to @sharpler[/z](https://www.0crat.com/u/sharpler) for [16hr](http://datum.zerocracy.com/pages/policy.html

[2018-02-16 15:34] svendiedrichsen commented on #657
@driver733 Can the `PropertiesOf` class be used and adapted for this purpose?

[2018-02-16 15:37] yegor256 commented on #629
@0crat refuse

[2018-02-16 15:38] 0crat commented on #629
@yegor256 The user @sharpler[/z](https://www.0crat.com/u/sharpler) resigned from [#629](https://github.com/yegor256/cactoos/issues/629), please stop working

[2018-02-16 15:42] ypshenychka commented on #629
@yegor256 Then I think it should be reopened and I will review it after completion.

[2018-02-16 15:43] yegor256 commented on #629
@ypshenychka this job is not in scope. It was closed without become a real "job". Zerocrat asked you to review it by mistake. Ignore it.

[2018-02-16 15:55] svendiedrichsen commented on #656
@Vatavuk You could extend this with classes for `if/then/else` and `for/forEach` and you almost have created a complete class based language.

[2018-02-16 16:00] 0crat commented on #659
Job [#659](https://github.com/yegor256/cactoos/issues/659) is now in scope, role is `DEV`

[2018-02-16 16:09] 0crat commented on #659
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @driver733[/z](https://www.0crat.com/u/driver733), total is [+150](https://www.0crat.com/u/driver733)

[2018-02-16 16:10] 0crat commented on #648
Job [#648](https://github.com/yegor256/cactoos/issues/648) is now in scope, role is `DEV`

[2018-02-16 16:10] 0crat commented on #644
Job [#644](https://github.com/yegor256/cactoos/issues/644) is now in scope, role is `DEV`

[2018-02-16 16:13] driver733 commented on #657
@svendiedrichsen I believe so. We can use this class as a base class and build other Properties classes around it.

[2018-02-16 16:13] 0crat commented on #659
The job [#659](https://github.com/yegor256/cactoos/issues/659) assigned to @sharpler[/z](https://www.0crat.com/u/sharpler), here is [why](https://www.0crat.com/footprint/C63314D6Z/471612081). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-16 16:19] yegor256 commented on #657
@driver733 but we already have `PropertiesOf`, have you seen it?

[2018-02-16 16:22] 0crat commented on #661
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-02-16 16:24] 0crat commented on #661
Job [#661](https://github.com/yegor256/cactoos/issues/661) is now in scope, role is `DEV`

[2018-02-16 16:25] 0crat commented on #661
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @driver733[/z](https://www.0crat.com/u/driver733), total is [+165](https://www.0crat.com/u/driver733)

[2018-02-16 16:33] driver733 commented on #657
@yegor256, Yes I have checked this file. I think that `PropertiesOf` does encapsulate properties well, however, this class does not solve the problem of procedural logic of the `Properties` class.
Even if I use the `PropertiesOf` class, I will still end up with this kind of code
[code]
Sometimes, you want to simply serve the properties to a certain class, so that it could read some information fro

[2018-02-16 16:48] yegor256 commented on #657
@driver733 you don't need to `load`, just use `new PropertiesOf(new InputOf(new File("a.props")))`

[2018-02-16 16:49] #571 closed

[2018-02-16 17:20] 0crat commented on #654
Job [#654](https://github.com/yegor256/cactoos/issues/654) is now in scope, role is `DEV`

[2018-02-16 17:20] 0crat commented on #654
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318), total is [+60](https://www.0crat.com/u/nick318)

[2018-02-16 17:24] 0crat commented on #661
Job [#661](https://github.com/yegor256/cactoos/issues/661) is already in scope

[2018-02-16 17:40] driver733 commented on #657
@yegor256 Thank you for clarification.

[2018-02-16 17:40] #657 closed

[2018-02-16 17:50] nick318 commented on #608
@nikialeksey please close the issue since PR #649 is merged

[2018-02-16 18:45] nick318 opened #664 "Ctor of StickyCollection is not covered"
Ctor of StickyCollection is not covered by unit tests
[code]
Expected:
ctor should be covered by unit test

[2018-02-16 18:45] 0crat commented on #664
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-16 18:47] nick318 opened #665 "Some constructors of AsyncFunc are not covered"
Following constructors of AsyncFunc are not covered
[code]
Expected:
all ctors of AsyncFunc are covered by unit tests

[2018-02-16 18:47] 0crat commented on #665
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-16 18:48] nick318 opened #666 "Ctor of CallableOf is not covered by unit test"
Following ctor is not covered by unit test
[code]
Expected:
all ctors of `CallableOf ` are covered by unit tests

[2018-02-16 18:48] 0crat commented on #666
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-16 18:51] nick318 opened #667 "A whole class ProcOf is not covered by unit tests"
A whole class `ProcOf.java ` is not covered by unit tests
Expected:
The class is covered by unit test

[2018-02-16 18:51] 0crat commented on #667
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-16 19:43] 0crat commented on #665
Job [#665](https://github.com/yegor256/cactoos/issues/665) is now in scope, role is `DEV`

[2018-02-16 19:43] 0crat commented on #666
Job [#666](https://github.com/yegor256/cactoos/issues/666) is now in scope, role is `DEV`

[2018-02-16 19:44] 0crat commented on #665
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318), total is [+90](https://www.0crat.com/u/nick318)

[2018-02-16 19:44] 0crat commented on #666
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318), total is [+90](https://www.0crat.com/u/nick318)

[2018-02-16 19:45] 0crat commented on #667
Job [#667](https://github.com/yegor256/cactoos/issues/667) is now in scope, role is `DEV`

[2018-02-16 19:45] 0crat commented on #667
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318), total is [+105](https://www.0crat.com/u/nick318)

[2018-02-16 19:47] 0crat commented on #655
Job [#655](https://github.com/yegor256/cactoos/issues/655) is now in scope, role is `DEV`

[2018-02-16 19:47] 0crat commented on #655
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318), total is [+120](https://www.0crat.com/u/nick318)

[2018-02-16 19:58] SharplEr commented on #659
Wow, It's happening because you can use iterator only once.
Like that:
[code]
Result will be

[code]

Nice:)

[2018-02-16 20:03] 0crat commented on #664
Job [#664](https://github.com/yegor256/cactoos/issues/664) is now in scope, role is `DEV`

[2018-02-16 20:03] 0crat commented on #664
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318), total is [+135](https://www.0crat.com/u/nick318)

[2018-02-16 20:35] SharplEr commented on #659
@yegor256 @driver733
As I wrote in the last comment the problem is iterator has mutable state and can't be used twice.
So I see only 3 possible solutions:
1) Remove constructor with an iterator. Iterator is a bad mutable class anyway :)
2) Put in constructor all elements into new ArrayList and pass that new list into constructor with iterable. But this violates a rule about code in constructors.
3

[2018-02-16 21:18] 0crat commented on #599
@sharpler[/z](https://www.0crat.com/u/sharpler) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-16 21:20] SharplEr commented on #621
@yegor256 It is helpful when you want to process all exceptions together. Like that:

[code]

[2018-02-16 21:41] SharplEr commented on #625
In my task, I found the same bug: https://github.com/yegor256/cactoos/issues/659

[2018-02-16 21:42] SharplEr commented on #659
It also connected with https://github.com/yegor256/cactoos/issues/625
@0crat waiting

[2018-02-16 22:08] 0crat commented on #659
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos/issues/659#issuecomment-366366520). You must always start your message with my name if you want to address it to me, see [§1](http://datum.zerocracy.com/pages/policy.html#1).

[2018-02-17 07:11] 0crat commented on #629
The job [#629](https://github.com/yegor256/cactoos/issues/629) assigned to @rexim[/z](https://www.0crat.com/u/rexim), here is [why](https://www.0crat.com/footprint/C63314D6Z/480724927). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the

[2018-02-17 09:39] Vatavuk commented on #656
Definitely, if I'm not mistaken cactoos has equivalent for forEach statement -> And object.
I'm looking on cactoos as an OOP layer above Java, an abstraction close to EO language.
However, Try/Catch/Finally objects cannot replace every exception control scenarios due to
language limitations. But it could be nice step towards EO style.
I will check out transformation of if/then/else to objects (may

[2018-02-17 10:27] svendiedrichsen commented on #656
@Vatavuk I'm sorry If i made the wrong impression but i don't run this project. I'm just some contributer. You need to talk to Yegor who owns this project.

[2018-02-17 10:47] Vatavuk commented on #656
@yegor256 what do you think?

[2018-02-17 11:14] flslkxtc commented on #640
@nick318 ctor `publicSolidMap(final Iterator<Map.Entry<X, Y>> list)`  doesn't work properly for now, this behavior was already described in issues https://github.com/yegor256/cactoos/issues/625 and https://github.com/yegor256/cactoos/issues/659. I've ignored this ctor in my pull request for this issue: https://github.com/yegor256/cactoos/pull/669.

[2018-02-17 11:19] flslkxtc commented on #641
@yegor256 can you remove this assignment from me? This issue was closed before @0crat assigned it.

[2018-02-17 11:19] 0crat commented on #641
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos/issues/641#issuecomment-366434615). You must always start your message with my name if you want to address it to me, see [§1](http://datum.zerocracy.com/pages/policy.html#1).

[2018-02-17 13:51] SharplEr commented on #659
@0crat waiting

[2018-02-17 13:51] 0crat commented on #659
@SharplEr The impediment for [#659](https://github.com/yegor256/cactoos/issues/659) was registered successfully by @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-02-17 14:11] nikialeksey commented on #608
Nice!

[2018-02-17 14:11] #608 closed

[2018-02-17 14:12] 0crat commented on #608
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30)

[2018-02-17 15:10] nick318 commented on #625
@yegor256 take a look please

[2018-02-17 15:18] nick318 opened #670 "Ctors of RetryFunc are not covered by unit tests"
Following ctors of `RetryFunc.java` are not covered:
[code]
Expected:
All ctors of `RetryFunc.java` are covered

[2018-02-17 15:18] 0crat commented on #670
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-17 15:22] nick318 opened #671 "Some ctors of RunnableOf are not covered"
Following ctors of `RunnableOf.java` are not covered:
[code]
Expected:
All ctors of `RunnableOf.java` are covered by unit tests

[2018-02-17 15:23] 0crat commented on #671
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-17 15:24] nick318 opened #672 "A whole class SolidBiFunc is not covered by unit tests"
A whole class `SolidBiFunc.java` is not covered by unit tests
Expected:
The class `SolidBiFunc.java` is covered

[2018-02-17 15:24] 0crat commented on #672
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-17 15:26] nick318 opened #673 "Some ctors of SyncFunc are not covered by unit tests"
Following ctors of `SyncFunc.java `are not covered by unit tests:
[code]
Expected:
All ctors of `SyncFunc.java` are covered by unit tests

[2018-02-17 15:26] 0crat commented on #673
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-17 15:31] nick318 opened #674 "Ctor of class Directory is not covered by unit tests"
Following ctor of `Directory.java ` is not covered and input parameter has incorrect name, because it is not a path it is a `File`
[code]
Expected:
Ctor is covered and input parameter is called `file`

[2018-02-17 15:31] 0crat commented on #674
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-17 15:36] nick318 opened #675 "Most of ctors of InputStreamOf are not covered by unit tests"
Most of ctors of `InputStreamOf.java` are not covered by unit tests:
[code]
Expected:
All ctors of `InputStreamOf.java` are covered by unit tests

[2018-02-17 15:36] 0crat commented on #675
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-17 16:37] 0crat commented on #671
Job [#671](https://github.com/yegor256/cactoos/issues/671) is now in scope, role is `DEV`

[2018-02-17 16:37] 0crat commented on #673
Job [#673](https://github.com/yegor256/cactoos/issues/673) is now in scope, role is `DEV`

[2018-02-17 16:38] 0crat commented on #671
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318), total is [+150](https://www.0crat.com/u/nick318)

[2018-02-17 16:38] 0crat commented on #673
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318), total is [+165](https://www.0crat.com/u/nick318)

[2018-02-17 17:28] SharplEr commented on #599
@alex-semenyuk  PR was merged https://github.com/yegor256/cactoos/pull/628

[2018-02-17 20:33] rexim commented on #629
@yegor256 please resign my from this job. See https://github.com/zerocracy/farm/issues/588. Thanks.

[2018-02-18 08:55] nick318 commented on #625
@yegor256 take a look please

[2018-02-18 12:26] SharplEr commented on #599
@0crat waiting

[2018-02-18 12:26] 0crat commented on #599
@SharplEr The impediment for [#599](https://github.com/yegor256/cactoos/issues/599) was registered successfully by @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-02-18 12:28] SharplEr commented on #599
@alex-semenyuk please close the issue)

[2018-02-18 17:18] nick318 commented on #608
@ypshenychka take a look please

[2018-02-18 17:41] #599 closed

[2018-02-18 17:42] 0crat commented on #599
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30)

[2018-02-18 17:53] svendiedrichsen opened #677 "Remove usage of Iterator as parameter passed to ctors"
As outlined by @SharplEr in #659 the usage of `Iterator` as a parameter to ctors leads to side effects as for the nature of `Iterator` is stateful. So with this ticket the usage of `Iterator` as a parameter should be removed and in cases where this is not already the case replaced with usage of `Iterable`.

[2018-02-18 17:53] 0crat commented on #677
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-18 19:50] 0crat commented on #648
The job [#648](https://github.com/yegor256/cactoos/issues/648) assigned to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey), here is [why](https://www.0crat.com/footprint/C63314D6Z/491960229). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.htm

[2018-02-18 19:53] 0crat commented on #644
The job [#644](https://github.com/yegor256/cactoos/issues/644) assigned to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey), here is [why](https://www.0crat.com/footprint/C63314D6Z/491962292). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.htm

[2018-02-18 19:55] 0crat commented on #661
The job [#661](https://github.com/yegor256/cactoos/issues/661) assigned to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey), here is [why](https://www.0crat.com/footprint/C63314D6Z/491965378). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.htm

[2018-02-18 20:17] rexim commented on #629
@0crat waiting

[2018-02-18 20:18] 0crat commented on #629
@rexim The impediment for [#629](https://github.com/yegor256/cactoos/issues/629) was registered successfully by @rexim[/z](https://www.0crat.com/u/rexim)

[2018-02-19 06:54] 0crat commented on #608
@nick318[/z](https://www.0crat.com/u/nick318) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-19 07:18] nick318 commented on #608
@yegor256 take a look please, help me out to close the job.

[2018-02-19 09:33] ypshenychka commented on #608
@nick318 Don't worry, I will review once issue https://github.com/zerocracy/farm/issues/592 is resolved. And BTW I can review closed issues. So that's not an issue.

[2018-02-19 10:02] yegor256 commented on #608
@ypshenychka it is an issue, the job is not closed until you give your verdict. The ticket may be closed already, but the job is still in the open state:

[2018-02-19 10:02] yegor256 commented on #608
@0crat status

[2018-02-19 10:02] 0crat commented on #608
@yegor256 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#608](https://github.com/yegor256/cactoos/issues/608) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 13days
  * The role is `DEV`
  * The job is assigned to @nick318[/z](https://www.0crat.com/u/nick318) for [5days](http://datum.zerocracy.com/pages/policy.htm

[2018-02-19 10:02] 0crat commented on #608
@yegor256 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#608](https://github.com/yegor256/cactoos/issues/608) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 13days
  * The role is `DEV`
  * The job is assigned to @nick318[/z](https://www.0crat.com/u/nick318) for [5days](http://datum.zerocracy.com/pages/policy.htm

[2018-02-19 11:03] yegor256 commented on #625
@nick318 @Maratori I think we should make sure `InterableOf` creates a proper `Iterable`, even when an `Iterator` is provided.

[2018-02-19 11:05] ypshenychka commented on #608
@0crat quality good

[2018-02-19 11:09] 0crat commented on #608
QA review completed: +15 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+90](https://www.0crat.com/u/ypshenychka)

[2018-02-19 11:10] 0crat commented on #608
Order was successfully finished: +35 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318), total is [+200](https://www.0crat.com/u/nick318)

[2018-02-19 11:13] nick318 commented on #625
@yegor256 What do you mean about making sure?

[2018-02-19 11:32] yegor256 commented on #656
@Vatavuk I like the idea, but I don't like the design. I think we should call it `ScalarWithFallback` (we have other similar classes already) and make it implement `Scalar`. WDYT?

[2018-02-19 11:40] yegor256 commented on #621
@SharplEr I think it's possible to do what you are looking for using existing Cactoos primitives:

[code]

WDYT?

[2018-02-19 11:42] 0crat commented on #675
Job [#675](https://github.com/yegor256/cactoos/issues/675) is now in scope, role is `DEV`

[2018-02-19 11:46] 0crat commented on #675
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318), total is [+215](https://www.0crat.com/u/nick318)

[2018-02-19 12:46] Vatavuk commented on #656
@yegor256  O I like it! I based my design on throwing specific exception but ScalarWithFallback would throw general Exception and we can use a decorator to transform it to some other exception type. In our case we can use IoCheckedScalar decorator.

We could have ScalarWithFallback (implements Scalar) and ProcWithFallback (implements Proc).

I would remove Throws and Finally functionality completl

[2018-02-19 13:06] yegor256 commented on #677
@svendiedrichsen I agree, let's remove all `Iterator`s from constructors, everywhere

[2018-02-19 13:06] 0crat commented on #677
Job [#677](https://github.com/yegor256/cactoos/issues/677) is now in scope, role is `DEV`

[2018-02-19 13:09] 0crat commented on #677
The job [#677](https://github.com/yegor256/cactoos/issues/677) assigned to @nick318[/z](https://www.0crat.com/u/nick318), here is [why](https://www.0crat.com/footprint/C63314D6Z/501309630). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-19 13:21] yegor256 commented on #608
@ypshenychka very strange... can you please try again?

[2018-02-19 13:24] yegor256 commented on #629
@0crat refuse

[2018-02-19 13:24] yegor256 commented on #629
@0crat out

[2018-02-19 13:25] 0crat commented on #629
@yegor256 The user @rexim[/z](https://www.0crat.com/u/rexim) resigned from [#629](https://github.com/yegor256/cactoos/issues/629), please stop working

[2018-02-19 13:25] 0crat commented on #629
@yegor256 The job [#629](https://github.com/yegor256/cactoos/issues/629) is now out of scope

[2018-02-19 13:25] 0crat commented on #629
@yegor256 Job [#629](https://github.com/yegor256/cactoos/issues/629) was not in scope

[2018-02-19 13:59] 0crat commented on #670
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-02-19 13:59] 0crat commented on #670
Job [#670](https://github.com/yegor256/cactoos/issues/670) is now in scope, role is `DEV`

[2018-02-19 14:00] 0crat commented on #670
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318), total is [+230](https://www.0crat.com/u/nick318)

[2018-02-19 14:16] svendiedrichsen commented on #648
PR has been merged.

[2018-02-19 14:16] #648 closed

[2018-02-19 14:17] 0crat commented on #648
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30)

[2018-02-19 15:03] 0crat commented on #670
Job [#670](https://github.com/yegor256/cactoos/issues/670) is already in scope

[2018-02-19 15:04] yegor256 commented on #656
@Vatavuk what is `exec()`? We don't have that in `Scalar`.

[2018-02-19 15:15] Vatavuk commented on #656
sry wrong copy-paste. It should be value

[2018-02-19 15:23] Vatavuk commented on #656
Updated example:
[code]

[2018-02-19 17:10] svendiedrichsen commented on #643
@aliceice I think you can close this. The PR has been merged.

[2018-02-19 17:19] #643 closed

[2018-02-19 17:20] 0crat commented on #643
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30)

[2018-02-19 17:31] nick318 commented on #677
@yegor256 how can I handle it in 30 min window? Should I fix it one class and create a puzzle for next class?

[2018-02-19 18:41] yegor256 commented on #625
@Maratori @nick318 I think we can close this ticket, because of this decision: https://github.com/yegor256/cactoos/issues/677

[2018-02-19 18:42] nick318 commented on #625
@yegor256 agree

[2018-02-19 18:49] 0crat commented on #674
Job [#674](https://github.com/yegor256/cactoos/issues/674) is now in scope, role is `DEV`

[2018-02-19 18:50] 0crat commented on #672
Job [#672](https://github.com/yegor256/cactoos/issues/672) is now in scope, role is `DEV`

[2018-02-19 18:51] 0crat commented on #674
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318), total is [+260](https://www.0crat.com/u/nick318)

[2018-02-19 18:51] 0crat commented on #672
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318), total is [+260](https://www.0crat.com/u/nick318)

[2018-02-19 19:06] yegor256 commented on #677
@nick318 it's up to you. You can try to fix in 30 mins or you can use PDD.

[2018-02-19 19:36] ypshenychka commented on #643
@0crat Quality good

[2018-02-19 19:39] 0crat commented on #643
QA review completed: +15 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+120](https://www.0crat.com/u/ypshenychka)

[2018-02-19 19:39] 0crat commented on #643
Order was finished, quality was "good": +35 points just awarded to @driver733[/z](https://www.0crat.com/u/driver733), total is [+200](https://www.0crat.com/u/driver733)

[2018-02-19 19:42] 0crat commented on #654
The job [#654](https://github.com/yegor256/cactoos/issues/654) assigned to @driver733[/z](https://www.0crat.com/u/driver733), here is [why](https://www.0crat.com/footprint/C63314D6Z/501942009). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9)

[2018-02-19 20:17] driver733 opened #679 "MapNoNulls class is not fully tested"
Currently, the `MapNoNulls` class has very low test coverage (13%).
I believe that we should write tests for it to reach 100% test coverage.

[2018-02-19 20:17] 0crat commented on #679
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 20:18] driver733 opened #680 "SyncMap class is not fully tested"
Currently, the `SyncMap ` class has very low test coverage (34%).
I believe that we should write tests for it to reach 100% test coverage.

[2018-02-19 20:18] 0crat commented on #680
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 20:20] driver733 opened #681 "MapEnvelope class is not fully tested"
Currently, the `MapEnvelope` class has only half of its methods tested.
I believe that we should write tests for it to reach 100% test coverage.

[2018-02-19 20:20] 0crat commented on #681
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 20:22] driver733 opened #682 "OutputStreamTo class is not fully tested"
Currently, the `OutputStreamTo` has very low test coverage (35%).
I believe that we should write tests for it to reach 100% test coverage.

[2018-02-19 20:22] 0crat commented on #682
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 20:24] driver733 commented on #675
@nick318 @yegor256 duplicate of #661

[2018-02-19 20:26] driver733 opened #683 "TeeOutput class is not fully tested"
Currently, the `TeeOutput` has very low test coverage (37%).
I believe that we should write tests for it to reach 100% test coverage.

[2018-02-19 20:26] 0crat commented on #683
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 20:27] driver733 opened #684 "LSInputOf class is not fully tested"
Currently, the `LSInputOf`class has very low test coverage (40%).
I believe that we should write tests for it to reach 100% test coverage.

[2018-02-19 20:27] 0crat commented on #684
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 20:30] driver733 opened #685 "TeeInputStream class is not fully tested"
Currently, the `TeeInputStream ` has only half of its methods tested.
I believe that we should write tests for it to reach 100% test coverage.

[2018-02-19 20:30] 0crat commented on #685
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 20:32] driver733 opened #686 "Some constructors are not tested in OutputTo class"
Currently, the `OutputTo` class has constructors that have no tests associated with them.
I believe that we should write tests for it to reach 100% test coverage.

[2018-02-19 20:32] 0crat commented on #686
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 20:36] ypshenychka commented on #599
@0crat Quality good

[2018-02-19 20:43] 0crat commented on #599
@ypshenychka Job `gh:yegor256/cactoos#599` is not assigned, can't get start time

[2018-02-19 20:44] 0crat commented on #599
QA review completed: +15 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+165](https://www.0crat.com/u/ypshenychka)

[2018-02-19 20:44] 0crat commented on #599
QA review completed: +15 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+165](https://www.0crat.com/u/ypshenychka)

[2018-02-19 20:44] 0crat commented on #599
Order was finished, quality was "good": +35 points just awarded to @sharpler[/z](https://www.0crat.com/u/sharpler), total is [+110](https://www.0crat.com/u/sharpler)

[2018-02-19 20:48] 0crat commented on #665
The job [#665](https://github.com/yegor256/cactoos/issues/665) assigned to @sharpler[/z](https://www.0crat.com/u/sharpler), here is [why](https://www.0crat.com/footprint/C63314D6Z/502048039). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-19 21:57] ypshenychka commented on #648
@svendiedrichsen Looks like the job was not assigned to you. Why did you proceed with this? And also you  can't be both problem reporter and problem solver as per [QA rules](http://datum.zerocracy.com/pages/policy.html#42)

[2018-02-20 00:46] 0crat commented on #619
@nick318[/z](https://www.0crat.com/u/nick318) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-20 02:27] driver733 commented on #654
@0crat waiting

[2018-02-20 02:28] 0crat commented on #654
@driver733 The impediment for [#654](https://github.com/yegor256/cactoos/issues/654) was registered successfully by @driver733[/z](https://www.0crat.com/u/driver733)

[2018-02-20 02:32] driver733 opened #688 "Documentation of the AndInThreads class needs to be updated"
This is an example from class javadoc in the AndInThreads class.
[code]

This code does not compile and shows a warning.

Compiler error:
`Cannot resolve method 'printf(java.lang.String, <lambda parameter>)'`
Warning:
`Unchecked call to 'IterableOf(X...)' as a member or raw type 'org.cactoos.iterable.IterableOf'`

https://github.com/yegor256/cactoos/pull/687#discussion_r169408286
https://github.co

[2018-02-20 02:33] 0crat commented on #688
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-20 03:38] nick318 commented on #619
@nikialeksey close the issue please, since PR is merged

[2018-02-20 04:52] nikialeksey commented on #619
@nick318 oh, `SumOfDoubleScalar` - it's not oop, because `SumOf` already exists. So, in description of this issue I wanted:
[code]

but now I only can this:
[code]

or:

[code]

@yegor256 what do you think?

[2018-02-20 06:43] nick318 commented on #619
@nikialeksey I will think about. Probably I can make an interface SumOfScalar<T extends Number> what do you think?

[2018-02-20 07:55] nikialeksey commented on #619
@nick318 I think it's good idea, but why not [create](https://github.com/yegor256/cactoos/issues/619#issuecomment-366017339) few constructors in `SomOf`? Then I can do this thing from the description:
[code]

[2018-02-20 07:58] nick318 commented on #619
@nikialeksey simply add constuctors will not work since `SumOf `extends `NumberInverope ` which implements `Scalar<Double>`, so in your case usage will be:
[code]
If you like it, I can create ctors for `SumOf`

[2018-02-20 07:59] nick318 commented on #619
@nikialeksey It is not oop too, since you should say what exactly type of number you wanna get

[2018-02-20 08:08] nikialeksey commented on #619
`SumOf:`
[code]

`SumOfTest`:
[code]

[2018-02-20 08:09] nikialeksey commented on #619
@nick318 I just copied from `SumOfScalar.java`

[2018-02-20 09:09] ashtonhogan opened #689 "design principles should be linked to elegantobjects.org so updates centralized"

[2018-02-20 09:09] 0crat commented on #689
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-20 09:10] #689 closed

[2018-02-20 09:16] nick318 commented on #619
@nikialeksey take a look carefully at `new SumOf(new Constant<>(1), new Constant<>(2)).intValue()`
Do you want to use it like:
[code]
There is not OOP here also.

[2018-02-20 10:38] alex-semenyuk opened #690 "JavaDoc for org.cactoos.scalar.AndWithIndex should be updated"
JavaDoc example from `org.cactoos.scalar.AndWithIndex`

[code]

doesn't compile with error:

`Error:(45, 9) java: no suitable constructor found for And(org.cactoos.iterable.IterableOf<java.lang.String>,org.cactoos.func.BiFuncOf<java.lang.Object,java.lang.Object,java.lang.Boolean>)`

[2018-02-20 10:38] 0crat commented on #690
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-20 11:45] nikialeksey commented on #619
@nick318 oh, you are right! So, as a result:
`SumOf` is `Scalar<Double>` and we can not do this:
[code]

But, this look like copy-paste:
- `SumOfDoubleScalar`
- `SumOfFloatScalar`
- `SumOfIntScalar`
- `SumOfLongScalar`

Actually It is enough for my purposes! Thanks, @nick318

[2018-02-20 11:45] #619 closed

[2018-02-20 11:45] 0crat commented on #619
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-20 11:53] ypshenychka commented on #619
@nick318 According to our [QA Rules](http://datum.zerocracy.com/pages/policy.html#42):

Please provide a link to corresponding PR in any of your messages.

[2018-02-20 11:56] nick318 commented on #619
@ypshenychka just updated, thanks

[2018-02-20 11:58] 0crat commented on #666
The job [#666](https://github.com/yegor256/cactoos/issues/666) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C63314D6Z/511157068). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9)

[2018-02-20 11:58] ypshenychka commented on #619
@nick318 Great! Thank you

[2018-02-20 11:59] ypshenychka commented on #619
@0crat Quality acceptable

[2018-02-20 12:01] 0crat commented on #619
QA review completed: +15 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+360](https://www.0crat.com/u/ypshenychka)

[2018-02-20 12:02] 0crat commented on #619
Order was finished, quality was "acceptable": +30 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318), total is [+290](https://www.0crat.com/u/nick318)

[2018-02-20 13:23] 0crat commented on #683
Job [#683](https://github.com/yegor256/cactoos/issues/683) is now in scope, role is `DEV`

[2018-02-20 13:24] 0crat commented on #683
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @driver733[/z](https://www.0crat.com/u/driver733), total is [+215](https://www.0crat.com/u/driver733)

[2018-02-20 13:25] 0crat commented on #681
Job [#681](https://github.com/yegor256/cactoos/issues/681) is now in scope, role is `DEV`

[2018-02-20 13:28] 0crat commented on #681
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @driver733[/z](https://www.0crat.com/u/driver733), total is [+230](https://www.0crat.com/u/driver733)

[2018-02-20 13:28] 0crat commented on #679
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @driver733[/z](https://www.0crat.com/u/driver733), total is [+245](https://www.0crat.com/u/driver733)

[2018-02-20 13:32] 0crat commented on #683
The job [#683](https://github.com/yegor256/cactoos/issues/683) assigned to @nick318[/z](https://www.0crat.com/u/nick318), here is [why](https://www.0crat.com/footprint/C63314D6Z/511330395). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-20 13:38] 0pdd commented on #585
The puzzle `482-5994e3af` has disappeared from the source code, that's why I closed this issue.

[2018-02-20 13:38] #585 closed

[2018-02-20 13:39] 0crat commented on #585
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-20 14:57] 0crat commented on #686
Job [#686](https://github.com/yegor256/cactoos/issues/686) is now in scope, role is `DEV`

[2018-02-20 14:59] yegor256 commented on #685
@driver733 I don't think it's a good strategy to raise coverage class by class. We will fix it once, but later someone will add new ctors or methods and the coverage will go down. We should increase the threshold in `pom.xml` instead.

[2018-02-20 14:59] #685 closed

[2018-02-20 14:59] yegor256 commented on #682
@driver733 see https://github.com/yegor256/cactoos/issues/685#issuecomment-367004244

[2018-02-20 14:59] #682 closed

[2018-02-20 14:59] 0crat commented on #686
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @driver733[/z](https://www.0crat.com/u/driver733), total is [+260](https://www.0crat.com/u/driver733)

[2018-02-20 15:05] yegor256 commented on #684
@driver733 see https://github.com/yegor256/cactoos/issues/685#issuecomment-367004244

[2018-02-20 15:05] #684 closed

[2018-02-20 15:14] yegor256 commented on #690
@alex-semenyuk fixed in 23693d9 thanks!

[2018-02-20 15:14] #690 closed

[2018-02-20 15:17] driver733 opened #692 "JavaDoc for the AndInThreads needs to be expanded"
As per
https://github.com/yegor256/cactoos/pull/687#discussion_r169244282
https://github.com/yegor256/cactoos/pull/687#discussion_r169345396
https://github.com/yegor256/cactoos/pull/687#discussion_r169408286
https://github.com/yegor256/cactoos/pull/687#discussion_r169345396

I think that the java doc of the `AndInThreads` class needs to be updated to include information on how the class works with

[2018-02-20 15:56] ypshenychka commented on #585
@driver733 According to our [QA Rules](http://datum.zerocracy.com/pages/policy.html#42):

Please provide a link to corresponding PR in any of your messages.

[2018-02-20 16:19] #625 closed

[2018-02-20 16:21] 0crat commented on #625
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-20 16:26] ypshenychka commented on #625
@nick318 Just to make sure I understood thread correctly - no work was eventually finished around this issue, right?

[2018-02-20 16:29] nick318 commented on #625
@ypshenychka yes, the issue does not make sense anymore.

[2018-02-20 16:30] ypshenychka commented on #625
@nick318 got it. Thanks.

[2018-02-20 16:30] ypshenychka commented on #625
@0crat quality bad

[2018-02-20 16:33] 0crat commented on #625
Quality is low, no payment, see [§31](http://datum.zerocracy.com/pages/policy.html#31)

[2018-02-20 16:43] 0crat commented on #681
The job [#681](https://github.com/yegor256/cactoos/issues/681) assigned to @nick318[/z](https://www.0crat.com/u/nick318), here is [why](https://www.0crat.com/footprint/C63314D6Z/511639999). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-20 17:39] driver733 commented on #585
@ypshenychka
It has been mentioned here.
 https://github.com/yegor256/cactoos/issues/585#ref-pullrequest-296938129

[2018-02-20 17:56] driver733 commented on #652
@nick318 Please close this issue.

[2018-02-20 18:05] #652 closed

[2018-02-20 18:06] 0crat commented on #652
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-20 18:25] ypshenychka commented on #585
@nick318 This reference is not enough. It can be hard to find the real PR among other references on commits, different referenced issues etc.
So please stick to the [rules](http://datum.zerocracy.com/pages/policy.html#42) and provide a link in any of your messages, so we could finish with this job.

[2018-02-20 18:27] driver733 commented on #585
@ypshenychka Fixed.
PR - #639.

[2018-02-20 18:28] yegor256 commented on #688
@driver733 fixed in 29819e4 thanks!

[2018-02-20 18:28] #688 closed

[2018-02-20 18:28] ypshenychka commented on #652
@driver733 According to our [QA Rules](http://datum.zerocracy.com/pages/policy.html#42):

Please provide a link to PR in any of your messages.

[2018-02-20 18:29] yegor256 commented on #680
@driver733 see https://github.com/yegor256/cactoos/issues/685#issuecomment-367004244

[2018-02-20 18:29] #680 closed

[2018-02-20 18:29] ypshenychka commented on #585
@driver733 Thanks.

[2018-02-20 18:29] ypshenychka commented on #585
@0crat quality acceptable

[2018-02-20 18:32] driver733 commented on #652
@ypshenychka Fixed.
PR - #660

[2018-02-20 18:40] 0crat commented on #585
QA review completed: +15 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+435](https://www.0crat.com/u/ypshenychka)

[2018-02-20 18:40] 0crat commented on #585
@ypshenychka There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-02-20 18:41] 0crat commented on #585
Order was finished, quality was "acceptable": +30 points just awarded to @driver733[/z](https://www.0crat.com/u/driver733), total is [+290](https://www.0crat.com/u/driver733)

[2018-02-20 18:46] 0crat commented on #667
The job [#667](https://github.com/yegor256/cactoos/issues/667) assigned to @driver733[/z](https://www.0crat.com/u/driver733), here is [why](https://www.0crat.com/footprint/C63314D6Z/511844465). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9)

[2018-02-20 19:05] ypshenychka commented on #652
@driver733 Thank you.

[2018-02-20 19:05] ypshenychka commented on #652
@0crat quality acceptable

[2018-02-20 19:13] driver733 commented on #654
PR - #687

[2018-02-20 19:15] 0crat commented on #652
QA review completed: +15 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+450](https://www.0crat.com/u/ypshenychka)

[2018-02-20 19:16] 0crat commented on #652
Order was finished, quality was "acceptable": +30 points just awarded to @driver733[/z](https://www.0crat.com/u/driver733), total is [+320](https://www.0crat.com/u/driver733)

[2018-02-20 19:21] 0crat commented on #655
The job [#655](https://github.com/yegor256/cactoos/issues/655) assigned to @driver733[/z](https://www.0crat.com/u/driver733), here is [why](https://www.0crat.com/footprint/C63314D6Z/511920135). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9)

[2018-02-20 19:26] 0crat commented on #631
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-20 20:07] 0crat commented on #630
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-20 20:28] 0crat commented on #636
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-20 20:54] 0crat commented on #640
@flslkxtc[/z](https://www.0crat.com/u/flslkxtc) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-20 21:00] alex-semenyuk opened #695 "JavaDoc for org.cactoos.scalar.SumOfLongScalar should be updated"
JavaDoc for `org.cactoos.scalar.SumOfLongScalar` doesn't compile:

`long sum = new SumOfLongScalar(() -> 1,() -> 2, () -> 3).value();`

with error

`Error:(44, 21) java: constructor SumOfLongScalar in class org.cactoos.scalar.SumOfLongScalar cannot be applied to given types;`

[2018-02-20 21:00] 0crat commented on #695
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-20 21:18] alex-semenyuk opened #696 "org.cactoos.func.IoCheckedBiProc is not covered by unit tests"
org.cactoos.func.IoCheckedBiProc is not covered by unit tests
Expected:
The class org.cactoos.func.IoCheckedBiProc is covered

[2018-02-20 21:18] 0crat commented on #638
@flslkxtc[/z](https://www.0crat.com/u/flslkxtc) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-20 21:18] 0crat commented on #696
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-20 21:43] 0crat commented on #641
@flslkxtc[/z](https://www.0crat.com/u/flslkxtc) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-20 22:14] 0crat commented on #646
@sharpler[/z](https://www.0crat.com/u/sharpler) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-20 22:39] driver733 commented on #655
PR - #697.

[2018-02-20 22:40] driver733 commented on #655
@0crat waiting

[2018-02-20 22:42] 0crat commented on #655
@driver733 The impediment for [#655](https://github.com/yegor256/cactoos/issues/655) was registered successfully by @driver733[/z](https://www.0crat.com/u/driver733)

[2018-02-21 00:04] rexim opened #699 "SumOf imlementation is too procedural"
See [SumOf.java][SumOf.java]. This particular loop can be rewritten in declarative style using [Reduced.java][Reduced.java] like in [AvgOf.java][AvgOf.java].

[SumOf.java]: https://github.com/yegor256/cactoos/blob/29819e46450ca50e81bf3c07d61f460a93b84eab/src/main/java/org/cactoos/scalar/SumOf.java#L110
[AvgOf.java]: https://github.com/yegor256/cactoos/blob/29819e46450ca50e81bf3c07d61f460a93b84eab/

[2018-02-21 00:04] 0crat commented on #699
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-21 05:05] driver733 commented on #667
PR - #700

[2018-02-21 05:08] 0crat commented on #667
@driver733 The impediment for [#667](https://github.com/yegor256/cactoos/issues/667) was registered successfully by @driver733[/z](https://www.0crat.com/u/driver733)

[2018-02-21 06:06] g4s8 commented on #532
@0crat status

[2018-02-21 06:07] 0crat commented on #532
@g4s8 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#532](https://github.com/yegor256/cactoos/issues/532) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos%23532%27%7D) (restricted area)

[2018-02-21 07:58] flslkxtc commented on #641
@0crat waiting

[2018-02-21 07:59] 0crat commented on #641
@flslkxtc The impediment for [#641](https://github.com/yegor256/cactoos/issues/641) was registered successfully by @flslkxtc[/z](https://www.0crat.com/u/flslkxtc)

[2018-02-21 08:41] Vatavuk commented on #656
I can create new pull request that will contain ScalarWithFallback which will take a list of fallback options
and choose the most suitable one depending on thrown exception.
It will be similar to FuncWithFallback. The main difference is that it will take a list of options rather than a single fallback function.
@yegor256 Do you agree?

[2018-02-21 11:17] proshin-roman opened #702 "Tests don't remove temporary files (if created)"
Currently, no tests in the project care about removing temporary files. As an example, see this class: https://github.com/yegor256/cactoos/blob/c235a774cb57d253cfe59d77b45985ddf4f53fa1/src/test/java/org/cactoos/io/WriterAsOutputTest.java#L59
It means all temporary files stay forever in the OS temp directory until OS removes them itself.

How it should be done:
- tests should either call method [de

[2018-02-21 11:18] 0crat commented on #702
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-21 12:48] yegor256 commented on #702
@proshin-roman definitely a bug, thanks for reporting

[2018-02-21 12:49] 0crat commented on #702
Job [#702](https://github.com/yegor256/cactoos/issues/702) is now in scope, role is `DEV`

[2018-02-21 12:50] 0crat commented on #702
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), total is [+15](https://www.0crat.com/u/proshin-roman)

[2018-02-21 12:50] 0crat commented on #699
Job [#699](https://github.com/yegor256/cactoos/issues/699) is now in scope, role is `DEV`

[2018-02-21 12:51] 0crat commented on #699
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @rexim[/z](https://www.0crat.com/u/rexim), total is [+185](https://www.0crat.com/u/rexim)

[2018-02-21 15:14] driver733 opened #703 "Add failure reason to tests that do not have it"
Currently, the majority of tests do not have failure reasons.
I believe that we should fix this by adding failure reasons to all tests that miss it.

[2018-02-21 15:14] 0crat commented on #703
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-21 15:16] driver733 opened #704 "Enforce failure reasons in tests"
I think that it would be great if we could enforce the usage of failure reasons in tests. If a test uses a test method that can have a failure reason and it does not use it,  then the build should fail.

[2018-02-21 15:16] 0crat commented on #704
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-21 15:54] yegor256 commented on #704
@driver733 how is it technically possible?

[2018-02-21 16:03] yegor256 commented on #703
@driver733 we can't ensure this always to happen, that's why fixing it only once won't really help. Can we find a way to control it somehow in the build?

[2018-02-21 16:03] yegor256 commented on #696
@alex-semenyuk see https://github.com/yegor256/cactoos/issues/685#issuecomment-367004244

[2018-02-21 16:03] #696 closed

[2018-02-21 16:09] yegor256 commented on #656
@Vatavuk how about simple `MapEntry<Throwable, Func<Throwable, T>>` instead of `FallbackFrom` you are suggesting?

[2018-02-21 16:11] driver733 commented on #704
@yegor256 We could, for instance, ban this method
`<T> void assertThat(T actual, Matcher<? super T> matcher) `
then, you would be directed to use one of these methods instead
`<T> void assertThat(java.lang.String reason, boolean assertion) `
`<T> void assertThat(java.lang.String reason, T actual, Matcher<? super T> matcher) `

[2018-02-21 16:14] driver733 commented on #703
@yegor256 https://github.com/yegor256/cactoos/issues/704#issuecomment-367378441

[2018-02-21 16:29] driver733 commented on #654
@nick318 Please close this issue. The PR has been merged.

[2018-02-21 17:26] #654 closed

[2018-02-21 17:29] 0crat commented on #654
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-21 17:44] Vatavuk commented on #656
@yegor256 I tought about using MapEntry, but I concluded that usgae of FallbackFrom (I'm not sure about the name completly) would be more readable.

The above example using MapEntry would look like:
[code]
We have to specify the same fun (exp -> {throw exp}) twice, for IOException and for Runtime exception. We can move it to a variable but still...

Example with FallbackFrom using Func:
[code]
How

[2018-02-21 19:06] yegor256 commented on #704
@driver733 "ban" how?

[2018-02-21 19:17] driver733 commented on #704
@yegor256 Could we use Checkstyle's [RegexpMultiline](http://checkstyle.sourceforge.net/config_regexp.html#RegexpSinglelineJava#RegexpMultiline)?

[2018-02-21 19:18] yegor256 commented on #704
@driver733 I doubt it will work... can you try?

[2018-02-21 19:19] yegor256 commented on #703
@driver733 it's a duplicate of #704

[2018-02-21 19:19] #703 closed

[2018-02-21 19:21] driver733 commented on #704
@yegor256 Sure, I will see what I can do.

[2018-02-21 19:21] ypshenychka commented on #654
@driver733 According to our [QA Rules](http://datum.zerocracy.com/pages/policy.html#42):

Please correct your [message](https://github.com/yegor256/cactoos/issues/654#issuecomment-367086132) by indicating an addressee in the beginning.

[2018-02-21 19:22] driver733 commented on #704
@yegor256 Actually, we could use this
[code]

[2018-02-21 19:26] driver733 commented on #654
@ypshenychka Done.

[2018-02-21 19:26] yegor256 commented on #704
@driver733 yes, that will work, thanks

[2018-02-21 19:27] 0crat commented on #704
Job [#704](https://github.com/yegor256/cactoos/issues/704) is now in scope, role is `DEV`

[2018-02-21 19:28] 0crat commented on #704
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @driver733[/z](https://www.0crat.com/u/driver733), total is [+335](https://www.0crat.com/u/driver733)

[2018-02-21 19:29] yegor256 commented on #656
@Vatavuk other `*WithFallback` classes don't have these multiple exception handlers. They just have one. We will have to modify them too?

[2018-02-21 20:39] ypshenychka commented on #654
@driver733 Thanks.

[2018-02-21 20:39] ypshenychka commented on #654
@0crat quality acceptable

[2018-02-21 20:42] 0crat commented on #654
QA review completed: +15 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+525](https://www.0crat.com/u/ypshenychka)

[2018-02-21 20:43] 0crat commented on #654
Order was finished, quality was "acceptable": +30 points just awarded to @driver733[/z](https://www.0crat.com/u/driver733), total is [+365](https://www.0crat.com/u/driver733)

[2018-02-21 20:43] 0crat commented on #654
@ypshenychka You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: QA.

[2018-02-21 22:29] ashtonhogan opened #705 "How do you instantiate JoinedText with generated Text instances?"
Which object can take a new `TextOf("...")` function and an `Integer` count and repeat execution of the function as per the count and then place all instances inside an instance of `JoinedText`?

[2018-02-21 22:29] 0crat commented on #705
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-21 22:30] ashtonhogan opened #706 "How do you get an element by index from IterableOf?"
Which object can take an instance of `new IterableOf(iterator)` and allow me to get an element by `iterator` index?

[2018-02-21 22:30] 0crat commented on #706
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-21 22:31] ashtonhogan opened #707 "How do you instantiate Base64Text with a byte array?"
It appears that there is only a `String` constructor and a `Text` constructor. How can I compose an object that can accept `byte[]` as input and provide `Base64Text` as output?

[2018-02-21 22:31] 0crat commented on #707
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-21 23:31] svendiedrichsen commented on #706
@ashtonhogan You probably could use `ItemAt`.

[2018-02-21 23:37] svendiedrichsen commented on #707
@ashtonhogan You could do `new Base64Text(new TextOf(new byte[]{}));`.

[2018-02-21 23:44] svendiedrichsen commented on #705
@ashtonhogan You could use `new JoinedText(new Repeated(5, new TextOf("text")));` to get the text repeated 5 times joined together into one string.

[2018-02-22 10:45] ypshenychka commented on #648
@svendiedrichsen ping

[2018-02-22 10:53] svendiedrichsen commented on #648
@ypshenychka Because the ticket wasn't assigned automatically and I was interested to contribute.

[2018-02-22 12:27] yegor256 commented on #707
@ashtonhogan yes, @svendiedrichsen is right

[2018-02-22 12:27] #707 closed

[2018-02-22 13:10] msarhan commented on #702
Using JUnit's [TemporaryFolder Rule](https://junit.org/junit4/javadoc/4.12/org/junit/rules/TemporaryFolder.html) instead of `Files.createTempFile()` will solve the issue.

[2018-02-22 14:05] ashtonhogan commented on #707
Thank you @svendiedrichsen @yegor256

[2018-02-22 14:05] #706 closed

[2018-02-22 15:00] ashtonhogan opened #708 "How do you check if an iterator contains all the elements of another iterator?"
Which object can take two `Iterator` instances and return a `Boolean` `TRUE` when all the elements in one `Iterator` are found in the other?

[2018-02-22 15:00] 0crat commented on #708
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-22 15:32] 0pdd commented on #53
@0pdd all puzzles are solved

[2018-02-22 15:32] 0pdd commented on #505
@0pdd all puzzles are solved

[2018-02-22 15:32] 0pdd commented on #585
@0pdd all puzzles are solved

[2018-02-22 15:32] 0pdd commented on #636
@0pdd all puzzles are solved

[2018-02-22 15:48] SharplEr commented on #621
@yegor256 looks okay for me.

[2018-02-22 15:48] #621 closed

[2018-02-22 15:53] svendiedrichsen commented on #708
@ashtonhogan You should not rely on Iterators. #677  aims to remove usage as parameters passed to instances via ctors.

If you are using `Iterable`s you can do `new ListOf(iterable1).containsAll(new ListOf(iterable2));`

[2018-02-22 15:55] #708 closed

[2018-02-22 15:55] #705 closed

[2018-02-22 15:57] ashtonhogan commented on #708
@yegor256 Can you let me add labels to these questions?

[2018-02-22 15:58] ashtonhogan opened #709 "Add labels to questions"
@yegor256 Can you let me add labels to my issues?

[2018-02-22 15:58] 0crat commented on #709
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-22 16:42] llorllale commented on #666
@nick318 hi,
This was fixed in PR #691

Can we close this?

[2018-02-22 17:16] ashtonhogan commented on #705
@svendiedrichsen failed at first, worked after adding the delimiter

`new JoinedText(new TextOf(""), new Repeated(5, new TextOf("text")));`

[2018-02-22 17:18] #666 closed

[2018-02-22 17:19] 0crat commented on #666
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-22 18:05] Vatavuk commented on #656
@yegor256
```InputWithFallback``` -> I wouldn't modify it because it provides fallback from specific ```InputStream``` exceptions. Maybe we can modify implementation to use ScalarWithFallback instead of try/catch statements.

```FuncWithFallback ```  -> I think extending it would be a good thing. We can leave current ctors as they are and introduce new ones that take a list of fallback options.
Th

[2018-02-22 18:20] aliceice opened #711 "NormalizedText.asString() is too procedural."
The method `asString()` of `NormalizedText` currently looks like this:

[code]

Instead of calling `.replaceAll(...)` it should use `ReplacedText` to build a bigger object and make it more declarative.

[2018-02-22 18:20] 0crat commented on #711
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-22 19:31] yegor256 commented on #709
@ashtonhogan only repository maintainer/owner can do that, technically

[2018-02-22 19:31] #709 closed

[2018-02-22 19:42] yegor256 commented on #656
@Vatavuk to be honest, I'm a bit concerned about these different exception types. We will have to use `instanceof` in order to implement them, but we promise to our users that we never do that... WDYT?

[2018-02-22 19:45] 0pdd commented on #53
@0pdd all puzzles are solved

[2018-02-22 19:45] 0pdd commented on #505
@0pdd all puzzles are solved

[2018-02-22 19:45] 0pdd commented on #585
@0pdd all puzzles are solved

[2018-02-22 19:45] 0pdd commented on #636
@0pdd all puzzles are solved

[2018-02-22 20:06] Vatavuk commented on #656
@yegor256 I'm not using instanceof, I'm calculating inheritance distance.
Take a look at this class [CompareClasses.java](https://github.com/Vatavuk/vgv-exceptions/blob/master/src/main/java/com/vgv/exceptions/CompareClasses.java)

[2018-02-22 22:28] Vatavuk commented on #656
@yegor256 Forgot that the example is using reflection method, however I don't see other way to deal with this.

Maybe the question is what is more valuable to the users; the fact that the library is not using reflections or that they could make their exception control design more readable, maintainable and testable. I'm not pushing the solution, just thinking out loud.

[2018-02-23 06:46] 0pdd commented on #53
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #505
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #585
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #636
@0pdd all puzzles are solved

[2018-02-23 06:55] 0pdd commented on #53
@0pdd all puzzles are solved

[2018-02-23 06:55] 0pdd commented on #505
@0pdd all puzzles are solved

[2018-02-23 06:55] 0pdd commented on #585
@0pdd all puzzles are solved

[2018-02-23 06:55] 0pdd commented on #636
@0pdd all puzzles are solved

[2018-02-23 07:01] ypshenychka commented on #666
@0crat quality good

[2018-02-23 08:55] ypshenychka commented on #666
@0crat quality good

[2018-02-23 08:59] 0crat commented on #666
@ypshenychka Job `gh:yegor256/cactoos#666` is not assigned, can't get start time

[2018-02-23 08:59] 0crat commented on #666
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+646](https://www.0crat.com/u/ypshenychka)

[2018-02-23 08:59] 0crat commented on #666
@ypshenychka Job `gh:yegor256/cactoos#666` is not assigned, can't get start time

[2018-02-23 09:00] 0crat commented on #666
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+662](https://www.0crat.com/u/ypshenychka)

[2018-02-23 09:00] 0crat commented on #666
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+662](https://www.0crat.com/u/ypshenychka)

[2018-02-23 09:00] 0crat commented on #666
Order was finished, quality was "good": +35 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+830](https://www.0crat.com/u/llorllale)

[2018-02-23 09:00] 0crat commented on #666
@ypshenychka You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `QA`.

[2018-02-23 09:39] ypshenychka commented on #648
@yegor256 Please advise how should I evaluate this ticket? To my mind, it should be bad quality.

[2018-02-23 16:01] SharplEr commented on #646
@nick318 PR was merged, please close the issue )

[2018-02-23 16:40] SharplEr commented on #659
@yegor256 @driver733 as I understood from #677 I should remove ctor with iterator.

[2018-02-23 17:15] nick318 commented on #646
@SharplEr thanks!

[2018-02-23 17:15] #646 closed

[2018-02-23 17:16] 0crat commented on #646
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-23 19:23] 0crat commented on #631
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-23 19:38] ypshenychka commented on #646
@SharplEr According to our [QA Rules](http://datum.zerocracy.com/pages/policy.html#42):

Please mention link to PR in any of your messages.

[2018-02-23 19:52] 0crat commented on #648
@nikialeksey[/z](https://www.0crat.com/u/nikialeksey) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-23 19:54] 0crat commented on #644
@nikialeksey[/z](https://www.0crat.com/u/nikialeksey) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-23 19:56] 0crat commented on #661
@nikialeksey[/z](https://www.0crat.com/u/nikialeksey) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-23 20:05] 0crat commented on #630
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-23 20:27] 0crat commented on #636
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-23 20:53] 0crat commented on #640
@flslkxtc[/z](https://www.0crat.com/u/flslkxtc) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-23 21:17] 0crat commented on #638
@flslkxtc[/z](https://www.0crat.com/u/flslkxtc) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-23 22:11] 0crat commented on #646
@sharpler[/z](https://www.0crat.com/u/sharpler) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-23 22:42] SharplEr commented on #646
@ypshenychka [done](https://github.com/yegor256/cactoos/issues/646#issuecomment-368051707)

[2018-02-24 07:24] ypshenychka commented on #646
@SharplEr thanks

[2018-02-24 07:25] ypshenychka commented on #646
@0crat quality acceptable

[2018-02-24 07:26] 0crat commented on #646
@ypshenychka There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-02-24 07:27] 0crat commented on #646
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+678](https://www.0crat.com/u/ypshenychka)

[2018-02-24 07:27] 0crat commented on #646
@ypshenychka There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-02-24 07:27] 0crat commented on #646
Order was finished, quality was "acceptable": +30 points just awarded to @sharpler[/z](https://www.0crat.com/u/sharpler), total is [+140](https://www.0crat.com/u/sharpler)

[2018-02-24 07:27] 0crat commented on #646
@ypshenychka You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `QA`.

[2018-02-24 09:15] ypshenychka commented on #648
@yegor256 ping

[2018-02-24 10:32] flslkxtc commented on #640
@nick318 pull request https://github.com/yegor256/cactoos/pull/669 with test for SolidMap has been merged, can we close this issue now?

[2018-02-24 10:57] proshin-roman commented on #636
@0crat waiting (the issue is waiting for pull request review)

[2018-02-24 10:58] 0crat commented on #636
@proshin-roman The impediment for [#636](https://github.com/yegor256/cactoos/issues/636) was registered successfully by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-02-24 13:09] 0crat commented on #677
@nick318[/z](https://www.0crat.com/u/nick318) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-24 17:25] proshin-roman commented on #631
@0crat waiting for pull request merging (it's already approved by CR)

[2018-02-24 17:26] proshin-roman commented on #630
@0crat waiting for pull request merging (it's already approved by PR)

[2018-02-24 17:27] 0crat commented on #631
@proshin-roman The impediment for [#631](https://github.com/yegor256/cactoos/issues/631) was registered successfully by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-02-24 17:27] 0crat commented on #630
@proshin-roman The impediment for [#630](https://github.com/yegor256/cactoos/issues/630) was registered successfully by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-02-24 20:48] 0crat commented on #665
@sharpler[/z](https://www.0crat.com/u/sharpler) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-25 10:09] flslkxtc commented on #640
@0crat waiting

[2018-02-25 10:10] 0crat commented on #640
@flslkxtc The impediment for [#640](https://github.com/yegor256/cactoos/issues/640) was registered successfully by @flslkxtc[/z](https://www.0crat.com/u/flslkxtc)

[2018-02-25 13:32] 0crat commented on #683
@nick318[/z](https://www.0crat.com/u/nick318) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-25 13:44] proshin-roman commented on #702
@msarhan good idea! I've already applied it in two my pull requests: [#698](https://github.com/yegor256/cactoos/pull/698) and [#676](https://github.com/yegor256/cactoos/pull/676)

[2018-02-25 16:27] nick318 commented on #677
@0crat refuse

[2018-02-25 16:28] 0crat commented on #677
@nick318 The user @nick318[/z](https://www.0crat.com/u/nick318) resigned from [#677](https://github.com/yegor256/cactoos/issues/677), please stop working

[2018-02-25 16:29] 0crat commented on #677
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318), total is [+275](https://www.0crat.com/u/nick318)

[2018-02-25 16:40] 0crat commented on #681
@nick318[/z](https://www.0crat.com/u/nick318) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-26 05:12] yegor256 commented on #648
@ypshenychka yes, it's "bad"

[2018-02-26 05:45] driver733 commented on #667
@nick318 Please close this ticket. The PR has been merged.

[2018-02-26 05:53] #655 closed

[2018-02-26 05:54] #667 closed

[2018-02-26 05:54] 0crat commented on #655
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-26 05:54] 0crat commented on #667
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-26 09:24] 0crat commented on #648
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-02-26 09:25] 0crat commented on #648
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+686](https://www.0crat.com/u/ypshenychka)

[2018-02-26 09:25] 0crat commented on #648
@ypshenychka You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `QA`.

[2018-02-26 09:37] 0pdd commented on #636
The puzzle `547-eacac169` has disappeared from the source code, that's why I closed this issue.

[2018-02-26 09:37] #636 closed

[2018-02-26 09:38] 0crat commented on #636
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-26 12:20] ypshenychka commented on #655
@0crat quality good

[2018-02-26 12:26] ypshenychka commented on #667
@0crat quality good

[2018-02-26 12:38] 0crat commented on #655
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+718](https://www.0crat.com/u/ypshenychka)

[2018-02-26 12:42] 0crat commented on #655
Order was finished, quality was "good": +35 points just awarded to @driver733[/z](https://www.0crat.com/u/driver733), total is [+475](https://www.0crat.com/u/driver733)

[2018-02-26 12:42] 0crat commented on #655
@ypshenychka You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `QA`.

[2018-02-26 12:42] 0crat commented on #667
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+726](https://www.0crat.com/u/ypshenychka)

[2018-02-26 12:43] 0crat commented on #667
Order was finished, quality was "good": +35 points just awarded to @driver733[/z](https://www.0crat.com/u/driver733), total is [+510](https://www.0crat.com/u/driver733)

[2018-02-26 12:43] 0crat commented on #667
@ypshenychka You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `QA`.

[2018-02-26 15:20] svendiedrichsen commented on #699
@yegor256 May I contribute to this?

[2018-02-26 15:25] ashtonhogan opened #718 "Commercial license"
Is there or will there ever be a commercial license available?

I understand MIT is the most permissive but with commercial, the transaction is more transparent and everyone knows what their "fair share" is upfront...

[2018-02-26 15:25] 0crat commented on #718
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-26 15:34] ypshenychka commented on #636
@proshin-roman According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please provide a link to corresponding PR in any of your messages.

[2018-02-26 15:38] proshin-roman commented on #636
@ypshenychka This issue was fixed in pull request https://github.com/yegor256/cactoos/pull/701

[2018-02-26 17:07] ypshenychka commented on #636
@proshin-roman Thank you.

[2018-02-26 17:12] 0crat commented on #636
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+734](https://www.0crat.com/u/ypshenychka)

[2018-02-26 18:13] flslkxtc commented on #640
@nick318 @yegor256, we can close this issue now.

[2018-02-26 18:34] yegor256 commented on #718
@ashtonhogan it's a free product, you can use it any way you want. No need to have any other licenses.

[2018-02-26 18:34] #718 closed

[2018-02-26 18:47] yegor256 commented on #699
@0crat assign @svendiedrichsen

[2018-02-26 18:53] 0crat commented on #699
@yegor256 The job [#699](https://github.com/yegor256/cactoos/issues/699) assigned to @svendiedrichsen[/z](https://www.0crat.com/u/svendiedrichsen), here is [why](https://www.0crat.com/footprint/C63314D6Z/571855446). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9).

[2018-02-26 19:30] #640 closed

[2018-02-26 19:30] 0crat commented on #640
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-26 19:53] 0crat commented on #644
@nikialeksey[/z](https://www.0crat.com/u/nikialeksey) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-26 19:56] 0crat commented on #661
@nikialeksey[/z](https://www.0crat.com/u/nikialeksey) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-26 21:01] svendiedrichsen commented on #711
@yegor256 May I contribute to this?

[2018-02-26 22:35] svendiedrichsen commented on #699
@yegor256 How can I request to join the project?

[2018-02-27 02:55] nikialeksey commented on #661
@0crat waiting

[2018-02-27 02:55] nikialeksey commented on #644
@0crat waiting

[2018-02-27 02:56] 0crat commented on #661
@nikialeksey The impediment for [#661](https://github.com/yegor256/cactoos/issues/661) was registered successfully by @nikialeksey[/z](https://www.0crat.com/u/nikialeksey)

[2018-02-27 08:41] ypshenychka commented on #640
@0crat quality good

[2018-02-27 08:43] 0crat commented on #640
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+813](https://www.0crat.com/u/ypshenychka)

[2018-02-27 08:43] 0crat commented on #640
Order was finished, quality was "good": +35 points just awarded to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), total is [+125](https://www.0crat.com/u/flslkxtc)

[2018-02-27 08:43] 0crat commented on #640
@ypshenychka The job [#640](https://github.com/yegor256/cactoos/issues/640) is now out of scope

[2018-02-27 10:33] nick318 commented on #681
@0crat waiting https://github.com/yegor256/cactoos/pull/717

[2018-02-27 10:34] 0crat commented on #681
@nick318 The impediment for [#681](https://github.com/yegor256/cactoos/issues/681) was registered successfully by @nick318[/z](https://www.0crat.com/u/nick318)

[2018-02-27 10:34] nick318 commented on #683
@0crat waiting https://github.com/yegor256/cactoos/pull/716

[2018-02-27 10:35] 0crat commented on #683
@nick318 The impediment for [#683](https://github.com/yegor256/cactoos/issues/683) was registered successfully by @nick318[/z](https://www.0crat.com/u/nick318)

[2018-02-27 20:49] 0crat commented on #665
@sharpler[/z](https://www.0crat.com/u/sharpler) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-28 14:01] proshin-roman commented on #630
@driver733 the issue was fixed in a pull request https://github.com/yegor256/cactoos/pull/676 that is already merged. So the issue can be closed now.

[2018-02-28 14:04] #630 closed

[2018-02-28 14:04] 0crat commented on #630
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-28 17:25] 0pdd opened #720 "TeeInput.java:48-50: This class needs more test cases...."
The puzzle `631-6c33e53a` from #631 has to be resolved:

https://github.com/yegor256/cactoos/blob/2bcee98bf2583b5123670f66ad65e72ae3e30cd1/src/main/java/org/cactoos/io/TeeInput.java#L48-L50

The puzzle was created by Roman Proshin on 26-Feb-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem

[2018-02-28 17:25] 0crat commented on #720
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 17:25] 0pdd opened #721 "TeeInputFromBytesTest.java:41-43: Create a new Matcher..."
The puzzle `631-845093d4` from #631 has to be resolved:

https://github.com/yegor256/cactoos/blob/2bcee98bf2583b5123670f66ad65e72ae3e30cd1/src/test/java/org/cactoos/io/TeeInputFromBytesTest.java#L41-L43

The puzzle was created by Roman Proshin on 26-Feb-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when

[2018-02-28 17:25] 0crat commented on #721
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 17:26] 0crat commented on #720
Job [#720](https://github.com/yegor256/cactoos/issues/720) is now in scope, role is `DEV`

[2018-02-28 17:26] 0crat commented on #721
Job [#721](https://github.com/yegor256/cactoos/issues/721) is now in scope, role is `DEV`

[2018-02-28 18:17] 0crat commented on #636
The job [#636](https://github.com/yegor256/cactoos/issues/636) assigned to @nick318[/z](https://www.0crat.com/u/nick318), here is [why](https://www.0crat.com/footprint/C63314D6Z/591819778). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-02-28 18:21] 0crat commented on #638
The job [#638](https://github.com/yegor256/cactoos/issues/638) assigned to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey), here is [why](https://www.0crat.com/footprint/C63314D6Z/591823895). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not

[2018-02-28 18:24] 0crat commented on #646
The job [#646](https://github.com/yegor256/cactoos/issues/646) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), here is [why](https://www.0crat.com/footprint/C63314D6Z/591826990). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-02-28 18:28] 0crat commented on #648
The job [#648](https://github.com/yegor256/cactoos/issues/648) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), here is [why](https://www.0crat.com/footprint/C63314D6Z/591831085). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-02-28 18:31] 0crat commented on #654
The job [#654](https://github.com/yegor256/cactoos/issues/654) assigned to @sharpler[/z](https://www.0crat.com/u/sharpler), here is [why](https://www.0crat.com/footprint/C63314D6Z/591834180). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-02-28 18:34] 0crat commented on #666
The job [#666](https://github.com/yegor256/cactoos/issues/666) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C63314D6Z/591837269). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is

[2018-02-28 19:35] yegor256 commented on #648
@0crat refuse

[2018-02-28 19:35] yegor256 commented on #648
@0crat out

[2018-02-28 19:35] yegor256 commented on #646
@0crat refuse

[2018-02-28 19:35] yegor256 commented on #646
@0crat out

[2018-02-28 19:35] yegor256 commented on #641
@0crat refuse

[2018-02-28 19:35] yegor256 commented on #641
@0crat out

[2018-02-28 19:35] yegor256 commented on #636
@0crat refuse

[2018-02-28 19:36] yegor256 commented on #636
@0crat out

[2018-02-28 19:45] 0crat commented on #648
@yegor256 The user @flslkxtc[/z](https://www.0crat.com/u/flslkxtc) resigned from [#648](https://github.com/yegor256/cactoos/issues/648), please stop working. Reason for job resignation: Order was cancelled

[2018-02-28 19:46] 0crat commented on #648
@yegor256 The job [#648](https://github.com/yegor256/cactoos/issues/648) is now out of scope

[2018-02-28 19:46] 0crat commented on #648
@yegor256 Job [#648](https://github.com/yegor256/cactoos/issues/648) was not in scope

[2018-02-28 19:46] 0crat commented on #646
@yegor256 The user @flslkxtc[/z](https://www.0crat.com/u/flslkxtc) resigned from [#646](https://github.com/yegor256/cactoos/issues/646), please stop working. Reason for job resignation: Order was cancelled

[2018-02-28 19:46] 0crat commented on #646
@yegor256 Job `gh:yegor256/cactoos#646` is not assigned, can't get performer

[2018-02-28 19:46] 0crat commented on #646
@yegor256 The job [#646](https://github.com/yegor256/cactoos/issues/646) is now out of scope

[2018-02-28 19:46] 0crat commented on #646
@yegor256 Job [#646](https://github.com/yegor256/cactoos/issues/646) was not in scope

[2018-02-28 19:46] 0crat commented on #646
@yegor256 Job [#646](https://github.com/yegor256/cactoos/issues/646) was not in scope

[2018-02-28 19:46] 0crat commented on #641
@yegor256 The user @flslkxtc[/z](https://www.0crat.com/u/flslkxtc) resigned from [#641](https://github.com/yegor256/cactoos/issues/641), please stop working. Reason for job resignation: Order was cancelled

[2018-02-28 19:47] 0crat commented on #641
@yegor256 The job [#641](https://github.com/yegor256/cactoos/issues/641) is now out of scope

[2018-02-28 19:47] 0crat commented on #636
@yegor256 The user @nick318[/z](https://www.0crat.com/u/nick318) resigned from [#636](https://github.com/yegor256/cactoos/issues/636), please stop working. Reason for job resignation: Order was cancelled

[2018-02-28 19:47] 0crat commented on #636
@yegor256 The job [#636](https://github.com/yegor256/cactoos/issues/636) is now out of scope

[2018-02-28 19:47] 0crat commented on #636
@yegor256 Job [#636](https://github.com/yegor256/cactoos/issues/636) was not in scope

[2018-02-28 19:50] 0crat commented on #667
The job [#667](https://github.com/yegor256/cactoos/issues/667) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), here is [why](https://www.0crat.com/footprint/C63314D6Z/591949701). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-02-28 19:53] 0crat commented on #655
The job [#655](https://github.com/yegor256/cactoos/issues/655) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), here is [why](https://www.0crat.com/footprint/C63314D6Z/591952785). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-02-28 19:54] 0crat commented on #644
The user @nikialeksey[/z](https://www.0crat.com/u/nikialeksey) resigned from [#644](https://github.com/yegor256/cactoos/issues/644), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-02-28 19:54] 0crat commented on #644
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey)

[2018-02-28 19:57] 0crat commented on #644
The job [#644](https://github.com/yegor256/cactoos/issues/644) assigned to @nick318[/z](https://www.0crat.com/u/nick318), here is [why](https://www.0crat.com/footprint/C63314D6Z/591957929). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-02-28 20:00] 0crat commented on #664
The job [#664](https://github.com/yegor256/cactoos/issues/664) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), here is [why](https://www.0crat.com/footprint/C63314D6Z/591959997). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-02-28 20:03] 0crat commented on #671
The job [#671](https://github.com/yegor256/cactoos/issues/671) assigned to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey), here is [why](https://www.0crat.com/footprint/C63314D6Z/592003092). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not

[2018-03-01 04:34] nikialeksey commented on #644
@yegor256 why 0crat resigned me? I told him "waiting"

[2018-03-01 04:35] 0crat commented on #644
@nikialeksey The impediment for [#644](https://github.com/yegor256/cactoos/issues/644) was registered successfully by @nikialeksey[/z](https://www.0crat.com/u/nikialeksey)

[2018-03-01 05:41] proshin-roman commented on #631
@driver733 the issue was fixed in pull request https://github.com/yegor256/cactoos/pull/698 - please check if the issue can be closed now.

[2018-03-01 05:50] #631 closed

[2018-03-01 05:50] 0crat commented on #631
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-01 05:55] proshin-roman commented on #721
I've already implemented this matcher but had to delete that. I've published my work [here](https://gist.github.com/proshin-roman/67c90dfc03038d1245796f338b289e7a) so you - whoever will fix this bug - can use it (if it's still acceptable).

[2018-03-01 06:01] proshin-roman commented on #720
I've already implemented all required test cases but had to delete them. You can find it [here](https://gist.github.com/proshin-roman/876f0b4dcd31954e42fb26e5147ecd04) (if you need, of course).

[2018-03-01 07:05] yegor256 commented on #644
@nikialeksey looks like it was a bug. Zerocrat didn't reply to you, which meant that he didn't see your message. Sorry.

[2018-03-01 08:05] nikialeksey commented on #644
@yegor256 Created. What can we do with this issue? I have opened pull request on it

[2018-03-01 08:05] flslkxtc commented on #664
@nick318 Iterator ctors  are not working properly and will be removed, see this comment and discussion: https://github.com/yegor256/cactoos/issues/677#issuecomment-366687957.
We should close this isssue, it doesn't make sense currently.

[2018-03-01 08:23] ypshenychka commented on #631
@0crat quality good

[2018-03-01 08:27] 0crat commented on #631
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-01 08:28] 0crat commented on #631
Order was finished, quality was "good": +35 points just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-03-01 08:28] 0crat commented on #631
@ypshenychka The job [#631](https://github.com/yegor256/cactoos/issues/631) is now out of scope

[2018-03-01 08:30] 0crat commented on #673
The job [#673](https://github.com/yegor256/cactoos/issues/673) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C63314D6Z/600832142). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is

[2018-03-01 08:39] nick318 commented on #664
@flslkxtc sure

[2018-03-01 08:39] #664 closed

[2018-03-01 08:40] 0crat commented on #664
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-01 08:57] ypshenychka commented on #664
@0crat quality bad

[2018-03-01 08:59] 0crat commented on #664
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-03-01 08:59] 0crat commented on #664
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-01 08:59] 0crat commented on #664
@ypshenychka The job [#664](https://github.com/yegor256/cactoos/issues/664) is now out of scope

[2018-03-01 09:03] 0crat commented on #675
The job [#675](https://github.com/yegor256/cactoos/issues/675) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), here is [why](https://www.0crat.com/footprint/C63314D6Z/600905975). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-03-01 15:31] #675 closed

[2018-03-01 15:32] 0crat commented on #675
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-01 15:48] ypshenychka commented on #675
@0crat quality bad

[2018-03-01 15:50] 0crat commented on #675
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-03-01 15:51] 0crat commented on #675
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-01 15:51] 0crat commented on #675
@ypshenychka The job [#675](https://github.com/yegor256/cactoos/issues/675) is now out of scope

[2018-03-01 15:54] 0crat commented on #677
The job [#677](https://github.com/yegor256/cactoos/issues/677) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), here is [why](https://www.0crat.com/footprint/C63314D6Z/601554547). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-03-01 20:49] 0crat commented on #665
The user @sharpler[/z](https://www.0crat.com/u/sharpler) resigned from [#665](https://github.com/yegor256/cactoos/issues/665), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-03-01 20:49] 0crat commented on #665
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-03-01 20:53] 0crat commented on #670
The job [#670](https://github.com/yegor256/cactoos/issues/670) assigned to @sharpler[/z](https://www.0crat.com/u/sharpler), here is [why](https://www.0crat.com/footprint/C63314D6Z/602053297). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-03-02 06:06] proshin-roman commented on #666
@0crat waiting until https://github.com/zerocracy/farm/issues/557 is fixed

[2018-03-02 06:07] 0crat commented on #666
@proshin-roman The impediment for [#666](https://github.com/yegor256/cactoos/issues/666) was registered successfully by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-03-02 06:35] yegor256 commented on #656
@Vatavuk OK, I agree, let's use `getSuperclass()` as in your `CompareClasses` example. The only question I still have -- what about `finally` block?

[2018-03-02 06:36] yegor256 commented on #659
@SharplEr I think so, yes

[2018-03-02 06:37] yegor256 commented on #644
@0crat assign @nikialeksey

[2018-03-02 06:38] 0crat commented on #644
@yegor256 The job [#644](https://github.com/yegor256/cactoos/issues/644) assigned to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey), here is [why](https://www.0crat.com/footprint/C63314D6Z/610651518). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the t

[2018-03-02 06:39] 0crat commented on #644
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-02 06:41] 0crat commented on #679
The job [#679](https://github.com/yegor256/cactoos/issues/679) assigned to @nick318[/z](https://www.0crat.com/u/nick318), here is [why](https://www.0crat.com/footprint/C63314D6Z/610655640). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-02 08:58] ypshenychka commented on #630
@0crat quality good

[2018-03-02 09:03] 0crat commented on #630
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-02 09:03] 0crat commented on #630
Order was finished, quality was "good": +35 points just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-03-02 09:03] 0crat commented on #630
@ypshenychka The job [#630](https://github.com/yegor256/cactoos/issues/630) is now out of scope

[2018-03-02 09:07] 0crat commented on #665
The job [#665](https://github.com/yegor256/cactoos/issues/665) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C63314D6Z/610924621). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is

[2018-03-02 19:17] Vatavuk commented on #656
@yegor256 We could create a decorator `DeterminateScalar`/`DeterminateFunc` that handles try/finally. WDYT?

What about throwing specific exceptions? If user wants to wrap Exception to CustomCheckedException. Maybe we could introduce `CheckedScalar<T, E extends Exception>`  decorator. Something like:
[code]
Complete try/catch/finally controll would be:
[code]
I think that in the end we could clean

[2018-03-03 09:25] SharplEr commented on #665
@yegor256 Wow, quite unfair. My PR was ready for review 5 days before 0crat had chosen reviewer on it. Should I use `wait` command to avoid such problem in future?

[2018-03-03 09:30] SharplEr commented on #654
@0crat wait

[2018-03-03 09:30] 0crat commented on #654
@SharplEr Can't understand "wait", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Remove this issue from scope (WBS)
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status of the job
  - `version` Print current version of the b

[2018-03-03 09:31] SharplEr commented on #654
@0crat waiting

[2018-03-03 09:31] 0crat commented on #654
@SharplEr The impediment for [#654](https://github.com/yegor256/cactoos/issues/654) was registered successfully by @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-03-03 09:34] SharplEr commented on #654
@nick318 @driver733 @ypshenychka @yegor256  0crat assigned the closed issue to me. Looks like a bug. Or I should do something?

[2018-03-03 10:57] Vatavuk commented on #656
@yegor256 Or instead of using CheckedScalar maybe we could expand `ScalarWithFallback`:
[code]

[2018-03-03 18:51] 0crat commented on #699
@svendiedrichsen[/z](https://www.0crat.com/u/svendiedrichsen) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-04 09:47] SharplEr commented on #659
@driver733 I'm still waiting for any reviewer reaction.

[2018-03-04 14:33] proshin-roman commented on #665
@yegor256 what should we do with this task? Will it be returned to the previous developer since he already created a pull request, or should I "steal" his changes and create my own pull request (which is wrong IMO)? I would prefer the first option.

[2018-03-04 14:34] proshin-roman commented on #673
@neonailol I've created a pull request #713 that was assigned to you - please do a code review. Thanks.

[2018-03-04 14:35] proshin-roman commented on #665
@0crat wait for @yegor256's reaction on a problem with this ticket

[2018-03-04 14:36] 0crat commented on #665
@proshin-roman Can't understand "wait", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Remove this issue from scope (WBS)
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status of the job
  - `version` Print current version of

[2018-03-04 14:37] proshin-roman commented on #665
damn :) @0crat waiting for @yegor256's reaction to a problem with this ticket.

[2018-03-04 14:37] 0crat commented on #665
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos/issues/665#issuecomment-370234029). You must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1).

[2018-03-04 14:38] proshin-roman commented on #665
@0crat waiting !!!

[2018-03-04 14:38] 0crat commented on #665
@proshin-roman The impediment for [#665](https://github.com/yegor256/cactoos/issues/665) was registered successfully by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-03-04 14:42] proshin-roman commented on #666
@0crat resign as the ticket is already closed (goodbye points)

[2018-03-04 14:42] 0crat commented on #666
@proshin-roman The user @proshin-roman[/z](https://www.0crat.com/u/proshin-roman) resigned from [#666](https://github.com/yegor256/cactoos/issues/666), please stop working. Reason for job resignation: Order was cancelled

[2018-03-04 14:43] 0crat commented on #666
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-03-04 14:44] 0crat commented on #674
The job [#674](https://github.com/yegor256/cactoos/issues/674) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C63314D6Z/631453807). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is

[2018-03-04 15:48] svendiedrichsen commented on #699
@yegor256 The PR is ready to merge. Please do.

[2018-03-04 16:04] nick318 commented on #679
@0crat waiting for PR #724 is merged

[2018-03-04 16:05] 0crat commented on #679
@nick318 The impediment for [#679](https://github.com/yegor256/cactoos/issues/679) was registered successfully by @nick318[/z](https://www.0crat.com/u/nick318)

[2018-03-04 19:09] g4s8 opened #726 "Bytes from hex missed"
There is `HexOf(Bytes bytes)` text implementation to represent bytes as a hex string but no `Bytes` implementation for parsing hex string.

[2018-03-04 19:10] 0crat commented on #726
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-05 07:53] yegor256 commented on #665
@0crat assign @SharplEr

[2018-03-05 07:54] 0crat commented on #665
@yegor256 The job [#665](https://github.com/yegor256/cactoos/issues/665) assigned to @sharpler[/z](https://www.0crat.com/u/sharpler), here is [why](https://www.0crat.com/footprint/C63314D6Z/640754081). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is

[2018-03-05 07:55] 0crat commented on #665
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-05 07:57] 0crat commented on #672
The job [#672](https://github.com/yegor256/cactoos/issues/672) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C63314D6Z/640756181). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is

[2018-03-05 09:54] SharplEr commented on #659
@0crat waiting

[2018-03-05 09:54] 0crat commented on #659
@SharplEr Job [#659](https://github.com/yegor256/cactoos/issues/659) is already on hold

[2018-03-05 10:47] yegor256 commented on #656
@Vatavuk I like the idea of `CheckedScalar`! We can create a separate ticket for it and implement it. It will be useful anyway, no matter what will be the decision in this ticket. Also, `CheckedInput`, `CheckedFunc`, `CheckedProc`, `CheckedBiFunc`, and `CheckedBytes`.

[2018-03-05 10:53] yegor256 commented on #656
@Vatavuk I like the concept of `DeterminateScalar`, I just don't like the name. Any other ideas?

[2018-03-05 11:23] 0crat commented on #726
Job [#726](https://github.com/yegor256/cactoos/issues/726) is now in scope, role is `DEV`

[2018-03-05 11:23] 0crat commented on #726
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-05 11:53] Vatavuk commented on #656
@yegor256 How about ``ScalarWithCleanup``?

[2018-03-05 13:00] svendiedrichsen commented on #699
@rexim The PR has been merged. Do you mind closing this ticket?

[2018-03-05 13:15] rexim commented on #699
@svendiedrichsen sure.

[2018-03-05 13:15] #699 closed

[2018-03-05 13:30] 0crat commented on #699
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-05 13:38] ypshenychka commented on #699
@svendiedrichsen According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please provide a link to corresponding PR in any of your messages.

[2018-03-05 13:45] svendiedrichsen commented on #699
@ypshenychka done.

[2018-03-05 13:52] ypshenychka commented on #699
@svendiedrichsen Thank you!

[2018-03-05 13:53] ypshenychka commented on #699
@0crat quality acceptable

[2018-03-05 13:55] 0crat commented on #699
@ypshenychka You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `QA`.

[2018-03-05 13:57] 0crat commented on #699
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-05 13:59] 0crat commented on #699
Order was finished, quality was "acceptable": +30 points just awarded to @svendiedrichsen[/z](https://www.0crat.com/u/svendiedrichsen)

[2018-03-05 13:59] 0crat commented on #699
@ypshenychka The job [#699](https://github.com/yegor256/cactoos/issues/699) is now out of scope

[2018-03-05 14:39] yegor256 commented on #656
@Vatavuk not really. It's better to prepend it with an adjective

[2018-03-05 15:15] proshin-roman commented on #673
@neonailol ping

[2018-03-05 17:58] nick318 commented on #681
@driver733 close the issue please since [PR](https://github.com/yegor256/cactoos/pull/717) is merged

[2018-03-05 18:07] #681 closed

[2018-03-05 18:22] 0crat commented on #681
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-05 19:51] 0crat commented on #667
@flslkxtc[/z](https://www.0crat.com/u/flslkxtc) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-05 19:53] 0crat commented on #655
@flslkxtc[/z](https://www.0crat.com/u/flslkxtc) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-05 20:05] 0crat commented on #671
@nikialeksey[/z](https://www.0crat.com/u/nikialeksey) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-05 20:21] flslkxtc commented on #655
@0crat waiting

[2018-03-05 20:21] flslkxtc commented on #655
@yegor256 this issue is already closed

[2018-03-05 20:21] flslkxtc commented on #667
@0crat waiting

[2018-03-05 20:21] flslkxtc commented on #667
@yegor256 this issue is already closed

[2018-03-05 20:22] 0crat commented on #655
@flslkxtc You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`.

[2018-03-05 20:22] 0crat commented on #655
@flslkxtc The impediment for [#655](https://github.com/yegor256/cactoos/issues/655) was registered successfully by @flslkxtc[/z](https://www.0crat.com/u/flslkxtc)

[2018-03-05 20:22] 0crat commented on #667
@flslkxtc You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`.

[2018-03-05 20:22] 0crat commented on #667
@flslkxtc The impediment for [#667](https://github.com/yegor256/cactoos/issues/667) was registered successfully by @flslkxtc[/z](https://www.0crat.com/u/flslkxtc)

[2018-03-06 05:59] proshin-roman commented on #672
@neonailol I've created a pull request #727 for this ticket - please review it. Thanks.

[2018-03-06 06:03] proshin-roman commented on #674
@neonailol ping

[2018-03-06 07:23] SharplEr commented on #670
@nick318 #722 PR was merged, please close the issue.

[2018-03-06 07:24] #670 closed

[2018-03-06 07:24] 0crat commented on #681
@elenavolokhova You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `QA`.

[2018-03-06 07:26] 0crat commented on #681
`QA` review completed: +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-03-06 07:26] 0crat commented on #681
Order was finished, quality was "good": +35 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318)

[2018-03-06 07:26] 0crat commented on #681
@elenavolokhova The job [#681](https://github.com/yegor256/cactoos/issues/681) is now out of scope

[2018-03-06 07:30] 0crat commented on #686
The job [#686](https://github.com/yegor256/cactoos/issues/686) assigned to @nick318[/z](https://www.0crat.com/u/nick318), here is [why](https://www.0crat.com/footprint/C63314D6Z/650750598). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-06 07:40] 0crat commented on #670
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-06 08:31] 0crat commented on #673
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-06 08:32] proshin-roman commented on #673
@neonailol please review the pull request.

[2018-03-06 15:23] yegor256 commented on #667
@0crat out

[2018-03-06 15:23] 0crat commented on #667
@yegor256 @flslkxtc[/z](https://www.0crat.com/u/flslkxtc) resigned from [#667](https://github.com/yegor256/cactoos/issues/667), since the job is not in scope anymore

[2018-03-06 15:23] 0crat commented on #667
@yegor256 The job [#667](https://github.com/yegor256/cactoos/issues/667) is now out of scope

[2018-03-06 15:24] yegor256 commented on #655
@0crat out

[2018-03-06 15:24] 0crat commented on #655
@yegor256 @flslkxtc[/z](https://www.0crat.com/u/flslkxtc) resigned from [#655](https://github.com/yegor256/cactoos/issues/655), since the job is not in scope anymore

[2018-03-06 15:24] 0crat commented on #655
@yegor256 The job [#655](https://github.com/yegor256/cactoos/issues/655) is now out of scope

[2018-03-06 15:26] 0crat commented on #666
The job [#666](https://github.com/yegor256/cactoos/issues/666) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), here is [why](https://www.0crat.com/footprint/C63314D6Z/651531069). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-03-06 15:28] 0crat commented on #702
The job [#702](https://github.com/yegor256/cactoos/issues/702) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), here is [why](https://www.0crat.com/footprint/C63314D6Z/651533181). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-03-06 17:26] flslkxtc commented on #677
@0crat refuse

[2018-03-06 17:27] 0crat commented on #677
@flslkxtc You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`.

[2018-03-06 17:27] 0crat commented on #677
@flslkxtc The user @flslkxtc[/z](https://www.0crat.com/u/flslkxtc) resigned from [#677](https://github.com/yegor256/cactoos/issues/677), please stop working. Reason for job resignation: Order was cancelled

[2018-03-06 17:27] 0crat commented on #677
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc)

[2018-03-06 17:30] 0crat commented on #704
The job [#704](https://github.com/yegor256/cactoos/issues/704) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), here is [why](https://www.0crat.com/footprint/C63314D6Z/651731396). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-03-06 20:53] 0crat commented on #670
@sharpler[/z](https://www.0crat.com/u/sharpler) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-07 04:51] elenavolokhova commented on #670
@0crat quality good

[2018-03-07 04:52] 0crat commented on #670
@elenavolokhova You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `QA`.

[2018-03-07 04:52] 0crat commented on #670
@elenavolokhova I didn't understand what is "good"

[2018-03-07 04:55] elenavolokhova commented on #670
@0crat quality good

[2018-03-07 04:55] 0crat commented on #670
@elenavolokhova You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `QA`.

[2018-03-07 04:55] 0crat commented on #670
@elenavolokhova I didn't understand what is "good"

[2018-03-07 04:57] elenavolokhova commented on #670
@yegor256 0crat doesn't understand quality marks any more. Could you please pay attention to this?

[2018-03-07 17:47] yegor256 commented on #670
@elenavolokhova should be fine now, please try again

[2018-03-08 06:59] SharplEr commented on #654
@nick318 @driver733 @yegor256 ping)

[2018-03-08 08:12] elenavolokhova commented on #670
@0crat quality good

[2018-03-08 08:31] SharplEr commented on #665
@nick318 PR #713  was merged, please close the issue.

[2018-03-08 08:32] proshin-roman commented on #674
@nick318 The issue was fixed in pull request #725 that is already merged. Please close the ticket.

[2018-03-08 08:33] proshin-roman commented on #673
@nick318 The issue was fixed in pull request #723 that is already merged. Please close the ticket.

[2018-03-08 08:35] SharplEr commented on #659
@driver733 PR #712  was merged, please close the issue.

[2018-03-08 11:29] proshin-roman commented on #672
@nick318 This ticket has been fixed in pull request #727 that is already merged. Please close the ticket.

[2018-03-08 13:17] flslkxtc commented on #666
@yegor256 this issue is already closed, please remove assignment

[2018-03-08 14:22] #674 closed

[2018-03-08 14:23] #672 closed

[2018-03-08 14:25] #673 closed

[2018-03-08 14:25] #665 closed

[2018-03-08 14:37] 0crat commented on #674
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-08 14:38] 0crat commented on #672
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-08 14:39] 0crat commented on #672
The job [#672](https://github.com/yegor256/cactoos/issues/672) is now out of scope

[2018-03-08 14:40] 0crat commented on #673
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-08 14:40] 0crat commented on #673
The job [#673](https://github.com/yegor256/cactoos/issues/673) is now out of scope

[2018-03-08 14:41] 0crat commented on #665
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @sharpler[/z](https://www.0crat.com/u/sharpler), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-08 14:41] 0crat commented on #665
The job [#665](https://github.com/yegor256/cactoos/issues/665) is now out of scope

[2018-03-08 14:43] 0crat commented on #677
The job [#677](https://github.com/yegor256/cactoos/issues/677) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C63314D6Z/671448898). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is

[2018-03-08 14:46] 0crat commented on #720
The job [#720](https://github.com/yegor256/cactoos/issues/720) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C63314D6Z/671450972). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is

[2018-03-08 14:46] proshin-roman commented on #677
@yegor256 please stop this farm of lost points - take the ticket out of scope.

[2018-03-08 14:48] 0crat commented on #721
The job [#721](https://github.com/yegor256/cactoos/issues/721) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C63314D6Z/671454040). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is

[2018-03-08 15:19] #659 closed

[2018-03-08 15:35] 0crat commented on #659
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @sharpler[/z](https://www.0crat.com/u/sharpler), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-08 15:35] 0crat commented on #659
The job [#659](https://github.com/yegor256/cactoos/issues/659) is now out of scope

[2018-03-08 15:38] 0crat commented on #726
The job [#726](https://github.com/yegor256/cactoos/issues/726) assigned to @sharpler[/z](https://www.0crat.com/u/sharpler), here is [why](https://www.0crat.com/footprint/C63314D6Z/671545137). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-03-08 15:54] flslkxtc commented on #704
@driver733 @yegor256 Cactoos project uses Qulice checkstyle rules, i think it more of a Qulice project issue than cactoos.

[2018-03-08 16:06] yegor256 commented on #666
@0crat refuse

[2018-03-08 16:06] yegor256 commented on #666
@0crat out

[2018-03-08 16:07] 0crat commented on #666
@yegor256 The user @flslkxtc[/z](https://www.0crat.com/u/flslkxtc) resigned from [#666](https://github.com/yegor256/cactoos/issues/666), please stop working. Reason for job resignation: Order was cancelled

[2018-03-08 16:07] 0crat commented on #666
@yegor256 The job [#666](https://github.com/yegor256/cactoos/issues/666) is now out of scope

[2018-03-08 16:44] alex-semenyuk commented on #695
@yegor256 ping

[2018-03-08 17:02] elenavolokhova commented on #674
@0crat quality good

[2018-03-08 17:03] 0crat commented on #674
Order was finished, quality is "good": +30 points just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-03-08 17:03] 0crat commented on #674
Quality review completed: +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-03-08 17:09] elenavolokhova commented on #672
@0crat quality good

[2018-03-08 17:09] 0crat commented on #672
Order was finished, quality is "good": +30 points just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-03-08 17:09] 0crat commented on #672
Quality review completed: +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-03-08 17:15] elenavolokhova commented on #673
@0crat quality good

[2018-03-08 17:16] elenavolokhova commented on #670
@0crat quality good

[2018-03-08 17:16] 0crat commented on #673
Order was finished, quality is "good": +30 points just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-03-08 17:16] 0crat commented on #670
@elenavolokhova Thanks, but quality review is not required in this job

[2018-03-08 17:16] 0crat commented on #670
@elenavolokhova Thanks, but quality review is not required in this job

[2018-03-08 17:16] 0crat commented on #673
Quality review completed: +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-03-08 17:30] elenavolokhova commented on #665
@0crat quality good

[2018-03-08 17:31] 0crat commented on #665
Order was finished, quality is "good": +30 points just awarded to @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-03-08 17:31] 0crat commented on #665
Quality review completed: +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-03-08 17:37] elenavolokhova commented on #659
@0crat quality good

[2018-03-08 17:37] 0crat commented on #659
Order was finished, quality is "good": +30 points just awarded to @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-03-08 17:37] 0crat commented on #659
Quality review completed: +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-03-08 17:48] elenavolokhova commented on #670
@yegor256 0crat doesn't want my review here any more. Could you please take a look at this again?

[2018-03-08 20:00] yegor256 commented on #677
@0crat refuse

[2018-03-08 20:00] yegor256 commented on #677
@0crat out

[2018-03-08 20:01] 0crat commented on #677
@yegor256 The user @proshin-roman[/z](https://www.0crat.com/u/proshin-roman) resigned from [#677](https://github.com/yegor256/cactoos/issues/677), please stop working. Reason for job resignation: Order was cancelled

[2018-03-08 20:01] 0crat commented on #677
@yegor256 GitHub issue is still open, won't close

[2018-03-08 20:03] 0crat commented on #671
@nikialeksey[/z](https://www.0crat.com/u/nikialeksey) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-08 20:51] Vatavuk commented on #656
@yegor256
How about we implement "try with resources" functionality instead of finally:
[code]
Usage:
[code]
WDYT?

[2018-03-09 08:46] yegor256 commented on #670
@0crat out

[2018-03-09 08:46] yegor256 commented on #670
@0crat pay 8min @elenavolokhova

[2018-03-09 08:47] 0crat commented on #670
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @sharpler[/z](https://www.0crat.com/u/sharpler), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-09 08:47] 0crat commented on #670
Direct payment from @yegor256[/z](https://www.0crat.com/u/yegor256): +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-03-09 08:47] 0crat commented on #670
Direct payment to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) in #670, which is discouraged, see [§49](http://www.zerocracy.com/policy.html#49): -60 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-09 08:47] 0crat commented on #670
@yegor256 The job [#670](https://github.com/yegor256/cactoos/issues/670) is now out of scope

[2018-03-09 08:48] yegor256 commented on #670
@0crat quality acceptable

[2018-03-09 08:49] 0crat commented on #677
The job [#677](https://github.com/yegor256/cactoos/issues/677) assigned to @sharpler[/z](https://www.0crat.com/u/sharpler), here is [why](https://www.0crat.com/footprint/C63314D6Z/680849235). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-03-09 08:50] 0crat commented on #670
Order was finished, quality is "acceptable": +30 points just awarded to @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-03-09 08:50] 0crat commented on #670
Quality review completed: +8 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-09 08:53] proshin-roman commented on #677
@yegor256 you have no power here xD
![image](https://user-images.githubusercontent.com/3031372/37198770-7302bd84-2390-11e8-993a-fe8c22d78f81.png)

[2018-03-09 11:47] #677 closed

[2018-03-09 11:47] yegor256 commented on #677
@0crat refuse

[2018-03-09 11:47] 0crat commented on #677
@yegor256 The user @sharpler[/z](https://www.0crat.com/u/sharpler) resigned from [#677](https://github.com/yegor256/cactoos/issues/677), please stop working. Reason for job resignation: Order was cancelled

[2018-03-09 12:02] 0crat commented on #677
The job [#677](https://github.com/yegor256/cactoos/issues/677) is now out of scope

[2018-03-09 14:11] nikialeksey commented on #644
@aliceice Request was merged

[2018-03-09 16:40] yegor256 commented on #656
@Vatavuk let's solve one problem at a time) I like `FinalizedScalar`. But I don't see a lot of usability in this new class. The code we put into the "finally" scalar will not have access to the variables that exists inside the scalar, right?

[2018-03-09 16:58] nikialeksey commented on #661
@driver733 Pull request was merged [#714](https://github.com/yegor256/cactoos/pull/714)

[2018-03-09 17:05] Vatavuk commented on #656
@yegor256 Exactly. We can solve this by introducing another parameter to the ctor but I think it would make the object too complex. That is why I started to think about try with resource. Maybe we can wrap up the exception handling and postpone further discussion about try with resource

[2018-03-09 17:13] #661 closed

[2018-03-09 17:29] 0crat commented on #661
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @nikialeksey[/z](https://www.0crat.com/u/nikialeksey), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-09 17:29] 0crat commented on #661
The job [#661](https://github.com/yegor256/cactoos/issues/661) is now out of scope

[2018-03-09 20:23] Vatavuk commented on #656
@yegor256 Just to elaborate previous post. We could expand `FinalizedScalar` ctor to provide "finally" access to specific resource:
[code]
Now that I wrote it down it doesn't look that complex. I'm not sure... wdyt?

[2018-03-10 07:59] elenavolokhova commented on #661
@0crat quality good

[2018-03-10 07:59] 0crat commented on #661
Order was finished, quality is "good": +30 points just awarded to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey)

[2018-03-10 07:59] 0crat commented on #661
Quality review completed: +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-03-10 15:07] proshin-roman commented on #721
@neonailol I've created a pull request #731 for this ticket - please review it.

[2018-03-10 16:03] proshin-roman commented on #720
@neonailol I've created a pull request #732 for this ticket - please review it.

[2018-03-10 17:03] 0crat commented on #654
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @sharpler[/z](https://www.0crat.com/u/sharpler), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-10 17:03] 0crat commented on #654
The job [#654](https://github.com/yegor256/cactoos/issues/654) is now out of scope

[2018-03-10 17:07] elenavolokhova commented on #654
@0crat status

[2018-03-10 17:07] 0crat commented on #654
@elenavolokhova This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#654](https://github.com/yegor256/cactoos/issues/654) is not in scope
  * The job is waiting quality review verdict by @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos%2

[2018-03-10 17:10] elenavolokhova commented on #654
@yegor256 Looks like a bug with 0crat. It is the second issue assigned to dev and then to qa after it was closed already. Please, take a look at this. Thanks!

[2018-03-10 20:05] 0crat commented on #671
The user @nikialeksey[/z](https://www.0crat.com/u/nikialeksey) resigned from [#671](https://github.com/yegor256/cactoos/issues/671), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-03-10 20:05] 0crat commented on #671
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey)

[2018-03-10 20:07] 0crat commented on #671
The job [#671](https://github.com/yegor256/cactoos/issues/671) assigned to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc), here is [why](https://www.0crat.com/footprint/C63314D6Z/692010364). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-03-11 07:30] 0crat commented on #686
@nick318[/z](https://www.0crat.com/u/nick318) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-11 18:02] 0crat commented on #704
@flslkxtc[/z](https://www.0crat.com/u/flslkxtc) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-12 02:29] oleg-cherednik commented on #638
I have created pull request for this issue. https://github.com/yegor256/cactoos/pull/734

[2018-03-12 08:49] 0crat commented on #644
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-03-12 08:49] 0crat commented on #644
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-03-12 08:50] 0crat commented on #644
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-03-12 08:50] 0crat commented on #644
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-03-12 12:12] Vatavuk opened #735 "CheckedScalar"
Let's create `CheckedScalar` which will throw exception specified by user.
[code]
For more details see [discussion](https://github.com/yegor256/cactoos/issues/656#issuecomment-370023982) in issue #656
I can submit PR if you agree.

[2018-03-12 12:29] Vatavuk opened #736 "CheckedFunc, CheckedBiFunc, CheckedInput, CheckedOutput, CheckedProc, CheckedBiProc and CheckedBytes"
Let's create them similar to `CheckedScalar` in #735

[2018-03-12 12:34] proshin-roman commented on #720
@neonailol ping

[2018-03-12 12:34] proshin-roman commented on #721
@neonailol ping

[2018-03-12 14:52] elenavolokhova commented on #654
@0crat quality bad for this reopening of the ticket

[2018-03-12 15:07] 0crat commented on #654
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-03-12 15:09] 0crat commented on #654
Quality review completed: +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-03-12 15:13] 0crat commented on #735
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-12 16:41] nick318 commented on #683
@driver733 close the issue please, since PR #716 is merged

[2018-03-12 16:46] #683 closed

[2018-03-12 16:48] 0crat commented on #726
@SharplEr The impediment for [#726](https://github.com/yegor256/cactoos/issues/726) was registered successfully by @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-03-12 17:01] 0crat commented on #683
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @nick318[/z](https://www.0crat.com/u/nick318), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-12 17:01] 0crat commented on #683
The job [#683](https://github.com/yegor256/cactoos/issues/683) is now out of scope

[2018-03-12 18:31] gentitope commented on #301
@php-coder pls can you help on php project running CI test on Teamcity.

Thanks

[2018-03-12 19:33] 0crat commented on #736
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-12 19:52] 0crat commented on #736
Job [#736](https://github.com/yegor256/cactoos/issues/736) is now in scope, role is `DEV`

[2018-03-12 19:52] 0crat commented on #736
Thanks for your contribution, @vatavuk[/z](https://www.0crat.com/u/vatavuk)! If you would be a member of [the project](https://www.0crat.com/p/C63314D6Z), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-03-12 19:55] 0crat commented on #736
The job [#736](https://github.com/yegor256/cactoos/issues/736) assigned to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey), here is [why](https://www.0crat.com/footprint/C63314D6Z/711954103). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not

[2018-03-12 19:58] yegor256 commented on #654
@0crat status

[2018-03-12 19:59] 0crat commented on #654
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#654](https://github.com/yegor256/cactoos/issues/654) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos%23654%27%7D) (restricted area)

[2018-03-12 20:02] llorllale opened #737 "More ctors for Or"
Let's add this constructor to `Or`:

[code]

This would allow us to reduce noise in code and also produces more readable code (to me anyways).

**Without ctor**:
[code]

**With ctor**:
[code]

[2018-03-12 20:02] 0crat commented on #737
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-12 20:04] elenavolokhova commented on #683
@0crat quality good

[2018-03-12 20:05] 0crat commented on #683
Order was finished, quality is "good": +35 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318)

[2018-03-12 20:05] 0crat commented on #683
Quality review completed: +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-03-12 21:20] 0crat commented on #737
Job [#737](https://github.com/yegor256/cactoos/issues/737) is now in scope, role is `DEV`

[2018-03-12 21:20] 0crat commented on #737
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-12 21:22] 0crat commented on #737
The job [#737](https://github.com/yegor256/cactoos/issues/737) assigned to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey), here is [why](https://www.0crat.com/footprint/C63314D6Z/712122797). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not

[2018-03-12 22:21] php-coder commented on #301
@gentitope Yes, I can. You can find my e-mail in GitHub profile.

[2018-03-13 12:37] yegor256 commented on #735
@0crat assign @Vatavuk

[2018-03-13 12:54] 0crat commented on #735
@yegor256 Thanks for your contribution, @vatavuk[/z](https://www.0crat.com/u/vatavuk)! If you would be a member of [the project](https://www.0crat.com/p/C63314D6Z), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-03-13 12:54] 0crat commented on #735
@yegor256 The job [#735](https://github.com/yegor256/cactoos/issues/735) assigned to @vatavuk[/z](https://www.0crat.com/u/vatavuk), here is [why](https://www.0crat.com/footprint/C63314D6Z/721254004). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is n

[2018-03-13 12:55] 0crat commented on #735
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-13 12:55] 0crat commented on #735
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-14 05:30] flslkxtc commented on #702
@0crat waiting

[2018-03-14 05:30] 0crat commented on #702
@flslkxtc The impediment for [#702](https://github.com/yegor256/cactoos/issues/702) was registered successfully by @flslkxtc[/z](https://www.0crat.com/u/flslkxtc)

[2018-03-14 05:33] flslkxtc commented on #671
@0crat waiting

[2018-03-14 05:33] 0crat commented on #671
@flslkxtc The impediment for [#671](https://github.com/yegor256/cactoos/issues/671) was registered successfully by @flslkxtc[/z](https://www.0crat.com/u/flslkxtc)

[2018-03-14 05:33] 0crat commented on #671
@flslkxtc Job [#671](https://github.com/yegor256/cactoos/issues/671) is already on hold

[2018-03-14 14:00] yegor256 commented on #656
@Vatavuk but only one resource in this case, right? We can't have multiple resources.

[2018-03-14 14:16] proshin-roman commented on #720
@0crat wait until pull request #731 is merged

[2018-03-14 14:33] Vatavuk commented on #656
@yegor256 Unfortunately only one resource in this case.

[2018-03-14 15:50] 0crat commented on #720
@proshin-roman The impediment for [#720](https://github.com/yegor256/cactoos/issues/720) was registered successfully by @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-03-14 17:06] memoyil commented on #711
@aliceice you can check the pr.

[2018-03-15 15:21] memoyil commented on #711
@0crat assign

[2018-03-15 16:49] SharplEr commented on #638
@0crat status

[2018-03-15 17:10] SharplEr commented on #638
@oleg-cherednik  sorry but this task in my `Agenda` in [0crat](www.0crat.com) . I also have created PR #740 . And your PR have problems:
- The description is default message from Egor.
- Code style checks failed.
- You zip only one file, but the issue about a list of them.

[2018-03-15 17:36] SharplEr commented on #644
@nikialeksey
For some reason this task in my `Agenda` in 0crat site O_o

[2018-03-15 19:17] flslkxtc commented on #671
@nick318 @yegor256  pull request https://github.com/yegor256/cactoos/pull/733 is merged, we can close this issue now.

[2018-03-15 20:25] 0crat commented on #711
You need to ask somebody to invite you: https://github.com/zerocracy/datum#invite-only

[2018-03-15 20:26] 0crat commented on #644
@SharplEr The impediment for [#644](https://github.com/yegor256/cactoos/issues/644) was registered successfully by @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-03-15 20:26] 0crat commented on #638
@SharplEr This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#638](https://github.com/yegor256/cactoos/issues/638) is [in scope](http://www.zerocracy.com/policy.html#14) for 29days
  * The role is `DEV`
  * The job is assigned to @sharpler[/z](https://www.0crat.com/u/sharpler) for [5days](http://www.zerocracy.com/policy.html#8)
  * There is a mo

[2018-03-16 03:05] nikialeksey commented on #644
@SharplEr hah, 0crat is broken. But anyway, @aliceice ping, request was merged for this issue

[2018-03-16 07:30] 0crat commented on #686
The user @nick318[/z](https://www.0crat.com/u/nick318) resigned from [#686](https://github.com/yegor256/cactoos/issues/686), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-03-16 07:30] 0crat commented on #686
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318)

[2018-03-16 07:33] 0crat commented on #686
The job [#686](https://github.com/yegor256/cactoos/issues/686) assigned to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey), here is [why](https://www.0crat.com/footprint/C63314D6Z/750747825). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not

[2018-03-16 07:58] 0crat commented on #686
The job [#686](https://github.com/yegor256/cactoos/issues/686) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C63314D6Z/750772482). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is

[2018-03-16 08:01] 0crat commented on #736
The job [#736](https://github.com/yegor256/cactoos/issues/736) assigned to @nick318[/z](https://www.0crat.com/u/nick318), here is [why](https://www.0crat.com/footprint/C63314D6Z/750816558). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-16 08:05] 0crat commented on #737
The job [#737](https://github.com/yegor256/cactoos/issues/737) assigned to @nick318[/z](https://www.0crat.com/u/nick318), here is [why](https://www.0crat.com/footprint/C63314D6Z/750820685). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-16 09:57] #644 closed

[2018-03-16 14:49] 0crat commented on #721
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-16 15:24] memoyil commented on #737
@llorllale @yegor256 you can check the pr.

[2018-03-16 17:31] 0crat commented on #704
The user @flslkxtc[/z](https://www.0crat.com/u/flslkxtc) resigned from [#704](https://github.com/yegor256/cactoos/issues/704), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-03-16 17:31] 0crat commented on #704
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @flslkxtc[/z](https://www.0crat.com/u/flslkxtc)

[2018-03-17 06:32] SharplEr commented on #638
@0crat waiting
Waiting for any reviewer reaction

[2018-03-17 06:32] 0crat commented on #638
@SharplEr The impediment for [#638](https://github.com/yegor256/cactoos/issues/638) was registered successfully by @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-03-17 17:43] nick318 commented on #679
@driver733 @yegor256 please close the issue, since PR was perged

[2018-03-17 17:45] #679 closed

[2018-03-17 18:01] 0crat commented on #679
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @nick318[/z](https://www.0crat.com/u/nick318), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-17 18:01] 0crat commented on #679
The job [#679](https://github.com/yegor256/cactoos/issues/679) is now out of scope

[2018-03-17 18:36] elenavolokhova commented on #679
@0crat quality good

[2018-03-17 18:37] 0crat commented on #679
Order was finished, quality is "good": +35 points just awarded to @nick318[/z](https://www.0crat.com/u/nick318)

[2018-03-17 18:37] 0crat commented on #679
Quality review completed: +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-03-18 12:56] 0crat commented on #735
@vatavuk[/z](https://www.0crat.com/u/vatavuk) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-18 13:10] 0crat commented on #704
The job [#704](https://github.com/yegor256/cactoos/issues/704) assigned to @neonailol[/z](https://www.0crat.com/u/neonailol), here is [why](https://www.0crat.com/footprint/C63314D6Z/771337724). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-03-18 14:49] 0crat commented on #721
The user @proshin-roman[/z](https://www.0crat.com/u/proshin-roman) resigned from [#721](https://github.com/yegor256/cactoos/issues/721), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)