[2017-05-23 20:05] pgermosen opened #1 "why Filtered and not predictable, why a for each, and not streams?"

[2017-05-23 20:54] yegor256 commented on #1
@pgermosen I don't think Streams is a good idea in OOP, in general

[2017-05-23 20:54] yegor256 commented on #1
@pgermosen as for "predictable" -- I didn't understand. Can you give an example?

[2017-05-23 22:23] pgermosen commented on #1
Of course, streams are not oop , but is easy of use.

this example ?

 jdk 9 forEach in a collection
I understand better this, than the oop approached
List.of("how","are","you").forEach(i-> System.out.printf("Item: %s\n", i) )

[2017-05-23 23:32] englishman opened #2 "README file code examples to project moving"
@yegor256 are you gonna put `README.md` code examples into the project source code?

[2017-05-23 23:32] 0crat commented on #2
@englishman I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-23 23:38] englishman commented on #1
@pgermosen from my experience streams and other [message driving architectures](http://www.enterpriseintegrationpatterns.com) motivate split data and methods of it processing.

[2017-05-24 01:05] yegor256 commented on #2
@englishman yes, will try to

[2017-05-24 01:23] pgermosen commented on #1
Yes that is a motive of use.

But what i want to make a point is the following points for a new api to take in account

- is easy of use
- readability

the example of To sort a list of words in the file

List<String> sorted = new SortedList<>(
  new IterableAsList(
    new TextAsLines(
      new InputAsString(
        new FileAsInput(
          new File("/tmp/names.txt")
        )
      )
    )

[2017-05-24 02:11] englishman commented on #1
@pgermosen I'm not sure traditional declarative code will be more clear and shorter for this specific task. Moreover, I'm not sure `IterableAsList` in needed here at all.

[2017-05-24 02:18] pgermosen commented on #1
I think api that can be read like this, is clearer(not necessary shorted, sometimes extra text for clarity is a better)

[code]

[2017-05-24 07:28] VsSekorin opened #3 "Not null text."
@yegor256 can I create pull request with NotNullText? Or is it redundant?
`new UpperText(new StringAsText(null)).asString();`
`new UpperText(new NotNullText(new StringAsText(null))).asString();`

[2017-05-24 07:28] 0crat commented on #3
@vssekorin I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-24 09:46] yegor256 commented on #3
@VsSekorin good thinking, but such a class won't prevent problems from happening. We don't know what's inside `StringAsText` when/if we provide `null` to its constructor. We can't guarantee that `asString()` will return the same `null`. Most likely it will crash somehow inside with NPE.

[2017-05-24 13:11] nbardiuk opened #4 "Exceptions are not composable"
I like how code examples look declarative. But there is a hidden issue with exceptions. Exceptions are goto statements to error handling block which is not composable and not object oriented.

The library does not give a way to declare how to handle errors. In some cases, it is good to terminate whole computation as soon as error occur, but other need some error handler that produces default value

[2017-05-24 13:11] 0crat commented on #4
@nbardiuk I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-24 13:12] pistriak opened #5 "Why does Func.apply method have IOException in its declaration?"
It'd be better to replace IOException with Exception.
What do you think?

[2017-05-24 13:12] 0crat commented on #5
@pistriak I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-24 14:55] englishman commented on #5
@pistriak what do you think to use only unchecked exceptions in the library?

[2017-05-24 15:34] englishman opened #6 "Apache Commons StringUtils analog implementation"
Apache Commons has [org.apache.commons.lang.StringUtils](https://commons.apache.org/proper/commons-lang/apidocs/org/apache/commons/lang3/StringUtils.html) class with a set of helpful string static functions.

How such functions should be implemented in Cactoos? I see some approaches
1. each of static functions has to be as a separate class. E.g. for [StringUtils#isBlank](https://commons.apache.org

[2017-05-24 15:34] 0crat commented on #6
@englishman I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-24 16:23] englishman opened #7 "Minimal Java version for the library"
What java version is the library based?
In pom.xml I see
[code]
Does it mean the library isn't support java version less then 8?
If yes, why `Func` interface was introduced than reuse `java.util.function.Function`? Is it possible to use Java 8 streams in the library class implementations?

[2017-05-24 16:23] 0crat commented on #7
@englishman I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-24 16:35] yegor256 commented on #7
@englishman it's 1.8. Feel free to submit a bug about `Func`

[2017-05-24 16:37] yegor256 commented on #5
@pistriak I agree, feel free to submit a pull request

[2017-05-24 16:40] yegor256 commented on #1
@pgermosen this "fluent" interface (`.toText().readLines().toSortedList()`) is very imperative. We want to stay declarative. That's why we need new objects instead of method chaining.

[2017-05-24 16:56] englishman commented on #7
@yegor256 do you have appropriate GitHub label for bugs?

[2017-05-24 17:06] englishman opened #9 "Replace org.cactoos.Func to Java 8 analog"
Replace hand-made `org.cactoos.Func` using everywhere to standard Java 8 `java.util.function.Function` interface.

[2017-05-24 17:06] 0crat commented on #9
@englishman I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-24 17:14] englishman commented on #1
@yegor256 it's quite declarative. The problem is different: it's always hard to support these fluent things combining smth new from individual objects and using inheritance.

[2017-05-24 17:32] englishman opened #10 "Qulice code checks are unclear"
@yegor256 please, share somewhere `Qulice` static code rules (preferable in `README.md` file).
For me such errors are cryptic (at lease the first one)
[code]

[2017-05-24 17:32] 0crat commented on #10
@englishman I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-24 17:36] englishman commented on #10
@yegor256 it's unbelievable! WTH I have to use `pos = pos + 1` instead of `pos++`?!!

[2017-05-24 17:43] englishman commented on #6
What do you think about `Is*` name pattern for any `Scalar<Boolean>` implementations?

[2017-05-24 18:08] pgermosen commented on #1
What is more important
 **clear and easy code** for the using developers using the library/framework
  or
 to be hard to support the fluent api.

[2017-05-24 18:11] dusan-rychnovsky commented on #6
I like `IsBlankText` as class name much better. It conveys the fact that such objects will represent is-blank-text? predicates.

[2017-05-24 18:39] englishman commented on #6
@dusan-rychnovsky renamed to `IsIsBlankText` as other classes in `org.cactoos.text` have `*Text` postfix

[2017-05-24 18:51] dusan-rychnovsky commented on #6
Isn't that because the other classes represent a *text*, whereas this one represents a predicate?

[2017-05-24 19:41] englishman commented on #6
@dusan-rychnovsky not sure: predicate is a function without any state but with a method consumes some data (see Java 8 `Predicate` impl). `IsBlankText` here is a boolean value.

[2017-05-25 08:50] dusan-rychnovsky commented on #6
True. My point was `IsBlankText` does not represent a text, so in my opinion does not necessarily have to have the word `Text` in the class name. Anyway the choice is yours not mine :)

[2017-05-25 17:10] yegor256 commented on #10
@englishman you should use `++pos`

[2017-05-25 17:10] yegor256 commented on #10
@englishman I believe it's a question for Checkstyle, not to us. You can find that error messages in Google and first few links will lead you to Checkstyle pages, which will explain (hopefully).

[2017-05-25 17:11] #10 closed

[2017-05-25 17:11] yegor256 commented on #9
@englishman I agree, can you help with a pull request? Also, pay attention to #15

[2017-05-25 17:12] yegor256 commented on #7
@englishman yes, we have them. I will try to use them. Please, close this ticket if it's solved.

[2017-05-25 17:14] yegor256 commented on #6
@englishman @dusan-rychnovsky I believe that `IsBlank` is a good name. I would also rename `LengthOfIterable` to `LengthOf`. Feel free to contribute with a PR.

[2017-05-25 17:15] yegor256 commented on #5
@englishman we can, but there are many JDK classes that use `IOException` and other checked exceptions.

[2017-05-25 17:16] yegor256 commented on #2
@englishman I think we can close this ticket. We just need to open other tickets, demanding more/better documentation for specific classes, when needed.

[2017-05-25 17:17] yegor256 commented on #1
@pgermosen fluent interface is easy to use only because it's your habit to use it. Also, if you want it, there are plenty of libraries that do exactly the same as Cactoos, but in a traditional way.

[2017-05-25 17:54] yegor256 opened #18 "AllOf, AnyOf"
Let's create two new classes, all implementing `Scalar<Boolean>`

[2017-05-25 18:23] yegor256 commented on #9
@englishman stop, I disagree. They don't have `throws Exception`.

[2017-05-25 18:30] englishman commented on #9
@yegor256 I can do this but... there was a suggestion to use only unchecked exceptions anywhere. WDYT? If you are agree to use only  unchecked exceptions in Cactoos then we can use Java 8 Function

[2017-05-25 18:36] englishman commented on #6
@yegor256 renamed to `IsBlank`

[2017-05-25 19:03] englishman commented on #10
@yegor256 I disagree. The link to `Checkstyle` checks has to be provided in `README.md`.

Also `Checkstyle` compatible java code format settings should be created for IntelliJ IDEA and/or Eclipse. So any new developers imply can pick up them and start write perfect code.

[2017-05-25 19:25] englishman commented on #2
@yegor256 agreed

[2017-05-25 19:32] yegor256 opened #24 "PathAsInput, PathAsOutput"
Let's introduce two new classes `PathAsInput` and `PathAsOutput`, together with tests.

[2017-05-25 19:42] englishman opened #25 "Non Latin chars in test string constants"
I can see some [non Latin (Cyrillic) chars in test string constants](https://github.com/yegor256/cactoos/blob/master/src/test/java/org/cactoos/list/TransformedIterableTest.java#L52).

Can we avoid usage of the such chars without significant reason? E.g. I can see some `????` chars instead of Cyrillic chars in terminal while tests are running.

[2017-05-25 19:42] 0crat commented on #25
@englishman I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-25 19:43] englishman commented on #24
@yegor256 do you mean `java.nio.file.Path` interface here?

[2017-05-25 20:31] VsSekorin opened #27 "TextAsBytes"
Let's introduce new class TextAsBytes, together with test. This will help add a test https://github.com/yegor256/cactoos/pull/14

[2017-05-25 20:31] 0crat commented on #27
@vssekorin I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-26 04:45] yegor256 opened #29 "first release"

[2017-05-26 05:10] yegor256 commented on #29
@rultor release tag is `0.1`

[2017-05-26 05:11] rultor commented on #29
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11769-304192679)

[2017-05-26 05:12] yegor256 commented on #25
@englishman we need that for the better fragility of tests. If you only use ASCII chars, encoding problems won't be discovered. We definitely need to fix the log if you don't like it, but we can't get rid of non-ASCII chars. You should use them in your tests too.

[2017-05-26 05:13] yegor256 commented on #27
@VsSekorin good idea, let's do it

[2017-05-26 05:14] yegor256 commented on #9
@englishman yes, we can use them, but what about hundreds of JDK methods that still throw `IOException` and others?

[2017-05-26 05:14] yegor256 commented on #24
@englishman yes

[2017-05-26 05:16] yegor256 commented on #24
@englishman we have `FileAsInput` and `FileAsOutput` already, these classes will be very similar

[2017-05-26 05:16] rultor commented on #29
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11769-304192679) (spent 5min)

[code]

[2017-05-26 05:22] yegor256 commented on #29
@rultor release tag is `0.1`

[2017-05-26 05:22] rultor commented on #29
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11769-304194185)

[2017-05-26 05:30] rultor commented on #29
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11769-304194185) (spent 8min)

[code]

[2017-05-26 06:12] yegor256 commented on #29
@rultor release tag is `0.1`

[2017-05-26 06:12] rultor commented on #29
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11769-304200837)

[2017-05-26 06:20] rultor commented on #29
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11769-304200837) (took me 8min)

[2017-05-26 06:20] #29 closed

[2017-05-26 06:51] VsSekorin opened #30 "Predicate"
Let's introduce new interface Pred (extends Func<X, Boolean>) that could be used to FilteredIterable, for example. This will add declarativeness and readability.

[2017-05-26 06:51] 0crat commented on #30
@vssekorin I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-26 06:51] yegor256 opened #31 "get rid of Proc"
Let's get rid of it, I don't like this design

[2017-05-26 08:00] yegor256 commented on #30
@VsSekorin wait for #31 please

[2017-05-26 08:16] yegor256 commented on #18
fixed in #19

[2017-05-26 08:16] #18 closed

[2017-05-26 08:30] yegor256 commented on #31
fixed in #32

[2017-05-26 08:30] #31 closed

[2017-05-26 08:30] yegor256 commented on #30
@VsSekorin check the code now

[2017-05-26 08:40] yegor256 opened #33 "ProcAsRunnable"
Let's add `ProcAsRunnable` wrapper.

[2017-05-26 09:18] DronMDF opened #34 "License url from badge in README.md goes to other project (takes)"

[2017-05-26 09:18] 0crat commented on #34
@dronmdf I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-26 09:23] #27 closed

[2017-05-26 09:59] VsSekorin opened #36 "Some predicates."
Let's introduce predicates:
`Neg (Negative)`
`LogConj (Logical conjunction)` with iterable
`LogDisj (Logical disjunction)` with iterable
and may be
`True`
`False`

This will allow you to use complex conditions.

[2017-05-26 09:59] 0crat commented on #36
@vssekorin I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-26 14:56] englishman commented on #36
Such predicates have to have the same common API. What is this? Shouldn't it extends `Scalar<Boolean>`? The next question is how such predicates interconnect with standard java `boolean` statements: `if`, `while` etc.?

[2017-05-26 16:04] englishman opened #37 "Interaction with JDK entities"
**Cactoos** intention, AFAIU, is to be a library (not a framework). So we have an issue with standard JDK entities interaction (strings, java statements, JDK functions etc.)

Here are 2 points: consuming some JDK entity and producing an entity to JDK.

The way for entity consuming shows [StringAsText.java](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/text/StringAsText.

[2017-05-26 16:05] 0crat commented on #37
@englishman I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-26 16:14] englishman commented on #25
@yegor256 right, that's I wrote 'usage of the such chars without significant reason'. In `TransformedIterableTest` the purpose of test isn't string manipulation at all. So usage of non Latin chars isn't justified at all.

Moreover, the test has another issue: it tests `TransformedIterable` with a help of `ArrayAsIterable`. I would prefer use here some standard JDK `Iterator` implementer.

[2017-05-26 16:16] englishman commented on #9
@yegor256 can't we simply wrap them with JDK `RuntimeException`?

[2017-05-26 16:29] VsSekorin commented on #36
Now I propose `interface Pred<X> extends Func<X, Boolean>` (https://github.com/yegor256/cactoos/issues/30). May be `extends Func<X, Scalar<Boolean>>` is better, need to discuss.
What's the problem with `boolean`?

[2017-05-26 16:45] englishman commented on #30
@VsSekorin why we can't use `java.util.function.Predicate`?

[2017-05-26 16:46] englishman commented on #36
@VsSekorin not problem but issue
[code]
Is too cumbersome for me.

[2017-05-26 17:37] VsSekorin commented on #37
...
}
For me the both producing and consuming look a bit cumbersome and verbose. Is there any way to make JDK interaction smoothly?

It looks like part of the procedure.
My suggestion:
[code]
and
[code]

But I'm not sure about this completely. We had to wait for @yegor256 reply.

[2017-05-26 18:25] englishman commented on #37
@VsSekorin yes, I thought about the such approach but you suggestion is a substitute of Java lang `if` statement. So **Cactoos** will be kind of a framework but not a library then.

BTW here
[code]
what are `apply` method params?

[2017-05-26 19:02] VsSekorin commented on #37
It's OO primitives library, I have proposed OO analog `if`.

[code]

[2017-05-26 20:49] englishman commented on #37
@yegor256 WDYT? Pls, share you strategical opinion here.

[2017-05-27 07:33] yegor256 commented on #37
@englishman I think we should try to stay as far away from JDK "things" as we can. Otherwise, we will just create another Guava. That's why that `Scalar` and others. Of course, we can add `implements Number` to, say, `LengthOfIterable`, for extra convenience. Feel free to submit a PR.

[2017-05-27 07:34] yegor256 commented on #36
@VsSekorin good idea, let's do them one by one in separate PRs and see how they fit.

[2017-05-27 07:58] yegor256 commented on #34
@DronMDF fixed, thanks!

[2017-05-27 08:01] yegor256 commented on #33
done

[2017-05-27 08:01] #33 closed

[2017-05-27 08:02] yegor256 commented on #25
@englishman feel free to submit a PR

[2017-05-27 08:03] yegor256 commented on #9
@englishman we can, but the code becomes verbose. I'm talking about the code in applications.

[2017-05-27 08:03] #9 closed

[2017-05-27 08:04] yegor256 commented on #2
@englishman please, close the ticket

[2017-05-27 09:26] #30 closed

[2017-05-27 21:27] fabriciofx commented on #3
@yegor256

What do you think about implement two classes: `SafeText` and `StringAsTextSafe`? Both will ensure not null.

[2017-05-28 00:19] fabriciofx commented on #37
as java.lang.String already implements java.lang.CharSequence interface.

@englishman What do you think to use a secondary constructor to it? Like:

[code]

[2017-05-28 08:22] VsSekorin commented on #37
@fabriciofx What about [Constructors Must Be Code-Free](http://www.yegor256.com/2015/05/07/ctors-must-be-code-free.html)? I'm not sure that this is the right solution.

[2017-05-28 10:31] fabriciofx commented on #37
@VsSekorin The main constructor *is* code-free. But the secondary constructor can instanciate objects. Pay attention that instantiation doesn't execute any action (method executing or something like that). This will be performed later.

[2017-05-28 13:45] VsSekorin opened #43 "Ternary"
Let's introduce new class Ternary. This will help in issue https://github.com/yegor256/cactoos/issues/36, for example.

[2017-05-28 13:45] 0crat commented on #43
@vssekorin I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-28 13:48] VsSekorin opened #44 "Function result"
Let's introduce new class Result (lazy evaluation). This class is necessary for https://github.com/yegor256/cactoos/issues/43.

[2017-05-28 13:48] 0crat commented on #44
@vssekorin I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-28 13:51] VsSekorin commented on #43
https://github.com/yegor256/cactoos/pull/15

[2017-05-29 06:38] yegor256 commented on #43
@VsSekorin I'm not sure what you mean. Please, give an example.

[2017-05-29 06:38] #34 closed

[2017-05-29 10:06] yegor256 opened #46 "ThrowableAsText"
Let's add a class, which will do what `ExceptionUtils` do in Apache Commons.

[2017-05-29 12:01] DronMDF opened #47 "README.md: Sprintf is obsolete"
in this chapter: https://github.com/yegor256/cactoos#textstrings

This class renamed by #38 to FormattedText

[2017-05-29 12:01] 0crat commented on #47
@dronmdf I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-29 14:40] yegor256 commented on #47
@DronMDF would be great if you can submit pull requests with these small changes :) Would be easier and faster.

[2017-05-29 14:42] yegor256 opened #49 "StringUtils methods into org.cactoos.text"
Let's create classes for all methods from Apache `StringUtils`.

[2017-05-29 14:55] yegor256 opened #50 "FuncWithFallback"
Let's create a class that will be a `Func`, but in case an exception is thrown, it will try to call a fallback `Func`:

[code]

[2017-05-29 15:21] DronMDF commented on #47
Pull request without a issue is that good? In zerocracy will you pay me for this? :)

[2017-05-29 15:29] yegor256 commented on #46
done

[2017-05-29 15:29] #46 closed

[2017-05-29 21:51] 0pdd opened #53 "IterableAsList.java:56-58: Needs cached `LengthOfIterable`..."
The puzzle `39-e7c34bd5` in [`src/main/java/org/cactoos/list/IterableAsList.java`](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/list/IterableAsList.java) (lines 56-58) has to be resolved: "Needs cached `LengthOfIterable` version to improve `IterableAsList` performance. Now each call to `size()` goes through all iterable to calculate the size."

The puzzle was created b

[2017-05-29 21:51] 0crat commented on #53
@0pdd I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-29 21:54] 0pdd commented on #53
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2017-05-30 02:04] fabriciofx opened #54 "Rename open() method in Input interface"
@yegor256 According to EO Vol. 1, page 53:

So my sugestion is change the method's name from `open()` to `stream()`. I think it makes sense, because the method is returning an `InputStream`.

What do you think?

[2017-05-30 02:04] 0crat commented on #54
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-30 02:11] fabriciofx opened #55 "Extract TeeInput.Stream class from TeeInput"
@yegor256 Usually, I don't like classes big classes and private methods, classes and constants. Why? Because without them, our classes are smaller and more cohesive. So, to achieve this goal, I suggest extract the `TeeInput.Stream` class to a public `TeeInputStream` class.

What do you think?

[2017-05-30 02:11] 0crat commented on #55
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-30 02:17] fabriciofx commented on #49
@yegor256 Are you doing it or anyone could try it?

[2017-05-30 06:38] DronMDF commented on #47
Fixed

[2017-05-30 06:38] #47 closed

[2017-05-30 11:52] yegor256 opened #56 "Text is not Comparable<Text>"
Let's make sure that `Text extends Comparable<Text>`

[2017-05-30 11:53] yegor256 commented on #54
@fabriciofx totally agree, let's do it. Please, submit a PR.

[2017-05-30 12:58] fabriciofx commented on #56
We should use lombok to implement `compareTo()`?

[2017-05-30 14:06] yegor256 opened #59 "Hamcrest matchers for all interfaces"
Let's create them.

[2017-05-30 16:19] englishman commented on #56
@fabriciofx it'll introduce a heavy external dependency, I guess. In README.md is:

[2017-05-30 16:20] englishman commented on #47
Thank you!

[2017-05-30 16:22] englishman commented on #49
@fabriciofx I think we should start from adding some issues with specific class names for new functionality to split work then between developers.

[2017-05-30 17:00] #2 closed

[2017-05-30 17:14] fabriciofx commented on #56
@englishman Yeah, you're correct. Thank you for the clarification.

[2017-05-30 18:45] englishman commented on #53
@g4s8 how to work with pazzles? Could you, pls, explain or, better, add some quick manual somwhere.

[2017-05-30 18:55] g4s8 commented on #53
@englishman here posts about it:
http://www.yegor256.com/2017/04/05/pdd-in-action.html
http://www.yegor256.com/2009/03/04/pdd.html

here syntax reference: https://github.com/yegor256/pdd#how-to-format

I'd suggest to create test repo and play with pdd bot to understand how it works

[2017-05-30 18:57] englishman commented on #37
@fabriciofx like your idea! At least, we'll have a cheap one-way of JDK interaction.

[2017-05-30 18:58] englishman commented on #37
@VsSekorin @fabriciofx but look on this discussion.
https://github.com/yegor256/cactoos/pull/20#discussion_r118560886
It's not about `new` in ctors. It's about some code. WDYT?

[2017-05-30 19:07] englishman opened #62 "Code in ctors"
In some ctors we have method calls for JDK's standard `static` methods. E.g.
https://github.com/yegor256/cactoos/pull/22/files#diff-537f42dacf5c41ee51d8dc12c8560ce5R51
or
https://github.com/yegor256/cactoos/pull/22/files#diff-537f42dacf5c41ee51d8dc12c8560ce5R73
Also look on ctors in
https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/text/FormattedText.java
in `master` branch

[2017-05-30 19:07] 0crat commented on #62
@englishman I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-30 19:12] englishman commented on #37
Added separate issue #62 for this

[2017-05-30 19:27] g4s8 commented on #62
@englishman I've never tried before this approach (only `new` in constructors) but it looks interesting. As for `Collections.unmodifiableSet` and `Arrays.asList` I think we should avoid jdk static methods like any other static methods in constructor because they are procedures, so if we use procedures in constructors we put a code in constructors.

[2017-05-30 19:35] englishman commented on #62
@g4s8 basically the idea is from here
http://www.yegor256.com/2015/05/07/ctors-must-be-code-free.html

[2017-05-30 19:47] g4s8 commented on #62
@englishman yes, I've read it, but I thought this rule is less strict. Like do not put a lot of code in contructor but one or two method calls is ok.

[2017-05-30 19:51] englishman commented on #62
@g4s8 yes, I guessed so. But look on this part of discussion
https://github.com/yegor256/cactoos/pull/20#discussion_r118560886

[2017-05-30 20:05] fabriciofx opened #63 "Let's do a not procedural temporary file creation/deletion"
This [kind of code](https://github.com/yegor256/cactoos/blob/c4f228d1eeef7e165a670b5a5536b398dc2fb5a5/src/test/java/org/cactoos/io/FileAsInputTest.java#L51-L52) is very procedural:
[code]
So, let's do a not procedural temporary file creation/deletion.

[2017-05-30 20:05] 0crat commented on #63
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-30 20:15] englishman commented on #63
We can use [TemporaryFolder](http://junit.org/junit4/javadoc/4.12/org/junit/rules/TemporaryFolder.html) JUnit rule for this. Specifically, [newFile](http://junit.org/junit4/javadoc/4.12/org/junit/rules/TemporaryFolder.html#newFile(java.lang.String)) method.

[2017-05-30 22:01] fabriciofx commented on #63
@englishman Do we **must** declare `TemporaryFolder` as a `@Rule`? If yes, I don't like it a good solution, because [tests methods must share nothing](http://www.yegor256.com/2016/05/03/test-methods-must-share-nothing.html).

[2017-05-30 22:11] englishman commented on #63
@fabriciofx yes, I know (actually, I'm fighting against this sharing in my current project). Rules are the standard JUnit way to do smth BEFORE and AFTER a test method (grant/free resource etc.).

Otherwise, we have to impl smth like this
[code]
Might be it's good idea to implement our own `TempFile` class impl.

[2017-05-30 22:34] fabriciofx commented on #56
@englishman I'm trying solve this issue. At the moment, my `compareTo()` method is:

[code]
So my question is: if something goes wrong, we should throws an `IllegalArgumentException` or `RuntimeException` encapsulating the `IOException`? WDYT?

[2017-05-30 23:17] fabriciofx opened #64 "Drop takes framework dependency"
In README.md we can read:

So, `cactoos` depends on [takes](http://www.takes.org) framework (in `pom.xml` and `UrlAsInputTest.java`) and this dependency should be removed.

[2017-05-30 23:17] 0crat commented on #64
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-31 01:08] fabriciofx commented on #49
@englishman I agree. Could you start? :)

[2017-05-31 01:15] englishman commented on #64
@fabriciofx I guess README statement is about absents only PROD dependency.

[2017-05-31 02:03] fabriciofx commented on #64
@englishman Yeah, I noticed that after opened the issue! So, should I close it or it's interesting change the README to be explicit about absence of dependencies its just  in production?

[2017-05-31 06:15] yegor256 commented on #64
@fabriciofx just close the issue. We don't have `runtime` or `compile` dependencies. `provided` and `test` are harmless.

[2017-05-31 06:20] yegor256 commented on #62
@englishman yes, we must avoid **any** code in constructors. So, these static method calls are evil, but if you look at what's inside them, you will see that they are actually just making new objects. But I agree that we should create substitutes for them. Feel free to submit PRs.

[2017-05-31 06:20] #59 closed

[2017-05-31 06:20] yegor256 commented on #59
fixed in #60

[2017-05-31 06:44] yegor256 opened #66 "side effect testing"
Let's experiment and prove that it's possible.

[2017-05-31 11:10] #64 closed

[2017-05-31 14:55] fabriciofx opened #68 "Synchronized Decorators to Replace Thread-Safe Classes"
@yegor256 @englishman What do you think about them? [Here](http://www.yegor256.com/2017/01/17/synchronized-decorators.html) you can see a discussion about this subject. I think very useful some classes to do it, how for example, to synchronize two threads, avoiding one to finish first than second.

[2017-05-31 14:55] 0crat commented on #68
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-01 11:57] yegor256 commented on #66
fixed in #67

[2017-06-01 11:57] #66 closed

[2017-06-01 11:57] yegor256 commented on #68
@fabriciofx what classes do you have in mind, to start with?

[2017-06-01 13:36] yegor256 opened #70 "Func design is not elegant"
Let's fix it.

[2017-06-01 14:48] fabriciofx commented on #68
@ Yegor256 Let me explain a problem that I faced some time ago. In an application, I had two threads: one starts the web server (using takes) and the other starts the browser (Chrome). The browser had should connect to this server, but due a problem of synchornization, it can't. So, I had to use the `CountDownLatch` to syncronized these threads to my application works successful.

So I think somet

[2017-06-01 22:54] #55 closed

[2017-06-02 09:39] yegor256 commented on #49
@fabriciofx @englishman go ahead guys, I'm not touching this.

[2017-06-02 09:40] yegor256 commented on #70
fixed in #72

[2017-06-02 09:40] #70 closed

[2017-06-02 09:41] yegor256 opened #74 "UncheckedScalar"
Let's create `UncheckedScalar`, `UncheckedText`, and `UncheckedBytes`. Similar to `UncheckedFunc`

[2017-06-02 09:42] yegor256 commented on #56
@fabriciofx I think we should introduce `UncheckedScalar`, similar to `UncheckedFunc`: #74

[2017-06-02 10:19] g4s8 commented on #68
@fabriciofx could you clarify please? How do you start the browser in same process as your server? Maybe they started in different processes?

[2017-06-02 15:00] #54 closed

[2017-06-02 17:37] fabriciofx commented on #68
@g4s8 One thread starts the server and other thread starts the client.

[2017-06-02 21:00] yegor256 commented on #24
fixed in #75

[2017-06-02 21:08] #24 closed

[2017-06-03 04:06] yegor256 opened #76 "Proc"
Let's create a new interface `Proc`

[2017-06-03 04:09] yegor256 commented on #50
done

[2017-06-03 04:09] #50 closed

[2017-06-03 04:12] yegor256 commented on #3
@VsSekorin @fabriciofx I think we can introduce classes `Text.NotNull`, `Input.NotNull`, `Output.NotNull`, etc. They will behave exactly as `Text`, but won't accept `null` as a ctor argument and will throw if `asString` returns `null`.

[2017-06-03 04:12] yegor256 commented on #5
@pistriak it's fixed, please close the ticket

[2017-06-03 10:46] fabriciofx commented on #3
@yegor256 Are you saying to create these classes inside the `Text`, `Input` and `Output` interfaces, right? What do you think create these classes *outside* them? I believe interfaces should be more simpler possible, just with methods signature and (when necessary) some constant objects. WDYT?

[2017-06-03 16:43] englishman commented on #49
@fabriciofx i'm on a small vacation. Will come back on this on Monday.

[2017-06-03 16:53] fabriciofx commented on #49
@englishman Ok. Do you mind if I advance with some code? And have a nice vacation! :)

[2017-06-03 17:06] englishman commented on #49
@fabriciofx absolutely no :+1: go ahead!

[2017-06-03 17:08] fabriciofx commented on #49
@englishman 👍

[2017-06-05 14:37] Timmeey opened #82 "FilteredIterator remove() removes wrong element from underlying Iterator"
Under certain circumstances, remove() on a FilteredIterator removes the wrong element from the underlying iterator.

Reproduce:
Create List containing 0,1,2,3. (0,1,2,3)
Retrieve FilteredIterator over this List, set input-> true as filter function (no real filtering)
Retrieve first element (0).
Call hasNext() on FilteredIterator
call remove() on FilteredIterator
Expected: Check original List, it s

[2017-06-05 14:37] 0crat commented on #82
@timmeey I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-05 18:27] Timmeey opened #85 "LengthOfIterator asValue() must not be called twice"
LengthOfIterable.asValue() can only be called once.
Subsequent calls will just return 0.

Reproduce:
Create an Instance of LengthOfIterator
Call asValue() twice and compare both results to see the results are different

Expected:
Both results be the same.

Test Code:
[code]

[2017-06-05 18:27] 0crat commented on #85
@timmeey I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-06 08:40] yegor256 opened #86 "FuncWithCallback with three arguments"
Let's add one more optional argument to `FuncWithCallback`, which will be applied if no exception is thrown.

[2017-06-06 08:41] yegor256 commented on #76
done

[2017-06-06 08:41] #76 closed

[2017-06-07 05:55] yegor256 commented on #86
done in #87

[2017-06-07 05:55] #86 closed

[2017-06-07 05:59] yegor256 commented on #85
@Timmeey I believe it's by design. The size of an iterator is "how much more elements can be pulled out of it". If there is nothing left to pull the size is zero. Or you don't think so?

[2017-06-07 06:10] #53 closed

[2017-06-07 07:34] yegor256 commented on #86
@rultor release, tag is `0.3`

[2017-06-07 07:35] rultor commented on #86
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11902-306712967)

[2017-06-07 07:44] rultor commented on #86
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11902-306712967) (took me 9min)

[2017-06-07 07:46] yegor256 commented on #74
I believe it's fixed in #81

[2017-06-07 09:47] fabriciofx commented on #74
@yegor256 Yeah, could you close this issue?

[2017-06-07 11:22] #74 closed

[2017-06-07 11:23] yegor256 commented on #74
@fabriciofx thanks!

[2017-06-07 11:33] yegor256 commented on #82
@Timmeey thanks for the report. I believe it's fixed in #83

[2017-06-07 15:00] fabriciofx opened #88 "Add some contributors"
Let's add some contributors

[2017-06-07 15:00] 0crat commented on #88
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-07 18:45] Timmeey commented on #82
Correct, my PR #83 closed this issue.

[2017-06-07 18:45] #82 closed

[2017-06-07 18:49] Timmeey commented on #85
Yes that is correct. But the method will consume an iterator. So if i have my iterator, and want to know how much is left, it will tell me how much WAS left, but since it consumes the iterator it would not be of much use to me i think. At least i would not expect that i could still pull x elements from the iterator, if LengthOfIterator returns x, but it will be empty after that.

Either we should

[2017-06-07 22:35] Timmeey commented on #4
In case you would want to intercept an exception on its way up the stack, you in this instance implement something like DefaultTextOnError class, which fulfills the text interface, and in the asString() method catch the IOException and instead return your default text. That way you would not have to reimplement all Classes, but only one class that fulfills a certain interface and provides a defaul

[2017-06-07 22:37] Timmeey commented on #68
@fabriciofx could you very briefly scatch your/a solution to the problem you want to solve? because from your posts, i cannot understand which problem you could have had or what problem you try to solve.

[2017-06-07 23:03] fabriciofx commented on #68
@yegor256 @g4s8 @Timmeey Let me explain my idea:  I developed a proof-of-concept application that starts a web server and open an already installed browser (chrome, firefox or whatever) that connects to this web server. I did it to prove is possible make a web application like a "desktop application" (double click in the application and will see it running). My problem is when starting the web ser

[2017-06-08 07:16] yegor256 commented on #85
@Timmeey I get your point. Here is how I would use it: retrieve the list of items from the database, calculate the length and render this number in HTML. That's it. I'm not interested in the items, only in the amount of them.

I would suggest adding a detailed explanation of this problem to the Javadoc block of the class. WDYT?

[2017-06-08 07:57] dusan-rychnovsky commented on #85
Hi, @yegor256 if you only need to know the number of items in the database, I believe you should use a "SELECT Count(*)", istead of a "SELECT *" + counting the items in memory.

[2017-06-08 07:59] yegor256 opened #90 "UrlAsString and StringAsUrl"
Let's create two new classes, which will replace `URLEncoder` and `URLDecoder` from JDK. We will still use JDK, but these wrappers will be very helpful. At least they won't throw checked exceptions.

[2017-06-08 08:00] yegor256 commented on #90
@fabriciofx interested in contributing?

[2017-06-08 09:16] yegor256 opened #92 "ResourceAsInput with second argument"
ResourceAsInput throws Exception when the resource is not available. Instead, it must have an ability to do something more custom.

[2017-06-08 10:06] yegor256 commented on #92
fixed in #93

[2017-06-08 10:08] yegor256 commented on #92
@rultor release, tag is `0.4`

[2017-06-08 10:08] #92 closed

[2017-06-08 10:11] fabriciofx commented on #88
Fixed in #89

[2017-06-08 10:11] #88 closed

[2017-06-08 10:16] fabriciofx commented on #90
@yegor256 Of course! 😄

[2017-06-08 11:43] fabriciofx commented on #90
@yegor256 Should `StringAsUrl` converts a `String` into a `URL`, or just a `String` to a `String` coded as url? The same to `UrlAsString`: a `String` to `URL`?

[2017-06-08 12:16] Timmeey commented on #85
@dusan-rychnovsky that is not the point. @yegor256 used a concret example to show the general type of usage. Recommending specific solutions for his example problem that have nothing to do with what he tried to showcase is not really helpful. But yes, you are right, if you just want to know how many of something are in the DB. But in this instance we would already have started showing a few elemen

[2017-06-08 12:21] dusan-rychnovsky commented on #85
@Timmeey I wanted to point out that @yegor256 's example is absurd. IMO it is very important to use real examples when driving how a library should look like / behave. Not tailor the library to some hypothetical use cases.

[2017-06-08 12:27] yegor256 opened #94 "SyncScalar, SyncFunc, SyncProc"
Let's create `SyncScalar`, `SyncFunc`, `SyncProc`

[2017-06-08 12:29] Timmeey commented on #68
Okay for your problem, why not just use a notify/wait object?

Anyway, i don't really know what kind of thing you would want to put into this library?

[2017-06-08 13:47] yegor256 commented on #94
done in #95

[2017-06-08 13:47] #94 closed

[2017-06-09 07:37] yegor256 commented on #90
@fabriciofx I think we need this:

[code]

[2017-06-09 07:40] yegor256 commented on #68
see this https://github.com/yegor256/cactoos/issues/94

[2017-06-09 09:17] smallcreep opened #96 "FormattedText must use Text as pattern not a String."
FormattedText must use Text as pattern not a String.

[2017-06-09 09:17] 0crat commented on #96
@smallcreep I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-09 10:02] yegor256 opened #98 "Repeat must be broken into two parts"
`Repeat` design is not perfect

[2017-06-09 11:19] Timmeey opened #101 "FuncAsIterator"
Let's build a FuncAsIterator.

Example, you want an Endless Iterator/Iterable of PrimeNumbers. You would do (pseudocode)
[code]
What should be the API of such a construct?

Should the Function that provides the next value take the last value as input, so the iterator would hold some state? Or should we have something new like a Provider<X> that does not take input and hold his own state?

Once we

[2017-06-09 11:19] 0crat commented on #101
@timmeey I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-09 13:38] yegor256 commented on #101
@Timmeey good idea. I thought that `RepeatIterator` and `EndlessIterator` will both accept either a fixed element value of a `Func`, which returns it. But I didn't think about making this `Func` aware of the previous value. That's something we should think about.

[2017-06-09 13:55] Timmeey commented on #101
Yeah, you gave me the idea when i saw your EndlessIterator and how great it would be to be able to treat the result of a sequential function as a list.

But i would not want it for only EndlessIterator since there might be functions that have a finite number of results.

Your endlessIess iterator could definitely accept a staticFunc/scalar as input. But i still think we would need FuncAsIterator.

[2017-06-09 14:09] yegor256 opened #102 "IoCheckedFunc must not re-throw IOException"
`IoCheckedFunc` must not re-throw `IOException`

[2017-06-09 14:30] yegor256 commented on #101
@Timmeey yes, please go ahead. Also, please start your messages with the name of the person you're talking to. That's how I will see them for sure.

[2017-06-09 14:39] yegor256 commented on #98
fixed in #99

[2017-06-09 14:39] #98 closed

[2017-06-09 15:24] yegor256 commented on #102
fixed in #103

[2017-06-09 15:38] #102 closed

[2017-06-09 15:54] Timmeey commented on #101
@yegor256 a very very early draft of what i had in mind.
https://github.com/Timmeey/cactoos/commit/646b9ddec279540e36ed6a46e26c3d5fe437f958

Problems to discuss are:
What to do with more complex objects that get returned by the function, when the next element is not derivable from the last returned one?  Maybe in that case a `Provider<X>` would be useful, which holds internal state to calculate th

[2017-06-09 18:05] #96 closed

[2017-06-10 18:33] dusan-rychnovsky opened #106 "Need to improve unit tests"
We need to improve unit tests - add missing cases.

[2017-06-10 18:33] 0crat commented on #106
@dusan-rychnovsky I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-10 18:36] dusan-rychnovsky commented on #106
I have this ready, will send a PR.

[2017-06-11 11:30] yegor256 commented on #90
@fabriciofx thanks!

[2017-06-11 11:30] #90 closed

[2017-06-12 10:23] yegor256 commented on #101
@Timmeey it seems that we need two classes. The first one will create an iterable from a `Func`:

[code]

Here `i` will be the position of the element. Thus, this iterable will produce `0, 1, 4, 9, 16, 25, ...`.

Then, we need a `Func` that remembers previous response and passes it into the next one, as an argument. For example, this one will produce Fibonacci numbers:

[code]

Make sense?

[2017-06-12 10:37] yegor256 commented on #3
@fabriciofx let's keep them outside, on the package level.

[2017-06-12 12:27] yegor256 commented on #85
@Timmeey check this out: https://google.github.io/guava/releases/snapshot/api/docs/com/google/common/collect/Iterators.html#size-java.util.Iterator-

[2017-06-12 12:34] Timmeey commented on #101
@yegor256 Yes, that is almost how i did it in the linked draft. It has a FuncAsIterable(Func<X,X>) and FuncAsIterator(Func<X,X>)

That works well for mathematical functions where the result contains all necessary information to calculate the next one.

The questions remains. How to bootstrap such a function on the first call? just pass it NULL?

[2017-06-12 13:01] yegor256 commented on #101
@Timmeey it seems to me that you're combining two things into one object. I think that `FuncAsInterable` has to be declared like this:

[code]

The `Integer` will be generated, starting from `0`. See?

[2017-06-12 13:02] yegor256 commented on #101
@Timmeey or maybe even this design is wrong and we better need this:

[code]

[2017-06-12 13:07] yegor256 opened #109 "LimitedIterable"
Let's add `LimitedIterable` similar to `Iterables.limit()` of Guava

[2017-06-12 16:13] Timmeey commented on #101
@yegor256  But that only works for Functions that calculate the next value based on e.g. Integers.

Example: Deterministic RandomGenerators, they always take the last result to generate the next, which is not necessarily a Integer. (If the seed is the same, it will always generate the same sequence).

I want to have a general  purpose FuncAsIterable without limiting it to only work based on a fixe

[2017-06-12 16:16] yegor256 commented on #101
@Timmeey but this situation where a function needs its previous result is a corner case. In most cases, we don't need that. That's why I'm suggesting to break this problem down to pieces.

[2017-06-12 16:18] fabriciofx commented on #3
@yegor256 Ok. Could close this issue if you agree with the solution?

[2017-06-12 16:30] fabriciofx commented on #68
@Timmeey Well, I don't know if this solution solve my problem.
I think the #94 PR was a good start on this subject...

[2017-06-12 16:31] fabriciofx commented on #68
@yegor256 I thought #94 PR a good start, but do you think is it enough. Should I close this issue?

[2017-06-12 19:49] #3 closed

[2017-06-12 19:55] dusan-rychnovsky commented on #106
fixed in #107

[2017-06-12 19:55] #106 closed

[2017-06-12 20:29] dusan-rychnovsky commented on #109
I am working on this one. I'll send a PR soon.

[2017-06-12 22:13] Timmeey commented on #101
[code]
@yegor256 you are completely right, the SequentialFuncAsIterable is exactly the same as the Transformed Iterable. wow. I would still want to have this class, just to make it obvious on how to deal with these kind of things. But we could discuss whether the Ctor with two arguments is useful or if the first one (with the naturalNumbers buildin) suffice.

But here the draft for a FeedbackFuncA

[2017-06-13 04:41] yegor256 commented on #101
@Timmeey let's go step by step. Let's start with `NaturalNumbers`. Can you submit a PR for this class?

[2017-06-13 04:47] yegor256 opened #111 "CycledIterable"
Let's introduce `CycledIterable` similar to [Iterables.cycled()](https://google.github.io/guava/releases/21.0/api/docs/com/google/common/collect/Iterables.html#cycle-java.lang.Iterable-) from Guava 0.21

[2017-06-13 04:50] yegor256 opened #112 "FirstOf rename to ItemOfIterable"
Let's modify `FirstOf`:

  * rename it to `ItemOfIterable`
  * created `ItemOfIterator`
  * let it find any element, but the position provided (not only the first one)

Similar to [Iterables.get()](https://google.github.io/guava/releases/21.0/api/docs/com/google/common/collect/Iterables.html#get-java.lang.Iterable-int-T-)

[2017-06-13 04:51] yegor256 opened #113 "SkippedIterable"
Let's introduce `SkippedIterable` and `SkippedIterator` similar to [Iterables.skip()](https://google.github.io/guava/releases/21.0/api/docs/com/google/common/collect/Iterables.html#skip-java.lang.Iterable-int-)

[2017-06-13 04:51] yegor256 opened #114 "UnmodifiableIterable"
Let's introduce `UnmodifiableIterable` which wraps another iterable and throws if `remove()` is called.

[2017-06-13 04:52] yegor256 opened #115 "UnmodifiableList"
similar to #114, but for `List`

[2017-06-13 05:10] yegor256 opened #116 "org.cactoos.map.IterableAsMap"
Let's create a new package and class.

[2017-06-13 05:38] yegor256 opened #117 "ArrayAsIterable is not optimized"
`ArrayAsIterable` is calling `Arrays.asList()` on every `iterator()` method call. This is not effective at all. We need to find a better way of "caching" the iterable internally.

See how it's done in `IterableAsMap`

[2017-06-13 05:44] Timmeey commented on #116
@yegor256 like this?
[code]

[2017-06-13 05:44] yegor256 commented on #116
@Timmeey like this:

[code]

I'm working on it now...

[2017-06-13 05:48] Timmeey commented on #114
@yegor256 so i i had an UnmodifieableIterable i would assume that every call to iterator() would lead to the same sequence of elements. BUt how would you guarantee that behaviour?

If i take a Collection (which implements iterable) and wrap this collection in the UnmodifiableInterable, changes to the underlying Collection would still result in a change in the Iterable, after the next .iterator() c

[2017-06-13 06:49] yegor256 commented on #116
fixed in #118

[2017-06-13 06:49] #116 closed

[2017-06-13 07:19] yegor256 opened #119 "StickyScalar must use StickyFunc"
`StickyScalar` must use `StickyFunc`

[2017-06-13 07:45] yegor256 commented on #119
fixed in #120

[2017-06-13 07:45] #119 closed

[2017-06-13 12:44] yegor256 commented on #7
@englishman ping

[2017-06-13 12:59] yegor256 commented on #116
@rultor release, tag is `0.4`

[2017-06-13 13:00] rultor commented on #116
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11955-308107455)

[2017-06-13 13:16] rultor commented on #116
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11955-308107455) (took me 15min)

[2017-06-13 20:12] yegor256 opened #121 "TeeInputStream fails with byte-by-byte read()"
It doesn't understand -1 as an end of stream.

[2017-06-13 20:34] yegor256 opened #123 "InputAsBytes doesn't close input stream"
I believe we have a serious problem now with `InputAsBytes`: it doesn't close the `InputStream`.

[2017-06-13 20:42] yegor256 commented on #123
@rultor merge

[2017-06-14 05:04] yegor256 commented on #123
fixed in #124

[2017-06-14 05:04] #123 closed

[2017-06-14 05:05] yegor256 commented on #121
fixed in #122

[2017-06-14 05:05] #121 closed

[2017-06-14 05:07] yegor256 opened #126 "Unchecked* classes must accept custom error messages"
`Unchecked*` classes must accept custom error messages

[2017-06-14 06:06] yegor256 commented on #126
fixed in #127

[2017-06-14 06:06] #126 closed

[2017-06-14 06:10] yegor256 opened #128 "more ctors for TeeInput"
We need more ctors for `TeeInput`

[2017-06-14 06:40] yegor256 commented on #128
@rultor release, tag is `0.5`

[2017-06-14 06:41] rultor commented on #128
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11969-308334181)

[2017-06-14 06:50] rultor commented on #128
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11969-308334181) (took me 9min)

[2017-06-14 06:52] #128 closed

[2017-06-14 09:23] yegor256 opened #130 "ResourceAsInput must support absolute paths"
`ResourceAsInput` must support both absolute (with leading slash) and relative (without the slash) paths.

https://stackoverflow.com/a/16571137/187141

[2017-06-14 09:41] yegor256 commented on #130
It seems that it's not a bug. We must transparently pass the name of the resource to the class loader. What happens next, is out of our control.

[2017-06-14 09:41] #130 closed

[2017-06-14 14:58] yegor256 opened #132 "InputAsLSInput"
Let's create a new class `InputAsLSInput` which will convert `Input` into [LSInput](https://docs.oracle.com/javase/7/docs/api/org/w3c/dom/ls/LSInput.html)

[2017-06-14 15:11] yegor256 opened #134 "UrlAsInput must accept String"
`UrlAsInput` must accept `String` as one-arg ctor

[2017-06-14 15:17] smallcreep opened #135 "IteratorAsText and IterableAsText"
Add Transformer IteratorAsText and IterableAsText

[2017-06-14 15:17] 0crat commented on #135
@smallcreep I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-14 21:36] englishman commented on #56
@fabriciofx don't clearly understand what can be wrong in this `compareTo` code. Do we need here any exception processing?

[2017-06-14 21:51] englishman commented on #7
@yegor256 if we don't want to use standard `java.util.function.Function` instead of custom `Func` we can close this issue. WDYT?

[2017-06-15 06:42] yegor256 opened #139 "more args for InputAsLSInput"
The ctor of `InputAsLSInput` must accept `publicID` and `systemID`

[2017-06-15 07:08] yegor256 commented on #139
fixed in #140

[2017-06-15 07:08] #139 closed

[2017-06-15 08:24] yegor256 opened #141 "RunnableWithFallback"
Let's create `RunnableWithFallback` that will run a fallback in case of exception

[2017-06-15 09:07] yegor256 opened #143 "CallableWithFallback"
Let's create `CallableWithFallback`, similar to `RunnableWithFallback` we introduced in #141

[2017-06-15 09:07] yegor256 commented on #134
done in #137

[2017-06-15 09:07] #134 closed

[2017-06-15 09:07] yegor256 commented on #132
done in #133

[2017-06-15 09:07] #132 closed

[2017-06-15 09:22] VsSekorin opened #144 "Predicate"
Why was Pred (Predicate, https://github.com/yegor256/cactoos/pull/35) removed? (https://github.com/yegor256/cactoos/pull/72/commits/f1fe71b7bb3f884b8c69aaa930bfb34659a19f54)
Let's restore it (https://github.com/yegor256/cactoos/issues/36).

[2017-06-15 09:23] 0crat commented on #144
@vssekorin I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-15 09:33] yegor256 commented on #141
done in #142

[2017-06-15 09:33] #141 closed

[2017-06-15 09:38] yegor256 commented on #144
@VsSekorin right, let's add it as `org.cactoos.Pred`

[2017-06-15 10:17] yegor256 opened #146 "StickyInput"
Let's introduce `StickyInput`

[2017-06-15 12:30] yegor256 commented on #146
introduced in #147

[2017-06-15 14:41] #146 closed

[2017-06-15 15:01] dusan-rychnovsky commented on #109
fixed in #110

[2017-06-15 15:09] yegor256 commented on #146
@rultor release, tag is `0.6`

[2017-06-15 15:09] rultor commented on #146
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11993-308766429)

[2017-06-15 15:17] rultor commented on #146
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11993-308766429) (spent 8min)

[code]

[2017-06-15 15:21] yegor256 commented on #146
@rultor release, tag is `0.6`

[2017-06-15 15:22] rultor commented on #146
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11993-308771297)

[2017-06-15 15:36] rultor commented on #146
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11993-308771297) (took me 14min)

[2017-06-15 20:41] yegor256 commented on #7
@englishman yes, let's close it

[2017-06-15 22:30] #7 closed

[2017-06-16 00:30] englishman opened #150 "Travis CI and AppVeyor question"
@yegor256 why to CIs are used in the project?

[2017-06-16 00:30] 0crat commented on #150
@englishman I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-16 00:50] englishman opened #151 "Web url based resource links bring to test failure"
If network environment is restricted or development is going on offline then some tests are failed.
E.g. such links
[code]
have to be changed to local files with `"file:///<relative path here>/pom.xml"`

[2017-06-16 00:50] 0crat commented on #151
@englishman I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-16 03:24] fabriciofx opened #152 "Eclipse cannot infer type arguments for IterableAsMap error"
Apparently, Eclipse IDE can not infer type arguments for Iterable Map in IterableAsMapTest, imply an error in the project. I'm using Eclipse Neon.3 (4.6.3).

[2017-06-16 03:24] 0crat commented on #152
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-16 04:01] fabriciofx opened #154 "Let's create BooleanAsScalar, IntegerAsScalar, LongAsScalar, FloatAsScalar and DoubleAsScalar"
Let's encapsule `boolean`, `int`, `long`, `float` and `double` as `Scalar`.

[2017-06-16 04:01] 0crat commented on #154
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-16 11:58] yegor256 opened #157 "IterableAsList is very ineffective"
The implementation of `IterableAsList` is very wrong, performance wise. Let's implement it similar to what `IterableAsMap` is doing.

[2017-06-16 12:00] yegor256 commented on #150
@englishman to make sure the project is buildable on both Linux and Windows platforms.

[2017-06-16 12:00] #150 closed

[2017-06-16 12:01] yegor256 commented on #151
@englishman indeed it's a bug, thanks.

[2017-06-16 12:03] yegor256 opened #158 "SortedIterable"
Let's create it.

[2017-06-16 12:55] fabriciofx opened #159 "StickyInputTest bug doesn't allow Travis CI to build"
Apparently we have some problem with StickyInputTest that doesn't allow Travis CI to build. Follow the error log:
[code]

[2017-06-16 12:55] 0crat commented on #159
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-16 12:58] englishman commented on #150
@yegor256 I see. Thanks you.

[2017-06-16 12:58] englishman commented on #151
Will take care of it

[2017-06-16 13:09] yegor256 commented on #151
@englishman I would not change them to `file://...` It's important to have real tests that actually go to real URLs. In order to see how we behave with content that is not available immediately, but takes some time to read. I would rather add some gate keepers in front of the tests, which will check whether we're online now or not. But I'm not sure... :)

[2017-06-16 13:17] yegor256 commented on #158
done in #160

[2017-06-16 13:17] #158 closed

[2017-06-16 13:58] yegor256 opened #161 "ProcAsFunc must not return NULL"
Let's introduce a default return.

[2017-06-16 14:01] #161 closed

[2017-06-16 14:18] yegor256 commented on #159
@fabriciofx I believe it's fixed in https://github.com/yegor256/cactoos/commit/4826cc44d099d2f6e525edb61f6771e9299dbed8

[2017-06-16 15:06] englishman commented on #151
Set of broken tests
![6-16-2017 11-04-06 am](https://user-images.githubusercontent.com/1883572/27232348-bde8e8f2-5283-11e7-8eda-ae36158acca5.png)

[2017-06-16 15:58] Timmeey commented on #157
@yegor256 how would you change it, if it should still be able to reflect changes in the underlying Iterable?

From what i can see, IterableAsMap suffers from the same problem, changes in the underlying iterable are not reflected.

[2017-06-16 17:00] englishman commented on #151
@yegor256

Even with `file://...` it'll go through real `URL` java class. And we don't want to test it behavior.

Honestly, I can't see any reason for this testing primitive utility classes. But if you see, please, explain.

Will provide `file://...` bases fix and if we really need slow `org.cactoos.Input` implementation we'll create it for such testing purposes later.

[2017-06-16 17:29] fabriciofx commented on #159
@yegor256 Yeah, I'll close this PR. Thanks!

[2017-06-16 17:29] #159 closed

[2017-06-16 17:40] fabriciofx commented on #152
Fixed in #153.

[2017-06-16 17:40] #152 closed

[2017-06-16 20:50] englishman commented on #157
Currently `IterableAsMap` is immutable. Was this design done intentionally?

[2017-06-16 21:00] englishman opened #169 "Test matchers location"
At this moment some successors of `org.hamcrest.TypeSafeMatcher` are located at root `org.cactoos` package among important high level interfaces. I think the new matchers should be removed from this place somewhere.

1. The best options is to put them into a new library e.g. **cactoos-test** is dependent from **cactoos**. In this case these classes will not be located in client prod code if it's u

[2017-06-16 21:00] 0crat commented on #169
@englishman I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-16 22:37] fabriciofx commented on #169
@englishman At the moment, we have only two matchers, right? So, I think we can follow the 2nd option, move them to a `org.cactoos.math` for a while. When the classes number grow up, we can think in move them to another library. WDYT?

[2017-06-16 23:37] Timmeey commented on #154
@fabriciofx why do you suppose this is needed?

The Scalar Interface is already generic which allows you to encapsulate all those values.

Maybe you can give an example where the Generic scalar would not suffice

[2017-06-17 01:11] englishman commented on #169
@fabriciofx 3 of them. But there is another problem: dependencies. Marchers use some entities from prod **cactoos** code but tests for prod lib code need matchers. So...

[2017-06-17 01:39] fabriciofx commented on #154
@Timmeey As @yegor256 have said, we can use lambda instead of these classes. I didn't know it, because I don't know lambda very well. So, I agreed with Yegor, and I'll close this issue. Thanks for your attention!

[2017-06-17 01:39] #154 closed

[2017-06-17 01:49] fabriciofx commented on #169
@englishman Well, so the simplest solution is just create a new package and put the matchers there. WDYT?

[2017-06-17 07:03] yegor256 commented on #157
@Timmeey yes, this is how it should be -- they must be immutable.

[2017-06-17 09:17] Timmeey commented on #157
@yegor256 are you really arguing now that you should not be able to add/remove elements from lists, but only create new lists?

From what i see here, the underlying list is not part of the state of the IterableAsList but rather part of its behaviour.

[2017-06-17 10:14] VsSekorin opened #170 "EmptyIterator and EmptyIterable"
Let's introduce `EmptyIterator` and `EmptyIterable` similar to `DeadInput`, `DeadOutput`.

[2017-06-17 10:14] 0crat commented on #170
@vssekorin I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-17 16:45] yegor256 commented on #169
@englishman looks like `cactoos-test` is the best option. Maybe we can create our own alternative to Hamcrest there?

[2017-06-18 00:24] fabriciofx opened #172 "Max and Min"
Let's implement Max and Min. Max returns the greater and Min returns smaller among numbers.

[2017-06-18 00:24] 0crat commented on #172
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-18 12:09] #170 closed

[2017-06-18 14:13] englishman commented on #151
Fixed

[2017-06-18 14:13] #151 closed

[2017-06-18 14:19] englishman commented on #169
@yegor256 let me think about `cactoos-test` more... As I wrote earlier the main problem here is cyclic dependency. BTW why do we use Hamcrest but not [AssertJ](http://joel-costigliola.github.io/assertj/)?

[2017-06-19 07:02] yegor256 commented on #169
@englishman didn't know about AssertJ :( Will take a look now.

[2017-06-19 07:03] yegor256 commented on #169
@englishman AssertJ syntax looks nicer that Hamcrest, but it's less object-oriented :) We need something that will be more declarations and less about procedures/instructions/commands.

[2017-06-19 07:52] yegor256 commented on #68
@fabriciofx I think what we have introduced in #94 was enough. If you think we need something else more specific, please submit new tickets. I would close this one.

[2017-06-19 07:59] smallcreep commented on #112
done in #156
@yegor256 close issue, please.

[2017-06-19 08:26] yegor256 opened #176 "MapAsProperties"
Let's make it possible to convert `Map` into `Properties`. See https://stackoverflow.com/questions/8036332/converting-a-java-map-object-to-a-properties-object/8036375

[2017-06-19 09:09] yegor256 commented on #176
done in #177

[2017-06-19 09:09] #176 closed

[2017-06-19 12:32] yegor256 commented on #157
fixed in #175

[2017-06-19 12:32] #157 closed

[2017-06-19 12:36] yegor256 commented on #117
fixed

[2017-06-19 12:36] #117 closed

[2017-06-19 12:37] yegor256 commented on #109
@dusan-rychnovsky thanks!

[2017-06-19 12:37] #109 closed

[2017-06-19 12:38] yegor256 commented on #43
@VsSekorin maybe this one:

[code]

I'd actually love to have that class in Cactoos.

[2017-06-19 12:39] yegor256 commented on #176
@rultor release, tag is `0.7`

[2017-06-19 12:40] rultor commented on #176
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12028-309427503)

[2017-06-19 12:51] rultor commented on #176
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12028-309427503) (took me 10min)

[2017-06-19 13:26] VsSekorin commented on #43
@yegor256 Yes, that's what I meant. But with Scalar<Boolean> as the first argument.

[2017-06-19 14:21] yegor256 opened #179 "InputAsProperties"
Let's create a reader of `Properties`

[2017-06-19 14:34] yegor256 opened #180 "unnecessary immutability"
I believe we made a mistake in:

[code]

They must not cache what they calculate. Instead, we have to introduce `StickyList` and `StickyMap`, which will do what we need to prevent multiple recalculations.

[2017-06-19 14:35] yegor256 commented on #157
@Timmeey you were right, see https://github.com/yegor256/cactoos/issues/180

[2017-06-19 14:40] yegor256 commented on #180
I'll fix it now

[2017-06-19 15:12] fabriciofx commented on #68
@yegor256 I agree. Closed #95.

[2017-06-19 15:12] #68 closed

[2017-06-19 17:59] #44 closed

[2017-06-19 21:40] #43 closed

[2017-06-20 05:23] yegor256 opened #183 "RetryFunc"
Let's create a func that retries on failure.

[2017-06-20 07:36] yegor256 commented on #183
done in #184

[2017-06-20 07:36] #183 closed

[2017-06-20 08:27] yegor256 opened #185 "HeadOf and TailOf"
We have `SkippedIterable` now. I'm suggesting to rename it to `HeadOf` and introduce a new one: `TailOf`. `HeadOf` will make an iterable of a certain head portion of the iterable, while `TailOf` will do the same with the tail of it.

[2017-06-20 10:47] yegor256 commented on #180
fixed in #186

[2017-06-20 10:47] #180 closed

[2017-06-20 17:26] #144 closed

[2017-06-20 17:26] #36 closed

[2017-06-20 17:40] yegor256 commented on #179
done in #188

[2017-06-20 17:40] #179 closed

[2017-06-21 05:31] #112 closed

[2017-06-21 05:31] yegor256 commented on #112
@smallcreep thanks!

[2017-06-21 05:42] yegor256 commented on #114
@Timmeey it's fixed, see 3f42592

[2017-06-21 05:42] #114 closed

[2017-06-21 05:42] yegor256 commented on #115
it's done, see `StickyList`

[2017-06-21 05:42] #115 closed

[2017-06-21 05:42] yegor256 commented on #113
fixed in #181

[2017-06-21 05:42] #113 closed

[2017-06-21 06:52] yegor256 commented on #85
@Timmeey see 	6a27707 This is what you need to do if you want to re-use the iterator:

[code]

[2017-06-21 06:55] yegor256 commented on #62
@englishman is this ticket still actual? I believe we can close it

[2017-06-21 08:28] yegor256 opened #189 "AllOf, AnyOf, And, Or"
Looks like we have duplicated classes: `AllOf`, `AnyOf`, `And`, `Or`. Let's get rid of `AllOf` and `AnyOf`. Let's not forget to update `README.md`.

Also, I'm not sure about `IterableAsBoolean`. Looks like we have to remove it and just add more ctors to `And`.

[2017-06-21 08:52] yegor256 opened #190 "MapEntry"
Let's create a simple class `MapEntry`, similar to `AbstractMap.SimpleEntry`.

[2017-06-22 05:03] yegor256 opened #193 "SplitText"
Let's create `SplitText`, which will do what `String.split()` is doing:

[code]

[2017-06-22 07:22] yegor256 commented on #189
@rultor release, tag is `0.8`

[2017-06-22 07:22] rultor commented on #189
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12062-310297922)

[2017-06-22 07:33] rultor commented on #189
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12062-310297922) (took me 10min)

[2017-06-22 07:33] #189 closed

[2017-06-22 10:27] fabriciofx opened #194 "SubText"
Let's create `SubText`, which will do what String.substring() is doing:

[code]
And `line`will be equal to `llo wor`

[2017-06-22 10:27] 0crat commented on #194
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-22 10:44] fabriciofx opened #196 "TruncatedText"
Let's create `TruncatedText`, which will do what StringUtils.truncated() in [Apache Commons](https://commons.apache.org/proper/commons-lang/apidocs/org/apache/commons/lang3/StringUtils.html#truncate-java.lang.String-int-int-) doing:
[code]
And `truncated` will be equal to `hello wo`

[2017-06-22 10:44] 0crat commented on #196
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-22 10:55] fabriciofx opened #198 "AbbreviatedText"
Let's create `AbbreviatedText`, which will do what StringUtils.abbreviate() in [Apache Commons](https://commons.apache.org/proper/commons-lang/apidocs/org/apache/commons/lang3/StringUtils.html#abbreviate-java.lang.String-int-int-) doing:
[code]
And `abbreviated` will be equal to `hello wo...`

[2017-06-22 10:55] 0crat commented on #198
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-22 11:31] fabriciofx commented on #193
@yegor256 I'll handle it. I'll submit a PR in few minutes.

[2017-06-22 11:35] alex-semenyuk commented on #193
Sorry @fabriciofx. Already submitted PR, but will be appreciate your review on PR.

[2017-06-22 11:36] fabriciofx commented on #193
@alex-semenyuk Not problem! :)

[2017-06-22 11:48] fabriciofx opened #201 "NormalizedText"
Let's create `NormalizedText`, which will do what StringUtils.normalize() in [Apache Commons](https://commons.apache.org/proper/commons-lang/apidocs/org/apache/commons/lang3/StringUtils.html#normalizeSpace-java.lang.String-) doing:
[code]
And `normalized` will be equal to `hello world`

[2017-06-22 11:48] 0crat commented on #201
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-22 11:57] fabriciofx commented on #193
@alex-semenyuk @yegor256 I'm sorry, but should not `SplitText` return an `Iterable<Text>` instead of `Iterable<String>`?

[2017-06-22 12:04] fabriciofx opened #203 "RepeatedText"
Let's create `RepeatedText`, which will do what StringUtils.normalize() in [Apache Commons](https://commons.apache.org/proper/commons-lang/apidocs/org/apache/commons/lang3/StringUtils.html#repeat-java.lang.String-int-) doing:
[code]
And `repeated` will be equal to `hellohello`

[2017-06-22 12:04] 0crat commented on #203
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-22 12:15] fabriciofx opened #205 "JoinedText"
Let's create `JoinedText`, which will do what String.join() in doing:
[code]
And `joined` will be equal to `hello world`

[2017-06-22 12:15] 0crat commented on #205
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-22 13:06] fabriciofx opened #207 "Eclipse cannot infer type arguments for MappedIterable (in AndTest)"
Apparently, Eclipse IDE can not infer type arguments for `MappedIterable` in `AndTest`, imply an error in the project. I'm using Eclipse Neon.3 (4.6.3).

[2017-06-22 13:06] 0crat commented on #207
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-22 18:36] yegor256 commented on #207
@fabriciofx can you provide a full error message?

[2017-06-22 21:41] fabriciofx commented on #203
Closed by #204

[2017-06-22 21:41] #203 closed

[2017-06-22 21:49] fabriciofx commented on #207
@yegor256 As you requested:

[code]

[2017-06-23 05:52] yegor256 opened #208 "UncheckedInput, UncheckedOutput"
Let's introduce them. I'll do it now.

[2017-06-23 06:05] yegor256 opened #209 "NoNulls"
We have `NotNullInput` and `NotNullOutput` now. I don't find this design sufficient enough. Let's introduce embedded classes for all interfaces and call them `NoNulls`. For example, `Func.NoNulls`. It will wrap a `Func` and throw NPE every time a `null` is coming in to any method or going out from any method.

Let's move `NotNullInput` to `Input.NoNulls` and `NotNullOutput` to `Output.NoNulls`.

[2017-06-23 11:03] fabriciofx commented on #209
@yegor256 I'm sorry, but why put them into interfaces? Why not just create classes outside called `InputNoNulls` and `OutputNoNulls`? I belive interfaces must be simplest possible, without any classes inside them.

[2017-06-23 12:18] ixmanuel opened #211 "Use .value () instead of .asValue ()"
Why not use .value () instead of .asValue ()

new BytesAsInput().value()
new TextAsBytes().value()
new StringAsText().value()

Why the suggestion? Because TextAsBytes is clearly described, you are not going to add more functionality to that object. This object is precise and thus, the only way to express by itself is by its value. It doesn't need to be converted .asValue(), it is the value per se.

[2017-06-23 12:18] 0crat commented on #211
@ixmanuel I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-23 17:06] yegor256 opened #213 "RetryScalar"
Let's create `RetryScalar` similar to `RetryFunc`. I'll do it.

[2017-06-23 18:07] yegor256 commented on #213
@rultor release, tag is `0.8.1`

[2017-06-23 18:08] rultor commented on #213
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12090-310734928)

[2017-06-23 18:18] rultor commented on #213
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12090-310734928) (took me 10min)

[2017-06-23 18:35] #213 closed

[2017-06-23 18:38] yegor256 commented on #211
@ixmanuel I agree, let's do it.

[2017-06-23 18:42] #208 closed

[2017-06-23 19:23] memoyil commented on #209
Ok I'll do it

[2017-06-23 19:28] fabriciofx commented on #209
@memoyil Please, could you wait for @yegor256 comment about put the classes inside or outside the interfaces? Thanks in advance!

[2017-06-23 19:30] memoyil commented on #209
@fabriciofx Sure

[2017-06-23 19:36] fabriciofx commented on #205
Closed by #206.

[2017-06-23 19:36] #205 closed

[2017-06-23 19:44] fabriciofx commented on #201
Closed by #202 .

[2017-06-23 19:44] #201 closed

[2017-06-23 19:47] fabriciofx commented on #49
@yegor256 I think you can close this issue, because these commits have been opened as individual issues. WDYT?

[2017-06-23 21:21] dgroup opened #215 "org.cactoos.text.FormattedText#asString contains IOException in the signature"
Hello team,

Could you please clarify why `org.cactoos.text.FormattedText#asString` method contains IOException in the signature?

Let's have a look into example from `readme.md`
[code]
That's looks very pretty and elegant, but, when we are trying to use it we have to handle exception
[code]

[2017-06-23 21:21] 0crat commented on #215
@dgroup I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-23 21:30] fabriciofx commented on #215
@dgroup Imagine you will implements a class that read/write in a socket or a file. If you can not do it, an IOException will be throw. Anyway, you can use `UncheckedText`, like:
[code]
and you won't need `catch` the `IOException`.

If you're satisfied with this explaination, please consider close this ticket.

[2017-06-23 22:33] VsSekorin opened #216 "Range"
Let's create `IntRange`. Range of integer number (Z).

[2017-06-23 22:33] 0crat commented on #216
@vssekorin I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-23 23:28] fabriciofx commented on #1
@pgermosen Do you agree with this solution? If yes, could you close this issue? If not, could you explain why not? Thanks for your attention!

[2017-06-23 23:30] fabriciofx commented on #5
@yegor256 Have been past 21 days. What do you think to close this issue? Thanks for your attention!

[2017-06-23 23:32] fabriciofx commented on #4
@nbardiuk Do you agree with this solution? If yes, could you please close this issue? If not, could you explain why not? Thanks for your attention!

[2017-06-23 23:34] fabriciofx commented on #6
@englishman `IsBlank` was accepted and we're opening an issue for each `StringUtils` method implementation.  So, do you agree with this solution? If yes, could you please close this issue? If not, could you explain why not? Thanks for your attention!

[2017-06-24 02:33] fabriciofx opened #221 "Abs"
Let's implements `Abs`, that returns the same of `Math.abs()`.

[2017-06-24 02:33] 0crat commented on #221
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-24 03:44] memoyil commented on #221
ok i'll do it

[2017-06-24 03:51] fabriciofx commented on #221
@memoyil I'm sorry, but I've finished it. Bu I'll appreciate your review! :)

[2017-06-24 04:47] fabriciofx commented on #56
@yegor256 Could you check the latest comments in the PR?

[2017-06-24 08:39] memoyil commented on #209
@fabriciofx Hello I thought that your comment about making different class named InputNoNulls etc. has not any difference than current attitude except name difference. But making them inside an interface much more better behavior i think.

[2017-06-24 08:57] alex-semenyuk commented on #207
Seems this bug of Eclipse Neon https://bugs.eclipse.org/bugs/show_bug.cgi?id=497193 and related https://bugs.eclipse.org/bugs/show_bug.cgi?id=496579?

[2017-06-24 10:37] fabriciofx commented on #209
@memoyil I belive interfaces are a core concept in true OO, so they should be the simplest possible. By "most simplest" I mean only method signatures and (if necessary) some constants. The reason it's because interfaces are types, so they should be more stable than classes. When you put classes inside them, you increase the risk to change this interface. Yeah, I know problem is change the interfac

[2017-06-24 11:06] dgroup commented on #215
@fabriciofx, thank you!

[2017-06-24 11:06] #215 closed

[2017-06-24 11:08] memoyil commented on #209
@fabriciofx  We should discuss this interface attitude in the problem level. Because of not nulling have to span all methods inputs and outputs, I think we should put them into interface because the problem is at type level. So the solution should be at type level.

[2017-06-24 12:26] nbardiuk commented on #4
I am looking for more universal way to handle exceptions. @Timmeey example is good for specified problem.

So for now it looks like users of library need to write specific decorator for every case they are going to handle exceptions.

[2017-06-24 12:26] #4 closed

[2017-06-24 15:04] memoyil opened #224 "Base64 Decoder"
Lets make Base64 Decoder

[2017-06-24 15:04] 0crat commented on #224
@memoyil I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-24 15:11] memoyil commented on #224
Pullrequest of this issue #223

[2017-06-24 15:54] fabriciofx opened #225 "Porting Takes codecs to Cactoos"
Let's port [Takes](http://www.takes.org) [codecs](https://github.com/yegor256/takes/tree/master/src/main/java/org/takes/facets/auth/codecs) to Cactoos. @yegor256 WDYT?

[2017-06-24 15:54] 0crat commented on #225
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-24 19:57] memoyil commented on #225
Great Idea !

[2017-06-24 20:16] fabriciofx commented on #225
@memoyil This idea was inspired by your work in `Base64DecodedText`. Do you like to do this port? If yes, I suggest you to create a pair of issue/PR to each codec. WDYT?

[2017-06-24 21:18] memoyil commented on #225
@fabriciofx  I am OK but I think we should wait @yegor256 ideas about this issue.

[2017-06-24 22:44] fabriciofx commented on #225
@memoyil Yeah, I agree. Let's wait.

[2017-06-25 00:30] fabriciofx opened #226 "Fix typos in README"
Let's fix some typos in README.

[2017-06-25 00:30] 0crat commented on #226
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-25 00:41] fabriciofx opened #228 "Question: Could anyone explain me Codecov?"
Could anyone explain me Codecov? Sometimes I don't understand how it works. For example, the PR #218, I just renamed `asValue()` method to `value()` and this change don't pass in Codecov coverage tests. Thanks in advance.

[2017-06-25 00:41] 0crat commented on #228
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-25 05:52] yegor256 commented on #225
@fabriciofx yes, definitely, let's move them in here.

[2017-06-25 06:52] yegor256 commented on #209
@fabriciofx I agree with @memoyil This `NoNulls` thing/class is more like a "type invariant", which, if Java would be smarter, would stay more organically closer to the interface. In other words, it's not a class by itself, but a feature of the interface. I still think we need to put them inside the interface.

[2017-06-25 08:10] smallcreep commented on #111
@yegor256 please close it.

[2017-06-25 08:10] #135 closed

[2017-06-25 08:16] memoyil commented on #209
Ok, I'll do it

[2017-06-25 08:25] memoyil opened #229 "Put compareTo method inside interface"
Why not we put compareTo method inside to Text as an default method?

[2017-06-25 08:25] 0crat commented on #229
@memoyil I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-25 14:41] fabriciofx commented on #226
Closed by #227.

[2017-06-25 14:41] #226 closed

[2017-06-25 14:50] fabriciofx commented on #229
@memoyil I'm sorry, but I'm against default methods. IMHO, interfaces must be implementation free (just methods signatures and constants).

[2017-06-25 15:07] fabriciofx commented on #209
@yegor256 Ok. Thanks for your explanation.

[2017-06-25 15:08] fabriciofx commented on #56
Closed #219

[2017-06-25 15:11] fabriciofx commented on #225
@yegor256 Ok. @memoyil Would you like implement this porting? :)

[2017-06-25 17:48] #216 closed

[2017-06-25 18:11] memoyil commented on #225
@fabriciofx OK, I will move them here

[2017-06-25 18:16] VsSekorin opened #230 "Total"
Let's create `IntTotal `and `RealTotal`. I'll do it now.

[2017-06-25 18:16] 0crat commented on #230
@vssekorin I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-25 20:45] fabriciofx opened #233 "Update README caused by change API"
The API was changed (asValue() -> value()), to let's update the README.

[2017-06-25 20:45] 0crat commented on #233
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-25 23:55] ixmanuel opened #235 "AsciiText"
Transliterate an unicode text to ASCII.
[code]

_It is a requirement to write SluggedText_

[2017-06-25 23:55] 0crat commented on #235
@ixmanuel I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-26 11:41] VsSekorin opened #237 "Multiplication"
Let's create `IntMultiply` and `RealMultiply`. I'll do it now.

[2017-06-26 11:41] 0crat commented on #237
@vssekorin I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-26 11:53] VsSekorin opened #239 "Math package"
Maybe we need to add a package for math? We already have several classes that we can put in it. And they will be added.

[2017-06-26 11:53] 0crat commented on #239
@vssekorin I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-26 14:13] fabriciofx commented on #239
@VsSekorin Please, check Yegor's comments in #222 PR. WDYT?

[2017-06-26 14:22] fabriciofx commented on #207
@yegor256 Could you review the PR and if it's ok do a merge? Thanks in advance!

[2017-06-26 15:21] mdbs99 commented on #209
I agree with @fabriciofx, ie, interfaces should be as simple as possible.
However, I like this syntax `Input.NoNulls` because is elegant and gives to the programmer some tips using code completion.
In other hand, what the limit? May I put all "cool" classes inside the interface? Some classes won't part of the interface but others will.
So I see two ways to write code and, IMHO, this is not good.

[2017-06-26 15:48] fabriciofx commented on #209
@mdbs99 I agree with you. The syntax is ok, but what I put or not put in a interface? I follow the approach "less is more", especially to interfaces. Other point of view: `InputNoNulls` is a kind of `Input` implementation and it checks if an `Input` is `null` or not. And IMHO, implementation must be outside interfaces. @yegor256 Makes sense?

[2017-06-26 15:53] mdbs99 commented on #209
Could `NoNull` be a generic to work with all classes?

[2017-06-26 15:58] fabriciofx commented on #209
@mdbs99 I don't think so, because `Input`, `Output` and others have different types and numbers of parameters and the goal of `NoNulls` is check their parameters.

[2017-06-26 16:02] mdbs99 commented on #209
Ahh not only the instance itself, but its state. I got it.

Well could be `NotNullInput` which already exists or — as I like to maintain the same prefix to use IDE code completion — `InputWithNoNulls`.

[2017-06-26 16:30] fabriciofx commented on #196
Closed this issue in favor of SubText (issue #194 ).

[2017-06-26 16:30] #196 closed

[2017-06-26 16:32] fabriciofx commented on #209
@mdbs99 I liked `InputNoNulls` is shorter than `InputWithNoNulls`... 😄

[2017-06-26 17:29] mdbs99 commented on #209
@fabriciofx yeah, but semantically it's wrong.
`SafeInput` is another option, but the prefix was changed again.

[2017-06-26 17:41] fabriciofx commented on #209
@mdbs99 Yeah, but the initial proposal was name it to `Input.NoNulls`, so a class called `InputNoNulls` IMHO, it's the same thing. But `SafeInput` it's an another option too.

[2017-06-26 17:48] mdbs99 commented on #209
@fabriciofx not the same thing. The name `Input.NoNulls` is a kind of namespace, meanwhile `InputNoNulls` is just a name.

[2017-06-26 17:54] fabriciofx commented on #209
@mdbs99 You're right. `Input.NoNulls` denotes a kind of namespace. So, it's a more one argument against `Input.NoNulls`. Create objects using the fully qualified name should be avoid to all cost, IMHO.

[2017-06-26 18:00] #211 closed

[2017-06-26 20:14] yegor256 opened #240 "ReducedIterable"
Let's create `ReducedIterable` similar to what Ruby has: https://ruby-doc.org/core-2.4.1/Enumerable.html#method-i-inject I'll do it now.

[2017-06-26 20:53] yegor256 commented on #193
@alex-semenyuk thanks!

[2017-06-26 20:53] #193 closed

[2017-06-26 20:54] yegor256 opened #242 "ReverseIterable"
Let's implement `ReverseIterable` which will similar to what `Lists.reverse(List)](http://google.github.io/guava/releases/snapshot/api/docs/com/google/common/collect/Lists.html#reverse%28java.util.List%29) is doing.

[2017-06-26 22:48] fabriciofx opened #243 "SplitText as Iterable<Text>"
Let's do `SplitText` implements an `Iterable<Text>` instead of `Iterable<String>`. It's more logical a `Text` splited in several `Text`s than `String`s. I'll handle it.

[2017-06-26 22:48] 0crat commented on #243
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-27 04:03] fabriciofx opened #245 "Equals"
Let's implement `Equals`, that compares if two objects are equals or not. I'll do it.

[2017-06-27 04:03] 0crat commented on #245
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-27 17:10] yegor256 commented on #111
@smallcreep thanks!

[2017-06-27 17:10] #111 closed

[2017-06-27 17:17] yegor256 commented on #242
done in #247

[2017-06-27 17:17] #242 closed

[2017-06-27 17:39] fabriciofx opened #248 "JoinedText ctors more useful"
Let's do `JoinedText` ctors more useful, especially when working with strings. I'll handle it.

[2017-06-27 17:39] 0crat commented on #248
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-27 17:50] fabriciofx opened #250 "Let's Jacoco enforces minimum code coverage"
It's a common problem submit PRs and them not pass in Codecov. I think this problem could be minimized if Jacoco enforces minimum code coverage, as you can check [here](http://choudhury.com/blog/2014/02/25/enforcing-minimum-code-coverage/). Thus, you can check if the minimum code coverage is reach before submit your PR.

@yegor256 WDYT?

[2017-06-27 17:50] 0crat commented on #250
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-27 19:52] yegor256 commented on #250
@fabriciofx not a bad idea. Can you submit a PR?

[2017-06-27 20:20] fabriciofx commented on #250
@yegor256 Ok, I can do it, but I need know what your minimum limit for code coverage. What do you think 80%?

[2017-06-27 20:25] fabriciofx opened #251 "Let's do ReverseIterableTest use JoinedText"
Let's do `ReverseIterableTest`  use `JoinedText` instead `String.join()`. I'll do it.

[2017-06-27 20:25] 0crat commented on #251
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-27 20:28] fabriciofx commented on #245
Closed #246

[2017-06-27 20:28] #245 closed

[2017-06-27 20:33] fabriciofx commented on #248
Closed #249

[2017-06-27 20:33] #248 closed

[2017-06-27 20:45] #230 closed

[2017-06-27 20:52] fabriciofx opened #253 "Let's do StickyIteratorTest use JoinedText"
Let's do `StickyIteratorTest` use `JoinedText` instead String.join(). I'll do it.

[2017-06-27 20:52] 0crat commented on #253
@fabriciofx I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-28 04:02] fabriciofx commented on #250
@yegor256 I've set the minimum code coverage limits to actual limits (the minimal values to pass without any warnings). These values can be checked in the PR. What do you think? We should increase/decrease some value?

[2017-06-28 04:04] fabriciofx commented on #250
@englishman @Timmeey Yours comments will be appreciated in this issue!

[2017-06-28 04:19] fabriciofx commented on #207
@yegor256 Any comment about the PR #220 ?

[2017-06-28 07:47] yegor256 opened #255 "InputWithFallback"
Let's create new class `InputWithFallback` which will return an alternative input if the main one throws `IOException`. I'll do it now.

[2017-06-28 08:06] yegor256 commented on #209
My final decision: `Input.NoNulls` :) Let's do it.

[2017-06-28 08:08] yegor256 commented on #56
@fabriciofx thanks!

[2017-06-28 08:08] #56 closed

[2017-06-28 08:36] ixmanuel opened #257 "ReplacedAllText"
What do you think about?
[code]

If approved, it is already implemented and tested in #236, if not, I'll be removing it from the AsciiText.

[2017-06-28 08:36] 0crat commented on #257
@ixmanuel I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-28 10:37] fabriciofx commented on #233
Closed #234

[2017-06-28 10:37] #233 closed

[2017-06-28 11:21] yegor256 commented on #255
done

[2017-06-28 11:21] #255 closed

[2017-06-28 11:40] #5 closed

[2017-06-28 12:30] VsSekorin commented on #250
@fabriciofx Yes, it is a good idea. Thanks.

[2017-06-28 12:38] fabriciofx commented on #250
@VsSekorin Thanks, but do you have any suggestions about the code coverage limits?

[2017-06-28 13:06] VsSekorin opened #260 "Ternary ctor is ineffective"
Ternary ctor `public <X> Ternary(final X input, final Func<X, Boolean> cnd, final Func<X, T> cons, final Func<X, T> alter)` is ineffective. Because we calculate the value for both cases, but we only need one. I once created a Result #45  to solve this problem. If there are no contradictions, then I'll create a class representing the result of the function calculation.

[2017-06-28 13:06] 0crat commented on #260
@vssekorin I'm not managing this repo, remove the [webhook](https://github.com/yegor256/cactoos/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-28 14:55] yegor256 commented on #260
@VsSekorin I'm not sure I got the problem. What exactly we calculate twice?

[2017-06-28 15:09] VsSekorin commented on #260
@yegor256 Now
[code]
But only one of these values will be used.

[2017-06-28 15:18] yegor256 opened #262 "LoggingInput and LoggingOutput"
Let's introduce two new classes `LoggingInput` and `LoggingOutput`, to send messages to logs after reading and writing is done. Let's discuss a bit more, before implementing.

[2017-06-28 15:25] VsSekorin commented on #260
My bad. I misunderstood one lambda expression.

[2017-06-28 15:25] #260 closed

[2017-06-28 15:40] yegor256 commented on #255
@rultor release, tag is `0.9`

[2017-06-28 15:41] rultor commented on #255
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12180-311699876)

[2017-06-28 15:55] rultor commented on #255
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12180-311699876) (took me 14min)

[2017-06-28 16:07] yegor256 commented on #250
@fabriciofx just use the current values

[2017-06-28 17:12] fabriciofx commented on #250
@yegor256 Ok. So I'll close this issue.

[2017-06-28 17:12] #250 closed

[2017-06-28 20:47] fabriciofx commented on #262
@yegor256 "To send messages to logs" you means send messages to a [Logger](https://docs.oracle.com/javase/7/docs/api/java/util/logging/Logger.html)? And what kind information do you think important to send?

[2017-06-29 07:03] ixmanuel commented on #257
Done: https://github.com/yegor256/cactoos/pull/264

[2017-06-29 07:45] yegor256 commented on #49
@fabriciofx right, closing

[2017-06-29 07:45] #49 closed

[2017-06-29 07:47] yegor256 commented on #262
@fabriciofx yes, I was thinking about JUL logging. I would be interested to see something like this:

[code]

After this:

[code]

[2017-06-29 10:20] yegor256 opened #265 "AsyncProc"
Let's implement a `Proc` that will execute in the background. I'll do it.

[2017-06-29 10:30] fabriciofx commented on #172
Closed #263

[2017-06-29 10:30] #172 closed

[2017-06-29 10:44] yegor256 commented on #265
@rultor release, tag is `0.10`

[2017-06-29 10:45] rultor commented on #265
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12199-311930211)

[2017-06-29 10:57] rultor commented on #265
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12199-311930211) (took me 12min)

[2017-06-29 10:58] #265 closed

[2017-06-29 11:02] fabriciofx commented on #251
Closed #259.

[2017-06-29 11:02] #251 closed

[2017-06-29 14:17] fabriciofx opened #267 "Eclipse cannot infer type arguments for ChainedFuncTest"
For a change...

[2017-06-29 14:17] 0crat commented on #267
@yegor256 please, pay attention to this issue

[2017-06-29 20:41] 0crat commented on #257
@yegor256 please, pay attention to this issue

[2017-06-29 22:07] fabriciofx opened #269 "Change exception type in Max and Min to a proper exception"
Let's change `IOException` in `Max` and `Min` to `NoSuchElementException`.

[2017-06-29 22:07] 0crat commented on #269
@yegor256 please, pay attention to this issue

[2017-06-30 00:04] #224 closed

[2017-06-30 00:05] 0crat commented on #224
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-06-30 00:05] #229 closed

[2017-06-30 00:05] 0crat commented on #229
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-06-30 02:17] fabriciofx commented on #262
@yegor256 Ok. I'll handle it.

[2017-06-30 19:29] ixmanuel commented on #257
@fabriciofx I integrated ReplacedText into ReplacedAllText in order to manage any case with the same object:
[code]

WDYT?
- I'll be applying it to AsciiText as @alex-semenyuk and @memoyil recommended.
- Also, I need it for SluggedText.

The proposal is in #264

[2017-06-30 22:37] fabriciofx commented on #257
@ixmanuel It seems fine to me. Good job! :)

[2017-06-30 22:42] memoyil commented on #257
Seems good

[2017-07-01 00:03] ixmanuel commented on #257
Good. I added new constructors for iterable and collections integrated:

[code]

[2017-07-01 15:49] Timmeey commented on #262
@fabriciofx what do you think about trying to make this logging kind of generic by using functions to supply values for the log string? or maybe even supply the whole log string by a function. Not sure how that would look like. But maybe we could use something similar to this idea (pseudocode)
[code]

That way we could easily specify how the logging should work.

But i guess that might even be a h

[2017-07-01 17:01] alex-semenyuk opened #272 "Fix examples from README to make them workable."
Some of examples on README are not working for the current version. I'll fix them.

[2017-07-01 17:01] 0crat commented on #272
@yegor256 please, pay attention to this issue

[2017-07-02 01:45] ixmanuel opened #274 "Brevity: Renaming and Refactoring"
Is it pertinent to question the naming of these objects?
- ArrayAsIterable
- IterableAsList
- IterableAsMap

_In the process of writing these objects with these names is a pleasure, but, to read them? I think we could opt for brevity._

Do these objects/concepts lose their meaning? if replaced by:
- ArrayOf
- ListOf
- MapOf

Let's see them in context to see if they reduce their clarity:
[code]

**

[2017-07-02 01:45] 0crat commented on #274
@yegor256 please, pay attention to this issue

[2017-07-02 10:55] fabriciofx commented on #262
@Timmeey Your idea seems very interesting. Let's discuss it around the proposed PR code. So, if I got the ideia, you would like change the logging message dynamiclly. It's seems to change `LoggerInputStream` in `this.logger.info()`, right? But the problem is how I can pass the parameters to build the log message. WDYT?

[2017-07-02 10:57] fabriciofx commented on #267
@yegor256 Could you review this PR? Thanks!

[2017-07-02 18:31] #272 closed

[2017-07-02 18:31] 0crat commented on #272
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-07-02 19:32] #239 closed

[2017-07-02 19:33] 0crat commented on #239
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-07-03 13:47] cheparinV commented on #143
@yegor256 i'll handle this issue.

[2017-07-03 15:08] fabriciofx commented on #207
Closed #220.

[2017-07-03 15:08] #207 closed

[2017-07-03 15:13] 0crat commented on #207
Oops! Job `gh:yegor256/cactoos#207` was not in scope

[2017-07-03 15:44] fabriciofx opened #276 "Test for LowerText"
Let's implement a test for `LowerText`. I'll handle it.

[2017-07-03 17:11] yegor256 commented on #262
@0crat in

[2017-07-03 17:11] 0crat commented on #262
Job `gh:yegor256/cactoos#262` is in scope.

[2017-07-03 18:05] fabriciofx opened #278 "NoNulls for Text"
Let's move `NoNullText` into `Text`. I'll handle it.

[2017-07-03 18:24] 0crat commented on #262
Job `gh:yegor256/cactoos#262` assigned to @fabriciofx, please go ahead.

[2017-07-03 18:55] alex-semenyuk opened #280 "Test for UncheckedOutput"
Let's do test for UncheckedOutput

[2017-07-03 19:24] fabriciofx commented on #269
Closed #270 .

[2017-07-03 19:24] #269 closed

[2017-07-03 19:45] alex-semenyuk opened #282 "Extend list of contributors"
Add some contributors

[2017-07-04 04:11] ixmanuel commented on #274
@yegor256, your idea of multiple constructors can simplify this API into a highly polymorphic solution. Thus, it could be reduced the quantity of object-names for the end-developer-user.

[code]

Also asBytes() can be renamed just for bytes()
[code]

In order to test this idea I tried ReplacedAllText because ReplacedText doesn't manage regular expresions and multiple needles, then in place of one

[2017-07-04 05:20] fabriciofx commented on #274
@ixmanuel @yegor256 I liked the idea to simplify the classes name/number using multiple constructors, but I don't like the new names. Maybe `SimpleText` or `DefaultText` could be more semantic than `TextOf`, for example. Another thing is about rename `asBytes()` to `bytes()`. If you'll do it, maybe could be interesting rename `asString()` to `string()` or `content()` too. WDYT?

[2017-07-04 06:04] ixmanuel commented on #274
@fabriciofx, the suffix _Of_ is just for consistency and symmetry but also it is short and easy to remember. Compare these: ```ArrayOf("one", "two")``` and ```TextOf("one two")```. The _Of_ implies the source for the casting. Text and Array are the targets. Thus, we could imagine: ```TextOf("one")```, ```TextOf(1)```, ```TextOf(1L)```, ```TextOf(1, 2)```, ```TextOf(new Bytes(...))```.

We could al

[2017-07-04 13:20] fabriciofx opened #283 "Test for EndlessIterable"
Let's do a test for `EndlessIterable`.

[2017-07-04 13:36] fabriciofx opened #285 "Rename Neg to Not"
Let's rename `Neg` to `Not` because the word used to represent logic connective negation, as can be read [here](https://en.wikipedia.org/wiki/Logical_connective). I'll handle it.

[2017-07-04 14:10] fabriciofx opened #287 "Range for NaturalNumbers"
Let's add range support to `NaturalNumbers`. I'll handle it.

[2017-07-04 14:32] VsSekorin opened #289 "Length of text"
Let's create `LengthOfText`

[2017-07-04 15:01] fabriciofx commented on #209
Closed #258.

[2017-07-04 15:28] fabriciofx commented on #190
@yegor256 Could you close this PR, please?

[2017-07-04 15:29] fabriciofx commented on #209
@yegor256 Could you review it now? Thanks in advance!

[2017-07-04 15:46] mdbs99 commented on #274
@ixmanuel I believe that is a good idea, but I'm not sure if it is possible.
I'm not a Java programmer so, forgive me if I'm wrong:
Let's talk about `TextAsInt`, `TextAsDouble`, and `TextAsFloat`.
Each class implements `Scalar<...>` and override `public <...> value()` so I ask you: How we can have just one class `TextOf` and return different types in `value()`?

[2017-07-04 16:43] ixmanuel commented on #274
I think the proposal goes in the opposite direction, in place of returning different types, you can initialise with different types and return the value with the expected type.
[code]

For the cases you mentioned it could be:
[code]

[2017-07-04 18:00] mdbs99 commented on #274
@ixmanuel touché. You're right. I liked.

Another option is using "AsXxx":
[code]
It looks like the first approach which means more semantically "polimorphic".
Using `DoubleOf` looks that the object will work with data, not with another object.

What do you think?
What do you prefer?

[2017-07-04 18:49] ixmanuel commented on #274
@mdbs99 I think both are ok. But, to keep the original idea objectAsRole, we could let your suggestion.

[2017-07-04 18:56] mdbs99 commented on #274
@ixmanuel I agree with you, both are ok.

@fabriciofx @yegor256 do you have any suggestion?

[2017-07-04 19:18] mdbs99 commented on #274
@ixmanuel I have another question.
In your example above you've wrote:
[code]
`InputOf` receives a `File` but could be a `Resource`, `Bytes`, `Path`, etc.
My question is: What type will you use to state keep the `InputOf` state? I mean, what type will be use in private attribute of `InputOf`?

You shouldn't use code inside constructors. If you will use just `new...(new...(new...))` you may choose

[2017-07-04 20:11] fabriciofx commented on #274
@mdbs99 @ixmanuel I prefer prefix than suffix, thus `AsXXXX` is better than `XXXXOf`. But I've afraid to use names that mean what the object *does* than what the object *is*. So, we should choice names carefully.

[2017-07-04 20:18] mdbs99 commented on #274
@fabriciofx

Well, in that way, I think both names mean what objects will do...

[2017-07-04 20:38] fabriciofx commented on #274
@mdbs99 I think so, too but what are the alternatives?

[2017-07-04 20:47] mdbs99 commented on #274
@fabriciofx before answer you, I would like to know about my question here https://github.com/yegor256/cactoos/issues/274#issuecomment-312937367

[2017-07-04 21:47] ixmanuel commented on #274
@mdbs99, @fabriciofx ObjectAsRole expresses in a very high level what the object does and ObjectOf expresses its origin, its relationship, not what it does. The object "is" in relationship _Of_ one object _To_ another one. I don't see any explicit or underlying meaning that TextOf expresses what it does.

If you see TextOf, do you know what does it do? explicitly no,  do you know what is its origi

[2017-07-05 01:34] mdbs99 commented on #274
@ixmanuel Ok... and what about my previous question, do you have any comment?
https://github.com/yegor256/cactoos/issues/274#issuecomment-312937367

[2017-07-05 03:24] ixmanuel commented on #274
@fabriciofx Could you elaborate why do you see, e.g., TextOf, ArrayOf as names that represent what they do in place of what are they?

[2017-07-05 04:17] fabriciofx commented on #274
@ixmanuel @mdbs99 *Theoretically* I think it could be done. But I'll be 100% sure if I implement them.

[2017-07-05 04:28] funivan commented on #274
Hello everyone. My example:
[code]
Can some one explain me why we should write `Of` or `As` in the class names? Thanks.

[2017-07-05 04:41] fabriciofx commented on #274
@funivan Because `Text`, `Bytes` and `Input` are interfaces and it's important (IMHO) separate implementation and types (interfaces). This make the design more maintainable.

[2017-07-05 05:07] ixmanuel commented on #274
@funivan and also there are some conflicts with the JDK, like Array and Map.

[2017-07-05 05:15] funivan commented on #274
`TextOf` is better for me and my team mates ;)

[2017-07-05 06:00] ixmanuel commented on #274
#274 (comment)

I think the base design of the cactoos is very flexible and consistent. So we could do it:

[code]

[2017-07-05 10:51] fabriciofx commented on #274
@ixmanuel I thought idea was created `Input` and delete all other input classes....

[2017-07-05 12:29] mdbs99 commented on #274
@ixmanuel as @fabriciofx said before, the objective is eliminate all `XxxxAsYyyy`. Using your example this is not possible to have only the `InputOf` class.

[2017-07-05 12:51] ixmanuel commented on #274
@fabriciofx, @mdbs99: A little of context. In the origin of this issue I just was presenting: "Brevity for some iterables", then @yegor256 requested a full list of names and then, I realised:

Then, I provided a support:

[code]

As @fabriciofx had reviewed it, I thought we were in the same context. You can see it the implementation at: https://github.com/yegor256/cactoos/pull/264/files

[2017-07-05 12:58] mdbs99 commented on #274
@ixmanuel if I understood you, your proposal is having a "layer object" to work with the "real objects". Am I right?

[2017-07-05 12:59] fabriciofx commented on #274
@mdbs99

Although I've said "I thought idea was create Input and delete all other input classes" it not means it can't be done. It can be done (easily) using lambda in the constructors instead actual classes.

[2017-07-05 13:01] mdbs99 commented on #274
@fabriciofx could you provide an example?

[2017-07-05 13:07] fabriciofx commented on #274
@mdbs99 Sure:
[code]
I don't know if this code compiles, but I think you got the idea. :)

[2017-07-05 13:49] mdbs99 commented on #274
@fabriciofx I believe I understood but you're using statements inside constructors. When you call `.toFile`, `.value`, etc you're executing those methods as procedures, antecipating the behavior of these objects before having your own object — an `InputOf` instance.

Following the idea that we shouldn't have statements, ie, only create and combine objects, I think your approach violates this idea,

[2017-07-05 13:56] fabriciofx commented on #274
@mdbs99 They arent't statements. They're lambda constructors and works like new anonymous class. For example:
[code]
Is equal to:
[code]

[2017-07-05 14:24] ixmanuel commented on #274
@mdbs99, @fabriciofx. The implementation tha I tried is based on: http://www.yegor256.com/2017/01/31/decorating-envelopes.html

[2017-07-05 15:19] mdbs99 commented on #274
@fabriciofx

First you should change `file` to `src`...
And yes, you're right. I've searched about Java lambda and I concluded that `file.value()` isn't call.
Using this approach, maybe you can have a Function<> as state of the object, instead of declare many constructors... but I'm note sure about it.

[2017-07-05 18:01] fabriciofx commented on #274
@mdbs99

It's a typo. I'll fix it. Thanks!

What's the problem with many constructors? Maybe `Function<>` will add more complexity unnecessarily... WDYT?

[2017-07-05 18:04] fabriciofx commented on #274
@funivan

Could you explain why it's better? Thanks in advance!

[2017-07-05 18:47] mdbs99 commented on #274
@fabriciofx

I don't know Java syntax very well so... I don't know.
Do you see another way to change all classes to use just one of each — as was proposed — but not using lambda?

[2017-07-05 20:40] fabriciofx commented on #274
@mdbs99 I can see three ways:
1. You can use lambda;
2. You can use an anonymous class
3. You can implement an apropriate classe

The 3) is what we want avoid.  1) is the proposed solution. So, we have left 2).

[2017-07-07 00:32] fabriciofx opened #292 "NoNulls for Scalar<T>"
Let's implement NoNulls for `Scalar<T>`. I'll handle it.

[2017-07-07 16:30] fabriciofx opened #294 "NoNulls for Bytes"
Let's implement `NoNulls` for `Bytes`. I'll handle it.

[2017-07-07 17:28] ixmanuel commented on #274
# Review
### Naming?
@fabriciofx disagree with the _Of_ preposition proposal and herein are some reflections:

Nothing is disconnected; Life can only exist in the relationship; I interpret the cosmo-yegor-vision as the relationship-in-flexible-composition; And also _Of_ expresses a cause and the constitution of something:

but it might more appropriate for collections. Thus, TextOf could be rename

[2017-07-07 19:21] fabriciofx opened #296 "NoNulls for BiFunc"
Let's implement `NoNulls` to BiFunc. I'll handle it.

[2017-07-07 19:45] fabriciofx opened #298 "NoNulls for Proc"
Let's implement `NoNulls` for `Proc`. I'll handle it.

[2017-07-08 12:09] fabriciofx commented on #285
Closed #286.

[2017-07-08 12:09] #285 closed

[2017-07-08 12:11] fabriciofx commented on #287
Closed #288.

[2017-07-08 12:11] #287 closed

[2017-07-08 12:15] fabriciofx commented on #276
Closed #277.

[2017-07-08 12:15] #276 closed

[2017-07-08 12:16] fabriciofx commented on #283
Closed #284.

[2017-07-08 12:16] #283 closed

[2017-07-08 14:13] php-coder opened #301 "Consider to automate code review with Danger"
It's possible to automate code review process with Danger (see http://danger.systems). Even if only some of the very basic checks will be preformed automatically, it provides a faster feedback and also it allows for reviewers to focus only on major defects.

CC @yegor256

[2017-07-08 16:38] fabriciofx commented on #274
@ixmanuel Nice review! I agree with it. Thanks!
@yegor256 Could you give us your opinion about it?

[2017-07-08 21:31] fabriciofx commented on #209
@yegor256 This code was merged. Could you close it? Thanks in advance!

[2017-07-09 17:25] mdbs99 commented on #274
@ixmanuel was a nice review.
Guys, I've been thinking on this issue for a while and my conclusion is:
1. IMHO using lambda as proposed by @fabriciofx is not a good idea because it is not object-oriented design. It is a math function, not object.
2. However, it is not possible to have just one object `ObjectOf` for each entity (eg: `Input`, `Text`, etc) without using lambda. So, the better approach

[2017-07-09 17:46] yegor256 opened #302 "Two new ctors for IterableAsMap"
Let's combine `MappedIterable` and `IterableAsMap`

[2017-07-09 17:46] yegor256 commented on #302
@0crat assign me

[2017-07-09 18:11] fabriciofx commented on #274
@mdbs99 I'm sorry, but I think you didn't get the lambda's idea. Those lambda constructions work like anonymous classes. We can use them or use lambda instructions. The main difference is using lambda is cleaner than using anonymous classes. Thus, I vote for use lambda instructions and delete those other classes (like `FileAsInput, `ByteAsInput etc.). And yes, I agree with you: `EntitiyOf` is bett

[2017-07-09 18:15] fabriciofx commented on #298
Closed #300.

[2017-07-09 18:15] #298 closed

[2017-07-09 18:28] fabriciofx commented on #278
Closed #279.

[2017-07-09 18:28] #278 closed

[2017-07-09 18:33] yegor256 commented on #302
done in #303

[2017-07-09 18:33] #302 closed

[2017-07-09 18:36] yegor256 opened #304 "InputHasContent"
Let's add a new matcher: `InputHasContent`

[2017-07-09 18:55] fabriciofx commented on #292
Done in #293.

[2017-07-09 18:55] #292 closed

[2017-07-09 18:55] fabriciofx commented on #294
Done in #295.

[2017-07-09 18:55] #294 closed

[2017-07-09 19:00] fabriciofx commented on #296
Done in #297.

[2017-07-09 19:00] #296 closed

[2017-07-09 19:13] #280 closed

[2017-07-09 20:30] yegor256 commented on #304
@rultor release, tag is `0.11`

[2017-07-09 20:30] rultor commented on #304
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12323-313952544)

[2017-07-09 20:31] #282 closed

[2017-07-09 20:40] rultor commented on #304
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12323-313952544) (took me 9min)

[2017-07-09 20:45] #304 closed

[2017-07-09 21:40] andriyshevchenko commented on #1
Don't you like the regular foreach yet present in java language? No lambdas needed. Dont make things too complex.

[2017-07-10 09:18] yegor256 commented on #209
@fabriciofx thanks!

[2017-07-10 09:18] #209 closed

[2017-07-10 09:53] yegor256 commented on #289
@VsSekorin what's wrong with `.toString().length()`?

[2017-07-10 09:54] yegor256 commented on #253
@0crat assign @fabriciofx

[2017-07-10 18:26] yegor256 commented on #190
@fabriciofx thanks!

[2017-07-10 18:26] #190 closed

[2017-07-10 18:26] 0crat commented on #190
Oops! Job `gh:yegor256/cactoos#190` was not in scope

[2017-07-10 19:46] fabriciofx commented on #267
Closed #268.

[2017-07-10 19:46] #267 closed

[2017-07-10 19:46] 0crat commented on #267
Oops! Job `gh:yegor256/cactoos#267` was not in scope

[2017-07-10 20:01] yegor256 commented on #274
@ixmanuel I like the `*Of` naming. And I like the list of names you suggested above. I would like to start with `InputOf` and see how it goes.

[2017-07-10 20:07] fabriciofx commented on #274
@yegor256 This issue will break the API and I know it's ok, but could you review/accept the pendent PRs before accept this future PRs? Thanks in advance.

[2017-07-10 22:23] andriyshevchenko commented on #289
It's too procedural.

[2017-07-11 08:58] fabriciofx commented on #194
Closed #195.

[2017-07-11 08:58] #194 closed

[2017-07-11 08:58] 0crat commented on #194
Oops! Job `gh:yegor256/cactoos#194` was not in scope

[2017-07-11 08:59] fabriciofx commented on #253
Closed #307.

[2017-07-11 08:59] #253 closed

[2017-07-11 08:59] 0crat commented on #253
Oops! Job `gh:yegor256/cactoos#253` was not in scope

[2017-07-11 09:27] VsSekorin commented on #289
@yegor256 I think this is more object-oriented. I create an object Scalar that is the length of the text.
[code]
or
[code]
Instead of taking the string from the text, then take its length, and then wrap the result in a scalar.
[code]
or
[code]

Also I always use only primitive cactoos, and do not jump Scalar -> Integer -> Scalar.

[2017-07-11 15:46] fabriciofx opened #308 "Equality"
Let's implement `Comparison` like can see [here](http://www.yegor256.com/2017/07/11/how-to-redesign-equals.html). I'll handle it.

[2017-07-11 18:19] yegor256 commented on #308
@fabriciofx right, let's do it.

[2017-07-11 18:20] yegor256 commented on #308
@fabriciofx but let's call it `Equality`

[2017-07-11 18:24] fabriciofx commented on #308
@yegor256 Ok!

[2017-07-11 19:10] fabriciofx commented on #308
@yegor256 Could you review the PR? Thanks!

[2017-07-11 20:59] ixmanuel commented on #274
@yegor256. Let me make a proof of concept. Later I'll be publishing the PR.

[2017-07-12 00:57] fabriciofx opened #310 "Update objects vs. their static methods table"
Lets's update objects vs. their static methods table. I'll handle it.

[2017-07-12 12:44] yegor256 commented on #310
@0crat assign @fabriciofx

[2017-07-12 12:44] 0crat commented on #310
@https://api.github.com/users/yegor256 Job `gh:yegor256/cactoos#310` assigned to @fabriciofx, please go ahead.

[2017-07-12 13:57] ixmanuel commented on #274
@fabriciofx, @yegor256  With PR #312 modelled with "Decorating envelopes" the API is not broken but , we could update some tests related to InputOf instead of having InputOfTest repeating the tests.

[2017-07-12 14:17] fabriciofx commented on #274
@ixmanuel My idea was create a class like `InputOf` using lambda functions instead of all other classes and after that we could delete them. Thus, we have only one class instead of a bunch of them. WDYT?

[2017-07-12 15:16] ixmanuel commented on #274
I just didn't want to be intrusive. The proposal was about renaming the API's names only, but let me review it again.

[2017-07-12 15:25] ixmanuel commented on #274
@mdbs99 I'll try to replace ObjectWithThing with ObjectOf, I have some of them. Thanks.

[2017-07-12 16:58] mdbs99 commented on #274
@ixmanuel I'll do the same :)
So, thank you.

[2017-07-13 11:25] #289 closed

[2017-07-13 11:25] 0crat commented on #289
Oops! Job `gh:yegor256/cactoos#289` was not in scope

[2017-07-13 15:46] fabriciofx opened #313 "Immutable Collections"
Let's implement immutable collections in Cactoos. I'm thinking in something simple like [`Array`](https://github.com/jcabi/jcabi-immutable/blob/master/src/main/java/com/jcabi/immutable/Array.java) but I'm not sure if our collections should or shouldn't implements JDK `List`. I'm thinking just implement `Iterable`.

@yegor256 What do you think?

[2017-07-14 03:59] ixmanuel opened #314 "RegexText"
Returning a valid regular expression.

Here it is the request, thanks @fabriciofx.

[2017-07-14 05:03] ixmanuel opened #316 "New tests for FormattingTextTest"
Missed branches from zero to 50% and 84% for missed instructions.

[2017-07-14 10:58] fabriciofx commented on #225
@memoyil Any news about this issue?

[2017-07-14 11:23] memoyil commented on #225
@fabriciofx I will have a commit today.

[2017-07-14 11:24] fabriciofx commented on #225
@memoyil Ok. Thanks!

[2017-07-17 06:30] yegor256 opened #318 "bug in InputAsBytes"
There is a bug in `InputAsBytes`: big files are not read properly.

Watch this video too: https://www.youtube.com/watch?v=Mj1gA5mEk68

[2017-07-17 07:47] yegor256 commented on #318
fixed in #319

[2017-07-17 07:47] #318 closed

[2017-07-17 07:47] 0crat commented on #318
Oops! Job `gh:yegor256/cactoos#318` was not in scope

[2017-07-18 09:59] yegor256 commented on #313
@fabriciofx yes, it's a good idea, but we already have them in [jcabi-immutable](http://immutable.jcabi.com/index.html). Maybe we can make similar classes in Cactoos, but with some additional functionality?

[2017-07-18 09:59] yegor256 commented on #240
done in #241

[2017-07-18 09:59] #240 closed

[2017-07-18 09:59] 0crat commented on #240
Oops! Job `gh:yegor256/cactoos#240` was not in scope

[2017-07-18 10:00] yegor256 commented on #318
@rultor release, tag is `0.11.1`

[2017-07-18 10:00] rultor commented on #318
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12388-316017052)

[2017-07-18 10:11] rultor commented on #318
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12388-316017052) (took me 10min)

[2017-07-18 10:36] memoyil commented on #225
@fabriciofx Hello I created a pull request. I put 2 implementations. When we made a compromise on these I can implement all of them.

[2017-07-18 12:16] yegor256 opened #321 "SlowInputStream needs refactoring"
`SlowInputStream` is not re-usable. I'll fix it now.

[2017-07-18 12:54] yegor256 commented on #321
@rultor release, tag is `0.11.2`

[2017-07-18 12:57] rultor commented on #321
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12392-316054639)

[2017-07-18 13:07] rultor commented on #321
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12392-316054639) (took me 11min)

[2017-07-18 13:10] #321 closed

[2017-07-18 13:10] 0crat commented on #321
Oops! Job `gh:yegor256/cactoos#321` was not in scope

[2017-07-18 14:11] fabriciofx commented on #313
@yegor256 To be honest, I'd like to implement [Persistent Data Structures (PDS)](https://en.wikipedia.org/wiki/Persistent_data_structure) as immutable list, set, etc. But maybe it fit better in another library. WDYT?

[2017-07-18 16:07] yegor256 commented on #313
@fabriciofx but we have them already in jcabi, right? Or I miss the idea? Can you give a code example?

[2017-07-18 16:42] #316 closed

[2017-07-18 16:42] 0crat commented on #316
Oops! Job `gh:yegor256/cactoos#316` was not in scope

[2017-07-19 07:20] g4s8 opened #324 "AsyncFunc spawns new thread for each apply() call"
Creating new threads is expensive operation because it allocates a lot of memory, performs system-calls and register descriptors.
It would be better to create `Executors.newCachedThreadPool()` for async task (or maybe accept Executor as constructor argument) and submit tasks to it:
[code]

[2017-07-19 09:23] yegor256 commented on #274
@ixmanuel see the changes I made in #325 Now we have `FuncOf`, `ProcOf`, `CallableOf`, and `RunnableOf`.

[2017-07-19 09:23] yegor256 commented on #274
@rultor release, tag is `0.11.3`

[2017-07-19 09:24] rultor commented on #274
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12406-316326089)

[2017-07-19 09:37] rultor commented on #274
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12406-316326089) (took me 13min)

[2017-07-19 10:10] yegor256 commented on #274
@rultor release, tag is `0.11.4`

[2017-07-19 10:11] rultor commented on #274
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12406-316338648)

[2017-07-19 10:21] rultor commented on #274
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12406-316338648) (took me 10min)

[2017-07-19 12:27] fabriciofx opened #327 "Eclipse cannot infer type arguments for AndTest"
This change is a workaround to an Eclipse bug.

[2017-07-19 12:29] fabriciofx commented on #327
@yegor256 Could you check it? Thanks!

[2017-07-19 20:57] ixmanuel commented on #274
@yegor256 It looks good #325 and I see you have removed some objects. Do you want to remove some objects in the  implementation of _InputOf_ (pull request #312) as @fabriciofx had suggested with lambdas?

[2017-07-20 06:41] g4s8 commented on #324
Looks like it was partially fixed in #330

[2017-07-20 07:43] yegor256 commented on #274
@ixmanuel yes, some classes have to go, they are just redundant. See my comment at the PR: https://github.com/yegor256/cactoos/pull/312#issuecomment-316623698

[2017-07-20 09:56] yegor256 commented on #324
@0crat in

[2017-07-20 09:56] 0crat commented on #324
@yegor256 Job `gh:yegor256/cactoos#324` is in scope.

[2017-07-20 10:13] 0crat commented on #324
Job `gh:yegor256/cactoos#324` assigned to @fabriciofx, please go ahead.

[2017-07-20 10:19] yegor256 commented on #274
@rultor release, tag is `0.11.5`

[2017-07-20 10:19] rultor commented on #274
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12406-316661657)

[2017-07-20 10:30] rultor commented on #274
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12406-316661657) (took me 9min)

[2017-07-20 13:53] yegor256 opened #333 "ReaderAsInput"
Let's create `ReaderAsInput` in order to convert `Reader` to `Input`. See http://www.baeldung.com/java-convert-reader-to-inputstream and https://stackoverflow.com/questions/62241/how-to-convert-a-reader-to-inputstream-and-a-writer-to-outputstream

[2017-07-20 14:15] yegor256 commented on #333
@rultor release, tag is `0.11.6`

[2017-07-20 14:18] rultor commented on #333
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12427-316717020)

[2017-07-20 14:30] fabriciofx commented on #327
Closed by #328.

[2017-07-20 14:30] #327 closed

[2017-07-20 14:30] 0crat commented on #327
Oops! Job `gh:yegor256/cactoos#327` was not in scope

[2017-07-20 14:30] fabriciofx commented on #310
Closed by #311.

[2017-07-20 14:30] #310 closed

[2017-07-20 14:31] 0crat commented on #310
Job `gh:yegor256/cactoos#310` is out of scope.

[2017-07-20 14:31] 0crat commented on #310
+30 points just awarded to @fabriciofx, total is +30

[2017-07-20 14:34] rultor commented on #333
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12427-316717020) (took me 15min)

[2017-07-20 14:47] #333 closed

[2017-07-20 14:48] 0crat commented on #333
Oops! Job `gh:yegor256/cactoos#333` was not in scope

[2017-07-20 21:59] yegor256 commented on #324
@rultor release, tag is `0.11.7`

[2017-07-20 22:00] rultor commented on #324
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12435-316842222)

[2017-07-20 22:10] rultor commented on #324
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12435-316842222) (took me 10min)

[2017-07-21 05:45] yegor256 commented on #324
@g4s8 the problem seem to be fixed?

[2017-07-21 06:33] g4s8 commented on #324
@yegor256 sure, thanks

[2017-07-21 06:33] #324 closed

[2017-07-21 06:34] 0crat commented on #324
Job `gh:yegor256/cactoos#324` is out of scope.

[2017-07-21 06:34] 0crat commented on #324
+30 points just awarded to @fabriciofx, total is +60

[2017-07-22 11:37] fabriciofx opened #335 "Bytes to hexadecimal"
Let's implement a way to represent `Bytes` as a hexadecimal string. I'll handle it.

[2017-07-22 12:37] fabriciofx opened #338 "MD5, SHA-1 and SHA-256 hashes functions"
Let's implement MD5, SHA-1 and SHA-256 hashes functions. I'll handle it.

[2017-07-23 10:30] ashtonhogan commented on #1
How would you get around `InputStream`? Scenarios where a `Socket` is open and waiting for more data to come in and go out? What's the clean, OOP approach to this problem?

[2017-07-23 16:20] ixmanuel commented on #274
@yegor256, see the changes: BytesOf - Brevity#274 #340

[2017-07-23 17:05] ixmanuel commented on #274
@fabriciofx I don't know very well about @author-thing and thus I have a doubt, should I mention you in InputOf and BytesOf? Because these objects were created partially with one of your solutions? You didn't write it but the solution was part of this discussion. I think I have to.

[2017-07-23 20:54] fabriciofx commented on #274
@ixmanuel Nope. The credit goes to only who coded, in other words, only you. Congrats by the nice work, by the way! 😄

[2017-07-24 15:45] svendiedrichsen opened #344 "FilteredText"
It might be interesting to have a FilteredText to filter out illegal characters. WDYT?

[2017-07-25 04:09] ixmanuel commented on #274
Thanks @fabriciofx :)

[2017-07-25 05:38] ixmanuel opened #346 "ReaderAsBytes instead of ReaderAsInput"
@yegor256 It could be more reusable ReaderAsBytes than ReaderAsInput because it could be consumed by InputOf, BytesOf and TextOf.

[2017-07-25 15:31] yegor256 opened #348 "StickyMap ctor with another map"
Let's make it possible to extend a map via a ctor.

[2017-07-25 15:59] yegor256 commented on #348
@0crat assign me

[2017-07-25 16:00] yegor256 commented on #348
@rultor release, tag is `0.11.9`

[2017-07-25 16:07] rultor commented on #348
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12498-317785205)

[2017-07-25 16:08] 0crat commented on #348
@yegor256 Job `gh:yegor256/cactoos#348` assigned to @yegor256, please go ahead.

[2017-07-25 16:08] 0crat commented on #348
+15 points just awarded to @yegor256, total is [+510](http://www.0crat.com/u/yegor256).

[2017-07-25 16:12] #348 closed

[2017-07-25 16:12] 0crat commented on #348
Job `gh:yegor256/cactoos#348` is out of scope.

[2017-07-25 16:12] 0crat commented on #348
+30 points just awarded to @yegor256, total is [+540](http://www.0crat.com/u/yegor256).

[2017-07-25 16:21] rultor commented on #348
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12498-317785205) (took me 13min)

[2017-07-25 19:59] svendiedrichsen opened #349 "Bytes validation like consistsOnlyOf(Bytes b) or LimitedBytesOf/RestrictedBytesOf"
As I was looking at PR #225 I thought about some additional functionality for the Bytes interface which allows to answer questions like i.e. consistsOnlyOf(Bytes bytes). The Base64ToInput class implements this for checking if there are any non-base64 bytes in it.
Or would it be more sensible to have a class LimitedBytesOf with a limiting BytesOf instance?
WDYT?

[2017-07-26 14:36] ixmanuel opened #350 "TextOf Iterable"
How do you see:

[code]
We probably just have to integrate JoinedText (not drop it).

[2017-07-26 15:22] ixmanuel opened #351 "ArrayOf Text"
How do you see:

[code]

[2017-07-26 17:51] 0crat commented on #346
Oops! Job `gh:yegor256/cactoos#346` was not in scope

[2017-07-26 17:52] ixmanuel commented on #346
#347

[2017-07-26 17:52] #346 closed

[2017-07-26 17:53] 0crat commented on #346
Oops! Job `gh:yegor256/cactoos#346` was not in scope

[2017-07-27 08:12] alekseysotnikov opened #352 "FormattedText is not declarative for Text arguments"
It is not possible to instantiate a `FormattedText` by passing `Text` obj without calculating and as a result producing a String.

For example, you have a lazy text file
[code]
And in order to create a `FormattedText`, you have to read the file beforehand by calling `text.asString()`
[code]

You can't just pass the `text` to the the constructor, because `text.toString()` will be called while produ

[2017-07-27 18:15] ixmanuel commented on #274
@yegor256, @fabriciofx ArrayOf, ListOf and MapOf are done.

I also added:
- ArrayOf(Text).- Array of Characters
- ArrayOf(Map).- Flatten a map to an array of values

Could you review:
[code]
*_It is confusing with MapOf, we could see the feasibility to integrate it._ Any ideas?
**_At suffix is natural in its context although breaks the protocol._
***_The idea is borrowed from:"ab"+"c"="abc"_

[2017-07-27 19:23] fabriciofx commented on #274
@ixmanuel I liked these new names. `ItemAt` is fine to me and I prefer `JoinedOf` instead of `SumOf`.

[2017-07-28 00:39] fabriciofx opened #353 "Remove Comparable<Text> into Text"
After added support to `Comparable<Text>` into `Text` we lost the advantage to use lambdas with `Text`. Besides, we have [`Equality`](https://github.com/yegor256/cactoos/issues/308) that can performs the same like `Comparable<Text`. So, let's remove `Comparable<Text` support in favor of `Equality`.

@yegor256 @ixmanuel WDYT?

[2017-07-28 01:23] ixmanuel commented on #353
@fabriciofx @yegor256
Yes, we have lost that advantage. I have had to use Scalar<Text>. But, we have some other benefits. I wrote a test for your SubText @fabriciofx because the idea of SubText with CompareTo is "elegant".

[2017-07-28 01:27] ixmanuel commented on #274
@yegor256 see the changes for ArrayOf, ListOf and MapOf in #354

[2017-07-28 01:42] fabriciofx commented on #353
@ixmanuel @yegor256 We can do the same thing like:
[code]
WDYT?

[2017-07-28 01:47] ixmanuel commented on #353
@fabriciofx I really like it.

[2017-07-28 01:49] fabriciofx commented on #353
@ixmanuel We already have it implemented in #308, just waiting for merge.

[2017-07-28 01:52] fabriciofx commented on #308
@svendiedrichsen Well, I don't know if it's better. The idea is give to developer the choice of use `NonNulls` or not. If I put `NonNull` inside `Equality`, we remove the power of choice. @yegor256 WDYT?

[2017-07-28 01:53] ixmanuel commented on #353
The renaming and refactoring is almost done. :)

[2017-07-28 01:58] fabriciofx commented on #353
@ixmanuel Yeah, after the code is merged and @yegor256 aproved this issue, I will make a refactoring to remove `compareTo()`.

[2017-07-28 14:08] ixmanuel commented on #274
@yegor256 @fabriciofx See suggestion for LengthOf at https://github.com/yegor256/cactoos/pull/355#issuecomment-318653555

[2017-07-28 14:21] fabriciofx commented on #274
@ixmanuel I already have commented it. 👍

[2017-07-28 16:06] svendiedrichsen commented on #308
@fabriciofx: I'd say that the Equality object has to be in power to make this decision. But anyway the only difference that using NonNull brings is a better Exception suing a proper message. So imho Equality should be in charge of deciding to throw better exceptions.

But in general can't i see the use of NonNull in the first place. Doesn't it violate the first principle as stated for this project

[2017-07-28 18:32] ixmanuel commented on #274
@fabriciofx, see Count of #356

[2017-07-29 19:47] ixmanuel opened #357 "RepeatIterable is ambiguous"
@yegor256, @fabriciofx, @g4s8
### Case
- RepeatedText.- It doesn’t have double meanings.
- RepeatIterable.- In the programming context it is ambiguous because we have a baggage:
    - Do we want to put together two or more iterables?
    - Is it a loop? While? or For? is it for repeating statements or values?
- EndlessIterable.- Same as above.

### Alternatives
1. We could choose **RepeatedItem**

[2017-07-29 20:23] ixmanuel commented on #274
Case RepeatedIterable and EndlessIterable #357

[2017-07-29 21:03] ixmanuel commented on #274
Working with all this refactoring I've realised that Scalar doesn't reflect the original intention anymore, well, yes it reflects it but now its meaning is more extensive.

Cactoos is about primitives and thus, Scalar is good, but It also is more powerful than that. It has served to adapt a diversity of types (and it has collaborated with the actual refactoring).

Therefore, I put the term Capsule

[2017-07-30 05:47] ixmanuel commented on #274
Brevity is over #356

[2017-07-30 10:22] memoyil opened #358 "Adding left and right trim text functionality on Cactoos"
I have researched the most common string operations and i saw that left and right trim operations are using very common.

https://www.quora.com/What-are-the-most-commonly-used-string-and-array-functions-in-php

And doing like that we will add Stringutils trim functionalites to Cactoos.

https://commons.apache.org/proper/commons-lang/apidocs/org/apache/commons/lang3/StringUtils.html#stripEnd-java.l

[2017-07-30 10:46] yegor256 opened #360 "InputAsBytes must be private"
We have `new BytesOf(Input)` and `InputAsBytes`. Looks like duplication to me. The user won't know which one to use. I believe, we have to make most of our classes private (visible only in the package), if they are accessible via `InputOf` or similar classes.

[2017-07-30 10:46] yegor256 commented on #360
@0crat assign @ixmanuel

[2017-07-30 10:47] 0crat commented on #360
+15 points just awarded to @yegor256, total is [+630](http://www.0crat.com/u/yegor256).

[2017-07-30 10:47] yegor256 commented on #274
@ixmanuel see https://github.com/yegor256/cactoos/issues/360

[2017-07-30 10:58] yegor256 opened #361 "SortedOf, RepeatOf, ReducedOf, MappedOf, etc."
I don't like the names we have for iterable/iterator decorators. I think we should rename them to `Sorted`, `Mapped`, `Reduced`, etc. and break our `org.cactoos.list` package to two:

  * `org.cactoos.iterable`
  * `org.cactoos.iterator`

We'll have `org.cactoos.iterable.Mapped` and `org.cactoos.iterator.Mapped`, etc.

[2017-07-30 10:58] yegor256 commented on #361
@0crat assign @ixmanuel

[2017-07-30 10:58] 0crat commented on #361
@yegor256 Job `gh:yegor256/cactoos#361` assigned to @ixmanuel, please go ahead.

[2017-07-30 10:58] 0crat commented on #361
+15 points just awarded to @yegor256, total is [+645](http://www.0crat.com/u/yegor256).

[2017-07-30 20:08] ixmanuel commented on #361
@yegor256 Done. See [update](https://github.com/yegor256/cactoos/pull/356#commits-pushed-83342d2).

[2017-07-30 20:08] ixmanuel commented on #274
@yegor256 Done. See [update](https://github.com/yegor256/cactoos/pull/356#commits-pushed-83342d2).

[2017-07-30 20:09] ixmanuel commented on #360
@yegor256 Done. See [update](https://github.com/yegor256/cactoos/pull/356#commits-pushed-83342d2).

[2017-07-30 23:58] memoyil opened #362 "Implement RotatedText"
Let's Implement RotatedText

[2017-07-31 06:51] yegor256 commented on #361
@ixmanuel thanks, merging now

[2017-07-31 09:39] g4s8 commented on #357
@ixmanuel I agree - these names could be better.

Here I don't think it's important, because `while` and `for` usage in iterable is implementation detail. As a deveolper I don't care how exactly this sequence implemented.

[2017-07-31 13:04] alekseysotnikov opened #364 "Bug: Endless ConcatIterable"
To reproduce the bug (v0.11):
[code]

[2017-07-31 15:20] ixmanuel commented on #361
@yegor256 thanks to you too. I really appreciate all what I have learned since your Good Objects. I'm happy to contribute a little in return.

[2017-07-31 15:21] ixmanuel commented on #357
yes, you're right. I let it unchanged.

[2017-07-31 15:21] #357 closed

[2017-07-31 15:21] 0crat commented on #357
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-07-31 15:22] ixmanuel commented on #274
Good trip. I think it is time to close this.

[2017-07-31 15:22] #274 closed

[2017-07-31 15:23] 0crat commented on #274
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-07-31 16:16] #361 closed

[2017-07-31 16:17] 0crat commented on #361
Job `gh:yegor256/cactoos#361` is now out of scope.

[2017-07-31 16:17] 0crat commented on #361
+30 points just awarded to @ixmanuel, total is [+30](http://www.0crat.com/u/ixmanuel).

[2017-08-01 02:37] ixmanuel opened #365 "Sub-ranges and a little more of sets"
### A little of subranges and derived ideas.

# Domain of symbols:
Closed:     ```"["```, ```"]"```, ```">="```, ```"<="```,
Open:       ```"("```, ```")"```, ```">"```, ```"<"```,
Range:      ```"..."```, ```","```, ```"-"```
Infinitum:  ```"x..."```,   ```"...y"```,   ```"_..."```,   ```"..._"```,   ```"_..._"```,   ```"..."```,   ```"-"```,  ```","```

# Some examples:
[x, y]	new RangeOf("[x...

[2017-08-01 06:01] #349 closed

[2017-08-01 06:01] 0crat commented on #349
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-01 17:38] svendiedrichsen commented on #365
How about different ranges like IntegerRangeOf and CharacterRangeOf?

[2017-08-01 19:06] ixmanuel commented on #365
@svendiedrichsen I like the idea of  CharacterRangeOf and  yes, initially I had:
[code]
but later I though it could be more clear the actual proposal although it is more work.
At the beginning I tried:
[code]
but I didn't see very complete and clear. I tried to avoid parsing.
Then I thought in regular expressions and "2..9" is a kind of, then I said, why not?

I like your idea for letters and usin

[2017-08-01 20:55] svendiedrichsen commented on #365
I agree it looks nice but parsing strings can get messy easily quickly.

[2017-08-01 23:58] svendiedrichsen commented on #365
I have made a first implementation of an Range using int boundaries. Please take a look at https://github.com/svendiedrichsen/cactoos-range.git

[2017-08-02 06:49] memoyil opened #366 "Implement Base64EncodedText"
Let's Implement Base64EncodedText

[2017-08-02 15:50] ixmanuel commented on #365
It seems good, I like it the implementation, and these alternatives are like a group of Jazz playing :), One improvise then another one improvise too then there is a conflict and finally a nice play. What do you think if we harmonise both ideas.

I think the both proposals are good alternatives, but let me tell you that I got the adventure to propose a range like a pattern because for what I have

[2017-08-02 15:51] ixmanuel commented on #365
@svendiedrichsen
It seems good, I like it the implementation, and these alternatives are like a group of Jazz playing :), One improvise then another one improvise too then there is a conflict and finally a nice play. What do you think if we harmonise both ideas.

I think the both proposals are good alternatives, but let me tell you that I got the adventure to propose a range like a pattern because

[2017-08-02 15:53] yegor256 commented on #360
@ixmanuel thanks

[2017-08-02 15:53] #360 closed

[2017-08-02 15:53] yegor256 opened #368 "release 0.12"
Let's release it

[2017-08-02 17:04] svendiedrichsen commented on #365
Feel free to clone and do your part of jazz solo. :) We can go on from there.

[2017-08-02 17:15] 0crat commented on #360
Job `gh:yegor256/cactoos#360` is now out of scope.

[2017-08-02 17:15] 0crat commented on #360
+30 points just awarded to @ixmanuel, total is [+60](http://www.0crat.com/u/ixmanuel).

[2017-08-02 17:39] ixmanuel commented on #365
:) hahaha. Let's do it.

[2017-08-02 19:05] yegor256 commented on #368
@rultor release, tag is `0.12`

[2017-08-02 19:08] rultor commented on #368
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12572-319767928)

[2017-08-02 19:19] rultor commented on #368
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12572-319767928) (took me 10min)

[2017-08-02 19:43] #368 closed

[2017-08-02 19:43] 0crat commented on #368
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-03 04:21] alekseysotnikov opened #370 "Bug: endless Joined"
Cactoos v0.12 - endless iterator!
[code]

Java 8 - works fine

[code]

[2017-08-03 04:30] yegor256 opened #371 "ArrayOf must be renamed to IterableOf"
`ArrayOf` must be renamed to `IterableOf`

[2017-08-03 04:30] yegor256 commented on #371
@0crat assign me

[2017-08-03 04:30] 0crat commented on #371
@yegor256 Job `gh:yegor256/cactoos#371` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-03 04:31] 0crat commented on #371
+15 points just awarded to @yegor256, total is [+960](http://www.0crat.com/u/yegor256).

[2017-08-03 04:42] yegor256 commented on #371
@rultor release, tag is `0.12.1`

[2017-08-03 04:43] rultor commented on #371
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12573-319866256)

[2017-08-03 04:54] rultor commented on #371
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12573-319866256) (took me 10min)

[2017-08-03 04:54] #371 closed

[2017-08-03 04:54] 0crat commented on #371
Job `gh:yegor256/cactoos#371` is now out of scope.

[2017-08-03 04:55] 0crat commented on #371
+30 points just awarded to @yegor256, total is [+990](http://www.0crat.com/u/yegor256).

[2017-08-03 06:42] memoyil opened #372 "Polish Scalar Package"
Let's polish scalar package.

[2017-08-03 09:29] memoyil opened #374 "Move DecodedUrl and EncodedUrl"
I think we should move DecodedUrl and EncodedUrl classes to another package instead of io package. I think it irrerelevant now. @fabriciofx @yegor256  WDYT?

[2017-08-03 13:51] svendiedrichsen commented on #365
I have made some small refactorings and added support for unbound ranges and functionality for LocalDate ranges.

[2017-08-03 14:15] HDouss opened #375 "RepeatedFuncTest does not test multiple runs"
Despite of its purpose (and its name), the method `runsFuncMultipleTimes` in `RepeatedFuncTest` does not test if the function runs multiple times. Instead, it is testing if it is giving a different output in each call (in other words, if it is giving a random number each time).
Another way to look at the bug is that modifying the test such as not using `RepeatedFunc` at all, will succeed anyway.
[

[2017-08-03 14:27] HDouss opened #376 "RepeatedFunc wrongly throws exception"
I expect the following code to run without a problem :
[code]
Instead I got an exception : `java.lang.IllegalArgumentException: Repeat counter is equal or less than zero: 2`
I don't expect `RepeatedFunc` to behave like `NoNull` implementations, and even if it is the case, the exception message is completely wrong.
The implementation of `RepeatedFunc.apply` should be fixed to check for invalid `thi

[2017-08-03 16:44] ixmanuel commented on #365
@svendiedrichsen Forget my proposal I like yours but, I think it could be less verbose. Wdyt?
[code]

[2017-08-03 16:54] svendiedrichsen commented on #365
@ixmanuel Essentially you are proposing a merge of Lower and Upper of the bounds. I don't have a problem with it. I'll do it.

[2017-08-03 17:14] ixmanuel commented on #365
@svendiedrichsen, Yes, you're right:
[code]

but, in this way infinitum-open-ranges are not very clear.

I think you should make a PR in order to get feedback. You already have it.

[2017-08-03 17:39] svendiedrichsen commented on #365
The unbound value unfortunatly cannot be done like `Bound.Exclusive()`. The value would depend wether the `Bound` is used as lower or upper bound. How should this be handled?

[2017-08-03 18:03] svendiedrichsen commented on #365
I think I found something for the unbound case.

[2017-08-03 18:33] ixmanuel commented on #365
I think if we use open and closed there are not ambiguities, [See: Interval in math](https://en.wikipedia.org/wiki/Interval_(mathematics)).

So, we could have:

[code]

We have the positions of each Open and Closed interval and therefore we could identify if it s upper or lower.

[2017-08-03 19:55] svendiedrichsen commented on #365
I have refactored the code. Now it looks like this:
[code]
[code]
@ixmanuel WDYT?

[2017-08-04 11:15] Meerownymous opened #377 "ItemAt has duplicate"
ItemAt currently exists in Iterable and in Iterator. It should be deleted from Iterable.

[2017-08-04 13:04] yegor256 commented on #376
@0crat in

[2017-08-04 13:04] yegor256 commented on #376
@0crat assign @ixmanuel

[2017-08-04 13:04] yegor256 commented on #376
@ixmanuel can you please fix this?

[2017-08-04 13:04] 0crat commented on #376
@yegor256 Job `gh:yegor256/cactoos#376` is in scope.

[2017-08-04 13:05] 0crat commented on #376
+15 points just awarded to @hdouss, total is [+15](http://www.0crat.com/u/hdouss).

[2017-08-04 13:05] 0crat commented on #376
@yegor256 Job `gh:yegor256/cactoos#376` assigned to @ixmanuel, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)). @ixmanuel is not a member of this project yet, but can request to join. @ixmanuel check your [Zerocracy profile](http://www.0crat.com/u/ixmanuel) and follow the instructions.

[2017-08-04 13:25] yegor256 opened #378 "ReaderOf, InputStreamOf, OutpuStreamOf"
Let's create that decorators.

[2017-08-04 13:25] yegor256 commented on #378
@0crat assign me

[2017-08-04 13:26] 0crat commented on #378
@yegor256 Job `gh:yegor256/cactoos#378` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-04 13:26] 0crat commented on #378
+15 points just awarded to @yegor256, total is [+1065](http://www.0crat.com/u/yegor256).

[2017-08-04 17:16] #362 closed

[2017-08-04 17:16] 0crat commented on #362
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-04 17:17] #358 closed

[2017-08-04 17:17] 0crat commented on #358
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-04 17:37] yegor256 opened #380 "our build is broken on Windows"
See https://ci.appveyor.com/project/yegor256/cactoos/build/497

Can somebody reproduce that on Windows and fix? The problem obviously is in the area of different encodings.

[2017-08-04 17:39] #380 closed

[2017-08-04 17:39] 0crat commented on #380
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-04 17:39] yegor256 commented on #380
my bad, it's only my branch

[2017-08-04 18:14] yegor256 commented on #378
@rultor release, tag is `0.13`

[2017-08-04 18:15] rultor commented on #378
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12584-320317760)

[2017-08-04 18:25] rultor commented on #378
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12584-320317760) (took me 10min)

[2017-08-04 18:36] #378 closed

[2017-08-04 18:37] 0crat commented on #378
Job `gh:yegor256/cactoos#378` is now out of scope.

[2017-08-04 18:37] 0crat commented on #378
+30 points just awarded to @yegor256, total is [+1110](http://www.0crat.com/u/yegor256).

[2017-08-05 07:12] ixmanuel commented on #376
@yegor256 See https://github.com/yegor256/cactoos/pull/381

[2017-08-05 15:35] #235 closed

[2017-08-05 15:35] 0crat commented on #235
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-05 15:41] ixmanuel commented on #365
@svendiedrichsen Shouldn't range returns an iterable?

[2017-08-05 17:17] svendiedrichsen commented on #365
Do you mean that it should _be_ an Iterable?

[2017-08-05 17:51] yegor256 opened #384 "reorganize ctors"
Let's reorganize them a bit.

[2017-08-05 17:51] yegor256 commented on #384
@0crat assign me

[2017-08-05 17:51] 0crat commented on #384
@yegor256 Job `gh:yegor256/cactoos#384` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-05 17:52] 0crat commented on #384
+15 points just awarded to @yegor256, total is [+1185](http://www.0crat.com/u/yegor256).

[2017-08-05 18:10] yegor256 commented on #384
@rultor release, tag is `0.13.1`

[2017-08-05 18:11] rultor commented on #384
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12596-320460892)

[2017-08-05 18:20] rultor commented on #384
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12596-320460892) (took me 9min)

[2017-08-05 21:20] memoyil commented on #377
@Meerownymous Iterable classes are being used to create Iterator objects. Therefore it is normal to have same name but they have different usage.

[2017-08-06 10:14] memoyil commented on #225
@fabriciofx @yegor256 We should close this issue.

[2017-08-06 18:05] #384 closed

[2017-08-06 18:05] 0crat commented on #384
Job `gh:yegor256/cactoos#384` is now out of scope.

[2017-08-06 18:05] 0crat commented on #384
+30 points just awarded to @yegor256, total is [+1230](http://www.0crat.com/u/yegor256).

[2017-08-06 18:06] yegor256 opened #385 "more public ctors"

[2017-08-06 18:06] yegor256 commented on #385
@rultor release, tag is `0.13.2`

[2017-08-06 19:10] yegor256 commented on #385
@rultor release, tag is `0.13.2`

[2017-08-06 19:11] rultor commented on #385
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12612-320526084)

[2017-08-06 19:23] rultor commented on #385
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12612-320526084) (took me 12min)

[2017-08-06 19:46] #385 closed

[2017-08-06 19:46] 0crat commented on #385
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-06 20:10] memoyil commented on #374
@yegor256 Based on the comments about base64 decode/encode , Should we delete these also? WDYT?

[2017-08-07 05:13] #366 closed

[2017-08-07 05:13] 0crat commented on #366
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-07 05:14] #372 closed

[2017-08-07 05:14] 0crat commented on #372
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-07 05:52] memoyil opened #386 "Implement SwappedCaseText"
Let's Implement SwappedCaseText

[2017-08-07 06:30] yegor256 commented on #374
@memoyil yes, I think we should delete these two classes.

[2017-08-07 06:46] memoyil commented on #374
@yegor256 Ok i will delete them

[2017-08-07 07:13] memoyil opened #388 "Polish Iterator Package"
Let's Polish Iterator Package

[2017-08-07 07:17] memoyil opened #390 "Remove Decoded and Encoded Url"
As the @yegor256 suggested, we will remove these class from cactoos.

[2017-08-07 07:47] #237 closed

[2017-08-07 07:47] 0crat commented on #237
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-07 08:02] #374 closed

[2017-08-07 08:02] 0crat commented on #374
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-07 15:06] #390 closed

[2017-08-07 15:06] 0crat commented on #390
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-07 17:38] voddan commented on #314
Is this issue being worked on? I would like to take it if it is not

[2017-08-07 18:00] ixmanuel commented on #314
@voddan yes, it is on, you can take it. You only have to remove the RegexText and everything will work without any issues. Am I right @yegor256 ?

[2017-08-07 18:03] ixmanuel commented on #314
@voddan, well, you'll have to change some things like ArrayAsIterable to IterableOf because it is outdated with the recent refactoring.

[2017-08-07 18:08] ixmanuel commented on #314
@voddan Sorry, I read it wrong. What you want is to revive RegexText. I don't know, it will be removed from ReplacedAllText but it doesn't mean that RegexText::match is wrong so I think you can reopen it.

[2017-08-07 18:30] voddan commented on #314
@ixmanuel Sorry, I am new, could you please explain what you mean by "reviving RegexText"? Right now there is no such class in the master branch. Did it existed at some point? Could you post the number of the commit which you think I should take a look at?

[2017-08-07 18:54] ixmanuel commented on #314
@voddan you can see how it was in https://github.com/yegor256/cactoos/pull/315. I closed it because I was not sure if this kind of thinking (what you can see in the previous link) has space in this project. The discussion wasn't ended it but you can see there the concerns.

[2017-08-08 06:16] memoyil opened #392 "Test Coverage is very low"
Let's write some test cases our classes.

[2017-08-08 11:13] Meerownymous commented on #377
It creates a scalar, not an iterable? It is completely duplicate code, I think...

[2017-08-08 14:43] yegor256 opened #394 "more ctors for TeeInput"
Let's add more of them

[2017-08-08 14:43] yegor256 commented on #394
@0crat assign me

[2017-08-08 14:44] 0crat commented on #394
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-08-08 14:50] #392 closed

[2017-08-08 14:50] #386 closed

[2017-08-08 14:50] #388 closed

[2017-08-08 14:57] memoyil opened #395 "Add Text Compare test cases"
Let's Add Text Compare test cases

[2017-08-08 15:15] yegor256 opened #397 "TeeReader"
Would be great to create `TeeReader`, similar to `TeeInputStream` we already have.

[2017-08-08 15:15] yegor256 commented on #394
@rultor release, tag is `0.13.3`

[2017-08-08 15:16] rultor commented on #394
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12637-320988014)

[2017-08-08 15:30] rultor commented on #394
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12637-320988014) (took me 15min)

[2017-08-08 15:43] #394 closed

[2017-08-09 15:00] memoyil commented on #397
Ok i'll do it

[2017-08-12 12:36] memoyil commented on #370
i will investigating

[2017-08-12 12:46] Timmeey opened #399 "UncheckedBiFunc"
We already have UncheckedFunc, lets implement UncheckedBiFunc

[2017-08-12 13:25] Timmeey opened #400 "StickyBiFunction"
We already have StickyFunc, lets implement StickyBiFunc

[2017-08-12 16:38] svendiedrichsen opened #401 "RandomText"
How about having RandomText. Could be randomly contructing new strings with specified length from source Texts characters.

@yegor256 : How about this one here?

[2017-08-14 13:34] memoyil commented on #370
First of all the code stub is like that in 0.13 :

`        final Iterator<String> iterator = new org.cactoos.iterable.Joined<>(
            new Mapped<>(
                new IterableOf<>("a", "e", "d", "c", "b"),
                x -> new IterableOf<>(x)
            )
        ).iterator();
        while (iterator.hasNext()) {
            System.out.println(iterator.next());
        }`
And bug also

[2017-08-14 16:56] #344 closed

[2017-08-14 16:56] 0crat commented on #344
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-16 10:52] 0crat commented on #370
Job `gh:yegor256/cactoos#370` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-16 11:10] yegor256 commented on #370
@alekseysotnikov this is the code that reproduces the problem in 0.13:

[code]

Checking what's going on...

[2017-08-16 11:29] yegor256 commented on #370
@alekseysotnikov reproduced and fixed in 5780a08

[2017-08-16 11:29] yegor256 commented on #370
@rultor release, tag is `0.13.4`

[2017-08-16 11:30] rultor commented on #370
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12699-322741796)

[2017-08-16 11:42] rultor commented on #370
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12699-322741796) (took me 12min)

[2017-08-16 11:43] yegor256 commented on #370
@alekseysotnikov should be fine now, try 0.13.4 please

[2017-08-16 11:48] memoyil commented on #364
This bug is similar to #370 . This should be solved too with regarding fix.

[2017-08-16 12:03] memoyil commented on #397
@yegor256 I think we should close this issue

[2017-08-16 12:43] yegor256 commented on #364
@alekseysotnikov I believe it's fixed already, please check 0.13.4

[2017-08-16 13:11] yegor256 commented on #400
@0crat in

[2017-08-16 13:11] 0crat commented on #400
@yegor256 Job `gh:yegor256/cactoos#400` is in scope.

[2017-08-16 13:43] yegor256 commented on #397
implemented in #398

[2017-08-16 13:43] #397 closed

[2017-08-16 13:43] 0crat commented on #397
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-16 16:58] memoyil commented on #352
I will handle the issue

[2017-08-18 05:22] memoyil commented on #375
@yegor256 I think we should close this issue.

[2017-08-18 07:29] yegor256 commented on #375
@memoyil where was it fixed?

[2017-08-18 07:29] memoyil commented on #375
[https://github.com/ixmanuel/cactoos/commit/1b0be72e07c094ea0f776d559425029fde9c7170](url)

[2017-08-18 07:32] memoyil commented on #375
https://github.com/ixmanuel/cactoos/commit/1b0be72e07c094ea0f776d559425029fde9c7170

[2017-08-19 09:27] alex-semenyuk commented on #375
@memoyil Actually this pull request https://github.com/yegor256/cactoos/pull/381/files was rewritten and the changes on which your referenced were not included in it.  This one was approved https://github.com/yegor256/cactoos/pull/383 , I suppose with it, we test the "origin" function was actually executed as many times as wanted too.

@yegor256 @HDouss
Can we close it https://github.com/yegor256/

[2017-08-20 12:43] memoyil commented on #400
@yegor256 You can close this issue

[2017-08-20 16:38] yegor256 commented on #400
@Timmeey it's yours, what do you think?

[2017-08-20 17:17] Timmeey commented on #400
@yegor256 i like the idea of using a map as the "tuple" key. After the minor changes that i requested in the PR are done, this can be closed after merging.

[2017-08-20 17:32] memoyil commented on #400
@yegor256 @timmeey Thank you for your comments. As we discussed in pr, no changes need to be done. Thank you

[2017-08-21 09:30] alex-semenyuk opened #406 "Some of examples from README are outdated"
Some of examples from README are outdated. Let's update them.

[2017-08-21 22:01] yegor256 opened #408 "InputStreamOf() doesn't return available() correctly"
This one fails:

[code]

[2017-08-21 22:01] 0crat commented on #408
Job `gh:yegor256/cactoos#408` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-21 22:01] 0crat commented on #408
+15 points just awarded to @yegor256, total is [+2070](http://www.0crat.com/u/yegor256).

[2017-08-22 01:08] yegor256 commented on #408
@rultor release, tag is `0.13.5`

[2017-08-22 01:10] rultor commented on #408
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12747-323891229)

[2017-08-22 01:19] rultor commented on #408
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12747-323891229) (took me 9min)

[2017-08-22 01:43] #408 closed

[2017-08-22 01:43] 0crat commented on #408
Job `gh:yegor256/cactoos#408` is now out of scope.

[2017-08-22 01:43] 0crat commented on #408
+30 points just awarded to @yegor256, total is [+2100](http://www.0crat.com/u/yegor256).

[2017-08-22 04:28] yegor256 opened #409 "SubText must ignore out of bound problems"
`SubText` must ignore out of bound problems

[2017-08-22 04:28] 0crat commented on #409
Job `gh:yegor256/cactoos#409` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-22 04:28] 0crat commented on #409
+15 points just awarded to @yegor256, total is [+2115](http://www.0crat.com/u/yegor256).

[2017-08-22 04:34] yegor256 commented on #409
@rultor release, tag is `0.13.6`

[2017-08-22 04:35] rultor commented on #409
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12750-323916690)

[2017-08-22 04:44] rultor commented on #409
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12750-323916690) (took me 9min)

[2017-08-22 04:57] #409 closed

[2017-08-22 04:58] 0crat commented on #409
Job `gh:yegor256/cactoos#409` is now out of scope.

[2017-08-22 04:58] 0crat commented on #409
+30 points just awarded to @yegor256, total is [+2145](http://www.0crat.com/u/yegor256).

[2017-08-22 13:32] yegor256 opened #410 "toString() for key wrappers"
Let's add `toString() to them.

[2017-08-22 13:33] 0crat commented on #410
Job `gh:yegor256/cactoos#410` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-22 13:33] 0crat commented on #410
+15 points just awarded to @yegor256, total is [+2160](http://www.0crat.com/u/yegor256).

[2017-08-22 13:43] yegor256 commented on #410
@rultor release, tag is `0.13.7`

[2017-08-22 13:44] rultor commented on #410
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12755-324030278)

[2017-08-22 13:45] rultor commented on #410
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/12755-324030278) (spent 42s)

[code]

[2017-08-22 14:59] yegor256 commented on #410
@rultor release, tag is `0.13.7`

[2017-08-22 15:00] rultor commented on #410
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12755-324053756)

[2017-08-22 15:22] rultor commented on #410
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/12755-324053756) (spent 22min)

[code]

[2017-08-22 15:24] yegor256 commented on #410
@rultor release, tag is `0.13.7`

[2017-08-22 15:25] rultor commented on #410
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12755-324061635)

[2017-08-22 15:41] rultor commented on #410
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12755-324061635) (took me 16min)

[2017-08-22 15:52] #410 closed

[2017-08-22 15:52] 0crat commented on #410
Job `gh:yegor256/cactoos#410` is now out of scope.

[2017-08-22 15:52] 0crat commented on #410
+30 points just awarded to @yegor256, total is [+2190](http://www.0crat.com/u/yegor256).

[2017-08-22 20:37] HDouss commented on #375
@alex-semenyuk It is good for me

[2017-08-22 20:38] HDouss commented on #375
@yegor256 Should I close it or wait for something else ?

[2017-08-23 06:46] yegor256 commented on #375
@HDouss yes, just close if the problem was fixed

[2017-08-23 10:54] filfreire opened #411 "Add base64 encoding/decoding support"
Base64 encoding/decoding support to replace Apache Commons Base64 class.

[2017-08-23 12:13] memoyil commented on #411
@filfreire @yegor256 We had that one but decide to delete it. Because it was just an wrapper class that everybody can do it on the fly.

[2017-08-23 13:42] yegor256 opened #412 "Mapped collection and list"
Let's add that for lists and collections

[2017-08-23 14:05] yegor256 commented on #412
@rultor release tag is `0.14`

[2017-08-23 14:05] rultor commented on #412
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12767-324343183)

[2017-08-23 14:21] rultor commented on #412
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12767-324343183) (took me 15min)

[2017-08-23 14:27] #412 closed

[2017-08-23 14:27] 0crat commented on #412
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-23 15:23] #406 closed

[2017-08-23 15:25] 0crat commented on #406
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-24 06:13] #400 closed

[2017-08-24 06:13] 0crat commented on #400
Job `gh:yegor256/cactoos#400` is now out of scope.

[2017-08-26 16:41] memoyil commented on #399
@Timmeey @yegor256 This issue was solved. You can close it.

[2017-08-27 19:37] #375 closed

[2017-08-27 19:37] 0crat commented on #375
Oops! Job `gh:yegor256/cactoos#375` was not in scope

[2017-08-28 10:19] Zefick opened #413 "Mapped.toString() uses origin collection instead of mapped."
The following snippet prints `[1, 2, 3]`:

[code]

Expected result is `[2, 4, 6]`

The issue affects all `Mapped`s that have suitable `toString` method (`list`, `collection` and `iterable`).

[2017-08-28 11:21] Guseyn opened #414 "Non-blocking io"
Do you have an intention to introduce the non-blocking io in cactoos?

[2017-08-28 17:48] #401 closed

[2017-08-28 17:49] 0crat commented on #401
Oops! Job `gh:yegor256/cactoos#401` was not in scope

[2017-08-29 19:41] voddan commented on #314
Unfortunately I can't continue working on this ticket. My vacation went sideways ;)

[2017-08-30 15:51] yegor256 commented on #414
@Guseyn sure, why not. Would you be interested to contribute? Or at least give an example of what you may need or what exists in Guava or Apache.

[2017-08-30 15:51] yegor256 commented on #413
@0crat in

[2017-08-30 15:51] 0crat commented on #413
You need to ask somebody to invite you: https://github.com/zerocracy/datum#invite-only

[2017-08-30 16:57] Guseyn commented on #414
@yegor256 I am interested to contribute, but I don't know yet what is best approach for cactoos. I experimented with Guava approach, and actually I am not impressed because if you use it with multi-threaded servers(connection per thread), it shows bad performance for concurrency. I prefer use single-threaded server with non-blocking io as Vert.x(or node.js) implemented, for example. By non-blockin

[2017-08-31 13:38] Zefick commented on #353
If I'm not mistaken and understand the issue then `Text` cannot implement `Bytes`. Otherwise it will cause the same problem with lambdas as `Comparable` did.

The solution may be to create `ComparableText` decorator that will implement `Comparable`, `Text`, `Bytes` and whatever you want.

[code]
In case if it will implement `Comparable<Text>` the same code can looks even simplier:

[code]

[2017-09-01 15:09] yegor256 opened #415 "Sorted list and Sorted collection"
Let's introduce two new classes: `org.cactoos.list.Sorted` and `org.cactoos.collection.Sorted`

[2017-09-01 16:49] yegor256 opened #416 "org.cactoos.collection.Skipped"
Let's create `org.cactoos.collection.Skipped` class, similar to `org.cactoos.iterable.Skipped`

[2017-09-01 16:49] yegor256 opened #417 "org.cactoos.collection.Reversed"
Let's create class `org.cactoos.collection.Reversed` similar to `org.cactoos.iterable.Reversed`

[2017-09-01 16:51] yegor256 opened #418 "org.cactoos.collection.Limited"
Let's create `org.cactoos.collection.Limited` similar to `org.cactoos.iterable.Limited`

[2017-09-01 16:51] yegor256 opened #419 "org.cactoos.collection.Joined"
Let's create `org.cactoos.collection.Joined` similar to `org.cactoos.iterable.Joined`

[2017-09-01 16:52] yegor256 opened #420 "org.cactoos.collection.Filtered"
Let's created `org.cactoos.collection.Filtered` similar to `org.cactoos.iterable.Filtered`

[2017-09-01 16:53] yegor256 opened #421 "org.cactoos.collection.StickyCollection"
Let's created `org.cactoos.collection.StickyCollection` similar to `org.cactoos.list.StickyList`

[2017-09-01 18:12] yegor256 opened #422 "OutputTo(File) should do mkdirs()"
`OutputTo(File)` should do `mkdirs()`

[2017-09-01 18:22] yegor256 commented on #422
@rultor release, tag is `0.14.1`

[2017-09-01 18:23] rultor commented on #422
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12882-326651178)

[2017-09-01 18:32] rultor commented on #422
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12882-326651178) (took me 9min)

[2017-09-01 18:35] #422 closed

[2017-09-01 18:35] 0crat commented on #422
Oops! Job `gh:yegor256/cactoos#422` was not in scope

[2017-09-05 09:30] yegor256 opened #423 "TeeOutput"
Let's create TeeOutput.

[2017-09-05 09:31] 0crat commented on #423
Job `gh:yegor256/cactoos#423` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-05 09:31] 0crat commented on #423
+15 points just awarded to @yegor256, total is [+2925](http://www.0crat.com/u/yegor256).

[2017-09-05 10:04] yegor256 commented on #423
@rultor release, tag is `0.16`

[2017-09-05 10:05] rultor commented on #423
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12906-327131228)

[2017-09-05 10:18] rultor commented on #423
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12906-327131228) (took me 13min)

[2017-09-05 10:46] #423 closed

[2017-09-05 10:46] 0crat commented on #423
Job `gh:yegor256/cactoos#423` is now out of scope.

[2017-09-05 10:47] 0crat commented on #423
+30 points just awarded to @yegor256, total is [+2955](http://www.0crat.com/u/yegor256).

[2017-09-05 12:46] Zefick commented on #413
The problem solved with `StickyList`:

[code]

How I think that `toString` method is not needed in such classes as `Mapped`  since it violates the SRP.

[2017-09-08 13:41] yegor256 commented on #414
@Guseyn great, waiting for your code...

[2017-09-11 12:47] alekseysotnikov commented on #364
Thanks, @yegor256

[2017-09-11 12:47] #364 closed

[2017-09-11 12:47] 0crat commented on #364
Oops! Job `gh:yegor256/cactoos#364` was not in scope

[2017-09-11 12:48] #370 closed

[2017-09-11 12:48] 0crat commented on #370
Job `gh:yegor256/cactoos#370` is now out of scope.

[2017-09-11 12:48] 0crat commented on #370
+30 points just awarded to @yegor256, total is [+3210](http://www.0crat.com/u/yegor256).

[2017-09-22 10:10] VsSekorin commented on #417
@yegor256 It seems to me that a typo in comment. Or did I misunderstand?

[2017-09-24 06:10] yegor256 commented on #417
@VsSekorin yes, fixed.

[2017-09-26 08:19] yegor256 opened #429 "AsyncProc"
Let's create it

[2017-09-26 08:38] yegor256 commented on #429
@rultor release, tag is `0.17`

[2017-09-26 08:43] yegor256 commented on #429
@rultor release, tag is `0.17`

[2017-09-26 08:46] rultor commented on #429
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13014-332129486)

[2017-09-26 09:00] rultor commented on #429
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13014-332129486) (took me 13min)

[2017-09-26 09:05] #429 closed

[2017-09-26 09:05] 0crat commented on #429
Oops! Job `gh:yegor256/cactoos#429` was not in scope

[2017-09-27 07:03] yegor256 opened #430 "SyncInput and SyncOutput"
Let's introduce them.

[2017-09-27 07:03] 0crat commented on #430
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-27 07:46] yegor256 commented on #430
@rultor release, tag is `0.18`

[2017-09-27 08:00] rultor commented on #430
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13019-332438457)

[2017-09-27 08:04] 0crat commented on #430
Job `gh:yegor256/cactoos#430` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-27 08:04] 0crat commented on #430
+15 points just awarded to @yegor256, total is [+3390](http://www.0crat.com/u/yegor256).

[2017-09-27 08:17] rultor commented on #430
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13019-332438457) (took me 16min)

[2017-09-27 08:18] #430 closed

[2017-09-27 08:18] 0crat commented on #430
Job `gh:yegor256/cactoos#430` is now out of scope.

[2017-09-27 08:18] 0crat commented on #430
+30 points just awarded to @yegor256, total is [+3420](http://www.0crat.com/u/yegor256).

[2017-09-28 09:28] yegor256 commented on #415
@rultor release, tag is `0.19`

[2017-09-28 09:31] rultor commented on #415
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13029-332781514)

[2017-09-28 09:34] yegor256 commented on #415
@rultor stop

[2017-09-28 09:35] rultor commented on #415
@yegor256 OK, I'll try to stop current task.

[2017-09-28 09:35] rultor commented on #415
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13029-332783035) (spent 3min)

[code]

[2017-09-28 09:48] yegor256 commented on #415
@rultor release, tag is `0.19`

[2017-09-28 09:49] rultor commented on #415
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13029-332786454)

[2017-09-28 10:00] rultor commented on #415
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13029-332786454) (took me 11min)

[2017-09-28 10:00] #415 closed

[2017-09-28 10:01] 0crat commented on #415
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-28 11:02] 0crat commented on #415
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-28 12:03] 0crat commented on #415
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-28 13:04] 0crat commented on #415
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-28 23:23] 0crat commented on #415
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-29 00:24] 0crat commented on #415
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-29 01:24] 0crat commented on #415
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-29 02:25] 0crat commented on #415
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-29 03:26] 0crat commented on #415
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-29 04:27] 0crat commented on #415
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-29 05:28] 0crat commented on #415
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-29 06:29] 0crat commented on #415
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-29 07:30] 0crat commented on #415
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-29 08:31] 0crat commented on #415
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-29 09:31] 0crat commented on #415
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-29 10:32] 0crat commented on #415
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-29 11:33] 0crat commented on #415
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-30 17:51] yegor256 opened #432 "And with BiFunc"
Let's create new ctor for `And` to accept `BiFunc` with index.

[2017-10-01 11:23] yegor256 commented on #432
@rultor release, tag is `0.20`

[2017-10-01 11:24] yegor256 commented on #432
@rultor stop

[2017-10-01 11:26] yegor256 commented on #432
@rultor release, tag is `0.20`

[2017-10-01 11:26] rultor commented on #432
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13060-333370147)

[2017-10-01 11:36] rultor commented on #432
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13060-333370147) (took me 9min)

[2017-10-01 13:02] #432 closed

[2017-10-01 13:03] 0crat commented on #432
Oops! Job `gh:yegor256/cactoos#432` was not in scope

[2017-10-08 19:45] filfreire opened #435 "Add CONTRIBUTING.md file"
Tasks:
* Follow Github guideline https://github.com/blog/1184-contributing-guidelines of having a separate contributing file
* Replace "How to contribute" section's content with a link to CONTRIBUTING.md

(to account for PR https://github.com/yegor256/cactoos/pull/433 )

[2017-10-12 05:57] funivan opened #436 "Constructors inconsistency"
We have `Filtered`  and `Sorted` iterable.
They both have similar behavior:
1. Accept input `Iterator<T>`
2. Accept function, that will be applied to input (`Func<X, Boolean>`,`Comparator<T>`)
3. Apply this function to the input

I think they are very similar because they both change input according to the passed function
But initializing process is different.
[code]

My suggestion is to make cons

[2017-10-13 08:41] filfreire opened #437 "Add label hacktoberfest to some issues"
@yegor256 I suggest you pick a few issues from backlog (https://github.com/yegor256/cactoos/issues) that have not been assigned to anyone to be solved in the context of https://hacktoberfest.digitalocean.com/

[2017-10-13 13:59] yegor256 commented on #437
@filfreire good idea, let me try to add "help wanted" first.

[2017-10-13 13:59] 0crat commented on #314
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 13:59] 0crat commented on #335
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 13:59] 0crat commented on #338
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 13:59] 0crat commented on #350
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 13:59] 0crat commented on #351
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 13:59] 0crat commented on #352
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 13:59] 0crat commented on #353
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 13:59] 0crat commented on #365
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 13:59] 0crat commented on #376
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 13:59] 0crat commented on #377
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 13:59] 0crat commented on #411
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 14:00] 0crat commented on #413
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 14:00] 0crat commented on #416
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 14:00] 0crat commented on #417
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 14:00] 0crat commented on #418
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 14:00] 0crat commented on #419
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 14:00] 0crat commented on #420
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 14:00] 0crat commented on #421
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 14:00] yegor256 commented on #301
@filfreire what do you think about this?

[2017-10-13 14:01] yegor256 commented on #437
@filfreire done

[2017-10-13 14:01] #437 closed

[2017-10-13 14:01] 0crat commented on #437
Oops! Job `gh:yegor256/cactoos#437` was not in scope

[2017-10-13 14:01] 0crat commented on #437
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 14:01] 0crat commented on #435
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 14:02] 0crat commented on #435
Job `gh:yegor256/cactoos#435` is in scope.

[2017-10-13 14:02] 0crat commented on #435
Oops! Job `gh:yegor256/cactoos#435` is not assigned, can't get performer

[2017-10-13 14:02] 0crat commented on #435
Job `gh:yegor256/cactoos#435` assigned to @0crat, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)). @0crat is not a member of this project yet, but can request to join. @0crat check your [Zerocracy profile](http://www.0crat.com/u/0crat) and follow the instructions.

[2017-10-13 14:02] 0crat commented on #435
@0crat resigned from `gh:yegor256/cactoos#435`, please stop working.

[2017-10-13 14:02] 0crat commented on #435
Oops! Job `gh:yegor256/cactoos#435` is already in scope

[2017-10-13 15:00] 0crat commented on #314
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:00] 0crat commented on #335
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:00] 0crat commented on #338
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:00] 0crat commented on #350
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:00] 0crat commented on #351
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:00] 0crat commented on #352
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:00] 0crat commented on #353
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:00] 0crat commented on #365
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:00] 0crat commented on #376
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:00] 0crat commented on #411
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:00] 0crat commented on #377
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:00] 0crat commented on #413
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:00] 0crat commented on #416
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:00] 0crat commented on #417
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:00] 0crat commented on #418
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:00] 0crat commented on #419
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:00] 0crat commented on #420
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:00] 0crat commented on #421
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:01] 0crat commented on #420
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:01] 0crat commented on #421
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:02] 0crat commented on #435
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:02] 0crat commented on #437
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:03] 0crat commented on #435
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:00] 0crat commented on #335
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:01] 0crat commented on #314
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:01] 0crat commented on #338
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:01] 0crat commented on #350
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:01] 0crat commented on #351
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:01] 0crat commented on #352
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:01] 0crat commented on #353
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:01] 0crat commented on #365
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:01] 0crat commented on #376
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:01] 0crat commented on #411
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:01] 0crat commented on #377
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:01] 0crat commented on #413
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:01] 0crat commented on #416
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:01] 0crat commented on #417
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:01] 0crat commented on #418
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:01] 0crat commented on #419
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:02] 0crat commented on #420
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:02] 0crat commented on #421
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:03] 0crat commented on #437
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:04] 0crat commented on #435
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:50] yegor256 commented on #436
@funivan input last. Please, contribute with a PR. Thanks for the ticket!

[2017-10-13 17:01] 0crat commented on #314
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:01] 0crat commented on #335
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:01] 0crat commented on #338
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:01] 0crat commented on #350
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:01] 0crat commented on #351
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:01] 0crat commented on #352
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:01] 0crat commented on #353
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:01] 0crat commented on #365
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:01] 0crat commented on #376
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:01] 0crat commented on #377
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:01] 0crat commented on #411
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:01] 0crat commented on #413
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:01] 0crat commented on #416
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:01] 0crat commented on #417
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:01] 0crat commented on #418
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]