[2019-04-06 10:50] victornoel commented on #941
@atapin yep sorry, I didn't know this was already merged,, @Iprogrammerr forgot to notify me, good for you you get the points ;)

[2019-04-06 10:50] #941 closed

[2019-04-06 10:52] victornoel commented on #939
@ilyakharlamov yep, no problem

[2019-04-06 10:52] #939 closed

[2019-04-06 10:58] victornoel commented on #1039
@0crat refuse

[2019-04-06 11:03] 0crat commented on #1039
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#1039](https://github.com/yegor256/cactoos/issues/1039), please stop working. Reason for job resignation: Order was cancelled

[2019-04-06 11:09] 0crat commented on #1039
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-06 11:10] 0crat commented on #941
Job was finished in 35 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-06 11:10] 0crat commented on #941
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @atapin[/z](https://www.0crat.com/u/atapin), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-06 11:11] 0crat commented on #941
The job [#941](https://github.com/yegor256/cactoos/issues/941) is now out of scope

[2019-04-06 11:11] 0crat commented on #939
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-06 11:11] 0crat commented on #939
The job [#939](https://github.com/yegor256/cactoos/issues/939) is now out of scope

[2019-04-06 11:24] sereshqua commented on #941
@0pdd quality good

[2019-04-06 11:26] sereshqua commented on #939
@0pdd quality good

[2019-04-06 11:32] sereshqua commented on #941
@0crat quality good

[2019-04-06 11:33] sereshqua commented on #939
@0crat quality good

[2019-04-06 11:40] 0crat commented on #941
Order was finished, quality is "good": +40 point(s) just awarded to @atapin[/z](https://www.0crat.com/u/atapin)

[2019-04-06 11:42] 0crat commented on #941
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-06 11:44] 0crat commented on #939
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-06 11:44] 0crat commented on #939
Order was finished, quality is "good": +35 point(s) just awarded to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov)

[2019-04-06 11:46] 0crat commented on #1039
The job [#1039](https://github.com/yegor256/cactoos/issues/1039) assigned to @atapin[/z](https://www.0crat.com/u/atapin), here is [why](https://www.0crat.com/footprint/C63314D6Z/4721a601-85b1-4539-9fba-9255e15c8cd4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-04-06 11:46] 0crat commented on #1034
The job [#1034](https://github.com/yegor256/cactoos/issues/1034) assigned to @atapin[/z](https://www.0crat.com/u/atapin), here is [why](https://www.0crat.com/footprint/C63314D6Z/c27d9068-a756-40e1-a3c5-7e0d91f8f88f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-04-06 12:47] llorllale commented on #930
@neonailol PR #1092 merged. Closing this.

[2019-04-06 12:47] #930 closed

[2019-04-06 12:49] llorllale commented on #1089
@dgroup that remains to be determined

Can we close this issue?

[2019-04-06 12:50] llorllale commented on #1022
@longstone yes, you're right. You can claim the ZC points yourself.

[2019-04-06 12:54] dgroup commented on #1089
@llorllale , yes, thank you.
I'll subscribe on #944 .

[2019-04-06 12:54] #1089 closed

[2019-04-06 13:09] 0crat commented on #930
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-06 13:09] 0crat commented on #930
The job [#930](https://github.com/yegor256/cactoos/issues/930) is now out of scope

[2019-04-06 13:09] 0crat commented on #1089
Job `gh:yegor256/cactoos#1089` is not assigned, can't get performer

[2019-04-06 13:09] 0crat commented on #1089
This job is not in scope

[2019-04-06 13:19] sereshqua commented on #930
@0crat quality good

[2019-04-06 13:19] 0crat commented on #1040
The job [#1040](https://github.com/yegor256/cactoos/issues/1040) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/be7ac7ce-8a5f-401a-a40e-88b9259a8cb1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-04-06 13:26] 0crat commented on #930
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-06 13:26] 0crat commented on #930
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-06 14:36] victornoel commented on #1040
@0crat wait for #1097 to be merged

[2019-04-06 14:42] 0crat commented on #1040
@victornoel The impediment for [#1040](https://github.com/yegor256/cactoos/issues/1040) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-07 13:45] #1094 closed

[2019-04-07 14:02] 0crat commented on #1094
Job `gh:yegor256/cactoos#1094` is not assigned, can't get performer

[2019-04-07 14:02] 0crat commented on #1094
This job is not in scope

[2019-04-08 13:14] longstone commented on #1022
@fabriciofx as the task is done, can you please close the ticket?

[2019-04-10 18:44] victornoel commented on #949
@llorllale reporter does not seem to answer anymore, could you close this please?

[2019-04-11 05:37] atapin opened #1102 "Override default toString() for org.cactoos.iterator.Immutable"
As `org.cactoos.iterator.Immutable` provides the default `toString()` implementation, we see not friendly messages like:

[code]

[2019-04-11 05:37] 0crat commented on #1102
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-13 00:21] llorllale opened #1103 "Keep PRs small"
@atapin, @borysfan, @dgroup, @golyalpha, @ilyakharlamov, @llorllale, @longstone, @mazdack, @scratchboom, @umbrah, @verkhovin, @victornoel

Hi guys,

Remember to aim to keep PRs small as it says so right in the [template](https://github.com/yegor256/cactoos/blob/master/.github/PULL_REQUEST_TEMPLATE.md).

This goes for REVs as well: block or reject a PR if it's too big.

Sometimes, and only *sometim

[2019-04-13 00:21] #1103 closed

[2019-04-13 00:41] 0crat commented on #1103
Job `gh:yegor256/cactoos#1103` is not assigned, can't get performer

[2019-04-13 00:43] 0crat commented on #1103
This job is not in scope

[2019-04-13 00:43] llorllale commented on #949
@mborra PR #1093 was merged for this.

Closing this issue due to unresponsiveness.

[2019-04-13 00:43] #949 closed

[2019-04-13 00:55] 0pdd opened #1104 "ItemAt.java:175-178: Remove iterator constructor from..."
The puzzle `911-b9a58d58` from #911 has to be resolved:

https://github.com/yegor256/cactoos/blob/341af0d58d1845cdc8eb31b5ea9987496ceeea87/src/main/java/org/cactoos/scalar/ItemAt.java#L175-L178

The puzzle was created by @rultor on 13-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzl

[2019-04-13 00:55] 0pdd commented on #1104
This puzzle inherited milestone `1.0` from issue #911.

[2019-04-13 00:55] 0pdd commented on #911
@svendiedrichsen the puzzle [#1104](https://github.com/yegor256/cactoos/issues/1104) is still not solved.

[2019-04-13 00:55] 0crat commented on #1104
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-13 01:00] 0crat commented on #1104
Job [#1104](https://github.com/yegor256/cactoos/issues/1104) is now in scope, role is `DEV`

[2019-04-13 01:08] 0crat commented on #949
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-13 01:10] 0crat commented on #949
The job [#949](https://github.com/yegor256/cactoos/issues/949) is now out of scope

[2019-04-13 05:18] sereshqua commented on #949
@0crat quality good

[2019-04-13 05:24] 0crat commented on #949
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-13 05:24] 0crat commented on #949
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-14 13:32] llorllale commented on #1102
@0crat in

[2019-04-14 13:33] 0crat commented on #1102
@llorllale Job [#1102](https://github.com/yegor256/cactoos/issues/1102) is now in scope, role is `DEV`

[2019-04-14 13:39] 0crat commented on #1102
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @atapin[/z](https://www.0crat.com/u/atapin)

[2019-04-14 14:56] korthout opened #1105 "Iterable of Optional has usability issues"
Sometimes we map some Iterable where the mapping method may or may not provide an answer. In java represented by return type `java.util.Optional`. Such a mapping requires both a filter and a map function on top of the original map to get back to an Iterable of the mapped objects for which an answer was available. For example:

[code]
Using streams, we have a shorthand method available on Optional

[2019-04-14 14:56] 0crat commented on #1105
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-14 14:56] 0crat commented on #1105
@korthout[/z](https://www.0crat.com/u/korthout) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-15 06:13] atapin commented on #1034
@0crat refuse

[2019-04-15 06:14] 0crat commented on #1034
@atapin The user @atapin[/z](https://www.0crat.com/u/atapin) resigned from [#1034](https://github.com/yegor256/cactoos/issues/1034), please stop working. Reason for job resignation: Order was cancelled

[2019-04-15 06:14] 0crat commented on #1034
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @atapin[/z](https://www.0crat.com/u/atapin)

[2019-04-15 08:49] Umbrah commented on #922
@llorllale Can we close it? PR was merged

[2019-04-15 22:43] 0pdd commented on #1037
The puzzle `971-205df100` has disappeared from the source code, that's why I closed this issue.

[2019-04-15 22:43] #1037 closed

[2019-04-15 22:43] 0pdd commented on #971
@g4s8 the only puzzle [#1037](https://github.com/yegor256/cactoos/issues/1037) is solved here.

[2019-04-15 23:02] 0crat commented on #1037
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @umbrah[/z](https://www.0crat.com/u/umbrah), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-15 23:02] 0crat commented on #1037
The job [#1037](https://github.com/yegor256/cactoos/issues/1037) is now out of scope

[2019-04-15 23:18] llorllale commented on #922
@Umbrah always as the ticket reporter first

[2019-04-15 23:32] 0pdd commented on #1039
The puzzle `1023-be859eed` has disappeared from the source code, that's why I closed this issue.

[2019-04-15 23:32] #1039 closed

[2019-04-15 23:33] 0pdd opened #1106 "NoNullsTest.java:79-82: Currently it's impossible to..."
The puzzle `1039-dc7f8b11` from #1039 has to be resolved:

https://github.com/yegor256/cactoos/blob/55c2421e9e8b99c2f912f0838d36dc65ef629fe5/src/test/java/org/cactoos/iterator/NoNullsTest.java#L79-L82

The puzzle was created by Andrey Atapin on 15-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-04-15 23:33] 0pdd commented on #1023
@fabriciofx the puzzle [#1106](https://github.com/yegor256/cactoos/issues/1106) is still not solved; solved: [#1039](https://github.com/yegor256/cactoos/issues/1039).

[2019-04-15 23:33] 0pdd commented on #1039
@0pdd the puzzle [#1106](https://github.com/yegor256/cactoos/issues/1106) is still not solved.

[2019-04-15 23:33] 0crat commented on #1106
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-15 23:39] 0crat commented on #1106
Job [#1106](https://github.com/yegor256/cactoos/issues/1106) is now in scope, role is `DEV`

[2019-04-15 23:51] 0crat commented on #1039
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @atapin[/z](https://www.0crat.com/u/atapin), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-15 23:55] 0crat commented on #1039
The job [#1039](https://github.com/yegor256/cactoos/issues/1039) is now out of scope

[2019-04-15 23:57] 0crat commented on #1034
The job [#1034](https://github.com/yegor256/cactoos/issues/1034) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/920b6bd7-c521-4db9-8410-7c5d1c8bc6c9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-04-16 04:03] sereshqua commented on #1037
@0crat quality good

[2019-04-16 04:10] 0crat commented on #1037
Order was finished, quality is "good": +35 point(s) just awarded to @umbrah[/z](https://www.0crat.com/u/umbrah)

[2019-04-16 04:10] 0crat commented on #1037
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-16 04:14] sereshqua commented on #1039
@0crat quality good

[2019-04-16 04:24] 0crat commented on #1039
Order was finished, quality is "good": +35 point(s) just awarded to @atapin[/z](https://www.0crat.com/u/atapin)

[2019-04-16 04:24] 0crat commented on #1039
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-16 04:24] 0crat commented on #1046
The job [#1046](https://github.com/yegor256/cactoos/issues/1046) assigned to @atapin[/z](https://www.0crat.com/u/atapin), here is [why](https://www.0crat.com/footprint/C63314D6Z/68bf87a0-543e-4b53-a771-58a6d20b30ab); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-04-16 04:28] 0crat commented on #1048
The job [#1048](https://github.com/yegor256/cactoos/issues/1048) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/a6475aed-05ad-401f-bf88-ee14c40dfa4b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-04-16 11:19] 0crat commented on #1062
The job [#1062](https://github.com/yegor256/cactoos/issues/1062) assigned to @umbrah[/z](https://www.0crat.com/u/umbrah), here is [why](https://www.0crat.com/footprint/C63314D6Z/5db3290c-250a-41ec-bcaa-0d27f75051c4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-04-16 14:24] Umbrah commented on #922
@butenkos Can we close it?

[2019-04-17 06:18] #922 closed

[2019-04-17 06:42] 0crat commented on #922
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @umbrah[/z](https://www.0crat.com/u/umbrah), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-17 06:44] 0crat commented on #922
The job [#922](https://github.com/yegor256/cactoos/issues/922) is now out of scope

[2019-04-17 06:44] 0crat commented on #922
Job [#922](https://github.com/yegor256/cactoos/issues/922) is not in the agenda of @umbrah[/z](https://www.0crat.com/u/umbrah), can't inspect

[2019-04-17 06:46] 0crat commented on #1063
The job [#1063](https://github.com/yegor256/cactoos/issues/1063) assigned to @umbrah[/z](https://www.0crat.com/u/umbrah), here is [why](https://www.0crat.com/footprint/C63314D6Z/6977f446-b0fa-45e4-aeaa-0347c2a07c61); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-04-17 06:56] 0crat commented on #922
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-17 06:57] 0crat commented on #922
Order was finished, quality is "good": +35 point(s) just awarded to @umbrah[/z](https://www.0crat.com/u/umbrah)

[2019-04-18 00:42] llorllale commented on #1105
@korthout I am confused - you mention `Optional` yet your example implies you want an `Iterable`. Your example is not about flattening - it's about filtering. Thus your example can be short-circuited with `new Filtered<>(e -> e != null, "a", null, "b")`.

There are several options available in cactoos for taking action when this iterable is empty, or has N elements.

Maybe if you can explain more.

[2019-04-18 08:26] Umbrah commented on #927
@victornoel Can we close it? PR was merged

[2019-04-18 11:46] victornoel commented on #927
@Umbrah thanks

[2019-04-18 11:46] #927 closed

[2019-04-18 12:03] 0crat commented on #927
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @umbrah[/z](https://www.0crat.com/u/umbrah), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-18 12:03] 0crat commented on #927
The job [#927](https://github.com/yegor256/cactoos/issues/927) is now out of scope

[2019-04-18 12:12] sereshqua commented on #927
@0crat quality good

[2019-04-18 12:19] 0crat commented on #927
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-18 12:19] 0crat commented on #927
Order was finished, quality is "good": +35 point(s) just awarded to @umbrah[/z](https://www.0crat.com/u/umbrah)

[2019-04-19 11:34] #1062 closed

[2019-04-19 11:35] 0pdd commented on #1062
The puzzle `886-065814f2` has disappeared from the source code, that's why I closed this issue.

[2019-04-19 11:35] 0pdd commented on #551
@neonailol the puzzle [#1040](https://github.com/yegor256/cactoos/issues/1040) is still not solved; solved: [#1062](https://github.com/yegor256/cactoos/issues/1062), [#861](https://github.com/yegor256/cactoos/issues/861), [#883](https://github.com/yegor256/cactoos/issues/883), [#884](https://github.com/yegor256/cactoos/issues/884), [#885](https://github.com/yegor256/cactoos/issues/885), [#886](htt

[2019-04-19 11:35] 0pdd commented on #861
@0pdd the puzzle [#1040](https://github.com/yegor256/cactoos/issues/1040) is still not solved; solved: [#1062](https://github.com/yegor256/cactoos/issues/1062), [#883](https://github.com/yegor256/cactoos/issues/883), [#884](https://github.com/yegor256/cactoos/issues/884), [#885](https://github.com/yegor256/cactoos/issues/885), [#886](https://github.com/yegor256/cactoos/issues/886), [#887](https://

[2019-04-19 11:35] 0pdd commented on #886
@0pdd the only puzzle [#1062](https://github.com/yegor256/cactoos/issues/1062) is solved here.

[2019-04-19 11:52] 0crat commented on #1062
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @umbrah[/z](https://www.0crat.com/u/umbrah), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-19 11:56] 0crat commented on #1062
The job [#1062](https://github.com/yegor256/cactoos/issues/1062) is now out of scope

[2019-04-19 12:06] sereshqua commented on #1062
@0crat quality good

[2019-04-19 12:13] 0crat commented on #1062
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-19 12:13] 0crat commented on #1062
Order was finished, quality is "good": +35 point(s) just awarded to @umbrah[/z](https://www.0crat.com/u/umbrah)

[2019-04-19 12:20] 0crat commented on #1082
The job [#1082](https://github.com/yegor256/cactoos/issues/1082) assigned to @umbrah[/z](https://www.0crat.com/u/umbrah), here is [why](https://www.0crat.com/footprint/C63314D6Z/f86f81c4-4c2a-46f2-a3eb-4e2b2823c2a9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-04-19 15:04] victornoel commented on #1048
@0crat refuse

[2019-04-19 15:05] 0crat commented on #1048
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#1048](https://github.com/yegor256/cactoos/issues/1048), please stop working. Reason for job resignation: Order was cancelled

[2019-04-19 15:06] 0crat commented on #1048
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-19 15:11] victornoel commented on #1034
@0crat refuse

[2019-04-19 15:11] 0crat commented on #1034
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#1034](https://github.com/yegor256/cactoos/issues/1034), please stop working. Reason for job resignation: Order was cancelled

[2019-04-19 15:12] 0crat commented on #1034
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-21 12:02] llorllale commented on #1033
@0crat refuse

[2019-04-21 12:04] 0crat commented on #1033
@llorllale The user @longstone[/z](https://www.0crat.com/u/longstone) resigned from [#1033](https://github.com/yegor256/cactoos/issues/1033), please stop working. Reason for job resignation: Order was cancelled

[2019-04-21 12:17] 0pdd opened #1109 "CollectionEnvelope.java:42-44: Make the toString() method..."
The puzzle `996-e264dc0b` from #996 has to be resolved:

https://github.com/yegor256/cactoos/blob/f71ae47a514670e67ae3c8d9696f4f5070a97955/src/main/java/org/cactoos/collection/CollectionEnvelope.java#L42-L44

The puzzle was created by Victor Noël on 06-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2019-04-21 12:17] 0pdd commented on #996
@Shryne the puzzle [#1109](https://github.com/yegor256/cactoos/issues/1109) is still not solved.

[2019-04-21 12:17] 0crat commented on #1109
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-21 12:22] 0crat commented on #1109
Job [#1109](https://github.com/yegor256/cactoos/issues/1109) is now in scope, role is `DEV`

[2019-04-21 13:16] #1040 closed

[2019-04-21 13:16] 0pdd commented on #1040
The puzzle `888-b319d713` has disappeared from the source code, that's why I closed this issue.

[2019-04-21 13:16] 0pdd commented on #551
@neonailol all 9 puzzles are solved here: [#1040](https://github.com/yegor256/cactoos/issues/1040), [#1062](https://github.com/yegor256/cactoos/issues/1062), [#861](https://github.com/yegor256/cactoos/issues/861), [#883](https://github.com/yegor256/cactoos/issues/883), [#884](https://github.com/yegor256/cactoos/issues/884), [#885](https://github.com/yegor256/cactoos/issues/885), [#886](https://git

[2019-04-21 13:16] 0pdd commented on #861
@0pdd all 8 puzzles are solved here: [#1040](https://github.com/yegor256/cactoos/issues/1040), [#1062](https://github.com/yegor256/cactoos/issues/1062), [#883](https://github.com/yegor256/cactoos/issues/883), [#884](https://github.com/yegor256/cactoos/issues/884), [#885](https://github.com/yegor256/cactoos/issues/885), [#886](https://github.com/yegor256/cactoos/issues/886), [#887](https://github.c

[2019-04-21 13:16] 0pdd commented on #888
@0pdd the only puzzle [#1040](https://github.com/yegor256/cactoos/issues/1040) is solved here.

[2019-04-21 13:42] 0crat commented on #1040
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-21 13:44] 0crat commented on #1040
The job [#1040](https://github.com/yegor256/cactoos/issues/1040) is now out of scope

[2019-04-21 13:55] sereshqua commented on #1040
@0crat quality good

[2019-04-21 14:05] 0crat commented on #1040
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-21 14:07] 0crat commented on #1040
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-21 14:32] 0crat commented on #1033
The job [#1033](https://github.com/yegor256/cactoos/issues/1033) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C63314D6Z/d058c267-6331-4972-908f-e562f35fa3f3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-04-21 15:56] vzurauskas opened #1110 "PMD fails on UseStringIsEmptyRule in RandomizedTest.java"
See the latest build: http://www.rultor.com/t/18634-484857176

[code]

The build still passes, but the `UseStringIsEmptyRule` is failing, so it should be fixed.

[2019-04-21 15:57] 0crat commented on #1110
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-21 17:43] vzurauskas commented on #1033
@0crat wait for #1111 to be merged

[2019-04-21 17:57] 0crat commented on #1033
@vzurauskas The impediment for [#1033](https://github.com/yegor256/cactoos/issues/1033) was registered successfully by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-04-22 08:07] vzurauskas commented on #1110
Actually, it's a dublicate. Will be resolved by https://github.com/teamed/qulice/issues/1033.

[2019-04-22 08:07] #1110 closed

[2019-04-22 08:25] 0crat commented on #1110
Job `gh:yegor256/cactoos#1110` is not assigned, can't get performer

[2019-04-22 08:25] 0crat commented on #1110
This job is not in scope

[2019-04-22 15:45] vzurauskas opened #1112 "Unit tests are too slow"
For [TDD](https://blog.cleancoder.com/uncle-bob/2014/12/17/TheCyclesOfTDD.html) to be possible, the whole unit test suite [must not take longer than 10 seconds to run](https://blog.ploeh.dk/2012/05/24/TDDtestsuitesshouldrunin10secondsorless/), from click to finish. TDD works by constantly switching from unit test to production code and back again, often several times per minute. That means tests n

[2019-04-22 15:45] 0crat commented on #1112
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-23 01:25] llorllale commented on #1112
@vzurauskas it's worth noting that running the tests with `mvn test` involves a lot more than just execution of the test suite

[2019-04-23 01:25] llorllale commented on #1112
@0crat assign me

[2019-04-23 01:26] llorllale commented on #1112
@vzurauskas given what I said [here](https://github.com/yegor256/cactoos/issues/1112#issuecomment-485607497), it might not be possible to have `mvn test` execute in less than ten seconds on your average laptop.

However, the current situation is definitely not acceptable, so we'll do our best to fix it.

[2019-04-23 01:29] 0crat commented on #1112
@llorllale The job [#1112](https://github.com/yegor256/cactoos/issues/1112) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C63314D6Z/59a7d260-0bd8-4876-92a6-addfea96ac9c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-04-23 01:33] 0crat commented on #1112
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-04-23 01:35] 0crat commented on #1112
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-04-23 01:46] llorllale commented on #1112
@0crat wait I submitted PR #1113 for this

[2019-04-23 01:47] 0crat commented on #1112
@llorllale The impediment for [#1112](https://github.com/yegor256/cactoos/issues/1112) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-04-23 07:14] 0crat commented on #1086
The job [#1086](https://github.com/yegor256/cactoos/issues/1086) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C63314D6Z/561aa7a9-502c-403e-8b80-94f278b44939); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-04-23 09:26] vzurauskas commented on #1086
@0crat refuse - cactoos-matchers isn't ready yet.

[2019-04-23 09:27] 0crat commented on #1086
@vzurauskas The user @vzurauskas[/z](https://www.0crat.com/u/vzurauskas) resigned from [#1086](https://github.com/yegor256/cactoos/issues/1086), please stop working. Reason for job resignation: Order was cancelled

[2019-04-23 09:28] 0crat commented on #1086
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-04-23 09:33] 0crat commented on #1034
The job [#1034](https://github.com/yegor256/cactoos/issues/1034) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C63314D6Z/cfa2f0ee-a2b8-47d4-b7d3-b29afe345b07); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-04-23 11:34] vzurauskas commented on #1034
@llorllale I can't reproduce it, the following test passes:

[code]

Unless I'm missing something, the issue appears to have been fixed.

[2019-04-23 11:35] vzurauskas commented on #1034
@0crat wait for llorllale to respond.

[2019-04-23 11:42] 0crat commented on #1034
@vzurauskas The impediment for [#1034](https://github.com/yegor256/cactoos/issues/1034) was registered successfully by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-04-23 11:55] victornoel commented on #996
@Shryne the PR was merged, this issue can be closed now :)

[2019-04-23 12:22] Umbrah commented on #1063
@0crat waiting #1108

[2019-04-23 12:23] 0crat commented on #1063
@Umbrah The impediment for [#1063](https://github.com/yegor256/cactoos/issues/1063) was registered successfully by @umbrah[/z](https://www.0crat.com/u/umbrah)

[2019-04-23 13:22] #996 closed

[2019-04-23 13:48] 0crat commented on #996
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-23 13:48] 0crat commented on #996
The job [#996](https://github.com/yegor256/cactoos/issues/996) is now out of scope

[2019-04-23 13:53] sereshqua commented on #996
@0crat quality good

[2019-04-23 14:01] 0crat commented on #996
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-23 14:01] 0crat commented on #996
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-04-23 14:17] 0pdd opened #1115 "ThreadsTest.java:45-46: Continue speeding up the `mvn..."
The puzzle `1112-aa9105a7` from #1112 has to be resolved:

https://github.com/yegor256/cactoos/blob/eb131359631b2d6c26695866180030800455bdb6/src/test/java/org/cactoos/experimental/ThreadsTest.java#L45-L46

The puzzle was created by @llorllale on 23-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the tex

[2019-04-23 14:17] 0crat commented on #1115
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-23 14:17] 0pdd commented on #1112
@vzurauskas the puzzle [#1115](https://github.com/yegor256/cactoos/issues/1115) is still not solved.

[2019-04-23 14:23] 0crat commented on #1115
Job [#1115](https://github.com/yegor256/cactoos/issues/1115) is now in scope, role is `DEV`

[2019-04-23 18:06] llorllale commented on #1112
@vzurauskas work to speed up `mvn test` started in PR #1113 (which was merged). Can we close this?

[2019-04-23 23:09] llorllale commented on #1034
@vzurauskas are you testing with the implementation I included in the description?

[2019-04-23 23:26] 0pdd commented on #1063
The puzzle `897-f060f15b` has disappeared from the source code, that's why I closed this issue.

[2019-04-23 23:26] #1063 closed

[2019-04-23 23:26] 0pdd opened #1116 "FormattedText.java:39-42: All classes implementing Text..."
The puzzle `1063-eb6fd66d` from #1063 has to be resolved:

https://github.com/yegor256/cactoos/blob/d70339deda0a06d64ca732b7eadb85e3ad7e7be5/src/main/java/org/cactoos/text/FormattedText.java#L39-L42

The puzzle was created by @rultor on 23-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-04-23 23:26] 0pdd commented on #788
@krzyk the puzzle [#1116](https://github.com/yegor256/cactoos/issues/1116) is still not solved; solved: [#1063](https://github.com/yegor256/cactoos/issues/1063), [#849](https://github.com/yegor256/cactoos/issues/849), [#878](https://github.com/yegor256/cactoos/issues/878), [#897](https://github.com/yegor256/cactoos/issues/897), [#929](https://github.com/yegor256/cactoos/issues/929).

[2019-04-23 23:26] 0pdd commented on #849
@0pdd the puzzle [#1116](https://github.com/yegor256/cactoos/issues/1116) is still not solved; solved: [#1063](https://github.com/yegor256/cactoos/issues/1063), [#878](https://github.com/yegor256/cactoos/issues/878), [#897](https://github.com/yegor256/cactoos/issues/897), [#929](https://github.com/yegor256/cactoos/issues/929).

[2019-04-23 23:26] 0pdd commented on #878
@0pdd the puzzle [#1116](https://github.com/yegor256/cactoos/issues/1116) is still not solved; solved: [#1063](https://github.com/yegor256/cactoos/issues/1063), [#897](https://github.com/yegor256/cactoos/issues/897), [#929](https://github.com/yegor256/cactoos/issues/929).

[2019-04-23 23:26] 0pdd commented on #897
@0pdd the puzzle [#1116](https://github.com/yegor256/cactoos/issues/1116) is still not solved; solved: [#1063](https://github.com/yegor256/cactoos/issues/1063), [#929](https://github.com/yegor256/cactoos/issues/929).

[2019-04-23 23:26] 0pdd commented on #1063
@0pdd the puzzle [#1116](https://github.com/yegor256/cactoos/issues/1116) is still not solved.

[2019-04-23 23:27] 0crat commented on #1116
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-23 23:34] 0crat commented on #1116
Job [#1116](https://github.com/yegor256/cactoos/issues/1116) is now in scope, role is `DEV`

[2019-04-23 23:48] 0crat commented on #1063
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @umbrah[/z](https://www.0crat.com/u/umbrah), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-23 23:48] 0crat commented on #1063
The job [#1063](https://github.com/yegor256/cactoos/issues/1063) is now out of scope

[2019-04-23 23:55] 0pdd opened #1117 "package-info.java:29-32: Continue replacing usage of..."
The puzzle `1033-b5541bca` from #1033 has to be resolved:

https://github.com/yegor256/cactoos/blob/b74f80cca44fa8b9bf58213159c2a068151da6c4/src/main/java/org/cactoos/io/package-info.java#L29-L32

The puzzle was created by Vytas on 21-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzl

[2019-04-23 23:56] 0pdd commented on #1033
@llorllale the puzzle [#1117](https://github.com/yegor256/cactoos/issues/1117) is still not solved.

[2019-04-23 23:56] 0crat commented on #1117
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-24 00:02] 0crat commented on #1117
Job [#1117](https://github.com/yegor256/cactoos/issues/1117) is now in scope, role is `DEV`

[2019-04-24 03:17] sereshqua commented on #1063
@0crat quality good

[2019-04-24 03:25] 0crat commented on #1063
Order was finished, quality is "good": +35 point(s) just awarded to @umbrah[/z](https://www.0crat.com/u/umbrah)

[2019-04-24 03:25] 0crat commented on #1063
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-24 03:27] 0crat commented on #1048
The job [#1048](https://github.com/yegor256/cactoos/issues/1048) assigned to @umbrah[/z](https://www.0crat.com/u/umbrah), here is [why](https://www.0crat.com/footprint/C63314D6Z/83a1aa9b-e486-4617-ac18-0b44fecdeec7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-04-24 10:53] 0crat commented on #1086
The job [#1086](https://github.com/yegor256/cactoos/issues/1086) assigned to @umbrah[/z](https://www.0crat.com/u/umbrah), here is [why](https://www.0crat.com/footprint/C63314D6Z/d1580d4c-93dc-4909-bb64-7d0120e12c12); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-04-24 11:46] vzurauskas commented on #1033
@llorllale https://github.com/yegor256/cactoos/pull/1111 was merged, can this be closed now?

[2019-04-24 12:01] vzurauskas commented on #1034
@llorllale No, with the current one. I presumed the one in the description was in production at the time this issue was opened, was failing and needed to be fixed, but could have been fixed by unrelated PRs since then.

Or is it the case that it might indicate a cyclic dependency somewhere **outside** `IterableOf`, so the goal of this issue is making the particular implementation in the descriptio

[2019-04-24 12:16] Umbrah commented on #1086
@0crat refuse

[2019-04-24 12:18] 0crat commented on #1086
@Umbrah The user @umbrah[/z](https://www.0crat.com/u/umbrah) resigned from [#1086](https://github.com/yegor256/cactoos/issues/1086), please stop working. Reason for job resignation: Order was cancelled

[2019-04-24 12:23] 0crat commented on #1086
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @umbrah[/z](https://www.0crat.com/u/umbrah)

[2019-04-24 12:23] 0crat commented on #1084
The job [#1084](https://github.com/yegor256/cactoos/issues/1084) assigned to @umbrah[/z](https://www.0crat.com/u/umbrah), here is [why](https://www.0crat.com/footprint/C63314D6Z/2dead438-e256-455b-b79b-825d3ec1d299); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-04-24 14:45] vzurauskas commented on #1034
@llorllale Turns out the problem was with the implementation in the description. Stack overflow happens because the invocation of `current.value()` eventually causes the invocation of `subsequent.apply(...)`, which in turn causes the invocation of `current.value()`.

An equivalent but simplified situation can be demonstrated with the following test:

[code]

[2019-04-25 01:01] llorllale commented on #1033
@vzurauskas thanks

[2019-04-25 01:01] #1033 closed

[2019-04-25 01:18] #1082 closed

[2019-04-25 01:18] 0pdd commented on #1082
The puzzle `951-fd48e847` has disappeared from the source code, that's why I closed this issue.

[2019-04-25 01:18] 0pdd opened #1119 "pom.xml:165-171: In the continuation of #588, all the..."
The puzzle `1082-fd48e847` from #1082 has to be resolved:

https://github.com/yegor256/cactoos/blob/42e29c66ce3a7d82ac433e5640568cb79875db0d/pom.xml#L165-L171

The puzzle was created by rultor on 25-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the source code.

[2019-04-25 01:18] 0pdd commented on #588
@neonailol the puzzle [#1119](https://github.com/yegor256/cactoos/issues/1119) is still not solved; solved: [#1082](https://github.com/yegor256/cactoos/issues/1082), [#902](https://github.com/yegor256/cactoos/issues/902), [#903](https://github.com/yegor256/cactoos/issues/903), [#951](https://github.com/yegor256/cactoos/issues/951).

[2019-04-25 01:18] 0pdd commented on #903
@0pdd the puzzle [#1119](https://github.com/yegor256/cactoos/issues/1119) is still not solved; solved: [#1082](https://github.com/yegor256/cactoos/issues/1082), [#951](https://github.com/yegor256/cactoos/issues/951).

[2019-04-25 01:18] 0pdd commented on #951
@0pdd the puzzle [#1119](https://github.com/yegor256/cactoos/issues/1119) is still not solved; solved: [#1082](https://github.com/yegor256/cactoos/issues/1082).

[2019-04-25 01:18] 0pdd commented on #1082
@0pdd the puzzle [#1119](https://github.com/yegor256/cactoos/issues/1119) is still not solved.

[2019-04-25 01:19] 0crat commented on #1119
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-25 01:22] 0crat commented on #1033
Job [#1033](https://github.com/yegor256/cactoos/issues/1033) is not in the agenda of @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), can't inspect

[2019-04-25 01:22] 0crat commented on #1033
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-25 01:24] 0crat commented on #1033
The job [#1033](https://github.com/yegor256/cactoos/issues/1033) is now out of scope

[2019-04-25 01:26] 0crat commented on #1119
Job [#1119](https://github.com/yegor256/cactoos/issues/1119) is now in scope, role is `DEV`

[2019-04-25 01:38] llorllale commented on #1034
@vzurauskas correct, and my assumption is that there's something wrong with the collaborators of that anonymous `Iterator`.

Unless I'm seeing it wrong, the current implementation does the exact same thing as the code in the PR description, but splits the code block inside the `if` into 2 statements, when I think it should be one (like in the PR description).

Current impl:
[code]

Broken impl:
[c

[2019-04-25 01:45] 0crat commented on #1082
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @umbrah[/z](https://www.0crat.com/u/umbrah), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-25 01:47] 0crat commented on #1082
The job [#1082](https://github.com/yegor256/cactoos/issues/1082) is now out of scope

[2019-04-25 01:47] 0crat commented on #1082
Job [#1082](https://github.com/yegor256/cactoos/issues/1082) is not in the agenda of @umbrah[/z](https://www.0crat.com/u/umbrah), can't inspect

[2019-04-25 01:51] 0crat commented on #898
The job [#898](https://github.com/yegor256/cactoos/issues/898) assigned to @umbrah[/z](https://www.0crat.com/u/umbrah), here is [why](https://www.0crat.com/footprint/C63314D6Z/49f894c5-988e-4ff0-8c2f-06935422292d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-04-25 03:43] sereshqua commented on #1033
@0crat quality good

[2019-04-25 03:45] sereshqua commented on #1082
@0crat quality good

[2019-04-25 03:56] 0crat commented on #1082
Order was finished, quality is "good": +35 point(s) just awarded to @umbrah[/z](https://www.0crat.com/u/umbrah)

[2019-04-25 03:56] 0crat commented on #1082
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-25 03:56] 0crat commented on #1033
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-25 03:56] 0crat commented on #1033
Order was finished, quality is "good": +35 point(s) just awarded to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-04-25 11:59] vzurauskas commented on #1034
@llorllale There's nothing wrong with the collaborators of the anonymous Iterator, at least not anything this particular situation indicates. The problem is because `current` is not final and circular assignment happens. The two code snippets you posted have an essential difference: the latter one has a function that will evaluate when the `return` line executes, **after** `current` is reassigned.

[2019-04-26 00:12] llorllale commented on #1034
@vzurauskas I had to triple check but you're right! Your `CircularDependenciesTest` also helps make it clear. Thank you.

[2019-04-26 00:12] #1034 closed

[2019-04-26 00:30] 0crat commented on #1034
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-26 00:30] 0crat commented on #1034
The job [#1034](https://github.com/yegor256/cactoos/issues/1034) is now out of scope

[2019-04-26 00:31] llorllale commented on #1112
@vzurauskas ping

[2019-04-26 00:32] llorllale commented on #1105
@korthout ping

[2019-04-26 00:32] llorllale commented on #1085
@Shryne ping

Should we close this?

[2019-04-26 00:33] llorllale commented on #1051
@Iprogrammerr ping

How about we use the empty string as a default delimiter?

[2019-04-26 00:34] llorllale commented on #1076
@g4s8 ping

Do you agree?

[2019-04-26 00:35] llorllale commented on #1050
@Iprogrammerr closing due to inactivity (also this was fixed and many PRs have been successfully merged since w/o problems)

[2019-04-26 00:35] #1050 closed

[2019-04-26 00:52] 0crat commented on #1050
Job `gh:yegor256/cactoos#1050` is not assigned, can't get performer

[2019-04-26 00:52] 0crat commented on #1050
This job is not in scope

[2019-04-26 03:54] sereshqua commented on #1034
@0crat quality good

[2019-04-26 04:01] 0crat commented on #1034
Order was finished, quality is "good": +35 point(s) just awarded to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-04-26 04:01] 0crat commented on #1034
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-26 06:09] vzurauskas commented on #1112
@llorllale Oh right, sorry. :) Closing.

[2019-04-26 06:09] #1112 closed

[2019-04-26 06:31] 0crat commented on #1112
The job [#1112](https://github.com/yegor256/cactoos/issues/1112) is now out of scope

[2019-04-26 06:33] 0crat commented on #1112
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-04-26 11:56] Shryne commented on #1085
Sry, I forgot about it.
1. Guess I can't say anything new against it.
2. Not a perfect benchmark but the result is similar to what I've expected:
[code]

About PMD: I didn't mean you're breaking PMD rules inside your project. I meant that if I use the Map from cactoos and call `equals`, `hashCode` or `toString` in a loop, that would go against the `AvoidInstantiatingObjectsInLoops` rule. At least

[2019-04-26 13:52] g4s8 commented on #1076
@llorllale yes, it makes sense

[2019-04-26 13:52] #1076 closed

[2019-04-26 14:09] 0crat commented on #1076
Job `gh:yegor256/cactoos#1076` is not assigned, can't get performer

[2019-04-26 14:09] 0crat commented on #1076
This job is not in scope

[2019-04-26 22:04] llorllale commented on #1076
@g4s8 actually, I was not objecting to the requirement *per se*, just clarifying some implementation details. I think this is a valid request - just wanted to refine it a bit with you.

[2019-04-26 23:12] llorllale commented on #1085
@Shryne I want to focus on your point about performance. What sort of application are you building that is being negatively impacted by cactoos' performance?

[2019-04-27 09:14] g4s8 commented on #1076
@llorllale but you're right here - `ByteBuffer` may have non-zero position and `BytesOf` will return inconsistent result e.g. if `value()` will be called after some write operations to buffer, or from another thread. Therefore, `buffer.array()` should be called before `BytesOf` construtor to avoid that situation, because the result of `array()` depends on method execution order.

[2019-04-27 17:32] Umbrah commented on #1048
@fabriciofx Can we close it? PR was merged.

[2019-04-28 12:23] portlek opened #1120 "Getting a new list that has different type of the list"
https://hastebin.com/vebemesifa.java
How can I convert this code as i can you in with cactoos?

Also I need to make this:
https://hastebin.com/layewocetu.php

[2019-04-28 12:24] 0crat commented on #1120
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-28 12:24] 0crat commented on #1120
@utsukushihito[/z](https://www.0crat.com/u/utsukushihito) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-28 15:57] vzurauskas opened #1121 "Inconsistent 'toString' overriding in 'Text' implementations"
Some `Text` implementations like `TextOf` override `toString()`, while others, like `JoinedText`, don't. This behaviour is confusing, as sometimes invoking `toString` on a `Text` instance gives you a nice text representation, and sometimes you get the default one from `Object`. We should make it consistent.

I would prefer it if all of them overrode `toString`, because getting an actual text repre

[2019-04-28 15:57] 0crat commented on #1121
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-04-29 11:22] Umbrah commented on #898
@0crat refuse

[2019-04-29 11:22] 0crat commented on #898
@Umbrah The user @umbrah[/z](https://www.0crat.com/u/umbrah) resigned from [#898](https://github.com/yegor256/cactoos/issues/898), please stop working. Reason for job resignation: Order was cancelled

[2019-04-29 11:23] 0crat commented on #898
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @umbrah[/z](https://www.0crat.com/u/umbrah)

[2019-04-29 11:31] 0crat commented on #1046
The job [#1046](https://github.com/yegor256/cactoos/issues/1046) assigned to @umbrah[/z](https://www.0crat.com/u/umbrah), here is [why](https://www.0crat.com/footprint/C63314D6Z/0020ac8d-d2bb-41a8-8a26-38912dbfa5b1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-04-29 18:49] korthout commented on #1105
@llorllale Sorry for taking so long to reply, but you are absolutely right. I was trying to use the Optional type to achieve this, but simply checking for null is enough if null values need to be filtered out. Thank you for the clear example. It makes sense. I think I can close the issue.

[2019-04-29 18:49] #1105 closed

[2019-04-29 19:06] 0crat commented on #1105
Job `gh:yegor256/cactoos#1105` is not assigned, can't get performer

[2019-04-29 19:07] 0crat commented on #1105
This job is not in scope

[2019-04-29 23:54] llorllale commented on #1121
@vzurauskas we have an open puzzle for this - see #1116

[2019-04-29 23:54] #1121 closed

[2019-04-30 00:13] 0crat commented on #1121
Job `gh:yegor256/cactoos#1121` is not assigned, can't get performer

[2019-04-30 00:18] 0crat commented on #1121
This job is not in scope

[2019-04-30 12:25] 0crat commented on #898
The job [#898](https://github.com/yegor256/cactoos/issues/898) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C63314D6Z/c5deef99-6426-4b1d-9142-3aba25dae845); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-04-30 12:57] Shryne commented on #1085
I am working on a GUI library and I've already noticed that I need to reduce the number of throwaway objects.

[2019-04-30 14:08] vzurauskas commented on #898
@0crat refuse, this task depends on https://github.com/yegor256/cactoos/issues/947

[2019-04-30 14:09] 0crat commented on #898
@vzurauskas Can't understand "refuse,", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from t

[2019-04-30 14:13] vzurauskas commented on #898
@0crat refuse this task, what's wrong with you? :)

[2019-04-30 14:14] 0crat commented on #898
@vzurauskas The user @vzurauskas[/z](https://www.0crat.com/u/vzurauskas) resigned from [#898](https://github.com/yegor256/cactoos/issues/898), please stop working. Reason for job resignation: Order was cancelled

[2019-04-30 14:15] 0crat commented on #898
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-04-30 15:03] Umbrah commented on #1084
@dgroup Can we close it? PR was merged.

[2019-05-01 18:43] Umbrah commented on #1048
@0crat wait #1118

[2019-05-02 08:54] dgroup commented on #1084
@Umbrah , thanks

[2019-05-02 08:54] #1084 closed

[2019-05-02 09:11] 0crat commented on #1084
Job [#1084](https://github.com/yegor256/cactoos/issues/1084) is not in the agenda of @umbrah[/z](https://www.0crat.com/u/umbrah), can't inspect

[2019-05-02 09:11] 0crat commented on #1084
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @umbrah[/z](https://www.0crat.com/u/umbrah), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-05-02 09:11] 0crat commented on #1084
The job [#1084](https://github.com/yegor256/cactoos/issues/1084) is now out of scope

[2019-05-02 09:18] 0crat commented on #1088
The job [#1088](https://github.com/yegor256/cactoos/issues/1088) assigned to @umbrah[/z](https://www.0crat.com/u/umbrah), here is [why](https://www.0crat.com/footprint/C63314D6Z/52b725b2-9a3a-48f2-a109-00cab9db542b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-05-02 10:27] Umbrah commented on #1048
@fabriciofx ping

[2019-05-02 14:24] sereshqua commented on #1084
@0crat quality good

[2019-05-02 14:33] 0crat commented on #1084
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-05-02 14:33] 0crat commented on #1084
Order was finished, quality is "good": +35 point(s) just awarded to @umbrah[/z](https://www.0crat.com/u/umbrah)

[2019-05-03 10:18] Umbrah commented on #1046
@0crat wait #1123

[2019-05-03 10:21] 0crat commented on #1046
@Umbrah The impediment for [#1046](https://github.com/yegor256/cactoos/issues/1046) was registered successfully by @umbrah[/z](https://www.0crat.com/u/umbrah)

[2019-05-05 08:52] yegor256 commented on #985
@llorllale let's do a years range, this is what we do in all other projects

[2019-05-06 11:23] Umbrah commented on #1048
@fabriciofx ping

[2019-05-08 11:09] 0crat commented on #1086
The job [#1086](https://github.com/yegor256/cactoos/issues/1086) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/2f2f85bc-0d88-4a01-a784-9b7a0f4bb23b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-05-08 11:13] victornoel commented on #1086
@0crat waiting for llorllale/cactoos-matchers#103

[2019-05-08 11:14] 0crat commented on #1086
@victornoel The impediment for [#1086](https://github.com/yegor256/cactoos/issues/1086) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-05-08 11:19] 0crat commented on #1095
The job [#1095](https://github.com/yegor256/cactoos/issues/1095) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/1af86423-46d9-413d-80a7-381abbc39386); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-05-08 11:30] 0crat commented on #1104
The job [#1104](https://github.com/yegor256/cactoos/issues/1104) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/c27ba756-b16e-482b-b00f-14f00926de94); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-05-09 08:28] Serranya commented on #1024
@llorllale ping

[2019-05-09 23:49] llorllale commented on #1085
@Shryne what are the constraints on your resources (platform, RAM, cpu, etc)

[2019-05-10 00:06] llorllale commented on #985
@0crat in

[2019-05-10 00:07] 0crat commented on #985
@llorllale Job [#985](https://github.com/yegor256/cactoos/issues/985) is now in scope, role is `DEV`

[2019-05-10 00:07] llorllale commented on #1048
@fabriciofx closed due to unresponsiveness (PR #1118 merged for this)

[2019-05-10 00:07] #1048 closed

[2019-05-10 00:14] 0crat commented on #985
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-05-10 00:26] 0crat commented on #1048
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @umbrah[/z](https://www.0crat.com/u/umbrah), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-05-10 00:26] 0crat commented on #1048
The job [#1048](https://github.com/yegor256/cactoos/issues/1048) is now out of scope

[2019-05-10 00:37] 0pdd commented on #1046
The puzzle `1006-0071ae30` has disappeared from the source code, that's why I closed this issue.

[2019-05-10 00:37] #1046 closed

[2019-05-10 00:37] 0pdd commented on #913
@neonailol all 13 puzzles are solved here: [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1007](https://github.com/yegor256/cactoos/issues/1007), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](h

[2019-05-10 00:37] 0pdd commented on #958
@0pdd all 12 puzzles are solved here: [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1007](https://github.com/yegor256/cactoos/issues/1007), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https:

[2019-05-10 00:37] 0pdd commented on #964
@0pdd all 11 puzzles are solved here: [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1007](https://github.com/yegor256/cactoos/issues/1007), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https:

[2019-05-10 00:37] 0pdd commented on #980
@0pdd all 10 puzzles are solved here: [#1003](https://github.com/yegor256/cactoos/issues/1003), [#1004](https://github.com/yegor256/cactoos/issues/1004), [#1005](https://github.com/yegor256/cactoos/issues/1005), [#1006](https://github.com/yegor256/cactoos/issues/1006), [#1007](https://github.com/yegor256/cactoos/issues/1007), [#1025](https://github.com/yegor256/cactoos/issues/1025), [#1046](https:

[2019-05-10 00:37] 0pdd commented on #1006
@0pdd the only puzzle [#1046](https://github.com/yegor256/cactoos/issues/1046) is solved here.

[2019-05-10 00:50] llorllale commented on #1024
@Serranya fine, let's reverse #820 and add warnings to javadoc

[2019-05-10 00:50] llorllale commented on #1024
@0crat in

[2019-05-10 00:53] 0crat commented on #1024
@llorllale Job [#1024](https://github.com/yegor256/cactoos/issues/1024) is now in scope, role is `DEV`

[2019-05-10 01:01] 0crat commented on #1046
Job [#1046](https://github.com/yegor256/cactoos/issues/1046) is not in the agenda of @umbrah[/z](https://www.0crat.com/u/umbrah), can't inspect

[2019-05-10 01:01] 0crat commented on #1024
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @serranya[/z](https://www.0crat.com/u/serranya)

[2019-05-10 01:01] 0crat commented on #1046
The job [#1046](https://github.com/yegor256/cactoos/issues/1046) is now out of scope

[2019-05-10 01:01] 0crat commented on #1046
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @umbrah[/z](https://www.0crat.com/u/umbrah), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-05-10 04:50] sereshqua commented on #1048
@0crat quality good

[2019-05-10 04:54] sereshqua commented on #1046
@0crat quality good

[2019-05-10 05:09] 0crat commented on #1048
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-05-10 05:09] 0crat commented on #1046
Order was finished, quality is "good": +35 point(s) just awarded to @umbrah[/z](https://www.0crat.com/u/umbrah)

[2019-05-10 05:09] 0crat commented on #1048
Order was finished, quality is "good": +35 point(s) just awarded to @umbrah[/z](https://www.0crat.com/u/umbrah)

[2019-05-10 05:09] 0crat commented on #1046
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-05-10 05:09] 0crat commented on #1106
The job [#1106](https://github.com/yegor256/cactoos/issues/1106) assigned to @umbrah[/z](https://www.0crat.com/u/umbrah), here is [why](https://www.0crat.com/footprint/C63314D6Z/2564eca4-91a6-4260-9ebd-6e1988580246); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-05-11 07:44] dgroup opened #1126 "Ordered - the java.uti.Set which supports the ordering"
Now the `org.cactoos.set` package contains only SetOf, SetEnvelope.
Let's add a new object - ordered set.
[code]

[2019-05-11 07:44] 0crat commented on #1126
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-05-14 22:23] svendiedrichsen commented on #1126
@dgroup Maybe implement java.util.SortedSet instead of only ja.util.Set?

[2019-05-16 11:29] zCRUSADERz opened #1127 "Warning in qulice:check - Exception applying rule UseStringIsEmptyRule ..."
`mvn -Pqulice qulice:check` return:
`WARNING: Exception applying rule UseStringIsEmptyRule on file/home/aleksandr/projects/cactoos/src/test/java/org/cactoos/text/RandomizedTest.java, continuing with next rule java.lang.NullPointerException`
In qulice 0.18.18 this [issue](https://github.com/teamed/qulice/issues/1033) is fixed.
Let's update the quliсe version?

[2019-05-16 11:29] 0crat commented on #1127
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-05-16 11:29] 0crat commented on #1127
@zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-19 18:41] Umbrah commented on #1106
@0crat refuse

[2019-05-19 20:56] Umbrah commented on #1106
@0crat refuse

[2019-05-19 20:56] 0crat commented on #1106
@Umbrah The user @umbrah[/z](https://www.0crat.com/u/umbrah) resigned from [#1106](https://github.com/yegor256/cactoos/issues/1106), please stop working. Reason for job resignation: Order was cancelled

[2019-05-19 20:56] 0crat commented on #1106
@Umbrah Job `gh:yegor256/cactoos#1106` is not assigned, can't get performer

[2019-05-19 21:00] 0crat commented on #1106
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @umbrah[/z](https://www.0crat.com/u/umbrah)

[2019-05-20 09:02] Umbrah commented on #1088
@0crat wait #1124

[2019-05-20 09:02] 0crat commented on #1088
@Umbrah The impediment for [#1088](https://github.com/yegor256/cactoos/issues/1088) was registered successfully by @umbrah[/z](https://www.0crat.com/u/umbrah)

[2019-05-22 14:20] 0crat commented on #898
The job [#898](https://github.com/yegor256/cactoos/issues/898) assigned to @scristalli[/z](https://www.0crat.com/u/scristalli), here is [why](https://www.0crat.com/footprint/C63314D6Z/a570642a-50a5-4f3a-af8a-277bc35dd061); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-05-22 14:30] 0crat commented on #1102
The job [#1102](https://github.com/yegor256/cactoos/issues/1102) assigned to @scristalli[/z](https://www.0crat.com/u/scristalli), here is [why](https://www.0crat.com/footprint/C63314D6Z/30cf1190-5aca-4087-a504-16aebde875c6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-05-22 16:48] scristalli commented on #1102
It is not clear to me what the expected behavior should be. If we want a display of the whole collection as for `Iterable`, then a traversal (and consequently, a copy) of the `Iterator` is required.
Whether this is the case or not, it seems to me that this problem is broader than just `Immutable`, as I couldn't find any other `Iterator` implementing this.

[2019-05-22 16:48] scristalli commented on #1102
@0crat wait

[2019-05-22 18:02] scristalli commented on #1102
Just to clarify, the impediment I see is only strictly related to the expected output, which is not clear neither from the description, nor from other `Iterator` classes in the project or standard implementations as far as I know.

[2019-05-22 18:26] scristalli opened #1128 "toString() implementation for iterators"
Iterators (such as `Immutable`, see #1102) do not have an implementation for toString.
It should be decided whether their representation should be the whole collection (as for `Iterable`), or just a textual representation that does not require traversing the iterator itself.

[2019-05-22 18:27] scristalli commented on #1102
@0crat waiting for #1128

[2019-05-22 18:43] scristalli commented on #898
@0crat waiting for #947

[2019-05-22 18:53] 0crat commented on #898
@scristalli The impediment for [#898](https://github.com/yegor256/cactoos/issues/898) was registered successfully by @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-05-22 18:53] 0crat commented on #1102
@scristalli The impediment for [#1102](https://github.com/yegor256/cactoos/issues/1102) was registered successfully by @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-05-23 23:52] llorllale commented on #1128
@scristalli good question - if `Iterator.toString()` prints out all elements, it would consume the iterator itself.

[2019-05-24 00:08] llorllale commented on #1102
@atapin @victornoel @scristalli it just occurred to me that making `Iterator.toString()` print out all elements will consume the iterator.

While it *is* possible to cache these values during a call to `toString()`, we would have to manage state to determine if the iterator has been *actually* exhausted during a "real" iteration (ie. in calls to `next()`) as opposed to just `toString()`. It's unex

[2019-05-24 00:16] llorllale commented on #1127
@zCRUSADERz I'm delaying the qulice upgrade (see #946). I'm also not too concerned about this rule.

[2019-05-24 00:16] #1127 closed

[2019-05-24 00:20] llorllale commented on #1126
@dgroup

[code]

[2019-05-24 00:20] #1126 closed

[2019-05-24 00:21] llorllale commented on #1095
@0crat status

[2019-05-24 00:26] #1088 closed

[2019-05-24 00:26] 0pdd commented on #1088
The puzzle `909-fb64001d` has disappeared from the source code, that's why I closed this issue.

[2019-05-24 00:26] 0pdd commented on #909
@neonailol the only puzzle [#1088](https://github.com/yegor256/cactoos/issues/1088) is solved here.

[2019-05-24 00:29] 0crat commented on #1095
@llorllale This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1095](https://github.com/yegor256/cactoos/issues/1095) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [16days](h

[2019-05-24 00:37] 0crat commented on #1127
Job `gh:yegor256/cactoos#1127` is not assigned, can't get performer

[2019-05-24 00:39] 0crat commented on #1127
This job is not in scope

[2019-05-24 00:41] 0crat commented on #1126
Job `gh:yegor256/cactoos#1126` is not assigned, can't get performer

[2019-05-24 00:43] 0crat commented on #1126
This job is not in scope

[2019-05-24 00:44] 0crat commented on #1088
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @umbrah[/z](https://www.0crat.com/u/umbrah), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-05-24 00:46] 0crat commented on #1088
The job [#1088](https://github.com/yegor256/cactoos/issues/1088) is now out of scope

[2019-05-24 03:55] sereshqua commented on #1088
@0crat quality good

[2019-05-24 04:12] 0crat commented on #1088
Order was finished, quality is "good": +35 point(s) just awarded to @umbrah[/z](https://www.0crat.com/u/umbrah)

[2019-05-24 04:12] 0crat commented on #1088
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-05-24 04:13] 0crat commented on #1106
The job [#1106](https://github.com/yegor256/cactoos/issues/1106) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C63314D6Z/e8ff997a-b785-460f-86a2-4a266fa7f067); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-05-24 14:19] victornoel commented on #1102
@llorllale the same problem exists also in jOOL for the record, but they solve it by storing the content of the stream in a buffer:
https://github.com/jOOQ/jOOL/blob/master/jOOL/src/main/java/org/jooq/lambda/SeqImpl.java#L602

[2019-05-24 19:28] llorllale commented on #1102
@victornoel yes, and take a look at their `stream()` method:

https://github.com/jOOQ/jOOL/blob/889d87c85ca57bafd4eddd78e0f7ae2804d2ee86/jOOL/src/main/java/org/jooq/lambda/SeqImpl.java#L67-L71

`SeqImpl` is a big class and that mutable `buffered` attribute is there just because they wanted a pretty `toString()`.

My other concern is how that `stream()` method behaves differently depending on wheth

[2019-05-25 12:38] victornoel commented on #1102
@llorllale I think that `Iterator` implementations should implement `toString` depending on their state:
- `org.cactoos.iterator.Immutable` should delegate to its member iterator `toString` implementation
- `IteratorOf` should print out the actual elements as well as the current position since they are known
- and so on for every Iterator implementation

In some case it means that calling `toStrin

[2019-05-25 13:20] 0crat commented on #1109
The job [#1109](https://github.com/yegor256/cactoos/issues/1109) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/18544ec5-ee59-4e83-a203-4109d226f5ee); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-05-25 13:34] dgroup opened #1129 "Add new ctor to PropertiesOf(final MapEntry<?, ?>... entries)"
New ctor `org.cactoos.scalar.PropertiesOf` is required which supports the `org.cactoos.map.MapEntry`:
[code]

[2019-05-25 13:34] 0crat commented on #1129
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-05-25 13:42] 0crat commented on #1115
The job [#1115](https://github.com/yegor256/cactoos/issues/1115) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/301b6a36-868c-4bb9-b761-f754f0c793a5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-05-25 13:46] 0crat commented on #1116
The job [#1116](https://github.com/yegor256/cactoos/issues/1116) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/d49506ca-b6bd-4ab9-9b12-6b6af6ca7e67); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-05-25 13:55] 0crat commented on #1117
The job [#1117](https://github.com/yegor256/cactoos/issues/1117) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/096b24d4-d84c-4020-b033-dfc961925c82); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-05-25 14:00] 0crat commented on #1119
The job [#1119](https://github.com/yegor256/cactoos/issues/1119) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/ab5d829e-2146-4207-bba4-64dacb0329fb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-05-25 14:24] victornoel commented on #1109
@0crat wait for #1130 to be merged

[2019-05-25 14:25] 0crat commented on #1109
@victornoel The impediment for [#1109](https://github.com/yegor256/cactoos/issues/1109) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-05-25 14:46] victornoel commented on #1116
@0crat wait for #1131 to be merged

[2019-05-25 14:48] 0crat commented on #1116
@victornoel The impediment for [#1116](https://github.com/yegor256/cactoos/issues/1116) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-05-27 22:56] #1022 closed

[2019-05-27 22:57] #992 closed

[2019-05-27 23:13] 0crat commented on #992
Job `gh:yegor256/cactoos#992` is not assigned, can't get performer

[2019-05-27 23:14] 0crat commented on #992
This job is not in scope

[2019-05-27 23:14] 0crat commented on #1022
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @longstone[/z](https://www.0crat.com/u/longstone), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-05-27 23:14] 0crat commented on #1022
The job [#1022](https://github.com/yegor256/cactoos/issues/1022) is now out of scope

[2019-05-28 02:56] fabriciofx opened #1132 "Representation data bug in the SlowInputStream's read() method"
In the file `SlowInputStream` (used in tests) there is a representation byte data bug in the method `read()`, here:
[code]
The solution is use the `Byte.toUnsignedInt()` method on `buf[0]` or mask the value with `0xff` value.

[2019-05-28 02:57] 0crat commented on #1132
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-05-28 02:57] 0crat commented on #1132
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-28 03:06] fabriciofx opened #1133 "MaxOf doesn't work with negative numbers"
`MaxOf` uses the values `Float.MIN_VALUE` and `Double.MIN_VALUE` to represent the minor possible value, but they don't represent because negative part is forgotten. See [here](https://stackoverflow.com/questions/3884793/why-is-double-min-value-in-not-negative) to see more details.

[2019-05-28 03:06] 0crat commented on #1133
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-05-28 03:06] 0crat commented on #1133
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-28 04:26] sereshqua commented on #1022
@0crat quality good

[2019-05-28 04:34] 0crat commented on #1022
Order was finished, quality is "good": +35 point(s) just awarded to @longstone[/z](https://www.0crat.com/u/longstone)

[2019-05-28 04:34] 0crat commented on #1022
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-05-29 07:21] scristalli commented on #1102
I agree, delegating for `Immutable` seems the right choice.
I personally dislike implementations of `toString` with side effects like the Guava one, intuitively I think that printing the state of an object should never change the state itself.
@llorllale if you agree for `Immutable` I can make a pull request and close this issue, then maybe we can move discussion for other iterators in #1128?

[2019-05-30 11:34] victornoel commented on #1115
@0crat wait for #1134 to be merged

[2019-05-30 11:38] 0crat commented on #1115
@victornoel The impediment for [#1115](https://github.com/yegor256/cactoos/issues/1115) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-05-30 12:01] victornoel commented on #1117
@0crat waiting for #1086 to be solved, without latest cactoos-matchers, it's hell to test things like `BytesOf` that have side-effect when reading from streams (can read only once).

[2019-05-30 12:04] victornoel commented on #1119
@0crat waiting for #1086 to be solved, without latest cactoos-matchers, it's hell to test things like BytesOf that have side-effect when reading from streams (can read only once).

[2019-05-30 12:09] 0crat commented on #1119
@victornoel The impediment for [#1119](https://github.com/yegor256/cactoos/issues/1119) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-05-30 13:21] g4s8 commented on #1117
@0crat status

[2019-05-30 13:23] 0crat commented on #1117
@g4s8 This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1117](https://github.com/yegor256/cactoos/issues/1117) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [5days](http://

[2019-05-30 14:26] victornoel commented on #1117
@0crat waiting for #1086 to be solved, without latest cactoos-matchers, it's hell to test things like BytesOf that have side-effect when reading from streams (can read only once).

[2019-05-30 14:27] 0crat commented on #1117
@victornoel The impediment for [#1117](https://github.com/yegor256/cactoos/issues/1117) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-05-31 20:48] llorllale commented on #1102
@victornoel I wouldn't be too quick to assume that `IteratorOf` will always know the elements. A ctor could be added later on for a different source of elements (eg. IO).

[2019-05-31 20:58] llorllale commented on #1132
@fabriciofx can you provide a test case?

[2019-05-31 21:00] llorllale commented on #1133
@fabriciofx can you provide a test case? I don't understand where exactly is the issue...

[2019-05-31 21:24] 0pdd commented on #1116
The puzzle `1063-eb6fd66d` has disappeared from the source code, that's why I closed this issue.

[2019-05-31 21:24] #1116 closed

[2019-05-31 21:24] 0pdd opened #1135 "Randomized.java:40-43: All classes implementing Text need..."
The puzzle `1116-eb6fd66d` from #1116 has to be resolved:

https://github.com/yegor256/cactoos/blob/4a301a9d19b0de45749c112a982aec2ece880fb3/src/main/java/org/cactoos/text/Randomized.java#L40-L43

The puzzle was created by Victor Noël on 25-May-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2019-05-31 21:24] 0pdd commented on #788
@krzyk the puzzle [#1135](https://github.com/yegor256/cactoos/issues/1135) is still not solved; solved: [#1063](https://github.com/yegor256/cactoos/issues/1063), [#1116](https://github.com/yegor256/cactoos/issues/1116), [#849](https://github.com/yegor256/cactoos/issues/849), [#878](https://github.com/yegor256/cactoos/issues/878), [#897](https://github.com/yegor256/cactoos/issues/897), [#929](https

[2019-05-31 21:24] 0pdd commented on #849
@0pdd the puzzle [#1135](https://github.com/yegor256/cactoos/issues/1135) is still not solved; solved: [#1063](https://github.com/yegor256/cactoos/issues/1063), [#1116](https://github.com/yegor256/cactoos/issues/1116), [#878](https://github.com/yegor256/cactoos/issues/878), [#897](https://github.com/yegor256/cactoos/issues/897), [#929](https://github.com/yegor256/cactoos/issues/929).

[2019-05-31 21:24] 0pdd commented on #878
@0pdd the puzzle [#1135](https://github.com/yegor256/cactoos/issues/1135) is still not solved; solved: [#1063](https://github.com/yegor256/cactoos/issues/1063), [#1116](https://github.com/yegor256/cactoos/issues/1116), [#897](https://github.com/yegor256/cactoos/issues/897), [#929](https://github.com/yegor256/cactoos/issues/929).

[2019-05-31 21:24] 0pdd commented on #897
@0pdd the puzzle [#1135](https://github.com/yegor256/cactoos/issues/1135) is still not solved; solved: [#1063](https://github.com/yegor256/cactoos/issues/1063), [#1116](https://github.com/yegor256/cactoos/issues/1116), [#929](https://github.com/yegor256/cactoos/issues/929).

[2019-05-31 21:24] 0pdd commented on #1063
@0pdd the puzzle [#1135](https://github.com/yegor256/cactoos/issues/1135) is still not solved; solved: [#1116](https://github.com/yegor256/cactoos/issues/1116).

[2019-05-31 21:24] 0pdd commented on #1116
@0pdd the puzzle [#1135](https://github.com/yegor256/cactoos/issues/1135) is still not solved.

[2019-05-31 21:25] 0crat commented on #1135
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-05-31 21:30] 0crat commented on #1135
Job [#1135](https://github.com/yegor256/cactoos/issues/1135) is now in scope, role is `DEV`

[2019-05-31 21:46] 0crat commented on #1116
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-05-31 21:49] 0crat commented on #1116
The job [#1116](https://github.com/yegor256/cactoos/issues/1116) is now out of scope

[2019-06-01 05:52] sereshqua commented on #1116
@0crat quality good

[2019-06-01 06:05] 0crat commented on #1116
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-01 06:05] 0crat commented on #1116
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-01 09:23] victornoel commented on #1102
@llorllale that's not what I said. I just said that the encapsulated state of `org.cactoos.iterator.Immutable`, which can be any instance of `Iterator` here, knows better how to print itself, whether it is by printing its elements or just saying it comes from an IO as you illustrate.
The `IteratorOf` example was just that, an example :)

So I'm just proposing to delegate to the objects that knows

[2019-06-01 14:53] vzurauskas commented on #1106
@0crat Wait for https://github.com/llorllale/cactoos-matchers/issues/108 to be released.

[2019-06-01 14:54] 0crat commented on #1106
@vzurauskas The impediment for [#1106](https://github.com/yegor256/cactoos/issues/1106) was registered successfully by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-06-01 21:48] llorllale commented on #1102
@victornoel that's not what you said. In your comment, both `Immutable` and `IteratorOf` are sibling bullet points subordinate to `Iterator`.

[2019-06-01 21:57] llorllale commented on #1129
@dgroup this ctor already accepts map entries:

https://github.com/yegor256/cactoos/blob/0740f67753c0018894f98df2e39d9137520a4047/src/main/java/org/cactoos/scalar/PropertiesOf.java#L91

[2019-06-01 21:57] #1129 closed

[2019-06-01 22:13] 0crat commented on #1129
Job `gh:yegor256/cactoos#1129` is not assigned, can't get performer

[2019-06-01 22:14] 0crat commented on #1129
This job is not in scope

[2019-06-02 09:46] victornoel commented on #1102
@llorllale I've edited my comment, now is it understandable?

[2019-06-02 09:58] victornoel opened #1137 "Simplify responsibility and implementation of FirstOf"
I noticed that `FirstOf` was responsible of two different things:
- to take one element in an `Iterable`
- to filter an `Iterable`

This is its current constructor:
[code]

I think it would be much more maintainable if:
- `FirstOf` was only responsible of taking the first element of an `Iterable`
- It was implemented simply by delegating to `ItemAt`.

There is already `Filtered` to filter an `Iter

[2019-06-02 09:58] 0crat commented on #1137
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-06-03 15:52] scristalli commented on #898
@llorllale this task requires a mutable collection by its description and previous comments, topic that is already present in #1008, addressed as a duplicate of #947, and postponed after release 1.0. Is the release expected soon?
Otherwise, is there any chance this task can be closed and put out of scope for now? It seems that it can't be solved at the moment and it only blocks slots for other job

[2019-06-04 01:18] llorllale commented on #1137
@victornoel I wonder if we should just delete `FirstOf`

[2019-06-04 01:29] 0pdd commented on #1095
The puzzle `930-fce9bc86` has disappeared from the source code, that's why I closed this issue.

[2019-06-04 01:29] #1095 closed

[2019-06-04 01:29] #1104 closed

[2019-06-04 01:29] 0pdd commented on #1104
The puzzle `911-b9a58d58` has disappeared from the source code, that's why I closed this issue.

[2019-06-04 01:29] 0pdd commented on #911
@svendiedrichsen the only puzzle [#1104](https://github.com/yegor256/cactoos/issues/1104) is solved here.

[2019-06-04 01:29] 0pdd commented on #930
@neonailol the only puzzle [#1095](https://github.com/yegor256/cactoos/issues/1095) is solved here.

[2019-06-04 01:49] 0crat commented on #1095
Job [#1095](https://github.com/yegor256/cactoos/issues/1095) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't retrieve data and time of add

[2019-06-04 01:49] 0crat commented on #1104
Job [#1104](https://github.com/yegor256/cactoos/issues/1104) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't retrieve data and time of add

[2019-06-04 01:50] 0crat commented on #1104
Job [#1104](https://github.com/yegor256/cactoos/issues/1104) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't inspect

[2019-06-04 01:50] 0crat commented on #1104
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-04 01:50] 0crat commented on #1095
Job [#1095](https://github.com/yegor256/cactoos/issues/1095) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't inspect

[2019-06-04 01:50] 0crat commented on #1095
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-04 01:50] 0crat commented on #1095
The job [#1095](https://github.com/yegor256/cactoos/issues/1095) is now out of scope

[2019-06-04 01:51] 0crat commented on #1104
The job [#1104](https://github.com/yegor256/cactoos/issues/1104) is now out of scope

[2019-06-04 04:12] sereshqua commented on #1095
@0crat quality good

[2019-06-04 04:17] sereshqua commented on #1104
@0crat quality good

[2019-06-04 04:19] 0crat commented on #1095
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-04 04:19] 0crat commented on #1095
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-04 04:26] 0crat commented on #1104
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-04 04:26] 0crat commented on #1104
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-04 07:01] victornoel commented on #1137
@llorllale ah yes, it could also work :)

[2019-06-05 16:34] victornoel commented on #1109
@0crat wait for #1136 to be merged

[2019-06-05 16:35] 0crat commented on #1109
@victornoel Job [#1109](https://github.com/yegor256/cactoos/issues/1109) is already on hold

[2019-06-05 19:09] svendiedrichsen commented on #911
@llorllale What am I expected to do here? Close the ticket?

[2019-06-07 01:38] llorllale commented on #1102
@victornoel yes, it is understandable. And yes, I agree.

@atapin @scristalli @victornoel so, to conclude: tickets for `toString` on these iterators would have to be opened on an per-implementation basis, correct? For `Immutable`, the best we can do is delegate to the decorated iterator's `toString`. This may or may not satisfy @atapin 's implicit request in this ticket

[2019-06-07 02:05] llorllale commented on #911
@svendiedrichsen yeah (PR #1059 merged for this)

[2019-06-07 02:12] llorllale commented on #1137
@victornoel created poll in telegram chat: https://t.me/elegantobjects/5348

[2019-06-07 07:17] svendiedrichsen commented on #911
Ok, closing as PR #1059 has been merged.

[2019-06-07 07:17] #911 closed

[2019-06-07 07:35] 0crat commented on #911
Job [#911](https://github.com/yegor256/cactoos/issues/911) is not in the agenda of @mazdack[/z](https://www.0crat.com/u/mazdack), can't inspect

[2019-06-07 07:35] 0crat commented on #911
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @mazdack[/z](https://www.0crat.com/u/mazdack), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-07 07:40] 0crat commented on #911
The job [#911](https://github.com/yegor256/cactoos/issues/911) is now out of scope

[2019-06-07 11:21] sereshqua commented on #911
@svendiedrichsen can you please edit your [comment](https://github.com/yegor256/cactoos/issues/911#issuecomment-499783767)  that it start with the user' name it is referred to? otherwise quality is acceptable here

[2019-06-07 14:18] 0pdd commented on #1109
The puzzle `996-e264dc0b` has disappeared from the source code, that's why I closed this issue.

[2019-06-07 14:18] #1109 closed

[2019-06-07 14:18] 0pdd commented on #996
@Shryne the only puzzle [#1109](https://github.com/yegor256/cactoos/issues/1109) is solved here.

[2019-06-07 14:47] 0crat commented on #1109
Job [#1109](https://github.com/yegor256/cactoos/issues/1109) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't inspect

[2019-06-07 14:47] 0crat commented on #1109
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-07 14:48] 0crat commented on #1109
The job [#1109](https://github.com/yegor256/cactoos/issues/1109) is now out of scope

[2019-06-07 19:37] sereshqua commented on #1109
@0crat quality good

[2019-06-07 20:33] 0crat commented on #1109
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-07 20:33] 0crat commented on #1109
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-08 12:29] victornoel commented on #1086
@0crat wait for #1139 to be merged

[2019-06-08 12:32] 0crat commented on #1086
@victornoel Job [#1086](https://github.com/yegor256/cactoos/issues/1086) is already on hold

[2019-06-08 16:39] victornoel commented on #1086
@llorllale any way to increase the boost factor here? Because of the nature of the change, the number of modifications was very high and it wasn't possible to avoid it. See #1139 for details.

[2019-06-08 19:26] sereshqua commented on #911
@0crat quality good

[2019-06-08 19:35] 0crat commented on #911
Order was finished, quality is "good": +35 point(s) just awarded to @mazdack[/z](https://www.0crat.com/u/mazdack)

[2019-06-08 19:38] 0crat commented on #911
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-09 20:31] utsukushihito opened #1140 "Maven dependency problem, artifact not found."
[code]
It can't find the artifact of cactoos.

[2019-06-09 20:31] 0crat commented on #1140
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-06-09 20:31] 0crat commented on #1140
@utsukushihito[/z](https://www.0crat.com/u/utsukushihito) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-09 21:15] #1140 closed

[2019-06-09 21:33] 0crat commented on #1140
Job `gh:yegor256/cactoos#1140` is not assigned, can't get performer

[2019-06-09 21:33] 0crat commented on #1140
This job is not in scope

[2019-06-10 18:48] llorllale commented on #1086
@0crat boost 4x

[2019-06-10 18:48] 0crat commented on #1086
@llorllale Boost 4x was set for [#1086](https://github.com/yegor256/cactoos/issues/1086)

[2019-06-10 18:49] 0crat commented on #1086
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-06-10 19:09] #1115 closed

[2019-06-10 19:09] 0pdd commented on #1115
The puzzle `1112-aa9105a7` has disappeared from the source code, that's why I closed this issue.

[2019-06-10 19:10] 0pdd opened #1141 "SyncedTest.java:41-48: Continue speeding up the `mvn..."
The puzzle `1115-b0c94327` from #1115 has to be resolved:

https://github.com/yegor256/cactoos/blob/78d0e803f7c61f59b7c14a2ca502ba32eade8456/src/test/java/org/cactoos/iterator/SyncedTest.java#L41-L48

The puzzle was created by Victor Noël on 30-May-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2019-06-10 19:10] 0pdd commented on #1112
@vzurauskas the puzzle [#1141](https://github.com/yegor256/cactoos/issues/1141) is still not solved; solved: [#1115](https://github.com/yegor256/cactoos/issues/1115).

[2019-06-10 19:10] 0pdd commented on #1115
@0pdd the puzzle [#1141](https://github.com/yegor256/cactoos/issues/1141) is still not solved.

[2019-06-10 19:10] 0crat commented on #1141
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-06-10 19:16] 0crat commented on #1141
Job [#1141](https://github.com/yegor256/cactoos/issues/1141) is now in scope, role is `DEV`

[2019-06-10 19:28] 0crat commented on #1115
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-10 19:29] 0crat commented on #1115
The job [#1115](https://github.com/yegor256/cactoos/issues/1115) is now out of scope

[2019-06-10 19:40] sereshqua commented on #1115
@0crat quality good

[2019-06-10 19:51] 0crat commented on #1115
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-10 19:53] 0crat commented on #1115
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-10 22:06] fabriciofx opened #1142 "Let's use go-gitlint instead of gitlint (python)"
Gitlint addrees two problems:

1. It doesn't work with Windows
2. Needs python to run

Because of them, I've developed a tool called [glint](https://github.com/fabriciofx/glint). It runs in all OS (in Windows it will require git-bash) and doesn't require python or other development environment, just bash.

So, I propose use glint instead of gitlint. WDYT?

[2019-06-10 22:07] 0crat commented on #1142
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-06-10 22:07] 0crat commented on #1142
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-11 00:05] llorllale commented on #1142
@fabriciofx does it run on windows?

You know, I made [this](https://github.com/llorllale/go-gitlint) a few months ago but never bothered to hook it into our CI. It can be ran on windows, linux, and mac.

[2019-06-11 00:10] llorllale commented on #1137
@victornoel the thugs over at https://t.me/elegantobjects [voted](https://t.me/elegantobjects/5348) against removing `FirstOf`

I also don't think they'll appreciate the change you're requesting.

[2019-06-11 01:04] fabriciofx commented on #1142
@llorllale I'm sorry, I didn't know you've made a tool too. So, I'll change this issue title to use your go-gitlint. WDYT?

[2019-06-11 01:55] cocsackie opened #1143 "OutputOf(File) fails on mkdirs on relative file without parent directories (in relative path)"
# Minimal code to reproduce:
`new OutputTo(new File("a.txt")).stream();`
## Unexpected behaviour

## Expected behaviour
Should work in the same way as when:
- file is `new File("a.txt").getAbsoluteFile()`
- file is `new File("a.txt").getCanonicalFile()`
# Remarks:

Relative files work:

`new OutputTo(new File("test/a.txt")).stream();`

The problem is in(notice no null check on File.getParentFile()

[2019-06-11 01:55] 0crat commented on #1143
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-06-11 01:55] 0crat commented on #1143
@cocsackie[/z](https://www.0crat.com/u/cocsackie) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-11 06:46] victornoel commented on #1137
@llorllale then at least we could rewrite `FirstOf` with `ItemAt` and `Filtered` to avoid code duplication and complexity?

[2019-06-16 11:29] scristalli commented on #898
@llorllale can I ask for an update on this? I'd just like to know what timeframe is expected for release 1.0, so that mutable collections can be discussed. I'd like not to refuse tasks, but depending on the actual feasability of this I don't want to hold it for months either.

[2019-06-16 19:18] 0crat commented on #1135
The job [#1135](https://github.com/yegor256/cactoos/issues/1135) assigned to @longstone[/z](https://www.0crat.com/u/longstone), here is [why](https://www.0crat.com/footprint/C63314D6Z/c4239e5c-5ea5-445f-b2b8-1ec9cd6fcf1d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-06-16 23:01] llorllale commented on #898
@scristalli just do this for now:

[2019-06-18 00:00] #1086 closed

[2019-06-18 00:00] 0pdd commented on #1086
The puzzle `1081-f3313fb1` has disappeared from the source code, that's why I closed this issue.

[2019-06-18 00:00] 0pdd opened #1144 "TeeInputHasResult.java:42-44: Replace the usage of the..."
The puzzle `1086-77b05812` from #1086 has to be resolved:

https://github.com/yegor256/cactoos/blob/fe264a47b70d371efe89f40708735e852acded0b/src/test/java/org/cactoos/io/TeeInputHasResult.java#L42-L44

The puzzle was created by Victor Noël on 08-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2019-06-18 00:00] 0pdd commented on #1086
@0pdd the puzzle [#1144](https://github.com/yegor256/cactoos/issues/1144) is still not solved.

[2019-06-18 00:01] 0crat commented on #1144
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-06-18 00:06] 0crat commented on #1144
Job [#1144](https://github.com/yegor256/cactoos/issues/1144) is now in scope, role is `DEV`

[2019-06-18 00:17] 0crat commented on #1086
Job [#1086](https://github.com/yegor256/cactoos/issues/1086) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't retrieve data and time of add

[2019-06-18 00:17] 0crat commented on #1086
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-18 00:17] 0crat commented on #1086
Job [#1086](https://github.com/yegor256/cactoos/issues/1086) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't inspect

[2019-06-18 00:18] 0crat commented on #1086
The job [#1086](https://github.com/yegor256/cactoos/issues/1086) is now out of scope

[2019-06-18 04:03] sereshqua commented on #1086
@0crat quality good

[2019-06-18 04:18] 0crat commented on #1086
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-18 04:18] 0crat commented on #1086
Order was finished, quality is "good": +65 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-18 18:39] scristalli commented on #1102
@atapin what do you think, can we close the issue? To recap, `Immutable.toString()` simply delegates to its wrapped iterator, for the reasons discussed above.

[2019-06-18 23:35] llorllale commented on #1143
@0crat in

[2019-06-18 23:39] llorllale commented on #1137
@0crat in

[2019-06-18 23:40] llorllale commented on #1142
@0crat assign me

[2019-06-18 23:51] 0crat commented on #1143
@llorllale Job [#1143](https://github.com/yegor256/cactoos/issues/1143) is now in scope, role is `DEV`

[2019-06-18 23:55] 0crat commented on #1143
@llorllale Thanks for your contribution, @cocsackie[/z](https://www.0crat.com/u/cocsackie)! If you would be a member of [the project](https://www.0crat.com/p/C63314D6Z), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-06-18 23:55] 0crat commented on #1137
@llorllale Job [#1137](https://github.com/yegor256/cactoos/issues/1137) is now in scope, role is `DEV`

[2019-06-19 00:03] 0crat commented on #1142
@llorllale The job [#1142](https://github.com/yegor256/cactoos/issues/1142) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C63314D6Z/ba81f72c-8d71-4859-9bb1-00347822525c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-06-19 00:16] 0crat commented on #1142
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-06-19 00:16] 0crat commented on #1142
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-06-19 00:24] 0crat commented on #1137
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-19 08:11] atapin commented on #1102
@scristalli @llorllale yes, let's close this issue

@0crat close this issue

[2019-06-19 08:11] 0crat commented on #1102
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos/issues/1102#issuecomment-503455742); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-06-19 08:11] 0crat commented on #1102
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-06-19 08:11] 0crat commented on #1102
@atapin[/z](https://www.0crat.com/u/atapin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-19 08:12] atapin commented on #1102
@0crat close the issue

[2019-06-19 08:15] victornoel commented on #1102
@atapin just close it yourself…

[2019-06-19 08:17] 0crat commented on #1102
@atapin Can't understand "close", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this is

[2019-06-19 08:33] 0crat commented on #1102
GitHub issue is still open, won't close

[2019-06-19 09:30] #1102 closed

[2019-06-19 09:56] 0crat commented on #1102
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @scristalli[/z](https://www.0crat.com/u/scristalli), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-19 09:57] 0crat commented on #1102
The job [#1102](https://github.com/yegor256/cactoos/issues/1102) is now out of scope

[2019-06-19 11:35] scristalli commented on #898
@llorllale I don't think the task can be split like so: an object-oriented approach would require a class like `Collections.SynchronizedList` (which is the one used by the static method), too bad it's private.
Unless of course leaving simple, unwrapped `ArrayList`, but that would make the code not thread-safe anymore.
The tests here create a collection, and then modify it by adding elements to it.

[2019-06-19 13:18] sereshqua commented on #1102
@scristalli please edit your comment that does not start with the name of the user you are referring it to: [see](https://github.com/yegor256/cactoos/issues/1102#issuecomment-496817005)

[2019-06-19 13:28] scristalli commented on #1102
@sereshqua done

[2019-06-19 13:30] sereshqua commented on #1102
@scristalli thx! it's been a lot of work in this ticket, i did not want to give just acceptable quality here :)

[2019-06-19 13:30] sereshqua commented on #1102
@0crat quality good

[2019-06-19 13:34] victornoel commented on #1102
@scristalli

That's not how this work… the idea of QA is to reward or punish. `acceptable` is being paid exactly for the work done, `good` is being given a reward on top of it because we perfectly followed the process. If you start deciding personally when giving or not an extra reward because "lot of work was done", it's the beginning of the end of a well oiled process :)

[2019-06-19 13:39] sereshqua commented on #1102
@victornoel Victor, you know, in different projects people have different opinions :) I have talked to a developer in Portal project, and he + some other people think opposite and when I punished for things like a comment, they had objection about it and were not happy. Now I am curious what to do

[2019-06-19 13:53] 0crat commented on #1102
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-19 13:55] llorllale commented on #1102
@victornoel I think there is room in the [policy](http://www.zerocracy.com/policy.html#30) for clarification.

[2019-06-19 13:58] 0crat commented on #1102
Order was finished, quality is "good": +35 point(s) just awarded to @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-06-21 00:35] llorllale commented on #947
@wladyan we're still not at `1.0` yet but we'll start work on this

[2019-06-21 00:35] llorllale commented on #947
@0crat in

[2019-06-21 00:36] llorllale commented on #898
@scristalli [you can proceed with `Synced`](https://github.com/yegor256/cactoos/issues/947#issuecomment-504246394)

[2019-06-21 00:40] 0crat commented on #947
@llorllale Job [#947](https://github.com/yegor256/cactoos/issues/947) is now in scope, role is `DEV`

[2019-06-21 00:41] 0crat commented on #947
@llorllale Thanks for your contribution, @wladyan[/z](https://www.0crat.com/u/wladyan)! If you would be a member of [the project](https://www.0crat.com/p/C63314D6Z), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-06-22 14:39] victornoel commented on #1117
@0crat wait for #1145 to be merged

[2019-06-22 14:39] 0crat commented on #985
The job [#985](https://github.com/yegor256/cactoos/issues/985) assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1), here is [why](https://www.0crat.com/footprint/C63314D6Z/784a14fd-3a0e-409b-943e-4c69f78cdb57); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-06-22 14:40] victornoel commented on #1119
@0crat wait for #1117 to be closed first

[2019-06-22 14:51] 0crat commented on #1117
@victornoel Job [#1117](https://github.com/yegor256/cactoos/issues/1117) is already on hold

[2019-06-22 14:51] 0crat commented on #1119
@victornoel Job [#1119](https://github.com/yegor256/cactoos/issues/1119) is already on hold

[2019-06-22 15:01] 0crat commented on #1024
The job [#1024](https://github.com/yegor256/cactoos/issues/1024) assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1), here is [why](https://www.0crat.com/footprint/C63314D6Z/cae2c303-45a6-4eb9-839c-5662397248ea); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-06-22 20:40] llorllale commented on #1142
@fabriciofx done in e787511b7bc4a8904c86815bb0281cd6395524fa

[2019-06-22 20:40] #1142 closed

[2019-06-22 21:03] 0crat commented on #1142
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-06-22 21:03] 0crat commented on #1142
The job [#1142](https://github.com/yegor256/cactoos/issues/1142) is now out of scope

[2019-06-23 11:13] aivinog1 commented on #985
I found out that dates already changed by @yegor256 in 100885a4638555d30fb56beefbb6691108b30d0f. But dates verification is not working and I add a new TODO.

[2019-06-23 11:28] aivinog1 opened #1147 "Fix warnings in build process"
In the build process we have some warnings:
[code]
Example is: https://travis-ci.org/yegor256/cactoos/builds/549329386?utm_source=github_status&utm_medium=notification

This warning needs to be errors and fixed if it makes sense.

[2019-06-23 11:28] 0crat commented on #1147
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-06-24 13:23] llorllale commented on #1147
@0crat in

[2019-06-24 13:31] 0crat commented on #1147
@llorllale Job [#1147](https://github.com/yegor256/cactoos/issues/1147) is now in scope, role is `DEV`

[2019-06-24 13:56] 0crat commented on #1147
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-06-25 09:30] aivinog1 opened #1148 "Build is broken"
See this: https://travis-ci.org/yegor256/cactoos/builds/549901512?utm_source=github_status&utm_medium=notification

Build is broken because @yegor256 commits: 3410ff4f5bba1abd5a6b96f5d96055c8a26641a7 and b3b86009507790e4bb6e7c612a6eb5cbdf63042b.

Needs to fix build.

[2019-06-25 09:30] 0crat commented on #1148
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-06-25 12:03] aivinog1 commented on #1024
@0crat wait #1148

[2019-06-25 12:03] aivinog1 commented on #985
@0crat wait #1148

[2019-06-25 12:05] 0crat commented on #1024
@aivinog1 The impediment for [#1024](https://github.com/yegor256/cactoos/issues/1024) was registered successfully by @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-06-25 12:05] 0crat commented on #985
@aivinog1 The impediment for [#985](https://github.com/yegor256/cactoos/issues/985) was registered successfully by @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-06-25 13:05] llorllale commented on #1148
@aivinog1 fixed in a1de4e68222cc1fe521c7a328236006b50498b71

@yegor256 has been notified

[2019-06-25 13:05] #1148 closed

[2019-06-25 13:24] 0crat commented on #1148
Job `gh:yegor256/cactoos#1148` is not assigned, can't get performer

[2019-06-25 13:24] 0crat commented on #1148
This job is not in scope

[2019-06-25 13:59] aivinog1 commented on #1148
@llorllale was this a valid bug? Can I get my reputation points for reporting a valid bug?

[2019-06-25 18:25] aivinog1 commented on #985
@0crat continue

[2019-06-25 18:26] aivinog1 commented on #985
@llorllale I assume that we can close this.

[2019-06-25 18:34] 0crat commented on #985
@aivinog1 @aivinog1[/z](https://www.0crat.com/u/aivinog1) continued working on job [#985](https://github.com/yegor256/cactoos/issues/985)

[2019-06-25 18:54] llorllale commented on #985
@aivinog1 ask the ticket's reporter

[2019-06-25 22:44] llorllale commented on #1148
@aivinog1 remind me on the next issue you work on

[2019-06-26 01:25] aivinog1 commented on #985
@llorllale Thanks.

@fabriciofx Can you close this ticket?

[2019-06-26 02:42] aivinog1 commented on #985
@llorllale I remind you about #1148. Can you fix my reputation?

[2019-06-26 02:43] aivinog1 commented on #1024
@0crat continue

[2019-06-26 02:48] 0crat commented on #1024
@aivinog1 @aivinog1[/z](https://www.0crat.com/u/aivinog1) continued working on job [#1024](https://github.com/yegor256/cactoos/issues/1024)

[2019-06-26 03:08] fabriciofx commented on #985
@llorllale I'll close this issue now. @aivinog1 good work! Congratulations!

[2019-06-26 03:08] #985 closed

[2019-06-26 03:26] 0crat commented on #985
Job [#985](https://github.com/yegor256/cactoos/issues/985) is not in the agenda of @aivinog1[/z](https://www.0crat.com/u/aivinog1), can't inspect

[2019-06-26 03:26] 0crat commented on #985
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @aivinog1[/z](https://www.0crat.com/u/aivinog1), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-26 03:27] 0crat commented on #985
The job [#985](https://github.com/yegor256/cactoos/issues/985) is now out of scope

[2019-06-26 03:31] 0crat commented on #1141
The job [#1141](https://github.com/yegor256/cactoos/issues/1141) assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1), here is [why](https://www.0crat.com/footprint/C63314D6Z/312b4241-3118-4f35-881c-390032367f89); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-06-26 03:51] fabriciofx commented on #1133
@llorllale If a make this test:
[code]
The result will be:
[code]
The same bug is valid do `MaxOf` and `MinOf`.

[2019-06-26 03:52] fabriciofx commented on #1133
@llorllale Is it possible to assign this issue to me?

[2019-06-26 06:56] aivinog1 opened #1151 "Let's fix build errors according to qulice."
Now we have errors in build connected to qulice:
[code]

See this: https://travis-ci.org/yegor256/cactoos/builds/550654280?utm_source=github_status&utm_medium=notification

I found that a solution may be to upgrade a qulice to newer version. I found out that in this ticket: https://github.com/teamed/qulice/issues/1033

[2019-06-26 06:56] 0crat commented on #1151
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-06-26 08:49] sereshqua commented on #985
@aivinog1 please make sure that you start all your message with the name of the user they are addressed to, [see](https://github.com/yegor256/cactoos/issues/985#issuecomment-504741928)

[2019-06-26 08:50] 0crat commented on #1144
The job [#1144](https://github.com/yegor256/cactoos/issues/1144) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/0ed7b130-9acc-4b48-b223-39ec9256ad8d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-06-26 08:52] aivinog1 commented on #985
@sereshqua done, thanks.

[2019-06-26 08:53] sereshqua commented on #985
@0crat quality acceptable

[2019-06-26 09:06] 0crat commented on #1143
The job [#1143](https://github.com/yegor256/cactoos/issues/1143) assigned to @scristalli[/z](https://www.0crat.com/u/scristalli), here is [why](https://www.0crat.com/footprint/C63314D6Z/d5347fd7-5627-4a5d-ba4d-c6ebed3fe66d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-06-26 09:06] 0crat commented on #985
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-26 09:06] 0crat commented on #985
Order was finished, quality is "acceptable": +30 point(s) just awarded to @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-06-27 05:50] aivinog1 commented on #1141
@0crat wait #1150

[2019-06-27 05:51] 0crat commented on #1141
@aivinog1 The impediment for [#1141](https://github.com/yegor256/cactoos/issues/1141) was registered successfully by @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-06-27 05:52] aivinog1 commented on #1024
@0crat wait #1149

[2019-06-27 05:52] 0crat commented on #1024
@aivinog1 The impediment for [#1024](https://github.com/yegor256/cactoos/issues/1024) was registered successfully by @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-06-27 21:45] fabriciofx commented on #1133
@llorllale ping

[2019-06-29 19:18] llorllale commented on #1133
@0crat assign @fabriciofx

[2019-06-29 19:24] #1117 closed

[2019-06-29 19:24] 0pdd commented on #1117
The puzzle `1033-b5541bca` has disappeared from the source code, that's why I closed this issue.

[2019-06-29 19:24] 0pdd opened #1152 "package-info.java:29-32: Continue replacing usage of..."
The puzzle `1117-b5541bca` from #1117 has to be resolved:

https://github.com/yegor256/cactoos/blob/042cb3468af6db5f71e98bb2fd71f71b7da7a960/src/main/java/org/cactoos/io/package-info.java#L29-L32

The puzzle was created by @rultor on 29-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2019-06-29 19:24] 0pdd commented on #1033
@llorllale the puzzle [#1152](https://github.com/yegor256/cactoos/issues/1152) is still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117).

[2019-06-29 19:24] 0pdd commented on #1117
@0pdd the puzzle [#1152](https://github.com/yegor256/cactoos/issues/1152) is still not solved.

[2019-06-29 19:25] 0crat commented on #1152
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-06-29 19:26] 0crat commented on #1133
@llorllale The job [#1133](https://github.com/yegor256/cactoos/issues/1133) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C63314D6Z/579f3ddd-ea41-40d7-9468-b3e106fb54e0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-06-29 19:42] 0crat commented on #1152
Job [#1152](https://github.com/yegor256/cactoos/issues/1152) is now in scope, role is `DEV`

[2019-06-29 19:42] 0crat commented on #1133
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-06-29 19:44] 0crat commented on #1133
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2019-06-29 19:44] 0crat commented on #1133
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-06-29 19:49] 0crat commented on #1117
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-29 19:51] 0crat commented on #1117
The job [#1117](https://github.com/yegor256/cactoos/issues/1117) is now out of scope

[2019-06-29 20:39] llorllale commented on #1151
@aivinog1 *sigh* - I didn't want to upgrade qulice since that will bring with it a whole bunch of linting errors, but we probably should for other reasons (such as upgrading Java version)

[2019-06-29 20:39] llorllale commented on #1151
@0crat in

[2019-06-29 20:44] 0crat commented on #1151
@llorllale Job [#1151](https://github.com/yegor256/cactoos/issues/1151) is now in scope, role is `DEV`

[2019-06-29 20:51] 0crat commented on #1151
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-06-30 10:08] victornoel commented on #1144
@0crat refuse

[2019-06-30 10:08] 0crat commented on #1144
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#1144](https://github.com/yegor256/cactoos/issues/1144), please stop working. Reason for job resignation: Order was cancelled

[2019-06-30 10:10] 0crat commented on #1144
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-30 10:10] 0crat commented on #947
The job [#947](https://github.com/yegor256/cactoos/issues/947) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/335d07a6-0458-4ea3-8aa6-e945547de575); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-06-30 10:17] victornoel commented on #947
@llorllale so is the objective here to make envelopes directly delegate to enveloped object and removing specific behaviour there? Or do you have something else in mind, I'm not clear following the discussion you had with @wladyan :)

[2019-06-30 12:00] scristalli commented on #947
@llorllale @victornoel I'm interested too, since this issue is crucial for deciding how to solve #898.
From what I understood following the discussion (see also #1008), the removal of immutability from envelopes seems a good option, otherwise we would have to create a specific envelope/decorator just for providing mutability.

[2019-06-30 12:03] scristalli commented on #898
@llorllale thanks for unblocking this. I'm following discussion in #947, which I think needs to be solved before this. I would happily avoid to `Create a class similar to SyncCollection but mutable` if a more general solution is approved in the project.

[2019-06-30 17:36] llorllale commented on #947
@victornoel envelopes will delegate to enveloped object; we will also create `Immutable` decorators

[2019-06-30 19:08] sereshqua commented on #1117
@0crat quality good

[2019-06-30 19:21] 0crat commented on #1117
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-30 19:21] 0crat commented on #1117
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-30 20:19] victornoel commented on #947
@0crat wait for #1154 to be merged

[2019-06-30 20:20] 0crat commented on #947
@victornoel The impediment for [#947](https://github.com/yegor256/cactoos/issues/947) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-07-01 14:33] scristalli commented on #1143
@0crat waiting for review of PR #1155.

[2019-07-01 14:33] 0crat commented on #1143
@scristalli The impediment for [#1143](https://github.com/yegor256/cactoos/issues/1143) was registered successfully by @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-07-02 15:28] g4s8 opened #1156 "TextEnvelope equals is not symmetric"
https://github.com/yegor256/cactoos/blob/100885a4638555d30fb56beefbb6691108b30d0f/src/main/java/org/cactoos/text/TextEnvelope.java#L79-L90

From Java `Object` [docs](https://docs.oracle.com/javase/7/docs/api/java/lang/Object.html#equals(java.lang.Object)):

But `TextEnvelope` `equals()` implementation is not symmetric:
[code]

[2019-07-02 15:28] 0crat commented on #1156
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-07-02 15:28] 0crat commented on #1156
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-02 23:29] llorllale commented on #1156
@g4s8 you rolled your own implementation of `Text` with `Txt` in your example... that means you didn't extend `TextEnvelope`, and I see that you also didn't implement `equals()`. Hence this happens: `txt.equals(env) // returns false`

[2019-07-03 05:53] g4s8 commented on #1156
@llorllale that's true, but I think it's a valid case, since anybody can implement `Text` interface without `equals()` or with standard `equals()` implementation, e.g.
[code]

So I'd suggest adding type check in `TextEnvelope.equals`, it will make it symmetric, because `equals` method is marked as `final`, so all subclass `equals` calls will go to `TextEnvelope` implementation.

[2019-07-04 01:20] llorllale commented on #1156
@g4s8 `TextEnvelope#equals` already has a type check on line 84. I don't understand where the issue is.

[2019-07-04 07:41] scristalli commented on #1143
@cocsackie PR #1155 has been merged; could you please confirm that the issue is solved, and in case close it afterwards? Thank you.

[2019-07-04 09:10] g4s8 commented on #1156
@llorllale but it checks that other object is a `Text`, I think it should check with `TextEnvelpe`:
[code]

[2019-07-04 12:30] yegor256 commented on #1148
@llorllale my bad, sorry

[2019-07-04 18:38] llorllale commented on #1156
@g4s8 oh, I think I see what you mean now.

My question is: would this change *really* be useful? Is it causing an actual bug somewhere? Or is this suggestion entirely motivated from a purist point of view?

[2019-07-04 19:30] g4s8 commented on #1156
@llorllale it's motivated from library user point of view: I may not check source code of `TextEnvelope` before using it, and I can easily implement `Text` somewhere with equals method, so I may get unpredictable bug which will depend on order of method calls, e.g. if I have text implementtion `SomeText` and `TextEnvelope` subclass `FormattedText`, I'd expect that code:
[code]
will return same res

[2019-07-06 01:28] aivinog1 commented on #1141
@0crat refuse

[2019-07-06 01:33] 0crat commented on #1141
@aivinog1 The user @aivinog1[/z](https://www.0crat.com/u/aivinog1) resigned from [#1141](https://github.com/yegor256/cactoos/issues/1141), please stop working. Reason for job resignation: Order was cancelled

[2019-07-06 01:43] 0crat commented on #1141
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-07-06 01:50] 0crat commented on #1144
The job [#1144](https://github.com/yegor256/cactoos/issues/1144) assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1), here is [why](https://www.0crat.com/footprint/C63314D6Z/e854fdfe-0d24-4987-a1cf-a5dd64049d8b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-07-06 03:05] aivinog1 commented on #1144
@0crat wait #1157

[2019-07-06 03:08] 0crat commented on #1144
@aivinog1 The impediment for [#1144](https://github.com/yegor256/cactoos/issues/1144) was registered successfully by @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-07-06 11:40] fabriciofx commented on #1133
@0crat wait for `REV`.

[2019-07-06 11:45] 0crat commented on #1133
@fabriciofx The impediment for [#1133](https://github.com/yegor256/cactoos/issues/1133) was registered successfully by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-07-06 11:46] 0crat commented on #1133
@fabriciofx Job [#1133](https://github.com/yegor256/cactoos/issues/1133) is not in the agenda of @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), can't set impediment

[2019-07-06 16:44] victornoel commented on #1119
@0crat wait for #1158 to be merged

[2019-07-06 16:47] 0crat commented on #1119
@victornoel Job [#1119](https://github.com/yegor256/cactoos/issues/1119) is already on hold

[2019-07-07 14:21] llorllale opened #1159 "Release build broken: go-gitlint complains about rultor's commit msg"
See [rultor log](http://www.rultor.com/t/19088-508305225).

[2019-07-07 14:43] llorllale commented on #1159
Fixed in 7ea75c8ab6b24b1ef2afc20f52d680fa944ace1b, see [rultor build](http://www.rultor.com/t/19088-509003982)

[2019-07-07 14:43] #1159 closed

[2019-07-07 15:00] 0crat commented on #1159
Job `gh:yegor256/cactoos#1159` is not assigned, can't get performer

[2019-07-07 15:00] 0crat commented on #1159
This job is not in scope

[2019-07-09 10:27] scristalli commented on #1143
@llorllale the reporter of the issue is not responding, and is not a member of Zerocracy. Could you close the issue?

[2019-07-09 20:07] cocsackie commented on #1143
@scristalli Sorry. I confirm that issue is solved.

[2019-07-09 20:07] #1143 closed

[2019-07-09 20:25] 0crat commented on #1143
Job [#1143](https://github.com/yegor256/cactoos/issues/1143) is not in the agenda of @scristalli[/z](https://www.0crat.com/u/scristalli), can't inspect

[2019-07-09 20:25] 0crat commented on #1143
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @scristalli[/z](https://www.0crat.com/u/scristalli), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-09 20:25] 0crat commented on #1143
The job [#1143](https://github.com/yegor256/cactoos/issues/1143) is now out of scope

[2019-07-10 05:43] sereshqua commented on #1143
@0crat quality good

[2019-07-10 06:11] 0crat commented on #1143
Order was finished, quality is "good": +35 point(s) just awarded to @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-07-10 06:11] 0crat commented on #1143
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-07-10 23:15] 0crat commented on #1024
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @Serranya (its creator); I won't close the order; please, re-open it and ask @Serranya to close it

[2019-07-11 00:34] aivinog1 commented on #1024
@llorllale Can you reopen this issue that @Serranya can close this properly?

[2019-07-11 13:47] 0crat commented on #1141
The job [#1141](https://github.com/yegor256/cactoos/issues/1141) assigned to @scrobot[/z](https://www.0crat.com/u/scrobot), here is [why](https://www.0crat.com/footprint/C63314D6Z/68bb2475-cacc-48b5-84e3-0ee51e69122a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-07-11 13:48] 0crat commented on #1137
The job [#1137](https://github.com/yegor256/cactoos/issues/1137) assigned to @scrobot[/z](https://www.0crat.com/u/scrobot), here is [why](https://www.0crat.com/footprint/C63314D6Z/a90cae21-1120-4d53-956c-ddc61ca94552); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-07-11 13:58] 0crat commented on #1147
The job [#1147](https://github.com/yegor256/cactoos/issues/1147) assigned to @scrobot[/z](https://www.0crat.com/u/scrobot), here is [why](https://www.0crat.com/footprint/C63314D6Z/3f3a9700-1e2b-4ef4-a316-95ee166036b7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-07-11 20:12] 0crat commented on #1024
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-07-11 20:12] 0crat commented on #1024
@serranya[/z](https://www.0crat.com/u/serranya) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-12 05:06] aivinog1 commented on #1024
@0crat status

[2019-07-12 05:07] 0crat commented on #1024
@aivinog1 This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1024](https://github.com/yegor256/cactoos/issues/1024) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1) for [20days](http:/

[2019-07-12 05:11] aivinog1 commented on #1024
@llorllale Hm, it seems to be that task is assigned to me, actually. How can we fix that?

[2019-07-13 17:07] fabriciofx commented on #1133
@llorllale zerocrat bot removed this task from my agenda. Do you know why?

[2019-07-14 09:55] victornoel commented on #1156
@g4s8 @llorllale aren't you in the middle of a discussion trying to solve all that is bad with using inheritance? :)

Envelopes are not meant to implement behaviour but delegate to a wrapped object.

I personally think that `TextOf` or `Text.Default` could implement `equals`, `hashCode` and `toString` and take a `Scalar` so that all the implementation of `Text` that want to have the same behaviour

[2019-07-14 10:01] victornoel opened #1163 "Provide clear contributing guidelines about rebasing in PRs"
Following some discussions:
- https://github.com/llorllale/cactoos-matchers/pull/131#discussion_r303223445
- https://github.com/yegor256/cactoos/pull/1154#discussion_r303207902
- https://t.me/zerocracy/7175

I think we need clear guideline about what is expected of DEV concerning changes made after REV comments as well as about merging vs rebasing w.r.t. master branch in case of conflicts.

[2019-07-14 10:01] 0crat commented on #1163
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-07-14 10:11] victornoel commented on #1163
For the record, until now I was more for rebasing all the time, but I kind of had my mind changed (not 100%) so I would like to have a clear guideline so as not to think anymore about it :)

/cc @scristalli

[2019-07-14 10:55] victornoel commented on #1163
@llorllale I wasn't aware of it, but it seems that I am not the only one bothered by this kind of questions: https://github.com/zerocracy/zerocracy.github.io/pull/103#issuecomment-509644947

[2019-07-14 18:35] #1120 closed

[2019-07-14 18:55] 0crat commented on #1120
Job `gh:yegor256/cactoos#1120` is not assigned, can't get performer

[2019-07-14 18:55] 0crat commented on #1120
This job is not in scope

[2019-07-16 18:35] scristalli commented on #898
@0crat resign - this is taking way too long and I'd rather pass, in order to free up slots and improve reputation and metrics.

[2019-07-16 18:45] 0crat commented on #898
@scristalli The user @scristalli[/z](https://www.0crat.com/u/scristalli) resigned from [#898](https://github.com/yegor256/cactoos/issues/898), please stop working. Reason for job resignation: Order was cancelled

[2019-07-16 18:52] 0crat commented on #898
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-07-17 01:18] llorllale commented on #1141
@scrobot the goal is to have the `mvn test` target execute in max 10 seconds (or as fast as reasonably possible).

[2019-07-17 01:35] llorllale commented on #1147
@scrobot that issue is marked as "fixed" - what's the problem?

[2019-07-17 01:39] llorllale commented on #1133
@fabriciofx nope

[2019-07-17 01:39] llorllale commented on #1133
@0crat status

[2019-07-17 01:50] 0crat commented on #1133
@llorllale This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1133](https://github.com/yegor256/cactoos/issues/1133) is [in scope](http://www.zerocracy.com/policy.html#14) for 17days
  * The role is `DEV`
  * The job is assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) for [17days]

[2019-07-17 13:40] fabriciofx commented on #1133
@llorllale Thanks. As the code was merge, I'll close this PR now.

[2019-07-17 13:41] #1133 closed

[2019-07-17 13:45] fabriciofx commented on #1141
@llorllale just for curiosity: different machines will produce different times. So, how can I achive this goal (10 seconds)  based on this problem?

[2019-07-17 14:02] 0crat commented on #1133
Job [#1133](https://github.com/yegor256/cactoos/issues/1133) is not in the agenda of @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), can't retrieve data and time of add

[2019-07-17 14:06] 0crat commented on #1133
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-17 14:06] 0crat commented on #1133
Job [#1133](https://github.com/yegor256/cactoos/issues/1133) is not in the agenda of @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), can't inspect

[2019-07-17 14:07] 0crat commented on #1133
The job [#1133](https://github.com/yegor256/cactoos/issues/1133) is now out of scope

[2019-07-17 15:02] sereshqua commented on #1133
@0crat quality good

[2019-07-17 15:33] 0crat commented on #1133
Order was finished, quality is "good": +35 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-07-17 15:34] 0crat commented on #1133
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-07-19 14:18] #1024 closed

[2019-07-19 14:38] 0crat commented on #1024
Job `gh:yegor256/cactoos#1024` is not assigned, can't get performer

[2019-07-19 14:42] 0crat commented on #1024
The job [#1024](https://github.com/yegor256/cactoos/issues/1024) is now out of scope

[2019-07-20 14:13] 0crat commented on #1152
The job [#1152](https://github.com/yegor256/cactoos/issues/1152) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/ba133d02-40cf-489f-a63a-6119fe497cda); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-07-20 14:27] 0crat commented on #1151
The job [#1151](https://github.com/yegor256/cactoos/issues/1151) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/87518825-d42b-4704-8e55-43786fa3c22a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-07-20 15:26] victornoel commented on #1151
@0crat refuse

[2019-07-20 15:27] 0crat commented on #1151
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#1151](https://github.com/yegor256/cactoos/issues/1151), please stop working. Reason for job resignation: Order was cancelled

[2019-07-20 15:28] 0crat commented on #1151
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-07-20 16:03] victornoel commented on #1152
@0crat wait for #1165 to be merged

[2019-07-20 16:07] 0crat commented on #1152
@victornoel The impediment for [#1152](https://github.com/yegor256/cactoos/issues/1152) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-07-20 18:10] llorllale commented on #1141
@scrobot @fabriciofx the task never established any clear limits because it wasn't clear where the limits were :)

This was an exploratory task to see how much we could improve the build times.

[2019-07-20 18:32] llorllale commented on #1156
@victornoel nope - @g4s8 is pointing to a deeper problem that would apply to your solution as well.

[2019-07-20 18:40] victornoel commented on #1156
@llorllale I understand that, but I believe we would be better served by having a real `TextEnvelope` and then a `ScalarText` that can implements `equals` properly. I think also that if you do that, then the `equals` method of `ScalarText` just need to compare the value of `Text#asString()` with its own and the symmetry problem is solved if I'm not mistaken.

[2019-07-20 18:49] llorllale commented on #1156
@g4s8

Two `Text`s are equal solely if their string contents (defined as the output of `asString()`) are equal. If your custom `Text` does not honor this then it's not implementing the contract and it's violating LSP.

[2019-07-20 19:24] llorllale commented on #1163
@victornoel it's certainly cleaner for the project as a whole if each commit corresponds to exactly one issue.

On the other hand, it would make it difficult for a DEV to revert changes as he is working to have his PR merged (he may be asked to revert a subset of the change). But then again - these are microtasks we're talking about, so perhaps this shouldn't be a big issue.

I think I lean more t

[2019-07-20 19:27] victornoel commented on #1163
@llorllale I don't think we need to enforce it (and there always will be some special cases), but at least a clear ruling and guidelines would be helpful to not spend time discussing this between DEV and REV.

In the ghman project, the guidelines are in the README for example, so that DEV and REV can refer to it.

[2019-07-20 20:22] #1119 closed

[2019-07-20 20:22] 0pdd commented on #1119
The puzzle `1082-fd48e847` has disappeared from the source code, that's why I closed this issue.

[2019-07-20 20:22] 0pdd opened #1166 "pom.xml:188-194: In the continuation of #588, all the..."
The puzzle `1119-fd48e847` from #1119 has to be resolved:

https://github.com/yegor256/cactoos/blob/a17252e2a30697dbd2de97aaff662aad5fc0ade6/pom.xml#L188-L194

The puzzle was created by @rultor on 20-Jul-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzl

[2019-07-20 20:22] 0pdd commented on #588
@neonailol the puzzle [#1166](https://github.com/yegor256/cactoos/issues/1166) is still not solved; solved: [#1082](https://github.com/yegor256/cactoos/issues/1082), [#1119](https://github.com/yegor256/cactoos/issues/1119), [#902](https://github.com/yegor256/cactoos/issues/902), [#903](https://github.com/yegor256/cactoos/issues/903), [#951](https://github.com/yegor256/cactoos/issues/951).

[2019-07-20 20:22] 0pdd commented on #903
@0pdd the puzzle [#1166](https://github.com/yegor256/cactoos/issues/1166) is still not solved; solved: [#1082](https://github.com/yegor256/cactoos/issues/1082), [#1119](https://github.com/yegor256/cactoos/issues/1119), [#951](https://github.com/yegor256/cactoos/issues/951).

[2019-07-20 20:22] 0pdd commented on #951
@0pdd the puzzle [#1166](https://github.com/yegor256/cactoos/issues/1166) is still not solved; solved: [#1082](https://github.com/yegor256/cactoos/issues/1082), [#1119](https://github.com/yegor256/cactoos/issues/1119).

[2019-07-20 20:22] 0pdd commented on #1082
@0pdd the puzzle [#1166](https://github.com/yegor256/cactoos/issues/1166) is still not solved; solved: [#1119](https://github.com/yegor256/cactoos/issues/1119).

[2019-07-20 20:22] 0pdd commented on #1119
@0pdd the puzzle [#1166](https://github.com/yegor256/cactoos/issues/1166) is still not solved.

[2019-07-20 21:32] fabriciofx commented on #1141
@llorllale thanks!

[2019-07-20 21:46] fabriciofx opened #1167 "Async doesn't shutdown ExecutorService"
[Here](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/func/Async.java#L75) in `Async` it creates a new `ExecutorService` and [here](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/func/Async.java#L90) it submit the `Func` to `Executor` but it doesn't shutdown the `ExecutorService`. So I think it should call `this.executor.shutdown()` after `subm

[2019-07-20 23:29] llorllale commented on #1163
@victornoel Am I missing something? There is nothing related to commits in neither https://github.com/g4s8/ghman/blob/master/README.md nor https://github.com/g4s8/ghman/tree/master/.github

[2019-07-20 23:29] llorllale commented on #1163
@victornoel I'm assuming the default rules of Zerocracy apply

[2019-07-21 01:49] 0crat commented on #1167
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-07-21 01:49] 0crat commented on #1167
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-21 02:28] 0crat commented on #1166
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48.2](https://github.com/zerocracy/farm): Issue: yegor256/cactoos#1166, Action: `opened`

[2019-07-21 02:51] 0crat commented on #1119
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48.2](https://github.com/zerocracy/farm): CID: [339a0db9-3ca5-4317-9bea-2c361145e521](https://www.0crat.com/footprint/C63314D6Z/339a0db9-3ca5-4317-9bea-2c361145e521), Type: "Close job"

[2019-07-21 02:51] 0crat commented on #1119
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48.2](https://github.com/zerocracy/farm): CID: [339a0db9-3ca5-4317-9bea-2c361145e521](https://www.0crat.com/footprint/C63314D6Z/339a0db9-3ca5-4317-9bea-2c361145e521), Type: "Close job"

[2019-07-21 03:32] 0crat commented on #1166
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48.2](https://github.com/zerocracy/farm): CID: [0478fdc7-647c-4400-9814-962b97a94e71](https://www.0crat.com/footprint/C63314D6Z/0478fdc7-647c-4400-9814-962b97a94e71), Type: "Add job to WBS"

[2019-07-21 05:01] g4s8 commented on #1156
@llorllale but what if I have a `Text` with dynamic `asString` result? For instance text based on file:
[code]
in that case I'd say that two instances are equal if they have the same state (`file`), but checking `asString` won't get real state of the instance, since file content may change, and `equals` may return false-positive results, So I'd implement `equals` like this:
[code]

[2019-07-21 08:14] victornoel commented on #1163
@llorllale it's not yet merged: https://github.com/g4s8/ghman/pull/67

Which default rules are you referring to? I may have missed something there!

[2019-07-21 08:27] victornoel commented on #1156
@g4s8 raises a good point, and is highlighting another problem of envelopes we haven't tackled yet: when using envelopes for some of your implementations, you can't rely on reflection and casting.

Because if you have `MyFileText extends TextEnvelope` and delegates to `FileText`, I suppose you would expect that `new FileText(...).equals(new MyFileText(...))` would work if they delegate to the same

[2019-07-21 09:12] g4s8 commented on #1156
@victornoel @llorllale if I really need to compare two texts by `asString` result, I'd create new class to do that:
[code]

[2019-07-21 15:53] victornoel commented on #1119
@llorllale there has been some bug with 0crat (see https://github.com/zerocracy/farm/issues/2119) and 0crat didn't register the closing of the ticket, could you notify 0crat with `out` command? Thanks

[2019-07-22 15:47] 0crat commented on #1141
@scrobot The impediment for [#1141](https://github.com/yegor256/cactoos/issues/1141) was registered successfully by @scrobot[/z](https://www.0crat.com/u/scrobot)

[2019-07-22 15:49] 0crat commented on #1137
@scrobot The impediment for [#1137](https://github.com/yegor256/cactoos/issues/1137) was registered successfully by @scrobot[/z](https://www.0crat.com/u/scrobot)

[2019-07-22 17:33] victornoel commented on #1119
@0crat out

[2019-07-22 17:44] 0crat commented on #1119
@victornoel[/z](https://www.0crat.com/u/victornoel) the issue is closed not by @0pdd[/z](https://www.0crat.com/u/0pdd) (its creator); I won't close the order; please, re-open it and ask @0pdd[/z](https://www.0crat.com/u/0pdd) to close it

[2019-07-23 09:11] 0crat commented on #1147
@scrobot Job [#1147](https://github.com/yegor256/cactoos/issues/1147) is already on hold

[2019-07-24 08:12] victornoel commented on #1119
@llorllale could you ask 0crat to `out` the ticket here too please?

[2019-07-26 10:00] 0crat commented on #1119
The job [#1119](https://github.com/yegor256/cactoos/issues/1119) is now out of scope

[2019-07-26 10:00] 0crat commented on #1119
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-26 10:04] sereshqua commented on #1119
@0crat quality good

[2019-07-26 10:13] 0crat commented on #1119
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-07-26 10:13] 0crat commented on #1119
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-07-27 08:28] victornoel opened #1169 "All collections/iterable/etc constructor should accept wildcarded values"
The following code has two problems with typing:
[code]

The problem is that collections are covariant with their parameter (at least) but the current declaration of the constructors of classes like `Joined`, or even `ListOf` and `IterableOf`fail to capture that:
[code]

If they were declared as:
[code]

Then they could be usable more generally and without incurring any problem.

The same problem

[2019-07-27 08:28] 0crat commented on #1169
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-07-27 08:51] victornoel opened #1170 "FallbackFrom should be an interface"
It is not possible to implement my own `FallbackFrom`.

For example I would like to define an implementation of `FallbackFrom` that wraps an `Exception` and and calls `addSupressed` on it every time it is called.

For now the only solution is to do this in my own implementation of `Func` and to compose it with `FallbackFrom` but I don't see why I have to bother with this extra layer of objects.

T

[2019-07-27 08:51] 0crat commented on #1170
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-08-03 18:55] #1141 closed

[2019-08-03 18:55] 0pdd commented on #1141
The puzzle `1115-b0c94327` has disappeared from the source code, that's why I closed this issue.

[2019-08-03 18:55] 0pdd commented on #1112
@vzurauskas all 2 puzzles are solved here: [#1115](https://github.com/yegor256/cactoos/issues/1115), [#1141](https://github.com/yegor256/cactoos/issues/1141).

[2019-08-03 18:55] 0pdd commented on #1115
@0pdd the only puzzle [#1141](https://github.com/yegor256/cactoos/issues/1141) is solved here.

[2019-08-03 19:20] 0crat commented on #1141
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @scrobot[/z](https://www.0crat.com/u/scrobot), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-08-03 19:22] 0crat commented on #1141
The job [#1141](https://github.com/yegor256/cactoos/issues/1141) is now out of scope

[2019-08-03 19:22] 0crat commented on #1141
Job [#1141](https://github.com/yegor256/cactoos/issues/1141) is not in the agenda of @scrobot[/z](https://www.0crat.com/u/scrobot), can't inspect

[2019-08-05 05:08] sereshqua commented on #1141
@0crat quality good

[2019-08-05 05:15] 0crat commented on #1141
Order was finished, quality is "good": +35 point(s) just awarded to @scrobot[/z](https://www.0crat.com/u/scrobot)

[2019-08-05 05:15] 0crat commented on #1141
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-08-06 10:40] aivinog1 opened #1172 "The build of the project is broken in Travis."
You can see this PR: https://github.com/yegor256/cactoos/pull/1157

The build of the project in Travis doesn't work. See this build: https://travis-ci.org/yegor256/cactoos/builds/568301019?utm_source=github_status&utm_medium=notification

[2019-08-06 10:40] 0crat commented on #1172
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-08-06 10:40] 0crat commented on #1172
@aivinog1[/z](https://www.0crat.com/u/aivinog1) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-06 13:56] 0crat commented on #1144
The job [#1144](https://github.com/yegor256/cactoos/issues/1144) assigned to @umbrah[/z](https://www.0crat.com/u/umbrah), here is [why](https://www.0crat.com/footprint/C63314D6Z/80f10e78-6a4b-4fd1-838b-79929702fb9a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-08-06 14:06] 0crat commented on #1151
The job [#1151](https://github.com/yegor256/cactoos/issues/1151) assigned to @umbrah[/z](https://www.0crat.com/u/umbrah), here is [why](https://www.0crat.com/footprint/C63314D6Z/2b7e99c4-1523-4919-8972-261dcbd6bd64); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-08-07 17:01] vzurauskas commented on #1172
@llorllale I have this problem in my PR as well: https://github.com/yegor256/cactoos/pull/1171

[2019-08-08 22:04] StuporHero opened #1173 "Equals that takes the raw type T"
Having to wrap raw objects in `Scalar<T>` is a little cumbersome if I've already got the raw type. Would it be possible to add a constructor to `Equals` that wraps raw inputs with lambdas to save a little trouble?

Edit added by @victornoel: when it is done, let's solve the problem expressed in #1174.

[2019-08-08 22:04] 0crat commented on #1173
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-08-08 22:04] 0crat commented on #1173
@stuporhero[/z](https://www.0crat.com/u/stuporhero) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-08 22:07] StuporHero opened #1174 "Equals<T extends Comparable<T>> contains a circular reference"
You can't use `ComparableText` with `Equals` because `ComparableText` doesn't implement `Comparable<ComparableText>` as the circular generic parameter requires on `Equals`. You could use `<T extends Comparable<R>>` and use the `R` parameter with the raw constructor requested in #1173.

[2019-08-08 22:07] 0crat commented on #1174
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-08-08 22:07] 0crat commented on #1174
@stuporhero[/z](https://www.0crat.com/u/stuporhero) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-12 00:29] StuporHero opened #1175 "TrueOrThrow class"
I have a use case that I think might be common enough to warrant creating a dedicated class in this library to handling. I need to evaluate a `Boolean` expression and throw an `Exception` if that expression is false. It should probably implement `Scalar<Boolean>` and have a signature of `TrueOrThrow(expression, exceptionMessage)`.

[code]

For completeness, its counterpart would be:

[code]

[2019-08-12 00:29] 0crat commented on #1175
@llorllale[/z](https://www.0crat.com/u/llorllale) please, pay attention to this issue

[2019-08-12 00:30] 0crat commented on #1175
@stuporhero[/z](https://www.0crat.com/u/stuporhero) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-14 10:40] vzurauskas commented on #1172
@llorllale This is blocking the development.

[2019-08-14 17:53] vzurauskas commented on #1172
@llorllale Another PR blocked by this: https://github.com/llorllale/cactoos-matchers/pull/140

[2019-08-23 23:54] svendiedrichsen commented on #1167
@fabriciofx I think it should only shutdown the ExecutorService if it has created one by it self. If an ExecutorService has been passed into it it shouldn't shut it down.

[2019-08-29 09:58] Glusk2 commented on #1172
The error message int the Travis [build log](https://travis-ci.org/yegor256/cactoos/builds/578062519) reads:

This can be fixed in two ways [[1]](https://travis-ci.community/t/error-installing-oraclejdk8-expected-feature-release-number-in-range-of-9-to-14-but-got-8/3766/8):

- Add `dist: trusty` to [`.travis.yml`](https://github.com/yegor256/cactoos/blob/master/.travis.yml)
- Migrate to OpenJDK bu

[2019-09-11 13:38] 0crat commented on #852
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 13:38] 0crat commented on #915
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 13:38] 0crat commented on #895
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 13:42] 0crat commented on #893
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 13:42] 0crat commented on #906
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 13:42] 0crat commented on #1000
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 13:45] 0crat commented on #947
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 13:46] 0crat commented on #1137
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 13:46] 0crat commented on #1135
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 13:47] 0crat commented on #1144
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 13:47] 0crat commented on #1152
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 13:47] 0crat commented on #1147
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 13:48] 0crat commented on #1151
The architect of the project has changed; @llorllale[/z](https://www.0crat.com/u/llorllale) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2019-09-11 16:02] 0crat commented on #898
The job [#898](https://github.com/yegor256/cactoos/issues/898) assigned to @iakunin[/z](https://www.0crat.com/u/iakunin), here is [why](https://www.0crat.com/footprint/C63314D6Z/71e571fb-264b-4464-9278-a25710970e35); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-09-11 16:16] 0crat commented on #1106
The job [#1106](https://github.com/yegor256/cactoos/issues/1106) assigned to @iakunin[/z](https://www.0crat.com/u/iakunin), here is [why](https://www.0crat.com/footprint/C63314D6Z/fa28290b-fbae-4295-91c6-13e8e683088a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-09-11 17:49] fabriciofx opened #1177 "Change oraclejdk8 to openjdk8 on Travis CI"
@paulodamaso Travis CI hasn't working because `oraclejdk8` license is not valid anymore. So, let's change it to `openjdk8`. I refactoring of this configuration file `.travis.yml` can be a possibility too.

[2019-09-11 17:49] 0crat commented on #1177
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-11 18:15] paulodamaso commented on #1172
@0crat assign @iakunin

[2019-09-11 18:17] 0crat commented on #1172
@paulodamaso The job [#1172](https://github.com/yegor256/cactoos/issues/1172) assigned to @iakunin[/z](https://www.0crat.com/u/iakunin), here is [why](https://www.0crat.com/footprint/C63314D6Z/a5d45b4c-8634-40c1-915c-8d2d172cbf1b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-09-11 18:19] paulodamaso commented on #1177
@fabriciofx We'll use `trusty` distro instead using `openjdk8` for now

[2019-09-11 18:23] 0crat commented on #1172
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-09-11 20:21] iakunin commented on #898
@paulodamaso, should we wait for #947 to be resolved?

[2019-09-13 09:26] iakunin commented on #1177
@fabriciofx, see #1176

[2019-09-13 09:36] iakunin opened #1178 "Rultor merge failure, but CI-builds are OK"
## Problem
You can see the rultor-megre problem in https://github.com/yegor256/cactoos/pull/1176#issuecomment-530923097.

## What's happened?
Rultor merge has failed because of `gitlint` failure:
[code]

`Gitlint` failure happened because subject of [this commit](https://github.com/yegor256/cactoos/commit/937c04738020fb9385d828db58660dacf60e6b13) does not match to the expected regexp.

Subject of

[2019-09-13 09:36] 0crat commented on #1178
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-14 01:12] paulodamaso commented on #1178
@0crat assign me

[2019-09-14 01:13] 0crat commented on #1178
@paulodamaso The job [#1178](https://github.com/yegor256/cactoos/issues/1178) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C63314D6Z/7985eb7b-0e59-4b9e-9fe4-e1c5a210aa67); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2019-09-14 01:15] 0crat commented on #1178
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-14 01:17] 0crat commented on #1178
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @iakunin[/z](https://www.0crat.com/u/iakunin)

[2019-09-14 02:50] paulodamaso commented on #1178
@iakunin updated gitlint date, build is ok in rultor now

[2019-09-14 07:20] iakunin commented on #1178
@paulodamaso, thank you.

And what’s about preventing this kind of problem in future? Should we do something about it?

[2019-09-14 13:40] emfataliev opened #1180 "Examples from README.md doesn't work"
Below is a list of examples that have compilation errors:
[code]
[code]
[code]
[code]
[code]

[2019-09-14 13:40] 0crat commented on #1180
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-14 13:40] 0crat commented on #1180
@emfataliev[/z](https://www.0crat.com/u/emfataliev) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-14 19:08] fabriciofx commented on #1180
@emfataliev I'm sorry, but you can't open an issue and submit the PR to fix it without at least the `ARC` explicitly said you can do it.

[2019-09-14 20:30] emfataliev commented on #1180
I can create issue and just wait until you solve it? It sounds sad... I thought I could participate in the development

[2019-09-14 20:59] fabriciofx commented on #1180
@emfataliev you create an issue. If it'll be accepted (scope in) you'll receive points for it. The Zerocracy plataform will pick a developer (`DEV`) to fix the issue and a revisor (`REV`) to this submitted PR. It's how the system works.

[2019-09-14 21:09] paulodamaso commented on #1178
@iakunin I don't think we should bother with this for now; anyway I've asked @llorllale to implement a feature that allows us to ignore gitlinting from some users

[2019-09-14 21:11] paulodamaso commented on #1172
@aivinog1 please take a look

[2019-09-14 21:13] emfataliev commented on #1180
@fabriciofx and what can I do with the received points? Where are all these rules described?

[2019-09-14 21:16] fabriciofx commented on #1180
@emfataliev please, read the [policy](http://www.zerocracy.com/policy.html).

[2019-09-14 21:26] #1152 closed

[2019-09-14 21:26] 0pdd commented on #1152
The puzzle `1117-b5541bca` has disappeared from the source code, that's why I closed this issue.

[2019-09-14 21:26] 0pdd opened #1182 "package-info.java:29-32: Continue replacing usage of..."
The puzzle `1152-b5541bca` from #1152 has to be resolved:

https://github.com/yegor256/cactoos/blob/5ff9e6d70540ab80aee46e1e858e1fb94a589dff/src/test/java/org/cactoos/io/package-info.java#L29-L32

The puzzle was created by Victor Noël on 20-Jul-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2019-09-14 21:26] 0pdd commented on #1033
@llorllale the puzzle [#1182](https://github.com/yegor256/cactoos/issues/1182) is still not solved; solved: [#1117](https://github.com/yegor256/cactoos/issues/1117), [#1152](https://github.com/yegor256/cactoos/issues/1152).

[2019-09-14 21:26] 0pdd commented on #1117
@0pdd the puzzle [#1182](https://github.com/yegor256/cactoos/issues/1182) is still not solved; solved: [#1152](https://github.com/yegor256/cactoos/issues/1152).

[2019-09-14 21:26] 0pdd commented on #1152
@0pdd the puzzle [#1182](https://github.com/yegor256/cactoos/issues/1182) is still not solved.

[2019-09-14 21:27] 0crat commented on #1182
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-14 21:32] iakunin commented on #1178
https://github.com/paulodamaso, thank you so much!

[2019-09-14 21:33] #1178 closed

[2019-09-14 21:43] 0crat commented on #1182
Job [#1182](https://github.com/yegor256/cactoos/issues/1182) is now in scope, role is `DEV`

[2019-09-14 21:51] 0crat commented on #1152
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) all `QA`s are on vacation. Please handle that.

[2019-09-14 21:51] 0crat commented on #1152
The job [#1152](https://github.com/yegor256/cactoos/issues/1152) is now out of scope

[2019-09-14 21:53] 0crat commented on #1178
Job was finished in 20 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-14 21:57] 0crat commented on #1178
The job [#1178](https://github.com/yegor256/cactoos/issues/1178) is now out of scope

[2019-09-14 21:58] 0crat commented on #1178
Order was finished: +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-15 22:07] 0pdd opened #1183 "IterableOf.java:93-95: Move this constructor in its own..."
The puzzle `947-0e04e40a` from #947 has to be resolved:

https://github.com/yegor256/cactoos/blob/b092754a6e18a39951e27733490be1961dadfeb0/src/main/java/org/cactoos/iterable/IterableOf.java#L93-L95

The puzzle was created by Victor Noël on 30-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2019-09-15 22:07] 0pdd opened #1184 "CollectionEnvelope.java:43-47: CollectionEnvelope should..."
The puzzle `947-361be9e4` from #947 has to be resolved:

https://github.com/yegor256/cactoos/blob/b092754a6e18a39951e27733490be1961dadfeb0/src/main/java/org/cactoos/collection/CollectionEnvelope.java#L43-L47

The puzzle was created by Victor Noël on 30-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\

[2019-09-15 22:07] 0pdd opened #1185 "ListEnvelope.java:41-45: ListEnvelope should only..."
The puzzle `947-4efcb5fb` from #947 has to be resolved:

https://github.com/yegor256/cactoos/blob/b092754a6e18a39951e27733490be1961dadfeb0/src/main/java/org/cactoos/list/ListEnvelope.java#L41-L45

The puzzle was created by Victor Noël on 30-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2019-09-15 22:08] 0pdd commented on #947
@wladyan 3 puzzles [#1183](https://github.com/yegor256/cactoos/issues/1183), [#1184](https://github.com/yegor256/cactoos/issues/1184), [#1185](https://github.com/yegor256/cactoos/issues/1185) are still not solved.

[2019-09-15 22:08] 0crat commented on #1183
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-15 22:09] 0crat commented on #1185
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-15 22:09] 0crat commented on #1184
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-15 22:13] 0crat commented on #1185
Job [#1185](https://github.com/yegor256/cactoos/issues/1185) is now in scope, role is `DEV`

[2019-09-15 22:13] 0crat commented on #1184
Job [#1184](https://github.com/yegor256/cactoos/issues/1184) is now in scope, role is `DEV`

[2019-09-15 22:16] 0crat commented on #1183
Job [#1183](https://github.com/yegor256/cactoos/issues/1183) is now in scope, role is `DEV`

[2019-09-16 04:33] aivinog1 commented on #1172
@paulodamaso as we can see [there](https://travis-ci.org/yegor256/cactoos/builds/585379348?utm_source=github_status&utm_medium=notification) for now build is passed.

I'm closing this.

[2019-09-16 04:33] #1172 closed

[2019-09-16 04:55] 0crat commented on #1172
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) all `QA`s are on vacation. Please handle that.

[2019-09-16 04:55] 0crat commented on #1172
The job [#1172](https://github.com/yegor256/cactoos/issues/1172) is now out of scope

[2019-09-16 06:51] victornoel commented on #947
@wladyan the job was done and merged in #1154, can you close this issue?

[2019-09-16 06:54] victornoel commented on #1152
@paulodamaso could you assert quality please?

[2019-09-16 07:05] iakunin commented on #1172
@paulodamaso, is it ok that I didn’t receive any reputation for this issue?

[2019-09-16 07:17] wladyan commented on #947
@victornoel I can close this, but puzzles #1184, #1185 are still not solved...

[2019-09-16 09:09] victornoel commented on #947
@wladyan in zerocracy, a job encompasses working on the ticket and writing other tickets and todos to finish the job if it wasn't possible in 30mn. While this is done, the job is done, and new tickets are created for the rest of the job.

What you can do as the reporter is to:
1. verify the work in the PR actually corresponds to what you wanted
2. verify that the todos created are in line with wha

[2019-09-16 09:13] wladyan commented on #947
@victornoel ok, thanks.

[2019-09-16 09:13] #947 closed

[2019-09-16 09:26] iakunin opened #1186 "Wrap local build in docker (for DEV)"
### Idea
I think it's a good idea to have an opportunity to run build (`mvn clean install -Pqulice`) inside docker-container. And than docker-container should be the same as in CI (`yegor256/java8`).

### Why?
I think, It's obvious enough: to reproduce the same canonical env as in CI and don't bother about `java` and `maven` versions installed on your host-OS.

### How to implement
I've already wr

[2019-09-16 09:26] 0crat commented on #1186
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-16 09:28] iakunin commented on #1186
@paulodamaso, what do you think? It's very helpful for me. Would it be helpful for all the developers?

[2019-09-16 09:32] 0crat commented on #947
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) all `QA`s are on vacation. Please handle that.

[2019-09-16 09:32] 0crat commented on #947
The job [#947](https://github.com/yegor256/cactoos/issues/947) is now out of scope

[2019-09-16 09:35] 0crat commented on #1182
The job [#1182](https://github.com/yegor256/cactoos/issues/1182) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/817fff09-25c2-451e-94f0-019a7b5542c2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-09-16 09:49] g4s8 commented on #1152
@0crat status

[2019-09-16 10:11] 0crat commented on #1152
@g4s8 This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1152](https://github.com/yegor256/cactoos/issues/1152) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C63314D6Z?q=%7Bjob%3A%27gh%3Ayegor256%2Fcactoos%231152%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted ar

[2019-09-16 10:33] iakunin commented on #1106
@0crat waiting for review https://github.com/yegor256/cactoos/pull/1187

[2019-09-16 10:35] 0crat commented on #1106
@iakunin The impediment for [#1106](https://github.com/yegor256/cactoos/issues/1106) was registered successfully by @iakunin[/z](https://www.0crat.com/u/iakunin)

[2019-09-16 11:21] iakunin commented on #898
@paulodamaso, as I understand, I should create a mutable version of `org.cactoos.collection.Synced`, but it's not clear for me, how should I do that properly from architectural point of view.

Could you give me couple of advises?

[2019-09-16 17:58] 0crat commented on #1185
The job [#1185](https://github.com/yegor256/cactoos/issues/1185) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/9bf1814e-d5b4-4115-aa33-6ca550c63eb6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-09-16 18:20] paulodamaso commented on #1172
@0crat quality good

[2019-09-16 18:31] paulodamaso commented on #1152
@0crat quality good

[2019-09-16 18:32] 0crat commented on #1152
@paulodamaso There is no quality review for [#1152](https://github.com/yegor256/cactoos/issues/1152), no performer

[2019-09-16 18:51] 0pdd commented on #1144
The puzzle `1086-77b05812` has disappeared from the source code, that's why I closed this issue.

[2019-09-16 18:51] #1144 closed

[2019-09-16 18:51] 0pdd commented on #1086
@0pdd the only puzzle [#1144](https://github.com/yegor256/cactoos/issues/1144) is solved here.

[2019-09-16 19:00] victornoel commented on #1152
@paulodamaso I then suppose it means you should directly use the pay command?

[2019-09-16 19:09] 0crat commented on #1144
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) all `QA`s are on vacation. Please handle that.

[2019-09-16 19:09] 0crat commented on #1144
The job [#1144](https://github.com/yegor256/cactoos/issues/1144) is now out of scope

[2019-09-17 12:50] victornoel commented on #1152
@paulodamaso I've opened an issue in farm about this situation: https://github.com/zerocracy/farm/issues/2155

[2019-09-17 18:14] iakunin commented on #898
@0crat, waiting for @paulodamaso response

[2019-09-17 18:14] 0crat commented on #898
Are you speaking to me or about me [here](https://github.com/yegor256/cactoos/issues/898#issuecomment-532338849); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-09-17 18:17] iakunin commented on #898
@0crat waiting for @paulodamaso response

[2019-09-17 18:21] 0crat commented on #898
@iakunin The impediment for [#898](https://github.com/yegor256/cactoos/issues/898) was registered successfully by @iakunin[/z](https://www.0crat.com/u/iakunin)

[2019-09-18 05:59] iakunin commented on #1172
@paulodamaso seems like it didn’t help

[2019-09-18 12:38] paulodamaso commented on #1172
@iakunin Please report it to https://github.com/zerocracy/farm repositoy

[2019-09-18 14:26] 0crat commented on #1183
The job [#1183](https://github.com/yegor256/cactoos/issues/1183) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C63314D6Z/f838d3ec-809d-4d1d-a34b-0aa50847ccff); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-09-18 15:02] 0crat commented on #1184
The job [#1184](https://github.com/yegor256/cactoos/issues/1184) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C63314D6Z/e80f337f-f6a8-4404-ab7f-7bb6cfb0c6c8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-09-18 15:03] 0crat commented on #1184
Job `gh:yegor256/cactoos#1184` already assigned to @marceloamadeu, can't assign to @marceloamadeu

[2019-09-18 15:45] fanifieiev opened #1188 "Sliced Iterator similar to Scala Iterator.slice method"
I could not find any implementation of sliced iterator, so I think it would be nice to have it in place.
Constructor:
`public Sliced(final int fromIndex, final Iterator<T> iterator, final int limit)`
An example is:
`Iterator<Integer> sliced = new Sliced<>(2, new IteratorOf<>(1,2,3,4,5,6), 2);`
that would return a slice of 2 elements starting from index 2, which will result in [3, 4].

PS: I have a

[2019-09-18 15:45] 0crat commented on #1188
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-18 15:45] 0crat commented on #1188
@fanifieiev[/z](https://www.0crat.com/u/fanifieiev) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-18 17:09] paulodamaso commented on #1188
@fanifieiev I'd like it, BUT:
We have some other similar behavior in cactoos project and I think that we can reuse the code between them:
`HeadOf`: gets the first N elements of the collection
`TailOf`: gets the last N elements of the collection
`Skipped`: skip N elements of the collection
`Partitioned`: slices the collection in parts of equal size N

If we look carefully we could compose these dec

[2019-09-18 17:36] paulodamaso commented on #1188
@0crat in

[2019-09-18 17:36] paulodamaso commented on #1188
@0crat assign @fanifieiev

[2019-09-18 17:44] 0crat commented on #1188
@paulodamaso Job [#1188](https://github.com/yegor256/cactoos/issues/1188) is already in scope

[2019-09-18 17:49] 0crat commented on #1188
@paulodamaso Thanks for your contribution, @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)! If you would be a member of [the project](https://www.0crat.com/p/C63314D6Z), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-09-18 17:51] 0crat commented on #1188
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-18 17:51] 0crat commented on #1188
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-18 21:24] fabriciofx commented on #898
@paulodamaso @scristalli @victornoel @iakunin @llorllale @vzurauskas @skapral I don't like the idea of mutable collections or even mutable classes in Cactoos. To me, it's thw wrong approach to this problem. My suggestion is to implement a [Persistent Data Structure](https://en.wikipedia.org/wiki/Persistent_data_structure) (there's a nice discussion about it [here](https://github.com/Kotlin/kotlinx

[2019-09-19 04:14] fabriciofx commented on #1188
@fanifieiev @paulodamaso II'm sorry, bu I didn't like this API. WDYT something like:
[code]

[2019-09-19 04:42] fanifieiev commented on #1188
@fabriciofx Is your concern related to the constructor parameter names?

[2019-09-19 05:31] fanifieiev commented on #1188
@0crat review

[2019-09-19 07:48] vzurauskas commented on #898
@fabriciofx As far as I can tell, the [latest decision](https://github.com/yegor256/cactoos/issues/947#issuecomment-507053690) was for envelopes to delegate everything to the enveloped collection. If the collection is mutable, then the envelope is mutable; if the collection is immutable, then the envelope is immutable. For situations when client explicitly needs immutable collections, immutable de

[2019-09-19 09:08] victornoel commented on #898
@vzurauskas

This is not how persistent data structures work.

@fabriciofx That being said, maybe PDS is a good thing to implement, but it's another domain completely. Both needs exist (PDS or mutable collections) and they solve different problems. When doing OO, I personally see no problem with using mutable collections, except if it's used to implement DTO.

@paulodamaso Also another thing to ta

[2019-09-19 09:20] vzurauskas commented on #898
@victornoel Oh, right, my mistake.

[2019-09-19 12:21] paulodamaso commented on #1188
@fabriciofx What's the problem about that?

[2019-09-19 12:28] fanifieiev commented on #1188
@paulodamaso I have already refactored the api, the changes are in there, in PR

[2019-09-19 12:55] paulodamaso commented on #898
@fabriciofx @vzurauskas @victornoel @iakunin Here are my considerations about this ticket:
1. `cactoos` is, by definition, against the use of mutability (https://www.elegantobjects.org/#principles). So we shouldn't use mutable classes if we want to follow EO principles outlined in this link.
2. Following the extensive discussion in #898, #947 and #1008, the idea of providing the immutability by th

[2019-09-19 13:01] victornoel commented on #898
@paulodamaso this is one thing to have mutability in a class and have the "real world" state that an object represent to be mutable.

So a decorator for collections does not have to enforce immutability on the decorated collection, it should only prevent mutability of the reference to the decorated collection.

IMHO:
1. we shouldn't enforce immutability of decorated collection blindly: a decorator

[2019-09-19 13:37] fabriciofx commented on #1188
@paulodamaso It didn't follow the Cactoos API pattern and IMHO it's more clear now. Ah, in time: I'm not the `REV` of this PR...

[2019-09-19 15:28] 0crat commented on #1188
@fanifieiev Can't understand "review", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from th

[2019-09-19 19:42] fabriciofx commented on #898
@vzurauskas As @victornoel said, PDS are a completely different approach. It's made to perform immutable data sets properly.

@victornoel I see completly different. The immutable objects (mainly collections) is the heart of the problem because with mutable objects (or mutable collections) I can't share them properly. If I can shared, I've to copy them or I'll get problems with threads. I consider

[2019-09-19 19:45] fabriciofx commented on #1188
@0crat status

[2019-09-19 19:48] 0crat commented on #1188
@fabriciofx This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1188](https://github.com/yegor256/cactoos/issues/1188) is [in scope](http://www.zerocracy.com/policy.html#14) for 1days
  * The role is `DEV`
  * The job is assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev) for [1days](

[2019-09-19 21:19] fanifieiev commented on #1188
@0crat status

[2019-09-19 21:19] 0crat commented on #1188
@fanifieiev This is what I know about this job in [C63314D6Z](https://www.0crat.com/p/C63314D6Z), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1188](https://github.com/yegor256/cactoos/issues/1188) is [in scope](http://www.zerocracy.com/policy.html#14) for 1days
  * The role is `DEV`
  * The job is assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev) for [1days](

[2019-09-19 21:23] fanifieiev commented on #1188
@paulodamaso
Why am I banned?
The Contribution section of the page [Cactoos](https://github.com/yegor256/cactoos) says:

Just fork the repo and send us a pull request.
Make sure your branch builds without any warnings/issues:

[2019-09-20 01:39] paulodamaso commented on #1188
@fanifieiev You're banned from DEV role in the issue because you have opened it. Zerocrat does not assign issues to its creators. Your changes are being evaluated by @victornoel in #1189

[2019-09-20 01:43] fanifieiev commented on #1188
@paulodamaso
Ok, got it, I created the issue, but the assignment was done on behalf of you, right?
So, what is the proper way to join DEV ?
Thanks

[2019-09-20 02:05] paulodamaso commented on #1188
@fanifieiev You need to join zerocracy in order to get reputation points and to be paid for jobs that have monetary rewards. Please read the [policy](http://www.zerocracy.com/policy.html)

[2019-09-20 10:39] iakunin commented on #1172
@paulodamaso I've done it: https://github.com/zerocracy/farm/issues/2157

[2019-09-20 12:55] paulodamaso commented on #1172
@iakunin Great, let's see what they do about this

[2019-09-20 14:44] skapral commented on #898
@fabriciofx I'll just answer that I am neutral to this. Generally, I have no certain favourite between mutable or persistent collections, both have a right to live.

[2019-09-21 16:09] victornoel commented on #1182
@0crat waiting for llorllale/cactoos-matchers#132 to be solved first

[2019-09-21 16:10] 0crat commented on #1182
@victornoel The impediment for [#1182](https://github.com/yegor256/cactoos/issues/1182) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-09-21 16:13] victornoel commented on #1185
@0crat wait for #1184 to be fixed first as it is the superclass of `ListEnvelope`

[2019-09-21 16:14] 0crat commented on #1185
@victornoel The impediment for [#1185](https://github.com/yegor256/cactoos/issues/1185) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-09-22 05:21] fanifieiev opened #1190 "Create IteratorEnvelope iterator"
It was suggested by @victornoel that there is new class `IteratorEnvelope` as stated here
https://github.com/yegor256/cactoos/pull/1189#discussion_r326864052

[2019-09-22 05:21] 0crat commented on #1190
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-22 05:21] 0crat commented on #1190
@fanifieiev[/z](https://www.0crat.com/u/fanifieiev) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C63314D6Z) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-22 15:12] iakunin commented on #1172
@paulodamaso they fixed it: https://github.com/zerocracy/farm/issues/2155

Let's try one more time to obtain my reputation points :)

[2019-09-22 16:49] victornoel commented on #1166
@paulodamaso I think this should be put manually in scope because of a ([known](https://github.com/zerocracy/farm/issues/2119)) 0crat bug

[2019-09-22 16:51] victornoel commented on #1137
@scrobot I didn't know this was fixed, you should have told, I would have closed this sooner

[2019-09-22 16:51] #1137 closed

[2019-09-22 17:13] 0crat commented on #1137
The job [#1137](https://github.com/yegor256/cactoos/issues/1137) is now out of scope

[2019-09-22 17:15] 0crat commented on #1137
Order was finished: +30 point(s) just awarded to @scrobot[/z](https://www.0crat.com/u/scrobot)

[2019-09-23 08:50] iakunin commented on #1186
@paulodamaso, sorry for being impatient, what do you think about this issue?

[2019-09-23 09:36] iakunin commented on #1147
@paulodamaso I can try to fix this issue instead of the original author

[2019-09-23 15:05] paulodamaso commented on #1172
@0crat quality good

[2019-09-23 15:06] paulodamaso commented on #1166
@0crat in

[2019-09-23 15:08] paulodamaso commented on #1186
@iakunin Okay, let's add this configuration and how to run it using a docker container as an alternative in readme

[2019-09-23 15:08] paulodamaso commented on #1186
@0crat in

[2019-09-23 15:09] 0crat commented on #1172
@paulodamaso There is no quality review for [#1172](https://github.com/yegor256/cactoos/issues/1172), no performer

[2019-09-23 15:09] 0crat commented on #1186
@paulodamaso Job [#1186](https://github.com/yegor256/cactoos/issues/1186) is now in scope, role is `DEV`

[2019-09-23 15:10] 0crat commented on #1166
@paulodamaso Job [#1166](https://github.com/yegor256/cactoos/issues/1166) is now in scope, role is `DEV`

[2019-09-23 15:17] 0crat commented on #1186
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @iakunin[/z](https://www.0crat.com/u/iakunin)

[2019-09-23 15:18] 0crat commented on #1186
The job [#1186](https://github.com/yegor256/cactoos/issues/1186) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/da54a419-2000-4bba-8078-17d9ea54878c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-09-23 15:26] 0crat commented on #1166
The job [#1166](https://github.com/yegor256/cactoos/issues/1166) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C63314D6Z/4dc2a3d0-0b3d-4843-8923-654cc6be071a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-09-23 21:07] iakunin commented on #898
@paulodamaso so what’s your final decision? What should I do in this issue?

[2019-09-23 21:34] paulodamaso commented on #898
@yegor256 Ping, I still want your opinion on https://github.com/yegor256/cactoos/issues/898#issuecomment-533117749 question, please